@import 'normalize'
@import 'foundation'
@import 'syntax'

$max_width: 940px

$main_red: #FD3838
$brit_red: #E04613

$main_blue: #336699

.dn
  display: none
.clear, .out
  clear: both
.tac
  text-align: center
.taj
  text-align: justify
.bold
  font-weight: 600

.content, .wrapper
  max-width: $max_width
  margin: 24px auto
.container.row
  padding-left: 1em

a, .color-red, #sitename a:hover
  color: $main_red

#container
  width: 100%

#center
  .content
    .inn
      padding: 11px

#featured
  width: 894px

#content
  min-height: 400px

#sidebar-right
  min-height: 400px
  float: right
  /*border: blue 1px solid

#footer
  border-top: 2px solid $main_red
  margin: 2em auto 2em
  padding-top: 1em
  padding-bottom: 1em

#topmenu
  border-bottom: 2px solid $main_red
  nav
    li
      text-align: center
      a
        padding-left: 30px
        padding-right: 30px
      ul li
        text-align: left

article
  margin-bottom: 1.5em
  clear: both
  header
    time
      font-size: 100%
      font-variant: italic
      display: inline-block
      width: 112px
    a
      color: $main_red
      text-decoration: none
      &:hover
        text-decoration: underline
    h2
      font-size: 1.75rem
    margin-bottom: 0.5em
  p
    margin-bottom: 0.5em
    text-align: justify
    a
      color: $main_red
      text-decoration: underline
      &:hover
        text-decoration: none
  footer
    clear: both

.list-articles
  list-style: none
  time
    display: inline-block
    min-width: 12ex
  h1
    font-size: rem-calc(20)


.book-navigation .page-links, .paginate
  width: 100%
  padding: 0
  margin-top: 0em
  a, div
    display: inline-block
    text-align: center
    text-decoration: none
  .page-previous, .page-next
    width: 32%
  .page-up, .page-number
    width: 32%

ul.links
  li a
    display: block

ul#webz
  li
    display: inline-block
    list-style: none
    a
      padding: 7px

#microblog
  h3
    font-size: 16px
    margin: 0
  p
    font-size: 14px
    color: #656565
    margin: 0 0 1ex 0
  time
    font-size: 12px
