---
title: BIBLIOGRAFIE
date: 2010-01-27 08:37
layout: book
comments: false

---

      <p>Brugsch Heinrich: <em>Religion und Mythologie der alten Aegypter</em> - Leipzig 1891<br>
Dillmann A.: <em>Das Buch Henoch</em> - Leipzig 1853<br>
Eliáš Dr. Oldřich: <em>Magie a demonologie ve Staré Babylonii</em> - Praha 1923<br>
Glauber: <em>Miraculum mundi de mercurio philosophorum</em> - Amstel 1653<br>
Lasenic Pierre : <em>Egyptské hieroglyfy</em> - Praha 1935<br>
Laurence: <em>Libri Enoch versio Aethiopica</em> - Oxford 1838<br>
Lévi Eliphas: <em>Dějiny magie</em> - Praha 1935<br>
Maspero G.: <em>Les Inscriptions des Pyramides de Saqqarah</em> - Paris 1894<br>
Maspero G: <em>Archéologie égyptienne</em> - Paris 1887<br>
Tiedemann Dietrich: <em>Hermes Trismegists Poemander</em> - Berlin 1781<br>
Vollmer B.: <em>Mythologie aller Völker</em> - Stuttgart 1859<br>
Wilkinson J. G.: <em>A popular account of the ancient Egyptians</em> - London 1855<br>
Zöckler Otto:<em> Die Apokryphen des Alten Testaments</em> - München 1891 </p>
<p>Autorové arabští:<br>
El Makrizi (1420)<br>
Abul Mahasin (1435)<br>
Abdellatif (1200)</p>
<p>a v textu uvedená.</p>
  <div id="book-navigation-71" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/hermes-trismegistos-jeho-zasveceni/hermes-trismegistos" class="page-previous" title="Přejít na předchozí stranu">‹ HERMES TRISMEGISTOS</a>
                    <a href="/knihy/hermes-trismegistos-jeho-zasveceni" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                </div>
    
  </div>
    