---
title: DÍL DRUHÝ
date: 2010-01-27 07:16
layout: book
comments: false

---

      <h2>Hermetická filosofie</h2>
<p>  Učení tří zmíněných Hermů jakožto celek nazýváme hermetismem, nebo filosofií hermetickou. Analogicky podle tří proroků, kteří ji hlásali, dala by se tato děliti na tři samostatné oddíly vzájemně se doplňující.<br>
    Filosofie Herma prvního, Ezhovteje nebo Thovta, rýsuje geniální plán celého díla, počíná genesí, stanoví základní zákony dění a tvoří ideu isiasmu, do níž vloženy jsou estetické a morální prvky takové hloubky, že až dosud všechna nově vzniklá náboženstva z nich čerpala, aniž by je dovedla plně zhodnotiti.<br>
    Druhý Hermes — Henoch — zpracovává dílo svého předchůdce na sféře sociální a rozvíjí Thovtem v bohu Horovi personifikovaný přechod příčiny do účinku v alegorických legendách do pozoruhodných detailů.<br>
    Hermes Trismegistos, “druhý Uriai” Arabů kodifikuje pak díla svých předchůdců a aplikuje jejich závratné ideje na člověka i všechno fysické bytí.<br>
    Tři králové biblické legendy přinesli novorozenému mesiáši tři symbolické dary: Kadidlo, myrrhu a zlato. První jest zdroj vůně bohů, symbol Thovtův, jenž obrátil lidské zraky k nebesům a dal člověku učení o Tvůrci všehomíra; myrrha, droga smrti, mast, jíž balsamovali staří své mrtvé před branou neznámého světa, připomíná Henocha, pro něhož smrt jest zrozením a zrození smrtí, Zlato — Hermes Trismegistos — synthésa tří jest pak alegorií koruny vědoucího člověka — maga, jenž promítl svoje vědění do zemského bytí.<br>
    Přímý, písemný materiál ke studiu hermetické filosofie nezachoval se do naší doby od žádného z jejích autorů.<br>
    Učení Herma prvního, Thovta, dá se poměrně nejsnadněji zrekonstruovati z esoterismu staroegyptského, neboť Ezhovtej pokládán byl za tvůrce veškerého náboženského i vědeckého esoterismu této země.<br>
    Filosofie Henochova — druhého Herma — skrytá v alegorických legendách, zredigována byla ve druhém století před Kristem a zdá se býti původní až na některé apokryfické vložky.<br>
    Hermes třetí, jemuž tradice připisuje sepsání celé řady děl, jest nejnepřístupnější, a ze spousty podvržených, jeho jménu později vydaných spisů možno uznati za dokazatelně pravdivé pouze několik vědeckých aforismů, jež ale jsou skutečnou kvintesencí rozsáhlého vědění.</p>
<h3>Thovt</h3>
<p>Nesahá-li existence prvního Herma až do doby atlantské, jest vznik jeho učení prastarý a počíná ještě v dobách, jež ještě do nedávna naše věda nepočítala za historické.<br>
    Již nejstarší hieroglyfické nápisy mluví o knize Thovtově, jejímž obsahem by bylo prý možno očarovati nebe i zemi, rozuměti řeči a myšlenkám všeho živého,<br>
“viděti Rea zářícího na nebi s jeho desaterem bohů i lesknoucí se měsíc a třpytivé hvězdy v jejich pravé podobě,”<br>
a mrtvé křísiti, jak učinil i Neferkeptah zmíněný v demotické legendě o Chamusovi. Kniha mrtvých, zvláště pak kapitoly 68 a 94 odvolávají se ve svých obřadných formulích přímo na knihu Thovtovu jako na nejposvátnější a nejcennější majetek praotců a bohů, relikvii ceny a působivosti tak nedozírné, že těžko bychom dnes našli analogického porovnání v jiných náboženských systémech.<br>
    Nejdůležitějšími, nám známými hodnotami esoterní filosofie Thovtovy jest osm základních theoremat, jež ke konci této knihy budeme podrobněji definovati:</p>
<ol>
<li>Neosobní bůh.</li>
<li>Kosmologická genese.</li>
<li>Evoluční zákon polarisace.</li>
<li>Zákon o síle slova a představy.</li>
<li>Zákon lásky.</li>
<li>Zákon oběti.</li>
<li>Zákon analogií.</li>
<li>Zákon periodicity.</li>
</ol>
<p>Egyptská genese spočívá na Thovtově sefirotickém dělení podle čísla devět. Devíti etapami prochází emanace božské Prapříčiny, než dojde ke stvoření člověka.<br>
    Těchto devět základních etap personifikuje Thovt devíti bohy — tak zvaným božským devaterem. Devítka, podle ternárního klíče, symbol vědění, číselná hodnota hebrejského písmene teth, to jest Toth, a posvátného jména Tehor, není číslem náhodně zvoleným: nejenom pozdější esoterismus řecký (devět mus, devět archontů) a křesťanský (devítinásobné zjevení Ježíšovo po jeho smrti), ale i staré legendy mexické, chronologicky Starému Egyptu ne příliš vzdálené, potvrzují universální význam této hodnoty analogickým případem: Podle staroaztécké legendy král acolhuacanský Nezahualiojotl postavil na vrcholu devítistupňové pyramidy chrám bez obrazu, jejž zasvětil bezejmennému bohu Tloque Nahnaque, čili “Ten, jenž není a jest všechno v sobě...” Svým synům poručil pak král, aby uctívali jedině tuto neosobní bytost, “místo bohů lidské podoby, jež stvořila potřeba omezeného lidu...”<br>
    Na rozdíl od geocentrických genesí, jako jest starotibetská, aztécká a jiné, genese Thovtova je konstruována kosmologicky.<br>
    Jak první předpoklad staví egyptský esoterismus neosobní, nepředstavitelnou bytost, stojící mimo prostor, čas a hmotu a nazývá ji Nun, Pravodstvo, představově identické indické Nirváně.<br>
    Z tohoto Pravodstva vynořil se první bůh — Atum — Zánik, bytost potrojná a hermafroditická.<br>
    Atum, oplodniv sama sebe, zapříčinil první předpoklad nám chápatelného bytí a života, Prostor Tefnut a plynnou látku — éther — Šov.<br>
    Éther, plyn, oplodněný prostorem, jenž jej definoval, srazil se pak v kompaktní hmotu, kterou Šov rozdělil na nebeská tělesa — Nut a zemi — Geb. Fysicky vyjádřeno, prahmota, letící prostorem roztříštila se výbuchem plynu, jejž obsahovala na řadu menších těles — planet a tím vznikl život takový, jak jest až dodnes: Z hermafrodita staly se dva plodivé prvky, vzájemně se přitahující: kladný, mužský a záporný, ženský.<br>
    Země, spojivši se se zápornou planetou, přijala od ní své plody: z hvězdného prostoru sestoupila na zemi příroda, Eset a Nebthet, život — Usire v a smrt — Sutech. Příroda, analogicky jako kladný život a kladná smrt jest podvojná ve své zápornosti: Genetická (Eset) a receptivní (Nebthet).<br>
    Tak jako život živí se smrtí, udržuje se i příroda věčným cyklem nebo cirkulací tím způsobem, že přijímá stále zpět to, co byla na druhé straně jednou vydala.<br>
    Fysický život individua zaniká smrtí a zanikl by snad zcela, kdyby nebylo přírody v užším slova smyslu. (Ducha přírody.) Ale příroda dovede křísiti i tam, kde smrt nastoupila dokonale svoji vládu. Thovtova legenda jasně vystihuje tento zákon, sdělujíc jej zasvěcencům ve formě pozoruhodné alegorie:<br>
    “Usirev - život byl zavražděn a roztrhán Sutechem - smrtí. Ale příroda - Eset shledala všechny části jeho těla, dala je spojiti, snesla se na ně v podobě nevinné holubice a počala a porodila Hora.”<br>
    A tak vznikla koruna zemského stvoření, obraz božské trojice, Cheprer-Re-Atum, Hor, člověk jako idea. I on často bývá porovnáván se sluncem, jako jeho bůh — a zcela po právu: má svoje východy zrození, má poledne životů a má i západy smrtí...<br>
    Jeho otcem byl mrtvý bůh, ale jeho matkou nesmrtelná, věčná příroda, zářící Isis...<br>
    Zanikla by příroda, kdyby vymizel život? “Nikoliv!” odpovídá nám veliký Thovt přes oceány dnů: “Příroda snoubí se se životem a smrtí, ale ona jest více než život, více než smrt a více než vy všichni, bláhoví, kteříž z jejích rukou nevědomky přijímáte dary této země...”<br>
    Co jest tedy příroda?<br>
    Příroda jest nehmotná a nepostižitelná Věčnost, Příroda jest Mateřství a Příroda jest Láska.</p>
<p>Citovaná kosmologická genese, definovaná devaterem, stanoví v základě pojem neosobního boha, kosmického dění, zákon polarisace, Bytí a Nebytí. Devět zbožněných jevů, jimiž božský Thovt dává lidstvu nahlédnouti do úrovně příčin, a jež možno vykládati z celé řady jiných hledisek, nazývá egyptský esoterismus Malým devaterem, na rozdíl od devatera, zvaného velké, jež jest již prodloužením předchozí sféry na Hora jako ideu a Hora jako bytí lidského. Horem počíná historie člověka, který se obětuje jako zářící symbol inkarnované lásky božské Isidy, obraz, jejž naše doba personifikuje Marií ve svém nejvyšším, nejčistším a nejvznešenějším poslání milující matky.<br>
    Legenda o Isidě skrývá v sobě trojité arkanum lásky, revokované křesťanským mesiášem: Láska, jež plodí, láska, jež udržuje a láska, která křísí. Mythus Horův ukazuje pak člověku cestu k boholidství — ideálu, který stojí vysoko na Golgotě oběti; bojem zneplodňuje zlo — Sutecha, čímž fixuje zemské dění a zemskou tvorbu ve vrcholném ohnisku tvorstva této planety — člověku. Obětí kupuje Hor svou existenci a křísí otce, jenž ho zplodil. A ten, jenž jest jeho otcem, jest teprve bohem naším — jediným, jejž můžeme dokonale chápati, jest podmínka i našeho bytí a Bytím námi podmíněným ve věčnosti, personifikovaným ideálem srdce a rozumu, života a nesmrtelnosti.<br>
    Nejtěžším, a pro každý esoterismus nejnesnadněji definovatelným problémem jest tajemství Nebytí, jedenáctý plán z celkových dvanácti, jimiž možno definovati morálku toho kterého náboženství. Kultura semitská i arijská vynechává prostě dva poslední body jako nedosažitelné, spokojujíc se pouze soustavou dekalogickou, t. zv. desaterem.<br>
    Thovt nevyhýbá se však této otázce a odpovídá na ni personifikací Sutecha, tak přesně, jako snad dosud žádný z velikých zasvěcenců; egyptské jméno “nuk pu nuk” – “jsem, kterýž jsem”, jež opakuje bůh Israele Mojžíšovi u hořícího keře, jest definice Usireva, boha kladu a boha života. Ale existuje i cesta druhá, Cesta Nebytí, cesta, kterou zneplodnil Hor. A touto cestou jest Thovtův Sutech. Není zlem ve smyslu abstraktním — jest záporem života, jejž my lidé, podmínění kladem, musíme za zlo pokládati.<br>
    “Jsem Sutech, Nebytí mezi bohy,”<br>
praví osmá kapitola knihy mrtvých; a tamtéž praví Usirev svému mstícímu se synu:<br>
    “Zastav Hore! Sutech připočten je k bohům!”<br>
    Jak vznešený, čistý a pravdivý jest tento názor vedle fanatické demonomanie středověkého kleru!...<br>
    Pro toho, kdo dovede chápat filosofie prvního Herma, jest nevyčerpatelnou studnicí možností a skrývá v sobě řešení téměř všech esoterních problémů dob pozdějších. K jejímu podrobnému rozboru nestačí lidský život; nelze psáti o moři písku tak, aby každé jeho zrnko — drahokam — mohlo býti posuzováno zvláště.<br>
    Nejhlubší a nejobsažnější z filosofických nauk obsahuji v sobě vždy odpovědi i na otázky nejméně předvídané, byť i by tyto filosofie nebyly stvořeny k jejich zodpovídání.<br>
    Kodifikovaný text Egyptské knihy mrtvých obsahuje více než čtyři sta jmen bohů. A přesto zůstává egyptské náboženství přísně monotheistickým, a každá z těchto představ ukazuje na střed obrovské kruhovité oblasti, jejíž obvod skládá. Střed pak jest jediným skutečným bohem, jejž možno chápati a vzývati v tolika představách. Jest velmi pravděpodobné, že uvedená číslice nevyčerpává skutečný počet antropomorfických bytostí, jež my nazýváme egyptskými bohy; jsme však přesvědčeni, že množství ideových aspektů, jež toto číslo může zploditi v oboru esoterní filosofie, přesahuje daleko vše, co si můžeme představiti a obsahuje v sobě prvky všech filosoficko-náboženských směrů pozdějších, až po doby naše. Základy učení platonského, gnostického, kabbalistického, budhistického a křesťanského a mnohých jiných, dají se zcela přesně identifikovati na jednotlivých bodech tohoto zázračného “bohokruhu”, a genetická i mesiášská legenda naši víry jest předurčena již pouhým Thovtovým devaterem, jehož legendy tři tisíce let před Svatým Janem tradovaly již tehdy starou nauku o “Slově, jež tvoří”, vypravujíce o Reovi, jehož každé slovo realisuje neprodleně svou představu na zemi a stává se inkarnovaným bytím.<br>
    Přešla doba slávy Starého Egypta, zmizely květy ze zahrad chrámových, a tam kde stávaly kdysi hrdé paláce, bázlivý šakal vyje za noci svou píseň pohřební... </p>
<p>    Ale Slovo zůstalo.<br>
    Slovo Thovtovo, projev boží, Slovo, jež jest Cestou, Slovo vědění.<br>
    Jeho silou Egypt v ruinách zakletý, stává se otevřenou knihou tomu, kdo dovede je chápati.<br>
    Dále mluví k lidu mlčící sfinx, jež noří se do písku na pokraji pouště smrti, očekávajíc úsvity Nového Rána.<br>
    A když uprostřed egyptských nocí vítr se na poušti utiší, když šakalové zmlknou a vzduch se rozechvěje ve svitu měsíčním, tu proniká do srdce člověka tichý šepot věků, šepot beze slov — modlitba, kterou před věky synové Khemi personifikovali svého Otce Vědění:</p>
<blockquote><p>
    “Jsem, který jsem; jsem čas v Čase, v němž jest to, co Jeho jest, jsem jeden v Jednom.”<br>
    “Můj jest včerejšek a Věky Vidoucí jest moje jméno.”<br>
    “Jsem Pramenem v pustinách života:”<br>
    “Zapečetěn jsem pro toho, jenž mluví, a mlčícím otevírám brány svojí moudrosti.”<br>
    “Jsem Thovt, Vědění a Život, a Světlo jsem, jež svítí v pustinách...”
</p></blockquote>
<h3>Henoch</h3>
<p>Filosofie druhého Herma zachovala se nám v Knize Henochově, zredigované pravděpodobně v posledním století před Kristem z prastarých pramenů. Původní text byl asi aramejský, odtud bylo pak dílo přeloženo do ethiopštiny. Roku 1773 objevil tuto knihu Bruce v Habeši a převezl ji do Anglie. Texty přeloženy byly po prvé roku 1838 Laurencem pod titulem “Libri Enoch versio Aethiopica”, načež následovala celá řada překladů do všech kulturních jazyků.*)<br>
    Celé dílo složeno jest ze 108 kapitol, z nichž moderní kritika považuje kapitoly 1 až 36 a 72 až 105 za původní, ostatní pak za apokryf pozdějšího původu. Vzhledem k tomu, že exoterním obsahem odchyluje se kniha Henochova od základních biblických textů, nebyla pojata do sbírky uznaných kanonických knih a prohlášena za apokryf.<br>
    Styl tohoto díla jest těžký, hutný, formy apokalyptické, připomínající nápadně novozákonní text zjevení svatého Jana. Rozsáhlé opisy a líčení nabitá hlubokým symbolismem poutají svou neobvyklou vazbou plán esoterní s vnějším tak mistrně, že zcela po právu nazývá německý profesor Kautsch Henocha starozákonním Dantem.<br>
    Henoch, jako všichni Hermové, uctíval neosobního, nepředstavitelného a nedefinovatelného boha, jehož jmenování vyhýbal se širokým opisem. Odtud vznikl nový, moderním badatelem Max Müllerem zavedený výraz “henotheismus”, na rozdíl od monotheismu — jednobožství, jež omylem bývá pokládáno za znak pokročilejšího náboženství, kde představa boha váže se již na určitý pojem, definici, po případě i obraz.<br>
    Exoterním obsahem dělí se kniha Henochova na dvacet dílů, z nichž první zahrnuje v sobě kapitolu 1–5, druhý 6–11, třetí 12–16, čtvrtý 17–21, pátý 22–36, šestý kapitolu 37, sedmý 38–44, osmý 45–57, devátý 58–59, desátý 60–64, jedenáctý 65–69, dvanáctý 70–71, třináctý 72, čtrnáctý 73–75, patnáctý 76–82, šestnáctý 83–84. sedmnáctý 85–90, osmnáctý 91, devatenáctý 92 až 105 a dvacátý díl kapitolu 106 až 108.<br>
    První díl knihy Henochovy jest jakýmsi úvodem, v němž Henoch mluví o svém vidění, ve kterém jsou odhaleny osudy budoucího lidstva.<br>
    Ve druhém díle popisován jest pád andělů, kteří smísivše se s dcerami lidskými, zplodili s nimi nestvůrné obry, naučili lidi skrytému umění a tím zavinili i vznik bezbožnictví, pýchy a poklesku mravů na zemi. Na stížnost čtyř spravedlivých andělů rozhodne se bůh zahubiti svůdce a dá čtyřem zmíněným duchům různé úkoly, jimiž má býti rozsudek vykonán.<br>
    Díl třetí: V nebi dlící Henoch, “Písař Spravedlnosti”, jest poslán Pánem na zem, aby sdělil provinilcům rozsudek. Tito prosí nejvyšší Sílu o milost, ale jsou odmítnuti a bůh poučuje Henocha ve vidění, že jedině přímluva svůdců za svedené mohla by míti účinku, nikoliv však přímluva svedených za svůdce. Krátce a na věky potrestáni jsou padlí andělé a z obrů lidmi zplozených stávají se zlí duchové, bloudící po zemi až do příštího soudu.<br>
    Ve dvou dalších dílech líčí se cesty Henochovy, jenž veden nejvyššími duchy, odkrývá tajemství přírody, vesmíru, dobra a zla.<br>
    Šestý díl jest předmluvou ke třem následujícím obrazným líčením, obsaženým v díle sedmém až dvanáctém:<br>
    Obraz první: (kap. 38–44): Henoch prochází světy spravedlivých a vidi nekonečné davy bytostí před tváří boží. Poznává síly Páně, personifikované čtveřicí andělů a poznává sílu slova a jména na něž slyší všechny planety i živly.<br>
    Obraz druhý (kap. 45–57) jest mesiášským proroctvím a předpovědí vyvoleného Syna Člověka; líčí osud těch, kteří zapírají jméno Pána a Duchů.<br>
    Obraz třetí (58–71) popisuje účinek posledního soudu a tajemství hromu a ohně božího.<br>
    Díl třináctý, čtrnáctý a patnáctý obsahuje pojednání astronomická a nauku o oběhu nebeských těles, Henochovi sdělenou andělem Urielem. Kapitola šedesátá druhá, verš prvý, cituje titul tohoto díla slovy:<br>
    “Kniha o oběhu světel nebeských a jejich stavu podle tříd, podle jejich vlády a jejich času, jejich jmen a původu a jejich měsíců.”<br>
    V díle šestnáctém, sedmnáctém a osmnáctém obsažena jsou dvě vidění Henochova z doby před jeho putováním. Psána jsou ve formě řeči přímé, v níž Henoch mluví ke svému synu Methúšalachovi, a v díle osmnáctém celému svému potomstvu, aby je varoval před budoucími událostmi.<br>
    Díl devatenáctý a dvacátý (92–108) obsahuje:</p>
<ol style="list-style-type:lower-alpha;">
<li>pojednání o deseti světových “týdnech” nebo obdobích,</li>
<li>varování a hrozby Henochovy,</li>
<li>dva dodatky, z nichž první vztahuje se na praotce Noe a potopu, a druhý jedná o věčném trestě a odměně.</li>
</ol>
<p>  V prvním díle této knihy jsme poznamenali, že filosofie Henochova aplikuje hermetické zákony na sféru sociální. Podle esoterního významu čísel 3, 4, 7, 8, 14 a 21, mohli bychom definovati osu sociálního hermetismu třemi základními a třemi vedlejšími pojmy: Zákon, Pravda a Plození — Osud, Vědění a Odměna.<br>
    Trojice první, základní, mohla by býti nazvána příčinnou, druhá výslednou; v obou skryto jest pak tajemství morální zodpovědnosti.<br>
    Přesto, že exoterní tvář Henochovy knihy sestavena jest z pestré mosaiky antropomorfických obrazů a personifikací, a Henoch mluví s anděly, živly a dokonce i s bohem samotným, přivádí toto dílo svou esoterní náplní toho, kdo jej dovedl dokonale po této stránce pochopiti, k pólu zcela opačnému — jímž jest bezděčný, ukázněný a zákonitý automatismus osudovosti. Jelikož podle hermetické, v užším slova smyslu Henochovy filosofie zodpovědnost každého bytí jest přímo úměrná jeho vědění, objevuje se v Henochově knize legenda o prvním hříchu ve světle mnohem jasnějším a v rouše zcela odlišném od běžného typu biblického: vědění zbavuje první lidi, poznavší rozdíl mezi dobrým a zlým, rajské blaženosti, neboť vyvolává automaticky protiklad — zodpovědnost a zvětšuje pokušení ztížením životních problémů:<br>
    “Toto jest Strom Vědění,”<br>
vysvětluje Henochovi Rufael,<br>
“z něhož tvoji prarodičové pojedli a tak dospěli k moudrosti a jejich oči byly otevřeny a poznali, že jsou nazí a byli ze zahrady vyhnáni...”<br>
(K. H., díl V., kap. 32, v.6.)<br>
    Prokletí zodpovědnosti, jež nese s sebou vědění, skryto jest též v symbolickém líčení, obsaženém ve druhém a třetím díle knihy Henochovy, pojednávajícím o pádu andělů:<br>
VI.</p>
<ol>
<li>“Když se synové lidští rozmnožili, rodily se jim za těch dnů krásné a milostné dcery.” </li>
<li>Když pak je spatřili andělé, synové nebes, zatoužili po nich a pravili mezi sebou: “Nuže, vyvolme si ženy mezi dcerami lidskými, a zploďme si děti.” </li>
<li>“Jejich pán, Semjâzâ jim však řekl: ‚Bojím se, že nebudete míti odvahy, tento čin vykonati, a pouze já budu zodpovědný za váš pád!‘” </li>
<li>“Tu odpověděli mu všichni, řkouce: ‚Chceme všichni přisahati, že se tohoto úmyslu nevzdáme a všichni uskutečníme svůj záměr;‘” </li>
<li>“Tu všichni se zapřisáhli a zavázali navzájem zaklínáním. Bylo jich celkem dvě stě,” </li>
<li>“kteří za dnů Jaredových sestoupili na vrchol Hermonu. Nazvali toto pohoří Hermon, protože se na něm zapřisáhli a vzájemně zavázali zaklínáním.” </li>
<li>“Toto jsou jména jejich vůdců: Semjâzâ, jejich nejvyšší, Urâkîbarâmęęl, Akibęęl, Tâmięl, Râmuâl, Dânęl, Ezęqęęl, Sarâquijâl, Asâęl, Armers Batraal, Anânî, Zaqębę, Samsâvęęl, Sartaeęl, Turęl, Jomjâęl, Arâzjâl.” </li>
<li>“Totoť jsou vůdcové dvou set andělů a všichni ostatní byli s nimi.”</li>
</ol>
<p>VII. </p>
<ol>
<li>“A vzali si ženy, a každý z nich si vyvolil jednu a počali k nim vcházeti a na nich se znečišťovati; učili je kouzlům, zaříkáním a řezání kořínků a dřev a vyjevili jim byliny.” </li>
<li>“Ony pak počaly a porodily obry tři tisíce loket vysoké,” </li>
<li>“kteří strávili všechen výsledek lidské práce. Když už jim lidé ničeho dáti nemohli,” </li>
<li>“obrátili se obři proti nim, aby je pohltili.” </li>
<li>“A počali se prohřešovati na ptactvu, zvěři, plazech a rybách a maso mezi sebou požírati a krev píti.” </li>
<li>“Tu žalovala země na tyto nespravedlivé.” </li>
</ol>
<p>VIII. </p>
<ol>
<li>“Azâzęl učil lidi zhotovovati meče, zbraně, štíty, pancíře a ukázal jim kovy, i jak je zpracovávati a náramky a šperky, užívání líčidla na oči a krášlení víček, nejdražší a nejvybranější kameny a všeliká barviva.” </li>
<li>“A zavládlo mnoho bezbožnosti a oni páchali smilstvo, dostali se na scestí a všechno jejich konání bylo špatné.” </li>
<li>“Amęzârâk učil zaklínání a řezání kořínků, Armârôs rozvazování přísah a zaklínání, Baraqâl hvězdopravectví, Kôkâbęl znakům, Temęl astrologii a Asrâdęl o pohybu luny...”</li>
</ol>
<p>  Nehledíme-li k mysteriu osudovosti sexuálního zákona, skrytému v této legendě, můžeme doslovně citovati esoterní výklad Eliphase Léviho, tak jak jej napsal ve svých “Dějinách Magie”:<br>
    Toto líčení kabbalistické knihy Henochovy jest líčení téhož zhanobení tajemství vědy, které jinak zobrazeno vidíme v historii Adamova hříchu.<br>
    Andělé, synové boží, o nichž mluví Henoch, byli zasvěcenci magie a po svém pádu jí vyučili prostý lid prostořekými řečmi. Jejich úskalím byla rozkoš. Zamilovali se do žen a dali se ošiditi o tajemství královské hodnosti a kněžství.<br>
    Primitivní civilisace se zřítila, obři, to jest představitelé hrubé síly a bezuzdé žádostivosti, zápasili o svět, který jim nemohl jinak uniknouti, než ponořiv se ve vlny potopy, ve kterých zmizely všechny stopy minulosti.<br>
    Tato potopa představovala všeobecný zmatek, do kterého nezbytně padá lidství, poněvadž znásilnilo a zneuznalo harmonii přírody.<br>
    Hřích Samyasův (Semjâzâův) a Adamův jsou si podobny. Oba jsou strženi slabostí srdce, oba profanují strom vědy a jsou daleko zapuzeni od stromu života...”<br>
    Hvězdy našeho kosmu jsou Henochovi symbolem Osudu, jenž jest výsledkem poklesků proti Zákonu:<br>
    “... A hvězdy, jež se točí nad ohněm, jsou ony, které přestoupily zákon boží před svým východem, poněvadž nepřišly v době jim určené. A Jeho hněv svázal je až do času, kdy jejích provinění bude skončeno v Roce Tajemství...”<br>
(K. H., díl IV., kap. 18 verš 15–16.)<br>
    Zánik nebo transformace osudovosti jest pak podle Henocha bezprostředně závislá na přeměně neb zániku bytí; planety, symboly osudovosti opisuje mnohdy Henoch popisem hor nebo příslušných kovů, chce-li vyjádřiti užitek, jejž jejich vlivy nebo souvztažnosti přinášejí člověku; Anděl míru poučuje Henocha o zákoně osudu slovy:<br>
    “A hory, jež jsi viděl, železnou horu, horu měděnou, stříbrnou, zlatou, cínovou a olověnou, před Vyvoleným státi budou, jako strdí před ohněm a jako voda, která shora stéká přes ony vrchy, a slabé budou pod jeho nohama. A přijde jednou den, kdy nebude možno se spasiti ani zlatem, ani stříbrem, ani se zachrániti, ani uniknouti. A nebude železa na války ani pancíře; měď i cín bude bez užitku, a olovo nebude těženo. Všechny tyto věci zmizí a zničeny budou na povrchu zemském, až vyvolený objeví se před tváří Pána Duchů.”<br>
    Tím naznačili jsme krátce základní thése esoterní filosofie druhého Herma, “Písaře Spravedlnosti”, bytosti, která bude žíti do konce času, jsouc personifikaci pravého vědění, a varovného hlasu pokolení lidskému.<br>
    Všichni mohou jej slyšeti, ale kdo rozumí jeho slovům?<br>
    Není dnes dětí, které se radují z Pohádek a málo jest těch, kteří dorostli k moudrosti, jež proniká k jejich skryté náplni...</p>
<h3>Hermes-Thot</h3>
<p> Byl-li egyptský bůh Thot, jejž nazývali Řekové Hermesem, totožný s prvním Thovtem, nelze bezpečné zjistiti. V každém případě však hermetická filosofie, jako celek musí býti pokládána za dílo několika mudrců egyptské kultury, jejichž kolektivum jest označováno jednotným jménem Hermes Trismegistos.<br>
    Z díla posledního Herma, jež popisují soudobí a staří autorové jakožto velmi obsáhlé, zachovalo se pouze několik zlomků, z celé řady apokryfů pozdějšího původu jemu připisovaných. Nejpravděpodobnější zdá se býti domněnka, že třetí Hermes skutečné existoval v době zajeti Židů v Egyptě, že sebral všechna díla svého předchůdce i nejlepší plody esoterismu egyptského a sestavil tak určitý kodex, jenž byl kvintessencí veškerého tajného učení této země. Pravost této teorie zdá se potvrzovati několik historických záznamů a fakt, z nichž nejdůležitější jsou zápisky Josefa Flavia, který píše (Contra Apionem I., 14), že jakýsi Manethon, egyptský kněz, jenž žil ve třetím století před Kristem, sepsal řecky dějiny své vlasti, sahající až do nejstarších dob. Podle sdělení Syneklova užil Manethon jakožto pramenů nápisy, jež se zachovaly na posvátných sloupech vyryty prvním Thovtem, čili Hermem, a které pak přeložil syn Herma druhého — Agathodaemon do řeči lidové. Atribut “Druhý Uriai”, jejž dávali Arabové druhému Hermovi, poukazuje rovněž na existenci dvou jedinců tohoto jména v Egyptě.<br>
    Počet Hermových knih jest neurčitý; Zmiňuje se o nich mimo jiné Plutarch (de Is. et Osir. 61), Seleukos udává jejich počet na dvacet tisíc, Manethon dokonce třicet šest tisíc, pět set dvacet pět. Nutno však vzíti v úvahu, že “kniha” podle tehdejšího pojmu mohla značiti i pouze několikařádkový nápis. Klement Alexandrijský udává čtyřicet dva jemu známých hermetických spisů, z nichž deset vztahuje se na bohy a zákony, deset dalších zabývá se chrámovým rituálem, deset obsahuje hierogramatickou vědu, to jest hieroglyfiku, kosmografii, chronografii, topografii a předpisy k uspořádání chrámového nářadí, čtyři jsou obsahu astrologicko-astronomického s návody k počítání tak zvaných horoskopů: První z těchto čtyř knih popisuje uspořádání stálic, druhá a třetí jedná o aspektech slunce a měsíce a fásích druhého, čtvrtá o pohybu ostatních oběžnic. Pak následují dvě knihy rituálních hymnů a posledních šest spisů obsahuje vědění pastofórské a jsou věnovány medicině.<br>
    Německý egyptolog, Heinrich Brugsch (Ägyptische Zeitung r. 1871, str. 43 a dále, a Hierogl. Inschriften, str. 46 a dále) dokazuje, že tyto knihy jsou částečně vytesány na stěnách knihovny velkého chrámu v Edfu v neurovnaném pořadí. Nejdůležitější z titulů těchto nápisů uvádíme:<br>
    “Kniha o tom, jenž jest v chrámě;” “Kniha o každém druhu písařské práce;”<br>
    “Předpis k malování na stěnách a kánon proporcí;” “Kniha o spravování chrámu;” “Kapitola o zbavení se toho, co přináší bolesti;” (lékařský spis);<br>
    “Kniha o osobách, jež patří ke chrámu;” “Věda o pravidelném návratu slunce a měsíce;” “Zákon o pravidelném návratu (oběhu) hvězd;” “Výpočet všech míst a znalost toho, co v nich jest;” “Sbírka předpisů k průvodům boha Hora z jeho templu o jeho slavnostech,” atd.<br>
    V době panství Ptolemajovců vzniká pak novodobá hermetická literatura, která měla býti jakýmsi pokusem sblížiti egyptskou filosofii s řeckou. Jest bezesporné, že spisy tohoto druhu souvisejí bezprostředně s knihami Thotovými, ač základní myšlenky egyptské jsou značně promíseny názory kultury řecké. Třebaže od této doby vznikla celá řada hermetických spisů, Thotovi nebo Hermovi přímo připisovaných, jako jest “Poimandres” a jiné, nelze je dobře bráti v úvahu, prostě z toho důvodu, že není možno uspokojivě odděliti původní jádro od pozdějších, jinorodých přídavků a dodatků.<br>
    Z textů, poslednímu Thotovi připisovaných, nemůžeme ani jeden bezpečně prohlásiti za původní; svým obsahem zasluhuje citování jediné t. zv. “Smaragdová deska” — která — ač jest mnohými pokládána za podvrženinu, přece jenom poukazuje na dobu Thotovu.<br>
    Podle legendy podařilo se prý Alexandru Velikému objeviti Thotův hrob a v rukou Hermovy mumie nalezena byla destička ze smaragdu, na níž byl vyryt nápis, jenž v českém překladu zní takto:<br>
    “Jest pravdivé, jest jisté, jest skutečné, že to, co jest dole, jest jako to, co jest nahoře a to, co jest nahoře, jest jako to, co jest dole, aby dokonány byly divy jediné věci.”<br>
    “A jako všechny věci byly učiněny z jediného, za prostředkování jediného, tak všechny věci zrodily se z této jediné věci přizpůsobením.”<br>
    “Slunce jest jeho otcem, měsíc jest jeho matkou, vítr nosil jej ve svých útrobách, země jest jeho živitelkou.”<br>
    “On jest otcem universálního telesmatu celého světa.”<br>
    “Jeho síla jest celá, když byla proměněna v zemi.”<br>
    “Oddělíš zemi od ohně, jemné od hrubého, opatrně a nanejvýš moudře.”<br>
    “On vystupuje od země k nebi a zase znova sestupuje s nebe na zemi a přijímá sílu věcí hořeních i doleních.”<br>
    “Takto budeš míti slávu celého vesmíru; veškerá temnota prchne před tebou.”<br>
    “Tu sídlí síla, ze všech sil nejmocnější, která překoná každou jemnou věc a pronikne každou věc pevnou.”<br>
    “Takto stvořen byl vesmír.”<br>
    “Odtud vzejdou přizpůsobení podivuhodná, jichž způsob jest zde.”<br>
    “Proto byl jsem nazván Hermes Trismegistos, maje tři části filosofie celého vesmíru.”<br>
    “Co jsem pověděl o magisteriu slunce, jest úplné.”<br>
    Bylo by zbytečno zabývati se bližším výkladem tohoto vpravdě hermetického zjevení, jehož lakonický a strohý sloh skrývá nespočetné pravdy, kondensované v několika řádcích; interpretace tohoto textu obsažena jest téměř v každém obsáhlejším hermetickém díle.<br>
    K pochopení hermetické filosofie v širším slova smyslu postačí, vytkneme-li si šest principielních zákonů, jež “Smaragdová deska” vymezuje:</p>
<ol>
<li>Zákon analogií.</li>
<li>Zákon universální rovnováhy a jejího působce.</li>
<li>Zákon indukce.</li>
<li>Zákon polarity (plození).</li>
<li>Zákon prajednoty.</li>
<li>Zákon cirkulace.</li>
</ol>
<p>O původu Smaragdové desky vyslovena byla celá řada domněnek; nehledě již k citované legendě, jedni mají tuto památku za starší čtyř tisíc let, jiní domnívají se, že text byl sepsán nějakým filosofem doby alexandrijské, ba vyskytly se i dohady, podle kterých Smaragdová deska jest apokryfem z pátého, dokonce i ze třináctého století po Kristu. Jelikož pak původní text tohoto rukopisu není dochován, nezbývá, než porovnávati jeho obsah se základními zásadami a poučkami esoterismu egyptského:<br>
    Prvé dva zákony — analogií a universální rovnováhy jsou již známy filosofii ónské a byly vtěleny do ónského devatera již v nejstarších dobách Egypta, nehledě k tomu, že z doby XII. dynastie zachoval se nám pozoruhodný symbol (Tab. II. a), který vyjadřuje vlastně první větu “Smaragdové desky”: Znak PT, HRT, ve slovním významu “nebe”, HRJ, což jest přenesený význam pro pojem “nahoře”, HAJT, t. j. “sál”, “místnost” nebo “prostor” nebo determinativ pro význam “nebe” nakreslen jest nahoře i dole; mezi nimi trůní bohyně MAAT — jež byla Egypťanům personifikací Pravdy.<br>
    Zákon polarity definuje již mythický děj, vztahující se na trojici Geb-Nut-Šov, a Prajednota jest analogií Pravodstva-Nun. Indukce a cirkulace vyplývá pak nezbytně logicky z předpokladů ostatních.<br>
    Vzhledem k tomu, že zásady, dosažené v textu “Smaragdové desky” vyskytují se dokazatelně již ve staroegyptském esoterismu, nutno považovati domněnky o apokryfickém vzniku této památky v době alexandrijské, za absurdní, nedoložené a neuvážené. Jediné, co by mohl nejkrajnější skepticismus původnosti “Smaragdové desky” vytknouti, jest možnost, že její text byl snad v pozdější době upravován, ač ani to není dosti pravděpodobné s ohledem na její lakonickou přesnost výrazů.<br>
    “Smaragdová deska” jest snad jediným textem třetího Herma, jejž můžeme pokládati do jisté míry za autentický. Jinak jsme odkázáni na historické památky z doby Thotovy, v nichž za řadou symbolů jest skryto i jeho učení; jest jich mnoho; postačí však připomenouti dva základní: pyramidu, gigantický odkaz Egypta a malý trojúhelník s božským okem uprostřed, vytesaný na stěně jedné z jejich galerií: spojením čtyř živlů vzniká hmota, jejíž jakost řídí se jejich daným poměrem. Čtyři trojúhelníky: — hle — boční stěny kolosa, jenž se sbíhá v bodě jediném — k obloze mířícím — “aby se naplnily zázraky věci jediné...”<br>
    A v srdci tohoto drtivého obra stojí Thot, a na dlani nese obětní chléb kónického tvaru. — A oko, jež v něm jest zakresleno, jest oko Horovo, oko přírody — oko z jehož slz povstali a povstávají lidé a jež jest symbolem oběti. Neboť ne vášeň, nýbrž bolest plodí dokonalé dílo, a ne síla, ale slzy vytvořily člověka...<br>
    Slzy a oběť: obětí vzkřísil člověk — Hor svého otce, a obětí vykupuje si lidstvo cestu k cíli, na nějž přes moře věků ukazuje synům této země vrchol pyramidy...</p>
<p>_______________________________________________<br>
<sup>*)</sup> Henochova kniha; viz Knihy tajemství a moudrosti I., Praha 1995 - nakl. Vyšehrad</p>
  <div id="book-navigation-71" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/hermes-trismegistos-jeho-zasveceni/dil-prvni" class="page-previous" title="Přejít na předchozí stranu">‹ DÍL PRVNÍ</a>
                    <a href="/knihy/hermes-trismegistos-jeho-zasveceni" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/hermes-trismegistos-jeho-zasveceni/hermes-trismegistos" class="page-next" title="Přejít na další stranu">HERMES TRISMEGISTOS ›</a>
          </div>
    
  </div>
    