---
title: HERMES TRISMEGISTOS
date: 2010-01-27 08:32
layout: book
comments: false

---

      <h2>Syntéza hermetických zákonů </h2>
<p><strong>Desatero příčin: </strong></p>
<ol>
<li>Počátek jest v Prabytí.</li>
<li>Prabytí jest nehmotná, nepředstavitelná, nezobrazitelná a nespočítatelná Jednota, stojící mimo prostor a čas.</li>
<li>Příčina povstala zjevením Jednoty v Prabytí.</li>
<li>Bytí povstalo zjevením kladu a záporu v Příčině.</li>
<li>Každé bytí má svoji analogii.</li>
<li>Klad tvoří zápor a zápor klad: jedno podmiňuje druhé.</li>
<li>Dvojpolarita jest podmínkou a příčinou času a života.</li>
<li>Každý pól jest sekundérně zdvojený.</li>
<li>Dvojnost cílí přes trojnost k jednotě.</li>
<li>Čtvernost jest působcem rovnováhy.</li>
</ol>
<p><strong>Desatero důsledků: </strong></p>
<ol>
<li>Příroda jest přímým plodem kosmu.</li>
<li>Smrt jest podmínkou života, nebytí jest podmínkou bytí.</li>
<li>Smrt není hranicí přírody.</li>
<li>Slovo jest živá síla, jež tvoří.</li>
<li>Láska má trojí poslání: ploditi, udržovati a křísiti.</li>
<li>Osud jest plodem poklesků bytí proti Zákonu.</li>
<li>Zánik, nebo přeměna osudovosti jest bezprostředně závislá na zániku nebo přeměně bytí.</li>
<li>Oběť jest evoluční cestou bytí.</li>
<li>Představitelný bůh jest bytostí podmíněnou lidskou obětí.</li>
<li>Zodpovědnost každého bytí jest přímo úměrná jeho vědění.</li>
</ol>
<h3>CHANU-NEZ</h3>
<p>Sefirotické principy egyptské a jejich syntéza s jinými náboženskými systémy.<br>
(1. Egypt, 2. Babylonie, 3. Indie, 4. Kabbala.) </p>
<pre>
  	           <strong>A. </strong>
                 1. NUN. 
                 2. EL. 
                 3. NIRVANA. 
                 4. EN SOF.	
	           <strong>I.</strong> 
                 1. CHEPRER-RE-ATUM. 
                 2. ANU-ENLIL-EA. 
                 3. BRAHMAN. 
                 4. KETHER.	
  <strong>III. </strong>                                  <strong> II.</strong>
1. TEFNUT.                              1. ŠOV.
2. TIÁMAT.                              2. ASARI. (Šilik-lu-Šar.)
3. ŠIVA.                                3. VIŠNU. 
4. BINA.		                4. CHOCHMA. 
  <strong>V.</strong>                                      <strong>IV. </strong>
1. NUT.     	                        1. GEB.
2. .........    	                2. ......... 
3. AUM.     	                        3. MAJA. 
4. GEBURA.                              4. GEDULA.		
	            <strong>VI.</strong> 
                  1. NEBTHET. 
                  2. NIN-ANNA. (Ahatu.) 
                  3. HARANGHER-BEHAH. 
                  4. TIFERETH.	
  <strong>VIII. </strong>                                   <strong>VII.</strong> 
1. SUTECH.                               1. EVSIREV. 
2. LUGAL-EDINNA.                         2. KINGU.
3. PRADIPAT.                             3. PURUŠA.
4. HOD.	                                 4. NECAH.	
	            <strong>IX.</strong> 
                  1. ESET. 
                  2. NINA-IŠTARA. 
                  3. PRAKRITI. 
                  4. JESOD.	
	            <strong>X.</strong> 
                  1. HOR-HATHOR. 
                  2. BAAL. (Marduk.) 
                  3. PRANA. 
                  4. MALKUTH.
</pre>
<p>
 Na několika stránkách tohoto skromného dílka snažili jsme se podati několik základních ideí filosofie staré celá tisíciletí.<br>
    Hrstku vody z Moře vědění jsme vzali, zachytivše pár slov z posvátné knihy legendárního Herma Trismegista, jehož svatou tvář rozeznáváme již jen jako útvary v zákmitech blesků, křižujících temnou oblohou současnosti.<br>
    Věříme, že ve starých templech posvátné země Khemi, kvetlo kdysi tajné učení, jež přivádělo člověka na okraj tohoto světa, z něhož vidí Věčné Východy Slunce Života a nové obzory, do nichž my ubozí nevědomí smrtelníci padáme jako slepci do propasti, když naše malicherná pouť na této zemi se skončí.<br>
    Nelitujeme, že jsme se nedali strhnouti pýchou dětí dvacátého věku a přiznáváme, že jsme tak zpozdilí, že věříme, že přijde den, kdy nová pokolení budou nucena plně uznati svůj závazek k odkazům velké kultury Starého Egypta, a filosofie jeho velekněze, třikrát svatého Thovta — Herma Trismegista.</p>
  <div id="book-navigation-71" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/hermes-trismegistos-jeho-zasveceni/dil-druhy" class="page-previous" title="Přejít na předchozí stranu">‹ DÍL DRUHÝ</a>
                    <a href="/knihy/hermes-trismegistos-jeho-zasveceni" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/hermes-trismegistos-jeho-zasveceni/bibliografie" class="page-next" title="Přejít na další stranu">BIBLIOGRAFIE ›</a>
          </div>
    
  </div>
    