---
title: Hermes Trismegistos a jeho zasvěcení
date: 2010-01-27 08:44
layout: book
comments: false
---

      <h1>Pierre de Lasenic</h1>
<p>(podle původního vydání z roku 1936 vydalo nakladatelství Trigon, Praha 1990)</p>
<h2>Úvod</h2>
<p> Tajemná bytost, opředená nespočtem bájí, jíž Egypťané před několika tisíciletími uctívali pod jménem Ezhovtej, Thovte, Thovt, Toth nebo Thot, která vystupuje v mytologii fénické jako Taautes a které se klaněli již staří Samothrákové, zvána byla řecky Hermes, a ztotožňována později s pánem bohů - Merkurem.<br>
    Filosofii, kterou Hermes nebo Thot hlásal, nazýváme filosofií hermetickou, a stoupence jeho nauk hermetiky.<br>
    Hermetická filosofie pak, vycházejíc z absolutního a nekompromisního theismu, trojjedinosti a idealismu, měla bezesporně základní vliv na kulturu lidskou, od ranných počátků Egypta až po dny naše, korigujíc materialistické aberace čas od času válkami, hladem a jinými pohromami zdivočelého lidstva alespoň do té míry, že zdeptané civilisace mohly si ve chvílích přechodného uklidnění uvědomiti, čím jsou povinny lidství, dějinám a tradici této země.<br>
    Jest samozřejmo, že nauky vznešeného Herma nebyly vždy známy pod pravým svým jménem a nesmíme zapomenouti, že vědu o absolutní Pravdě, Síle a Kráse, kterou tento prorok hlásal, nelze vynalézti, ani stvořiti, nýbrž pouze tradovati tak, aby mohla býti lidmi chápána; všechny opravdové kulty, velké filosofie a náboženstva, křesťanství nevyjímaje, ji obsahovaly a obsahují.<br>
    Hermetismus byl, jest a bude vždy zásadním protikladem a protiváhou materialistickému atheismu, a bude vždy trnem v oku těm, kteří chtějí dokázati absolutní prázdnotu mimo svět, jejž můžeme svými smysly - ať přímo, nebo pomocí svých přístrojů, vnímati.<br>
    Dnešní oficielně vědecký názor na hermetismus možno definovati jako nesoudnou zaujatost, odsuzující před úsudkem. Proč tak naše doba soudí, není nesnadno si vysvětliti, ale jest více než matematicky jisto, že od kelímků moderních suflérů, kteří svářejí třaskaviny, lijí děla a hledají ničivé paprsky, povstanou jednou lidé, kteří poznají, jak byli slepí a malicherní, a jak zbytečně ztráceli svůj drahocenný čas. Dobře parodoval moderní vědeckou horečku duchaplný Francouz Jules de Goncourt, dvěma krátkými větami: “Balony vystoupily tak vysoko, až se dostaly do černé oblohy, kde není nic vidět. A právě tato obloha to jest, kam naše věda nakonec dospěje...”</p>
  <div class="book-navigation">
    <ul class="menu">
<li class="leaf first"><a href="/knihy/hermes-trismegistos-jeho-zasveceni/dil-prvni">DÍL PRVNÍ</a></li>
<li class="leaf"><a href="/knihy/hermes-trismegistos-jeho-zasveceni/dil-druhy">DÍL DRUHÝ</a></li>
<li class="leaf"><a href="/knihy/hermes-trismegistos-jeho-zasveceni/hermes-trismegistos">HERMES TRISMEGISTOS</a></li>
<li class="leaf last"><a href="/knihy/hermes-trismegistos-jeho-zasveceni/bibliografie">BIBLIOGRAFIE</a></li>
</ul>
        <div class="page-links clear-block">
                          <a href="/knihy/hermes-trismegistos-jeho-zasveceni/dil-prvni" class="page-next" title="Přejít na další stranu">DÍL PRVNÍ ›</a>
          </div>

  </div>

