<% content_for :sidebar do %>
  <div id="book-navigation-1" class="book-navigation">
    <ul class="menu">
<li class="leaf first"><a href="/knihy/merv-fasil/kapitola-1">Kapitola 1.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-2">Kapitola 2.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-3">Kapitola 3.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-4">Kapitola 4.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-5">Kapitola 5.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-6">Kapitola 6.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-7">Kapitola 7.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-8">Kapitola 8.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-9">Kapitola 9.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-10">Kapitola 10.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-11">Kapitola 11.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-12">Kapitola 12.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-13">Kapitola 13.</a></li>
<li class="leaf"><a href="/knihy/merv-fasil/kapitola-14">Kapitola 14.</a></li>
<li class="leaf last"><a href="/knihy/merv-fasil/kapitola-15">Kapitola 15.</a></li>
</ul>
</div>
<% end %>
