---
title: Merv Fasil
date: 2010-12-27 12:57
layout: book
comments: false
---

      <p>Povídka Merv Fasil, jejímž autorem je Ferdinand Vajgara aka Rum, je stará jak Metuzalém. Našel jsem ji v archívu dokumentů na harddisku a po zjištění, že je na Internetu nedostupná, jsem se ji jal zveřejnit. Jednám tak bez souhlasu autora, ale s ujištěním vlastní intuice, že až se to proflákne, budu mít příležitost vzít litr domácí gořalky a s Rumem trochu popit.<br>
Merv Fasil však sehrává i jiné důležité role. Především roznítil řetězovou reakci myšlenkových pochodů, jež při dosažení kritické meze aktivovala mou vůli vytvořit tyto stránky a povídka se tak stává prvním obsahem webu Extranea. Snad se tedy i já probouzím z pozice spícího agenta, který odpočíval celých patnáct let, tedy od doby, kdy mě Rum nazval Fandou, nevěda co způsobil. Totiž stejně jako povídka i Extranea se chystá mapovat jiné dimenze a člověk nikdy neví, kam takové experimenty mohou vést. Šíření vědění na všechny strany nechť se stane udržovatelem lidské pozornosti, která nesmí být oslabena, protože by tak mohla dát vzniknout zlým monstrům a ta, podobně jako se stalo v povídce, dokáží zničit nejeden celý svět.<br>
Bez pointy, ni vtipu, přeju novým stránkám Extranea mnoho čtenářů, jimž zase přeju příjemné počtení Rumovy povídky Merv Fasil.</p>
<p>Fanda, 21. leden 2010</p>
  <div id="book-navigation-1" class="book-navigation">
    <ul class="menu">
<li class="leaf first"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-1">Kapitola 1.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-2">Kapitola 2.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-3">Kapitola 3.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-4">Kapitola 4.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-5">Kapitola 5.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-6">Kapitola 6.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-7">Kapitola 7.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-8">Kapitola 8.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-9">Kapitola 9.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-10">Kapitola 10.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-11">Kapitola 11.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-12">Kapitola 12.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-13">Kapitola 13.</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-14">Kapitola 14.</a></li>
<li class="leaf last"><a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-15">Kapitola 15.</a></li>
</ul>

  <div class="page-links clear-block">
    <a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-1" class="page-next" title="Přejít na první kapitolu">Kapitola 1. ›</a>
  </div>

</div>
