---
title: Kapitola 4.
date: 2010-01-21 18:32
layout: book
comments: false

---

      <h2>O Temuruovi, který byl v nesprávném čase na nesprávném místě.</h2>
<p>Temurua uviděl nad lesem záblesk. Nic podobného ještě nezažil. Bylo to jako podívat se nechráněným okem do ohně od elektrické svářečky. Jasné, namodralé světlo o vysoké intenzitě. Okamžitě zastavil auto a vyběhl na silnici. Nadine, jeho dívka, seděla stále ještě ve voze. Viděla to taky.</p>
<p>"Co to bylo?" zeptala se, jako by čekala, že jí to Temurua vysvětlí a zase bude všechno v pořádku. "Nevím," řekl Temurua "možná něco spadlo do lesa. Půjdu se podívat."<br>
Věděla, že nemá smysl protestovat, protože sotva to dořekl, udělal krok směrem k místu dopadu.<br>
"Počkej na mě, nenechávej mě tu samotnou. Půjdu s tebou."</p>
<p>Temurua byl maor. Měl dlouhé, černé, kudrnaté vlasy a tetování na pravé polovině obličeje. Temurua byl tradicionalista. Časem si chtěl nechat potetovat i druhou půlku obličeje.<br>
"Tak pospěš!" řekl směrem k autu zpomalil chůzi, aby ho mohla dohnat. Nadine vyskočila z vozu a šla za ním. Nebylo snadné prodírat se džunglí. Stromy rostly moc blízko u sebe a tam, kde nerostl strom si už dávno našly místo kapradiny a keře. Přesto se jim podařilo dostat se asi 100 metrů do lesa. Tady někde to už muselo být. Temurua rozhrnul kapradí a strnul. Na mýtině před ním seděl v podrostu chlap a právě s někým mluvil mobilním telefonem.</p>
  <div id="book-navigation-1" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-3" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 3.</a>
                    <a href="/knihy/procitni-chechtej-se//merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-5" class="page-next" title="Přejít na další stranu">Kapitola 5. ›</a>
          </div>
    
  </div>
    