---
title: Kapitola 1.
date: 2010-01-21 18:23
layout: book
comments: false

---

      <h2>O starým Carhounovi, jeho bolavé ruce a o tom, že jednoduché řešení nemusí být vždycky úplně nejlepší</h2>
<p>Ten den bolela starýho Carhouna jeho pravá ruka obzvlášť silně. Normálně si toho moc nevšímal, protože měl na starosti důležitější věci. Ale to ráno mu ta bolest připadala fakt nesnesitelná. "Budu s tím muset něco udělat." Pomyslel si. Ruka ho bolela už dlouho, dlouho. Určitě dýl než sedum zim. Nepamatoval si přesně kdy to začalo, bylo to už tak dávno, že o tom nemělo smysl uvažovat. Pamatoval si jenom, že ho to tehdy naštvalo. Když pak bolest trvala nějaký čas, začal ji ignorovat. Ne, že by si na to zvykl, spíš se s tím naučil žít. Cítil ji pořád, jen se naučil na ni nemyslet. ”Každého přece občas něco bolí.” Říkal si. Přestal ruku používat. Nosil ji zavázanou v šátku na břiše. Postupně se naučil dělat většinu věcí levou rukou. Dosáhl v tom takové zručnosti, že mu snad ta pravačka ani moc nechyběla. Žil si velice spokojeně. Neměl toho moc, ale o nic víc vlastně ani nestál. Popravdě řečeno jediné co ho občas štvalo byla ta jeho zmrzačená ruka. Jako zrovna teď. Starej Carhoun se rozhodl. Nasnídal se. Pořádně se umyl. Oblekl si svoje nejlepší šaty a vydal se do nemocnice. Doktor prohlédl, pokýval hlavou a rovnou ho nechal odvézt na sál. Amputace proběhla bez komplikací a za pár dnů se starej Carhoun vrátil zase domů. Byl ještě pořád chlap jak hora a dokázal se o sebe postarat. Rána se mu pěkně hojila a život se vrátil zase zpátky do starých kolejí. Když štípal levačkou dřevo do kamen napadlo ho, že je vlastně spokojený člověk. Akorát kdyby ho už konečně přestala bolet ta zatracená ruka.</p>
  <div id="book-navigation-1" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/merv-fasil" class="page-previous" title="Přejít na předchozí stranu">‹ Merv Fasil</a>
                    <a href="/knihy/merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/merv-fasil/kapitola-2" class="page-next" title="Přejít na další stranu">Kapitola 2. ›</a>
          </div>

  </div>

