---
title: Kapitola 6.
date: 2010-01-21 18:32
layout: book
comments: false

---

      <h2>O tom, že když něčemu nerozumíš, tak bys do toho neměl moc vrtat, protože by se to mohlo pokazit.</h2>
<p> <br>
Nadine byla celou dobu schovaná v kapradí. Strachy ani nedýchala. Viděla toho chlapa, co právě zabil jejího přítele, jak zasypává jeho tělo tlejícím listím. Pak se zběžně rozhlédl a začal se prodírat směrem k silnici. Ležela na vlhké zemi a začínalo jí být zima. Slyšela, že ten chlap je už dost daleko, tak se rozhodla vstát. Byla v šoku, cítila chlad a zmatek. Její pohled bloudil po mýtině a vyhýbal se pohledu na hromadu listí, pod kterou bylo stále ještě možné rozeznat obrysy těla. Pak TO uviděla! Leželo TO kousek od jejího úkrytu! Udělala pár kroků a zvedla TO ze země. MOBILNÍ TELEFON!<br>
Najednou se její mozek zase rozběhl. Pořádně si telefon prohlédla. "Musel vypadnout tomu chlapovi, při rvačce!" Viděla, že je rozbitý, asi jak spadl na kámen. "Snad bude fungovat" pomyslela si. Chvilku ho zkoumala. "Jo, jasně!" Něco takového viděla ve Star Treku, když byla malá. Vyklapla mluvítko a objevil se displej s tlačítkama. Vyťukala číslo policie a přiložila si telefon k uchu. Ve sluchátku podivně zachrčelo. Přepadla ji panika. "Prosím, ať to funguje!" V telefonu nejdřív zachrastilo a pak ucítila podivnou vibraci. Prostor kolem jejího těla se nepatrně zavlnil.</p>
  <div id="book-navigation-1" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/merv-fasil/kapitola-5" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 5.</a>
                    <a href="/knihy/merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/merv-fasil/kapitola-7" class="page-next" title="Přejít na další stranu">Kapitola 7. ›</a>
          </div>

  </div>

