---
title: Kapitola 9.
date: 2010-01-21 18:34
layout: book
comments: false

---

      <h2>O Nadine, o tom kam se dostala a co tam viděla.</h2>
<p>Nadine nechápala co se stalo. Jako by ji něco uchopilo a mrštilo to s ní do prostoru. Letěla obrovskou rychlostí nějakým svítícím tunelem, hrozně křičela a mávala zoufale rukama. Celé to trvalo nanejvýš pár sekund. Pak se objevilo jasné světlo na konci tunelu a pohltilo ji. Měla pocit, že její tělo explodovalo a rozletělo se na tisíc kousků. Když přišla k sobě, ležela na studené zemi. Kolem ní bylo něco, co vypadalo jako mlha a znemožňovalo jí rozhled po krajině dál než na několik metrů. Zkusila pohnout nohama. Podařilo se! Zkusila ruce. Taky v pohodě. Posadila se a zkoumala svoje tělo. Všechno se zdálo být v pořádku. Ani škrábnutí! Postavila se na nohy. V ruce pořád držela mobilní telefon. Pořádně se rozmáchla a mrštila s ním co nejdál od sebe. Byla jí zima, netušila kde je, ani kterým směrem se má vydat. Chvilku běžela, aby se zahřála, ale neměla velkou výdrž. Asi po dvou hodinách došla až na okraj lesa, podél kterého vedla stará cesta. Zaradovala se. Každá cesta přece někam vede. Cesta znamená naději. Divná byla ta mlha. Byla všude a nic nenasvědčovala tomu, že by se chtěla rozptýlit. Slunce nebylo vidět, takže vůbec netušila, kolik je hodin. To ji trápilo. Nevěděla kolik času ještě zbývá do tmy. Představa, že by měla strávit noc v lese ji děsila. Navíc tam zahlédla nějaké divné zvíře. Vypadalo veverka, až na tu tlamu s obrovskýma ostrýma zubama. Ale viděla to jenom na okamžik. Jakmile ji ten tvor zpozoroval, okamžitě zmizel v houští. Asi se jí to jenom zdálo. Její nervy byly napnuté k prasknutí. Začínala propadat beznaději. Zdálo se, že den končí. Šero bylo čím dál větší.</p>
<p>Pak zahlédla obrysy prvního domu. Rozběhla se k němu.</p>
  <div id="book-navigation-1" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/merv-fasil/kapitola-8" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 8.</a>
                    <a href="/knihy/merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/merv-fasil/kapitola-10" class="page-next" title="Přejít na další stranu">Kapitola 10. ›</a>
          </div>

  </div>
<%= partial '/knihy/merv-fasil/content' %>
