---
title: Kapitola 3.
date: 2010-01-21 18:31
layout: book
comments: false

---

      <h2>O tom jak to vidí pes starýho Carhouna a o tom co našel v lese při sběru dřeva.</h2>
<p> <br>
Elin Pelin se poškrabal zadní nohou za uchem. Trápily ho blechy. Bylo to zoufalé. Snažil se tu mrchu vytřepat z kožichu, ale blecha se držela pevně a sála mu krev. Seděl na zápraží a pozoroval krajinu. Měl dnes divný pocit. Cítil, že se něco semele. Nevěděl co. Nic si nemyslel a nic si nenamlouval, protože to psi neumí. Prostě to cítil. I jeho pán byl nervózní. Elin Pelin viděl, že ho zase bolí jeho pravá ruka. Bolela ho čím dál víc. Od té doby co před pár dny odešel dolů do města. Když se potom vrátil, Elin ho běžel přivítat. Elin Pelin ho milovat tak jak to dokáže jenom pes - slepě a oddaně. Vrhl se k němu a začal ho olizovat. Tehdy si všiml, že jeho pán už v realitě nemá pravou ruku, ale na jeho astrálním těle zářila pořád stejně jasně. A bolela, asi víc než kdy předtím.<br>
Elin Pelin věděl, že je čas zajít do lesa pro dřevo. Jeho pán, si už oblékal kabát a bral si nástroje. Vydali se do kopců. V okolí chalupy bylo všechno dřevo už dávno vysbírané, takže museli jít dál do lesa. Pán šel pomalu a Elin Pelin běhal kolem dokola a kontroloval terén. Hlídal si přitom pána, aby se mu moc nevzdálil. Šli spolu až do rolke, ke starému, mrtvému stromu. Pán si u něho chvilku odpočinul. Pak sundal z ramene pilu a začal strom podřezávat. Šlo to pomalu. Strom byl velký a pán měl jenom jednu ruku. Nebylo to nic lehkého. Musel často odpočívat.<br>
Elin Pelin zatím čenichal kolem, něco cítil. Šel roklí, až na konec a začal prohledávat les za ní. Rostly tam divně pokroucené stromy. To místo bylo celé divné. Moc negativní energie. Špatné místo. Pak to Elin uviděl. Bylo to tělo, zpola zapadané listím. Měl strach, ale byl zvědavý. Opatrně se přiblížil. Byla to lidská žena a byla mrtvá. Elin věděl, že budou problémy. To bylo ono. To co cítil už od rána.<br>
Začal štěkat a hnal se zpátky ke svému pánovi.</p>
  <div id="book-navigation-1" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/merv-fasil/kapitola-2" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 2.</a>
                    <a href="/knihy/merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/merv-fasil/kapitola-4" class="page-next" title="Přejít na další stranu">Kapitola 4. ›</a>
          </div>

  </div>
<%= partial '/knihy/merv-fasil/content' %>
