---
title: Kapitola 8.
date: 2010-01-21 18:33
layout: book
comments: false

---

      <h2>O nelehkém údělu  velitele, který to celé musí řešit.</h2>
<p> <br>
"Takže, zopakujme si fakta:" řekl velitel věcně, "naše špičková technologie se dostala do neoprávněných rukou a byla použita. Podle toho co jsme zjistili je pravděpodobnou pachatelkou Nadine Johnsonová, stáří 24 let, svobodná, bezdětná. Narozena v Invercargillu na Novém Zélandu. Dokončila střední školu. Momentálně je bez zaměstnání. Naposled pracovala jako recepční v hotelu Parkroyal v Queenstownu. S největší pravděpodobností vůbec neměla tušení co jí padlo do rukou a vzhledem k tomu, že se jí podařilo aktivovat teleport, by se dalo spekulovat o tom, že přístroj byl poškozen. Tuto domněnku také podporuje fakt, že na našich skenech geomagnetického pole se ukázal pouze vstup do hyperprostoru a zatím jsme nezaznamenali výstup z hyperprostoru zpátky do naší dimenze, jako při bezproblémovém přenosu. Nic nenasvědčuje tomu, že  Nadine Johnsonová ví něco o teleportaci a rozumí špičkové elektronice. Podle našich odborníků, je téměř vyloučeno, aby dokázala během pár minut přeprogramovat náš přístroj a zmizet v nějaké jiné, neznámé, dimenzi. Směrnice pro tyto situace nařizují okamžitou likvidaci neověřených osob, které se dostanou do kontaktu s našimi tajnými technologiemi. V tomto případě to bude složitější, protože osoba je mimo náš dosah. TAM ji pronásledovat nemůžeme a bylo by to zbytečné, protože TAM nám nemůže nijak uškodit. Vlastně se zlikvidovala sama. Teď musíme jenom nepřetržitě sledovat anomálie v geomagnetickém poli, kdyby se jí nějakým nedopatřením podařilo dostat zpátky do naší dimenze. Už jsem vydal patřičné rozkazy. Pokud se vrátí, budeme připraveni. To bude Váš úkol Fasile, do té doby zůstanete na základně. Rozuměl jste všemu, co jsem říkal?"<br>
"Ano, pane!" odpověděl Merv Fasil.</p>
  <div id="book-navigation-1" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-7" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 7.</a>
                    <a href="/knihy/procitni-chechtej-se//merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-9" class="page-next" title="Přejít na další stranu">Kapitola 9. ›</a>
          </div>
    
  </div>
    