---
title: Kapitola 10.
date: 2010-01-21 18:35
layout: book
comments: false

---

      <h2>O tom co našla v domě a proč se jí to vůbec nelíbilo</h2>
<p>Dům byl prázdný. Vypadalo to, že byl opuštěný ve spěchu. Všechno v něm bylo rozbité a zpřeházené. Byla tam taky další věc, která se Nadine nelíbila. Stopy po zápase s něčím hodně velkým a děsivým. Na několika místech byly stěny domu proražené a na zdech byly stopy po drápech. Radši dům rychle opustila a šla dál dokud ještě nebyla úplná tma. Netoužila se setkat s majitelem těch drápů. Šla po opuštěné ulici. V celém městě bylo neobvyklé ticho. Měla čím dál děsivější dojem, že je tady úplně sama. Většina domů měla vymlácené okna a celé město vypadalo jako po boji. Došla až na hlavní ulici. Zahlédla supermarket. Uvědomila si, že od rána nic nejedla ani nepila. Automatické dveře byly otevřené dokořán, tak vešla dovnitř. V regálech na zboží našla po chvíli nějaké sušenky a minerálku. Zkontrolovala datum spotřeby, jak byla zvyklá. "Spotřebujte do 33. 12. 1568" stálo na krabici. Měla hlad, tak o tom radši moc nepřemýšlela. Mezitím venku padla noc a mlha se konečně rozptýlila. Jenže ve tmě vypadalo všechno ještě hůř. Bylo slyšet vrzání otevřených dveří a rozbitých oken. Občas se ze tmy ozvalo šumění křídel, ale neznělo to jako noční pták. Bylo to něco mnohem většího. Venku na ulici zahlédla na moment stín nějakého velkého zvířete. Chodilo vzpřímeně jako člověk nebo spíš opice, ale na předních nohách mělo obrovské drápy. Čenichalo kolem supermarketu. Určitě ji to muselo cítit, ale zatím si netrouflo dovnitř. Nadine byla úplně otupělá, naprosto smířená se vším. Přestala přemýšlet a radši si zalezla mezi mrazící boxy a tam usnula.</p>
<p>Nevěděla jak dlouho spala. Vzbudila se s pocitem, že něco není v pořádku.</p>
  <div id="book-navigation-1" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-9" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 9.</a>
                    <a href="/knihy/procitni-chechtej-se//merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-11" class="page-next" title="Přejít na další stranu">Kapitola 11. ›</a>
          </div>
    
  </div>
    