---
title: Kapitola 7.
date: 2010-01-21 18:30
layout: book
comments: false

---

      <h2>O tom, že i teroristi mají „svoje dny“.</h2>
<p> <br>
Merv Fasil se prodral až na silnici. Kousek od sebe uviděl u krajnice zaparkované auto. Otevřel dveře. Nebylo zamčeno a klíčky byly v zapalování. Bylo určitě toho maora. Měl dobrý pocit, že má všechno zase pod kontrolou. Za 2 hodiny už bude na letišti v Nelsonu, vyzvedne si peníze za dobře vykonanou práci a poletí na zaslouženou dovolenou. Zrovna si sedl za volant a chtěl nastartovat, když dostal ten divný pocit. Pocit, že něco přehlédl, zapomněl, prostě, že něco není v pořádku. Zatímco si v duchu přehrával sled událostí, které se odehrály po dopadu, automaticky se podíval do zpětného zrcátka. Na zadním sedadle ležela dámská kabelka. V mysli mu vytanul útržek rozhovoru se základnou: "...v oblasti Vašeho dopadu se pohybují dvě neznámé osoby..." Fasil sáhl po kabelce a vyndal z ní peněženku s řidičákem. Patřila nějké Nadine Johnsonové. Stáří 24 let. Podle fotky velice pohledná. Asi v ten samý okamžik ucítil slabou vibraci. Zvednul oči od řidičáku a zahlédl, jak z lesa vyšlehl jasný modrý záblesk světla. Automaticky sáhl do náprsní kapsy, kde nosíval svůj Ericsson T250. Nebyl tam.<br>
"Kurva, to mám teda blbý den!" řekl si Merv Fasil naštvaně.</p>
  <div id="book-navigation-1" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/merv-fasil/kapitola-6" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 6.</a>
                    <a href="/knihy/merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/merv-fasil/kapitola-8" class="page-next" title="Přejít na další stranu">Kapitola 8. ›</a>
          </div>

  </div>
<%= partial '/knihy/merv-fasil/content' %>
