---
title: Kapitola 13.
date: 2010-01-21 18:38
layout: book
comments: false

---

      <h2>O hledání mrtvoly ve špatném počasí</h2>
<p>Merv Fasil vystoupil z letadla. Nechtěl cestovat teleportem kvůli utajení. Někdo by mohl zaznamenat výkyvy v geomagnetickém poli a to by mohlo ohrozit Organizaci. V letištní hale ho čekal člověk, který mu předal klíčky od teréního auta. Na parkovišti stála nablýskaná Lada Niva. Merv nastoupil a vydal se nejbližší výpadovkou směrem z města. Do hor to bylo ještě několik hodin jízdy. Chtěl to stihnout dřív než se setmí. Cesty byly v těchto končinách velice špatné, ale jeho auto na to bylo stavěné. Když přijel na místo zbývaly do tmy asi 2 hodiny. Navíc to vypadalo, že každou chvíli začne sněžit, což by bylo hodně nepříjemné. Zaparkoval Ladu a z kufru vytáhnul připravený batoh. Dál už cesta nevedla a musel jít pěšky. Místo, které udal počítač bylo od auta ještě asi 3 kilometry. Fasil vytáhl z batohu přístroj GPS, na určování polohy v terénu a vydal se směrem, který vyčetl z údajů na obrazovce. Počasí se zhoršovalo, Fasil pospíchal. Když procházel roklí, všiml si, že tam někdo nedávno pokácel strom. To znamenalo, že se tu pohybuje ještě někdo. K místu dopadu to bylo ještě asi 150 metrů. Fasil prošel roklí až na konec a došel až k lesíku, kde rostly divně pokroucené stromy. Z toho místa šel až strach. Fasil se podvědomě otřásl. Divné místo. Prohledal lesík, ale našel jenom kaluž zmrzlé krve a stopy, jak někdo táhnul tělo podrostem. Fasil se vydal po stopě. Tma se blížila a začínalo sněžit. Kdyby ztratil stopu, byl by to konec. Musel běžet. Asi po dvaceti minutách, se prodral křovím a dorazil k jeskyni ve skále. Stopa vedla dovnitř. Fasil vytáhnul baterku a opatrně vlezl dovnitř. Jeskyně vedla dál do skály. Šel pomalu a opatrně. Strop se příkře svažoval, takže musel lézt po čtyřech, aby se dostal dál. Pak ji uviděl. Ležela na zádech. Vytáhl z kapsy její fotku. Byla to ona, o tom nebylo pochyb. Zběžně ohledal tělo, udělal pár fotek a pak vylezl ven z jeskyně. Vytáhnul mobil, odeslal snímky a spojil se se základnou.</p>
<p>"Našel jsem tělo," řekl do telefonu. "Hledaná osoba se k nám vrátila už mrtvá. Podle způsobu smrti soudím, že byla v dimenzi X65 a setkala se s mutantem 458a."</p>
<p>"Ano, podle těch stop po drápech se zdá, že máte pravdu," řekl velitelův hlas z telefonu. "Bude to asi dimenze X65. Vzpomínám si na to. Ten zpackaný experiment... Chudák holka. Měla opravdu smůlu. Máte ještě něco Fasile?"</p>
<p>"Ano pane! Někdo našel její tělo přede mnou. Potřeboval bych zjistit, souřadnice nejbližšího lidského obydlí."</p>
<p>"Ano, posílám Vám souřadnice. Víte jak máte postupovat. Hodně štěstí!"</p>
<p>"Děkuju, pane!" řekl Fasil a zavěsil.</p>
  <div id="book-navigation-1" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/merv-fasil/kapitola-12" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 12.</a>
                    <a href="/knihy/merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/merv-fasil/kapitola-14" class="page-next" title="Přejít na další stranu">Kapitola 14. ›</a>
          </div>

  </div>
<%= partial '/knihy/merv-fasil/content' %>
