---
title: Kapitola 12.
date: 2010-01-21 18:38
layout: book
comments: false

---

      <h2>Dialog,  který nedopadne dobře ani pro jednoho ze zúčastněných, ale musí to tak být</h2>
<p>Byl to nejhorší obličej jaký kdy Nadine viděla. Takhle nějak si představovala ďábla. Byl to zlý obličej. Nebyl ošklivý, ani deformovaný. Ta hrůzat pramenila z něčeho jiného. Ten výraz, ty oči! Nadine se zachvěla, když se do nich podívala. Pak se otevřely ústa a odhalily řadu dlouhých, ostrých, jakoby zvířecích zubů a bytost promluvila:</p>
<p>"VÍTEJ NADINE!" Při tom zvuku jí přeběhl přes záda mráz: "Kdo jsi a jaktože znáš moje jméno...?" zeptala se nejistým hlasem. "JSEM ZLO, UNIVERZÁLNÍ ZLO. STAČÍ TI TO JAKO ODPOVĚĎ?" "Tušila jsem to," hlesla Nadine "můžeš mně prosímtě vysvětlit, kde to jsem a co tu dělám?" "JISTĚ, ČASU MÁME DOST", řeklo Zlo "NACHÁZÍŠ SE PRÁVĚ V JINÉ DIMENZI, V PARALELNÍM VESMÍRU. TAKOVÝCH REALIT JAKO JE TA, ZE KTERÉ JSI PŘIŠLA JE NEKONEČNĚ MNOHO. TO'S PŘECE TUŠILA. TY SES DOSTALA PRÁVĚ SEM. SMŮLA, ŽE?" řeklo Zlo a ušklíblo se.</p>
<p>"Dobrá, tak mě aspoň řekni co se tu stalo a kam se poděli všichni lidi? To's je všechny zabil?" "TO JE DLOUHÝ PŘÍBĚH," řeklo Zlo "NIKOHO JSEM NEZABIL, TO NEDOKÁŽU. LIDI TU POŘÁD JSOU, DOKONCE JSI JEDNOHO V NOCI ZAHLÉDLA JAK SLÍDÍ KOLEM SUPERMARKETU. ANO, OPRAVDU TO BYL ČLOVĚK, JENOM SE TROCHU ZMĚNIL PO TOM EXPERIMENTU. STEJNĚ JAKO OSTATNÍ" "To že byl někdy člověk?" rozčílila se Nadine "Co's jim to provedl ty zmetku!!!"</p>
<p>"JEN SI POSLUŽ." usmálo se Zlo a ten úsměv byl krásný a upřímný. "JÁ JSEM JIM NIC NEPROVEDL. JÁ NEJSEM PŘÍČINA, ALE DŮSLEDEK. TO ONI MĚ SEM PŘIVEDLI A DALI MI TAKOVOU MOC. JSI SMĚŠNÁ, JESTLI SI MYSLÍŠ, ŽE JÁ JSEM MOHL NĚCO ZMĚNIT. TAK TO NENÍ. JÁ JSEM JENOM ZLO. JSEM PROSTĚ TAKOVÝ, NEMŮŽU SI POMOCT. JE TO PROSTĚ MŮJ OSUD."</p>
<p>"Co teď se mnou bude?" Zavzlykala Nadine. "PŮJDEŠ ZPÁTKY DOMŮ. TADY NENÍ TVOJE MÍSTO. MUSÍŠ SE VRÁTIT ODKUD JSI PŘIŠLA A KRUH SE UZAVŘE" řeklo Zlo. Několik metrů od Nadine se na břehu jezera otevřel známý světelný tunel. "To je všechno? Už můžu jít?" zeptala se nedůvěřivě Nadine. "MUSÍŠ! A POSPĚŠ SI, AŤ UŽ TĚ TU NEVIDÍM." proneslo Zlo se škodolibým úšklebkem.  </p>
<p>Nadine už na nic nečekala a chopila se šance. Chtěla žít a ta síla ji hnala dopředu. Rozběhla se směrem ke vstupu do tunelu. Běžela jako nikdy předtím. Byl to běh o život. Tunel se rychle přibližoval. Už jí zbýval asi jenom jediný krok, když koutkem oka zahlédla vlevo za sebou pohyb. Odrazila se a skočila do tunelu. Ve skoku ještě stihla otočit hlavu a uviděla za sebou monstrum s napřaženým pařátem. Velké, chlupaté, trochu podobné člověku, z tlamy mu trčely dlouhé špičáky a na tváři mělo divný škleb. Na setinu sekundy se jejich pohledy setkaly. Pak jí jeho drápy přetnuly páteř a její bezvládné tělo zmizelo v tunelu.</p>
<p>V ten samý okamžik se na základně rozblikala kontrolka a centrální počítač odeslal veliteli varovný e-mail, o podivné anomálii v geomagnetickém poli.</p>
  <div id="book-navigation-1" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/merv-fasil/kapitola-11" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 11.</a>
                    <a href="/knihy/merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/merv-fasil/kapitola-13" class="page-next" title="Přejít na další stranu">Kapitola 13. ›</a>
          </div>

  </div>
<%= partial '/knihy/merv-fasil/content' %>
