---
title: Kapitola 15.
date: 2010-01-21 18:39
layout: book
comments: false

---

      <h2>O tom, jak starýho Carhouna přestala bolet ruka a sehnal si práci</h2>
<p>Tělo odtáhnul do kůlny. Zbaví se ho až skončí sněhová bouře. Podlahu vytřel hadrem. Bude muset znovu vymalovat. To mu byl čert dlužen. Starej Carhoun si sedl na židli a přihnul si z rozpité flašky. Co to?! Jeho pravá ruka...! Poprvé za hodně dlouhou dobu v ní necítil žádnou bolest. Prostě zmizela a nenechala po sobě žádnou památku. Najednou se v místnosti ozvalo ostré zapípání a vytrhlo Carhouna z jeho rozjímání. Vycházelo to z té bundy co visela na věšáku. Pípání stále sílilo a bylo neodbytné. Zvedl se ze židle a začal prohledávat bundu. Z vnitřní kapsy vytáhl mobil Ericsson T250. Chvilku váhal, ale když zvonění nepřestávalo, zmáčkl tlačítko pro příjem hovoru. Přiložil si mobil k uchu.</p>
<p>"Haló...?" řekl nesměle.</p>
<p>"Buď zdráv Igore! Rád tě zase slyším."</p>
<p>"Buď zdráv veliteli, taky sem o Tobě už dlouho neslyšel." řekl Igor Carhoun, "Napadlo mě, že ste toho chlapa poslali vy."</p>
<p>"Co se s ním stalo Igore? Ty's ho zabil?"</p>
<p>"Já ne, můj pes. No, to je teď jedno... Proč vlastně voláš?"</p>
<p>"Nemyslíš, že je čas nastoupit znovu do práce pro Organizaci? Tehdy po tom nepodařeném experimentu sis vzal volno. Vím, že tě to tehdy dost vzalo, ale 15 let je dost dlouhá doba na přemýšlení. Možná bysme znovu potřebovali Tvoje služby. V tomto vesmíru asi neexistuje větší odborník na problematiku paralelních světů než jsi Ty Igore."</p>
<p>"Díky veliteli," usmál se starej Carhoun do telefonu, "ale 15 let je dlouhá doba a já jsem teď starý mrzák. Amputovali mně ruku, víš?"</p>
<p>"My víme. Naklonujeme Ti novou a taky Ti můžeme celkově omladit organismus. To pro Organizaci není problém. Tyto technologie už ovládáme dávno."</p>
<p>Starej Carhoun zaváhal: "A co Elin Pelin, nemůžu ho tu přece nechat samotného?"</p>
<p>"Tak se jmenuje ten Tvůj pes? To je teda pěkně praštěné jméno. To's mu dal Ty? No, to je teď jedno. Může být na základně s Tebou. Vytvoříme mu tu podmínky. Žádný problém." řekl velitel.</p>
<p>Carhoun se zamyslel. "No, vlastně mě tu momentálně nic nedrží a ta nabídka zní lákavě. Už se mně docela stýská po vědecké práci. Možná, že budu moct napravit ty chyby, kterých sem se tehdy dopustil. Mám nějaké nové nápady."</p>
<p>"Tušil sem, že si plácneme, Igore. Tak se připravte. Ty a ten... Elin Pelin nebo jak se vlastně jmenuje. Za chvilku se uvidíme." řekl velitel a zavěsil.</p>
<p>Prostor kolem starýho Carhouna a jeho psa se nepatrně zavlnil...</p>
  <div id="book-navigation-1" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se//merv-fasil/kapitola-14" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 14.</a>
                    <a href="/knihy/procitni-chechtej-se//merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                </div>
    
  </div>
    