---
title: Kapitola 14.
date: 2010-01-21 18:39
layout: book
comments: false

---

      <h2>O setkání starýho Carhouna s teroristou a o tom, že pes je nejlepší přítel člověka</h2>
<p>Starej Carhoun seděl doma za stolem. Přemýšlel o tom co se vlastně stalo. Žil v horách už dlouho. Často neviděl člověka celé týdny. Jediný společník byl jeho pes Elin. Ta holka, co ji našel dnes ráno ho trochu vyvedla z míry. Ty stopy po drápech... Připomněly mu něco, na co by už málem zapomněl. Kdysi dávno, dávno... Experiment, kterého se účastnil. Nedopadlo to tehdy dobře. Raději by to vymazal z paměti. Občas se mu zdály sny, ve kterých viděl tu divnou mlhu, jak vystupuje z jezera a ty drápy... ty oči...</p>
<p>Elin Pelin ležel pod stolem a cítil, že se jeho pán trápí. Cítil taky, že ještě není všemu konec. Ta mrtvola dnes ráno byla jenom první znamení. Elin cítil zlo. Celý se naježil a vycenil zuby. Venku už byla noc a řádila sněhová vánice. Starej Carhoun přiložil do kamen a snažil se na to už nemyslet. Ozvalo se zabušení na dveře a pak někdo sáhl na kliku. Carhoun nikdy nezamykal. Do místnosti vešel vysoký muž. Byl celý pokrytý sněhem. Sundal si kapuci a odkryl obličej.</p>
<p>"Dobrý večer! Promiňte, že ruším, ale zabloudil jsem ve vánici a nemůžu najít svoje auto. Naštěstí jsem uviděl světlo z Vaší chalupy. Nevadilo by Vám, kdybych u Vás počkal než se bouře utiší?" zeptal se Fasil a pohledem odhadoval muže před sebou.</p>
<p>"Samozřejmě," řekl Carhoun. "Odložte si a pojďte se ohřát, postavím na čaj." Ten chlap byl podezřelý. Starej Carhoun byl už na světě nějaký pátek, aby poznal když něco nesedí. Ráno najde mrtvolu a večer se u něj "náhodou" objeví chlap, který nemůže najít auto. Fasil sundal batoh a postavil ho do rohu. Bundu si odložil na věšák. Poznal, že mu ten dědek nevěří, ale zase tak moc mu na tom nezáleželo, přišel sem aby ho zabil. Starej Carhoun postavil na kamna konvici s vodou a z kredence vytáhl láhev samohonky: "Dáte si? Je to domácí pálenka!" Řekl Carhoun a natáhl ruku s flaškou směrem k cizinci.</p>
<p>"Ne, děkuji. Jsem tu vlastně kvůli něčemu jinému. Neznáte náhodou tuhle dívku?" Zeptal se Fasil. Vytáhl z kapsy kalhot fotku Nadine Johnsonové a ukázal ji Carhounovi. Možná, že ten pohyb udělal trochu rychlej, než zamýšlel. V ten samý okamžik, jak napřáhl ruku se zpod stolu vyřítil černý stín. Udělal jeden dlouhý skok a zakousl se mu do hrdla.</p>
<p>Fasil padl na znak na zeď a sesunul se k zemi. Pes trhnul a přerval mu krční tepnu.</p>
<p>Starej Carhoun chvíli pozoroval chroptícího cizince, jak se snaží ucpat si díru v krku vlastníma rukama. Tvářil se u toho hrozně pitomně. Všude stříkala krev. Nebyl to pěkný pohled. Starej Carhoun vytáhl zubama špunt z lahve a pořádně si přihnul.</p>
<p>Elin Pelin byl celý od krve. Vypadal děsivě. "Hodný pejsek!" řekl Carhoun. "Hodný pejsek!" a přihnul si podruhé.</p>
  <div id="book-navigation-1" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/merv-fasil/kapitola-13" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 13.</a>
                    <a href="/knihy/merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/merv-fasil/kapitola-15" class="page-next" title="Přejít na další stranu">Kapitola 15. ›</a>
          </div>

  </div>

