---
title: Kapitola 2.
date: 2010-01-21 18:24
layout: book
comments: false

---

      <h2>O Mervovi Fasilovi, teroristickém útoku a nových technologiích.</h2>
<p>      <br>
Merv Fasil byl ledově klidný, když procházel letištní kontrolou. Na tohle ho trénovali už hodně dlouho. Beze spěchu prošel detektorem kovu. Ozval se signál. Přistoupila k němu žena středních let v uniformě letištní ostrahy a s milým úsměvem ho požádala, aby si všechny kovové předměty odložil na plastový podnos a zkusil projít znovu. Fasil vytáhl z kapes všechny drobné mince a učinil oč ho požádala. Tentokrát prošel hladce a detektor ani nemukl. Ještě ho čekala jedna kontrola. Vysoká ramenatá gorila ve světlém obleku na míru mu zastoupila cestu: "Dejte prosím nohy od sebe a rozpažte!" Řekl muž rázně. Když to Fasil udělal, muž ho prošacoval. Celá prohlídka trvala asi 5 sekund, ale byla opravdu důkladná. Ten chlap byl profík. To musel uznat.<br>
Letadlo se rozjelo a začalo zrychlovat. Tenhle okamžik nesnášel. Viděl jak se křídla třesou a už už to vypadá, že upadnou. Vibrace byly stále rychlejší. Pak se Boing 747 odlepil od země a stoupal do oblak. Fasil si oddechl.<br>
Uličkou projížděla letuška se servírovacím stolkem a s úsměvem kladla všem cestujícím tu samou otázku: "Dáte si rybu nebo hovězí?" Fasil si dal rybu. Nebylo to nic moc, ale to se dalo čekat. Vlastně ani neměl hlad. Důležitý byl příbor. Nůž si schoval do kapsy.<br>
Vyndal ze svého příručního zavazadla malý zlatý zapalovač Zipo. Zvedl se a šel na WC, kde se zamknul. Pomocí malého brousku, který měl skrytý v zapalovači brousil příborový nůž dokud nebyl spokojený.<br>
Vrátil se zpátky na místo. Teď už musel jenom čekat.<br>
V přesně stanovený čas se zvedl ze svého sedadla a kráčel do pilotní kabiny. Nikdo se ho nepokusil zadržet. Dveře byly odemčené. Piloti seděli na svých místech. Fasil vytáhl z kapsy nůž a bleskurychle je oddělal. Zemřeli pár sekund po sobě s překvapenými výrazy ve tvářích. Fasil byl fakt dobře připravený. Zajistil dveře. Cíl byl z letadla už dobře vidět.<br>
Odtáhnul bezvládné tělo kapitána ze sedadla a usednul na jeho místo. Změnil kurs letu přímo na cíl a zapnul autopilota. Pohodlně se usadil v křesle. Zapálil si cigaretu. Z prostoru pro cestující byl slyšet křik. Lidi netušili co se děje, když letadlo náhle změnilo kurs. Letušky se je snažily uklidňovat, ale jejich hrané úsměvy pouze maskovaly bezradnost.<br>
Do splnění úkolu zbývalo už jenom pár minut. Fasil vytáhnul mobilní telefon Ericsson T250. Vyklapnul mluvítko a klidným hlasem pronesl: "Základna!"<br>
Aktivovalo se hlasové vytáčení a za chvilku se ze sluchátka ozval hlas: "Tady základna. Fasile hlaste stav!",<br>
"Mise splněna. Zahajte transport!" Řekl Fasil.<br>
"Rozumím, zahajujeme přenos." Odpověděl hlas na druhém konci.<br>
Prostor kolem Fasila se maličko zachvěl a zdeformoval se. Kolem něho se vytvořila bublina, která zhruba kopírovala tvar jeho těla. Pak se celá pilotní kabina rozzářila podivným namodralým a oslňujícím světlem. Trvalo to jen pár sekund. Když světlo vyhaslo, nebylo po Fasilovi ani památky.<br>
Cestující a zbytek posádky viděli to podivné světlo prosvítající z pilotní kabiny a cítili nějaké zvláštní vibrace, tak nepodobné větrným turbulencím. Byl to jeden z jejich posledních zážitků. Za pár minut stroj dopadl na cíl. </p>
  <div id="book-navigation-1" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/merv-fasil/kapitola-1" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 1.</a>
                    <a href="/knihy/merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/merv-fasil/kapitola-3" class="page-next" title="Přejít na další stranu">Kapitola 3. ›</a>
          </div>

  </div>
<%= partial '/knihy/merv-fasil/content' %>
