---
title: Kapitola 11.
date: 2010-01-21 18:37
layout: book
comments: false

---

      <h2>O zvláštních efektech nad jezerem</h2>
<p>Otevřenými dveřmi z ulice přicházelo světlo, ale nebylo to svítání. Byl to úplně jiný druh světla. Nadine vstala a vyšla na ulici. Nebála se příšer. Bylo jí všechno jedno. Jestli má zemřít, tak ať je to radši dřív než později. Cítila, že další den a noc by už nezvládla. Už teď měla dost. Ulice se zdály liduprázdné, ale přesto cítila, že z postraních tmavých uliček a z temných oken domů ji někdo sleduje. Občas zahlédla rychlý pohyb, nebo zaslechla nějaký šramot. Nevěnovala tomu pozornost. Kráčela za světlem dolů hlavní ulicí. Šla pomalu a důstojně. Ulice směřovala k jezeru, ze kterého vycházelo světlo. Vypadalo to, jako by celé jezero, každá jeho molekula, zářilo. Nadine minula pár stromů a lavičku až stála na písečném břehu. Vypadalo to nádherně. Bylo slyšet vítr, šumění stromů a šplouchání vln. Chvilku pozorovala tu scenérii. Pak se na jezeře začala tvořit mlha. Napřed to byl jenom takový slabý světélkující opar, se kterým si pohrával vítr, ale postupem času to houstlo čím dál víc. Za pár minut pokryla asi půlmetrová vrstva světélkující mlhy celé jezero.</p>
<p>Nadine to celé s úžasem pozorovala. Najednou začala mlha na krajích ustupovat a uprostřed jezera, přímo před jejíma očima se z mlhy začalo něco formovat. Zprvu to vypadalo jenom jako nevzhledná hromada. Za pár minut už se daly rozeznat oči, nos a ústa. Za další chvíli se z už mlhy vynořil obličej.</p>
  <div id="book-navigation-1" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/merv-fasil/kapitola-10" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 10.</a>
                    <a href="/knihy/merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/merv-fasil/kapitola-12" class="page-next" title="Přejít na další stranu">Kapitola 12. ›</a>
          </div>

  </div>

