---
title: Kapitola 5.
date: 2010-01-21 18:32
layout: book
comments: false

---

      <h2>O zaskočeném teroristovi a souboji na život a na smrt.</h2>
<p>Teleport zrovna nepatřil k nejoblíbenějším dopravním prostředkům Merva  Fasila. Vždycky se potom cítil dezorientovaný a bylo mu špatně od žaludku. Naštěstí věděl, že to za chvilku přejde. Provedl pár dechových cvičení, tak jak ho to učili v tréninku. Když dostal svoje základní životní funkce jakž takž pod kontrolu, zvedl mobil k uchu. "Na drátě" měl pořád ještě základnu.</p>
<p>"Fasile, gratulujeme! Splnil jste svůj úkol na výbornou. Škoda, kterou utrpěl nepřítel, je maximální."</p>
<p>"Děkuji pane!" řekl Fasil naučeným způsobem.</p>
<p>"Teď dobře poslouchejte, nemáme moc času. Satelitní snímky ukázaly, že v oblasti Vašeho dopadu se pohybují dvě neznámé osoby. Udělejte maximum pro utajení operace. Za žádnou cenu nesmíte být prozrazen vy ani váš úkol."</p>
<p>"Rozumím pane!" řekl Fasil a zavěsil. Poprvé se rozhlédl kolem sebe a vyděsil se. Z kapradí na něho hleděl přízrak. Jejich pohledy se na okamžik setkaly. Asi tak na setinu sekundy. Hned potom na něho Temurua skočil. Fasil měl rychlé reflexy, stihnul ještě v sedě natáhnout ruce před sebe a zachytil padající tělo. Pak udělal kotoul dozadu a přehodil Temuruu za sebe. Teď už stál zase na nohách a koncentroval se. Jeho protivník se rychle postavil a zaujal obrannou pozici. Konečně si ho Fasil mohl trochu prohlédnout. Byl to urostlý svalnatý chlápek. Na první pohled byl buď ostrovan nebo maor. Došlo mu, že ta tvář, která ho předtím vyděsila, byla jenom potetovaná. Fasil se na sebe zlobil. Nerad dělal chyby. Přestože Temurua byl trénovaný a měl zkušenosti z pouličních bitek, proti Fasilovi se speciálním výcvikem neměl valnou šanci. Celý souboj trval jenom pár minut. Temuruovi se podařilo uštědřit protivníkovi pár zásahů, ale Fasil si uměl počkat až udělá chybu. Pak ho chytil ho do kravaty a zlomil mu vaz.</p>
<p>V tomtéž okamžiku na jiném místě v pralese padl strom. Ten zvuk se rozléhal široko daleko, ale i kdyby ho někdo slyšel, asi by tomu nevěnoval pozornost. Stromy v pralese prostě občas padají. Prý se to stává vždycky, když zemře bojovník.</p>
  <div id="book-navigation-1" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/merv-fasil/kapitola-4" class="page-previous" title="Přejít na předchozí stranu">‹ Kapitola 4.</a>
                    <a href="/knihy/merv-fasil" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/merv-fasil/kapitola-6" class="page-next" title="Přejít na další stranu">Kapitola 6. ›</a>
          </div>

  </div>

