---
title: O džňánajóze
date: 2010-01-22 07:57
layout: book
comments: false

---

      <p>Z knihy Drahokamy 2 od Květoslava Minaříka</p>
  <div id="book-navigation-21" class="book-navigation">
    <ul class="menu">
<li class="leaf first"><a href="/kvetoslav-minarik/dznanajoga/o-dznanajoze/strucna-definice-jogy-jejich-systemu">Stručná definice jógy a jejích systému</a></li>
<li class="leaf"><a href="/kvetoslav-minarik/dznanajoga/o-dznanajoze/tri-svety">Tři světy</a></li>
<li class="leaf"><a href="/kvetoslav-minarik/dznanajoga/o-dznanajoze/makrosvet-dznany">Makrosvět džňány</a></li>
<li class="leaf"><a href="/kvetoslav-minarik/dznanajoga/o-dznanajoze/praxe-dznany">Praxe džňány</a></li>
<li class="leaf"><a href="/kvetoslav-minarik/dznanajoga/o-dznanajoze/vysvetleni">Vysvětlení</a></li>
<li class="leaf last"><a href="/kvetoslav-minarik/dznanajoga/o-dznanajoze/zaver">Závěr</a></li>
</ul>
        <div class="page-links clear-block">
                          <a href="/kvetoslav-minarik/dznanajoga/o-dznanajoze/strucna-definice-jogy-jejich-systemu" class="page-next" title="Přejít na další stranu">Stručná definice jógy a jejích systému ›</a>
          </div>

  </div>

