---
title: Beránek
date: 2011-04-27 07:54
layout: book
comments: false

---

      <pre style="text-align:center;float:left;width:45%;">
Beránku, kdo tě stvořil?
Víš vůbec, kdo tě stvořil?
Žít ti dal a napást se
u potoka na louce?
Oblékl tě radostí
z jemné vlny nejhustší?
Dal ti hlas, jímž hlaholí
šťastně všechna údolí?
Beránku, kdo tě stvořil?
Beránku, víš vůbec, kdo tě stvořil?

Beránku, já povím ti,
Beránku, já povím ti:
Používá jméno tvé,
sám si říká beránek.
Nezná pýchu, nezná hněv,
stal se malým děťátkem.
Dítě já, ty beránek –
jeho jméno nosíme.
Beránku, buď požehnán!
Beránku, buď požehnán!
</pre>
<pre style="text-align:center;float:right;width:45%;">
Little lamb, who made thee? 
Does thou know who made thee, 
Gave thee life, and bid thee feed 
By the stream and o'er the mead; 
Gave thee clothing of delight, 
Softest clothing, woolly, bright; 
Gave thee such a tender voice, 
Making all the vales rejoice? 
Little lamb, who made thee? 
Does thou know who made thee? 

Little lamb, I'll tell thee; 
Little lamb, I'll tell thee: 
He is called by thy name, 
For He calls Himself a Lamb. 
He is meek, and He is mild, 
He became a little child. 
I a child, and thou a lamb, 
We are called by His name. 
Little lamb, God bless thee! 
Little lamb, God bless thee!
</pre>
<div style="clear:both"></div>
<p><em>THE LAMB do češtiny přeložil Zdeněk Hron</em></p>
  <div id="book-navigation-145" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/ecchoing-green" class="page-previous" title="Přejít na předchozí stranu">‹ Ecchoing green</a>
                    <a href="/knihy/procitni-chechtej-se/" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/cernousek" class="page-next" title="Přejít na další stranu">Černoušek ›</a>
          </div>
    
  </div>
    