---
title: Černoušek
date: 2011-04-27 07:20
layout: book
comments: false

---

      <pre style="text-align:center;float:left;width:45%;font-size:90%">
Já mámě jsem se narodil v divočině
a černý jsem, jen duši bílou mám,
jak andílek bílý je Angličánek -
já černý jsem, skoro jak v pytli tma.

Mě maminka učila pod stromem,
tam si sedla, než slunce začlo prát,
a pusy mi dávala na klíně –
když sluníčko vylezlo, říkala:

„Tam se dívej, sluníčko! V něm je bůh,
co svítí nám a teplo dává všem,
a zvíře i strom a člověk i vzduch
jím okřeje ráno i v poledne.

Jen proto kout na zemi je nám dán,
že paprsky lásky snést naučí
a černá tvář i těla spálená
jsou mrak a háj, v kterých si najdeme klid.

Až pochopí duše, jak snášet žár,
mrak rozplyne se, on nás zavolá
a řekne: „Pojďte sem, mám vás rád,
jak beránci ke mě e pojďte pást.”

To máma mi říkala na klíně,
teď Angličánkovi to říkám já.
Já černý mrak, on bílý rozhrne,
jak beránci k němu půjdeme se pást,

sám před žárem budu mu dělat stín,
než  otcům mým vleze si do klína.
Pak stříbrné vlásky mu pohladím:
budu jak on - a bude mě mít rád.
</pre>
<pre style="text-align:center;float:right;width:50%;font-size:90%">
My mother bore me in the southern wild, 
And I am black, but O my soul is white! 
White as an angel is the English child, 
But I am black, as if bereaved of light. 

My mother taught me underneath a tree, 
And, sitting down before the heat of day, 
She took me on her lap and kissed me, 
And, pointing to the East, began to say: 

'Look on the rising sun: there God does live, 
And gives His light, and gives His heat away, 
And flowers and trees and beasts and men receive 
Comfort in morning, joy in the noonday. 

'And we are put on earth a little space, 
That we may learn to bear the beams of love; 
And these black bodies and this sunburnt face 
Are but a cloud, and like a shady grove. 

'For, when our souls have learned the heat to bear, 
The cloud will vanish, we shall hear His voice, 
Saying, "Come out from the grove, my love and care, 
And round my golden tent like lambs rejoice."' 

Thus did my mother say, and kissed me, 
And thus I say to little English boy. 
When I from black, and he from white cloud free, 
And round the tent of God like lambs we joy, 

I'll shade him from the heat till he can bear 
To lean in joy upon our Father's knee; 
And then I'll stand and stroke his silver hair, 
And be like him, and he will then love me.
</pre>
<div style="clear:both"></div>
<p><em>THE LITTLE BLACK BOY do češtiny přeložil Zdeněk Hron</em></p>
  <div id="book-navigation-145" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/beranek" class="page-previous" title="Přejít na předchozí stranu">‹ Beránek</a>
                    <a href="/knihy/procitni-chechtej-se/" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/kominicek" class="page-next" title="Přejít na další stranu">Kominíček ›</a>
          </div>
    
  </div>
    