---
title: Chůvina píseň
date: 2011-04-27 07:51
layout: book
comments: false

---

      <pre style="text-align:center;float:left;width:44%;font-size:90%">
Když venku křik dětí se ozývá,
smích veselý na kopci zní,
já utichám, klid v srdci mám
a mlčí vše ostatní.

„Již zapadlo slunce, čas domů je jít,
zem rosou je navlhlá;
teď nelze si hrát, teď musíme snít,
až jitro zas na nebi vzplá.”

„Ne, nechte nás hrát, teď nemůžem spát,
vždyť všude je světlo a ruch;
vždyť kopeček je pln oveček
a ptáčaty hemží se vzduch.”

„Nuž, hrejte si jen, až dohasne den;
pak pospěšte do postýlky.”
Zněl jásot a smích těch maličkých
a hory zní ozvěnou.
</pre>
<pre style="text-align:center;float:right;width:55%;font-size:90%">
When voices of children are heard on the green, 
And laughing is heard on the hill, 
My heart is at rest within my breast, 
And everything else is still. 

'Then come home, my children, the sun is gone down, 
And the dews of night arise; 
Come, come, leave off play, and let us away, 
Till the morning appears in the skies.' 

'No, no, let us play, for it is yet day, 
And we cannot go to sleep; 
Besides, in the sky the little birds fly, 
And the hills are all covered with sheep.' 

'Well, well, go and play till the light fades away, 
And then go home to bed.' 
The little ones leaped, and shouted, and laughed, 
And all the hills echoed.
</pre>
<div style="clear:both"></div>
<p><em>NURSE'S SONG do češtiny přeložil Jaroslav Skalický</em></p>
  <div id="book-navigation-145" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/jaro" class="page-previous" title="Přejít na předchozí stranu">‹ Jaro</a>
                    <a href="/knihy/procitni-chechtej-se/" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/sen" class="page-next" title="Přejít na další stranu">Sen ›</a>
          </div>
    
  </div>
    