---
title: Ecchoing green
date: 2011-04-27 07:53
layout: book
comments: false

---

      <pre style="text-align:center;float:left;width:45%;">
Slunce vychází,
a nebesa jsou krásnější,
veselé zvony zní,
a vítají jaro.
Nebeský skřivan a drozd,
a ptactvo křovisek,
zpívají hlasitě všem.
Též zvony zní,
chvíle našich her,
na Ecchoing Green.

Starý bělovlasý John
se starostlivě směje,
sedíce za dubem,
mezi staroušky.
Smějíce se našim hrám.
brzo všichni řeknou,
bylo tak hezky,
když všechny chlapce a dívky
mladé, svěží jsme viděli,
na Ecchoing Green.

Malé to již omrzívá,
už není mnoho veselých,
slunce už zapadá
a naše hry se končí:
mnoho sester a bratrů,
odchází v matčin klín,
milujíce ptáky v hnízdech,
a chystají se odpočívat,
hra je téměř u konce,
na stmívající se Green.</pre>
<pre style="text-align:center;float:right;width:45%;">
The sun does arise,
And make happy the skies;
The merry bells ring
To welcome the Spring;
The skylark and thrush,
The birds of the bush,
Sing louder around
To the bells' cheerful sound;
While our sports shall be seen
On the echoing green.

Old John, with white hair,
Does laugh away care,
Sitting under the oak,
Among the old folk.
They laugh at our play,
And soon they all say,
'Such, such were the joys
When we all - girls and boys -
In our youth-time were seen
On the echoing green.'

Till the little ones, weary,
No more can be merry:
The sun does descend,
And our sports have an end.
Round the laps of their mothers
Many sisters and brothers,
Like birds in their nest,
Are ready for rest,
And sport no more seen
On the darkening green.
</pre>
<div style="clear:both"></div>
<p><em>THE ECHOING GREEN do češtiny přeložil Ota Sláma</em></p>
  <div id="book-navigation-145" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/" class="page-previous" title="Přejít na předchozí stranu">‹ William Blake - Zpěvy nevinnosti</a>
                    <a href="/knihy/procitni-chechtej-se/" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/beranek" class="page-next" title="Přejít na další stranu">Beránek ›</a>
          </div>

  </div>

