---
title: William Blake - Zpěvy nevinnosti
date: 2011-04-27 07:53
layout: book
comments: false

---

      <pre style="text-align:center;float:left;width:45%;">
Pískám já si údolím,
pískám pěkně do kroku,
s úsměvem mě poprosí
malý chlapec na mraku:

„Ó, beránku, zapískej.”
Do tance jsem zapískal.
„Ještě mi zapískej.”
Hrál jsem – do pláče se dal.

„Zahoď šťastnou píšťalu,
šťastné písničky bych bral.”
Když jsem stejnou zapískal,
radostí se rozplakal.

„Co jsi pískal, do knížky
sepiš, jen ať počtou si .”
Potom z očí zmizel mi.
A já utrh rákosí,

pero jsem z něj udělal,
čistou vodu zakalil,
pěkné písničky jsem psal –
abych děti pobavil.</pre>
<pre style="text-align:center;float:right;width:45%;">
Piping down the valleys wild,
Piping songs of pleasant glee,
On a cloud I saw a child,
And he laughing said to me:

'Pipe a song about a Lamb!'
So I piped with merry cheer.
'Piper, pipe that song again.'
So I piped: he wept to hear.

'Drop thy pipe, thy happy pipe;
Sing thy songs of happy cheer!'
So I sung the same again,
While he wept with joy to hear.

'Piper, sit thee down and write
In a book, that all may read.'
So he vanished from my sight;
And I plucked a hollow reed,

And I made a rural pen,
And I stained the water clear,
And I wrote my happy songs
Every child may joy to hear.
</pre>
<div style="clear:both"></div>
<p><em>INTRODUCTION do češtiny přeložil Zdeněk Hron</em></p>
  <div id="book-navigation-145" class="book-navigation">
    <ul class="menu">
<li class="leaf first"><a href="/knihy/william-blake/zpevy-nevinnosti/ecchoing-green">Ecchoing green</a></li>
<li class="leaf"><a href="/knihy/william-blake/zpevy-nevinnosti/beranek">Beránek</a></li>
<li class="leaf"><a href="/knihy/william-blake/zpevy-nevinnosti/cernousek">Černoušek</a></li>
<li class="leaf"><a href="/knihy/william-blake/zpevy-nevinnosti/kominicek">Kominíček</a></li>
<li class="leaf"><a href="/knihy/william-blake/zpevy-nevinnosti/ztraceny-chlapec">Ztracený chlapec</a></li>
<li class="leaf"><a href="/knihy/william-blake/zpevy-nevinnosti/nalezeny-chlapec">Nalezený chlapec</a></li>
<li class="leaf"><a href="/knihy/william-blake/zpevy-nevinnosti/zpev-o-smichu">Zpěv o smíchu</a></li>
<li class="leaf"><a href="/knihy/william-blake/zpevy-nevinnosti/jaro">Jaro</a></li>
<li class="leaf"><a href="/knihy/william-blake/zpevy-nevinnosti/chuvina-pisen">Chůvina píseň</a></li>
<li class="leaf last"><a href="/knihy/william-blake/zpevy-nevinnosti/sen">Sen</a></li>
</ul>
        <div class="page-links clear-block">
                          <a href="/knihy/william-blake/zpevy-nevinnosti/ecchoing-green" class="page-next" title="Přejít na další stranu">Ecchoing green ›</a>
          </div>

  </div>

