---
title: Jaro
date: 2011-04-27 07:48
layout: book
comments: false

---

      <pre style="text-align:center;float:left;width:45%;">
Flétno, zni!
Nezazní.
Ptačí hlas
má víc krás.
Slavíci
pějící,
skřivani
na stráni
vesele, vesele vítají jaro.

Hošíci
křičící.
Děvčátka
přiláká
kokrháč.
I ty znáš
šťastný zpěv,
dětský řev,
vesele, vesele vítáme jaro.

Beránku,
ve vánku
olízáš
moji tvář.
Mám rád, víš,
hebkou stříž.
Zlíbám tě
dojatě.
Vesele, vesele vítáme jaro.
</pre>
<pre style="text-align:center;float:right;width:55%;">
Sound the flute! 
Now it's mute! 
Birds delight, 
Day and night, 
Nightingale, 
In the dale, 
Lark in sky, - 
Merrily, 
Merrily, merrily to welcome in the year. 

Little boy, 
Full of joy; 
Little girl, 
Sweet and small; 
Cock does crow, 
So do you; 
Merry voice, 
Infant noise; 
Merrily, merrily to welcome in the year. 

Little lamb, 
Here I am; 
Come and lick 
My white neck; 
Let me pull 
Your soft wool; 
Let me kiss 
Your soft face; 
Merrily, merrily we welcome in the year.
</pre>
<div style="clear:both"></div>
<p><em>SPRING do češtiny přeložil Jiří Valja</em></p>
  <div id="book-navigation-145" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/zpev-o-smichu" class="page-previous" title="Přejít na předchozí stranu">‹ Zpěv o smíchu</a>
                    <a href="/knihy/procitni-chechtej-se/" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/chuvina-pisen" class="page-next" title="Přejít na další stranu">Chůvina píseň ›</a>
          </div>
    
  </div>
    