---
title: Kominíček
date: 2011-04-27 07:25
layout: book
comments: false

---

      <pre style="text-align:center;float:left;width:42%;font-size:90%;margin-left:-25px">
Máma umřela, byl jsem ještě hoch,
táta prodal mě hned, jak jsem se zmoh
zakřičet: „Vymetám, vymetám!”
Komín vyčistím vám a v sazích spím sám.

Malý Tom Dacre, ten řval, když mu hlavu
jak beránkovi halili. Povídám mu:
„Kuš, Tome!  Kuš! Vlasům teď nevadí,
když zamažeš se, nebudeš od sazí.”

A Tom přestal řvát, šel vám hned spát
a v noci si, chudák, dal tohle zdát:
že tisíc kominíčků – Jack, Joe, Dick, Ned -
a všechny vám do rakví zavřeli je.

A šel kolem anděl, měl ze zlata klíč,
rakve jim otevřel, mohli jít pryč;
pak po louce běhali, jako ti zajíci,
cákali v řece, hřáli se na slunci.

Pak nazí jak sníh, nikde už žádný sak,
si světem šli hrát, každý na svůj mrak;
anděl řek Tomovi, když si splní, co má,
že bůh bude mu otcem, že u něj je doma.

Vtom vzbudil se Tom; my vstali do té tmy
a se štětkou, s pytlem jsme do práce šli.
Tom v teplíčku si šel, i když na nás táh chlad:
Konáš povinnost? Pak nemáš se čeho bát!
</pre>
<pre style="text-align:center;float:right;width:53%;font-size:90%">
When my mother died I was very young,
And my father sold me while yet my tongue
Could scarcely cry 'Weep! weep! weep! weep!'
So your chimneys I sweep, and in soot I sleep.

There's little Tom Dacre, who cried when his head,
That curled like a lamb's back, was shaved; so I said,
'Hush, Tom! never mind it, for, when your head's bare,
You know that the soot cannot spoil your white hair.'

And so he was quiet, and that very night,
As Tom was a-sleeping, he had such a sight! -
That thousands of sweepers, Dick, Joe, Ned, and Jack,
Were all of them locked up in coffins of black.

And by came an angel, who had a bright key,
And he opened the coffins, and set them all free;
Then down a green plain, leaping, laughing, they run
And wash in a river, and shine in the sun.

Then naked and white, all their bags left behind,
They rise upon clouds, and sport in the wind:
And the angel told Tom, if he'd be a good boy,
He'd have God for his father, and never want joy.

And so Tom awoke, and we rose in the dark,
And got with our bags and our brushes to work.
Though the morning was cold, Tom was happy and warm:
So, if all do their duty, they need not fear harm.
</pre>
<div style="clear:both"></div>
<p><em>THE CHIMNEY-SWEEPER do češtiny přeložil Zdeněk Hron</em></p>
  <div id="book-navigation-145" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/william-blake/zpevy-nevinnosti/cernousek" class="page-previous" title="Přejít na předchozí stranu">‹ Černoušek</a>
                    <a href="/knihy/william-blake/zpevy-nevinnosti/" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/william-blake/zpevy-nevinnosti/ztraceny-chlapec" class="page-next" title="Přejít na další stranu">Ztracený chlapec ›</a>
          </div>

  </div>

