---
title: Nalezený chlapec
date: 2011-04-27 07:39
layout: book
comments: false

---

      <pre style="text-align:center;float:left;width:42%;">
Ztracený chlapec v mokřině,
našel prut kouzelně svítící,
začíná plakat, leč Bůh noci mučivé,
mu seslal světlo.

Políbil dítě a vede jej
k  jeho máti znavené,
jež v žalu skrz samotu údolí,
chlapce svého s pláčem hledá.
</pre>
<pre style="text-align:center;float:right;width:54%;">
The little boy lost in the lonely fen, 
Led by the wandering light, 
Began to cry, but God, ever nigh, 
Appeared like his father, in white. 

He kissed the child, and by the hand led, 
And to his mother brought, 
Who in sorrow pale, through the lonely dale, 
Her little boy weeping sought.
</pre>
<div style="clear:both"></div>
<p><em>THE LITTLE BOY FOUND do češtiny přeložil Jiří Valja</em></p>
  <div id="book-navigation-145" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/ztraceny-chlapec" class="page-previous" title="Přejít na předchozí stranu">‹ Ztracený chlapec</a>
                    <a href="/knihy/procitni-chechtej-se/" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/zpev-o-smichu" class="page-next" title="Přejít na další stranu">Zpěv o smíchu ›</a>
          </div>
    
  </div>
    