---
title: Sen
date: 2011-04-27 07:50
layout: book
comments: false

---

      <pre style="text-align:center;float:left;width:45%;">
V loži chráněn andělem
zastíněn jsem kdys byl snem:
v trávě leží, tak jsem snil,
mravenec tam zabloudil.

Vzrušen, zmaten, zaslepen,
znaven, nocí  překvapen,
v spleti snítek ztracen šel,
sklíčen v úzkosti své děl:

„Pláčou dítky milené?
Slyší-li tam vzdechy mé?
Jdou teď  ven mne vyhlížet -
s pláčem zas se vrátí zpět!”

Lítostí jsem zaslzel,
vtom však světlušku jsem zřel;
řekla: „Brachu, co tu lkáš,
pláčem voláš noční stráž?

Svítit mám v těch místech zde;
chrobák hlídač támhle jde,
bzučí – jeho následuj,
poutníčku, spěš v domov svůj”
</pre>
<pre style="text-align:center;float:right;width:45%;">
Once a dream did weave a shade
O'er my angel-guarded bed,
That an emmet lost its way
Where on grass methought I lay.

Troubled, wildered, and forlorn,
Dark, benighted, travel-worn,
Over many a tangled spray,
All heart-broke, I heard her say:

'O my children! do they cry,
Do they hear their father sigh?
Now they look abroad to see,
Now return and weep for me.'

Pitying, I dropped a tear:
But I saw a glow-worm near,
Who replied, 'What wailing wight
Calls the watchman of the night?'

'I am set to light the ground,
While the beetle goes his round:
Follow now the beetle's hum;
Little wanderer, hie thee home!'
</pre>
<div style="clear:both"></div>
<p><em>A DREAM do češtiny přeložil Jaroslav Skalický</em></p>
  <div id="book-navigation-145" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/william-blake/zpevy-nevinnosti/chuvina-pisen" class="page-previous" title="Přejít na předchozí stranu">‹ Chůvina píseň</a>
                    <a href="/knihy/william-blake/zpevy-nevinnosti/" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                </div>

  </div>

