---
title: Zpěv o smíchu
date: 2011-04-27 07:39
layout: book
comments: false

---

      <pre style="text-align:center;float:left;width:42%;">
Když se celý les směje radostí,
když se potůček směje z bujnosti,
když se směje vzduch naším hlasem,
když se ozvěnou směje horský lem,

když se zasměje zeleň na lukách,
když se kobylka směje při svých hrách,
když zní Zuzance, Mance, Emilce
z našpulených rtů píseň od srdce,

když se ptačí sbor směje v lesíku
a máš plný stůl třešní, oříšků,
jen se vesele přidej k písničce,
rozjásejme se všichni od srdce!
</pre>
<pre style="text-align:center;float:right;width:54%;">
When the green woods laugh with the voice of joy, 
And the dimpling stream runs laughing by; 
When the air does laugh with our merry wit, 
And the green hill laughs with the noise of it; 

When the meadows laugh with lively green, 
And the grasshopper laughs in the merry scene; 
When Mary and Susan and Emily 
With their sweet round mouths sing 'Ha ha he!' 

When the painted birds laugh in the shade, 
Where our table with cherries and nuts is spread: 
Come live, and be merry, and join with me, 
To sing the sweet chorus of 'Ha ha he!'
</pre>
<div style="clear:both"></div>
<p><em>LAUGHING SONG do češtiny přeložil Jiří Valja</em></p>
  <div id="book-navigation-145" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/nalezeny-chlapec" class="page-previous" title="Přejít na předchozí stranu">‹ Nalezený chlapec</a>
                    <a href="/knihy/procitni-chechtej-se/" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/jaro" class="page-next" title="Přejít na další stranu">Jaro ›</a>
          </div>
    
  </div>
    