---
title: Ztracený chlapec
date: 2011-04-27 07:27
layout: book
comments: false

---

      <pre style="text-align:center;float:left;width:44%;">
„Táto, táto, kam jsi šel,
počkej na mě chvíli,”
říkám já, tvůj malý syn,
„já se jinak ztratím.”

Noc je temná,
otec nejde a urousané dítě
pláče u hlubokých mokřin
a mlha jej zahaluje.
</pre>
<pre style="text-align:center;float:right;width:55%;">
'Father, father, where are you going? 
O do not walk so fast! 
Speak, father, speak to your little boy, 
Or else I shall be lost.' 

The night was dark, no father was there, 
The child was wet with dew; 
The mire was deep, and the child did weep, 
And away the vapour flew.
</pre>
<div style="clear:both"></div>
<p><em>THE LITTLE BOY LOST do češtiny přeložil Ota Sláma</em></p>
  <div id="book-navigation-145" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/kominicek" class="page-previous" title="Přejít na předchozí stranu">‹ Kominíček</a>
                    <a href="/knihy/procitni-chechtej-se/" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/nalezeny-chlapec" class="page-next" title="Přejít na další stranu">Nalezený chlapec ›</a>
          </div>
    
  </div>
    