%footer#footer.row
  %section.tac.large-2.columns
    %h4
      %small Analytika webu
    <a href="http://www.toplist.cz/"><img src="http://toplist.cz/count.asp?id=1626242&logo=bc" border="0" alt="TOPlist" width="88" height="120" /></a>

  %section.tac.large-4.columns
  %section.tac.large-3.columns
    %br
    Licence:
    = image_tag 'http://i.creativecommons.org/l/by/3.0/cz/80x15.png'
    %br
    = link_to 'Zdrojové kódy stránek', 'https://github.com/fanda/ifanda.cz'
    %br
    %pre
      pull request
      pro článek sem

  %section.large-3.columns
    <a href="http://www.webarchiv.cz/files/vydavatele/certifikat.html" onclick="return !window.open(this, 'kod', 'toolbar=no, menubar=no, directories=no, resizable=yes, status=no, width=600, height=210, top=200, left=50')"><img title="STRÁNKY ARCHIVOVÁNY NÁRODNÍ KNIHOVNOU ČR" style="border:none" oncontextmenu="return false" src="http://www.webarchiv.cz/images/ikona4.jpg"></a>
