%footer#footer.row.wrapper
  %section.half.taj
    %h3 O stránkách a o mně
    Internet je podle mě médium, které bude vždy o kus předemnou. Ovšem vždycky na tom budou někteří ještě hůř než já a těm jsou stránky určeny především.
    %br
    Stránky jsou na Internetu od roku 2008. Zažily hodně změn a byly častokrát opuštěny. Zásadní změna přišla v roce 2014, kdy jsem provedl redesign a sloučil všechny tématické větve do hlavní stránky.
    %br
    Já jsem fanda, moravský #{link_to 'programátor na volné noze', 'http://programatornavolnenoze.cz'}.
  %section.quarter.tac
    %br
    Licence na obsah:
    = image_tag 'http://i.creativecommons.org/l/by/3.0/cz/80x15.png'
    %br
    = link_to 'Zdrojové kódy stránek', 'https://github.com/fanda/ifanda.cz'
    %br
    %br
    <a href="http://www.webarchiv.cz/files/vydavatele/certifikat.html" onclick="return !window.open(this, 'kod', 'toolbar=no, menubar=no, directories=no, resizable=yes, status=no, width=600, height=210, top=200, left=50')"><img title="STRÁNKY ARCHIVOVÁNY NÁRODNÍ KNIHOVNOU ČR" style="border:none" oncontextmenu="return false" src="http://www.webarchiv.cz/images/ikona4.jpg"></a>
  %section.quarter
    pra
