%header#header
  #noc
  .content
    %h1
      %a{:href => '/', :title => 'Fanda Internetu'}
    #primary
      %ul.links.primary-links.tac
        %li=link_to 'Audio', '/audio/'
        %li=link_to 'Internet', '/video/'
        %li=link_to 'IT', '/it/'
        %li=link_to 'Matematika', '/matematika/'
        %li=link_to 'Odkazy', '/odkazy/'
        %li=link_to 'Ostatní', '/ostatni/'
        %li=link_to 'Seberozvoj', '/seberozvoj/'
        %li=link_to 'Video', '/video/'

#featured.content.centered
  Od audio, až po video.

