---
pageable: true
per_page: 11
---
- content_for :sidebar do
  = partial '/partials/affiliate_300x600'

- wrap_layout :layout do
  %article{"style"=>"display: block"}
    %header
      = partial '/partials/list_header', :locals => {:article => current_article}
    = yield
    %footer
