---
pageable: true
per_page: 11
---
- content_for :sidebar do
  = partial '/partials/affiliate_300x600'

- wrap_layout :layout do
  %article{"style"=>"display: block"}
    %header
      %h1
        %small
          %time= current_article.date.strftime('%e. %_m. %Y')
        = current_article.title
    = yield
    %footer
