- wrap_layout :layout do
  %h1 video aly
  %article{"style"=>"display: block"}
    %header
      %h1
        %small
          %time= current_article.date.strftime('%e. %_m. %Y')
          = current_article.title
    = yield
    %footer
