---
title: Vysvětlení
date: 2010-01-22 11:09
layout: book
comments: false

---
<p>V této práci se čtenář dozvěděl. že existují tři kontinua jako jevy samostatné, na sobě nezávislé. To se bude jevit v odboru k tvrzením v jiných pracích, že vše je jednotou. Esence, substance i tvary. Jenže toto tvrzení je uváděno z hlediska "prázdnoty kosmu", tedy z hlediska začátku nebo vzniku tvorby. Z této prázdnoty je patrné, že všechno je prázdnotou a vizuálně pak jenom mrakem, jehož původ se zdá být v momentě, kdy se to, co nazývám absolutnem, v sobě zavlnilo a tím dalo vzniknout diferenciaci, která se už sama projevila jako ony substance a tvary.</p>
<p>My však mluvíme o rozvíjejícím poznávání, jež se získává prací džňány. Z tohoto hlediska by se dalo říci, že při návratu jevů do prázdnoty vnitřním vývojem, který je dokumentován zbavováním se vědomí diferencovaných pojmů a tím konečně vyhraněných jevů vůbec, bytost vše analyzující vždy náhle opouští jedno kontinuum, aby vstoupila svým sebeuvědomění do kontinua druhého. když konečně vyloučí i pojem energie i potenciální a sil a přejde prostě do prázdnoty, poznávané především jako vědomí, tj. do kontinua třetího. </p>
<p>Na úrovni bytí není tedy tvar nikdy energií ani energie bezmeznou prázdnotou, ale jsou to jevy z kvalit těchto tří složené, a v úzké koordinaci spolupracující. Osobní vědomí má v této souhře tu vlastnost, že může sídlit buď ve složkách odpovídajících světu tvarů, nebo v oblasti energií a sil, nebo se může sloučit s prázdnotou absolutna a přetvořit se ve vědomí kosmické, ve vševědomí.</p>
<p>Ve světě tvarů setrvává vědomí všech primitivních tvorů. I lidé, kteří setrvávají svými zájmy pouze na úrovni hmoty, neboť zcela podléhají chuti, tj. touze po smyslových prožitcích, patří do kategorie tvorů primitivních. Proto také věří jen v existenci jednoho světa, hmotného.</p>
<p>Byly však doby, kdy se ještě hmota vyvíjela do tvarů příslušné hutnosti. Tehdy existovaly bytosti se subtilními těly utvořenými jakoby z průzračné a nehmotné látky. Tehdy byl tento náš svět ještě na úrovni vývoje, která jej učinila nehmatným a pro naše nynější postřehy prostě astrálním. A tento svět lze dosud najít na cestě návratu vědomí k nediferencujícím projevům. A protože se na úrovni. A protože se na úrovni sebeuvědomění může živá bytost v tomto světě ocitnou pouze jakýmsi náhlým přesmyknutím z hmotných pojmů do pojmů silových můžeme soudit, že kontinuum jevů je zcela odděleno od kontinua sil a energií potenciálně tvůrčích.</p>
<p>A zase: teprve když se vědomí zbaví pojetí energetického skutečna, teprve potom se v něm rozvine prázdnota, která není-li diferencována ani podružným uvědoměním si sebe sama nebo bytí - ukáže se být prázdnotou absolutna. Tu tedy je opět ostrá dělící čára mezi kontinuem energie a sil, potenciálně tvůrčích to faktorů, a kontinuem prázdnoty, kontinuem vědomí a absolutna, jež jsou faktory totožnými, jakmile poslední záblesk osobního sebeuvědomování zhasne. </p>
<p>Teprve přesunem osobního vědomí v absolutno a jejich vzájemným sloučením bude poznán celý vesmír od tvaru až o vědomí jako jednota, jako absolutno samo, jako prázdnota, v níž jsou jevy pouze zvláštním případem této veliké kosmické prázdnoty. A tu teprve zřejmé, že esence, substance a tvary jsou koreláty, jak jsem řekl kdesi jinde.</p>
  <div id="book-navigation-21" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/kvetoslav-minarik/o-dznanajoze/praxe-dznany" class="page-previous" title="Přejít na předchozí stranu">‹ Praxe džňány</a>
                    <a href="/knihy/kvetoslav-minarik/o-dznanajoze" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/kvetoslav-minarik/o-dznanajoze/zaver" class="page-next" title="Přejít na další stranu">Závěr ›</a>
          </div>

  </div>

