---
title: Mapex proM Limited Edition
date: 2009-10-15 23:46
layout: article
comments: false
tags: [audio]
geshifilter: false
---
<p>V dnešní době už toho mnoho vymyslet nelze, zvlášť pokud se jedná o bicí středních cenových tříd, proto jediná možnost je snaha o ekonomický zázrak, tudíž zvyšovat kvalitu výrobku a při tom držet nebo dokonce srážet cenu. Dále existuje ještě jedno řešení: Nabídnout exkluzivní výrobek v cenové relaci střední kategorie. A z toho všeho nám poté vzejde tzv. limitovaná edice.</p>
<p>	Tato limitovaná edice v rámci řady ProM firmy Mapex je přesně tímto případem. Samotná řada ProM je cenově zakotvena zhruba od osmadvaceti do třiačtyřiceti tisíc korun. Výrobním materiálem korpusů je javor, který na tomech a malém bubnu tvoří sílu stěny korpusu 5,8 mm, přičemž u basového bubnu je to ještě o 2 milimetry více. V této cenové kategorii jsou ráfky basového bubnu v barvě korpusu již samozřejmostí a zavěšení tom tomů bez nutnosti vrtání do bubnů, tomuto systému u Mapexů říkají I. T. S. a je použit i u basového bubnu, tudíž držák pro tom tomy neprochází skrz tělo bubnu. Přechody jsou tedy uchyceny na kulovém kloubovém držáku, což je systém, na nějž přešla již drtivá většina zavedených značek. Ptáte se, čím se liší limitovaná edice od klasické?</p>
<p><img src="/sites/default/files/pictures/hudba/bici-souprava-mapex-proM.jpg" alt="Bicí souprava"></p>
<p>
Už jen název Exotic Zebra- Wood dává jasně najevo, kde bude zakopán pes, respektive pruhovaný kopytník. Správně, tato souprava, již na celém světě je vyrobeno pouhých tři sta kusů, se může pyšnit unikátním povrchem. Je celkem logické, že spolu se zvukovými vlastnostmi se bude vylepšovat i vzhled, ale s běžnými lakovanými povrchy toho také mnoho nevymyslíte. Proto v poslední době se výrobci začali zajímat používáním špičkových exotických materiálů, takže váš nástroj můžete pohodlně sladit například s tou úžasnou mahagonovou secesní komodou po babičce. Asi před rokem se tyto materiály začaly objevovat i v cenově dostupnějších třídách, avšak Mapex je jedním z průkopníků, pokud ne prvním, kdo tato exotická dřeva zpřístupnil širšímu okolí. </p>
<p>
Sada se skládá z basového bubnu o rozměrech 22 x 18“, tomů 10 x 8“, 12 x 9“ a párů floortomů 14 x 14“ a 16 x 16“. Pochopitelně nemůže chybět ani malý buben o rozměrech 14 x 5,5“. Předpokládám, že s touto povrchovou úpravou vás nikdo nepřehlédne, výrazná kresba příjemně zaujme každého, na pódiu působí majestátně, pokud si myslíte, že vám něco o zvuku prozradí transportní blány, tak na tuhle utopii velmi rychle zapomeňte. Bicí s přepravními blánami nezní špatně, ale opravdový zvuk poznáte tehdy, až je vyměníte za profesionální.</p>
<h2>Malý buben</h2>
<p>Malý buben, jinak řečeno „ šroťák “ má na každé straně deset ladících šroubů. Už v rámci nástrojů střední třídy je možné nalézt různé zvukové charisma, což je známka rostoucí kvality výrobku. Bubínek působí hodnějším dojmem, pro agresivnější styl hraní bych spíše použil kovový, avšak v jakékoliv jiné aplikaci a stylu je použitelný bez sebemenších problémů, s velmi dobrým dynamickým rozpětím. Reakce na struník je velice uspokojivá, i tomuto bubínku značně prospěje výměna blány za „ profi “. Tento snare je univerzálně použitelný a bezproblémově funkční.</p>
<h2>Tom Tomy a Floor Tomy</h2>
<p>Neboli přechody a kotle velmi dobře reagují na změnu blan, ladění a mají dostatečný dynamický potenciál. Kotlíky nejsou tak hlasité, jako u vyšších tříd Saturn a Orion, ale to je vzhledem k ceně pochopitelné a zcela v pořádku.</p>
<h2>Basový buben</h2>
<p>U basového bubnu bych také vyměnil přepravní blánu, neboť s ní je nástroj o mnoho plošší, co se týče dynamiky. Po výměně se zlepší hloubka a hlasitost, i přesto je velice dobře ovladatelný. Tradičně se dodává v plnou přední blánou, což je standart, kdo touží po otvoru do rezonanční blány, není problém si jej vytvořit sám.</p>
<h2>Hardware</h2>
<p>Sada se obvykle dodává s paketem hardwaru, který je tvořen pedálem k basovému bubnu, stojany na činely (jeden rovný, jeden s ramenem), stojan na Hi-Hat a malý buben. Vezmu to od začátku, pedál k basovému bubnu má perfektně hladký chod, stabilita daná pevnou podlážkou a převodem přes zdvojený řetěz, u beateru pedálu si samozřejmě můžete vybrat mezi filcovým a dřevěným úderníkem. Beater je vybaven paměťovou objímkou, tudíž není potřeba vždy při jeho nasazování hledat optimální polohu pro hru. Stojany na činely jsou rovněž vybaveny těmito objímkami, Mapex pro uchycení činelů nepoužívá filcové podložky, ale gumové špalíčky, což může omezovat pohyblivost činelu na stojanu a ne každému toto uchycení vyhovuje. Naopak u hi-hat stojanu tento systém funguje dobře. Stojan na malý buben splňuje standardní požadavky a je bezproblémově funkční.</p>
<h2>Závěrem</h2>
<p>Na závěr musím říci, že Mapex ProM je poctivě vyrobena souprava střední třídy, univerzálně použitelná a spolehlivá, s celistvým zvukem. Majitele určitě budou hřát na srdci jak zvukové vlastnosti, tak povrchová úprava. Neberu-li v potaz i to, že se jich potuluje na celém světě pouhých tři sta kousků. Za přijatelnou cenu, která je vzhledem k použitému materiálu, zpracování a také počtu kotlů je tato souprava bez problémů obhájitelná.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-related">
      <div class="field-label">Podobné: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/clanky/hudba/hudebni-nastroje/gibson-sg-special-faded-mahagonova-klasika">Gibson SG Special Faded- mahagonová klasika</a>        </div>
        </div>
</div>
</fieldset>

