---
title: Gibson SG Special Faded- mahagonová klasika
date: 2009-10-30 19:10
layout: article
comments: false
tags: [audio]
geshifilter: false
---
<p>V kytarovém světě jsou většinou čtyři typy masivních (solid body) kytar: stratocaster, telecaster, les paul a sg. Tyto druhy vytvořily další útvary a osazení. Co se týče kytar typu sg  byl první kus uveden na trh v roce 1961 od značky Gibson jako součást výrobní řady solid body kytar, tedy kytar s plným tělem. Bez bombírované desky byla tudíž lehčí a tedy méně náročná na výrobu. Takhle vznikla levnější varianta les paula. Dnes budeme „pitvat“ nový model kytary, který nejvíce proslavili kytaristé jako Angus Young (AC/DC) a Tommi Iommi ( Black Sabbath).</p>
<h2>Základní popis</h2>
<p>Co se týče materiálu, u typu les paul většinou vede mahagon. U této kytary je použit jak při výrobě těla tak i krku, hmatník je tradičně vyroben z palisandru. U krku se nachází standartní humbuckerový snímač 490R alNiCo a u kobylky 490T. Menzura klasických 628mm. Pokud čekáte, že při vybalování na Vás vykoukne červená kráska, mýlíte se. Kytara je nalakována bezbarvým lakem, ale Váš pohled upoutá velmi nevšední úprava. Obvyklé připevnění krku je tzv. set-on, tedy přilepen. Krk je, stejně jako hmatník, nelakovaný, což se stává stále častějším trendem dnešní doby. Na kytaře naleznete originál vintage mechaniky s plastovými křidélky. Přepínač je třícestný, jak bývá u Gibsonů zvykem, a také potenciometry jsou jako vždy čtyři, protože každý snímač má svůj vlastní pro volume a clonu. Výstup je umístěn na horní desce. Na hlavě najdete logo Gibson, ale jinak kytara nemá označení. Tedy až na vytištěný hrdý nápis Made in USA a výrobní číslo, oba umístěné na zadní straně hlavy. Kytara se dodává v gigbagu spolu s uživatelským manuálem a klíčem na seřízení výztuhy krku.</p>
<p><img src="/sites/default/files/pictures/hudba/gibson.jpg" alt="kytara Gibson"></p>
<h2>Zvukové vlastnosti</h2>
<p>Nasucho je kytara středně hlasitá, zaměřená do středů. Dřív než zapojíte kytaru do aparátu, můžete slyšet poměrně dlouhý sustain, k čemuž jistě přispívá lehký lak. Po zapojení se sustain prodlouží a zvuk začne působit pevně, dřevitě a ortodoxně. Cítíte sebejistotu. Poměr basů, středů a výšek je vyrovnaný, stejně jako hlasitost jednotlivých poloh snímačů. Kytara se vyznačuje skvělou artikulací, je velmi harmonická a zní bohatě. Doména této kytary je především středně zkreslený zvuk, čistý zvuk je ale také krásný. Při čisté hře slyšíte dřevo kytary. Kobylkový snímač, který produkuje dominantní zvuk bez nepříjemných vyšších středů, je výborný. Snímač u krku působí teplým, plným dojmem a poté co přepnete na zkreslený kanál kytara ukáže, co v ní je. Všechny polohy snímačů jsou skvělé. Můžete hrát na velmi malé zkreslení, nebo hodně přidat gain a ani tehdy se tóny nebudou slévat dohromady. Jsou plné a velmi dobře se prosazují v kapele. Díky silnému krku můžete kvalitně podlaďovat. Vzpomeňme si na Tommiho, jehož podladění až do C všem připomene piánové basy.</p>
<h2>Na závěr</h2>
<p>Tato kytara je nádherný kousek, který skvěle sedí na těle. Kytara je velmi pohodlná v sedě i ve stoje. Lehkost je velkou výhodou, což usnadňuje hru a neunavuje záda. Tlustší krk zpomalí Vaši rychlou mysl a začnete si užívat silné, táhlé tóny. S touhle kytarou nemusíte hrát akordy, prostá tónová, riffová hra udělá beglajt jaký jste nikdy neslyšeli. Opravdu skvělá kytara.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-related">
      <div class="field-label">Podobné: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/clanky/hudba/hudebni-nastroje/mapex-prom-limited-edition">Mapex proM Limited Edition</a>        </div>
        </div>
</div>
</fieldset>

