---
title: Pán s kladivy
date: 2008-09-16 16:32
layout: blog
comments: false
---

      <p><iframe src="http://www.youtube.com/embed/sJmZvifrO9Y?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-sjmzvifro9y" frameborder="0"></iframe> Trocha žonglování při práci.</p>
    