---
title: Pán s koulema
date: 2008-09-11 21:39
layout: blog
comments: false
---

      <p><iframe src="http://www.youtube.com/embed/lSXWTTKEqLQ?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-lsxwttkeqlq" frameborder="0"></iframe></p>
<p><br>Pěkné choreo co?</p>
    