---
title: Žonglování s velkými modrými koulemi
date: 2008-09-16 16:44
layout: blog
comments: false
---
<p><iframe src="http://www.youtube.com/embed/8VeB7quFcM8?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-8veb7qufcm8" frameborder="0"></iframe> </p>

