---
title: Umbilical brothers - Dva mimové z Austrálie
date: 2009-06-20 06:35
layout: video
tags: [video]
comments: false
---

      <p>The Umbilical Brothers jsou dva mimové z Austrálie, kteří baví publikum už hodně let. Jmenují se David Collins a Shane Dundas, takže se nejedná o skutečné bratry, ale sehraní jsou i tak výborně. Svá představení koncipují jako směs mimiky, zvukových efektů a dialogu. Někdy hrají s loutkami, často do představení zatahují i diváky. V Austrálii měli svou televizní show a některá jejich vystoupení jsou také vydávána na DVDčkách (SpeedMouse, Don't Explain).<br>
Podívejte se na jejich představení na těchto videích, neboť to opravdu stojí za to.</p>
<h2>Pantomima s fakáčem </h2>
<p>
<iframe src="http://www.youtube.com/embed/xokylxD78o0?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-xokylxd78o0" frameborder="0"></iframe>
</p>
<h2>"Přídavek"</h2>
<p>Výborný kousek</p>
<p>
<iframe src="http://www.youtube.com/embed/peLmnkqm6-Y?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-pelmnkqm6y" frameborder="0"></iframe>
</p>
<h2>Koupelna</h2>
<p>Jejich velmi slavné představení</p>
<p>
<iframe src="http://www.youtube.com/embed/QifM6Uz8taY?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-qifm6uz8tay" frameborder="0"></iframe>
</p>
<h2>Velcroworld</h2>
<p>
<iframe src="http://www.youtube.com/embed/6HpXHTM_VFc?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-6hpxhtmvfc" frameborder="0"></iframe>
</p>
<h2>Battery</h2>
<p>
<iframe src="http://www.youtube.com/embed/7aZe_WSieSY?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-7azewsiesy" frameborder="0"></iframe>
</p>
<h2>Klasický finta s banánem</h2>
<p>
<iframe src="http://www.youtube.com/embed/xx92kq_fiG8?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-xx92kqfig8" frameborder="0"></iframe>
</p>

