---
title: Jan Werich hovoří s Miroslavem Horníčkem
date: 2010-11-01 16:31
layout: video
tags: [video]
comments: false
---
<p>Dvě videa z Hovorů H, kde Werich s Horníčkem diskutují o slovu "zblo", o "na mol" opilých, trémě a nakonec obhajují společenskou vhodnost slova sranda, což pan Werich ukončí takto: "Jsou ústa na světě, ze kterých opravdu i slovo růže a láska je výkal".</p>
<p><object width="650px" height="500"><param name="movie" value="http://www.youtube.com/v/uFU9F71-sfw?fs=1&amp;hl=cs_CZ">
<param name="allowFullScreen" value="true">
<param name="allowscriptaccess" value="always">
<embed src="http://www.youtube.com/v/uFU9F71-sfw?fs=1&amp;hl=cs_CZ" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="650px" height="500"></embed></object></p>
<p><object width="650px" height="500"><param name="movie" value="http://www.youtube.com/v/EE54-ZomIYk?fs=1&amp;hl=cs_CZ">
<param name="allowFullScreen" value="true">
<param name="allowscriptaccess" value="always">
<embed src="http://www.youtube.com/v/EE54-ZomIYk?fs=1&amp;hl=cs_CZ" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="650px" height="500"></embed></object></p>

