---
title: Wandering Wolf's Messages - The Shift of the Ages
date: 2010-02-01 17:16
layout: extranea
comments: false
tags: [video]
---

      <p>Pět videí s Mayským stařešinou v původním znění s anglickými titulky. Pro přehrátí je potřeba mít naistalovaný flash player.</p>
      SPLIT
<p><iframe src="http://www.youtube.com/embed/ZY7UtYBUFHc?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-zy7utybufhc" frameborder="0"></iframe> </p>
<p><iframe src="http://www.youtube.com/embed/vcaez8jn2Zg?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-vcaez8jn2zg" frameborder="0"></iframe></p>
<p><iframe src="http://www.youtube.com/embed/wSbNAvzIhDY?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-wsbnavzihdy" frameborder="0"></iframe></p>
<p><iframe src="http://www.youtube.com/embed/MXabojWnbls?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-mxabojwnbls" frameborder="0"></iframe></p>
<p><iframe src="http://www.youtube.com/embed/LrJLRBxQA-k?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-lrjlrbxqak" frameborder="0"></iframe></p>
<p>Pro více informací navštivte původní stránku (taktéž anglicky) <a href="http://www.shiftoftheages.com/" title="http://www.shiftoftheages.com/">http://www.shiftoftheages.com/</a></p>

