---
title: °C-ute
date: 2011-01-04 16:00
layout: blog
comments: false
---

      <p><iframe src="http://www.youtube.com/embed/N9u_MSUOtX8?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-n9umsuotx8" frameborder="0"></iframe><br>
<br><br>
Díky tomuto videu jsem poznal °C-ute. Viděl jsem to díky °C-ute kolekci asi 7 DVD japanofilů Radka a Jonáše. Moc děkuju, kluci. Jak jsem vůbec mohl žit aniž bych ty pop Japonky znal?  </p>
<p>Upraveno 4. ledna 2011: Změněno nefunkční video za jiné.</p>
    