---
title: Stanislav Grof - rozhovor, režie Igor Chaun
date: 2011-02-20 08:36
tags: [video]
comments: false
---
<p>Velmi zajímavý a ne krátký rozhovor se Stanislavem Grofem, který byl natočen pro dokument GEN v roce 1994. Názor nechť si po shlédnutí udělá každý sám :)</p>
<p><iframe title="YouTube video player" width="650" height="500" src="http://www.youtube.com/embed/g25Xd2TKu34" frameborder="0" allowfullscreen></iframe></p>

