%article#aban
  <a href="http://eshop.meriglobe.cz/produkty/cd-ebook-audiokniha/e-book?a_box=kzyg996h&a_cam=1"><img src="http://affiliate.meriglobe.cz/data/kampan/1/mg-banner-2ebook-300x600.jpg" width="300" height="600" alt="mg-banner-2ebook-300x600.jpg" /></a>
