%h1.teead
  %a{href: 'http://tricka.trikoko.cz/', title: 'Největší databáze prodejných triček'}
    Největší
    %br
    výběr
    %br
    triček
%ul#tees

:plain
  <script src="https://raw.githubusercontent.com/BorisMoore/jsrender/master/jsrender.min.js"></script>
  <script id="tshirt" type="text/x-jsrender">
    <li class="item">
      <a href="http://tricka.trikoko.cz/t/{{>id}}" title="{{>name}}" target="_blank">
        <img width="240" height="310" src="{{>imgurl}}" alt="{{>name}}" />
        <i class="">{{>label}}</i>
        <b class="price success label">{{>price}} Kč</b>
        <p style="display:none">{{>about}}</p>
      </a>
    </li>
  </script>

:javascript
  $.ajax({
       type: "GET",
       url: 'http://tricka.trikoko.cz/sample?take=10',
       dataType: 'json',
       success: function(data) {
              $('#tees').html( $('#tshirt').render(data) );
       }
  });


#microblog
  %article
    %h3
      %time 12.01.2015
      = link_to 'Největší výběr triček', 'http://tricka.trikoko.cz'
    %p Jelikož byla pilotní aplikace úspěšná, tak jsem přidal nový e-shop s tričkama a udělal pár vylepšení. Trička jde nyní inzertovat na libovolných www stránkách.

  %article
    %h3
      %time 10.11.2014
      Forbrydelsen
    %p Docela náhodou jsem si pro první sledání seriálu Forbrydelsen vybral tento rok, kdy <a href="/obrazky/shot_10.11.2014_07.03.01.jpg">dny v týdnu sedí sedí s těmi seriálovými včetně datumu</a>. Takže to nesleduju po dílech, ale vždy každý den shlédnu jeden den v seriálu. Mimochodem opravdu výborný seriál.

  %article
    %h3
      %time 7.11.2014
      = link_to 'Přišel čas triček!', 'http://tricko.loomio.cz'
    %p Malá aplikace pro zobrazení triček z nabídky brněnské firmy. Kupte si dvě trička a neplatíte poštovné!
  %article
    %h3
      %time 6.11.2014
      Reklama na stránkách
    %p Dávám na stránky affil banner na ebook. Těžké rozhodnutí po těch letech bez reklam, ale zkusit se má všechno.
  %article
    %h3
      %time 19.5.2014
      Redesign stránek
    %p Redesign je online :3 Zatím jen jednoduchý, ale třeba se čase vyvine. Nicméně, už se nemám na co vymlouvat a musím začít psát nové články. Tady v tom bočním sloupci, to bude takový mikroblog. Zatím jen ručně stručně, ale třeba k němu najdu nějakou hezkou sociální síť (FB a G+ nechcu).
