#microblog
  %article
    %h3
      %time 4.11.2014
      Jazyk napsaný v Javascriptu
    %p Někteří programátoři na Javascript nadávají, ale je to velmi expresivní jazyk. Třeba <a href="">tady</a> je dobře okomentovaná a přitom krátká implementace jednoduchého programovacího jazyka.
  %article
    %h3
      %time 19.5.2014
      Redesign stránek
    %p Redesign je online :3 Zatím jen jednoduchý, ale třeba se čase vyvine. Nicméně, už se nemám na co vymlouvat a musím začít psát nové články. Tady v tom bočním sloupci, to bude takový mikroblog. Zatím jen ručně stručně, ale třeba k němu najdu nějakou hezkou sociální síť (FB a G+ nechcu).
