---
title: Opera Unite – vše co jsem vždy chtěl?
date: 2009-12-16 16:48
layout: article
comments: false
tags: [internet]
geshifilter: false
---
<p>Surfuju po Internetu s Operou skoro od doby, kdy jsem Internet uviděl poprvé a mám tento prohlížeč opravdu rád. Včera si mě Opera opět o něco víc připoutala. Vyzkoušel jsem totiž Opera Unite.</p>
<p>Jedná se o službu dostupnou v Opeře od verze 10.10. Tu mám sice již dlouho, ale vyzkoušet Opera Unite jsem se odhodlal teprve včera a to navíc jen tak náhodou. </p>
<p>Abyste mohli Opera Unite používat, musíte být přihlášení na stránkách Opery. Mně stačilo oprášit svůj starý účet (mimochodem Opera zdarma poskytuje zajímavé webové služby), jen jsem si nechal poslat nové heslo. Jméno a heslo jsou logickou součástí Opera Unite, protože <strong>po přihlášení ke službě získáte svoji webovou stránku s doménou</strong>, kde se přihlašovací jméno vyskytuje. K tomu se připojuje umístění počítače, na kterém je Opera spuštěna, například „home“ nebo „notebook“, takže Vaše doména, jež získáte, má tvar podobný té mojí - home.fandisek.operaunite.com. </p>
<p>Možnosti využití Opera Unite jsou tvořeny aplikacemi, které si aktivujete. Na výběr je nyní přes 30 aplikací mající rozličné funkce. Já jsem si okamžitě oblíbil aplikace File Sharing a Photo Sharing. Aplikace mají velmi jednoduché nastavení a ještě jednodušeji se používají. <strong>Každá aplikace má svou internetovou adresu, přes kterou k nim přistupují Vaši přátelé. Stačí ji poslat. </strong>To je také základní myšlenkou služby Opera Unite – přes webové rozhraní používat programy, jenž dříve potřebovaly speciální software.</p>
<p>Vezměme si nyní například aplikaci File Sharing a blíže si ji popišme. Její úkol je jednoduchý a je jím sdílení souborů umístěných na pevném disku počítače přes Internet, v případě Opera Unite přes webové stránky. <strong>Jak na to? Při aktivaci aplikace se otevře velmi jednoduché okno, kde vyberete složku určenou pro sdílení a potvrdíte. Hotovo.</strong> Tedy stačí již jen poslat kamarádovi adresu, na které se mu zobrazí celý obsah sdílené složky včetně struktury podsložek. Tuto adresu získáte po kliknutí na název aplikace a následném otevření její webové stránky. Adresa určená k rozesílání je zřetelně viditelná v postranním sloupci. Co víc, <strong>můžete nastavit, zda bude stránka ostatním volně přístupná nebo zda bude k jejímu zobrazení potřeba heslo</strong> (výchozí nastavení).</p>
<p>Další aplikace dovolují podobným způsobem sdílet fotografie, komunikovat s přáteli přes chat (Lounge) nebo zprávami (Messenger) nebo si vytvořit vlastní webový server přímo z prohlížeče a hostovat na něm své stránky (i dynamické stránky). Dále mě zaujala například aplikace File Inbox, která umožní mým přátelům nahrávat na můj počítač soubory a těším se, až ji na někom budu moct vyzkoušet. V nabídce aplikací pro Opera Unite jsou i hry, čí spíše hříčky, které můžu s kamarády hrát (ale pochybuju, že někdy budu). <strong>Šikovní uživatelé pak mohou jim chybějící aplikace sami tvořit.</strong></p>
<p>Zkrátka a dobře je Opera Unite něco, co jsem se za docela krátkou dobu naučil používat (je to opravdu velmi velmi jednoduché) a co nyní poutá hodně mé pozornosti. Opera tak u mě získává další body k dobru.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-related">
      <div class="field-label">Podobné: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/clanky/internet/historie-vlastnosti-weboveho-prohlizece-opera">Historie a vlastnosti webového prohlížeče Opera</a>        </div>
        </div>
</div>
</fieldset>

