---
title: Historie a vlastnosti webového prohlížeče Opera
date: 2009-12-15 23:11
layout: article
comments: false
tags: [internet]
geshifilter: false
---
<div class="field field-type-filefield field-field-intropic">
  <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/sites/default/files/Opera_48x48_3.png" class="imagecache imagecache-intro imagecache-imagelink imagecache-intro_imagelink"><img src="http://ifanda.cz/sites/default/files/imagecache/intro/Opera_48x48_3.png" alt="Úvodní obrázek k článku na Fanda internetu" title="" width="48" height="48" class="imagecache imagecache-intro"></a>        </div>
        </div>
</div>
<p>Před pár dny jsem čirou náhodou zjistil, že Operu používám už asi 9 let, tedy přesněji od verze 4. Docela mě to nadchlo a začal jsem se pídit po její historii. Pro čtenáře svého blogu jsem historii tohoto skvělého programu sepsal v článku.</p>
<h2>Moje seznámení s Operou</h2>
<p>
Ještě než se dostanu historii samotné Opery, musím se zmínit, proč jsem začal používat Operu já. Kolem roku 2000 jsem poprvé přišel na Internet skrz modemové dial-up připojení, které bylo s rychlostí 56kbit/s velmi pomalé už ve své době. Hledal jsem všelijaké zrychlováky a narazil jsem na Operu, pro mě nový internetový prohlížeč. Už jenom tím, že Opera ukládala navštívené stránky a ihned je tedy mohla zase zobrazit, v rychlosti jasně převálcovala IE 5. A i když jsem později přecházel z Windows na Linux, byla přítomnost Opery na této platformě velmi důležitá, neboť bez ní by byl přechod o dost bolestnější. </p>
<h2>Historie Opery verze po verzi</h2>
<p>
Historie prohlížeče Opera sahá do roku 1993, kdy se <strong>Jon Stephenson von Tetzchner</strong> a <strong>Geir Ivarsøy</strong> rozhodli vytvořit nový internetový prohlížeč, který by dovoloval lépe pracovat s právě se rozvíjejícím Internetem. Inspirace přišla od prvního celosvětově rozšířeného prohlížeče <em>Mosaic</em>, jenž téhož roku vznikl. Norská společnost <em>Televerket</em>, kde oba páni pracovali, nápad podpořila, ale ještě ani roku 1995 neviděla význam vyvíjeného prohlížeče, a proto v jejích prostorách vzniká společnost Opera Software a později i její produkt <strong>MultiTorg Opera</strong>.
</p>
<p style="font-size:smaller;">Ukázky prohlížeče <strong>MultiTorg Opera</strong>, které jsem nalezl na Internetu.<br>
<a href="/sites/default/files/pictures/internet/pic3.gif" title="Klikni pro zvětšení obrázku"><img src="/sites/default/files/pictures/internet/pic3s.gif" alt="Prohlížeč MultiTorg Opera"></a><a href="/sites/default/files/pictures/internet/pic4.gif" title="Klikni pro zvětšení obrázku"><img src="/sites/default/files/pictures/internet/pic4s.gif" alt="Prohlížeč MultiTorg Opera"></a><a href="/sites/default/files/pictures/internet/pic5.gif" title="Klikni pro zvětšení obrázku"><img src="/sites/default/files/pictures/internet/pic5s.gif" alt="Prohlížeč MultiTorg Opera"></a>
</p>
<p>
Prvním veřejným vydáním byla však až Opera verze 2. Vyšla jako demo v nějakém norském PC magazínu a zobrazovala pouze lokální html stránky. Zato ale obsahuje všechny prvky, díky kterým se později proslavila a díky nimž si našla své věrné uživatele. Série verzí 3 ukazují rychlý vývoj a <strong>ve verzi 3.62 se již jedná o rychlý, stabilní a na funkce bohatý webový prohlížeč</strong>. Internetové stránky s CSS prý v té době zobrazovalo lépe, než to později uměl IE 5.
</p>
<p>
<em>"Fly the web!"</em> je motto v pořadí 4. série prohlížeče. Protože ranné verze byly hodně zabugované a nestabilní, nezískala tato série hned ze začátku dobrou reputaci, ale už ve verzi 4.02 byla Opera vysoce použitelný webový prohlížeč, který dokázal běžet na několika platformách a podporoval standardy CSS1, CSS2, HTML4, XML a WML. <strong>Součástí softwaru byl i integrovaný e-mailový klient!</strong> Hodně lidí (včetně mě) začlo používat Operu právě v této době.
</p>
<p>
Od verzí s pětkou na začátku si Opera troufale ale právem začíná říkat <em>"nejrychlejší prohlížeč na Zemi"</em>. Z komerčního programu se stává "reklamou sponzorovaný" program, protože se ve free verzi nahoře v okně zobrazuje klasický reklamní banner. Přibývají nové funkce z nichž nejdůležitější jsou asi integrované vyhledávání a gestikulace myší. Verze 5.12, která vychází roku 2001, je spolehlivý prohlížeč a další verze v této sérii již nemusí vyjít. Možná je to i tím, že to byla vlastně Opera 4.x s reklamou a několika zmíněnými novými funkcemi.
</p>
<p>
Opera dále upevňuje své postavení mezi prohlížeči ve verzi 6. Nové MDI (Multiple document interface) pro zobrazování více dokumentů zárověň, <em>kiosk mód</em> umožňující využití prohlížeče jako informačního terminálu nebo vyřešené problémy s tiskem stránek jsou novinky šesté série. Hlavní předěl je ovšem přidaná podpora Unicode.
</p>
<p>
Pravá zábava ovšem začíná v sérii sedmé, jejíž první verze vychází <strong>v roce 2003. Opera představila nový zobrazovací engine (motor) s názvem <em>Presto</em></strong>, který je rychlejší a lépe podporuje standardy. Nový je i e-mailový klient, který integruje i odběr novinek a je pojmenován M2. Přibyla podpora W3C DOM a RTL (right-to-left jazyků psaných z prava do leva), vzhled se dá měnit pomocí skinů, objevuje se více klávesových zkratek a nabídek nástrojů. Od verze 7.5 je k dispozici IRC klient, vestavěný BitTorrent klient, opera:config, pomůcky(widgets, malé prográmky s různými funkcemi) a volitelné vyhledávaní přímo z prohlížeče. Připočtu-li k tomu mnoho dalších změn a vychytávek, můžu bez nadsázky tvrdit, že se jedná o nejpokrokovější verzi v historii Opery.
</p>
<p>
Další důležitou verzí byla 8.5, protože se Opera zbavila banneru a nastálo změnila licenci na freeware. Otevřela si tak cestu k větší konkurenceschopnosti mezi nejpoužívanějšími webovými prohlížeči, před nimiž je s mnoha funkcemi o krok vepředu. Například <strong><em>funkce fit-to-width</em>, která spojuje interní technologie Opery s CSS motorem a umožňuje výborně surfovat po Internetu i s malými monitory či displeyi</strong> tím, že odstraňuje horizontální scrollbar. Dále mohou uživatelé využívat koš zavřených stránek a v mžiku se vrátit na opuštěné weby. Zavádí se podpora tzv. uživatelského JavaScriptu a XMLhttprequestů, což jsou pomůcky všech webů 2.0, jež zažívají velký boom právě v této době.
</p>
<p>
Opera 9 je první z nové generace prohlížečů. Výčet všech novinek zde nemůžu celý obsáhnout, přesto zkusím vybrat ty nejdůležitější. Prohlížeč podporuje CSS3, XPath i vektorovou grafiku. Uživatel má možnost nastavovat jednotlivé stránky(Site Specific Preferences), vylepšena je historie a ověřování pravosti stránek. <strong>Hledání se stává ještě rychlejší, když kliknete na slovo pravým tlačítkem myši a zvolíte, kde chcete hledat.</strong> Quick Find (rychlé hledání) může hledat na všech navštívených stránkách. Odstraněné reklamy z webů zůstanou odstraněné pod celou doménou a ne jen na jedné stránce. Novinkou je Speed-dial, který zobrazuje i náhledy nejoblíbenějších stránek.
</p>
<p>
Od verze 9.5 se dočkal urychlení JavaScript. Všichni vývojáři webových stránek jistě ocení program <em>Opera Dragonfly</em>, offline webovou aplikaci jako součást Opery (zkuste Nástroje-&gt;Pokročilé-&gt;Vývojářské nástroje). Všichni uživatelé zase rádi využijí automatickou synchronizaci s programy již nainstalovanými na desktopu a nový vzhled prohlížeče, který je s novými technologiemi ještě bezpečnější než dřív.  </p>
<h2>Současný prohlížeč</h2>
<p>
Doteď to byla historie. A nyní? Před dvěma týdny vyšla Opera verze 10.0. Opět pár změn znatelných na první pohled (i když doufám, že některé budou v dalších verzích dále upraveny). <strong>Díky automatickým aktualizacím už se Opera nemusí reinstalovat.</strong> Novinka Opera Turbo využívá kompresi stránek ke zvýšení rychlosti surfování na pomalém internetovém připojení. <strong>Zrychlen je však i engine <em>Presto 2.2</em>, který je optimalizován pro webové aplikace (Gmail, Facebook).</strong> Záložky(taby) nyní mohou zobrazovat náhledy stránek.
</p>
<p>
Mě osobně ve verzi 10.0 potěšila automaticky nastavená česká lokalizace a možnost nastavit si počet stránek ve Speed-dialu, který jsem předtím musel hackovat v konfiguračním souboru. Opera u mně nadále zůstává prohlížečem číslo jedna. Používám ji kromě PC i na Nintendu DS a kdybych ji mohl mít i na jiných hračkách, neváhal bych. </p>
<h3>Podporovaná zařízení</h3>
<ul>V současné době jde Opera spustit na těchto zařízeních:
<li>
<ul>Osobní počítač (Opera Browser)
<li>Microsoft Windows 3.x,95 a vyšší </li>
<li>Mac OS X, Mac OS</li>
<li>Linux (architektury i386, SPARC, PowerPC, arm)</li>
<li>FreeBSD</li>
<li>Solaris</li>
<li>OS/2, BeOS, QNX</li>
</ul>
</li>
<li>
<ul>Přenosná zařízení (Opera Mini, Opera Mobile)
<li>Java ME</li>
<li>Symbina OS</li>
<li>Windows Mobile</li>
<li>EPOC (počítače Psion)</li>
<li>Pocket PC</li>
</ul>
</li>
<li>
<ul>Herní konzole (Opera Devices)
<li>Nindendo DS, Nintendo Wii</li>
</ul>
</li>
</ul>
<p>Výčet je opravdu velký. Navíc pro každé zařízení a platformu je Opera optimalizována tak, aby byla co nejvýkonější při využití minima systémových prostředků a aby byla zároveň dobře ovladatelná. Například na Nintendu DS je surfování překvapivě rychlé a přehledné, přestože jsou na stránce obrázky větší než plocha displaye.  </p>
<h2>Výzva k používání Opery</h2>
<p>
Pokud ještě nepoužíváte Operu jako svůj výchozí prohlížeč, aspoň ji vyzkoušejte. Nebudete litovat, neboť se jedná o výtečný webový prohlížeč ověřený milióny spokojených uživatelů. Navíc protože Opera plně podporuje webové standardy, ušetříte čas i nervy všech tvůrců webových stránek, kteří často musí svá díla speciálně upravovat pro Internet Explorer. Z vlastní zkušenosti vím, jak je optimalizace pro IE nepříjemná.</p>
<h2>Bonusové video</h2>
<p>
Při hledání zdrojů o historii Opery jsem narazil na pěkné video, které znovu a vizuálně shrne všechno, co zde bylo napsáno.<br>
<iframe src="http://www.youtube.com/embed/C87xFz9aUow?rel=1&amp;autoplay=0&amp;wmode=opaque" width="400" height="250" class="video-filter video-youtube vf-c87xfz9auow" frameborder="0"></iframe></p>
<p style="font-size:smaller;">Přidejte si RSS stránek Fanda internetu do své čtečky novinek.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-extlink">
      <div class="field-label">Externí: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://www.opera.com">Oficiální stránky Opery</a>        </div>
              <div class="field-item even">
                    <a href="http://www.markschenk.com/opera/history.html">Anglicky psaný zdroj informací o historii Opery</a>        </div>
        </div>
</div>
<div class="field field-type-link field-field-related">
      <div class="field-label">Podobné: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/clanky/internet/opera-unite-vse-co-jsem-vzdy-chtel">Opera Unite – vše co jsem vždy chtěl?</a>        </div>
        </div>
</div>
</fieldset>

