---
title: Kostra pro parametry programu v Ruby
date: 2013-03-12 03:12
comments: true
layout: article
tags: [it, ruby]
---

Výborná šablonka je tento Gist.

<script src="https://gist.github.com/rtomayko/1190547.js"></script>
