---
title: Barevný text v konzoli pomocí jazyka Ruby
date: 2014-06-20 08:20
comments: true
layout: article
tags: [it, ruby]
---

Barevný svět v Ruby nabízí tento Gist.

<script src="https://gist.github.com/nutrun/703943.js"></script>
