---
title: Až tu nikdo nebude
date: 2010-02-22 11:25
layout: extranea
comments: false
tags: [pribeh]
---
<p>Když byl mistr Tsui-wei otázán, jaký je smysl buddhismu, odpověděl žákovi:<br>
"Počkej, až tu nikdo nebude, pak se to dozvíš."<br>
Po chvíli žák opět přišel s toutéž otázkou.<br>
"Říkal jsem ti - až tu nikdo nebude, nestačí ti to?"<br>
"Ale vždyť už všichni žáci odešli!"<br>
Mistr mlčel a sledoval, jak žák stále nechápe. Vyzval proto žáka, aby s ním šel k bambusovému háji. Tam ukázal:<br>
"Tohle je dlouhý bambus a tohle je krátký."</p>

