---
title: Nelpění
date: 2010-02-22 00:00
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Jeden starší mnich přišel k zenovému mistrovi a řekl: „Za svůj život jsem vyhledal množství duchovních učitelů a postupně jsem se vzdával mnoha potěšení, jen abych bojoval se svými žádostmi. Dlouhý čas jsem se postil, po léta jsem se pohyboval v celibátu a pravidelně jsem se trýznil. Dělal jsem všechno, co se ode mne požadovalo, a skutečně jsem strádal, ale osvícení se mi nedostalo. Všeho jsem se vzdal, upustil jsem od vší žádosti, vší radosti, všeho snažení. Co mám teď ještě učinit?“ Mistr odpověděl: „Vzdej se i toho strádání!“</p>
    