---
title: Vyšší logika
date: 2010-02-22 11:28
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Z velkého zástupu žáků se hlásí o slovo mladý muž: "Mistře, vysvětli nám prosím, co je to ta 'vyšší logika', o níž stále hovoříš a o níž jsi už mnohokrát prohlásil, že je nezbytné jí porozumět, chce-li někdo dosáhnout pokroku na duchovní cestě." Mistr se usmál. "Dobře, vysvětlím vám to na konkrétním příkladě: Dva muži spadnou do špinavého komína. Jeden zůstane čisty a druhý se zamaže od sazí. Kdo z těch dvou se umyje?" "Samozřejmě ten, který je plný sazí," odpoví žák. "Chyba lávky!" říká mistr. "Ten čistý se umyje. Vidí totiž, že druhý je zamazaný od sazí, a proto si myslí, že on je zamazaný také. Špinavý se naproti tomu považuje za čistého, protože vidí, že ten druhý je čistý. Tak dobře: Spadnou podruhé do komína. Který se umyje?" "Od teď vždy ten zamazaný," hrdě říká žák. "Chyba lávky!" opáčí mistr. "Kdo to kdy slyšel, aby dva spadli do jednoho komína plného sazí, a jeden se zamazal a druhý ne? Vidíte - to všechno prohlédnout, to je vyšší logika!"</p>
    