---
title: Míra odproštění
date: 2010-02-22 00:04
layout: extranea
comments: false
tags: [pribeh]
---
<p>Jeden súfí se zeptal zenového mistra: „Jsem vnitřně tak svobodný a tak od všeho oproštěn, že už ani nemyslím na sebe, nýbrž jen na druhé.“ Zenový mistr opáčil: „Já jsem vnitřně tak svobodný a tak ode všeho oproštěn, že se na sebe mohu dívat, jako bych byl někdo jiný, a proto mohu myslet i na sebe.“</p>

