---
title: Mistře, proč?
date: 2010-02-22 00:06
layout: extranea
comments: false
tags: [pribeh]
---
<p>Žák se vrací z putování, na němž měl satori. S úctou se blíží k mistrovi, který ho mlčky očekává, a poklekne před ním. V okamžiku, kdy už už pozvedá hlavu a chce začít mluvit, sesype se na něho třicet tvrdých ran holí. „Ale mistře,“ ptá se žák užasle, „proč to? Neřekl jsem přece ještě ani slovíčko.“ Mistr odvětí: „kdybys také řekl pouhé slovíčko, bylo by už pozdě.“</p>

