---
title: mistr Nan´in
date: 2010-02-22 00:07
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Zenový mistr Nan´in přijal návštěvníka, který žádal o vyučování zenu. Nan´in mu nejprve nabídl šálek čaje. Požádal návštěvníka, aby si sedl k němu, postavil před něho misku a začal mu nalévat čaj. Ale když byla miska plná, lil Nan´in s naprostým klidem dál, takže miska přetekla. Návštěvník volal: „Dost! Co to děláte, miska už je přece plná, nic se už do ní nevejde.“ Nan´in se usmál: „Tak jako ta miska jsi plný svých vlastních názorů a představ. Jak tě mám vyučovat zenu, dokud nevyprázdníš svou misku?“</p>
    