---
title: Duch v domě
date: 2010-02-22 00:06
layout: extranea
comments: false
tags: [pribeh]
---
<p>Jeden vesničan rozčíleně přispěchal k zenovému mistrovi do kláštera: „Mistře, mistře! Máme veliký strach, že v našem domě žije duch. Prosím tě, pověz mi, co mám dělat?“ Mistr klidně odpověděl: „Prostři ještě jeden příbor!“</p>

