---
title: Svaté skutky
date: 2010-02-22 11:26
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Zenový mistr Bankei seděl uprostřed svých žáků a vyučoval je. Mezi posluchače se vmísil kněz sekty Sinšú, jejíž členové věří na zázraky a na spasení pomocí magických rituálů. Ze žárlivosti na množství Bankeiových posluchačů působil takový neklid, že Bankei přerušil svůj výklad a muže se zeptal, zda nechce něco povědět. Muž vstal a pyšně zvěstoval: "Zakladatel mého náboženství dokáže z jednoho břehu řeky štětcem napsat své jméno na list papíru, který drží v ruce pomocník na druhém břehu řeky, a ta řeka je široká deset metrů. Jaké zázraky umíš učinit ty?" Bankei odpověděl: "Když mám hlad, najím se, a když jsem unavený jdu spát."</p>
    