---
title: Nelpění
date: 2010-02-22 00:03
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Starý zenový mistr chodil s oblibou v doprovodu mladého mnicha na návštěvy do vesnice. Jednoho dne spolu vešli do domu velice majetného muže, který je slavnostně pohostil. Po jídle mistr řekl: „Dobře jsi nás pohostil, kéž se tvé bohatství rozmnoží tisíceronásobně.“ Nazítří spolu navštívíli chudobnou chýši staré ženy, která neměla nic jiného, než starou nemocnou krávu. Žena jim předložila prosté jídlo z mléka a rýže. Když pojedli, mistr řekl: „Dobře jsi nás pohostila, ale zítra tvoje kráva umře.“ Po cestě domů mnich ustavičně přemítal: Jak jen mohl mistr majetného muže požehnat ještě větším bohatstvím a starou ženu znepokojit oznámením, že ztratí svůj jediný majetek? Mistr zpozoroval, že jeho žák je zmaten a vysvětloval mu: „Ten muž velmi touží po ještě větším majetku; dal jsem mu své požehnání a doufám, že se brzy svých pokladů nabaží a obrátí se k podstatným věcem. Stará žena je už téměř osvobozena od světských vazeb, ale její duch se jen zpoloviny zaměstnává podstatnými věcmi, po zbytek času myslí na svou krávu. Doufám, že kráva brzy umře, a žena pak brzy dosáhne plného vysvobození.“</p>
    