---
title: Tansan a Ekido
date: 2010-02-21 23:59
layout: extranea
comments: false
tags: [pribeh]
---
<p>Putovali spolu dva zenoví mniši Tansan a Ekido a dospěli k brodu. Na břehu stála překrásná mladá dívka v hedvábném kimonu. Očividně měla strach přejít přes řeku, protože ji vzedmuly silné deště. Ekido se rychle podíval jinam. Naproti tomu Tansen nezaváhal a beze slova vzal dívku do náruče a přenesl ji přes řeku. Na druhém břehu ji opatrně postavil a oba mniši pokračovali mlčky v cestě. Uběhla čtvrthodina, půlhodina, hodina. Tu Ekido vyhrkl: „Co to do tebe vjelo, Tansane! Porušil jsi několik mnišských pravidel naráz. Jak sis té hezké dívky mohl vůbec všimnout, natožpak se jí dotknout a přenést ji přes řeku?“ Tansan klidně opáčil: „Já jsem ji nechal u řeky. Ty ji ještě neseš?“</p>

