---
title: Poslušnost
date: 2010-02-23 00:10
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Přednášky mistra Bankeie navštěvovali nejen žáci zenu, nýbrž lidé za všech vrstev a sekt. Bankei nikdy nerecitoval sútry, ani si neliboval ve scholastických výkladech. Jeho slova proudilo přímo ze srdce do srdcích jeho posluchačů.<br>
Velký počet Bankeiových příznivců nešel pod nos jistému představenému ničirenovské sekty, jelikož mnoho jejích příznivců sektu opouštělo a zaměřovalo se na zen. Sebevědomý a domýšlivý mnich přišel do kláštera rozhodnut Bankeiovi oponovat.<br>
"Hej, učiteli zenu!" zvolal. "Počkej chvíli. Všichni, kdož tě uznávají, tě poslouchají. Ale muž jako já tě neuznává. Dokážeš i mne přimět k poslušnosti?"<br>
"Pojď ke mně a já ti to ukážu," odvětil Bankei.<br>
Mnich si hrdě protlačil cestu davem a stanul před učitelem. Bankei se usmál: "Postav se po mé levici."<br>
Kněz poslech.<br>
"Ne," pravil Bankei, "lépe se nám bude povídat, když budeš stát po mé pravé straně. Přejdi."<br>
Kněz se hrdě přemístil.<br>
"Tak vidíš," řekl Bankei, "posloucháš mne a já myslím, že jsi velmi milý člověk. Nyní se posaď a poslouchej s ostatními."</p>
    