---
title: Úhel pohledu
date: 2010-02-22 00:07
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Zenový mistr právě se dvěma žáky pil čaj, když tu náhle hodil svůj vějíř jednomu z nich pod nohy a řekl: „Co je to?“ Žák vějíř otevřel a mávnul s ním. „To není špatné,“ tak zněl mistrův komentář. „A teď jsi na řadě ty,“ zvolal a dal vějíř druhému žákovi, který ho okamžitě složil a podrbal se s ním na krku. Když s tím byl hotov, vějíř zase rozevřel, položil na něj kus koláče a nabídl ho mistrovi. Ten si s úsměvem koláč vzal.</p>
    