---
title: Přítomnost
date: 2010-02-22 00:06
layout: extranea
comments: false
tags: [pribeh]
---

      <p>„Setkal jsem se v Himálajích se svatým mužem, který dokáže vidět do budoucnosti a cvičí své žáky, aby to také uměli,“ vypravoval se zaujetím jeden mladý muž. „To umí každý,“ řekl zenový mistr znuděně, „moje cesta je daleko těžší.“ „A jaká je?“ dotazoval se zvědavě mladý muž. Mistr řekl: „Přivádím lidi k tomu, aby viděli přítomnost.“</p>
    