---
title: Banzanovo satori
date: 2010-02-22 00:08
layout: extranea
comments: false
tags: [pribeh]
---
<p>Když šel Banzan přes tržiště, slyšel, jak se baví řezník se zákazníkem. „Dej mi nejlepší kus masa, jaký máš,“ žádal zákazník. „Každý kus v mém krámu je nejlepší,“ odvětil řezník, „nenajdeš tu jediný kousek masa, který není nejlepší.“ Při těchto slovech se Bazanovi dostalo satori.</p>

