---
title: Šťastný Číňan
date: 2010-02-23 00:16
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Snad ve všech čínských čtvrtích v Americe naleznete sošku tlustého chlapíka s pytlem přes rameno. Čínští obchodníci mu říkají Šťastný nebo Smějící se Buddha.<br>
Představuje mnicha jménem Hotei, který žil za vlády dynastie Tchang. Neměl pražádné ambice nazývat se mistrem zenu, ani netoužil po zástupu vlastních žáků. Místo toho vandroval od města k městu s rancem, do něhož sbíral milodary, které pak rozdával na potkání dětem, které se k němu na ulicích sbíhaly, aby si sním hrály. Založil tak vlastně jakousi pouliční školku.<br>
Když potkal nějakého stoupence zenu, natáhl k němu vždy dlaň a pravil: "Dej mi měďák." A když byl někým osloven a vybídnut, aby se vrátil do kláštera a učil ostatní, vždy odvětil: "Dej mi měďák."<br>
Jednou ho uprostřed hry s dětmi vyrušil mistr, který šel okolo a zeptal se ho: "Jaký je význam zenu?"<br>
Místo odpovědí Hotei ihned složil svůj měch na zem.<br>
"Co je tedy zpřítomněním zenu?" zeptal se mistr ještě jednou.<br>
Tehdy si Šťastný Číňan hodil svůj sak opět přes rameno a šel dál svou cestou.</p>
    