---
title: Buddha
date: 2010-02-23 00:14
layout: extranea
comments: false
tags: [pribeh]
---
<p>Za éry Meidži žili v Tokiu dva věhlasní učitelé zcela odlišných povah. První, Unšó, byl školitelem esoterické sekty Šingon a úzkostlivě se držel Buddhových pokynů. Nikdy nepil žádné omamné nápoje a nikdy nejedl po jedenácté hodině dopoledne.<br>
Ten druhý, Tanzan, profesor filozofie na císařské univerzitě, si nedělal z žádný předpisů či přikázání těžkou hlavu. Jedl tehdy, když běl hlad nebo chuť a cítil-li se třeba i přes den unaven, klidně si zdříml.<br>
Jednoho dne přišel k Tanzanovi, který si právě dopřával vína, na návštěvu Unošó. Netřeba dodávat, že správný buddhista by se neměl ve víně nikdy ani smočit rty.<br>
"Nazdar, bratře," pozdravil Tanzan Unšóa, "dáš si se mnou číšku?"<br>
"Já zásadně nepiji!" prohlásil Unšó slavnostně.<br>
"Ten, kdo nepije," pravil Tanzan, "snad není ani člověk."<br>
"Chceš říci, že jsem nelidský jen proto, že neholdují omamnému pití?" čertil se Unšó. "Nejsem-li podle tebe člověk, co jsem?"<br>
"Buddha," odtušil Tanzan.</p>

