---
title: Očouzený nos
date: 2010-02-22 16:21
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Jedna mniška, která hledala osvícení, vyřezala ze dřeva sošku Buddhy, kterou pokryla zlatými plátky. Tohoto zlatého Buddhu pak nosila všude s sebou.<br>
Uplynulo několik let a mniška se i se svým zlatým Buddhou ocitla v malém klášteře na venkově, kde byla spousta podobných sošek, z nichž každá měla svůj vlastní oltářík.<br>
Mniška chtěla před svým zlatým Buddhou zapálit vonné tyčinky. Protože se jí však nelíbila představa, že by se jejich vonný dým rozptyloval i k ostatním soškám, sestrojila z papíru jakýsi komínek, kterým dým stoupal pouze k její sošce. Po chvíli měl její zlatý Buddha do černa očouzený nos. Vypadal neobyčejně šeredně.</p>
    