---
title: Absurdno
date: 2010-02-22 00:05
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Jeden mnich se zeptal zenového mistra Džošú: „Deset tisíc věcí se vrací do Jednoho. Kam se vrací to Jedno?“ Džošú odpověděl: „Když jsem byl v T´-jing-čou, ušil jsem si oděv, který vážil sedm liber.“</p>
    