---
title: Neopětovaná dobrota
date: 2010-02-23 00:09
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Jistá stará žena v Číně dvacet let pečovala o mnicha. Postavila mu malou chýši a krmila ho, zatímco on meditoval. Nakonec ji začalo zajímat, jaké udělal mnich pokroky.<br>
Aby to zjistila, vyžádala si pomoc jisté roztoužené dívky. Dala jí následující pokyny: "Jdi, obejmi ho, a pak se ho náhle zeptej: A co teď?"<br>
Dívka šla do mnichovy chýše a bez dlouhých cavyků se mu vrhla do náruče. Pak se ho zeptala, co hodlá dělat.<br>
"Starý strom roste v zimě na studené skále," odvětil mnich poněkud poeticky. "Nikde žádné teplo."<br>
Dívka se vrátila a sdělila ženě, jak pochodila.<br>
"Když si jen pomyslím, že jsem ho dvacet let živila!" zvolala žena rozhněvaně. "Ani maličko se nezamyslil nad tím, že bys mohla něco potřebovat, dal ti žádný prostor, abys mu mohla vysvětlit své rozpoložení. Nemusel ti hned oplatit tvou vášeň, ale měl dát najevo alespoň soucit a porozumění."<br>
Nato šla žena k mnichově chýši a podpálila ji.</p>
    