---
title: Měsíc nelze uloupit
date: 2010-02-23 00:07
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Rjókan, mistr zenu, vedl prostý život v malé chýši na úpatí hory. Jednoho večera se do chýše vloupal zloděj, jen aby zjistil, že tam není nic, co by mohl ukrást.<br>
Rjókan přišel nečekaně domů a lupiče načapal. "Musel jsi sem vážit dlouhou cestu," pravil. "Nesluší se, abys odešel s prázdnou. Na, vezmi se mé šaty jako dar."<br>
Zloděj byl zmaten, rychle vzal šaty a vytratil se.<br>
Nahý Rjókan usedl na zem a díval se na měsíc. "Ubohý chlapík," uvažoval. "Jak rád bych mu věnoval tento nádherný měsíc.</p>
    