---
title: Absurdno
date: 2010-02-22 00:08
layout: extranea
comments: false
tags: [pribeh]
---
<p>Jeden laický žák přišel celý rozzářený ke svému zenovému mistrovi: „Právě mě povýšili!“ Mistr opáčil: „To je mi líto; ale budeme – li svorni, všechno nějak vydržíme.“ Za dva dny tentýž muž přichází opět: „Firma zkrachovala, propustili mě.“ A mistr povídá: „To je dobrá zpráva. Pojďme si vypít skleničku saké, teď se možná stane něco velmi pěkného.“</p>

