---
title: Opravdu?
date: 2010-02-23 00:10
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Mistr zenu Hakuin byl svými sousedy ctěn jako muž žijící bezúhonný život.<br>
Poblíž Hakuinova obydlí žili majitelé obchůdku s potravinami, kteří měli překrásnou mladou dceru. Jednoho dne rodiče náhle zjistili, že jejich dcera čeká dítě. Byli vzteky bez sebe. Naléhali na dívku, ať prozradí otce. Ta se vzpírala, ale nakonec jmenovala Hakuina.<br>
Rozhněvaní rodiče přišli za mistrem.<br>
"Opravdu?" bylo to jediné, co jim Hakuin odpověděl.<br>
Když se dítě narodilo, bylo přineseno Hakuinovi. Hakuin tím pádem přišel o svou pověst, ale nijak ho to netrápilo. Místo toho se začal vzorně starat o dítě. Od svých sousedů obstaral mléko a všechno ostatní, co bylo třeba.<br>
Asi za rok už to dívka nemohla vydržet a řekla rodičům pravdu - skutečným otcem dítěte byl mladík, který pracoval na rybím trhu.<br>
Matka a otec se znovu vypravili za Hakuinem, aby jej požádali o odpuštění a aby si vzali dítě zpět.<br>
Hakuin souhlasil. Jedinou jeho odpovědí bylo: "Opravdu?"</p>
    