---
title: Velké vlny
date: 2010-02-23 00:09
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Na počátku éry Meidži žil slavný zápasník Ónami (Velká vlna).<br>
Ónami byl neobyčejně silný a skvěle ovládal zápasnické umění. V tréninku porazil i svého učitele, ale při veřejném klání měl vždy takovou trému, že ho poráželi i jeho vlastní žáci.<br>
Proto se Ónami rozhodl, že požádá o pomoc zenového mistra. V té době pobýval v blízkém klášteře potulný učitel Hakudža. Ónami šel za ním a svěřil se mu se svým trápením.<br>
"Jmenuješ se Velká vlna," pravil mistr. "Zůstaň tedy v klášteře přes noc a představuj si, že jsi tou vlnou. Již nejsi zápasník, který má strach. Jsi obrovskou masou vod, která smete vše, co se ji postaví do cesty. Učiň tak a staneš se nejlepším zápasníkem v zemi."<br>
Učitel se uložil ke spánku. Ónami se usadil k meditaci a snažil se představit si sám sebe jako obrovskou vlnu. Napadalo ho spousta věcí, ale časem se mu dařilo stále více se soustředit na představu vln. S postupem noci byly vlny stále mohutnější a mohutnější. Odplavily květiny i s vázami. Dokonce i Buddha na oltáři se zachvěl. Před svítáním byl chrám jen pouhou třískou, zmítající se na rozbouřené hladině nekonečného moře.<br>
Ráno zastihl učitel Ónamiho stále ještě pohrouženého do meditace, se slabým úsměvem na tváři. poplácal ho po zádech. " A nyní tě již nic nevyvede z míry," pravil. "Jsi tou vlnou. Smeteš vše, co se ti postaví do cesty."<br>
Téhož dne se Ónami přihlásil na velký zápasnický turnaj a zvítězil. Od toho dne nebylo v Japonsku muže, který by se s ním mohl měřit.</p>
    