---
title: Když miluješ, miluj otevřeně
date: 2010-02-23 00:10
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Dvacet mnichů a jedna jeptiška Ešun se cvičili v meditaci u jistého zenového mistra.<br>
Ešun byla velmi hezká, přestože měla do hola vyholenou hlavu a prostý šat. Několik mnichů se do ní tajně zamilovalo.<br>
Jeden z nich jí nakonec napsal dopis, ve kterém ji žádal o důvěrnou schůzku.<br>
Ešun mu neodepsala. Následujícího dne přednášel mistr celé skupině a když bylo sezení u konce, Ešun povstala a pravila tomu, který jí poslal dopis: "Jestliže mne opravdu tolik miluješ, přistup a obejmi mne."</p>
    