---
title: Čekáte, že budete létat, když jste bezpečně usazeni v hnízdečku svých názorů?
date: 2011-02-24 14:34
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Jeden žák, vyděšený Mistrovou snahou bořit každé vyjádření víry v Boha, vykřikl: "Nenecháváš mi nic, čeho bych se držel."</p>
<p>"Přesně tohle říká ptáče, když ho poprvé vystrčí z hnízda!" Pravil Mistr.</p>
<p>Později dodal: "Čekáte, že budete létat, když jste bezpečně usazeni v hnízdečku svých názorů? To není let, to je plácání křídly...!"</p>
    