---
title: Červeně zbarvený list javoru...
date: 2011-02-24 14:35
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Již dlouhou dobu byl Rjókan Zendži kvůli těžkému a bolestivému onemocnění střev upoután na lůžko. Byl úplně vyhublý a k smrti oslabený. I přes silné bolesti složil na rozloučenou krátkou báseň:</p>
<p>Co zanechám na památku?<br>
Květ třešně na jaře.<br>
Malou kukačku v letních horách a<br>
červeně zbarvené listy javoru na podzim.</p>
<p>A když o něj projevili jeho žáci velké obavy, s úsměvem jim odpověděl:</p>
<p>Červeně zbarvený list javoru<br>
se jednou ukáže ze své pěkné strany,<br>
jindy z té druhé-<br>
a spadne.</p>
    