---
title: Co je cílem meditace vsedě?
date: 2011-05-16 06:09
layout: extranea
comments: false
tags: [pribeh]
---

      <p>„Důstojnosti,“ tázal se Chuaj-žang, „co je cílem meditace vsedě?“<br>
„Cílem je stát se Buddhou,“ odpověděl Ma-cu.<br>
Nato vzal Chuaj-žang dlaždici a začal ji leštit o kámen.<br>
„Co děláte, mistře?“ ptal se Ma-cu.<br>
„Leštím ji, aby z ní bylo zrcadlo,“ řekl Chuaj-žang.<br>
„Jak by mohlo leštěním dlaždice vzniknout zrcadlo?“<br>
„Jak by se člověk meditováním vsedě mohl stát Buddhou?“</p>
    