---
title: Nan-in, Japonský mistr
date: 2011-02-24 14:36
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Nan-in, Japonský mistr Meijin éry(1868-1912) přijal univerzitního profesora, který přišel aby se dozvěděl něco o zenu. Nan-in servíroval čaj. Nalil hostu plný šálek a pokračoval v nalévání. Profesor viděl jak šálek přetéká tak dlouho až to nevydržel a zvolal:"Je to plné. Víc se tam už nevejde!" "Jako tento šálek," řekl Nan-in, "jsi i ty plný "názorů a spekulací. Jak ti mám něco ukázat o zeno dokuď nevyprázdníš svůj šálek?"</p>
    