---
title: Mistr To An
date: 2011-05-15 20:08
layout: extranea
comments: false
tags: [pribeh]
---

      <p>Kdysi mistr To An navštívil jeden chrám. Nenosil roucho zenového mistra, ale pouze oděv potulného mnicha. Začal si povídat s místním mnichem, který v něm nepoznal zenového mistra. Mnich začal brzy mluvit o svém mistrovi: "Každého dne dělá tisíc poklon, jí pouze jednou denně. Neopustil chrám tricet let. Stále sedí v zazenu. Je největším mistrem v celé Číně."</p>
<p>To An na to řekl: "Ano, vypadá to, jako by byl neobyčejným člověkem. Já nic z toho nemím. Nedokážu se tisíckrát denně klanět, ale má mysl není nikdy lína. Nedokážu jíst pouze jednou denně, ale netoužím po jídle. Nedokážu zůstat dlouho v chrámu, ale kamkoliv jdu, nemám žádné překážky. Nedokážu sedět příliš dlouho v zazenu, ale nikdy nedovolím, aby povstalo mé myšlení."</p>
<p>Mnich řekl: "Nerozumím tomu."<br>
To An řekl: "Jdi za svým mistrem, aby ti to vysvětlil."<br>
Mnich se uklonil a odešel. Za chvíli přiběhl mistr k To Anovi a třikrát se před ním uklonil. "Jsi velký zenový mistr," řekl. "Prosím, dovol mi, abych se stal tvým žákem. Velmi jsem lpěl na tvrdém cvičení. Když jsem ale teď uslyšel tvá slova, má mysl je čistá."</p>
<p>To An se rozesmál a řekl: "Ale ne, nemohu být tvým učitelem. Ty už jsi velký zenový mistr. Potřebuješ pouze udržovat ten stav mysli, v němž ses mi klaněl. Jsi už svobodným člověkem. Předtím ses klaněl, seděl a jedl pouze kvůli sobě. Teď to bude pro všechny lidi."</p>
<p>Po těchto slovech začal mistr plakat radostí. Uklonil se znovu To Anovi a jen prostě řekl: "Děkuji."</p>
    