---
title: Pataňdžali - Jóga sútra
date: 2010-01-22 08:08
layout: extranea
comments: false
tags: [seberozvoj, joga]
---
<h2>OSVÍCENÍ</h2>
<ol>
<li>Začínáme objasněním jógy. </li>
<li>Jóga je ovládnutí činnosti mysli. (Zastavení proměn myslícího principu.) </li>
<li>Když je mysl ovládnuta, Já nepohnutě spočine ve svém původním neproměnlivém stavu. </li>
<li>Je-li tomu jinak, Já–pozorovatel se ztotožňuje s proměnami mysli. </li>
<li>Je patero druhů těchto proměn. Některé jsou příjemné a jiné nepříjemné. </li>
<li>Jsou to: zkušenosti, zmatení, sebeklam, spánek a vzpomínky. </li>
<li>Zkušenost vzniká z vnímání, usuzování a pochopení. </li>
<li>Zmatení je nesprávná představa o věci, jež neodpovídá její přirozenosti. </li>
<li>Sebeklam je představa sdělená slovy a odlišná od skutečnosti. </li>
<li>Spánek je stav, v němž je zastaveno vnější vnímání. </li>
<li>Vzpomínka je připamatování si minulé zkušenosti. </li>
<li>Jejich ovládnutí se získá praxí a odpoutáním. </li>
<li>Praxe je trvalé úsilí o soustředění. (Odpoutání mysli od jejích proměn.) </li>
<li>Dlouhá, nepřerušovaná a uvážlivá praxe se ustálí ve zvyk. </li>
<li>Odpoutání je rozhodné odřeknutí se touhy po věcech, jež vnímají naše smysly. </li>
<li>Automatickým důsledkem sebepoznání je nejvyšší forma odpoutání. Je jím odřeknutí se třech stavů. (Tamas–nevědomost, Radžas–činorodost, Sattva–čistota.) </li>
<li>Praxí se dosáhne Sampradžňáta Samádhi, jež jest stavem vědomého osvícení, ve kterém je mysl smísena s vědomím citu (Savitarka), nebo s vědomím rozlišování (Savičára), a vědomím radosti (Sánanda), či s vědomím osobnosti (Sasmita). </li>
<li>Trvalou praxí, zastavením veškeré mentální aktivity, přichází Asampradžňáta Samádhi, ve kterém si mysl uchovává pouze neprojevené dojmy. </li>
<li>Ti, kteří se zbavili připoutanosti k tělu, nebo splynuli s přírodou, vrátí se do tohoto stavu v dalším zrození. </li>
<li>Ale ostatní musí tohoto dosáhnout pomocí víry, úsilím, rozpomenutím se, soustředěním a rozlišováním. </li>
<li>Když je úsilí mocné, dostaví se úspěch okamžitě. </li>
<li>Dle vynaloženého úsilí se rozlišuje úspěch slabý, střední, nebo mocný. </li>
<li>Osvícení lze také dosáhnout uctíváním Boha. </li>
<li>Bůh je Jediná Nejvyšší Bytost nedotčená utrpením ani tužbami, či konáním a jeho následky. </li>
<li>V Něm spočívá semeno vševědoucnosti. </li>
<li>On je mimo čas a je také učitelem pradávných učitelů. </li>
<li>Jeho projevené jméno je ÓM. </li>
<li>Opakuj si ho neustále a medituj o jeho významu! </li>
<li>Tím dosáhneš osvícení a odstraníš všechny překážky! </li>
<li>Nemoc, nedostatek nadšení, nespravedlnost, letargie, touha po smyslových požitcích, poblouznění, neschopnost postoupit vpřed, to vše jsou překážky, jež rozrušují mysl. </li>
<li>Následuje neschopnost soustředění, smutek, nervozita a nepravidelné dýchání. </li>
<li>K jejich odstranění je nutné praktikovat soustředění na jediný objekt. </li>
<li>Mysl se naplňuje mírem setkáním se šťastnými, soucítěním s nešťastnými, oceněním ctnostných a uvarování se neřestných. </li>
<li>Ale také výdechem a zadržováním dechu. </li>
<li>Mysl se zklidní, když meditace vytvoří výjimečné smyslové vnímání. </li>
<li>Také meditací na vnitřní zářivé světlo se odstraňuje zármutek. </li>
<li>Nebo soustředěním na srdce, jež se odřeklo smyslových tužeb. (Na srdce světců.) </li>
<li>Nebo meditací na poznání, jež přichází ve spánku a ze snů. </li>
<li>Nebo meditací na cokoliv, co se jeví člověku jako dobré a vhodné. </li>
<li>Tímto způsobem mysl ovládá všechno, od nejmenšího k nekonečnému. </li>
<li>Když je činnost mysli ovládnuta, dostaví se osvícení. Mysl současně zrcadlí přirozenost Diváka, předmět vidění i samotný proces nazírání, jako průzračný křišťál zrcadlí barvu čehokoliv, co na něj položíte. </li>
<li>Toto je Savitarka Samádhi, osvícení, spojené s citem, kdy je mysl ještě zmatena pochybami o slovech a jejich významu. </li>
<li>Nirvitarka Samádhi je osvícení nad citovostí, ve kterém mizí pochyby a mysl, očištěná od změn, zachycuje jen význam objektu. (O němž je meditováno.) </li>
<li>Stejným způsobem může být popsáno osvícení ze soustředění na jemnější objekty. Osvícení s rozlišováním objektů a osvícení nad rozlišováním. </li>
<li>Jemnější objekty zanikají v neprojeveném semeni (objektů). </li>
<li>Toto všechno jsou druhy soustředění – Osvícení spojené se semenem (bodem). </li>
<li>Očišťující soustředění bez rozlišování zklidňuje mysl. (Přináší duchovní uspokojení.) </li>
<li>V tomto stavu se intelekt naplňuje Pravdou. </li>
<li>Namísto poznání, získaného důkazem a usuzováním, přináší toto Samádhi přímé poznání objektu; jeho význam ve své úplnosti. </li>
<li>Výsledný vjem z tohoto Samádhi vylučuje jakékoliv další vjemy. </li>
<li>Potlačením i tohoto jediného vjemu dosáhne se bezsemenného Samádhi.</li>
</ol>
<h2>PRAXE</h2>
<ol>
<li>Praktická jóga se provádí odříkáním, studiem a uctíváním Boha. (Krijá – jóga.) </li>
<li>Cílem jógy je odstranit utrpení a dosáhnout Osvícení. </li>
<li>Utrpení je nevědomost, egoismus, touha, odpor a strach. </li>
<li>Nevědomost je prvotní příčinou utrpení. Ostatní jsou jejím následkem, ať jsou dřímající, zeslabené a potlačené, nebo nahromaděné. </li>
<li>Nevědomost zaměňuje pomíjivé s nepomíjivým, čisté s nečistým, strastiplné s radostným a ne–Já s Já. </li>
<li>Egoismus způsobuje ztotožnění Diváka s omezeností jeho zraku. </li>
<li>Touhy dychtí po rozkoši. </li>
<li>Odpor odtahuje od bolesti. </li>
<li>Strach je neustálý přirozený děs ze smrti, hluboce zakořeněný i v mysli vzdělaných. </li>
<li>Jemnější utrpení zmizí, když se mysl rozplyne v osvícení. </li>
<li>Hrubší utrpení odstraňuje meditace. </li>
<li>Karman (následky skutků), ať se uskutečňuje v současném nebo budoucím životě, má své kořeny v utrpení. </li>
<li>Tak dlouho, dokud je tento kořen přítomen, setrvává i karman, vytváří nová zrození, řídí dobu svého zrání a její naplnění. </li>
<li>Přináší radost nebo bolest podle toho, zda pochází ze zásluh či prohřešků. </li>
<li>Pro mysl, jež rozlišuje, veškerý karman je strastiplný, protože vždy s ním přichází strast. Vytváří podráždění, zanechává za sebou dojmy a způsobuje konflikt mezi třemi stavy. (Tamas, Radžas a Sattva.) </li>
<li>Je nutné vyhnouti se budoucímu utrpení. </li>
<li>Příčinou utrpení je spoj (proces nazírání) mezi divákem a viděným světem, který je nutno přerušit. </li>
<li>Čistota, činorodost a nevědomost (Sattva, Radžas a Tamas) utvářejí viděný svět. Živly a smysly tvoří jeho rozdílnost. Radost a osvobození jsou cílem. </li>
<li>Hrubé, jemné, projevené a neprojevené jsou čtyři rozdíly mezi třemi stavy. </li>
<li>Divák je plně ztotožněn se svým díváním. Ač je sám bezbarvý, jeví se jako zabarvený vzhledem k proměnám svého vnímání. </li>
<li>Zkušenost z viděného světa existuje jenom pro Diváka. </li>
<li>Ta zaniká pro toho, kdo dosáhl osvobození, ale viděný svět zůstává pro ostatní, jsa obecným jevem pro všechny. </li>
<li>Divák a viděný svět jsou tak propojeni, že pravá přirozenost každého z nich může být rozpoznána. </li>
<li>Příčinou tohoto spojení je nevědomost. </li>
<li>Není-li nevědomosti, není ani propojení. Zrušení tohoto spoje odhalí nezávislost Diváka. </li>
<li>Nevědomost odstraníme neustálým rozlišováním mezi Já a ne–Já. </li>
<li>Sedminásobné je poznání, jež se dostává jóginovi na posledním stupni vývoje. </li>
<li>Meditační praxí odstraníme nečistoty, a světlo poznání zazáří. (Následkem rozlišování.) </li>
<li>Jama, Nijáma, Ásana, Pránájáma, Pratjáhára, Dháraná, Dhjána a Samádhi je osm stupňů jógy. </li>
<li>Odřeknutí se násilí, krádeží a vilnosti spojené s pravdomluvností a vytrvalostí vytváří zásady (Jama). </li>
<li>Toto jsou zásady, jež musí být dodržovány nezávisle na čase, místě, postavení nebo okolnostech. </li>
<li>Čistota, odříkání, spokojenost, opakování posvátných manter a oddanost Bohu vytvářejí pravidla (Nijáma). </li>
<li>Když nás znepokojují zlé myšlenky, musíme je zapuditi myšlenkami dobrými. </li>
<li>Nezapomeňte, že špatné skutky, násilí a podobně, ať již vykonané, zapříčiněné nebo navedené, ať vyprovokované zlobným odporem nebo poblouzněním, ať se zdají důležité či nikoliv, zabraňují meditaci, způsobují temnou zaslepenost a utrpení. </li>
<li>Stane-li se nenásilí nedílnou součástí charakteru jógina, jakékoliv nepřátelství v jeho přítomnosti zaniká. </li>
<li>Je-li pravda jeho nedílnou součástí, dosáhne jógin ovoce skutků pro sebe a druhé aniž by konal. </li>
<li>Kdo nekrade, tomu přichází bohatství samo. </li>
<li>Jógin získává energii neochvějnou vytrvalostí. </li>
<li>Kdo není chamtivý a nepřijímá dary, pozná své minulé životy, přítomnost i budoucnost. </li>
<li>Vnitřní a vnější čistotou se jógin odpoutává od svého těla a vyhýbá se tělesnému styku. </li>
<li>Stejně tak dosáhne vyjasnění intelektu, jarosti mysli, ovládnutí smyslů a síly soustředění. To všechno ho připravuje k Sebepoznání. </li>
<li>Ze spokojenosti vychází nejvyšší štěstí. </li>
<li>Odříkavost odstraňuje nečistoty a probouzí fyzické i mentální síly. </li>
<li>Odříkávání posvátných manter uvádí v přímé spojení s Bohem, jehož uctíváš. </li>
<li>Uctíváním Boha vzniká Osvícení (Samádhi). </li>
<li>Pozice (Ásana) musí být pevná a příjemná. </li>
<li>Tu upraví relaxace a meditace na Nekonečné a Neměnné. </li>
<li>Ovládnutím pozice zmizí všechny narušující vlivy. </li>
<li>Dalším stupněm je ovládnutí dechu (Pránájáma). </li>
<li>Vydechování, vdechování a zadržení dechu může být krátké nebo dlouhé, dle délky, trvání a počtu dechů. </li>
<li>Čtvrtá metoda dýchání je určována jednotnou vnější nebo vnitřní měrou. </li>
<li>Tím se odvane mrak, stínící světlo mysli. </li>
<li>Mysl se stane způsobilou k soustředění (Dháraná). </li>
<li>Pratjáhára je obnovení původní čistoty mysli odřeknutím se vnějších objektů vnímání. </li>
<li>Tak dochází k dokonalému ovládnutí smyslů.</li>
</ol>
<h2>SÍLY</h2>
<ol>
<li>Dháraná je upnutí mysli na jediný objekt. </li>
<li>Dhjána je nepřerušované spojení mezi myslí a objektem. </li>
<li>Samádhi je takový druh osvícení, ve kterém vnímání procesu spojení mizí a v mysli zůstává pouze vjemová podstata objektu. </li>
<li>Tyto tři dohromady (pozornost, spojení a osvícení) utvářejí koncentraci (Samjama). </li>
<li>Úspěšná koncentrace je přímým poznáním. </li>
<li>Koncentrace je nutná k ovládnutí různých stupňů. </li>
<li>Tři stupně (pozornost, spojení a osvícení) jsou mnohem niternější než předcházejících pět stupňů (viz sutra 80). </li>
<li>Ale i tyto tři jsou vnější v porovnání s bezsemenným Samádhi. </li>
<li>Potlačením rozptylujících vjemů mysli a zesílením vědomého ovládání mysl přilne k procesu kontroly a ovládá vjemové modifikace. </li>
<li>Když se uvědomělá kontrola umocní, zklidní se tok mysli. </li>
<li>Když mysl (Čitta) odstraní všechny podružné objekty vnímání a soustředí se výlučně na jediný, dostaví se Samádhi. </li>
<li>Taková koncentrace je pevná a stálá. Čas ji nenarušuje. </li>
<li>Tím mohou být vysvětleny trojí proměny času (minulost, přítomnost a budoucnost) a tvarů i jednotlivin v jemnější nebo hrubší látky a ústrojí. </li>
<li>Podstata je stále stejná. Pouze její vnější tvary se v čase proměňují. </li>
<li>Vzhledem k rozdílným druhům vývoje vznikají rozličné vnější proměny substance. </li>
<li>Samjamou, soustředěním na tři druhy proměn, získáme poznání minulosti a budoucnosti. </li>
<li>Odděleným soustředěním na zvuk slova, jeho smysl a pochopení objektu slovem vyjádřeným, v užívání obvykle smíšených dohromady, porozumíš řeči všech bytostí. </li>
<li>Soustředěním na vjemy z minulosti poznáš minulé životy. </li>
<li>Soustředěním na určité znaky na těle jiného člověka poznáš charakter jeho mysli. </li>
<li>Nemůžeš však poznat obsah jeho mysli, pokud se na něj nesoustředíš. </li>
<li>Samjamou na tvar svého těla a potlačením jeho zrakového vnímání u druhých lidí, jejich vědomí je nezachytí a staneš se pro ně neviditelným. </li>
<li>Tím je také možné vysvětlit utajení a zmizení vyřčených slov a jiných věcí. </li>
<li>Jógin soustředěním na současný a budoucí karman pozná čas a příčinu své smrti. </li>
<li>Soustředěním na přátelství, soucit a radost budeš v těchto oblastech vynikat. </li>
<li>Samjamou na sílu slona nebo jinou sílu zcela ji získáš. </li>
<li>Soustředěním na vnitřní Světlo poznáš jemné, zvláštní a utajené. </li>
<li>Soustředěním na Slunce poznáš svět. </li>
<li>Soustředěním na Měsíc poznáš planety. </li>
<li>Soustředěním na Polárku porozumíš pohybům hvězd. </li>
<li>Soustředěním na pupeční oblast poznáš konstituci těla. </li>
<li>Soustředěním na krční důlek odstraníš žízeň a hlad. </li>
<li>Soustředěním na ústřední nerv Kúrma získáš stabilitu těla. </li>
<li>Soustředěním na světlo vycházející z vrcholu hlavy uvidíš Siddhy (Mistry). </li>
<li>Soustředěním na inteligenci pochopíš všechno. </li>
<li>Soustředěním na srdce poznáš touhy člověka. </li>
<li>Ztotožnění Já a intelektu způsobuje vzruch. Já a intelekt se od sebe radikálně odlišují, protože druhý je pouze nástrojem prvního. Soustředěním na své pravé Já poznáš toto Já. </li>
<li>Potom následuje osvícení a sublimace nadsmyslového vnímání: zraku, čichu, hmatu, chuti a sluchu. </li>
<li>Tyto síly jsou překážkou Osvícení, ale jsou mocné ve světě. </li>
<li>Když se uvolnila pouta mysli, jógin se znalostí nervového systému se může soustředit na tělo druhého člověka a vstoupit do něho. </li>
<li>Ovládnutí Udána (nervového proudu, řídícího plíce a horní části těla) nemůže se jógin utopit ve vodě ani v močálu, zůstává nedotčen trny a může zemřít dle vlastní vůle. </li>
<li>Soustředěním na Samána, živý oheň, vytvoří se kolem tvého těla zářící světlo. </li>
<li>Samjamou na vztah mezi uchem a vzduchem získáš nadsmyslové sluchové vjemy. </li>
<li>Samjamou na vztah mezi tělem a vzduchem a meditativním ztotožněním s věcmi nepatrné váhy (pavučina apod.) budeš se moci pohybovati vzduchem. </li>
<li>Samjamou na samovolnou činnost mysli a nevnímáním svého těla odstraní se závoj clonící Světlo. </li>
<li>Živly ovládneme soustředěním na jejich přirozenost, hrubost, jemnost, vztahy a smysl. </li>
<li>Pak se dostaví schopnost umenšovat a násobit svoji velikost a tělo jógina se stane nezničitelným. </li>
<li>Jest to „Oslavení těla“. Stane se zdravým, krásným, silným a tvrdým jako diamant. </li>
<li>Ovládnutí všech smyslů se dosáhne soustředěním na činnost, přirozenost, individualitu a zaměřením na každý z nich. </li>
<li>Potom je jógin schopen pohybovat se rychlostí myšlenky, dokáže, aby jeho smysly pracovaly mimo tělo a ovládá přírodu. </li>
<li>Samjamou a poznáním, že Já a intelekt jsou oddělené, se dostavuje všemohoucnost a vševědoucnost. </li>
<li>Nakonec, když se odřekne i těchto sil, sémě připoutanosti a zla je zlomeno a jógin dosáhne osvobození. </li>
<li>Jógin nesmí být sveden ani okouzlen nádherou nadzemských sil, aby se nezřítil do nežádoucích světů. </li>
<li>Soustředěním na současný okamžik, na minulou chvíli a okamžik, jenž má nastat, dostavuje se osvícení, které je výsledkem rozlišování. </li>
<li>Takovým soustředěním lze také rozeznat rozdíl mezi podobnými objekty, jejichž odlišnost druhu, vlastnosti a místa je jinak nerozeznatelná. </li>
<li>Takové poznání, jež je důsledkem rozlišování, rozšíří se současně za všech okolností na všechny věci a vede k Osvobození. </li>
<li>Když se intelekt stane průzračně čistým jako Já, následuje Osvobození.</li>
</ol>
<h2>OSVOBOZENÍ</h2>
<ol>
<li>Síly (Siddhi) jsou darovány člověku při jeho zrození, nebo je získá požíváním bylin, opakováním manter, odříkavostí a osvícením. </li>
<li>Jógin se může přetvořit do dalšího života tím, že spojí komponenty a vlastnosti takového života. </li>
<li>Přírodní komponenty pracují dle své přirozenosti. Dobré nebo zlé skutky nejsou přímými příčinami změn v přírodě, ale pracují jako nástroje k nasměrování vývoje. Voda přirozeně zavlažuje pole, když zemědělec odstraní překážky v jejím toku. </li>
<li>Těla, jež vytvořil, zaopatřuje jógin myslí ze své osobnosti. </li>
<li>Ač činnost takových myslí je rozdílná, původní mysl jógina je všechny ovládá. </li>
<li>Ovládající mysl, zrozená z osvícení, zůstává nedotčená touhou. </li>
<li>Jóginův karman není světlý, ani tmavý. Karman ostatních lidí je buď světlý, temný nebo smíšený. </li>
<li>Z těchto třech druhů karmanů vznikají touhy, jež napomáhají k jejich naplnění. </li>
<li>Protože vzpomínky a dojmy jsou identické, následky tužeb se uskutečňují automaticky, i když jsou vzdáleny dobou, zemí nebo inkarnací. </li>
<li>Touhy nemají počátek. </li>
<li>Touhy jsou souhrnem následků nevědomosti a marnivosti mysli a předmětu její tužby. Nejsou-li příčiny, nejsou ani následky. </li>
<li>Minulost i budoucnost existují ve skutečnosti stejně jako přítomnost, ale nevnímáme je, protože dlí na jiné úrovni. </li>
<li>Tamas, Radžas a Sattva jsou úrovně, kde je utajena budoucnost a minulost. Pouze přítomnost je projevena. </li>
<li>Ač je více než jedna, mají jedinou příčinu a jediný výsledek. (Větve stromu jsou rozdílné, ale strom pochází ze semene a plodem stromu je opět semeno.) </li>
<li>Ač je předmět pouze jediný, rozličné mysli jej vidí rozličně. </li>
<li>Žádný předmět není závislý na jediné mysli. Kdyby jej mysl přestala vnímat, přestal by také existovat? </li>
<li>Předmět si uvědomujeme, když se zrcadlí v mysli. Když se nezrcadlí, zůstává nepoznán. </li>
<li>Činnost mysli je známa našemu Já, protože naše Já je Pán, jenž zůstává nedotčen. </li>
<li>Mysl sama sebe neosvěcuje, protože sama může být objektem poznání. </li>
<li>Mysl může ve stejnou dobu poznávat jiné věci, a zároveň sebe. </li>
<li>Kdybychom předpokládali druhou mysl, jež by poznávala první, předpokládali bychom něco rozporuplného, co by mátlo naše vnímání. </li>
<li>Ač Já se nepohybuje, zrcadlí se v mysli, a když mysl vezme na sebe tvar onoho zrcadlení, Já se stane vědomým. </li>
<li>Vše viděné i Divák se obojí zrcadlí v mysli, a odtud ona bere na sebe všechny vnímatelné tvary. Tím může poznat všechno. </li>
<li>Mysl je zbarvována nesčetnými tužbami, a protože mysl a tužby pracují společně, vyplývá z toho, že mysl pracuje pro někoho jiného (Diváka). </li>
<li>Ten, který vidí jasně, odmítá ztotožňovat mysl s Já. </li>
<li>Jsa zaujat rozlišováním touží po Osvobození. </li>
<li>Někdy vjemy probouzející se mysli zasahují do Osvícení. </li>
<li>Ty by měly být odstraněny, jako se zbavujeme i jiných rušivých vlivů. </li>
<li>Když jógin dosáhne konečného stavu rozlišování (Samádhi) a i toho se odřekne, dosáhne stavu, jenž se nazývá „Oblakem zásluh“. </li>
<li>Tím končí karman a utrpení. </li>
<li>Mysl bez nečistot a zábran dosahuje nekonečného vědění. Vše, co se na tomto světě zdálo být hodno poznání, je zanedbatelné. </li>
<li>Všechen průběh stavů (Tamas, Radžas a Sattva) zaniká. Jejich cíle bylo dosaženo. </li>
<li>Tento průběh značí proměny, jež e odehrávají od jednoho okamžiku k druhému, ale jsou pochopeny až ve chvíli, kdy odplynuly. </li>
<li>Rozplynutí hodnot, stavů a vlastností (Tamas, Radžas a Sattva) v jejich zdroji, když nezůstává již ničeho, čeho by bylo možno dosáhnout, je OSVOBOZENÍM. Je projevem sil našeho JÁ a odhalením KRÁSY našeho JÁ.</li>
</ol>

