---
title: NIJAMA
date: 2010-01-22 08:14
layout: extranea
comments: false
tags: [seberozvoj, joga]
---
<p>Příkazy; druhý člen Pataňdžaliho osmidílného jógického školení, znamenající očistu ve smyslu morálním, tedy očistu na vnější úrovni.</p>
<p>Obsahuje pět příkazů:</p>
<p>1. Čistota těla a mysli (šanča). Čistá mysl nedovoluje propadat světskosti, ale naopak orientuje mysl k božství a jeho kvalitám. </p>
<p>2. Spokojenost (santóša). Dobrou náladou je nutno především paralyzovat bezprostřední vliv odříkání se světa; když takovou náladu jogín nerozvíjí, stává se jeho askeze bezúčelnou, a když dopustí, aby se v něm rozvinul pesimismus, dokonce i škodlivou. Spokojená nálada také rozmnožuje sílu a vytváří psychologické podmínky k překonání všech riskantních momentů na mystické cestě.</p>
<p>3. Askeze (tapas). Askezí má být bytost oproštěna od stálého nepřiměřeného chtění, ačkoli jsou dovoleny úkony k zachování života. Jíst se má pro zachování těla, uvolňovat mysl, když se askezí zvýšilo napětí na hranici duševní únosnosti,i stýkat se s lidmi je asketovi dovoleno, jestliže tento styk je prospěšný duchovnímu prospěchu askety nebo jeho přátel; je také dovoleno ukrýt se před nepohodou, věnovat čas nezbytnému spánku apod. Není však dovoleno vyhledávat smyslově potěšující prožitky a nechat mysl, aby se rozptylovala zájmy, která nejsou prospěšné vývoji k duchovní dokonalosti; naopak je nutno dbát o to, aby se duševní činnost zastavila, neboť tato činnost u neosvíceného vede pouze ke komplikacím, nedorozumění a jiným nesnázím ve společenském životě. </p>
<p>4. Studium posvátných písem (svádhjája). Poslouchání védského učení se rovná nezbytnému teoretickému vzdělání na ochranu před diletantstvím v józe, které člověku může velmi škodit. Na našem kontinentě může být tento příkaz vykládán jako příkaz číst knihy, pojednávající o filozofii a metodice jógy. </p>
<p>5. Poslušnost a uctívání osobního boha (Íšvara-pradnidhána).Víra v Boha je předpokladem vnitřního pozvednutí do světa transcendentních kvalit a zábranou vzniku beznaděje a nihilismu. Klanění se božství je projevem pokory a uvádí se jím do pohybu očišťující a osvěcující karma. Odříkávání svatých slov, džapa, slouží k energickému vylučování světských věcí z mysli a k navození zájmů duchovních, náboženských nebo mystických. Pobožnost též vede k pokoře a k vyvolání mentálně i mravně očistných vlivů. </p>
<p>Těmito příkazy upravuje jóga člověka na povrchu a to je pro jóginský vývoj nezbytné, neboť očištěna, produchovněna a posléze vykoupena má být celá bytost a nikoliv pouze její nitro.</p>
<p><strong><em>Z knihy K.Minařík - Malý mystický slovník naučný</em></strong></p>

