---
title: Karmajoga
date: 2010-02-07 20:58
layout: extranea
comments: false
tags: [seberozvoj, joga]
---
<h2>Cesta k realizaci stavů absolutna pomocí správného konání</h2>
<p>K této realizaci ovšem nepřispívají všechny činy, ale pouze činy nesobecké; ty, které jsou vykonávány bud k poctě Boha, nebo se zřetelem na to, aby prospěly jiným bytostem. Činnost, které se člověk dopouští s myšlenkami na vlastní osobní prospěch, karmajóga neschvaluje, a to ani tehdy, kdyz ji člověk omlouvá přesvědčením, že je to činnost z povinnosti. Očišťující nebo od následků karmy oproštující činnost je taková, jíž se člověk dopouští třeba proto, aby nebyl nečinný. Nebo činnost podmíněná poznáním, že nečinnost vede k duševnímu otupění a psychickému úpadku. Také činnost pramenící z poznání, že stavy pocházející z nečinnosti, jsou právě opačné, než jóga schvaluje. Tato idea karmajógy svědčí o tom, že základem jógy není pasivita. Jóga je psychologická škola, jejímž hlavním záměrem je vystupňovat energičnost; její pomocí se mají vyvážit překonávající a posléze člověka si podrobující energetické tlaky zevního světa. Přitom karmajóga nejlépe dokazuje, že jóga především neschvaule to, aby člověk žil v kontaktu se světem jako chtivý tvor, nebot takovýto způsob živote vede k otroctví a strastem jimíž trpí celá lidská společnost.</p>
<h2>Cesta odevzdání plodů činů</h2>
<p>"<em>Člověk se neosvobodí od činů tím, že nebude činy konat, ani nedojde naplnění tím, že se pouze vzdá života ve světě.</em>" Bhagavadgíta 3.4.</p>
<p>     Člověk se nikdy nemůže naprosto osvobodit od činnosti, protože jeho tělo vždy potřebuje minimálně potravu a nějaký příbytek. Poselství karmajógy nás učí vykonávat veškeré povinnosti, ale nelpět na výsledku. Vykonejme vše, co vykonat musíme. Co však z této činnosti vzejde, to nemůžeme nikdy úplně přesně určit, a proto to nechme na Bohu. Pouze takto nezažijeme zklamání a osvobodíme se ze závislosti na hmotném světě, jehož součástí je naše tělo. </p>
<p>     Pro osvobozenou bytost není důvod nějaký čin vykonat ani není důvod čin nevykonat. Pokud však jde o povinnost, je nutno ji vykonat. Nevykonání povinnosti nevědomým je zbabělost a posiluje ego, nevykonání povinnosti osvobozeným dává špatný příklad a vnáší zmatek do mysli lidem nevědomým. Není důvod nemít majetek či nepřijímat zisk z činnosti. Vždy však mějte na paměti, že vše ve světě je dočasné, a proto vše odevzdejte radostně Bohu dříve, než o to bolestně přijdete. Objektivně se nic nezmění, ale vnitřně budete mnohem šťastnější a svobodnější.</p>
<p>     Co jsou povinnosti? Povinnost je správná starost o rodinu, rodiče, děti, starost o své vlastní tělo. Povinností je dobře vykonávat své povolání, které mne živí a je užitečné okolním lidem. Povinností je dobročinnost a hledání moudrosti. Vykonávejme vše tak dobře, jak to jen lze. Neočekávejme nic od okolního světa, protože jen tak se vyhneme zklamání. Věřme v Boha a spolu s cestou oddanosti hledejme naplnění svého života v něm.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-link">
    <div class="field-items">
            <div class="field-item odd">
                      <div class="field-label-inline-first">
              Zdroje: </div>
                    <a href="http://www.svetmysli.net/" target="_blank">Svět mysli</a>        </div>
        </div>
</div>
</fieldset>

