---
title: Mudry - jógická gesta rukou
date: 2010-02-18 16:26
layout: extranea
comments: false
tags: [seberozvoj, joga]
---
<p><strong>Mudrou rozumíme zapnutí některých svalů - či svalových skupin v určitém postavení. Toto zapnutí se přenáší do dalších částí těla, kde je možno sledovat jeho odezvu.</strong><br>
Muder je celá řada. Ve starých textech je uváděno, že každá poloha těla, ve které vnímáme jen vnitřní vjemy, nebo jsme v meditativním stavu mysli, je mudrou. Nejčastěji se však setkáváme s pojmem mudra u gest rukou - a tu se právě objevují záhady energetických cest těla. Je známo, že z hlediska akupunktury a akupresury jsou ruce velmi důležité a existuje celé odvětví akupunktury rukou a existuje i jóga rukou. Z rukou vyzařuje léčivá energie a rukama se třeba i diagnostikuje.</p>
SPLIT
<p>Nauka o mudrách sa zakládá na tattva-jóge, nauce o Elementech.  Fyzické tělo je tvořené pěti Elementy: <strong>Vzduchem, Vodou, Zemí, Ohněm a Akášou</strong> (=éterem). Nerovnováha v těchto Elementech narušuje funkčnost imunitního systému a způsobuje nemoci.</p>
<p>Člověk může rovnováhu všech pěti Elementů regulovat spojením dvou různých částí těla symbolizované spojením prstů, které Elementy představují. Každý prst představuje jeden Element. Tuto techniku nazýváme <em>Mudry prstů</em>.</p>
<table style="margin-left:10em;width:60%;" border="0">
<tr>
<td style="text-align:right">palec</td>
<td> ~ </td>
<td>oheň</td>
</tr>
<tr>
<td style="text-align:right">ukazováček</td>
<td> ~ </td>
<td>vzduch</td>
</tr>
<tr>
<td style="text-align:right">prostředníček</td>
<td> ~ </td>
<td>éter (též nebesa nebo akáš nebo prostor)</td>
</tr>
<tr>
<td style="text-align:right">prsteníček</td>
<td> ~ </td>
<td>země</td>
</tr>
<tr>
<td style="text-align:right">malíček</td>
<td> ~ </td>
<td>voda</td>
</tr>
</table>
<p>Mudry aktivují elektromagnetické toky (vibrace) v těle, které navzájem vyvažují jednotlivé Elementy. Základních muder prstů je asi jedna desítka, přičemž každá Mudra má odlišné působení. Odlišná je i doba, za kterou Mudry začnou účinně působit, takže některé mudry působí po pár sekundách, jiné je vhodné cvičit i více jak 30 minut (často se udává 45 minut).</p>
<blockquote style="width:600px"><p>Tyto techniky jsou nenáročné a jednoduché. Můžete je používat kdekoliv. Mudry cvičíme oběma rukama současně, pokud to však z určitých závažných důvodů nelze, pak jenom jednou. Samozřejmě je ideální, když sedíte ve vzpřímené poloze nebo přímo v poloze lotosového květu, jste v klidu nebo mírně relaxujete. Tyto mudry jsem zkoušel poprvé na moři a pokud bych nebyl přesvědčen o jejich účinnosti, nikdy bych o nich nepsal. Nezapomínejte však na vytrvalost a pravidelnost! (Mike Hackman, 2002)</p></blockquote>
<h2>Jak cvičit?</h2>
<p>Dotykem nebo tlakem určitých prstů vytvoříme mudry. Pouze tím, že držíme prsty v nějaké poloze, můžeme vyléčit nemoc. Mudra vyváží prvky v našem těle a tak nás uzdraví.</p>
<p>Nejsou žádná zásadní omezení při cvičení mudry. Může je cvičit každý - muži, ženy, děti, staří lidé. Mohou se cvičit kdekoliv. Měly by se cvičit oběma rukama. Ale také jsou mudry, které působí při cvičení jednou rukou, jako třeba gján mudra. Pravá polovina těla je ovlivněna cvičením levou rukou a naopak. </p>
<p>Mudry bychom měli cvičit lehce, s jemným napětím v prstech. I když mají být zbývající prsty natažené, měly by být natažené pohodlně. Vzájemné doteky prstů jsou velmi důležité. Ostatní prsty by měly být v pohodlné poloze.</p>
<p>Začátečníci by zpočátku měli cvičit deset minut a postupně zvyšovat až na hodinu, ale ne více.</p>
<p>Když máte nějakou určitou nemoc, měli byste cvičit mudru, která se k té nemoci vztahuje. Nemocný by měl tuto mudru cvičit asi 45 nebo 50 minut, doba se může pozměnit podle schopností a potřeby. Vyléčit chronické nemoci může trvat déle, ale jakákoliv mudra, byť by ji člověk cvičil jen jednu sekundu může pomoci vytvořit vibrace v důležitých čakrách a svalech, což je prospěšné.</p>
<h2 style="margin-bottom:1em">Mudry</h2>
<h3 id="gjanmudra">GJÁN MUDRA</h3>
<p>Navozuje vnitřní klid a mír v duši. Pomáhá se soustředit a zlepšuje paměť, rozvíjí intelekt, spiritualitu a kreativitu. Pomáhá v případě duševních poruch, histerie, depresí, hněvu a nespavosti. </p>
<p><strong>Spojíme konečky palce a ukazováčku, ostatní prsty jsou natažené. Příliš netlačíme.</strong></p>
<hr>
<em>Je to nejdůležitější mudra. Ovlivňuje svaly a mozek. Působí na mentální stres, protože posiluje mozek a odstraňuje negativní účinky napětí. Pravidelné cvičení léčí šílenství, hněv, lenost a deprese. </em>
<p><em>Gján mudra je také vhodná pro studenty, protože podporuje koncentraci. Také zlepšuje paměť a bystří inteligenci. Odstraňuje zlozvyky, například okusování nehtů. </em></p>
<p><em>Pravidelné cvičení této mudry také probouzí šestý smysl a otevírá gján netra nebo Šiva netra.</em></p>
<p><em><strong>Poloha:</strong> Špičky ukazováčku a palce se lehce spojí. Není potřeba tlačit. Ostatní prsty zůstanou uvolněny a natažené.</em></p>
<p><em>Utišuje, dodává klid mysli, pomáhá soustředění, bystří paměť, vyvíjí kreativitu. Výborná při meditaci. Může odstranit mnoho problémů. Je to univerzální prostředek pro duchovní stavy napětí, zlepšuje paměť a koncentrační schopnosti. Uvolňuje mysl, srdce, pomáhá při nespavosti, depresích a vysokém krevním tlaku. Podporuje telepatii a posiluje působení jiných muder.</em></p>
<p><em>Můžeme ji dělat kdykoli - ve stoje, vleže, za chůze.... <strong>Můžeme ji cvičit, jak dlouho chceme, není žádné omezení.</strong></em></p>
<div style="text-align:center">
<a class="thickbox" href="http://www.yaduweb.com/vlese/img/gyan.gif"><img src="http://www.yaduweb.com/vlese/img/gyan.gif" alt="gyan mudra"></a><a class="thickbox" href="http://helar.files.wordpress.com/2009/03/gyanmudra.jpg"><img src="http://helar.files.wordpress.com/2009/03/gyanmudra.jpg" alt="gyan mudra"></a><a class="thickbox" href="http://www.astropalmist.com/images/gyan-mudra.jpg"><img src="http://www.astropalmist.com/images/gyan-mudra.jpg" alt="gyan mudra"></a><a class="thickbox" href="http://www.eclecticenergies.com/mudras/images/gyan.jpg"><img src="http://www.eclecticenergies.com/mudras/images/gyan.jpg" alt="gyan mudra"></a>
</div>
<p><br></p>
<h3 id="pranmudra">PRÁN MUDRA</h3>
<p>Tzv. zásobárna energie. Zlepšuje proudění <em>prány</em> (KI, kundalíní, životní energie) a tak zvyšuje celkouvou vitalitu a posiluje imunitní systém a zpevňuje svaly. Velmi zlepšuje zrak a léčí oční vady (oko je také sval). Urychluje léčbu všech nemocí, uklidňuje hlad a žízeň. Také zvyšuje sebedůvěru.</p>
<p><strong>Konec palce spojíme s konci prstenička a malíčka, zbylé prsty jsou narovnané a navzájem se nedotýkají. Jako posed je vhodný tzv. lotosový květ, nebo turecký sed. Doporučuje se ji dělat aspoň 45 minut každých 24 hodin, aby měla maximální účinek, avšak ani delší doba neuškodí.</strong></p>
<hr>
<em>Áčarja Kéšava Dév říká: „Když zmáčknete tlačítko prán mudry, začne intenzivně pracovat dynamo životní energie. A když elektřina životní energie dobije baterie svého těla, pacient v sobě postupně zakouší čétnu. Pravidelné cvičení této mudry posilní slabého člověka tělesně i duševně a navrátí mu jeho vitalitu.“</em>
<p><em><strong>Poloha:</strong> Spojte malíček a prsteníček, aby se dotýkaly konečky palce. Zbývající prsty by měly zůstat natažené. Tuto mudru může cvičit kdokoliv a kdykoliv. Měla by se cvičit maximálně, neboť probouzí vitalitu.</em></p>
<p><em>Prán mudra posiluje vitalitu a zpevňuje imunitní systém těla proti nemocem. Její cvičení může doplnit nedostatek vitamínů. Zvyšuje vitalitu a energetizuje celé tělo. Reguluje únavu a nervozitu. Nabíjí naše baterie, zpevňuje slabé svalstvo, zlepšuje zrak. Pomůže posílit oči. Její cvičení může odstranit vady nebo onemocnění očí. Ten, kdo si přeje mít zdravé oči by měl cvičit prán mudru pravidelně alespoň pět minut. Když je člověk ospalý, měl by ji cvičit společně s gján mudrou a při cukrovce s ápan mudrou. Áčarja Kéšava vyzkoušel, že když v dlouhých obdobích bez jídla a bez vody je člověk slabý, měl by cvičit prán mudru. Hlad a žízeň zmizí. Ti, kteří jsou nervózní, unavení a slabí si mohou touto polohou pomoci. Už na začátku člověk pocítí elektrické impulsy procházející nervy. Je také užitečná na oči. Je dobré ji cvičit při meditaci.</em></p>
<div style="text-align:center">
<a class="thickbox" href="http://www.yaduweb.com/vlese/img/pran.gif"><img src="http://www.yaduweb.com/vlese/img/pran.gif" alt="prán mudra"></a><a class="thickbox" href="http://helar.files.wordpress.com/2009/03/pran-mudra3.jpg?w=136&amp;h=217"><img src="http://helar.files.wordpress.com/2009/03/pran-mudra3.jpg?w=136&amp;h=217" width="126px" height="200px" alt="prán mudra"></a><a class="thickbox" href="http://www.astropalmist.com/images/pran-mudra.jpg"><img src="http://www.astropalmist.com/images/pran-mudra.jpg" alt="prán mudra"></a><a class="thickbox" href="http://www.karmicprana.com/images/prana_mudra.jpg"><img src="http://www.karmicprana.com/images/prana_mudra.jpg" width="120px" height="200px" alt="prán mudra" title="Klikněte pro zvětšení"></a>
</div>
<p><br></p>
<h3 id="lingamudra">LINGA MUDRA</h3>
<p>"Vnitřní oheň"</p>
<p>Mudra, která <strong>zahřeje, když je zima</strong>, neboť zvyšuje teplo v těle. Zlepšuje odolnost vůči nachladnutí, kašli a infekcím dýchacích cest. Při pravidelném cvičení je však nutný přísun dostatku (spíše nadbytku) tekutin.<br>
Aktivuje vnitřní oheň agni, což zrychluje metabolismus a pomáhá při pomalém trávení (tím pádem člověk hubne).</p>
<p><strong>Propleteme prsty obou ruk tak, že pravý malíček je vespod a pravý palec je narovnaný, trčí nahoru a je v objetí levého palce a ukazováčku, které se dotýkají špičkami. Dlaně jsou k sobě mírně přitlačené ale pevné.</strong></p>
<p>Nemá se dělat s plným žaludkem a <strong>ne moc dlouho</strong>. Cvičení Linga Mudry ukončíme při dostatečném zahřátí těla. Jakmile se člověk začne potit nebo cítí, že upadá na vědomí, cvičí již dlouho a musí přestat. Při pocitu nevolnosti je třeba přestat hned. Tuto mudru prostě s rozumem, deset minut je akorát.</p>
<hr>
<em><strong>Poloha:</strong> Propleťte prsty, ale jeden palec nechejte natažený tak, aby ho obejmul palec a ukazováček druhé ruky. </em>
<p><em>Tato mudra zvyšuje horko v těle, proto je dobré ji cvičit v zimě. Cvičení by měla doprovázet zdravá strava z ovocných šťáv, mléka, ghí a spousta vody. Může se <strong>cvičit kdykoli během dne, ale pouze, pokud je potřeba</strong>. </em></p>
<p><em>Je prospěšná při nachlazeních, od kterých linga okamžitě uleví. Dokonce i v zimě se při delším cvičení této mudry můžete začít potit. Ohřívá tělo a ničí kašel i chronické nachlazení. Posiluje plíce a průdušky a také odbourává zdravotní problémy způsobené změnami počasí a ročních období. Také spaluje přebytečné tuky v těle, proto ubírá na váze, ale v tomto případě je nutné pít osm sklenic vody, podmáslí dále rýži, banány, citrusové plody a ghí jako ochlazující činidla. Tělo je pak imunní vůči nachlazení a zánětlivým onemocněním v hrudníku. Také odstraňuje přebytečný hlen.<br>
Upozornění: Je-li tato mudra prováděna dlouho, způsobuje sklon k indolenci a letargii (lhostejnosti, netečnosti duševní a bezvědomí). A to je znamení, aby se cvičení omezilo a přijímalo se méně ochlazujících nápojů.</em> </p>
<div style="text-align:center">
<a class="thickbox" href="http://www.yaduweb.com/vlese/img/lingamud.gif"><img src="http://www.yaduweb.com/vlese/img/lingamud.gif" alt="linga mudra"></a><a class="thickbox" href="http://www.lifepositive.com/spirit/traditional-paths/grfx/lingamudra.jpg"><img src="http://www.lifepositive.com/spirit/traditional-paths/grfx/lingamudra.jpg" alt="linga mudra"></a><a class="thickbox" href="http://www.astropalmist.com/images/ling-mudra.jpg"><img src="http://www.astropalmist.com/images/ling-mudra.jpg" alt="linga mudra"></a>
</div>
<p><br></p>
<h3 id="sunjamudra">ŠUNJA MUDRA</h3>
<p>Mudra působící hlavně na uši, zmírňuje jejich bolení a trvale léčí choroby s nimi spojené. Po vyléčení problému, jež se léčí postupně, se cvičení této mudry musí zanechat. Protože jsou s ušima spojeny i centra rovnováhy, zmírňuje závratě. Doporučuje se 45 minut, maximálně hodina, cvičení.</p>
<p><strong>Prostředníček přitlačíme ke kořeni palce a přichytíme ho na druhém kloubu palcem. Ostatní prsty jsou narovnané. Takto na obou rukách, které jsou položené dlaněmi nahoru na kolenou, aspoň 15-20 minut v kuse.</strong></p>
<hr>
<em>Speciální cvičení pro ušní a sluchové problémy, které můžeme rychle zlepšit. Při delším cvičení léčí téměř všechny sluchové a ušní nemoci.</em>
<p><em><strong>Poloha:</strong> Ohněte prostředník až se dotýká svalu pod palcem a tlačte prostředník lehce palcem dolů.</em></p>
<p><em>Mudry jako šunja mudra nebo váju mudra se mají cvičit pouze po dobu trvání nemoci. Když se člověk uzdraví, neměl by tyto mudry cvičit příliš dlouho, mohlo by to uškodit.</em></p>
<p><em>Efekt mudry je trvalý</em></p>
<p><em>Ohněte prostředníček do dlaně směrem k palci, palec ohněte a přehněte přes prostředníček. Ostatní prsty jsou volně natažené. </em></p>
<p><em>Tato mudra se může cvičit, dokud není nemoc vyléčena. </em></p>
<p><em>Pomáhá od bolestí uší a problémů se sluchem včetně hluchoty a němoty. Účinkuje rychle, může se cvičit během meditace. Pokud se nadměrně zvýší nebe neboli prostor v našem těle, tato mudra nám pomůže stav vyvážit. Němí lidé a lidé s vadami sluchu by měli tuto mudru cvičit pravidelně, až 45 minut. Tato mudra ale neúčinkuje, pokud je člověk hluchý nebo němý od narození. Také je vhodná na nos a hrdlo.</em></p>
<div style="text-align:center">
<a class="thickbox" href="http://www.yaduweb.com/vlese/img/sunja.gif"><img src="http://www.yaduweb.com/vlese/img/sunja.gif" alt="šunja mudra"></a><a class="thickbox" href="http://helar.files.wordpress.com/2009/03/shunya-mudra.jpg?w=140&amp;h=217"><img src="http://helar.files.wordpress.com/2009/03/shunya-mudra.jpg?w=140&amp;h=217" width="130px" height="200px" alt="šunja mudra"></a><a class="thickbox" href="http://www.astropalmist.com/images/shoonya-mudra.jpg"><img src="http://www.astropalmist.com/images/shoonya-mudra.jpg" alt="šunja mudra"></a><a class="thickbox" href="http://helar.files.wordpress.com/2009/03/shunya20mudra.jpg?w=264&amp;h=216"><img src="http://helar.files.wordpress.com/2009/03/shunya20mudra.jpg?w=264&amp;h=216" width="240px" height="200px" alt="šunja mudra"></a>
</div>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-link">
    <div class="field-items">
            <div class="field-item odd">
                      <div class="field-label-inline-first">
              Zdroje: </div>
                    <a href="http://www.sarpa.cz/cz/clanky/pdf/Mudry.pdf" target="_blank">PDF soubor o mudrách, viz úvod</a>        </div>
              <div class="field-item even">
                      <div class="field-label-inline">
              Zdroje: </div>
                    <a href="http://www.yaduweb.com/vlese/mudry.php" target="_blank">Vánaprastha ášram, aneb jak přežít v lese, viz text kurzívou</a>        </div>
              <div class="field-item odd">
                      <div class="field-label-inline">
              Zdroje: </div>
                    <a href="http://helar.wordpress.com/2009/03/17/mudry-pre-liecenie/" target="_blank">Mudry pre liečenie 1</a>        </div>
        </div>
</div>
</fieldset>

