---
title: Bhaktijoga
date: 2010-02-07 20:31
layout: extranea
comments: false
tags: [seberozvoj, joga]
---
<h2>Jóga lásky a oddanosti k Bohu</h2>
<p>Psychologický význam této jógy je v otevírání se člověka vyšším principům, které vzývá a podrobuje se jim. Tímto způsobem se doře potlačí nižší zřetele a člověk se upravuje na vyšší vjemy a prožívání, jakož i na realizaci božských stavů. Bhaktijógu je možno považovat za školu lásky k Bohu. Její první stupeň je vaidhi-bhakti, čili vzývání Boha a odevzdávání se do vůle boží. Druhým je rága-bhakti, čili pravé uskutečnění lásky k Bohu. Třetím je para-bhakti, čili poznání Boha ve všem, co člověka obklopuje. V jiném pojetí je první stupeň známkou pokusů jednotlivce být božím. Druhý stupeň znamená stav, v němž si je člověk vědom toho, že je božím. Třetí stupeň znamená realizaci bhakti; jogín, který se věnoval lásce k bohu, dosahuje toho,že ho nachází a vidí ve všem.Tato realizace je toho druhu, že člověk pozná sebe jako Boha, s čímž zase souvisí rozvoj pocitu svobody, který vrcholí do stavu v němž člověk ponává sebe jako absolutno. Tím se uzavírá vývojový proces a člověk dosahuje spásy v pravém smyslu toho slova. Tento poslední a nejvyší stav bývá nazýván též prema-bhhakti nebo mahá-bháva.</p>

