---
title: JAMA
date: 2010-01-22 08:13
layout: extranea
comments: false
tags: [seberozvoj, joga]
---
<p>První stupeň jógického školení podle Pataňdžaliho systému. Jsou to tzv. zdrženlivosti nebo zákazy, které musí být považovány za veliké mravní sliby. Hathajóga pradipiká (Lampa k hathajóze) je specifikuje takto: nikomu neubližovat, mluvit pravdu, nic si nepřivlastňovat z toho, co patří jinému, být cudný, zmužilý a odpouštět, být ke každému milosrdný, kráčet přímo vpřed (za nejvyšším cílem), být skromný a očišťovat se. Tomu všemu se má žák jógy věnovat slovem, skutkem i myšlenkou, nebo se má opačným sklonům slovem, skutkem i myšlenkou vyhýbat.</p>
<p>Rozvedeme-li tato přikázání, budeme je moci vysvětlovat takto: </p>
<ul>
<li>Ubližovat nesmíme ani zjevně ani tajně, k nikomu nesmím chovat zášť, přát mu zlo, nebo na něho nevlídně myslit, když nám ublíží. </li>
<li>Mluvit pravdu znamená popisovat věci a události podle skutečnosti nebo podle toho, jak jsme je pochopili. Nesmíme se dopustit lži ani ve svůj, ani v cizí prospěch a milovat věci, které jsou na prospěch všem lidem bez rozdílu. </li>
<li>Nezcizovat nic nezákonně znamená, že nejen nesmíme krást, ale ani si přát nic z výhod nebo štěstí, kterých se dostalo jiným. Naopak musíme přát každému, aby měl štěstí a dokonce se máme z jeho štěstí těšit. </li>
<li>Cudnost vyžaduje nepřítomnost smyslných žádostí, potlačování vzniklých chtíčů, nejpřísnější vyhýbání se chtivým vzruchům, které mohou vzniknout funkcí smyslů (když muž vidí jemu sympatickou ženu, když žena vidí jí sympatického muže).</li>
<li>Zmužilost vyžaduje nepřítomnost strachu, nedůvěry a pesimismu a naopak víru v dobrý výsledek v každém jednání nebo osudové nahodilosti, která se nám rýsuje před očima. </li>
<li>Odpouští skutečně pouze ten, kdo na jemu učiněné příkoří ihned zapomene a v jehož mysli ihned vystoupí vlídné myšlenky. </li>
<li>Milosrdenství spatřujme v maximu dobrých činů, v povzbuzování trpících a v neustálém přání všeho dobrého všem bytostem. Dobré činy a povzbuzování se týkají bezprostřední pomoci trpícím jednotlivcům; přání všeho dobrého se má vztahovat na všechny bytosti a bez časového omezení. Kromě toho dobré činy znamenají pomoc v rámci našich možností; jsou-li naše možnosti malé, musíme vykonávat dobro intenzivním přáním dobra a povzbuzováním. </li>
<li>Skromný v jídle je ten, kdo požívá jednoduchou stravu nutnou k udržení těla a nevyhovuje chuti. Proto jsou zakázána pikantní jídla, alkohol a přemíra sladkostí. </li>
<li>Očišťovat se znamená dbát na čistotu těla. </li>
</ul>
<p>Všechna tato přikázání mají na zřeteli získání karmy, která bude pomocnou silou na cestě jógy. A protože jde o mravní příkazy, vytváří se jimi záslužná skutková karma, která člověka pozvedá z úrovně bytostí vzájemně si ubližujících, a proto intelektuálně zatemnělých, na úroveň bytostí, vyjadřujících svou činnost skutky ctnosti; to jsou bytosti intelektuálně rozvinuté do té míry, že chápou kosmické zákony o příčině a následku. </p>
<p>Nikdo by tedy neměl čekat, že i když nesplní podmínky prvního stupně jógického školení, bude moci také spoléhat na úspěch. Jama je jakoby hmotný základ budovy duchovní dokonalosti. Kdo by se pokusil tuto dokonalost vybudovat bez ohledu na jamu, bude se vlastně snažit postavit budovu ve vzduchu. Jen z plnění příkazů jamy, prýští vnitřní klid, svěžest a sebedůvěra, nezbytné to podmínky pro zachování realizovaných hodnot duchovního vývoje, hodnot, které se stávají úchopnými pomocí uskutečňování dalších stupňů jógického vývoje. Dokud člověk nepřekročí na cestách duchovního vývoje nejzazší hranice okrsku zvaného smyslový svět, dotud hledá pouze ty výsledky, které pocházejí z uskutečnění prvního stupně jógického školení, ať o tom ví či nikoli. Takový člověk totiž chce žít šťastně a šťastné žití pramení ze skutků ctností, které vytvářejí vlivy, v jejichž středu existuje. Velebné výšiny DUCHA takovému člověku neimponují, protože nezískal zkušenosti pramenící z univerzálního zřeknutí a tedy z pocitů, které se vážou na dokonalé osamocení. To buď každému jak připomínkou tak výstrahou.</p>
<p><strong><em>Z knihy K.Minařík - Malý mystický slovník naučný</em></strong></p>

