---
title: Hra cvrčků
date: 2010-01-22 14:38
layout: book
comments: false

---

      <p>„Nuže?“ – ptali se pánové jako jedněmi ústy, když profesor Goclenius vstoupil s nápadně rozrušenou tváří rychleji, než bylo zvykem, „nuže, vydali vám dopisy? Je už Jan Skoper na cestě do Evropy? Jak se mu daří? Došly s ním také sbírky?“ – volali všichni jeden přes druhého.</p>
<p>  „Jen toto zde,“ řekl vážně profesor a položil na stůl svazek spisů a lahvičku, v níž byl mrtvý bělavý hmyz velikosti roháče, „čínský vyslanec mi to odevzdal osobně s tím, že přijel dnes oklikou přes Dánsko.“</p>
<p>  „Obávám se, že dověděl špatné zprávy o našem kolegovi Skoperovi,“ šeptal bezvousý pán do ucha svému sousedovi u stolu, stařičkému učenci s vlající lví hřívou, který jako on sám pracoval v přírodovědeckém muzeu. Teď měl brýle posunuty na čelo a s velkým zájmem pozoroval hmyz v láhvi.</p>
<p>  Byl to zvláštní pokoj, ve kterém sedělo těchto šest pánů, badatelů na poli vědy o motýlech a broucích.</p>
<p>  Tupý zápach po kafru a santalovém dřevu zesiloval dojem něčeho cize mrtvolného, co vycházelo z mořských ježků, visících na šňůrách ze stropu s vyvalenýma očima, z bíle a červeně pomalovaných ďábelských masek divokých ostrovních kmenů, z pštrosích vajec, žraločích chřtánů, ze zubů narvala, zkroucených opičích těl a ze všech těch rozmanitých groteskních forem vzdálené oblasti.</p>
<p>  Na stěnách nad hnědými skříněmi prolezlými červotočem, které vypadaly jako klášterní, když tlumené světlo večerních červánků ze zdivočelé muzejní zahrady pronikalo vypouklým mřížovým oknem, láskyplně visely vybledlé podobizny obrovsky zvětšených stromových štěnic a cvrčků, zarámovány ve zlatě jako obrazy ctihodných předků.</p>
<p>  V postoji předpotopního vesnického rychtáře se z kouta ukláněl lenochod s úslužně ohnutou paží, rozpačitým úsměvem kolem knoflíkovitého nosu a žlutých kulatých skleněných očí. Na hlavě měl cylindr pana preparátora a opentlen byl houpajícími se hadími kůžemi.</p>
<p>  V šerých dálkách chodby visela pýcha ústavu – dvanáct metrů dlouhý krokodýl, který falešným kočičím pohledem nakukoval spojovacími dveřmi do místnosti.</p>
<p>  Profesor Goclenius si sedl, za všeobecného bručení rozvázal tkaničku u svazku dopisů a přelétl úvodní řádky.</p>
<p>  „Je to datováno z Bhútánu, jihovýchodního Tibetu, a sice 1. Července 1914, tedy čtyři týdny před vypuknutím války; podle toho byl dopis rok na cestě,“ podotkl hlasitě. „Kolega Skoper zde mimo jiné píše: „O bohaté kořisti, kterou jsem nasbíral na své dlouhé cestě z čínských pohraničních oblastí do dosud neprobádané země Bhútánu, vám podám obšírnou zprávu příště. Dnes jen krátce o podivných okolnostech, jimž děkuji za odhalení nového bílého cvrčka“ – profesor Goclenius ukázal na hmyz v láhvi – „jehož šamani používají k pověrečným účelům a nazývají ho „Phak“, což je zároveň nadávka pro vše, co se podobá Evropanu nebo člověku bílé rasy.</p>
<p>  Tedy: Jednoho rána jsem se dozvěděl od lamaických poutníků, že nedaleko mého tábořiště sídlí velice vznešený Dugpa, jeden z obávaných ďábelských kněží, kteří označeni šarlatově červenými čepicemi tvrdí, že jsou přímými potomky démona muchomůrek. Rozhodně prý patří Dugpové k prastarému tibetskému náboženství Bhonsů, o kterých takřka nic nevíme a kteří jsou potomky cizí rasy, jejíž původ se ztrácí v šeru času. Každý dugpa, vyprávěli mi poutníci a při tom točili plni pověrčivé bázně svými modlitebními mlýnky, je prý Samček Mičebat, to je bytost, která se už nesmí označovat jménem člověk, pro kterou není na světě nic, co by nemohla vykonat. Existují prý dvě cesty, řekli mi,  jak je možné dostat se na ony stupně vedoucí k nadčlověčenství: Jedna světlá – sjednocení s Budhou – a druhá opačná, stezka levé ruky, k níž vchod zná jen rozený Dugpa – duchovní cesta plná hrůzy a děsu. Takoví „rození“ Dugpové se prý vyskytují – i když velmi zřídka – ve všech oblastech a jsou prý skoro vždy podivuhodným způsobem dětmi obzvláště zbožných lidí. „To je tak,“ řekl mi poutník, jenž mi to vyprávěl, „jako by ruka pána tmy naočkoval jedovatou rýži na strom svatosti.“ Jen podle jediného se pozná dítě patřící duchovně ke spolku Dugpů – běží-li vlasový kotouč na temeni hlavy zleva doprava, místo obráceně.</p>
<p>  Ihned jsem z pouhé zvědavosti vyslovil přání spatřit zmíněného Dugpu, ale vůdce mé karavany, východní Tibeťan, se tomu tvrdošíjně vzpíral. Stále křičel svou, že je to vše hloupost, že v bhútánské oblasti Dugpové vůbec neexistují, nehledě k tomu, že Dugpa – a což teprve Samček Mičebat – by nikdy neukázal své umění bělochovi.</p>
<p>  Příliš horlivý odpor toho muže mi byl stále podezřelejší. Až po dlouho trvajících křížových otázkách jsem z něho dostal, že on sám je přívržencem bhonského náboženství a že přesně ví, že zasvěcený Dugpa ja nablízku.</p>
<p>  „Ale nikdy ti své umění neukáže“ – zakončoval vždy svou řeč.</p>
<p>  „Proč ne?“ – ptal jsem se.</p>
<p>  !Protože na sebe nevezme odpovědnost.“</p>
<p>  „Jakou odpovědnost?“ pátral jsem dále.</p>
<p>  Za poruchu, kterou tím způsobí v říši příčin, by byl znovu zapleten do víru znovuvtělení, ne-li do něčeho mnohem, mnohem horšího.“</p>
<p>  Chtěl jsem se o tajuplném bhonském náboženství dovědět něco více, proto jsem se ptal: „Má člověk, podle tvé víry, duši?“</p>
<p>  „Ano i ne.“</p>
<p>  „Jak to?“</p>
<p>  Místo odpovědi vzal Tibeťan stéblo slámy a udělal na něm uzel: „Má teď tráva uzel?“</p>
<p>  Rozvázal opět uzel: „A teď?“</p>
<p>  „Teď nemá.“</p>
<p>  „Právě tak člověk má nebo nemá duši“ – řekl jednoduše.</p>
<p>  Zkoušel jsem to jinak, abych si udělal představu o jeho názoru: „Dobrá, řekněme, že bys v tom strašlivém průsmyku, sotva píď širokém, který jsme nedávno přešli, spadl do hlubiny, žila by tvoje duše dál?“</p>
<p>  „Nezřítil bych se.“</p>
<p>  Chtěl jsem se mu dostat na kobylku jinak, ukázal jsem na revolver: „Když tě teď zastřelím, pak budeš žít dál, nebo ne?“</p>
<p>  „Nemůžeš mě zastřelit.“</p>
<p>  „Ale mohu!“</p>
<p>  „Tak to zkus.“</p>
<p>  Musím dávat pozor, pomyslel jsem si, to by bylo pěkné, abych bloudil bez vůdce karavany v tom nekonečném pohoří. Zdálo se, že uhodl mé myšlenky, a pohrdlivě se smál. Bylo to k zoufání. Chvíli jsem mlčel.<br>
  „Ty právě nemůžeš chtít,“ začal znovu. „Za tvou vůlí stojí taková přání, která znáš, a taková, která neznáš, a obě jsou silnější než ty.“</p>
<p>  „Co je tedy podle tvé víry duše?“ – ptal jsem se mrzutě. „Mám například já duši?“   „Ano.“</p>
<p>  „A když zemřu, bude má duše žít dál?“    „Nikoliv.“</p>
<p>  „A tvoje, myslíš, bude žít dál, když zemřeš?“   „Ano. Protože mám – jméno.“</p>
<p>  „Jak to, jméno? Vždyť já mám také jméno!“   „Ano, ale neznáš své pravé jméno, tedy je nemáš. To, co považuješ za své jméno, je jen prázdné slovo, které vymysleli tvoji rodiče. Když spíš, zapomínáš ho, já když spím, své jméno nezapomínám.“</p>
<p>  „Avšak když jsi mrtev, už ho neznáš!“ namítl jsem.   „Ne. Ale Mistr ho zná a nezapomene, a když zavolá, pak opět vstanu. Ale jen já, nikdo jiný, protože jen já mám své jméno. Nikdo jiný ho nemá. To, co nazýváš svým jménem, má mnoho lidí s tebou společné – tak jako psi,“ zabručel opovržlivě pro sebe. Rozuměl jsem sice jeho slovům, ale nedal jsem to na sobě znát.</p>
<p>  „Koho rozumíš slovem Mistr?“ prohodil jsem zdánlivě nevinně.   „Samčeka Mičebata.“</p>
<p>  „Toho, který je tady nablízku?“   „Ano, ale nablízku je jen jeho obraz, ten, kým ve skutečnosti je, je všude, a když chce, nemusí být také nikde.“</p>
<p>  „Může se tedy učinit viditelným?“ musel jsem se usmát proti své vůli, „myslíš – jednou je uvnitř světového prostoru – a pak zde zase není?“   „Jméno tady je také, jen když ho vyslovíme, a když ne, není tu,“ vytkl mi Tibeťan.</p>
<p>  „A můžeš se například také ty jednou stát Mistrem?“   „Ano.“</p>
<p>  „Pak tedy budou Mistři dva, je to tak?“   Vnitřně jsem triumfoval, protože upřímně řečeno, mrzela mě chlapíkova duchovní pýcha. Teď ho mám v pasti, pomyslel jsem si (a má další otázka by zněla: když jeden Mistr poručí slunci svítit a druhý, aby pršelo, kdo z nich bude mít pravdu?), tím víc mne překvapila zvláštní odpověď, kterou mi dal:</p>
<p>  „Budu-li Mistrem, pak jsem přece Samček Mičebat. Nebo se domníváš, že by mohly existovat dvě naprosto si podobné věci, aniž by byly totéž?“   „Ale pak jste přece stejně dva a ne jeden: kdybych vás potkal, byli by to dva lidé a ne jeden,“ odporoval jsem.</p>
<p>  Tibeťan se shýbl, mezi množstvím kolem ležících vápencových krystalů vyhledal jeden obzvlášť průhledný a řekl výsměšně: „Dej si ho k oku a podívej se na ten strom. Vidíš ho teď dvojnásobně, je to tak? Ale jsou proto snad ty stromy dva?“ </p>
<p>  Hned jsem nevěděl, co bych mu odpověděl, a také b mi šlo dost těžko v mongolštině, kterou jsme si občas museli vypomáhat, vysvětlit logicky tak spletité téma. Nechal jsem mu tedy jeho triumf. V duchu jsem se ale nemohl vynadivit duchovní ohebnosti tohoto polodivocha s šikmýma očima a kožichem, z něhož kapala špína. Tito Asiaté z pohoří mají v sobě něco zvláštního. Zevnějškem vypadají jako zvířata, ale dotkneme-li se jejich duše, objeví se nám filozof.</p>
<p>  Vrátil jsem se opět k začátku našeho rozhovoru: „Myslíš tedy, že by mi Dugpa neukázal své umění, protože odmítá odpovědnost?“</p>
<p>  „Ne, zcela jistě ne.“</p>
<p>  „A když odpovědnost vezmu na sebe já?“</p>
<p>  Poprvé, co jsem Tibeťana znal, pozbyl rovnováhy. Jeho obličejem přeběhl neklid, který sotva dovedl ovládnout. Výraz divoké, mně nevysvětlitelné krutosti se střídal s potměšilou radostí. Během mnoha měsíců našeho společného soužití jsme často hleděli tváří v tvář nebezpečím všeho druhu, překonali jsme hrůzné propasti na kymácejících se sotva stopu širokých bambusových mostech, že mi až hrůzou srdce trnulo, prošli jsme pouštěmi a byli jsme blízko smrti žízní, ale nikdy ani na minutu neztrácel svou rozvahu. A nyní? Co ho tak najednou vyvedlo z míry? Viděl jsem na něm, jak se v jeho mozku honí myšlenky.</p>
<p>  „Zaveď mě k Dugpovi, bohatě se ti odměním,“ domlouval jsem mu horlivě.</p>
<p>  „Rozmyslím si to,“ odpověděl pak.</p>
<p>  Byla ještě hluboká noc, když mě náhle ve stanu vzbudil. Řekl, že je připraven.</p>
<p>  Osedlal dva z našich huňatých mongolských koní, kteří nejsou o moc větší než velcí psi, a vyjeli jsme do tmy.</p>
<p>  Lidé z naší karavany leželi v hlubokém spánku kolem obrovských dohořívajících ohňů.</p>
<p>  Hodiny míjely a my jsme spolu nevyměnili slovo. Zvláštní pižmová vůně, kterou vydechují tibetské stepi v červencových nocích, a jednotvárný klapot nohou našich koní mne omamovaly. Abych zůstal bdělý, musel jsem neustále vzhlížet ke hvězdám, které zde v tomto divokém pohoří mají v sobě cosi žhnoucího, plápolajícího jako hořící papírové útržky. Vychází z nich vzrušení, které naplňuje srdce neklidem.</p>
<p>  Když ranní svítání vystupovalo nad vrcholky hor, zpozoroval jsem, že tibeťanovy oči byly široce rozevřené a upřeně hleděly bez hnutí stále na jeden bod na nebi. Viděl jsem, že je duchem nepřítomen. Několikrát sem se ho ptal, zda ví, kde se zdržuje Dugpa, ale nedostal jsem odpověď.</p>
<p>  „Táhne mne jako magnetovec železo,“ blábolil těžkým jazykem jako ze spaní.</p>
<p>  Ani v poledne jsme se nezastavili, vždy znovu mlčky pobídl koně k novému spěchu. Musel jsem v sedle sníst pár kousků sušeného kozího masa.</p>
<p>  K večeru jsme se zastavili u fantastického stanu, jaké někdy vídáme v Bhútánu. Jsou černé, nahoře zahrocené, dole šestihranné s okraji vypouklými do výše a stojí na vysokých chůdách, takže se podobají obrovskému pavouku, jenž se dotýká břichem země.</p>
<p>  Čekal jsem, že uvidím špinavého šamana se zplstěnými vlasy a vousy, jednoho z těch šílených nebo epileptických stvoření, která se často mezi Mongoly a Tunguzy vyskytují, která se omamují odvarem z muchomůrek a pak se domnívají, že vidí duchy, nebo vyrážejí nesrozumitelná proroctví. Zatím ale přede mnou nepohnutě stál muž dobrých šest stop vysoký, nápadně hubený, bezvousý, s olivově zeleně se lesknoucím obličejem, s šikmýma a nepřirozeně daleko od sebe ležícíma očima. Typ rasy mně naprosto cizí.</p>
<p>  Jeho rty byly živě červené, tenké jako ostří nože a tak silně vykrojené, zvláště ve vysoko vytažených ústních koutcích, jakoby ustrnulé nemilosrdným úsměvem, že vypadaly jako namalované.</p>
<p>  Nemohl jsem od toho Dugpy odvrátit oči – dlouho ne – a když na to teď vzpomínám, řekl bych skoro, že jsem si připadal jako dítě, jemuž se při pohledu na strašnou masku hrůzou tají dech.</p>
<p>  Na hlavě měl Dugpa hladce přiléhající šarlatově červenou čepičku bez okraje, jinak měl až ke kotníkům drahocenný kožich z oranžově zbarvené soboliny.</p>
<p>  Nepromluvil s mým vůdcem ani slovo. Myslím však, že se dorozumívali tajnými posunky, protože aniž se ptal, co od něho chci, řekl náhle Dugpa, že je ochoten mi ukázat, cokoliv si přeji, pod podmínkou, že na sebe výslovně vezmu veškerou odpovědnost, i když ji neznám.</p>
<p>  Ihned jsem souhlasil.</p>
<p>  Požádal mne, abych se na znamení toho dotkl levou rukou země.</p>
<p>  Učinil jsem tak.</p>
<p>  Mlčky pak kráčel kus cesty před námi a my jsme ho sledovali, až nám pokynul, abychom si sedli.</p>
<p>  Byla to vyvýšená země podobná stolu a na jejím okraji jsme se utábořili.</p>
<p>  Zeptal se, zda u sebe nosím bílý šátek.</p>
<p>  Hledal jsem marně ve svých kapsách, jen pod podšívkou jsem našel starou vybledlou skládací mapu Evropy. Rozprostřel jsem ji před námi a vysvětlil jsem Dugpovi, že nákres je obrazem mé domoviny.</p>
<p>  Vyměnil si s mým vůdcem letmý pohled a já jsem zase uviděl na Tibeťanově obličeji ten výraz záštiplné zlomyslnosti, který mi byl nápadný už předcházející večer.</p>
<p>  Přeji si spatřit kouzlo cvrčků?</p>
<p>  Přikývl jsem a okamžitě mi bylo jasné, co přijde, totiž známý trik – vylákání hmyzu ze země pískáním nebo něčím podobným.</p>
<p>  Opravdu, nepletl jsem se: Dugpa dal zaznít tichému kovovému cvrkání (malým stříbrným zvonečkem, který nosí u sebe) a hned vylézaly ze všech děr v zemi spousty cvrčků, kteří lezli na světlou mapu.</p>
<p>  Stále více a více.</p>
<p>  Nesčetně!</p>
<p>  Už jsem se zlobil, že kvůli tak nejapnému uměleckému kousku, který jsem už v Číně dost často viděl, jsem podnikl tak namáhavou jízdu, ale to, co se mi nyní naskytlo, mne bohatě odškodnilo. Cvrčkové byli nejen vědecky naprosto nové rarity – proto již sami o sobě zajímaví – chovali se však nanejvýš podivně. Sotva vstoupili na mapu, běhali nejdříve bezplánovitě do kruhu, pak utvořili skupiny, jež se vzájemně nedůvěřivě měřily. V tom padla do středu mapy duhovitě zbarvená světelná skvrna (jak jsem se rychle přesvědčil, pocházela ze skleněného hranolu, který Dugpa držel proti slunci) a o několik vteřin později se stal z dosud mírných cvrčků chomáč těl hmyzu, jenž se nejhroznějším způsobem rozsápal. Pohled na to byl příliš odporný, než abych to líčil. Šustění tisíce a tisíce křídel vydávalo vysoký zpívající zvuk, jenž mi projížděl tělem i kostmi, šustot smíšený z pekelné nenávisti a hrůzyplných smrtelných muk, které nikdy nezapomenu.</p>
<p>  Zpod chomáče vytékala hustá zelená šťáva.</p>
<p>  Rozkázal jsem Dugpovi, aby ihned přestal; on odložil hranol a už jen pokrčil rameny.</p>
<p>  Marně jsem se snažil rozehnat cvrčky holí. Jejich šílená vražedná vášeň už neměla mezí.</p>
<p>  Stále přibíhaly nové a nové houfy a hromadily se do odporných chumáčů výš a výš – do výšky muže.</p>
<p>  Široko daleko byla půda oživena hemžícím se pominutým hmyzem. Bělavá do sebe vmáčknutá masa se tlačila ke středu, ovládána jedinou myšlenkou: vraždit, vraždit!</p>
<p>  Jednotliví cvrčkové, kteří polozmrzačení spadli z hromady a nemohli lézt, se sami rozsápali vlastními kleštěmi.</p>
<p>  Šustící zvuk se chvílemi stával tak hlasitým a tak děsivě pronikavým, že jsem si zacpával uši, protože jsem si myslel, že to už déle nevydržím.</p>
<p>  Bohu dík, zvířat stále ubývalo, vylézající houfy se zdály být tenčí, až nakonec nadobro ustaly.</p>
<p>  „Co vlastně ještě dělá?“ ptal jsem se Tibeťana, když jsem viděl, že Dugpa se nemá hned k tomu, aby přestal, a jak se zdá, soustřeďuje své myšlenky na něco. Horní ret měl vysoko vytažen, takže jsem zřetelně viděl jeho špičatě připilované zuby. Byly černé jako saze, bezpochyby od žvýkání betelu v zemi obvyklého.</p>
<p>  „Rozvazuje a spojuje,“ slyšel jsem Tibeťanovu odpověď.</p>
<p>  Přestože jsem si stále říkal, že je to jen hmyz, co zde našel smrt, cítil jsem se velmi rozrušen a blízký mdlobě a hlas zněl, jako by přicházel z velké dálky: „Rozvazuje a spojuje.“</p>
<p>  Nechápal jsem, co to mělo znamenat, a nechápu to dodnes. Pak se už nestalo nic, co by bylo nápadné. Proč jsem ale přes to dlouhou dobu zůstal sedět? Nemohu to nazvat jinak, než že se mi nedostávalo vůle, abych vstal.</p>
<p>  Slunce pozvolna zapadalo a krajina i oblaka nabyly onoho křiklavě červeného a oranžově žlutého nepravděpodobného zbarvení, které zná každý, kdo jednou v Tibetu byl. Dojem toho obrazu se dá porovnat jen s barbarsky pomalovanými stěnami evropských zvěřinců, jak je možné je vidět na výročních trzích.</p>
<p>  Nemohl jsem se zbavit slov „rozvazuje a spojuje“, která v mém mozku postupně nabývala nádechu něčeho strašlivého.</p>
<p>  Ve fantazii se proměnila zápasící hromada cvrčků v milióny umírajících vojáků. Rdousil mne balvan nevysvětlitelného, nesmírného pocitu odpovědnosti, jenž byl pro mě tím mučivější, čím marněji jsem v sobě pátral po jeho kořenu.</p>
<p>  Pak se mi zase zdálo, jako by Dugpa náhle zmizel a jako by zde místo něho stála – šarlatově červená a olivově zelená – protivná socha tibetského boha války.</p>
<p>  A já bojoval proti tomuto pohledu, až jsem měl před svým zrakem opět nahou skutečnost. Zemské výpary, které vystupovaly z půdy, zubaté vrcholky ledovců horských velikánů na vzdálenost obzoru. Dugpa s červenou čepičkou, já sám v poloevropském a polomongolském šatu, pak ten černý stan s pavoukovitýma nohama – to všechno přece nemohla být skutečnost! Skutečnost, fantazie, vidění, co bylo pravé a co bylo jen zdání? A mezi tím vždy znovu dokořán zející myšlení, když se mne znovu zmocňoval strach z nepochopitelného, strašlivého pocitu odpovědnosti.</p>
<p>  Později, mnohem později při zpáteční jízdě rostla ta událost v mé paměti jako bující jedovatá rostlina, kterou se marně snažím vyrvat.</p>
<p>  V noci, když nemohu spát, ve mně tiše rozbřeskuje hrůzné tušení, co asi znamená věta „Rozvazuje a spojuje“, a snažím se ji udusit, aby se nemohla ozvat, tak jako se snažíme udusit vypuknuvší oheň v zárodku. - - - Ale nepomáhá, že se bráním, v duchu vidím, jak z mrtvé hromady cvrčků vystupuje červená pára a přetváří se v mračné obrazy, které zatemňují nebe jako strašlivé příšery a valí se k západu. –</p>
<p>  A i teď, když toto píši, zmocňuje se mne to, - já – já - - - -.</p>
<p>  „Zdá se, že dopis je zde náhle přerušen,“ končil profesor Goclenius, „bohužel vám nyní musím sdělit, co jsem se na čínském vyslanectví o neočekávaném úmrtí našeho milého kolegy Jana Skopera v daleké Asii - - - - „ profesor nemohl dále; okamžitý hlasitý výkřik pánů ho přerušil: „Neuvěřitelné, ten cvrček ještě žije, teď po roce! Neuvěřitelné! Chytit! Uletí!“ křičel jeden přes druhého. Badatel se lví hřívou otevřel lahvičku a vytřásl zdánlivě mrtvý hmyz.</p>
<p>  O okamžik později vylétl cvrček oknem do zahrady a pánové ve své horlivosti, aby ho chytili, ve dveřích skoro porazili stařičkého muzejního sluhu Demetria, který nic netuše vcházel, aby rozsvítil lampu.</p>
<p>  Potřásaje hlavou se díval stařec oknem, jak se venku honili se síťkami. Pak se zahleděl do soumraku večerního nebe a bručel: „Jakou prazvláštní podobu mají ty mraky v této strašlivé válečné době! Tamhle ten vypadá právě tak jako muž s tmavým obličejem a červenou čepičkou. Kdyby neměl ty oči tak daleko od sebe, vypadal by skoro jako člověk. Opravdu, člověk by se mohl stát ještě na stará kolena pověrčivým.“</p>
    