---
title: Kapitola z knihy Zelená tvář
date: 2010-01-22 14:35
layout: book
comments: false

---

      <p>Víc než tisíciletí se lidé učili odhalovat zákony přírody a přírodu využívat. Blaze těm, kdož si uvědomili a pochopili smysl této práce, že totiž vnitřní zákon je totéž jako zákon vnější, jen o oktávu vyšší: Ti budou povoláni ke sklizni - ostatní zůstanou čeledíny robotujícími na půdě, s tváří skloněnou k zemi.</p>
<p>Klíč k moci nad vnitřní přírodou je zrezivělý od dob potopy.<br>
Jmenuje se: -- <strong>být bdělý</strong>.</p>
<p>Být bdělý je to nejdůležitější.<br>
O ničem není člověk tak přesvědčen jako o tom, že bdí; přesto je ve skutečnosti lapen v síti, kterou si sám upletl ze spánku a snu. Čím hustší je síť, tím mocněji vládne spánek; kdož jsou v ní zapleteni, jsou spáči, kteří jdou životem jako stádo dobytčat na porážku - tupě, lhostejně a bezmyšlenkovitě.</p>
<p>Snílci mezi nimi vidí oky sítě zamřížovaný svět - zahlédnou jen matoucí výřezy, podřizují tomu své konání a nevědí, že tyto obrazy jsou jen nesmyslnými útržky z mohutného celku. Tito 'snílci' nejsou - jak si možná myslíš - fantastové a básníci, nýbrž jsou to čiperové, pilníci, neposedové na této zemi, rozežraní šílenstvím aktivity; podobají se hemživým, ošklivým broukům, šplhajícím po hladké rouře vzhůru, aby seshora - spadli dovnitř.<br>
Žijí v bludu, že bdí, ale to, co si myslí, že prožívají, je ve skutečnosti jen sen - přesně předem do nejmenšího detailu stanovený a neovlivnitelný jejich vůlí.</p>
<p>Našli se a najdou někteří jedinci, kteří dobře vědí, že sní - to jsou průkopníci, kteří pronikli až k hradbám, za nimiž se skrývá věčně bdělé Já - jasnozřivci jako Goethe, Schopenhauer a Kant. Ti však neměli zbraně, jimiž by pevnost mohli dobýt, a jejich bojovný pokřik spáče neprobudil.</p>
<p>Být bdělý je nejdůležitější.<br>
Buď bdělý při všem, co děláš! Nevěř, že už bdíš. Ne, spíš a sníš. Pevně se postav, soustřeď se a přinuť na jeden jediný okamžik k pocitu, který ti proběhne celým tělem: 'Teď bdím!'</p>
<p>Jestliže se ti podaří to pocítit, pak také okamžitě poznáš, že stav, v němž ses právě ještě nacházel, ti nyní bude připadat jako obluzení a polospánek.<br>
To je první váhavý krok na dlouhé, dlouhé pouti z poddanství k všemohoucnosti.<br>
Tímto způsobem postupuj od probuzení k probuzení.<br>
Neexistuje žádná mučivá myšlenka, kterou bys tím nedokázal zapudit. Zůstane dole a nebude moci k tobě nahoru, budeš se tyčit nad ní, jako se koruna stromů rozrůstá nad suchými větvemi.</p>
<p>Až jednou budeš tak daleko, že onen stav bdělosti obsáhne i tvé tělo, bolesti do tebe odpadnou jako zvadlé listí.<br>
Ledové koupele židů a bráhmanů, noční bdění učedníků Buddhových a křesťanských asketů, sebetrýznění indických fakírů, aby neusnuli - to všechno jsou jen strnulé vnější rituály, které jako zbořené sloupy prozrazují hledajícímu: Zde stál v šerém dávnověku tajuplný chrám touhy po procitnutí.</p>
<p>Čti svaté spisy národů země - všemi se táhne jako červená nit skryté učení o bdělosti. Je to Jákobův žebřík do nebe. Jákob celou 'noc' bojoval s andělem Páně, až přišel 'den' a on se stal vítězem. Musíš stoupat od jedné příčky jasnějšího bdění ke druhé, jestliže chceš překonat smrt, jejímiž nástroji jsou spánek, sen a omámení.<br>
Již nejnižší příčka tohoto nebeského žebříku se jmenuje: génius; jak bychom měli teprve nazvat vyšší stupně! Pro masy zůstanou neznámé a budou pokládány za legendu. - I příběh o Tróji měli všichni po staletí za pověst, až konečně jeden člověk našel odvahu - a začal sám kopat.</p>
<p>Prvním nepřítelem na tvé cestě k procitnutí bude tvoje vlastní tělo. Bude s tebou bojovat až do prvního kohoutího zakokrhání; spatříš-li však den věčného bdění, který tě vzdálí od náměsíčníků, domnívajících se, že jsou lidé, a nevědí, že jsou spící bozi, pak pro tebe zmizí i spánek těla a vesmír ti bude podřízen. Pak můžeš konat zázraky, zachce-li se ti, a nemusíš pokorně čekat jako otrok, jestli se nějakému krutému bůžku nezlíbí, aby tě obdaroval nebo - ti usekl hlavu.</p>
<p>Jistě, ono štěstí věrného psa vrtícího ocasem: vědět o pánovi nad sebou, jemuž smí sloužit -, ono štěstí se ti rozsype - ale ptej se sám sebe, měnil bys jako člověk, kterým ještě teď jsi, se svým psem?<br>
Nedej se odstrašit tím, že cíle možná nedosáhneš v tomto životě! - Kdo se jednou vydal naší cestou, ten se navrátí na svět vnitřně zralý tak, aby mu to umožnilo pokračovat v jeho práci - narodí se jako 'génius'.</p>
<p>Stezka, kterou ti ukazuji, je poseta podivuhodnými zážitky:<br>
Mrtví, které jsi znal v životě, povstanou před tebou a budou s tebou mluvit! - Jsou to pouhé obrazy! - Zjeví se ti světlé postavy, zářivé a blaživé, a budou ti žehnat. - Jsou to jen obrazy - mlžné tvary, vyslané tvým tělem, jež pod vlivem tvé přetvářející se vůle umírá magickou smrtí a z hmotné substance se mění v ducha, jako se led zasažený ohněm rozpouští v kotoučích valící se páry.</p>
<p>Až když z něho sejmeš všechno mrtvolné, pak můžeš říct: Teď od mne spánek odešel provždy.<br>
Tím se dokoná zázrak, kterému lidé nedokážou uvěřit - protože oklamáni svými smysly nechápou, že hmota a síla jsou totéž -, onen zázrak, že v hrobě neleží mrtvé tělo, i když tě pochovají.<br>
Pak teprve, a ne dříve, dokážeš oddělit podstatné od zdání; koho potom potkáš, může být jen někdo, kdo se vydal na cestu před tebou. - Všichni ostatní jsou stíny.<br>
Do té doby bude na každém kroku nejisté, jestli jsi ta nejšťastnější nebo nejnešťastnější bytost. - Ale neboj se -: dosud nikdy nebyl ten, kdo se vydal na stezku bdělosti, opuštěn svými vůdci, i kdyby zbloudil.</p>
<p>Chci ti povědět o znamení, podle čeho můžeš poznat, jestli zjevení, které spatříš, je skutečné nebo jestli je to šálení: Když předstoupí před tebe a tvoje vědomí bude zakalené, věci vnějšího světa budou jako rozmazané nebo zmizí, pak nevěř! Měj se na pozoru! Je to kousek z tebe sama. Jestliže neuhodneš podobenství, které v sobě skrývá, je to jen přízrak bez podstaty - přelud, zloděj, živící se tvým životem.<br>
Zloději, kradoucí sílu duše, jsou horší než pozemští zloději. Lákají tě jako bludičky do močálu klamné naděje, aby tě v temnotě zanechali samotného a aby navždy zmizeli.<br>
Nedej se zaslepit žádným zázrakem, který prý pro tebe zdánlivě činí, žádným svatým jménem, které přijmou, žádným proroctvím, které vysloví, ani tehdy ne, když se takové proroctví splní - jsou to tví smrtelní nepřátelé, vyvržení peklem tvého vlastního těla, s nímž bojuješ o nadvládu.</p>
<p>Věz, že zázračné síly jsou tvými vlastními silami - uloupili ti je, aby tě drželi v otroctví - nemohou žit než z tvého života, ale když je překonáš, poklesnou do němých, poslušných nástrojů, jimiž můžeš po libosti manipulovat.<br>
Nesčetné jsou oběti, které si vybrali mezi lidmi; čti dějiny vizionářů a sektářů a poznáš, že stezka ovládání, po níž kráčíš, je pokryta umrlčími lebkami.<br>
Lidstvo si proti nim nevědomky vybudovalo zeď: materialismus. Tato zeď je bezpečnou ochranou - je symbolem těla, avšak je zároveň stěnou žaláře, bránící v rozhledu.<br>
Dnes, kdy se zeď pozvolna drolí a fénix vnitřního života znovu vstává s novými perutěmi z popela, v němž dlouho ležel jako mrtvý, začínají rozpínat křídla i supi mrchožrouti z jiného světa. Proto si dávej pozor. Miska vah, kam vložíš své vědomí, ti jediná ukáže, kdy smíš důvěřovat zjevením; čím bdělejší bude tvé vědomí, tím hlouběji se miska skloní ve tvůj prospěch.</p>
<p>Jestliže se ti bude chtít zjevit vůdce, pomocník nebo bratr z duchovního světa, musí být toho schopen, aniž by zpustošil tvé vědomí; smíš, podobně jako nevěřící Tomáš, vložit svou ruku do jeho boku.<br>
Bylo by snadné vyhnout se zjevením a jejich nebezpečí:- stačilo by být obyčejným člověkem. - Ale co se tím získá? Zůstaneš vězněm v žaláři svého těla, dokud tě kat 'smrt' neodvleče k popravčímu špalku.<br>
Touha smrtelníků spatřit postavy nadzemských bytostí je výkřikem, který probudí i fantomy podsvětí, protože taková touha není čistá -, je chamtivostí, a ne touhou, chce svým způsobem 'brát', místo aby volala, že se chce naučit dávat. Každý, kdo prociťuje zemi jako vězení, každý zbožný člověk, volající po vykoupení - ti všichni nevědomky vyvolávají svět strašidel.</p>
<p>Dělej to také. Ale: vědomě!<br>
Existuje snad pro ty, kdož to činí nevědomky, neviditelná ruka, která umí močály, v nichž se musí ocitnout, proměnit v ostrovy? Nevím. Nechci se přít -- ale nevěřím tomu. Jestliže po cestě procitání projdeš říší strašidel, pozvolna poznáš, že to jsou jen myšlenky, které najednou dokážeš vidět očima. To je důvod, proč ti připadají cizí a jako bytosti; neboť řeč tvarů je jiná než řeč mozku.</p>
<p>Pak nastane okamžik, kdy se dokoná ta nejzvláštnější proměna, jaká se ti může přihodit: z lidí, kteří tě obklopují, se stanou - strašidla. Všichni, kdo ti byli milí, změní se náhle v masky. I tvoje vlastní tělo.<br>
Je to ta nejstrašlivější osamělost, jaká se dá vymyslet - putování pouští. A kdo nenajde v sobě pramen života, ten zahyne žízní.</p>
<p>Všechno, co jsem ti zde řekl, stojí psáno i v knihách zbožných lidí každého národa: příchod nového království, bdění, překonání těla a osamělost - a přece nás od těchto zbožných dělí nepřekonatelná propast: oni věří, že se blíží den, kdy spravedliví vejdou do ráje a hříšníci budou svrženi do pekel - my víme, že přijde čas, kdy mnoho lidí procitne a budou oddělení od spících jako páni od otroků, protože spáči nemohou pochopit bdící - my víme, že neexistuje žádné zlo a žádné dobro, nýbrž jen 'správně' a 'špatně' - oni věří, že 'bdění' znamená mít otevřené oči a smysly a bdělé tělo za nocí, aby se člověk mohl modlit - my víme, že 'bdění' znamená procitnutí nesmrtelného Já a absence spánku u těla je toho přirozeným důsledkem; oni věří, že tělo musí být zanedbáváno a opovrhováno, protože je hříšné; my víme: neexistuje hřích, tělo je začátek, jímž musíme začít, a sestoupili jsme na zem, abychom je proměnili v ducha;- oni věří, že je třeba jít s tělem do samoty, aby se pročistil duch; my víme, že nejdřív musí odejít do samoty duch, aby projasnil tělo.<br>
Jen na tobě je, abys zvolil cestu - zda naši, nebo jejich. Má to být tvá svobodná vůle.<br>
Nesmím ti radit; je spásnější z vlastního rozhodnutí utrhnout hořký plod, než se na cizí radu dívat na sladký plod - jak visí na stromě.</p>
    