---
title: Technika léčení - Ho´oponopono
date: 2010-01-29 18:46
layout: extranea
comments: false
tags: [seberozvoj]
---
<p>Zajímavou a velmi jednoduchou transformační a léčebnou metodou je technika s názvem <strong>Ho´oponopono</strong>.</p>
SPLIT
<p>Základem této metody, který vznikla na Havaii je myšlenka, že přijmout absolutní zodpovědnost za svůj život - tedy za vše, co se v mém životě objeví - znamená uznat, že vše kolem mne je mým vlastním výtvorem. Problémy nejsou nikdy venku, ale uvnitř mě samého. </p>
<p>Samotná metoda Ho´oponopono v sobě zahrnuje několik přístupů a variant, ale základ, pokud jsme jej pochytili dobře, lze vyjádřit v návaznosti na výše uvedenou myšlenku několika jednoduchými body:</p>
<ol>
<li>Léčení z pohledu a v duchu Ho' oponopono znamená milovat sám sebe.</li>
<li>Chceme-li vyléčit cokoli, co vnímáme ve vnější realitě, musíme to léčit uvnitř sebe.</li>
<li>A to uděláme tak, že uvnitř sebe či v sobě říkáme všemu (čemukoli, co vnímáme jako problém) toto:
<ul>
<li><strong>Miluji Tě.</strong></li>
<li><strong>Omlouvám se, je mi to líto.</strong></li>
<li><strong>Prosím, odpusť mi. </strong></li>
<li><strong>Děkuji Ti.</strong></li>
</ul>
</li>
</ol>
<p>A dovolíme Božství, ať udělá cokoli – dovolíme to bez jakýchkoli našich očekávání.</p>

