---
title: C.G.Jung o I-ťingu
date: 2010-02-25 21:13
layout: extranea
comments: false
tags: [seberozvoj]
---
<p>Ukázka z knihy:<br>
"C.G.Jung sto dopisů"<br>
Autor: Carl Gustav Jung<br>
Stran: 240<br>
Vydal: Sagittarius<br>
Rok: 1996<br>
Překlad: Rudolf Starý</p>
SPLIT
<p>“Plně sdílím Vaše vysoké mínění o I-ťingu a souhlasím se vším, co příznivého o něm říkáte, ale naprosto nesouhlasím s Vaší typicky západní myšlenkou založit pro něj institut. Zdá se, že máte opravdu důkladné znalosti o duši duchovních aristokratů na Východě, ale nemáte zřejmě zdání o duši západního člověka. Nevíte, jakou obrovskou námahu musím vynaložit, abych vlil do žil “technicky vybaveného divocha”, jemuž se říká Evropan, několik málo kapek moudrosti. Umění a moudrost I-ťingu jsou něčím natolik jemným, že je zapotřebí zjemnělé a prastaré kultury východní vzdělanosti, abychom mu porozuměli. Většina moderních Číňanů dnes už nemá o I-ťingu ani tušení, a ani naši sinologové mu už nerozumějí. Co potřebujeme, je psychologická výchova, pomocí níž bychom se pozvolna naučili I-ťing chápat. Ale institut poskytující lidstvu moudra mi připadá jako vrchol hrůzy. Znám dost institutů v Evropě i Americe.</p>
<p>Moudrost je jen pro nemnohé, a vždycky tomu tak bylo, protože pošetilost je vždy tím, po čem lidé nejvíce prahnou. Jinak by svět byl vyléčen už v době starého Pythágora ze své vlastní existence. Vám samému může moudrost prospívat, ale udílet ji ostatním by znamenalo zkreslovat pravdu. Moudrost je něco, z čeho se může těšit jen jedinec sám, a když o ní bude mlčet, ostatní mu uvěří; když však o ní bude mluvit, stane se neúčinná. Upřímně doufám, že tento nápad Vám nevnukl I-ťing, jinak bych v něj ztratil důvěru. Dokonce i lidé, kteří používají I-ťing, například taoističtí kněží v Číně, poklesli na úroveň věštění a mají špatnou pověst, kterou si plně zasloží. Pokud I-ťingu alespoň trochu rozumím, pak je to právě ta kniha, která ukazuje člověku jeho vlastní cestu a její velký význam. Není náhoda, že tato kniha byla tajným pokladem moudrých. Porovnejte ji s tím, co Konfucius říkal masám, a pak uvidíte ten rozdíl. Konfucius byl mudrc, který používal I-ťing; ale nevyučoval mu. Mluvil jazykem mas, protože rád vyučoval. Lao-c’ vyučoval nerad; uvažte, co říkal a kolik lidí mu rozumělo. Pokud je mi známo, ani Kuang-c’, ani Lao-c’, ani Čuang-c’ neměli institut.</p>
<p>Nemám nic proti poctivému pokusu přiblížit lidem na západě moudrost I-ťingu; musím se to však dělat s největší opatrností, aby se zamezilo mnoha nebezpečným nedorozuměním. Nevím, jak se Vám podařilo vyhnout se tomuto uskalí. Nechcete-li narazit na neblahý předsudek zapadního ducha, musíte téma uvést pod ochranou vědy. Proto bych Vám navrhoval, abyste se v této záležitosti obrátil na prof. Roussella, kompetentního sinologa; já sám jsem jen psycholog, a svět nechápe, proč by se psychologie měla zabývat I-ťingem.</p>
<p>Doufám, že mi má upřímně míněná slova nebudete mít za zlé; jsem však vášnivým milovníkem I-ťingu a vím, že takové věci nejlépe prospívají a nejpřirozeněji se rozvíjejí jen tehdy, když se z nich neudělá technická záležitost.”</p>

