---
title: Květoslav Minařík o minulosti, přítomnosti a budoucnosti
date: 2010-02-25 21:20
layout: extranea
comments: false
tags: [seberozvoj]
---
<p>Pokud jsme v síti ustálených pojmů, chápeme věčnost jako neustávající běh času – beze změn v poměru k naší existenci. Jenže čas vždy znamená změny. Věčnost obsahuje minulost, přítomnost i budoucnost jakožto bezvýjimečné „teď“. Jóginové, jimž se podařilo učinit z nekonečného prostoru vnitřní obsah vědomí, proto obsáhnou minulost, přítomnost i budoucnost v jediném aktu sebeuvědomění. Znamená to prožití věčnosti, zatím co faktor času vládne tělu dále, jako by tu nového obsahu vědomí ani nebylo.</p>
SPLIT
<p>Absolutní uskutečnění věčnosti je tedy závislé na realizaci takového stavu vědomí, jaký dovede nekonečný vesmír učinit svým obsahem. Teprve pak se i minulost, přítomnost a budoucnost stanou též vnitřním obsahem vědomí. Když vědomí učiní z minulosti, přítomnosti a budoucnosti svůj obsah, stane se nezměrným až věčným podle toho, zda čas a jáství jsou od sebe izolovány jako samostatné jevy, nebo zda izolovány nejsou. Zruší-li jógin tuto izolaci já a času, je vpravdě věčný. Paradoxní však je, že je věčný jen potud, pokud je zachována tato podmínka. Tato podmínka se stává trvalou jen za předpokladu, že je podepřena zřeknutím se světa. To znamená, že až do tohoto stupně může jógin ponechat svět jako vnějšího činitele, existujícího jakožto protějšek jeho jáství.</p>
<p>Realizace věčnosti je však možná jen tehdy, když jógin docílí toho, že nezájem, podložený absolutním zřeknutím, poskytne světu možnost, aby se s jeho já sloučil. Jógin sám tím získal možnost rozplynutí svého já spolu s vnějším světem, který je nyní absorbován jeho vědomím. Není jiné věčnosti než v této formě.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-nodereference field-field-noderef">
    <div class="field-items">
            <div class="field-item odd">
                      <div class="field-label-inline-first">
              Podobné: </div>
                    <a href="/joga/druhy-jogy">Druhy jógy</a>        </div>
              <div class="field-item even">
                      <div class="field-label-inline">
              Podobné: </div>
                    <a href="/joga/patandzali-joga-sutra">Pataňdžali - Jóga sútra</a>        </div>
              <div class="field-item odd">
                      <div class="field-label-inline">
              Podobné: </div>
                    <a href="/joga/patandzaliho-system-jogy">Pataňdžaliho systém jógy</a>        </div>
        </div>
</div>
</fieldset>

