---
title: Hadí síla ve starém Egyptě
date: 2010-01-30 07:25
layout: extranea
comments: false
tags: [seberozvoj]
---
<p>Je všeobecně známo, že hadí síla (hadí síly) byla známa v Indii a Tibetu, a ti, kdo se domnívali, že je to pouhý výplod lidské fantazie, ji často na tyto země také omezovali. Hadí síla je ovšem skutečnost a tvoří základ energetického systému všech živých tvorů.</p>
<p>Není proto překvapivé, že její existence byla známa celosvětově - například i v zemích Latinské Ameriky a v Africe, ale i v Evropě například u Keltů. Indie a Tibet se staly jejich téměř symbolem jen proto, že vedle toho, že zde byla jejich znalost značně pokročilá (byť v praxi omezená jen na zasvěcené), evropským badatelům (příznačně nikoli ovšem zaslepeným misionářům počátku Novověku) se v těchto zemích tyto znalosti podařilo zastihnout ještě živé.<br>
Egyptolog - znalec magie...</p>
<p>V rámci egyptské kultury se o této znalosti dosud vůbec neuvažovalo, neboť egyptologové o její existenci vůbec nevěděli a nedávali ji do této souvislosti ani s indickou kulturou. To samozřejmě dokládá pouze to, že v těchto kruzích chyběly a stále většinou chybějí základní teoretické i praktické znalosti magie. Situace je to ovšem mimořádně nešťastná již proto, že magie hrála v Egyptě klíčovou úlohu a bez její znalosti není vůbec možné pochopit neadministrativní texty a ani vyobrazení, které nám Egypťané zanechali. Nezáleží tu ani příliš na tom, zda je dotyčný praktickým vykonavatelem (nebo jestli tomu vůbec věří!), ovšem důkladná znalost z tohoto oboru je zcela nezbytná - už proto, že vám každý zkušený překladatel řekne, že při překladu je třeba především rozumět překládanému textu, a to zdaleka nejen po stránce jazykové, ale hlavně obsahové.</p>
<p>Naše poznání hadích sil ve starém Egyptě je dosud na samém počátku. Již dnes je ovšem zřejmé, že jejich znalost byla podstatně vyšší než v Indii, a tak není ani vyloučeno, že je Indie pouze jejím nedokonalým dědicem. Mnohé národy totiž věděly o jejich existenci jako přírodovědném úkazu, ale nedokázaly je ovládat. V tom vynikali zasvěcenci Indie, Tibetu a - jak se dnes ukazuje - i Egypta, jak je zjevné ze záplavy vyobrazení i nápisů. Jejich studium v rámci egyptské kultury je mnohem obtížnější než v případě Indie, neboť Egypťané byli velice důkladní a pro každý aspekt čehokoli měli jiné jméno. Tak třeba v případě hadích sil, v sanskrtu označovaných jako kundalini, v egyptštině existují desítky názvů, a sice podle jejich momentální energetické a blahodárné či naopak zhoubné podstaty.</p>
<p>Přestože se s nimi setkáváme v egyptských chrámech a hrobkách na každém kroku, nebyly dlouho rozpoznány i proto, že jejich popisy a vyobrazení byly brány doslova a považovány za skutečné hmotné hady. Tím vznikaly zjevné nesmysly, přestože je Egypťané předkládají v takové podobě, že nemůže být sporu, oč zde jde. Egyptské popisy a vyobrazení jsou vysoce esoterní a užívají velmi komplexní symboliky, zatímco indické a tibetské prameny jsou mnohem otevřenější. Zachytíte-li však jednou tuto nit poznání, pak v egyptských zdrojích nevyjdete z údivu nad hloubkou v nich znalostí o nich - a neujde vám přirozeně ani to, jak velkou část skutečného rozsahu tehdejších znalostí zahrnují.<br>
Pečlivě skrytá podstata</p>
<p>Za stavu dnešního poznání můžeme za nejzajímavější označit takové literární památky, jako je například Kniha bran. Z nich i z vyobrazení v chrámech a hrobkách a z posvátné architektury je patrné, že dokonale znali systém čaker i všechny další součástí psychoenergetického systému organismu. Stejně jako Indové a Tibeťané si byli dobře vědomi, že hadí síly se zásadně podílejí na dalším osudu duše poté, co její hmotné tělo zemřelo.</p>
<p>Můžeme tedy s jistotou říci, že sloup džed je symbolem páteře se čtyřmi čakrami, které byly zároveň symbolizovány čtyřmi Horovými syny. Obřad vztyčování džedu faraónem tedy představuje proceduru, při níž panovník probouzel svou hadí sílu a nechával jí projít všemi čakrami. Aby to dokázal, musel je pochopitelně ovládat. Kobra na jeho čele nebyla tudíž symbolem Egypta (jak se lze též často dočíst), ale znakem probuzené hadí síly. Tento rys byl zjevně původně vůbec základním požadavkem, aby se mohl dotyčný stát panovníkem. Teprve později se stal úřad dědičným - a v příčinné souvislosti s tím ztratil Egypt své osvícené vládce a země se vnitřně zcela rozložila.</p>
<p>Z hlediska vyjádření znalosti hadích sil si zvláštní pozornost zaslouží chrám Setiho I. v Abydu. Zde se setkáváme se sedmi kaplemi, které představují sedm primárních čaker s velmi výmluvnými nápisy a symbolickými obrazy. Můžeme proto říci, že platila následující souvztažnost:</p>
<ol>
<li>Panovník (zemský prvek)</li>
<li>Ptah</li>
<li>Re (Bezbřehá záře)</li>
<li> Amon</li>
<li>Osiris</li>
<li>Éset</li>
<li>Hor</li>
</ol>
<p>Z tohoto hlediska je tedy jasné, že uváděl-li panovník své jméno na chrám, nebylo to z důvodu uzurpace, jak se zatím soudilo, ale že to byl ryze rituální čin, jímž udržoval řád světa. Není jistě náhodou, že nejvíce "uzurpací" máme od panovníka, který též nejdéle vládl (Ramses II., 67 let)...</p>
<p>Prozkoumání systému egyptské symboliky a právě otázky hadích sil v zemi na Nilu má pro nás dvojí zásadní důležitost. Jednak nám umožní poznat staroegyptskou kulturu mnohem realističtěji, než se to zatím podařilo, a hlavně se snad jednou z egyptologie stane disciplína, která by přestala být přísně historická a která by mohla něco praktického (a především něco esoterního) sdělit i dnešnímu člověku. Vždyť o to ostatně v Egyptě šlo...</p>
<p>Jaromír KOZÁK</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-link">
    <div class="field-items">
            <div class="field-item odd">
                      <div class="field-label-inline-first">
              Zdroje: </div>
                    <a href="http://www.cez-okno.net/clanok/hadi-sila-ve-starem-egypte" target="_blank">CEZ OKNO</a>        </div>
              <div class="field-item even">
                      <div class="field-label-inline">
              Zdroje: </div>
                    <a href="http://www.e-stranka.cz/regenerace/2003/04/egypt.htm" target="_blank">ReGeNeRaCe</a>        </div>
        </div>
</div>
</fieldset>

