---
title: Zkušenost a způsob života
date: 2013-05-18 13:47
layout: extranea
comments: false
tags: [seberozvoj]
---
<p>Autor: J. Krišnamurti
Přednáška, jež byla proslovena v Ommenu, v Holandsku roku 1390.</p>
SPLIT
<p style="text-align: justify;padding-right:3em">
Každý člověk si vytvořil z tradice, ze svého způsobu myšlení a ze zvyků určité pozadí a podle
něho se snaží nabýt nových zkušeností a úsudku. Zkoumáte-li sebe samy, shledáte, že se díváte na
život ze stanoviska určité národnosti, víry nebo třídy a podle toho i žijete. Zařazujete své zkušenosti
napořád do tohoto pozadí, jež jste si vytvořili. Ale naše zkušenosti mají sloužit k tomu, a b y c h o m
o d h a l i l i p r a v o u h o d n o t u v š e c h v ě c í . Oceňujete-li však své dnešní zkušenosti podle
ceny zkušeností včerejších, nepřispívají k vašemu rozvoji tak, abyste se všeho stále více
zmocňovali, nýbrž činí z vás otroky. Proto se nesnažte chápat moje slova podle svých rozmanitých
pozadí a nezabarvujte zkušenost svým temperamentem. Temperamenty jsou výsledky odděleného
bytí jedincova. Ale to, co nezná oddělenosti, nemůžeme vtěsnat do temperamentu, rovněž se tomu
temperamentem nepřiblížíme. Pozorujeme-li to ze stanoviska části, nemůžeme vidět c e l e k , pak
se jeví celek v zabarvení části, v zabarvení temperamentu. Co však je mimo každý temperament,
nemůžeme vnímat temperamentem právě tak, jako nemůžeme z nějakého pozadí vnímat to, co je
větší než každé pozadí.
</p>
<p style="text-align: justify;padding-right:3em">
Nezaměňujte však individuální temperament s individuální jedinečností. Temperament je
vrozený a zahrnuje v sobě rozdíly okolního světa, vědomí rasy, dědičnost atd. Individuální
jedinečnost přetrvává zrození i smrt a je jediným vůdcem po celé naše bytí jakožto bytostí
oddělených, až dojdeme cíle. Abychom pochopili význam individuality, jedinečnosti, musíme
rozumět, co je cílem jedincova bytí. Život je tvorba a zahrnuje tvůrce i stvoření. Příroda zahaluje
život, tj. všecko stvořené skrývá v sobě život. Když se život v přírodě projevuje a v oddělené bytosti
jako v ohnisku se shromažďuje, pak příroda svůj úkol vykonala. Určení a úkol přírody je vytvořit
jedince sebe sama vědomého, znajícího dvojice protiv a vědoucího, že je oddělenou bytostí. Tak si
uvědomuje život v přírodě sám sebe vývojem v probuzené, v sobě uzavřené oddělené bytosti. Cíl
přírody je individualita člověka. Jedinec je oddělená bytost, sebe samé vědomá, která zná svou
odlišnost od jiných a v níž je vědomí o rozdílu mezi j á a t y . Individualita je však nedokonalost
a není konečným cílem sama o sobě.
</p>
<p style="text-align: justify;padding-right:3em">
Vývoj — jako rozšíření vlastní individuality v čase — je klam. Co je nedokonalé, co je
individualita, i když se rozšíří a stupňuje, zůstane nedokonalým. Individualita se zesiluje bojem
nevědomosti a omezením myšlení a cítění. V tom je oddělenost sebe samé vědomá. Je zbytečné
stupňovat sebevědomí, až na n-tou mocninu, neboť ono je oddělenost a zůstane odděleností,
poněvadž jejím kořenem je dělení. Zvětšení pojmu „ j á j s e m “ , což znamená právě oddělení od
celku, nemůže tedy obsáhnout vše, celek. Vývoj tohoto „já jsem“ je rozšíření oddělenosti v prostoru
a času. Jedinec, držený v poutech ohraničení, znající rozdělenost „já“ a „ty“, se musí osvobodit
a v osvobození se stát dokonalým. Osvobození je svoboda vědomí a ta není zmnohonásobení „já
jsem“, nýbrž zničením pociťování oddělenosti. Konečný cíl individuálního bytí je uskutečnění
čistého bytí, v němž není oddělenosti, jež je uskutečnění celku. Nejde o to, ztratit se v absolutnu,
nýbrž růst, probojovat se k celku, stát se celkem. Lidské určení je: B ý t c e l k e m (vším).
Individualita je pouze výsek celku, a poněvadž oddělená bytost ví, že je jenom částí celku, snaží se
neustále dosáhnout celku. Sebevědomí značí proto úsilí, námahu. Nebojujete-li proti ohraničení,
přestává sebevědomí a individualita. Zdokonalila-li se individualita neustálým úsilím, strhla-li dělící
zeď a dosáhla-li pocitu bytí bez úsilí, pak jedincovo bytí je u cíle.
</p>
<p style="text-align: justify;padding-right:3em">
Předně nutno vědět, k jakému cíli razí sobě cestu tento individuální život, toto bytí, v němž je
začátek i konec. Nutno poznat účel bytí; jinak nemá smyslu zkušenost, nemá smyslu tvorba, nemá
smyslu jedinečnost. Když jedinec, vědomý si oddělenosti, vědomý subjektu a objektu, nerozumí
účelu bytí, není ničím jiným, než otrokem svých zkušeností, otrokem vytvořených forem.
7Rozumíme-li však účelu bytí, využitkujeme každou zkušenost, každý cit, každou myšlenku
k odstraňování této dělící zdi.
</p>
<p style="text-align: justify;padding-right:3em">
Člověk vědomý sebe, zná subjekt i objekt, tvoří si objekt v daleko vzdálené bytosti, k níž vzhlíží
o pomoc, které věnuje své zbožňování, lásku, celé své bytí. Ale konec bytí, dokonání jedince záleží
v tom, aby v sobě uskutečnil c e l o s t — č i s t ý ž i v o t — bez subjektu a objektu. Objekt
existuje vlastně jen v subjektivním vědomí jedincově. V jedinci je začátek i konec. V něm je souhrn
vší zkušenosti, všeho myšlení a cítění. V něm je souhrn všech možností a jeho úlohou je, aby
v subjektu uskutečnil všecko, co dává objekt.
</p>
<p style="text-align: justify;padding-right:3em">
Nechápeme-li dobře to, co já rozumím individualitou, kloníme se k omylu, považovat to za
sobecký a nemilosrdný anarchismus; proto se namáhám tak velice, abych vyložil, že veškerý
pokrok je v člověku, v jedinci. V něm je počátek i konec — pramen i cíl. Ve vytvoření mostu mezi
počátkem a konečným cílem záleží dokonání člověka. Individuum je ohnisko univerza. Pokud samy
sebe nepochopíte, pokud jste v sobě samých neobjevili plnost, nacházíte se v kole věčného zápasu,
jste jím ovládáni a v nevolnictví udržováni. Proto je vám zabývat se jedincem, svým já, v němž jsou
i všichni ostatní obsaženi. Proto se zabývám i já jen jedincem. V nynější civilizaci usiluje však
společnost ovládat jedince bez ohledu na jeho růst. Avšak o jedince běží, neboť ujasnil-li si jedinec
svůj účel, je si sám sebou jist a jeho boj se společností je skončen. Potom se nenechá jedinec
ovládat morálkou, úzkoprsostí, konvencemi, experimenty, společnostmi a stranami. Individuum je
celé univerzum, individuum je celý svět, nikoli oddělená část světa. Individuum je pak vše slučující,
nikoli vše vylučující. Jedinec stále o něco usiluje a experimentuje v různých směrech. Ale „Já“
v tobě a ve mně a ve všech je totéž, ačkoli p r o j e v y jeho jsou a musejí být různé. Pochopíte-li
tuto skutečnost v plném jejím dosahu a významu, pak nebudete vzhlížet ven k vykoupení, pak
nepotřebujete síly z vnějšku účinkující. Nejhlubší příčina vašeho strachu je tím odstraněna. Být
beze strachu znamená poznat, že v nás samých je ohnisko projevu života. Dojdete-li k tomuto
světovému názoru, vytváříte si příležitosti. Potom se nevarujete již pokušení, nýbrž kráčíte přes ně.
Potom si nepřejete již někoho napodobovat nebo stát se typem, což pochází jen z přání, přizpůsobit
se nějakému pozadí nebo prostředí. Užijete tradice, abyste ji ocenili a tak se octnete nade všemi
tradicemi.
</p>
<p style="text-align: justify;padding-right:3em">
Život nepracuje na vytvoření typu, život netvoří vyřezávaných obrazů svatých. Život tvoří nás
různé jednoho od druhého, v různosti musí být naše naplnění, nikoli ve vytvoření typu. Vizte, co se
nyní děje: uctíváte mnohé v jednom, personifikujete (zosobňujete) veškerost života v jedné bytosti,
kterou uctíváte. To znamená uctívat typus, voskovou figurku a tak se přetvářet sami na tento typus,
k tomuto obrazu. V tomto napodobování je kořen nevolnictví a starostí.
</p>
<p style="text-align: justify;padding-right:3em">
Uctíváte-li však j e d n o ( J á ) v mnohých, pak se nepřetváříte v typus. Poněvadž se člověk bojí
být dobrým k mnohým, věnuje všecku svou úctu, své zbožňování, své modlitby jednomu, tj. vytvoří
si obraz. Život však netvoří typu, nemá co dělat s vyobrazeními. Jedno (život) v mnohých uctívat
vyžaduje neustálé soustředění myšlení, neustálé vědomí neosobního, neustálé přizpůsobení názoru
jedincova mnohým, ž i v o t u s a m é m u . Vytvoříte-li typus a dosáhnete rovnováhy mezi sebou
a tím typem, pak to není přizpůsobení životu, nýbrž holá osobní choutka. Dosáhnete-li však souladu
mezi sebou a jediným (životem), který je ve všech, pak netvoříte vyobrazení, typus, nýbrž stáváte se
sami životem. V tom záleží rozdíl mezi tvorbou a napodobením.
</p>
<p style="text-align: justify;padding-right:3em">
Napodobení je vynucováno strachem. Strach vytváří sekty, úzké skupiny individuí, která
v napodobování se k sobě tisknou. Sekta nebo spolčování povstávají tam, kde mnozí se pokoušejí
daný typus napodobovat, typus, který není pravda celá, nýbrž jen výsek z ní. Sekta jako společnost
se nemůže přiblížit k pravdě, poněvadž pravda je individuální uskutečnění výhradně vnitřním úsilím
jedincovým. Přimknete-li se ke skupině, nemůžete dojít k plnému uskutečnění (naplnění) vlastní
bytosti.
</p>
<p style="text-align: justify;padding-right:3em">
Člověk, který se chce zbavit strachu, musí poznat, že formy individuálního bytí se mohou měnit
a střídat, že projevy sebevědomí mohou být různé, že život sám se může různě uplatňovat, že však
přesto život ve své podstatě je týž. Když dojdeme k tomuto poznání, je konec všeho strachu. Být
beze strachu znamená být nesmrtelným.
</p>
<p style="text-align: justify;padding-right:3em">
Nesmrtelnost je uskutečněním Já (života) a není otázkou času nebo řady příležitostí, nýbrž je
8otázkou objevení vlastní bytosti, která je v nás a ve všech věcech. Poněvadž se bojíte ztratit
individualitu, toužíte po nesmrtelnosti při pokračování individuální oddělenosti; ale nesmrtelnost je
v J á , v životě, který je ve všem. Toužíte-li po pokračování odděleného bytí, potřebujete nutně to,
co byste nazvali znovuvtělováním. Znovuvtělování je pro mnohé lidi pouhou teorií, ale přestává být
teorií pro toho, kdo myšlenky znovu vtělování prožívá v přítomnosti. Znovuvtělování je řada
příležitostí k duchovnímu uskutečnění ryzího bytí. Pokud jste neuskutečnili ryzího bytí, v němž
každé to úsilí přestává, potřebujete ještě řady příležitostí. Když však jako jedinci se ve vysoké míře
dovedete soustředit na vědomí v přítomnosti, pak prožíváte onu řadu příležitostí t e ď .
Pokud poslední účel individuálního bytí — uskutečnění veškerosti, ryzího bytí, v němž není
oddělenosti — vyžaduje řady příležitostí, které se podávají jen řadou životů, pak je teorie
znovuvtělování nezbytná. Jste-li však jako sebevědomí jedinci vědomi svého jednání a za ně
odpovědni, pak usilujete o naplnění života a musíte se soustředit na řadu příležitostí t e ď . Teorie
znovuvtělování se vám vnucuje tím, že jednotlivé „ty“ nemůže zvládnout přímo všecky životní
okolnosti. Tak prodlužujete individuální bytí v čase, až je jáství vyhlazeno a Já uskutečněno. Když
však v přítomnosti přivedete do svého života porozumění pro pravdu, pak se stane teorie
znovuvtělování zbytečnou. Abychom však cenu této teorie ve skutečnosti poznali, musíme ji žít
a neoddalovat. To není otázka času, neboť čas znamená jenom sled příležitostí až k dosažení cíle.
Pomocí teorie o znovuvtělení děláte si život velmi lehkým, odkládáte námahu na zítřek. Chcete, aby
zpevněná individualita byla zachována a v samém naplnění věcí udržena. Ale jak jsem již řekl, není
individualita konečným účelem, ona je jen prostředkem k nesmírnému uskutečnění bytí, v němž již
není oddělenosti, individualit; je jen ryzí bytí, jež je d y n a m i c k é nikoliv statické, které není ani
zničení ani trvání individua.
</p>
<p style="text-align: justify;padding-right:3em">
Překoná-li oddělenost takový jedinec, který ví, co je to oddělenost, pak zmizí mámení.
V konfliktu probuzené individuality, jež zná oddělenost, v tomto zápolení je ovšem mámení a bolest
a z toho se zrodí dychtění po útěše. Máte-li úzkost, hledáte daleko od života ochranu před životním
zápasem. Proto se formujete podle pevné nějaké míry, hledáte útočiště v náboženství nebo filosofii.
Jiné mámení záleží v dychtění po trvání vlastní individuality a z něho vznikají nesčetné záhady, co
se děje s člověkem po smrti? Bude dále žít? Vrátí se v novém těle a za jakých okolností? Bude po
smrti spojen s těmi, jež miloval? Starost, způsobovaná smrtí, je jen jinou formou vědomí jedincova,
že je oddělenou bytostí; z toho vzniká pocit osamocenosti. Osamocení má kořen v tom, že svou
lásku věnuje někomu, kdo si je rovněž vědom své individuality; z čehož vzniká bolest, když tento
člověk zemře; chtěli byste se s ním setkat na jiné úrovni vědomí, v jiném světě jevů. Měli byste na
to hledět ze stanoviska trvání života, nechť se život projeví či nikoli. Díváte se na lásku, která
v sobě obsahuje nenávist, chtivost a všecky ostatní protivy, ze stanoviska sebevědomé individuality
a rádi byste tuto individualitu viděli prodlouženou v čase.
</p>
<p style="text-align: justify;padding-right:3em">
To znamená, že si přejete individualitu prodloužit trvale donekonečna. Poněvadž ve svém
vědomí provádíte odloučenost a odloučená individualita poznala „ty“ a „já“, musí vzniknout strast.
Znáte-li odloučenost, stáváte se ohraničenými, z čehož vzniká utrpení. Milujete-li jen zevní zjev,
který je toliko projevem skutečného bytí, musí nastat bolest. Milujete-li však ve všech věcech
skutečné bytí, je vaše láska trvalá. Netoužíte již po spojení s tím, co milujete jako bytost oddělenou.
Láska je svoje vlastní věčnost, svoje vlastní trvání.
</p>
<p style="text-align: justify;padding-right:3em">
Individualita žije na půdě lásky, nenávisti, žárlivosti, chtivosti, činnosti, nečinnosti, osamocení,
touhy po společnosti. Člověk odvislý třeba jen od jediné z těchto věcí, zná odloučenost a je
v poutech utrpení. Všude, kde je starost, je touha po útěše a trvání individuálního bytí. Poznáte-li
klamnost této touhy, zrodí se místo ní víra; nikoli víra v jinou bytost, byť byla sebevyšší
a vznešenější, nýbrž víra ve skutečnost, ve skutečnost, jež je v nás samých. Pravou vírou jmenuji
toto: poznání, že veškerost možností je v člověku a že je jeho úlohou, aby tuto veškerost pochopil
a uskutečnil.
</p>
<p style="text-align: justify;padding-right:3em">
Z tohoto uskutečnění povstane jistota o účelu individuality, o cíli individuálního bytí, který
záleží ve spojení individuality s celkem, kde už není subjektu a objektu. Přirozeně, že život,
veškerost, souhrn života, nemá cíle. On je. Život nemá zvláštního temperamentu, svérázu, je
neosobní. Ale mezi tímto životem a jeho porozuměním jedincem je individuální bytí, tento zdroj
9utrpení. Účel individuálního bytí je: Trvalým uvědomováním si cíle a účelu života a neustálou
soustředěností na to, co konáme, vyhladit individualitu, toto sobecké já, které je původcem
všech reakcí. Pak jednáme ze svobodného podnětu, z vlastního trvalého ponoukání, zařídit si život,
vždy čistěji, aby byl výsledkem čistoty cítění a myšlení. Zařídíme si život tak, jak jsme porozuměli
účelu individuálního bytí svého. Prýští-li náš způsob života z čistoty cítění a myšlení, nepovede náš
život ke spletitostem, nebude nám klecí, nýbrž nástrojem k naplnění života.
</p>
<p style="text-align: justify;padding-right:3em">
Mnozí lidé, kteří se zde sešli, vyprostili se z mnohých klecí, filosofií, náboženství, sociálních
konvencí atd. Výsledek toho je, že si vytvořili hluboký kritický smysl. Kritika však může být mělká
nebo hluboká. Jde-li kritika až na kořen, odhalí nikoli novou klec, nýbrž nástroj, kterým otevřete
přístup k živé základní s k u t e č n o s t i . Mluvím o skutečnosti, skryté v každém srdci, která
každou bytostí může být dosažena a o níž tvrdím, že jsem jí dosáhl a ji prožívám. Na této
skutečnosti byste měli pěstovat kritiku. Ale nekritizujte jenom intelektuálně, přibližujte se
k předmětu své kritiky s náklonností. Jsou zde snad mnozí, kdo mají živý, nikoli jen povrchní
zájem, aby v čin proměnili to, čemu porozuměli, aby to vyjádřili svým způsobem života. Zkoušíte-li, analyzujete-li a kritizujete-li s náklonností, stává se myšlenka praktickou a může být
v každodenním životě uskutečňována. Tak byste měli stále pěstovat kritiku a pozorovat, žijete-li
tuto skutečnost. Kritika má cenu jen tenkrát, když vede a cvičí naše pozorování tak, že je umíte
obracet na sebe samy. To je pravý účel kritiky. Užijete-li světla kritiky na sebe samy, začínáte růst
a ničit vše nepodstatné. Způsob života (vést sám sebe) je cesta života, cesta k oné nejvyšší a čisté
skutečnosti, které musí každý dosíci. Rozlišováním se stále přibližujete více k prameni všech věcí,
takže jako jedinci tuto skutečnost žijete. Jakmile jste tuto nejvnitřnější skutečnost, tento základ
všeho bytí pochopili, když ji neosobně kritizujete, rozebíráte, zkoumáte a — třeba jen částečně — ji
žijete, pak ozáříte svou námahou tmu, která zahaluje život každého člověka, tmu, která je všechno
to, co já nazývám nepodstatným.
</p>
<p style="text-align: justify;padding-right:3em">
Abychom objevili, co je podstatné a co nepodstatné, musíme rozumět, co je poslední cíl
individuální existence člověka. Jen tak můžeme sami posoudit, co je podstatné a co nepodstatné.
Chybí-li vnitřní odpor proti nepodstatnému, můžeme tento nedostatek odporu nazvat zlým. Není
přesné hranice mezi dobrým a zlým, poněvadž „dobré“ je jen schopností odporovat nepodstatnému.
</p>
<p style="text-align: justify;padding-right:3em">
Podstatné objevujeme jenom ustavičnou volbou, založenou na porozumění pravého účelu
individuální existence. Volba je neustále odhalování pravdy. Volba znamená jednání, vedení života,
způsob našeho počínání. Všecek způsob života musí nakonec vést k čistému bytí, a proto se musíme
zabývat nejen k o n e č n o u s k u t e č n o s t í , n ý b r ž i p r a k t i c k o u c e s t o u , na které
s k u t e č n o s t p ř e n á š í m e d o z p ů s o b u ž i v o t a . Každý by byl rád praktický a rád by
rozuměl životu prakticky. Nejpraktičtější člověk ve světě je však osvobozený člověk, poněvadž
odhalil pravou cenu všech věcí. A toto odhalení je osvícení.
</p>
<p style="text-align: justify;padding-right:3em">
Život je správné počínání, způsob, jak se chováme k jiným; tak se projevuje naše konání.
Jakmile se stane naše počínání čistým, ryzím, je to svobodný život v jednání. Život, skutečnost,
kterou jsem se pokusil popsat, je rovnováha, které je možno dosíci jen vespolek zápasícími silami
projeveného světa. Projev je jednání. Chceme-li dosáhnout úplné rovnováhy, která je v mých očích
čistým (ryzím) bytím, životem, nesmíme se vzdalovat od tohoto světa projevů. Unaveni bojem
a vzdáleni od světa nemůžeme nalézt rovnováhu. Osvobození musíme najít ve světě projevů a ne
někde daleko od něho. Osvobození působí daleko více na projevy, nežli aby bylo někde mimo ně.
</p>
<p style="text-align: justify;padding-right:3em">
Jste-li svobodni tak, že znáte skutečnou cenu projevů, pak jste z projevů zcela vysvobozeni.
V tomto světě musíme najít rovnováhu. Všecko kolem nás je skutečné. Každá věc je skutečná. Není
klamem. Ale každý musí ve všem kolem sebe najít podstatné, skutečné, to je každý musí rozpoznat
neskutečnost, která obkličuje skutečnost. V uskutečnění je pravá cena. Jak dalece umět rozpoznat
neskutečné věci, začíná se uplatňovat skutečnost. Volbou svého jednání odhalujete pravou hodnotu
věcí. Zkušenost zapuzuje nevědomost, neboť nevědomost záleží ve směšování podstatného
s nepodstatným. Z nepodstatného vzniká klam. Chceme-li objevit podstatné, musíme upřít zrak na
žádost. Žádost se bez přestání pokouší osvobodit se od klamu. Při usilování o rovnováhu dělá
žádost rozmanité zkušenosti a může se tak stát klecí nebo otevřenou branou, vězením nebo volnou
cestou k osvobození — musíte se proto učit poznat tuto základní žádost v sobě samých, musíte ji
10ovládnout, ale ne potlačit. Potlačení není ovládnutí. Ovládání je opanování porozuměním, je
sebekázní, kterou dosahujeme porozuměním smyslu života, c í l e i n d i v i d u á l n í e x i s t e n c e .
Objevíte-li jako jedinci pravou podstatu způsobu života, vytvoříte okolo sebe pořádek, pravé
porozumění, které strhne přehrady mezi vámi a jinými. Proto dávám takový důraz na způsob života.
Pravý způsob života je počínání člověka, který uskutečňuje sebe sama a nezakládá své jednání na
nějaké složité filosofii, nýbrž na vlastní zkušenosti. Pravý způsob života je přenesení svého
vlastního naplnění v čin. To není potom pokus vyvíjet se, to je námaha „ b ý t “ , t ouha „ b ý t “ ,
a ne touha „ s t á v a t s e “ .
</p>
<p style="text-align: justify;padding-right:3em">
Poznáte-li ze zkušenosti, z nepřestávajícího zkoumání, pozorování, neosobního rozboru, že život
je jednota, že jste částí tohoto všeobjímajícího života, odstranili jste základní příčinu s t r a c h u .
Jakmile jste odstranili s t r a c h , zavládne jasné, silné, cíle si vědomé úsilí po b y t í . Konec
strachu je začátek bytí, které je harmonie, úplná rovnováha ve všech projevech bytí. Bytí si nežádá
napodobování ani tvoření sekty nebo skupiny, také ne nějakých útvarů ve světě zmatků na způsob
armád pod vojevůdci.
</p>
<p style="text-align: justify;padding-right:3em">
Bytí je tedy splynutí, v němž není vědomí o „ty“ a „já“. Když jste si vědomi „ty“ a „já“, panuje
nelad a z něho dění, v němž je zahrnut strach. Oddělování je způsobeno buď skrze „ty“ nebo „já“,
které jsou jen vědomí o existenci jedince. Kde je vědomí odloučenosti sebe vědomé individuality,
tam je i touha po osobní nesmrtelnosti, tam je i iluze. Jak jsem již řekl, individualita nemá účel
v sobě samé, ona prodělává proces tvoření se, až dosáhne bytí. Tvoření se je námaha, v bytí
přestává námaha. Kde je námaha, je i vědomí sebe a odtud nedokonalost. Bytí je čisté vědomí,
vědomí sebe již bez úsilí. Rozdíl mezi sebevědomím a vědomím je v tom, že sebevědomí je
výsledkem uskutečnění oddělenosti, čímž je dán konflikt mezi jedinci, vzniká individuální
existence. Vědomí naproti tomu je jáství, v němž všecka individuální vědomí existují a v němž
všecko namáhání přestává. Ono je mimo čas a prostor, ačkoli v něm je čas a prostor. Toto vědomí je
pozitivní jsoucno (bytí), pravé jsoucno. Máme-li dosíci tohoto jsoucna, musíme bdít nad žádostí,
vznikající z existence, vědomé sebe. (Sebevědomí.) Víte-li, odkud žádost vzniká, znáte-li její smysl,
kam žádost cílí, oč usiluje, pak je skvostem, jehož se máte držet, který máte stále zpracovávat, jej
zušlechťovat. Potom není žádost uložené vám školení, nýbrž pravou kázní, jež se, pokračujíc, mění
tak, až dosáhne čistého jsoucna. Žádost je svou vlastní kázní.
</p>
<p style="text-align: justify;padding-right:3em">
Osvobození není nemožností. Ale je těžké udržet usebrané a vytrvalé úsilí o osvobození. Proto je
málo těch, kdo se o to pokoušejí. Není těžko dosíci toho nebo uskutečnit, co je ve všech věcech, ale
je příliš mnoho věcí, stojících mezi vámi a tím uskutečněním, jichž se musíte varovat stálou
námahou, stálou volbou a rozlišováním a jež musíte odstranit. To vyžaduje hlubokou víru, usebrání,
soustředění, stálou energii. To však není omezeno zevními okolnostmi, časem nebo věkem. Život
nezná hranic stáří. Tělo se opotřebuje jako kus šatu. Ale staří i mladí mohou každé chvíle dojít cíle
a jej uskutečnit, mají-li vůli soustředit se a mají-li v to hlubokou víru. Prosil jsem vás již dříve,
abyste neupadli v nedorozumění, co já rozumím vírou. To není víra v něco ve světě vnějším, nýbrž
jistota, že ve vás samých je všecka možnost a celost. Osvobození může dosíci každý, není určeno
jen nemnohým. Dosažení cíle nezávisí tedy na vašem stáří nebo okolí, nýbrž na vašem úsilí, na
vašem zájmu, na vaší touze; a to můžete jen vy sami posoudit.
</p>
<p style="text-align: justify;padding-right:3em">
Není nezdaru. Nezdar je toliko nedostatek síly dosáhnout cíle. Sílu rozvíjíme ponenáhlu
a toužíme-li opravdově po dokonalosti, roste síla neustále. Vypátrejte, na čem máte zájem, nač
kladete váhu, nač svou sílu věnujete. Vypátrejte, kam směřuje Vaše tajná touha. Můžete ji buďto
potlačit, zúžit nebo ji učinit všeobjímající, volnou, neomezenou. Musíte hledat, nač v životě kladete
důraz. Pro člověka nejistého, pochybujícího není pozitivní jsoucnosti. Moudrý je ten, kdo umí klást
důraz na podstatné.
</p>
<p style="text-align: justify;padding-right:3em">
Kladete-li důraz na podstatné nebo nepodstatné, poznáte jen tenkrát, když to, čemu jste ze
skutečnosti porozuměli — ať je toho sebeméně — přeměníte v čin. Uskutečňováním tohoto
porozumění poznáte brzy, jak veliká je vaše touha, vybojovat celek.
Ve starých dobách opouštěli ti, kdo chtěli najít pravdu, všecko ve světě a uchylovali se do
klášterů nebo k asketickému životu. Kdybych chtěl založit nějakou těsnou, v sebe uzavřenou
společnost asketů, snad byste k ní přistoupili, ale to by znamenalo jen povrchní uznání toho, co
11chcete uskutečnit. Úsilí uskutečnit cíl musí vycházet odtud, kde právě jste, musí ve vás samých
vzniknout, třebaže jste obklíčeni zmatky všeho druhu, odporujícími si ideami a tím, co byste asi
nazvali pokušením. (Z mého stanoviska není nic takového jako pokušení.) — Odložit šat a obléci
jiný nepřidá vám síly ve vaší touze. Co vás posílí, je touha sama. V pozorování a vedení své touhy,
v soustředění na své chování, myšlení, pohyby, přizpůsobování se tomu, co jste uznali za účel své
individuální existence, v tom všem máte pozitivní důkaz uskutečnění sebe samých, nikoli ve vašem
příslušenství k sektám, společnostem, skupinám a řádům. Tak využitkujete svých zkušeností
a nestanete se jejich otroky. Proto si žádá čistý způsob života čistotu myšlení. Pod čistotou rozumím
čistotu vytvořenou rozumem, nikoli sentimentální vírou. Rozum je soubor vašich zkušeností —
nebo zkušeností někoho jiného, jež jste neosobně prozkoumali a bez touhy po útěše nebo autoritě —
nestranně analyzovali a kritizovali. To je jediná cesta vyzkoušet hodnoty života.
</p>
<p style="text-align: justify;padding-right:3em">
Když nasloucháte mým slovům o čistém konání, uskutečňování, čisté jsoucnosti, neztrácejte se
v abstrakcích a metafyzice, neztrácejte z mysli všední chování, způsob života, způsob, jakými
chcete být. Můžete teoretizovat o čisté jsoucnosti, blaženosti nebo osvobození, ale jakou cenu
budou mít vaše teorie, budete-li žárlivými, závistivými, chamtivými, ukrutnými, bez myšlenek
a rozvahy? Chcete-li dosíci oné skutečnosti, musíte tyto vlastnosti odložit a máte-li je odložit,
musíte mít rozumnou představu o této skutečnosti a musíte tu představu uvést ve skutek. Jinak
zabřednete do holých slov.
</p>
<p style="text-align: justify;padding-right:3em">
Pravím tedy ještě jednou: Správné jednání je cesta života. Je to cesta k nejvyšší, čisté
skutečnosti, kterou každý musí uvést v čin, poněvadž v každém ta skutečnost potenciálně je.
K tomuto uskutečnění není třeba metafyzických výkladů. Vznikne-li utrpení, je to následek námahy
při rozlišování mezi podstatným a nepodstatným. Všichni lidé touží po tom, aby utrpení přemohli,
aby mu unikli a zacházeli s ním jako s něčím strašlivým. Rozkoš i bolest jsou stejnou půdou, na níž
se daří růstu a zmenšuje se pocit odloučenosti; toto zmenšování odloučenosti je pravý růst. Tak se
musí zrodit v každém člověku víra, ve které je jistota. K tomu nedojdeme jen rozumem, nýbrž
neustálým prodíráním zkušenostmi, hnáni touhou po poslední skutečnosti.
</p>
<p style="text-align: justify;padding-right:3em">
Opakuji opět: Duchovní uskutečnění je pro všecky, poněvadž ta skutečnost je ve všech. Ale
přesto bude jen málo těch, kteří budou usilovat o soustředění, kteří budou stále pozorní a bdělí při
výběru podstatného a tímto způsobem budou se snažit realizovat stále víc a více této existence bez
námahy, tohoto zářivého, vznešeného jsoucna bez námahy. Když tito nemnozí pomocí porozumění,
pomocí rozpomínání v každý denní okamžik budou usilovat o cíl, poznají, o čem mluvím. Poněvadž
touží tuto skutečnost najít, poněvadž všecky neskutečnosti odložili stranou, nejsou již obětí klamu.
Hledají jistotu a nenechají se od ní odlákat pochybováním a nepodstatnými věcmi života.
</p>
<p style="text-align: justify;padding-right:3em">
Bylo mým úmyslem ukázat těm, kdo vidět chtějí, že pravda je skryta v nich samých. Štěstí, které
hledají, je skryto uvnitř jejich vlastních ohraničení, v jejich vlastních srdcích, v jejich vlastních
myslích.
</p>
<p style="text-align: justify;padding-right:3em">
Hledejte tedy poslední pravdu, která nenáleží žádné osobě, žádné sektě, žádné stezce. V naplnění
vlastní vaší bytosti leží celost života.
</p>
<p>Přeložil: Dr. Jan Šamalík
Vydalo Vydavatelství "Hvězdy", Ostrava-Kunčičky 290, Nákladem vlastním.
Zaslala: Anna Servanska</p>

<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-nodereference field-field-noderef">
    <div class="field-items">
            <div class="field-item odd">
                      <div class="field-label-inline-first">
              Podobné: </div>
                    <a href="/seberozvoj/2013-05-18-z-rozhovoru-s-krisnamurtim/">Z ROZHOVORU S KRIŠNAMURTIM</a>        </div>
        </div>
</div>
</fieldset>

