---
title: Z rozhovoru s Krišnamurtim
date: 2013-05-18 13:49
layout: extranea
comments: false
tags: [seberozvoj]
---
<p><i>Otázka:</i>
Pravils, že našim vůdcem má být cíl a cílem tím je dokonalost. Je možno dosáhnout dokonalosti v jediném životě?</p>
SPLIT
<p><i>K r i š n a m u r t i :</i>
Jinými slovy, zdali je třeba věřit ve znovuvtělování. Nedělejte, prosím, ze
znovuvtělování (reinkarnace) víry a dogmatu, o něž se budou lidé znovu přít.
Znovuvtělování je toliko pomocná představa pro porozumění pravdy. Jedno
je důležité, aby onen podmíněný život ve vás — to je pravda, která je život
zpočátku podmíněný — se zdokonaloval tím, že se od všech věcí osvobozuje.
Moudrý člověk, touží-li po tomto dosažení doopravdy, může dosáhnout cíle
v jediném životě.</p>
<p><i>Opakuji:</i>
Neudělejte z toho dogma. Jiný bude snad potřebovat více takových příležitostí
než je jeden život. Je to docela lhostejno nazvete-li to znovuvtělením nebo
trváním vědomí. Důležité je, abyste se osvobodili a zdokonalili v sobě spoutaný
dosud život — dnes a ne v budoucnu.
Minulost je věcí mrtvou. Přítomnost je ovocem minulosti a ovládá
budoucnost; proto je toliko přítomnost důležitá. Zdokonalit přítomnost
soustředěním nad každou minutou dne, zušlechťovat a řídit ji silnou rukou. Tak
se dobývá pravda, tak se otvírají brány do Království štěstí a věčnosti.
Když se člověk dívá z tohoto zorného úhlu na život, pak veškeré systémy,
víry, dogmata tratí své významy. Duchovní učitelé, vůdcové se stávají
nepotřební a mizejí jako mraky na obloze puzené větrem. Tak jako včelka sbírá
med z mnohých květů, tak i vy sbírejte d n e s zkušenost a vzrůstejte teď, abyste
si vzájemně lépe rozuměli a pomáhali.</p>
