---
title: Dvě teorie k zamyšlení
date: 2015-12-08 21:14
layout: extranea
comments: false
tags: [seberozvoj]
---

V posledních 7 dnech jsem na Internetech narazil na dvě převratné teorie. Jsou dost "netradiční".

SPLIT

:markdown
  1.
  Křesťanství je obrovská vykonstruovaná lež, které lidi přes dva tisíce let věřili. Nedělám si prdel!
  Křesťanství na první pohled není špatné - miluj bližního svého jako sám sebe; nesuď druhé, abys nebyl souzen; apod.
  Už dýl mně to vrtalo hlavou. Někteří víte, že jsem byl na církevní škole; byl jsem katolík. Kristus je pro mě absolutní vzor. Furt je!
  Církev (katolickou) jsem ale poznal jako něco, co káže vodu a pije víno (což vlastně doslova dělá), takže jsem hledal dál.
  Poznal jsem Sokratovu filosofii, poznal jsem budhismus a v menší míře aj další filosofie. Miluju hledání moudrosti aj moudrost a moudré.
  Nacházím pojiva mezi různými pohledy na svět, a proto Budhu miluju stejně jako Krista, stejně jako Sokrata, nebo jako Květoslava Minaříka.
  Z mého pohledu například dává naprostý a jasný smysl, že léta Kristova života, která nejsou popsána v Bibli, On strávil v Indii, kde nabyl budhistické poznání.
  Poznání zjevené Budhou je i nyní po 2500 letech velmi živá nauka, která přesně popisuje metody vedoucí k osvobození, k nirváně, nebo k Božímu království chcete-li.
  Lze to samé říct o současném křesťanství? Kde jsou jeho metody? Proč jedinou praxí je nedělní kostel a proč jejich cesta vede přes prostředníka - kněze či biskupa?
  Takové otázky si pokládám už roky. Možné <a href="http://gnostica.cz/gnoze.html">vysvětlení podává Jan Kozák</a>.
  Buďme kritiční k tomu, co píše Kozák, i k tomu, co tvrdí církve. Nevěřme ničemu, co jsme nezažili na vlastní kůži, i kdyby to říkal sám Budha!
  Moje poznání je dosud velmi nedokonalé, ale tento výklad vzniku (žido)křesťanství mi dává smysl a zapadá do toho, co už vím.
  Nechám každého, kdo má zájem, ať si odkazované texty nastuduje sám. Ústa moudrosti jsou otevřena uším porozumění.

:markdown
  2.
  Abych ale potěšil i neduchovní lidi. Moderní věda na tom není o moc líp než církve!
  Věda se posledních 100 až 200 let snaží bořit církvení dogmata, a přitom vytvořila svá vlastní dogmata.
  Podívejte se na zábavnou, i když náročnou <a href="https://www.youtube.com/watch?v=tbE5bVl8r2g">přednášku fyzika Nassima Harameina</a>.
  Vím o tomto člověku už řadu let a jeho pohled na svět považuju za unikátně geniální.
  V této přednášce s názvem Propojený Vesmír přichází s novými fyzikálními poznatky o subatomárních částicích (proton, elektron) a o tom, jakou roli ve vesmíru hrají.
  Nassim nachází pojítko mezi makro a mikro kosmosem. Mluví o Vesmíru složeném z jakoby kulovitých pixelů velikosti Planckovy konstanty.
  Každý proton podle něj obsahuje bod singularity, což znamená, že je černou dírou a má v sobě nekonečně mnoho energie.
  Podobně šokují tvrzení má i o elektronu! Ovšem ne zas tak šokující pro lidi, kteří mají otevřenou mysl a rádi by věděli, funguje telepatie nebo jiné nevysvětlitelné vlivy působící na velkou dálku rychlostí větší než rychlost světla.
  Nejenom, že to "na poslech" dává smysl, ale je to údajně doložitelné matematickými rovnicemi.
  Je to podle mě počátek nové fyziky, ale šak posuďte sami.

