---
title: Boží vůle - léčení podle Barbary Ann Brennan
date: 2015-01-05 8:41
layout: extranea
comments: false
tags: [seberozvoj]
---

%p
  Úryvek z knihy Ruce světla, autor: Barbara Ann Brennan.

%h3 Boží vůle
:plain
  (...) Po dvou letech jsem si uvědomila, že mám problémy s vůlí. Způsob, jakým jsem ji užívala, vytvářel v mém životě problémy. Byla jsem rozkolísaná, nepříliš „pevná v kramflecích“ a měnila jsem svá rozhodnutí. Nalezla jsem v sobě mnoho úrovní „chtění“. Všichni je v sobě nosíme. Pocházejí z bránícího se Já a často vyjadřují vůli vnitřního dítěte nebo teenagera na prahu dospělosti - většinou klade požadavky. Naše vůle potřebuje dospět. Hluboko uvnitř nás existuje jiskra Božské vůle. Mnoho lidí prožívá Boží vůli jako něco vnějšího - to znamená, že potřebují vždy najít někoho dalšího, kdo jim řekne, co mají dělat. Vede je to k pocitu vlastní bezcennosti. Vím, že Božská jiskra existuje v každém z nás. Je nezbytné najít si čas pro zkoumání sebe sama, abyste ji v mohli sobě objevit. Každý z nás ji v sobě nosí, nejste výjimkou. Co to znamená, následovat Boží vůli? Určitě ne následovat ji tak, jak je definovaná vnějšími autoritami. Snažila jsem se to prozkoumat. Uvědomila jsem si, že potřebuji sladit všechny ty malé vůle uvnitř sebe s jiskrou Boží vůle. Rozhodla jsem se užívat vůli pozitivně - zaměřit se na to a denně procvičovat.

:markdown
  V knize lekcí pocházející od duchovních průvodců Evy Pierrakos v letech 1957-1980, jsem nalezla toto:

%p{style: "padding:1ex;border:1px grey"}
  Svěřuji se Boží vůli.
  %br
  Své srdce a duši dávám Bohu.
  %br
  Zasloužím si to nejlepší v životě.
  %br
  Sloužím tomu nejlepšímu v životě.
  %br
  Jsem manifestací - zjevením Boha.

:plain
  Každý den po celé dva roky jsem si to opakovala, až mi to přešlo do krve a já jsem si začala jasně uvědomovat Boží vůli v sobě.

%br
%blockquote
  Tvoje vůle je stejná s vůlí Boží - když ti něco přináší radost a naplnění, je to vůle Boží mluvící k tobě skrze tvé srdce.


:markdown
  Vyzkoušejte si, jak svou vůli užíváte. Do jaké míry se řídíte *vnější morálkou*? Jak často nasloucháte touze svého srdce? Následujete ji?

%p
  %small
    Přeložila Eleonora Kutnarová
