---
title: Rozhovor syna s otcem (pravděpodobně v USA)
date: 2010-02-14 17:18
layout: extranea
comments: false
tags: [ostatní]
---

      <p>1: Tatinku, proc jsme napadli Irak?<br>
2: Protoze meli zbrane hromadneho niceni, broucku.<br>
1: Ale inspektori nenasli zadne zbrane hromadneho niceni.<br>
2: To proto, ze je Iracani schovali.<br>
1: A proto jsme napadli Irak?<br>
2: Ano. Invaze vzdycky funguji lepe, nez inspekce.<br>
1: Ale potom, co jsme je napadli, jsme stejne nenasli zadne zbrane hromadneho niceni, ne?<br>
2: No, protoze jsou dobre schovane. Nedelej si starosti, urcite neco najdeme, pravdepodobne tesne pred volbami 2004.<br>
1: Na co Irak vsechny ty zbrane hromadneho niceni potreboval?<br>
2: Aby je pouzil ve valce, hlupacku!<br>
1: Tak to jsem zmateny... Kdyz meli vsechny ty zbrane, ktere chteli pouzit ve valce, proc zadne nepouzili, kdyz jsme s nimi valcili my?<br>
2: No, samozrejme nechteli, aby nekdo vedel, ze ty zbrane maji, takze radsi po tisicovkach umirali, nez by se branili.<br>
1: To nedava smysl, tatinku. Proc by radsi umreli, kdyz meli vsechny ty velike zbrane proti nam.<br>
2: Je to odlisna kultura. To nemusi davat smysl.<br>
1: Ja nevim, jak ty, ale ja si myslim, ze nemeli zadne z tech zbrani, ktere vlada rika, ze meli.<br>
2: No, vis, na tom tak nezalezi. Meli jsme dalsi dobry duvod, abychom je napadli.<br>
1: A jaky?<br>
2: I kdyby Irak nemel zbrane hromadneho niceni, Sadam Husajn byl kruty diktator, coz je dalsi dobry duvod, abychom je napadli.<br>
1: Proc? Co dela takovy kruty diktator, aby bylo v poradku napadnout jeho zem?<br>
2: No, treba tryznil svuj vlastni lid.<br>
1: Neco jako v Cine?<br>
2: Nesrovnavej Cinu s Irakem. Cina je dobra ekonomicka konkurence, miliony lidi pracuji za otrocke mzdy v manufakturach, a vydelavaji americkym korporacim.<br>
1: Takze kdyz zeme zneuziva sve lidi pro zisk americkych korporaci, je to dobra zeme, i kdyz trapi lidi?<br>
2: Spravne.<br>
1: A proc trapili lidi v Iraku?<br>
2: Hlavne za politicke zlociny, treba kritizovani vlady. Lide, kteri kritizovali vladu v Iraku byly zavirani do vezeni a muceni.<br>
1: Neni to presne tak, jako v Cine?<br>
2: Rikal jsem ti, ze Cina je jina!<br>
1: A jaky je rozdil mezi Cinou a Irakem?<br>
2: No, za prve, Irak vedla strana Ba'ath, zatimco Cina je komunisticka.<br>
1: Nerikal jsi mi jednou, ze komunisti jsou spatni?<br>
2: Nene, jenom kubansti komunisti jsou spatni.<br>
1: A jak jsou kubansti komunisti spatni?<br>
2: No, za prve, lide, kteri kritizuji vladu na Kube, jdou do vezeni a muci je.<br>
1: Jako v Iraku?<br>
2: Presne.<br>
1: A jako v Cine?<br>
2: Rikal jsem ti, ze Cina je dobra ekonomicka konkurence. Na druhe strane Kuba neni.<br>
1: A proc Kuba neni?<br>
2: No, vis, nekdy v sedesatych letech nase vlada schvalila nektere zakony, ktere zpusobily, ze obchodovat s Kubou je nelegalni. Dokud neprestanou byt komunisty a nestanou se kapitalisty, jako jsme my.<br>
1: A kdybychom se zbavili tech zakonu, otevreli s Kubou hranice a zacali s nimi obchodovat, nepomohlo by to, aby se z nich stali kapitalisti?<br>
2: Nedelej chytryho!<br>
1: Nechtel jsem delat chytryho...<br>
2: V kazdem pripade, taky na Kube nemaji svobodu nabozenstvi!<br>
1: Neco jako Cina a hnuti Falun Gong?<br>
2: Rikal jsem, abys o Cine osklive nemluvil! A Sadam Husajn ziskal moc vojenskym prevratem, takze stejne neni legitimni vudce.<br>
1: Co je to vojensky prevrat?<br>
2: To je kdyz vojensky general ziska vladu v zemi nasilim, namisto svobodnych voleb, jako mame tady ve Spojenych Statech.<br>
1: A neziskal pakistansky vudce vladu taky prevratem?<br>
2: Myslis generala Perveze Musharrafa? Ehm, jo, ziskal, ale Pakistan jsou nasi pratele.<br>
1: A proc jsou Pakistan nasi pratele, kdyz nemaji legitimniho vudce?<br>
2: Nerikal jsem, ze Pervez Musharraf neni legitimni.<br>
1: Ale vzdyt jsi rikal, ze vojensky general, ktery ziska moc tim, ze premuze silou legitimni vladu v zemi, neni legitimni vudce?<br>
2: Jenom Sadam Husajn. Pervez Musharraf je nas pritel, protoze nam pomahal v invazi do Afghanistanu.<br>
1: A proc jsme napadli Afghanistan?<br>
2: Kvuli tomu, co nam udelali 11. zari.<br>
1: A co nam Afghanistan udelal 11. zari?<br>
2: No, 11. zari devatenact muzu (patnact z nich bylo ze Saudske Arabie) uneslo nase letadla a tri z nich nasmerovali do budov, a zabili pres 3000 Americanu.<br>
1: A jak do toho zapada Afghanistan?<br>
2: V Afghanistanu vsechny ty muze vycvicili, pod krutou vladou Talibanu.<br>
1: Nejsou Taliban ti radikalni islamci, co sekaji lidem hlavy a ruce?<br>
2: Ano, to byli presne oni. Sekali lidem hlavy a ruce, a taky utlacovali zeny.<br>
1: A nedala Bushova administrativa Talibanu v kvetnu 2001 43 milionu?<br>
2: Ano, to byla odmena, za jejich uspesny boj proti drogam.<br>
1: Boj proti drogam?<br>
2: Ano, Taliban byl velmi uspesny v zabranovani lidem pestovat opium.<br>
1: A jak se jim to tak dobre povedlo?<br>
2: Jednoduse. Koho chytili, ze pestoval opium, tomu sekali ruce a hlavy.<br>
1: Takze kdyz Taliban sekal lidem hlavy a ruce kvuli pestovani kytek, bylo to v poradku, ale uz nebylo v poradku kdyz sekal hlavy a ruce z jinych duvodu?<br>
2: Ano. To je v poradku, kdyz radikalni islamci sekaji lidem hlavy a ruce za pestovani kytek, ale je krute, kdyz jim sekaji ruce a hlavy za kradeni chleba.<br>
1: A nesekaji lidem ruce a hlavy i v Saudske Arabii?<br>
2: To je rozdil. Afghanistan byl tyransky patriarchat, ktery utlacoval zeny a chtel po nich, aby na verejnosti oblekaly burku, pod pohruzkou smrti ukamenovanim pro ty, ktere to nedodrzely.<br>
1: A Saudske zeny nemusi na verejnosti chodit v burce?<br>
2: Ne, Saudske zeny nosi jenom tradicni Islamsky odev.<br>
1: A jaky je v tom rozdil?<br>
2: Tradicni islamsky odev, ktery nosi saudske zeny, je prosty, lec elegantni sat, ktery zakryva cele zenske telo, krome oci a prstu. Naproti tomu burka je odporny nastroj patriarchalniho utlaku, ktery zakryva cele zenske telo, krome oci a prstu.<br>
1: Zni to jako stejna vec pod jinym jmenem.<br>
2: Nesrovnavej tady Afghanistan a Saudskou Arabii. Arabove jsou nasi pratele!<br>
1: Ale ja myslel, ze jsi rikal, ze 15 z 19 unoscu z 11. zari bylo ze Saudske Arabie?<br>
2: Ano, ale vycvicil je Afghanistan.<br>
1: A kdo je vycvicil?<br>
2: Velmi spatny muz, Osama bin Ladin.<br>
1: Z Afghanistanu?<br>
2: Eh, ne, byl take ze Saudske Arabie. Ale byl to spatny clovek, velmi spatny clovek.<br>
1: Vzpominam si, ze kdysi byl taky nas pritel...<br>
2: Jenom kdyz jsme pomahali jemu a mudzahedinskemu odporu Sovetske invazi v 80tych letech.<br>
1: Kdo jsou Soveti? To je to Zle Komunisticke Imperium, o kterem mluvil Ronald Reagan?<br>
2: Soveti uz nejsou. Sovetsky svaz se rozpadl nekdy kolem 1990 a ted maji volby a kapitalismus jako my. Ted jim rikame Rusove.<br>
1: Aha, a tak teda Soveti... chci rict Rusove? Jsou ted nasi pratele?<br>
2: No, ne uplne. Vis, byly nasimi prateli dlouha leta potom, co prestali byt Sovety, ale pak se rozhodli nepodporit nasi invazi do Iraku, takze jsme na ne ted nastvani. Taky jsme nastvani na Francouze a Nemce, protoze nam taky nepomohli napadnout Irak.<br>
1: Takze Francouzi a Nemci jsou taky zli?<br>
2: Ne uplne zli, ale dost zli na to, abychom prejmenovali hranolky French fries a tousty French toast na Freedom fries a Freedom toast.<br>
1: To vzdycky prejmenovavame jidlo kdyz nejaka zeme nedela to, co chceme my?<br>
2: Jenom kdyz to jsou nasi pratele. Nepratele napadame.<br>
1: Ale nebyl Irak taky jednim z pratel, tehdy v 80tych letech?<br>
2: No, ano. Chvili.<br>
1: A byl tehdy vudce Iraku Sadam Husajn?<br>
2: Ano, ale tehdy bojoval proti Iranu, coz z nej na chvili udelalo naseho pritele.<br>
1: Proc to z nej udelalo naseho pritele?<br>
2: Protoze tehdy byl Iran nas nepritel.<br>
1: Nebylo to tehdy, jak posilali Kurdy do plynu?<br>
2: Jo, ale protoze zrovna bojoval proti Iranu, tak jsme privreli oci, abychom mu ukazali, ze jsme pratele.<br>
1: Takze ten, kdo bojuje proti nekomu z nasich nepratel, se automaticky stane nasim pritelem?<br>
2: Ano, vetsinou.<br>
1: A ten, kdo bojuje proti nekomu z nasich pratel je automaticky nepritel?<br>
2: To je taky nekdy pravda. Nicmene kdyz americke korporace muzou vydelavat na prodeji zbrani obema stranam, tim lepe.<br>
1: Proc?<br>
2: Protoze valka je dobra pro ekonomiku, coz znamena, ze valka je dobra pro Ameriku. A take, protoze Buh je na strane Ameriky, kazdy kdo odporuje valce je bezbozny neamericky komunista. Uz rozumis, proc jsme napadli Irak?<br>
1: Myslim, ze jo. Napadli jsme ho, protoze to po nas Buh chtel, je to tak?<br>
2: Ano.<br>
1: Ale jak jsme vedeli, ze Buh po nas chce, abychom napadli Irak?<br>
2: No, vis, Buh osobne mluvi s Georgem W. Bushem a rika mu, co ma delat.<br>
1: Takze v podstate, podle toho, co rikas, jsme napadli Irak, protoze George W. Bush slysi hlasy?<br>
2: Ano! Konecne rozumis tomu, jak funguje svet.<br>
1: A ted zavri oci, pohodlne si lehni a uz spi. Dobrou noc.<br>
2: Dobrou noc, tatinku.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-link">
    <div class="field-items">
            <div class="field-item odd">
                      <div class="field-label-inline-first">
              Zdroje: </div>
                    <a href="http://penguin.cz/" target="_blank">Penguin - Domovské stránky</a>        </div>
        </div>
</div>
</fieldset>

