---
title: Počátky peněz a chvála zlata
date: 2010-02-28 09:04
layout: extranea
comments: false
tags: [ostatní]
---

      <p>Náhradu existujících komoditních peněz za papírové pokaždé provázelo porušení vlastnických práv ze strany státu. Papírové peníze byly vždy zavedeny pod pohrůžkou násilí, lidé je nikdy nepřijali dobrovolně.</p>
<p>Odkud se vlastně vzaly peníze? Určitě ne od státu. Peníze původně vznikly proto, že lidé už měli plné zuby barteru, tedy přímé, primitivní směny jednoho zboží za jiné – míče za klobouk, vysokoškolské přednášky za noviny. Jelikož ne všichni lidé, kteří vlastní míč, si jej přejí vyměnit zrovna za klobouk, a většina trafikantů nemá zájem zbavit se svého zboží, jen aby si mohla poslechnout fundované vyprávění o válce roku 1812, byl tento systém značně neuspokojivý. (Neuspokojivý byl i z řady dalších důvodů – jak si například někdo, kdo nemá nic jiného než obří středověký hrad, koupí bochník chleba?)</p>
<p>Peněžní ekonomika na rozdíl od barteru umožňuje směnu nepřímou – místo aby majitel míče dychtící po klobouku musel složitě shánět majitele klobouku dychtícího po míči, může svůj míč vyměnit za komoditu, která zrovna plní funkci peněz – například zlato či stříbro – a pak tuto komoditu vyměnit za vytoužený klobouk.</p>
<p>A zde se dostáváme k samotnému původu peněz. Lidé nespokojení s těžkopádným systémem barteru si uvědomili, že pokud si obstarají nějaké oblíbenější (a tudíž prodejnější) zboží než to, které právě vlastní, najdou mnohem snáze někoho, kdo s nimi bude chtít obchodovat. Oním prodejnějším zbožím může být cokoli od lesních plodů přes hlemýždí ulity po zlato (to vše mimochodem v minulosti jako peníze také sloužilo). Čím víc pak ono zboží začali lidé používat coby společný prostředek směny, tím víc jej poptávali i ti, kdo o něj samotné nijak zvlášť nestáli, protože věděli, že jej budou moci vyměnit s jinými lidmi za výrobky či služby, o něž naopak zájem mají. Kupříkladu kus zlata jako takový byl většině lidí vcelku k ničemu, oni si jej však přesto velmi cenili, protože věděli, že si za něj mohou pořídit prakticky cokoli, co bylo v dané době na trhu k dostání. A tak se zlato a stříbro postupně vyvinuly v plnohodnotný prostředek směny, neboli v peníze.</p>
<p>Můžeme tedy říci, že peníze vznikly spontánně na trhu, coby komodita užitečná pro obchod. Na svět je nepřivedl žádný královský výnos či bula. A ani by to nebylo možné. Zaprvé, koho by něco takového vůbec napadlo? Jak poznamenává ekonom Robert Murphy, pouze génius by si dokázal představit peníze a všechny jejich důsledky, a kdyby svůj nápad představil veřejnosti, byl by za blázna. („Lidičky, neměňte své drahocenné koně za prasata, vyměňte je za tyhle krásné hladké oblázky! To nevadí, že vám k ničemu nejsou – někdo jiný vám za ně dá třeba prasátko! No tak, lidi, kdybychom se všichni dohodli, že tyhle oblázky mají nějakou cenu, vedlo by se nám mnohem lépe!“)2</p>
<p>Peníze se mohou zrodit pouze na trhu také proto, že jedině tak se mohou lidé domluvit na jejich hodnotě. Pouze v průběhu dlouhého přerodu určité komodity v peníze se mohou lidé dohodnout, kolik bude co stát. Kdyby jim někdo takové či onaké peníze vnutil shora, nevěděli by, jakou vlastně mají cenu a nemohli by je používat. Papírové bankovky samotné tudíž nemohly vzniknout pouhým vládním výnosem. Jejich základem musely být peníze, které si lidé zvykli používat v minulosti, jakkoli vzdálené. I nechvalně známé bankovky z dob americké či francouzské revoluce byly zpočátku odvozeny z existujících komoditních peněz, a teprve pak znehodnoceny.</p>
<p>A pak se do toho vložil stát</p>
<p>Jinak řečeno, papírové fiat peníze* vždy a všude parazitují na existujících komoditních penězích** a bez nich by nemohly vzniknout. V minulosti to vždy probíhalo následovně:</p>
<ol>
<li>společnost si osvojí komoditní peníze</li>
<li>na trhu začnou obíhat papírové bankovky, které vydávají banky (nebo státy), coby praktickou náhražku kupříkladu kovových mincí; fungují de facto jako stvrzenky na komoditní peníze</li>
<li>stát zabaví lidem podkladovou komoditu a nechá jim v rukou pouze nekryté fiat papírové substituty3</li>
</ol>
<p>Náhradu existujících komoditních peněz za fiat papírové peníze pokaždé provázelo porušení vlastnických práv ze strany státu. Papírové peníze byly vždy zavedeny pod pohrůžkou násilí, lidé je nikdy nepřijali dobrovolně.4 Když americká vláda v roce 1933 nařídila, aby občané odevzdali své monetární zlato státu, zůstal papírový dolar (který předtím představoval stvrzenku na kus zlata určité váhy) v oběhu ze zvyku a vzhledem k již existující struktuře dolarových cen na trhu.</p>
<p>Penězi, které si různé komunity v různých částech světa volily v průběhu lidských dějin nejčastěji, bylo zlato a stříbro. Netrvalo dlouho a vrchnost si uvědomila, že tak výnosnému obchodu nemůže jen přihlížet. A tak začali králové a vládci razit na mince své podobizny a monopolizovat si produkci peněz. Svým poddaným vysvětlili, že je to jejich svaté právo a projev jejich svrchovanosti. Navzdory báchorkám o údajném veřejném blahu neznamenala královská monopolizace výroby peněz nic jiného, než že hlavy pomazané mohly nyní okrádat svůj lid nanejvýš rafinovanou metodou ořezávání mincí nebo znehodnocování oběživa (to když ryzí kov smíchali s nějakým běžným kovem, načež shrábli rozdíl v kupní síle).</p>
<p>Mravokárci, teologové a jiní intelektuálové takové praktiky odsuzovali. Kupříkladu ve 14. století jistý Nicholas Oresme (1323–82), biskup a učenec, sepsal A Treatise on the Origin, Nature, Law, and Alterations of Money (Pojednání o původu, přirozenosti, zákonnosti a proměnách peněz), kde označil inflaci za ekonomický problém a podrobil ji ostré kritice z morálního i ekonomického hlediska. Další zdrcující kritiku znehodnocování peněz (De mutatione monetae) sepsal jezuitský kněz a historik Juan de Mariana (1536–1624) a označil jej za typ krádeže. To bylo pochopitelně v dobách, kdy ještě vládcové nemohli spoléhat na pomoc a podporu profesionálních ekonomů, kteří by všechny kolem ujišťovali, že znehodnocování peněz podporuje hospodářský růst a že vlastně ani o žádné znehodnocování nejde – je to jen snaha dát penězům větší flexibilitu.</p>
<p>Papírové peníze vyhovovaly vládcům ještě víc než kovové mince, protože jejich prostřednictvím mohli obohacovat sebe a své kamarády, aniž by tím vzbudili podezření a vyvolali hněv veřejnosti. Stačilo jen tisknout další a další papírové peníze a vesele utrácet. Zároveň bylo i snazší svalovat vinu za zdražování, které s sebou režim papírových peněz přináší, na nejrůznější obětní beránky – zlovolné byznysmeny, spekulanty a ostatní bubáky, které se lidé od školy učí nenávidět.</p>
<p>* <em>Z latinského fiat = budiž; fiat peníze = peníze z moci úřední, na základě vládního nařízení</em></p>
<p>** <em>Komoditní peníze jsou směnným prostředkem. Může jít buď o samotnou komoditu (zlato, stříbro) nebo o vlastnický nárok na ni. Papírové bankovky mohou v takovém systému existovat, musí být však směnitelné za svou podkladovou komoditu. Bankovky samotné by nebyly penězi, pouze praktickou náhražkou skutečných peněz (zlata, stříbra či čehokoli jiného). Fiat peníze jsou směnným prostředkem nejsou ani komoditou ani vlastnickým nárokem na komoditu. Je to papír směnitelný za papír. A takový systém máme dnes.</em></p>
<p>z knihy<br>
<strong>Thomas E. Woods jr.</strong>: Krach - Příčiny krize a nápravná opatření, která ji jen zhoršují.<br>
Dokořán, Praha, 2010</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-link">
    <div class="field-items">
            <div class="field-item odd">
                      <div class="field-label-inline-first">
              Zdroje: </div>
                    <a href="http://news.branyvnimani.cz/?article_id=11294" target="_blank">Brány vnímání</a>        </div>
        </div>
</div>
</fieldset>

