---
title: Lilith (hebrejská báj)
date: 2011-04-30 07:30
layout: extranea
comments: false
tags: [ostatní]
---

      <p>Stará hebrejská báje, převyprávěná Avetikh Isahakjanem je natolik kouzelná, že stojí za přečtení i v dnešní době.</p>
<p>Když pouhým slovem Tvůrce stvořil Bůh nebe i zemi, všechny živočichy i rostliny, vzal kus hlíny zpod nohou jednoho zvířete a stvořil člověka.</p>
<p>Stvořil ho proto, aby se člověk obdivoval jeho vznešenému dílu a velebil jeho jméno.</p>
<p>A za příbytek mu dal ráj.</p>
<p>Sotva Adam procitl, žasl nad božími zázraky. Postupně si prohlédl všecka zvířata, ptáky i rozličné byliny, obdivoval se jim a chvalořečil Bohu.</p>
<p>Cítil se však osamělý a bez druha, propadal nudě, strašlivé nudě.</p>
<p>Bůh viděl Adamovu osamělost a řekl si:</p>
<p>"Měl bych Adamovi stvořit něžnou družku, aby se nekochal půvaby ráje v samotě."</p>
<p>Uchopil do výše šlehající oheň a z jeho mihotavých proměnlivých plamenů stvořil první ženu, Lilith.</p>
<p>A pohlížeje na svůj výtvor, řekl nadšeně:</p>
<p>"Je dobrá, protože je krásná."</p>
<p>Potom zavolal k sobě Adama. Vložil drobnou Lilitinu ručku do dlaně prvního muže a pravil:</p>
<p>"Adame, zde máš svou družku, krásnou Lilith! V očích si pozorujte své obrazy a v srdcích se navzájem milujte! Ploďte a množte se!</p>
<p>Ty, Adame, po všecky své dny následuj Lilith a ty, Lilith, se podčiňuj Adamovi!"</p>
<p>Lilith se pozorně zadívala na Adama a její jemný čich rozpoznal vůni hlíny. A pocítila, že Adamův pohled se tíhou země položil na její vlasy a ramena. A chvatně vytrhla ruku Adamovi z dlaně.</p>
<p>Adam pohlédl na Lilith a nekonečno krásy ho zaplavilo zvnitřku i ze všech stran, očarovalo jeho duši a vleklo ji k strašlivé propasti do záhuby. Okouzlen i zděšen, zavřel oči.</p>
<p>Když je znovu otevřel, byl stěží s to pohnout rty:</p>
<p>"Sláva tobě, Bože, vytvořils nejkrásnější a nejdokonalejší ze všech svých stvoření!</p>
<p>Korunoval jsi jím svůj divotvorný vesmír.</p>
<p>Budiž ti nekonečná a věčná sláva!"</p>
<p>Když to Lilith slyšela, laškovně sklonila hlavu k pravému rameni a první úsměv uspokojení ozářil její spanilou tvář.</p>
<p>Adam, ponoukán citem dosud nepoznaným, chtěl opět vzít Lilith za ruku. Avšak Lilith se mu vymkla jako plamen.</p>
<p>Adam pocítil, že jeho srdce je neodlučně a neoddělitelně připoutáno k Liltiným zářivým patám. Šel za ní a našel ji stát na břehu zlatoskvoucího jezírka, na němž ladně pluly labutě s peřím jako sníh.</p>
<p>Lilith nadšeně pozorovala sličné ptáky, jejich vznosné šíje jí učarovaly.</p>
<p>A sladkým hlasem přivábila labutě. A když poklekla, aby je polaskala, náhle spatřila na vodě nádherný zářivý obličej. Když pak pochopila, že to je její vlastní odraz, byla nadšena sama sebou a její hrdost vzrostla.</p>
<p>Spletla si vlasy rozpuštěné na hrudi a nechala vrkoče vlnit se na ramenou a zádech. S rostoucím nadšením pohlížela na svůj obraz a nemohla se vynadívat.</p>
<p>V zrcadle jezírka odrážela se modrá obloha, slunce a kousek ráje.</p>
<p>A Lilith viděla, že slunce není tak ohnivé jako oheň jejích očí a nebe není tak hluboké jako jejich dno. Ona sama je v ráji to nejdokonalejší, jezero a celý ráj jsou plny světla její tváře.</p>
<p>Mezitím dva motýli s démantovými křídly usedli jako dva drahokamy do jejích sladce vonících vlasů. Lilith se na ně podívala a usmála se.</p>
<p>"Jak by to bylo krásné, kdyby zůstali v mých vlasech navždycky...!"</p>
<p>A hned natrhala květů, jež zářily v tisícerých barvách a libě voněly kolem, a vetkla si je do svých kadeří.</p>
<p>Adam stál opodál a okouzleně pozoroval svou družku, pak si dodal odvahy a přistoupil k ní.</p>
<p>Lilith viděla, že Adamův obraz splynul s jejím, rozzlobeně vyskočila a zabodla do něho oheň svých očí.</p>
<p>"Lilith, nad anděly krásnější!" zajíkal se Adam. "Jaké květiny jsi to natrhala?"</p>
<p>"Tohle? To jsou zázraky, tomu ty nerozumíš!" přezíravě ho přerušíla Lilith.</p>
<p>"Ne, duše moje, já znám v ráji taková místa, kam dosud nevkročil ani sám Stvořitel. Takové neobyčejné květiny nepopsatelných vůni a barev, takové světlolisté stromy ozdobené nejchutnějšími plody...</p>
<p>Nechtěla by ses do těch míst podívat?"</p>
<p>Adam mluvil tak laskavým hlasem, že na chviličku zmírnil Lilitin hněv.</p>
<p>"Dobře, Adame, půjdeme tam, ale ne dnes. Až pak, až pak."</p>
<p>"Ano, Lilith, krasavice moje, kdykoli budeš chtít. Nyní však nastává noc. Pojďme do mé chýšky, postavené blízko hnízd líbezných slavíků a vyzdobené nejnádhernějšími květy! Budeš spát, a já budu střežit tvůj sladký spánek."</p>
<p>"Ne, ne, nech mě o samotě! Jsem dnes velmi unavena..."</p>
<p>A lehkými krůčky zamířila do hluboké houštiny.</p>
<p>Adam nevěděl, co by odpověděl. Mlčky a s hlavou svěšenou šel za ní.</p>
<p>"Adame, nech mě o samotě, prosím tě!..."</p>
<p>"Ale Lilith, tisíckrát vytoužená Lilith, kdy se uvidíme a kdy...?"</p>
<p>"Zítra!" přerušila ho Lilith velitelsky a v mžiku se ponořila do křoví.</p>
<p>Lilith seděla u pramene, poslouchala jeho křišťálovou hru a hleděla do hvězdného nebe nad rájem. A ohnivě planoucí náruče hvězd opájely její srdce tajemnou touhou.</p>
<p>A Lilith, opilá hvězdami, usnula v květinách a probudily ji pak milostné trylky slavičí.</p>
<p>Snově nádherné a půvabné zrodilo se svítání a rozestřelo se nad rájem, opřádajíc i tu sebenepatrnější kapičku němým kouzlem třpytu a barev.</p>
<p>Adam se blížil k místu Lilitina odpočinku s košíkem plným ovoce a květin a zdaleka na ni volal.</p>
<p>Odpovědi se nedočkal.</p>
<p>Volal znovu, a znovu odpověď žádná.</p>
<p>Znepokojen několikrát obešel pramen a napjatě se rozhlížel na všecky strany. Lilith se neukázala.</p>
<p>Šel na břeh jezera, bloudil háji, prohledávaje každý keř i každou houštinu, vrátil se zpátky k prameni. Lilith nebylo a nebylo.</p>
<p>"Co se s ní stalo?" uvažoval Adam. "Nejspíš se vydala po neznámých stezkách, spletla si cestu v dalekých houštinách a zbloudila. Musím ji hledat, najít ji..."</p>
<p>Adam bloudil celý den a hlasitě volal Lilith jménem. Vše bylo marné.</p>
<p>Nadešel večer, nastala noc.</p>
<p>Adam ve tmě nemohl najít cestu zpět a unaven usnul pod stromem.</p>
<p>Teprve za svítání, kdy oblohu i ráj zaplavilo mléčné světlo, zase svou cestu našel.</p>
<p>Běžel, sotva dechu popadal, a ještě daleko od pramene volal:</p>
<p>"Dobré jitro, Lilith!"</p>
<p>"Nepřibližuj se, ještě jsem se neumyla!"</p>
<p>Když slyšel Adam Lilitin hlas, prožíval znovu všecko včerejší trápení s touž ostrostí. V srdci mu vzplanul hněv. Měl chuť přísně Lilith vyplísnit, ovládl se však.</p>
<p>"Kdes byla včera celý den? Tolik jsem se tě nahledal, tolik jsem se tě nahledal!" řek Adam mírně.</p>
<p>"Včera? Včera jsem šla k jezeru, ale tebe jsem tam neviděla, nepřišels," odpověděla Lilith. "Pak jsem chvilku pobíhala za laněmi a dostala jsem se do nových neznámých míst. Byli tam nádherní slavíci. Uchvácena jejich zpěvem, zůstala jsem až do večera."</p>
<p>"To je ale podivné! Kdy jsi byla u jezera? Sám jsem byl chvíli tady, chvíli tam. A co jsem se potom nachodil po ráji! Kdes byla, že jsem tě nenašel?"</p>
<p>"Čekala jsem na tebe jak tady, tak u jezera, ale tys nepřišel ani sem, ani tam," odpověděla Lilith stroze.</p>
<p>Adam se odmlčel a uvažoval. Že by si byl skutečně Lilith nevšiml? Není to možné, ale...</p>
<p>Smířil se s tím a řekl vroucně:</p>
<p>"Krásná Lilith, přinesl jsem ti k snídani nádherné ovoce."</p>
<p>"Počkej přece, ještě jsem si neozdobila vlasy!"</p>
<p>"A pro tvé rozkošné vlasy jsem přinesl květiny pokropené rosou svítání."</p>
<p>"Děkuji, ale já mám. A počkej ještě chvilku, hned přijdu."</p>
<p>Adam čekal.</p>
<p>Lilith stanula před ním jako chvějivý plamínek, sotva se dotýkajíc země nohou.</p>
<p>"Ó, to je zase to nádherné ovoce, jaké jsem včera našla před chýškou!"</p>
<p>"Přinesl jsem je opět z těchže míst. A teď tam půjdeme, ano, duše moje?"</p>
<p>"Půjdeme, ale dost času!" řekla Lilith a pojídala ovoce.</p>
<p>Adam usedl po jejím levém boku a otevřel před ní své srdce:</p>
<p>"Ach Lilith," řekl, "jsi ty ale bezcitná! Osamělost mě dočista utrápila!"</p>
<p>A toužebně objal Lilith kolem pasu a s celou duší ji přitiskl na svou usouženou hruď.</p>
<p>Lilith prchla z Adamovy náruče, stála opodál a plačtivým hlasem říkala:</p>
<p>"Adame, objímáš mě příliš hrubě! Polámal jsi mi žebra!"</p>
<p>A Lilith se uraženě obrátila k Adamovi zády.</p>
<p>A její postava zlatě planula více nežli purpurové věnce svítaní, jímž se zdobívá ráj.</p>
<p>Adam se díval a jeho duše sladce trnula. Objal Lilith co nejněžněji, zahleděl se jí do očí a řekl:</p>
<p>"Lilith, živote můj, odpusť mi! Lilith, duše mé duše, nedívej se na mne tak mlčky a smutně. Usměj se, promluv! Ach jak bych si přál mít tisícero uší, abych tvůj sladký hlásek slyšel tisíckrát, a přece se ho nenasytil!"</p>
<p>Lilith usedla. Panovalo napjaté mlčení.</p>
<p>"Adame," přerušila ticho Lilith, "stvořil tě Bůh už dávno?"</p>
<p>"Ano, krasavice moje."</p>
<p>"Co jsi dělal v ráji?"</p>
<p>"Bloudil jsem sám a sám a hledal si druha mezi němými tvářemi."</p>
<p>"Že bys byl nenašel sobě podobného?" zeptala se a škádlivou hrou očí zkoumala Adama.</p>
<p>"Ne, Lilith. A proto mi Bůh stvořil tebe."</p>
<p>"Mne že stvořil pro tebe?..." rozesmála se Lilith hlasitě a vesele.</p>
<p>Adama se to dotklo. Hořce se odmlčel. Pak řekl zlomeně:</p>
<p>"Ano, ano. Bůh mi stvořil tebe, abych nežil sám, abychom byli spolu... Můj život patří jenom tobě, ale ty? Nechápeš, že bez tebe je mi ráj nesnesitelný a život jediné utrpení!... Bohu to nebude milé. Jestli nás poslouchá, bude se hněvat."</p>
<p>Hlas se mu třásl a v tom hlase bylo plno slz.</p>
<p>Lilith pohlédla na Adamovu nešťastnou tvář a propukla v zvonivý smích. Ale jen na chvilku. Pak její pohled zesládl. Slyšela jméno boží a hned vystřízlivěla.</p>
<p>"Ale Adame, proč pláčeš? Proč takhle mluvíš? Copak jsem k tobě nebyla vždycky hodná?"</p>
<p>A horkými prsty pohladila Adamovy rozcuchané vousy.</p>
<p>Nekonečná něha zaplavila Adamovo srdce. Byl hotov padnout Lilith k nohám a prosit za odpuštění.</p>
<p>"No dobře, Adame, můj milý," řekla mu Lilith konejšivým hlasem. "Chyť mi tady ten poletující kvítek!"</p>
<p>"To je motýl, a ne kvítek!"</p>
<p>"Nevadí, jen mi ho chyť!"</p>
<p>Adam se rozběhl za motýlem, ale nemohl ho chytit.</p>
<p>"Chceš? Chytím ho v mžiku!" řekla Lilith, vznesla se do vzduchu, a už držela motýla.</p>
<p>"Viděls, Adame? A tys byl tak nemotorný!"</p>
<p>"Nemůžu poletovat vzduchem jako ty!" ohradil se Adam pohoršeně. "Umím však velice rychle běhat."</p>
<p>"Ale neumíš," odporovala mu Lilith, "nevychloubej se!"</p>
<p>"Umím," stál Adam na svém. "Pojďme to zkusit!"</p>
<p>"Neunavuj se zbytečně!"</p>
<p>Adam však naléhal dál.</p>
<p>"Výborně," řekla Lilith. "Jestli mě chytíš, dám ti ten nejsladší plod z celého ráje."</p>
<p>"Který to je, že ty jej znáš, a já ne, ačkoli jsem už ochutnal ode všeho ovoce v ráji?" udiveně se ptal Adam. "Jak se jmenuje?"</p>
<p>"Polibek."</p>
<p>"Polibek?" opakoval nechápavě a tázavě Adam.</p>
<p>"Ano, polibek: když přitiskneme rty na rty někoho jiného. To ty neznáš?"</p>
<p>Adam přemýšlel, odkud to Lilith může vědět, kdy a jak... A nejistě na ni pohlédl. Lilith se však jen beze slova dívala Adamovi do očí, ohnivými paprsky svého plamenného pohledu probodávala jeho zřítelnice a zasahovala jimi jeho duši jako rudou malinu.</p>
<p>Adam pochopil a ochotně souhlasil.</p>
<p>Lilith běžela rychle a lehce, Adam utíkal snaživě a dýchavičně za ní.</p>
<p>Lilith se schovávala pod keříky, pak vyskočila, běžela dál a zvonivě se smála:</p>
<p>"Tak pojď, pojď a chyť mě! Čekám..."</p>
<p>A čekala, rudé rty nastavené k polibku jako poupě. Adam se zastavil jako rozumu zbavený.</p>
<p>"Adame, z čeho stvořil Bůh tebe?" ptala se Lilith a přistoupila k němu.</p>
<p>"Z hlíny. Ale podle obrazu svého."</p>
<p>"Z hlíny, z hlíny?... Chachachá...!" smála se mu a posmívala. "Tak proto ty jsi takový těžkopádný, silný a hrubý!"</p>
<p>Adama to pobouřilo a rozzlobilo. Sebral všecky své síly a běžel, běžel za Lilith. Málem už ji chytil a sevřel v náruči, ale dotkl se jenom jejích vlasů. Lilith se hned vznesla jako skřivánek, vběhla do křoví s veselým smíchem a hlasitě volala:</p>
<p>"Adame, zítra se spolu projdeme po ráji!"</p>
<p>Adam, poražen a zahanben, stál dlouho jako přibitý a oči nehybně upíral do křoví, v němž se skryla Lilith.</p>
<p>Adam přišel za svítání a toulal se okolo pramene. Čekal, až se Lilith konečně objevila, okrášlená kvítím a tisícerými půvaby.</p>
<p>"Ty tedy navrhuješ, abychom šli do těch tvých vychválených míst?" prohodila Lilith nedbale.</p>
<p>"Ó ničemu nepodobná Lilith, chvála je pouhý zvuk, musíš vidět na vlastní oči ty okouzlující háje, prameny jezírka, abys pochopila nekonečnou nádheru ráje!"</p>
<p>A Adam jí ukázal, kudy půjdou.</p>
<p>"Ne, půjdeme tudy!" řekla Lilith a ukázala prstem v opačném směru než Adam.</p>
<p>"Promiň, ty moje spanilá, cesta přece vede tudy!" mírně odporoval Adam.</p>
<p>"A my půjdeme tudy!" opakovala Lilith.</p>
<p>"Nejdražší Lilith, ta cesta není tak pěkná! Znám všechny, a ta, co jsem ti ukázal, je nejkrásnější. Odpusť mi, že říkám, co ty nevíš!"</p>
<p>"Ne!" řekla Lilith rozzlobeně. "Já chci jít jedině touhle. Jestli nechceš jít tudy, půjdu sama."</p>
<p>A vykročila cestou, kterou si vybrala.</p>
<p>Adam šel pokorně za ní. Po chvilce chůze odvážil se navrhnout:</p>
<p>"Přesličná Lilith, snažně tě prosím, zkus nyní cestu, o které jsem mluvil!"</p>
<p>"Tak dobře," ustoupila Lilith. "Ať je po tvém. Už vždycky bude po tvém."</p>
<p>Po obou stranách cesty hýřily zahrady nesčíselným množstvím květů roztodivných tvarů, tisícerých vůní a půvabů. Roje motýlů vznášely se okolo Lilith v zeleni a červeni jako sny. Háje banánovníků a ananasových stromů obklopovaly jezírka, v nichž rybky jako blesky oživovaly mdlobu leknínů a lotosů.</p>
<p>Ve stínech korun procházeli se stříbrní a duhoví pávi spolu s kormorány a plameňáky, z trávníku na trávník skotačivě poskakovaly volavky a rajky.</p>
<p>Nad lesy poletovaly sem a tam ve vonném vzduchu pestrobarevní ptáci jako vidiny a v tisících trylků a jímavých modulací zpívali o lásce a svých touhách.</p>
<p>Ze zlatokmenných stromů visely lákavé plody okouzlujících barev a tvarů.</p>
<p>Lilith si jich natrhala do vůle a nadšeně ochutnávala. Byla unesena podívanou na ráj. S očima široce rozevřenýma rozhlížela se na všecky strany, hned pohlédla zpátky, hned zase kupředu.</p>
<p>"Dušičko moje," řekl Adam, "podívej se, tamhle je moje zákoutí!"</p>
<p>Lilith však Adama nevšímavě přeslechla a kráčela dál, okouzlená a roztržitá.</p>
<p>Spíše než kráčela --- poskakovala jako pták, mléčné bílé nohy se ani nedotýkaly země.</p>
<p>Adam jí šel v patách svým těžkým pevným krokem, nespouštěje oči z jejích oslnivě nádherných vlasů, vlnících se jako ohnivé plameny.</p>
<p>Mocná a nezadržitelná vlna citu nutila Adama, aby padl Lilith k nohám. Zrychlil své kroky, přiblížil se k ní, bojácně uchopil její palčivou paži a řekl přerývavě:</p>
<p>"Má půvabná družko, pohleď do dálky! Jaká vznešenost!"</p>
<p>Lilith přivřela oči a lhostejně se podívala do dálky.</p>
<p>A v dálce tonuly v bledomodrém tichu vznosné hory se stříbřitě třpytnými věnci sněhu. Ze sloupovitých štítů střemhlav padaly vody a plnily hrůzostrašným lomozem sluje, v nichž odpočívaly plavé srny.</p>
<p>Při úpatí hor se rozprostíralo atlasové moře a světlokřídlé rybky se něžně dotýkaly hrudí zlatohřbetých vln, nežli zamířily svůj let k vzdáleným smaragdově se lesknoucím ostrovům. Sladce tam voněly květy všech možných barev a štíhlé vznosné palmy se kolébaly v laskajících závanech větru.</p>
<p>"Vidíš, duše moje, jaká je to krása? Co jsem ti říkal?" šeptal Adam a jemně objal Lilith okolo ramen.</p>
<p>"Není to špatné, ale ta moje cesta byla stejně dobrá," řekla Lilith, vyklouzla z Adamova objetí a zastavila se na břehu blízkého potůčku, jenž s rozpustilým smíchem poskakoval přes pestrá zrnka písku.</p>
<p>"Och, jaké krásné drobné kamínky! Jaké mají pěkné barvy! Červená, modrá, zelená, zlatá... Adame, podej mi jich pár!"</p>
<p>"To nic není, Lilith! Vím o kamenech zářících jako slunce, průzračných jako voda, tvrdých a překrásných."</p>
<p>"A... kde jsou? Adame, milý můj, kde jsou?"</p>
<p>"Jsou velmi daleko, v hlubokých bezedných propastech a skalních rozsedlinách, daleko předaleko."</p>
<p>"Kdy mi je přineseš? Řekni, Adame!" A Lilith něžně položila svou ruku na jeho.</p>
<p>"Jestli ti to udělá radost, půjdu ještě dnes a zítra ti je přinesu, krásko moje!" řekl Adam, potěšen, že může pro Lilith udělat něco příjemného.</p>
<p>"Běž, Adame, běž a nezdržuj se! Ty jsi tak hodný, Adame!" A hřbetem ruky polaskala Adamovo čelo.</p>
<p>S bušícím srdcem vzal Adam něžně liliovou Lilitinu ručku a přiložil si ji ke rtům. Sladkost polibku zaplavila Adamovo srdce až na dno.</p>
<p>Pak vrhl roztoužený pohled na Lilith a rychle odběhl. Lilith mu přála šťastnou cestu ohnivou hrou zraků, v nichž byly sladké přísliby.</p>
<p>Lilith si chvilku vzdychla a pak se jinými stezkami vracela k místu svého obvyklého odpočinku. Náhle narazila na hada se vztyčenou hlavou.</p>
<p>Lilith se podívala hadovi do očí, on do jejích. A oba znehybněli, očarováni jeden druhým.</p>
<p>Lilith tolik přitahovalo hadovo zvlněné a stočené, štíhlé a hladké tělo! Měla pocit, jako by pronikalo jejím vlastním.</p>
<p>Lilith se dívala dlouze a dlouze, avšak had, poděšen bleskem jejího pohledu, zasyčel a vzápětí zmizel v kamení.</p>
<p>Mezitím Adam utíkal, sotva dechu popadal, aby co nejrychleji doběhl do údolí krásných kamenů. A když byl na místě, chvatně začal sbírat pestrobarevné oblázky.</p>
<p>Neúnavně a statečně šplhal do skal a v soutěskách vytrhoval kameny za pomoci zubů, zraňoval si ruce i nohy, duši měl však plnou představ, jakou radost způsobí jeho dárek sličné Lilith.</p>
<p>Sám žasl, jakým vášnivým a sladkým citem má srdce zalité od okamžiku, kdy Lilith spatřil, a jak se mu ráj od toho dne zdá tisíckrát krásnější a každý prožitý okamžik nabývá smyslu a nevýslovného půvabu...</p>
<p>Při západu slunce doběhl Adam, celý udýchaný, s těžkým košíkem k jezeru, kde na něho Lilith netrpělivě čekala.</p>
<p>V náručí držela kočku se sametovou srstí a neustále ji hladila, aby si ukrátila čas.</p>
<p>"Lilith, okouzlující Lilith, hle, jsem tady, a přináším...!" zavolal Adam.</p>
<p>Lilith už viděla jeho odraz ve vodě, ale obrátila se k němu s předstíraným překvapením.</p>
<p>"Adame, jsi to ty?"</p>
<p>"Odpusť, duše moje, že jsem nedokázal vrátit se dřív! Bylo to velmi daleko. Čekáš na mě už dlouho?"</p>
<p>"Ne, Adame, právě jsem přišla. Nechtělo se mi sem jít, bolela mě hlava, ale pak jsem přece jen šla. Neseš kameny? Ukaž!"</p>
<p>A se zdrženlivou lhostejností podívala se do košíku.</p>
<p>"Ó, tolik drahokamů, a tak krásných, tak nádherných!" zvolala vzápětí nadšeně.</p>
<p>"Drahokamy se jim říká? Odkud to víš?" ptal se udivený Adam.</p>
<p>"Ano, drahokamy, prostě to vím. Adame, miláčku můj, pojď, ať tě políbím! Ty jsi tak hodný!"</p>
<p>A Lilith už nedokázala potlačit své rozradostnění. Pustila kočku, vyskočila a políbila Adama na čelo.</p>
<p>Adam docela ztratil rozum, padl jí k nohám a omámeně přihlížel: zabořila prsty do košíku a hraje si s drahokamy, bere je do dlaně, lačně se na ně dívá, usmívá se sama pro sebe, znovu je odkládá do košíku, znovu je vybírá.</p>
<p>"Jaké překrásné démanty s oslnivě bílými paprsky! A ty rudé granáty, čiré zelené smaragdy, ty rubíny a safíry! Jak to vyjádřit slovy? A co jich je, co jich je..."</p>
<p>A Lilith si hrála s drahokamy, sypala si je do vlasů a zase je sbírala, až nad stromy vystoupil úplněk a ozářil v ráji každý strom i keř, travinu i list.</p>
<p>Lilith seděla pod granátovou jabloní. Jemné měsíční paprsky zastíraly její tvář jako závoj. Adamovi se v hrudi třepetalo srdce jako pták, málem mu vyskočilo z úst.</p>
<p>"Lilith, ničemu nepodobná Lilith, jsi moudrá. Pověz, jaký cit se uhnízdil v mé duši od chvíle, kdy jsem tě uviděl? Nejraději bych se rozplynul pod tvýma světlýma nohama. Nejraději bych líbal zemi, které ses dotkla. Slunce bych ti chtěl položit na hlavu, jako věnec, a hvězdami vydláždit cestu, po které půjdeš."</p>
<p>Lilith poslouchala Adama a na rtech jí vyvstal mírný úsměv.</p>
<p>"Pověz, nejspanilejší moje Lilith, jaký je to cit? Když jsem ti nablízku, je ráj pro mne půvabnější a život sladší. A když se od tebe vzdálím, najednou je ráj ošklivý a pustý a život hořký a těžký.</p>
<p>Ať sním či bdím, mé sny jsou naplňovány jen a jen tebou. Žiješ v mém srdci i v mých očích."</p>
<p>Lilith řekla s úsměvem, ale odměřeně:</p>
<p>"Láska je to, Adame! Tomu se říká láska."</p>
<p>"Láska?... Odkud ty to víš?"</p>
<p>"Už dávno to vím, Adame."</p>
<p>"Láska. Posvátné i hrozné jméno! Láska, ano, i Bůh to tak řekl: milujte se navzájem! A já tě miluji, Lilith, nevýslovně milovaná Lilith, já tě miluji!</p>
<p>A jak tě mohu nemilovat? Jsi spanilá a půvabná, půvabná, stotisíckrát půvabná!</p>
<p>Nyní už vím, že láska je duší všech věcí. To láska vnuká ptačím hrdélkům sladký ševel vánků a pramenů. To láska způsobuje, že cesty, jimiž jsi prošla, mi voní hřebíčkem a majoránkou.</p>
<p>Víš, Lilith, bouří vzedmuté moře, jež bičuje skály země vlnami jako hory, je slabší a bezmocnější než moje láska, která neodvolatelně poroučí, abych ti klečel u nohou a rozplýval se v mlčení.</p>
<p>Chci tě celou pokrýt svými polibky a při tom líbání zeslábnout a zaniknout. Ó, jak převelice miluji tvoje obočí, sličná moje, vytoužená Lilith!</p>
<p>Tvé obočí je oblouk podobný duze. Tímto obloukem jako duhou překlenulo tvé obočí oblohu tvých zraků.</p>
<p>Na obloze tvých zraků spatřuji mléčné dráhy, v nichž hoří požárem bezpočtu sluncí.</p>
<p>Tvé oči rozhořené nespočetnými slunci spalují mou duši, zžehují mou duši. Kéž zapomenu sám na sebe při pohledu do tvých očí! Kéž zapomenu na celý ráj, zhlížeje se v tvých očích!"</p>
<p>A líbal Lilith na oči, líbal ji na obočí i na řasy.</p>
<p>Lilith zůstávala lhostejná k Adamovu laskání. Lilith byla zamyšlená.</p>
<p>"Adame, co je na tamtu stranu od ráje?"</p>
<p>"Tam je země, suchá a trnitá. Ať zhyne země! Já miluji tvou šíji, Lilith! Tvá šíje je vznosná a bílá, vznosnější a bělejší nežli břízy, jejichž něžné jemné kmeny stojí u bran ráje."</p>
<p>A Lilith mu s úsměvem v očích nastavila svou šíji, a Adam líbal její šíji a znovu ji toužebně líbal.</p>
<p>"Adame, kdo žije na zemi?"</p>
<p>"Tam žije ďábel, Lilith. Ať zhyne i ďábel! Já oddaně miluji tvá ústa, Lilith! Tvá ústa jsou zázrak ráje, Lilith..."</p>
<p>"Adame, kdo je to --- ďábel?" přerušila Lilith jeho vyznání.</p>
<p>"Je to protivník Boha. Býval ohnivým andělem, byl moudrý a krásný, povstal však proti Bohu, chtěl se mu rovnat. A Bůh ho potrestal. Svrhl ho z nebe dolů i s jeho druhy a navěky je proklel. Nechť jsou prokleti!</p>
<p>Já miluji tvá ústa. Nektar nevyčerpatelných bezedných půvabů a nepojmenovatelných slastí jsou tvoje ústa, z nichž zlatá včela připravuje nejsladší med.</p>
<p>Tvůj jazyk zná láskyplné písně všech slavíků a sladší nežli štěbetání všech ptáků je tvůj jazyk. V jediném přesladkém políbení tvých rtů vychutnám celý ráj, v jednom jediném polibku tvých rtů plnou měrou ochutnám celý vesmír a věčnost..."</p>
<p>Adam se rty vášní rozpálenými přistoupil k Lilith, aby ji políbil, Lilith mu však zakryla ústa rukou, prudce ho odstrčila a okamžitě vyskočila.</p>
<p>Adam padl bezvládně k zemi.</p>
<p>"Chce se mi spát," řekla Lilith. "Čekej na mne zítra na břehu jezera!"</p>
<p>A kroky lehkými jako pták ponořila se do nočních stínů.</p>
<p>Adam sledoval vzdalující se, jako blesk se třpytící Lilith potemnělým zrakem.</p>
<p>Ráno Adam otevřel oči. Ležel hlavou na holé zemi, a Lilith nikde. Myslel, že sní. Znovu otevřel oči, ale Lilith nespatřil.</p>
<p>Vtom se mu vybavila Lilitina poslední slova.</p>
<p>Jak mohl nejrychleji, pospíšil k jezeru. Pak čekal, oči upíraje na všechny stezky v ráji.</p>
<p>S každým srnčím krokem se mu rozbušilo srdce, každý závan větru, rozhoupávající křoví, mu rozpoutal v srdci bouři. Netrpělivě tak čekal, až slunce zapadlo --- a Lilith nepřišla.</p>
<p>Adam se zoufale položil do trávy a semkl víčka, aby o Lilith aspoň snil.</p>
<p>Zaslechl šelest v pobřežním rákosí a myslel, že tam sténá něčí srdce.</p>
<p>Chvatně vstal, uřezal rákos, vyvrtal v jeho stvolu dva otvory a začal hrát.</p>
<p>Nebyla to hra. To sama Adamova vášnivá láska po kapkách tryskala z otvorů v rákosovém stéble, měnila se v slzy a touhu, v touhu a trýzeň.</p>
<p>A on zpíval:<br>
"Lilith, ach Lilith, ty můj osude,<br>
čím je mi nesmrtelnost bez tebe?<br>
Ty jsi ráj rozkoše, Lilith,<br>
ráj zázraků a půvabů.<br>
Jsi sen, jsi kouzlo a mámení, Lilith,<br>
jsi neochutnané tajemství, Lilith,<br>
jsi slunečný pramen, Lilith,<br>
slunečný pramen trýzně i oživení,<br>
jsi nepřemožitelná žena, Lilith,<br>
Lilith, věčná Lilith...!" </p>
<p>Celou noc Adam bloudil, zpívaje o své bolestné touze, která mu spaluje srdce. A po celý následující den se Lilith také neobjevila. Adam se toulal z místa na místo a vzdychal. Hořel a žíznil, a žádný chladný pramen v ráji nebyl s to ho schladit.</p>
<p>Adam se rozhodl, až Lilith uvidí, že jí vážnými slovy domluví, hrubě jí vyčiní, ba dokonce jí pohrozí božím jménem. Tak byla již zmučena Adamova duše, tak strašně byla zmučena.</p>
<p>Za večerních červánků se náhle Lilith vynořila z křoví s tisícerými svody, se všemi nádhernými půvaby svého těla.</p>
<p>Adam se k ní vrhl jako šílený a v tu chvíli zapomněl na všecka svá předsevzetí a touhu po odplatě.</p>
<p>A uviděl, že Lilith rychle a svižně běží za kroutícím se, lesklým černým hadem a nespouští z něho oka.</p>
<p>Adam pospíšil za ní a volal, co měl sílu:</p>
<p>"Lilith, stůj! Kam jdeš? Stůj!"</p>
<p>"Co je ti po tom, kam jdu? Proč mě pronásleduješ?" odpověděla Lilith hněvivě.</p>
<p>"Co mně je po tom? Vždyť Bůh si přál, abych tě sledoval a ty mne poslouchala!..."</p>
<p>"Já tebe že mám poslouchat? Kdo jsi, kdo? Zmiz mi z očí, hrubá hroudo hlíny!" pohrdavě volala Lilith, jako plamen se mihla vzduchem, a nebylo jí.</p>
<p>Adamova trpělivost byla u konce. Vydal se rovnou k Bohu, aby si postěžoval.</p>
<p>"Pane můj, jakou jsi mi to dal družku?" řekl Adam s potlačovanou zlobou. "Tvému příkazu se nikdy nepodrobila. Neposlouchá mě! Očaruje mě, rozpálí, a pak mě nechává žíznit, a zmizí. Hořím, když jsem od ní daleko, hořím, když jsem vedle ní. Ona je zlý oheň, palčivý ohnivý plamen, trápím se, zahubím se..."</p>
<p>Bůh Adama upokojil a poslal ho zpátky. Pak povolal k sobě Lilith. Ona však na boží volání nepřišla. Bůh se rozhněval a poslal anděly jménem Senói a Sansenói, aby neposlušnou Lilith přivedli před jeho trůn.</p>
<p>Přivedli ji. Stála před Bohem a klopila oči. Tvůrce ji pokáral a pravil:</p>
<p>"Stvořil jsem Adama z hlíny a tebe z ohně, abyste se vzájemně doplňovali. Musíš svého muže milovat a bezvýhradně ho poslouchat, protože jsem tě stvořil pro něho. Nepodrobíš-li se, věz, že tě přísně potrestám... jdi nyní k Adamovi, jak si přeji..."</p>
<p>Lilith smutně seděla na břehu potoka pod vrbou, sladkobolnou tvář bledou jako perla, čelo podepřené rukou. Věnec rajských růží krášlící její vlasy byl zvadlý...</p>
<p>Adam, jenž tolik čekal na její návrat, sedl si vedle ní, bojácně uchopil její chladnou ruku a zašeptal s největší něžností, jaké byl schopen:</p>
<p>"Lilith, duše mé duše, proč jsi smutná, proč jsi tak smutná? Proč se neusměješ, moje krásko?</p>
<p>Ach proč mlčíš, moje Lilith, zářící jako slunce? Což nevíš, že žiju jenom láskou k tobě? Stiskni mi srdce, a vytryskne z něho jen láska, víc nic. Miluji tě láskou velkou jako vesmír, jako vesmír..."</p>
<p>A s nekonečnou touhou líbal konečky Lilitiných vlasů, láskyplně je líbal a přikrýval si oči jejich zlatým ohněm.</p>
<p>Lilith však byla tichá a lhostejná, nehybný pohled upírajíc do dálky.</p>
<p>"Lilith, spanilá moje, pojďme do mého zákoutí, přichystal jsem ti tam to nejchutnější ovoce. Nasbíral jsem nektar z čarokrásných květů a od včel ten nejsladší med. Připravil jsem tam pro tebe lože ze samých růží. Usneš a budou se ti zdát nanejvýše šťastné sny, a já budu až do svítání bdít u tvých nohou.</p>
<p>A než se rozední, zahraju na píšťalu, aby se tam slétli něžní slavíci a kanárci, motýli a kolibříci. Budou zpívat a tančit ve vzduchu pro tvoji potěchu."</p>
<p>Lilith byla však tichá a lhostejná.</p>
<p>Adam něžně objal její křehkou postavu, vstal a na rukou ji odnesl do svého zákoutí.</p>
<p>Lilith byla vyčerpaná rozrušením. Tolik na ni zapůsobil rozhněvaný boží pohled. Bez odporu ulehla na květinové lože.</p>
<p>Adam si položil její hlavu na kolena, nadšeně a dychtivě si prohlížel její křišťálovou nahotu, spočívající v plátcích purpurových růží.</p>
<p>Lilith zavřela oči a byla mírná a poddajná jako gazela, kterou leká i zaševelení květů. A bledá byla jako perla.</p>
<p>Adam hýčkal její tělo a šeptal sám k sobě:</p>
<p>"Miluji, zamilovaně miluji tvé tělo, protože tvé tělo je přenádherné.</p>
<p>A oslnivé je tvé tělo, oslnivější než šlehnutí blesku v temnu nocí.</p>
<p>A džbán všech nesčetných vnad je tvé tělo, a ničemu nepodobná zahrada je tvé tělo, zahrada všech hrůz i ohnivých tužeb.</p>
<p>A především je opojně voňavé tvé tělo, víc nežli pižmo rajských koz, je mámivě voňavé, víc než všecky jasmíny a cesminy, všecky bledule a levandule, než všecky nepatrné odstíny jejich aróma, jež vydechují v takové hojnosti a jímž utápějí všechny pěšiny v ráji do snění.</p>
<p>A nade vše vonné jsou tvoje prsy, víc než lilie skropené nebeskou rosou a nežli balzám i myrha, jež roní rajské stromy na šlépěje boží."</p>
<p>Adam líbal žhavými rty Lilitino tělo a vdechoval vonnou svěžest jejích boků, jež byla svěžejší než první rosa na listí a v korunách v den stvoření.</p>
<p>A horkými prsty laskal Adam hroty Lilitiných ňader a z hloub duše hovořil:</p>
<p>Miluji, zamilovaně miluji hroty tvých ňader, Lilith, krásnější nad anděly! Tvá ňadra jsou dvě světlovonné kytice bledulí a lilií, světlovonné kytice zakončené dvěma poupaty panenských růží, dvě kytice --- šálivé vidiny, jež mámí moji duši a oddělují mi duši od těla..."</p>
<p>Adam líbal Lilitina ňadra, chvějícími se rty líbal hroty jejích ňader.</p>
<p>Lilith ležela s očima zavřenýma, lhostejná a netečná a hluchá pro Adamův hlas.</p>
<p>"Lilith, božská Lilith, dovol mi políbit tě na rty! V jednom jediném nekonečném políbení tvých rtů ochutnám celičký ráj! V pouhém jediném nepojmenovatelném, neocenitelném, ničemu nepodobném políbení tvých rtů až do dna vychutnám věčnost a bezbřehost vesmíru..."</p>
<p>Adam zapomněl sám na sebe a nic už pro něho neexistovalo. Byly jen Lilitiny rty, jež Adam líbal nenasytným a nekonečným polibkem, dychtivě sál veškerou Lilitinu sladkost, celou její bytost, a nemohl se jí nasytit a jeho duše se ztrácela v bezednu polibků...</p>
<p>A tu náhle se Lilith napjala jako luk, osvobozujíc se od trýznivých, zkrvavujících Adamových polibků, vyskočila, prchla od něho a zmizela v labyrintu nočního ráje.</p>
<p>Adam ležel v bezvědomí až do úplného rozednění.</p>
<p>Když přišel k sobě, vzpomněl si, že Lilith utekla do noční tmy.</p>
<p>Zoufalý vstal ze země.</p>
<p>Zkusil najít ji, ještě jednou ji snažně prosit, aby ho neopouštěla.</p>
<p>Bolestně a lítostivě volal Lilitino sladké jméno, a slyšel jen marnou ozvěnu svého hlasu.</p>
<p>Hledal ji všude: na březích jezera, u pramenů, v hájích i v jeskynních slujích. A nikde ji nenašel, nenašel ani Lilitinu stopu.</p>
<p>Dlouhé hodiny bloudil po stezkách, jimiž kdy Lilith prošla, toužebně líbaje trávu i hlínu, jichž se dotkly Lilitiny kroky.</p>
<p>Dlouhé hodiny vysedával v místech, v nichž se kdy Lilith pozdržela, a zavíral oči, aby ji spatřil.</p>
<p>A ve vidinách zjevovala se mu Lilith ještě toužebnější, ještě mnohem toužebnější a nedosažitelně žádoucí.</p>
<p>Z těchto snů probíral se Adam k střízlivosti s bolem v srdci a jako šílený utíkal pryč a utíkal...</p>
<p>Doběhl až k hranicím ráje, za nimiž se prostírala pustá a ladem ležicí země.</p>
<p>Byl velmi unaven. Usedl, aby si odpočinul.</p>
<p>Složil hlavu do dlaní, bědoval nad svým nešťastným osudem a ponořil se do palčivých vzpomínek na Lilitiny nezapomenutelné a nezachytitelné půvaby, když tu najednou, jakoby zprostřed snu, zaslechl Lilitin veselý jásavý smích, jenž pronikl jeho srdcem jako pozdravení jara.</p>
<p>S nadějí se ohlédl za tím smíchem... A spatřil příšerný obraz, jenž jako černý blesk proletěl až na dno jeho duše, zatemnil ji a spálil.</p>
<p>Na ohrazení ráje, ze strany trnité a chmurné země, uviděl hlavu ďábla s černýma lesklýma očima, zlýma a proradnýma.</p>
<p>A uviděl, že ďáblovi visí okolo krku Lilith s prudce vonícími máky ve vlasech.</p>
<p>S bezednou toužebností líbala Lilith ďáblovy rty. A smáli se spolu, spokojeni a šťastni.</p>
<p>Adam šílený žárlivostí zuřivě vykřikl:</p>
<p>"Lilith, Lilith, Lilith, to jsi ty...?"</p>
<p>Uslyšel jenom strašlivý chechot vítězného satana, jenž se řítil na Adamovu hlavu jako burácení hromu.</p>
<p>A zahlédl ještě, jak ďábel s Lilith v náručí seskočil na zemi.</p>
<p>Tu Adam oslepl a neuviděl už nic...</p>
<p>Jako rozumu zbavený potácel se Adam neustále těmi nejodlehlejšími místy ráje.</p>
<p>Ráj byl pro něho pustý a ptačí písně ho nudily.</p>
<p>"Lilith, Lilith, ach Lilith!" volal s pláčem a vzdechy a jeho pláč a vzdychání stoupaly do korun stromů a spalovaly stromové listí.</p>
<p>V neklidných nočních snech znovu a znovu vídal Lilith, a vždycky v objetí ďábla.</p>
<p>Adamova duše byla bez naděje, proklínal Boha i nesmrtelnost a toužil po smrti.</p>
<p>Bůh uslyšel Adamovy vzdechy. Zželelo se mu ho a v hlubokém zamyšlení sám pochopil, že nebylo možné do výše šlehající oheň učinit druhem hlíny, tíhnoucí k zemi.</p>
<p>Seslal na Adama hluboký spánek a z jeho boku stvořil pro něho novou družku, Evu, která už pro to, jak vznikla, bude Adama poslouchat, bude moci milovat jen jeho a jistě ho dokáže utěšit.</p>
<p>Když Adam otevřel oči, viděl, že vedle něho sedí nová družka, ne tak dokonalá a oslnivě krásná jako Lilith, a přece také krásná, avšak příjemně, lidsky krásná.</p>
<p>Eva přišla k Adamovi, položila si hlavu na jeho rameno a mírně se usmála, oddaně vzhlížejíc do Adamových smutných, zasněných očí.</p>
<p>Když však Adam seděl po Evině boku a naslouchal šepotu růžových keřů, poznával v něm Lilitin dech. Mezi všemi rajskými vůněmi cítil Lilitinu vůni a v písních slavíků slyšel Lilitin hlas.</p>
<p>Když dobrá Eva laskala Adama a do svých černých vlasů halila jeho tvář, tu Adam viděl jen Lilitiny zlatoskvoucí kadeře, které překrývaly všecky obzory.</p>
<p>A když běsnila bouře a vichřice, spatřoval Lilith, jak se míhá kolem něho, a když blesk protínal oblohu, byla to plamenná láska k Lilith, jež protínala Adamovu duši.</p>
<p>Kdykoli zavřel oči, viděl v duchu Lilitin nekonečně krásný obraz, kdykoli vzhlédl ke hvězdám, viděl v nich Lilitiny oči a v nezměrném slunci byla Lilith celá...</p>
<p>Jeho rty oslovovaly Evu, v jeho duši však ozvěnou znělo: Lilith!</p>
<p>A když objímal blízkou milou Evu, tiskl ji k hrudi a líbal, snaže se na Lilith zapomenout, tu viděl ve svém objetí zase jen Lilith, Lilith líbal, Lilith vnímal, jen Lilith...</p>
<p>Tak Adam žil v neustálém očekávání a touze po ní a zemřel uprostřed vzdechů a snů o Lilith, o ní jediné.</p>
<p><em>1921, Benátky, Avetikh Isahakjan</em></p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-link">
    <div class="field-items">
            <div class="field-item odd">
                      <div class="field-label-inline-first">
              Zdroje: </div>
                    <a href="http://www.jitrnizeme.cz/view.php?nazevclanku=lilith&amp;cisloclanku=2003112102" target="_blank">Lilith (hebrejská báj)</a>        </div>
        </div>
</div>
</fieldset>

