---
title: Otevřený dopis zodpovědným v politice, hospodářství a vědě
date: 2013-03-30 20:17
layout: extranea
comments: false
tags: [ostatní]
---
<p>Přicházíš na svět, většinou na sterilní klinice, a hned tam ti vezmou tvé přirozené kořeny. Naočkují tě a krmí nepřirozeným chemickým žrádlem. </p>
<p>Přirozený porod v rodinném kruhu a vyrůstání v přirozeném prostředí by byly tím správným startem do budoucího života mladých lidí. Každý pozemšťan má svým narozením právo na kousek země. Zemská reforma, která by toto zohledňovala, již dlouho chybí. </p>
<p>Vyrůstání v izolaci od přírody a jejích živých bytostí způsobuje ztrátu normálního vztahu k našemu okolí. Život a výchova v souladu s rostlinami, zvířaty a lidmi však umožňuje zkušenost se spolužitím a ozřejmí ti úlohu tvého konání jakožto myslící bytosti, aby ses zhostil svého úkolu spravedlivého vedení a ne dobývání. Díky pozorování okolních živých tvorů zjistíš, že příroda je dokonalá, že při Stvoření se myslelo na všechny, že vše je navzájem propojeno a že tu není nic ke zlepšování. Je tvým úkolem, toto uchránit.</p>
SPLIT
<p>Neexistují žádní „hloupí“ a „chytří“, každý/á to dokáže, když není mentorovaný. Ty „hloupé“ a „chytré“ si vytváříme my sami, aby mohli být ti slabší využiti. Při svých projektech jsem se setkal se všemi možnými lidmi (s dospělými, s dětmi, s osiřelými dětmi, s dětmi ulice, s odhozenými dětmi atd.) na celém světě a udělal jsem s nimi skvělé zkušenosti. Tedy neporučníkovat, nýbrž nabídnout možnost, aby žili ze svých schopností. Zážitky úspěchu, radosti a uznání jsou tou nejvyšší odměnou, tou nejlepší terapií, a mají také ekonomický smysl. Praktickým příkladem je můj projekt životní pomoci BERTA pro lidi v invalidním vozíku v Bad Aussee ve Štýrsku. Tam vznikla první Holzerova permakultura pro invalidy v Evropě.</p>
<h3>Generační problém – obrovská mezera v naší společnosti</h3>
<p>Naši rodiče a prarodiče se nudí k smrti v domovech pro seniory. Děti a vnuci se oblbují u počítačových her, videoher a před televizní obrazovkou.</p>
<p>Smyslem Stvoření je, aby staří lidé předávali své zkušenosti a moudrosti dětem a vnukům. Děti na to mají právo, a mohou se tak o mnoho lépe na svůj život připravit. Musíme si být vědomi toho, že se tady dopouštíme obrovské chyby. Vícegenerační domy a vícegenerační projekty mají umožnit, aby se tato mezera ve společnosti zacelila. Vyučování by mělo být rozděleno 50 : 50 na praxi a teorii. Ke každé mateřské školce patří zahrada, ke každé škole zemědělská usedlost a ke každé univerzitě statek. To jsou praktické experimentální možnosti a vzdělávací dílny pro budoucnost našich dětí a tím pro budoucnost společnosti.</p>
<h3>Vzdělávání – specializace – pokrok – zblbnutí (demence) </h3>
<p>Díky dnešnímu modernímu, tzv. pokrokovému vzdělání, jsou mladí lidé odváděni od přírody a vykořenění. Pokud jsi sám nepozoroval souvislosti, vzájemné působení a symbiózy v koloběhu přírody, nemůžeš ji také uznávat a rozumět jí. Ani se nemůžeš zařadit do tohoto koloběhu dokonalosti Stvoření. </p>
<p>Co je důsledkem? Místo toho, abys pochopil, jak koloběhy v přírodě fungují, věříš, že přírodu můžeš vylepšovat a začneš s ní bojovat, bez porozumění. Tvým úkolem by však bylo, zasahovat do přírody pouze řídícím způsobem. Je potřeba chápat selským rozumem a podporovat kreativní myšlení.</p>
<p>Naše děti a vnoučata jsou oblbována ve školách a na univerzitách, hnijí ve školních lavicích. Nikoli snad proto, že by učitelé a profesoři byli příliš „hloupí“, ale protože ti musí vyučovat pouze podle učebního plánu, s nímž ale často ani nesouhlasí. Nechají se zneužívat politiky a lobbyisty. Ale kde je vůle, tam se vždy najde i cesta, pane profesore!! Ale pokud je profesor závislý na politické straně nebo je ovlivněn lobbyisty, tam se nemůže ani nebude nic měnit. Odpojená věda se natolik vzdálila od praxe, že jejím teoriím široké masy nerozumí a nepřijímají ji. Chybí již více článků v kruhovém oběhu tohoto řetězce.</p>
<p>Věda a politika do dneška zmeškaly možnost reagovat odpovídajícím způsobem na hrozné ničení životního prostředí (klimatické změny). Vliv peněz a korupce zjevně brání nutným reakcím a opatřením. Katastrofy dosáhnou takového rozsahu, že přivodí kolaps tohoto nemocného systému.</p>
<p>Znečištění vzduchu, zamoření vody a země chemií a umělými hnojivy v monokulturním zemědělství nás okrádá o zdravou životní základnu.</p>
<p>Výživa je tvou medicínou. Hospodář, sedlák, by měl produkovat potraviny, živiny, a ne zaplňovat naše břicha chemicky zamořenými, díky monokultuře méněcennými, zatěžujícími otravinami. Jako učitel bližních by měl zprostředkovávat úctyplné zacházení s živými tvory, rostlinami a zvířaty matky země. </p>
<p>Realita bohužel vypadá úplně jinak. Díky směrnicím EU a podmínkám pro subvence se sedlák stal závislý a navyklý na dotace. Sedlák byl degradován na příjemce subvencí. Prémie mají vyrovnat všechna omezení a újmy. Ale tyto pohledávky nebo tzv. vyrovnávací platby jsou pouze částečnými finančními náhradami za škody pochybné zemědělské politiky národních a EU zákonů a předpisů. Buď se rozrůstej, nebo zmiz, je heslem EU.</p>
<p>Specializace, modernizace, masový chov zvířat. Se zvířaty se jedná jako se zbožím. Vztahy k živým bytostem se ztratily. Následkem je masové trýznění zvířat. Dalšími důsledky jsou zmrzačování živých tvorů díky odrohování, kupírování zobáků a křídel nebo ocasů, elektrické rány od trenažérů pro krávy, zohavování díky zbytečně velkým ušním známkám atd. Tímto způsobem týraný tvor nemůže poskytovat zdravé živiny. Pokud se zvíře necítí dobře, je zatížený také produkt.</p>
<blockquote><p>Sedlák je duší národa! Zemře-li sedlák, zemře země!</p></blockquote>
<p>Díky nařízenému zemědělskému obhospodařování se nenávratně ztrácí staré kulturní vymoženosti. Starým a po mnoho set let předávaným metodám šlechtění a zpracování je bráněno předpisy EU, případně jsou zakázané. Nařizovány a vysoce podporovány jsou centrální a obrovská zpracovávatelská místa jako jatka, velkopekárny, velkolihovary, velkomlékárny a velkosýrárny atd. Aby však byly vytíženy, znesnadňuje se příp. zabraňuje se sedlákům, vlastní produkty zpracovávat a zušlechťovat.</p>
<p>Malému množství zbývajících biozemědělců se zkracuje podpora EU, šikana se však zvyšuje. Tím se vše ostatní, jak se ví, vyřídí samo. Zemědělec jako otrok na svém vlastním statku, většinou vysoce zadlužený díky přemíře mechanizace a specializace, sedřený, podrobený a přetížený všemi těmi administrativními požadavky a šikanami našeho přebujelého správního aparátu, živoří svůj život v totální závislosti. Kdo se potom ještě diví, když děti nechtějí pokračovat v této cestě utrpení?</p>
<h3>Řešení všech problémů</h3>
<p>Nutná je občanská odvaha a nikoli stádní chování, člověk se musí bránit proti tomuto přebujelému správnímu aparátu, odcizenému praxi.</p>
<p>Zkus se vcítit do svého protějšku, do rostlin, zvířat i do lidí a zeptej se sebe, jestli by ses na jejich místě cítil dobře. Pokud se dešťovka cítí dobře, půda je zdravá. Také rostliny a zvířata se cítí dobře, pokud mohou žít ve správném biotopu a svobodně. Největší úspěch a výhodu budeš mít, když obrátíš svou pozornost k správnému řízení přírody. Půdu používat a ne zneužívat. Rozmanitost a nikoli omezenost udržuje systém. To je tvá úloha ve Stvoření, obrátit svou pozornost k řízení a vedení, nikoli ničení. Příroda je perfektní. Tady není nic, co by se dalo vylepšovat. Když to však zkusíš, je to podvádění sama sebe a sebeklam. Příroda je dokonalá, chyby děláme pouze my lidé. Strach je v tobě vzbuzován uměle - osvoboď se od něj, protože strach je nejhorším průvodcem v životě. Úctyplným zacházením se Stvořením a s tvými blízkými živými tvory z toho budeš sám nejvíce těžit, a být sedlákem se stane nejkrásnějším povoláním.</p>
<p><i><br>
Permakultur Krameterhof<br>
Sepp Holzer<br>
5591 Ramingstein 13 /Sbg.<br>
Tel. 06475/239<br>
Internetadr. <a href="http://www.krameterhof.at" title="www.krameterhof.at">www.krameterhof.at</a><br>
Email: <a href="mailto:office@krameterhof.at">office@krameterhof.at</a><br>
</i></p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-link">
    <div class="field-items">
            <div class="field-item odd">
                      <div class="field-label-inline-first">
              Zdroje: </div>
                    <a href="http://www.paprsky1.de/zpravy_a_elanky/elanky/otevoeny_dopis_Seppa_Holzera/otevoeny_dopis_seppa_holzera.html" target="_blank">Přeložila Jitka Valentová a Namu, květen 2011</a>        </div>
              <div class="field-item even">
                      <div class="field-label-inline">
              Zdroje: </div>
                    <a href="http://www.krameterhof.at/pdf/probleme_der_gegenwart.pdf" target="_blank">Původní zdroj</a>        </div>
        </div>
</div>
</fieldset>

