<% content_for :sidebar do %>
<div class="book-navigation">
<h3>Obsah</h3>
    <ul class="menu">
<li class="leaf first"><a href="/knihy/procitni-chechtej-se/co-je-osviceni">Co je osvícení</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se/pozadavky-pro-satsang">Požadavky pro satsang</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se/vztah-k-uciteli">Vztah k učiteli</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se/povaha-ja">Povaha Já</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se/meditace">Meditace</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se/postata-mysli-vasan">Postata mysli a vásan</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se/past-kterou-kladou-smysly">Past, kterou kladou smysly</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se/dotazovani-oddanost">Dotazování a oddanost</a></li>
<li class="leaf"><a href="/knihy/procitni-chechtej-se/volba-totalni-smrti">Volba totální smrti</a></li>
<li class="leaf last"><a href="/knihy/procitni-chechtej-se/romance-lasky-skryte-tajemnstvi">Romance Lásky: skryté tajemnství</a></li>
</ul>


  </div>
  <% end %>
