---
title: Co je osvícení
date: 2010-01-22 23:33
layout: book
comments: false

---

      <p><strong>Co je to osvícení?</strong></p>
<p>Když se vrátíte ke svému Já, nazýváme to osvícením, uvědoměním, osvobozením, volností. Když poznáte Já, víte vše.</p>
<p>V tomto probuzení odhalíte, že je ve vás celý vesmír. Všechny vesmíry jsou ve vašem nitru a vy jste vesmírem. Toto je nejzazší pochopení. Víte-li toto. víte vše. Nevíte-li to, nevíte nic, bez ohledu na to, kolik informací jste nashromáždil.</p>
<p>Bez tohoto poznání jste nevědomý. Když jste poznal Absolutno, jste vším... Bez počátku, středu, konce, bez zrození nebo smrti. Zde končí všechny obavy.</p>
<p>Osvícení je mimo čas. Není to probuzení, spánek ani snění. Zkoumejte touhu "chci být volný“. Z jakého stavu vychází. Je to transcendentální slav, který přichází odnikud.</p>
<p><strong>Jak mám uklidnit mysl? </strong></p>
<p>Tradice předpisuje dva způsoby. Jedním je dotazování, které je vhodné jen pro nemnohé, dobře připravené lidi. Druhým způsobem je jóga. Jóga je koncentrace, meditace a cvičení.</p>
<p>Abyste mohl provádět zkoumání, musíte být schopen rozlišit skutečné a neskutečné. To je docela rozumné. Vezměte to, co je skutečné, a přimkněte se k tomu, nebo odmítněte neskutečné, klamné.</p>
<p>Studium, zbožné poutě ani koupání v posvátných vodách vám nepomůžou. Umět papouškovat sútry a posvátná písma není k ničemu. Nepomohou dary, odříkání ani milosrdenství.</p>
<p>Nejdůležitějším požadavkem je planoucí touha po osvobození. Samotná tato touha postačí. Máte-li planoucí touhu po svobodě, satsang se dostaví.</p>
<p>Co je to satsang? Satsang znamená přebývat v klidu. Kdykoli se mysl pohne, vraťte ji zpět do jejího zdroje. Nejste-li schopen dokázat to sám, najděte si dokonalého učitele.</p>
<p>Při volbě učitele se nesmíte dopustit omylu. Je to smlouva mezi vaším lidským životem a osvícením. Nemařte svůj lidský život s někým, kdo není schopen dát vám to pravé.</p>
<p>Jste-li ke svobodě připoután v tomto úseku svého života, v tomto roce, měsíci, dnešního dne, nyní - pak musíte volit. Nejlepší volbou je dotazování, které mysl okamžitě utiší.</p>
<p>Meditace musí být trvalá. Musíte být soustředěn na skutečnost pravého Já. Jen Já je pravdou, vše ostatní je klam. Musíte vše opustit! Nakonec musíte opustit i studium jakékoli knihy. Otevřte svou vlastní knihu a zůstaňte tichý. Kolik ze šesti miliard lidí na světě touží po svobodě? Je možné, že zeměkoule nezplodí ani jediného osvíceného člověka v jedné zemi. Abychom spatřili osvíceného muže, hledíme 2 535 let nazpět. Nalézáme onoho prince a denně znovu opakujeme jeho jméno.</p>
<p>Když se probudil, spal se svou ženou, královnou a se svým synem. Měl palác, slony, koně, poklady, armády a tanečnice. Ve svém paláci neviděl tento mladý muž žádné utrpení. Kde vznikla jeho touha po svobodě ?</p>
<p>Probudil se o půlnoci. Po jednom svém boku viděl krásku země, svou manželku, po druhém boku svého syna, dar manželského života. Tento muž se probudil uprostřed mezi nimi.</p>
<p>Nevylučujte z toho sám sebe, když posloucháte! Vy sám jste Buddha. Vy jste člověk. Onen princ možná měl větší odpovědnost, než máte vy. Jeho povinnosti byly ohromné, mnohem větší než vaše. A přece našel čas na touhu po svobodě.</p>
<p>Poté, co nalezl čas, ukazuje nám nyní tento člověk světlo. Není mrtev. Vzpomínáme na něj denně. Kdo by neznal Buddhu? Jeho jméno září ve všech zemích. Vy sám jste Buddha! Nepodceňujte se! Máte totéž světlo, tutéž moudrost a totéž vědomí, které měl on.</p>
<p>Chcete-li to odložit, můžete přejít do jiného zrození. Máte-li nesplněné touhy, musíte se narodit z dalšího lůna. Chcete-li s tím skoncovat, splňte všechny své touhy okamžitě. Jak byste se mohl znovu narodit, když už žádné nezbývají ?</p>
<p>Jediná cesta z tohoto kruhu vede přes okamžité splnění všech přání. Vaše snahy dosud vedly jinými cestami. Splnil jste jedno své přání, a objevilo se jiné. Znovu jste je splnil, a znovu přišlo další. Zeptejte se králů, vládců tohoto světa a zjistíte, že i oni mají touhy a obavy. Ptejte se obchodníka. Také on má přání a obavy. Dělník, kněz, voják - každý má nesplněná přání. Jednoduchý způsob jak svá přání splnit, je použít ohně. Potřebujete oheň, abyste spálil skladiště tužeb, nahromaděných ve vaší mysli. Budou okamžitě spáleny jedinou touhou: touhou po osvobození!</p>
<p>V osvícení jsou všechny touhy spáleny na popel. Už nikdy se pak nemusíte vracet do žádného lůna. Jinak budete těkat z místa na místo, z lůna do lůna.</p>
<p>Nevyžaduje to žádný čas. Mějte jen to jediné přání ... Bude to fungovat, protože taková touha se nezachytí na žádných předmětech. Tužby po předmětech, chtění toho, co nemáte, může nějaký čas zabrat. Avšak tato touha - poznat své vlastní Já - vás nemůže odvést daleko od svého naplnění.</p>
<p>Tato touha bude splněna okamžitě, protože vytoužený objekt je subjektem! Je to subjekt, jenž se snaží o návrat k subjektu. Vědomí touží z nitra vědomí o návrat k vědomí. Kolik času potřebujete na návrat domů, jste-li doma?</p>
<p><strong>Z toho vyplývá, že jsme všichni osvícení a že musíme opustit představu, že osvícení nejsme. Je to správné?</strong></p>
<p>Část z toho jste pochopil. "Nejsem osvícený" je představa. "Jsem osvícený" je rovněž představou. Chápete? Zbavte se obou těchto představ, co potom uvidíte? </p>
<p>(Tazatel je chvilku tichý.)</p>
<p>Aha. Ten úsměv na vaší tváři není osvícený ani připoutaný. Usmívejte se a zůstaňte tichý. Jaká myšlenka je ve vaší mysli, když se usmíváte? Když odmítnete pouto a volnost, je tu smích. Nyní pokračujte bez zřetele na toto pouto nebo osvícení.</p>
<p><strong>Seděl jsem zde několik dní a kladl jsem otázky, ale vy jste se na rnne vždycky podíval, a já nevěděl, co se děje. Je to jako byste mluvil cizí řečí. Nerozumím ani slovu z toho, co říkáte. Měl bych se to snažit chápat ?</strong></p>
<p>Můžete se snažit, chcete-li. Kdo by vás měl zastavit? I myšlenka na vynaložení úsilí musí vzejít ze zdroje. Ale musíte se stát člověkem, než toto úsilí vynaložíte?</p>
<p><strong>Ne, já jsem člověk.</strong></p>
<p>Tak. Proč se tedy snažit být koněm? (Smích)</p>
<p><strong>Já však nerozumím slovům, která říkáte. Jako teď, když se na mne díváte, se něco děje a já tomu nerozumím. </strong></p>
<p>Nemusíte rozumět. Budu mluvit dál, dokud nepochopíte.</p>
<p>Dovršení vašeho pochopení bude koncem mé řeči. Vzdejte se tedy chápání a já se vzdám hovoru. Pochopení nepomů-že. Přejde z ucha přímo do paměti. Chápání může být dobré, ale ne pro svobodu. Pro svobodu nepotřebujete ani slovo. Svoboda je bez poskvrny.</p>
<p><strong>Říkáte, že v šedesátých letech k vám přišla jen hrstka lidí, kteří realizovali konečnou svobodu. Co to znamená pro nás?</strong></p>
<p>Nevymazal jsem vás ze svého seznamu. (Smích)</p>
<p><strong>Jestliže je svět snem, proč tolik lidí věří, že je skutečný ?</strong></p>
<p>Nikdo nepochybuje o skutečnosti světa. Lidé vidí strom a hory a jsou si jisti, že to vše existuje. Jen tehdy, je-li tato jistota zpochybněna, pochybují i o snu. Probuďte se a po-znejte, že to byl sen. Jak procitnout? Pomocí satsangu. Satsangem je hovor o svobodě. Satsang vám umožní uvědo-mit si, že se můžete vzdát všech snů těla a všech těchto souvislostí. Je velmi, velmi málo těch, kdo si procitnutí skutečně zvolí.</p>
<p>Buddha se probudil. Spal se svou krásnou manželkou a probudil se. Na jedné straně krásná žena, na druhé syn, palác, sloni - a on si zvolil cosi jiného.</p>
<p>Procitl i jiný král. Ležel na střeše svého paláce se dvěma královnami - s jednou po každém boku - v noci, když byl úplněk. Hleděl na krásu měsíce, když tu kolem přeletěli dva bílí ptáci. Náhle procitl a podíval se na svou situaci. Král ve svém paláci s královnou po každém boku. Měl maximum toho, co svět může člověku nabídnout. Jaký šťastný člověk! Pak tiše vstal a odešel do lesa, aby žil ve volnosti.</p>
<p>Tu a tam podobné příběhy o procitnutí najdete. Když se probudíte, budete vědět, že toto byl jen snový stav. Když sníte, nevíte o tom a vše se zdá skutečné. Rozlišení nakonec vzejde z otázky: "Odkud jsem přišel? Kdo jsem já?" Pomocí takového rozlišení realizujete povahu tohoto snu.</p>
<p><strong>Co je to osvícení?</strong></p>
<p>Já toto slovo nepoužívám.</p>
<p><strong>Realizovaný ?</strong></p>
<p>Nic. Nestávejte se ničím. I osvícení znamená něčím se stávat. Buďte, čím jste. Nedávejte si nálepky. Nevtiskujte si žádnou značku. Značky jsou pro zvířata. Jakou značku může mít Já, jež nemá ŽÁDNÉ JMÉNO a ŽÁDNÝ TVAR? Co je zdrojem slova "osvícení"? Je to slovo, nebo ne? Co bylo jeho kořenem, než se stalo slovem?</p>
<p>Je to myšlenka.</p>
<p>Ano, a před myšlenkou bylo ticho. První je tedy ticho, pak myšlenka a potom slova. Osvícení a pouto jsou slova. Všechna slova jsou z říše mysli a vy se otevíráte tomu, co je za myslí. Než vznikla myšlenka, existovalo něco jiného, a toto něco jiného je vaše Já. Já je vždy Já, neznačkujte to. Já je Já a nepotřebuje vaše úsilí, metodu ani pomoc, aby se realizovalo. Je vždy realizované. Vy je naopak maskujete. Tato kamufláž musí být odstraněna.</p>
<p>Co je ve skutečnosti ta maska? Je to myšlenka "já jsem to a to". Musí být odstraněna a když zmizí, zazáří samotné Já. Svítí na sebe svým vlastním světlem. K odstranění kamufláže nepotřebujete žádné cvičení. Zůstaňte jen na okamžik tichý, pak vše zmizí a jste doma.</p>
<p><strong>Když poslouchám tato slova ve vaší přítomnosti, něco se děje.</strong></p>
<p>Ano, děje se. Díky klidu, tichu a míru. Absolutnímu tichu. Když je mysl tichá, nazývá se Přítomností a tato Přítomnost je velmi nakažlivá. Každý, kdo se dostane do oblasti jejího působení, je jí ovlivněn. Nejdůležitější je tichost mysli, nikoli slova, nikoli myšlenky. Abyste se učil, nepotřebujete slova. Jen zůstaňte tichý.</p>
<p>Toto učení žádná slova nepotřebuje. JEN UTIŠTE MYSL. Protože však nikdo není tichý, učení nefungují. Existují miliony knih, ale nefunguje nic, protože mysl, která je za těmito spisy, není tichá. Účinné jsou některé sútry, protože byly napsány s tichou myslí.</p>
<p>Slovo vzniká z ticha. Proto mluvte tichem, poslouchejte tichem. K nabytí svobody žádná slova nepotřebujete. Svoboda je předávána v tichu.</p>
  <div id="book-navigation-37" class="book-navigation">

        <div class="page-links clear-block">
              <a href="." class="page-previous" title="Přejít na předchozí stranu">‹ Procitni a chechtej se</a>
                    <a href="." class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/pozadavky-pro-satsang" class="page-next" title="Přejít na další stranu">Požadavky pro satsang ›</a>
          </div>

  </div>

