---
title: Dotazování a oddanost
date: 2010-01-23 22:00
layout: book
comments: false

---

      <p>Má mysl stále běží, přelstívá mě. Co si mám s aktivní myslí počít?</p>
<p>Existují dvě cesty: jednou je vičára neboli dotazování, druhou oddanost.</p>
<p>Dotazování spočívá v kladení otázky "kdo jsem já?", která vás vede k odhalení Pravdy. Když se takto ptáte, nemáte jiné myšlenky. V jednu chvíli můžete mít jen jednu myšlenku a vy se držíte otázky "kdo jsem já?". Když je mysl touto otázkou zaměstnána, pevně a naprosto bděle ji udržujte. Věnujte plnou pozornost nalezení odpovědi. Jiná myšlenka se nedostaví, protože jste plně zaměstnán dotazováním. Začněte egem. Ego chce vědět, "kdo jsem já?", že? Myšlenka je ego.</p>
<p><strong>Ego je do toho ještě zahrnuto?</strong></p>
<p>Ovšem. Kdo jiný hledá? Nejprve jste cítil, že jste oddělen. Chtěl jste se tedy vrátit ke své původní podstatě, a proto provádíte dotazování.</p>
<p>Zapomněl jste sám na sebe a uvěřil v oddělenost. Tuto oddělenost musíte překonat. To a otázka, kdo jste, vás přivede k vašemu původu.</p>
<p>Kde vzniká já? Ponořte se tam. Neznáte nic, co je za já. To místo nezná nikdo. Vnořte se tam a dívejte se. To je dotazování. Ponořte se hluboko do neznáma. Potom přestane ego existovat.</p>
<p>To je vhodné pro velmi bystré, inteligentní lidi. Vy již jste svobodný, tak neprahněte po dosažení čehokoli. Žádný zisk ani ztráta nejsou navěky, a tudíž nemají cenu. Každý zisk bude ztracen. Nic, co není tady a teď, není k užitku. Musíte odhalit, co tady a teď už je. Je to vaše vlastní přítomnost, vaše vlastní prázdnota. Musíte se tedy vrátit ke své původní podstatě a nic nežádat.</p>
<p>Absolutno povznáší svatého člověka. Musíte se dostat do absolutní, neposkvrněné mysli. Bohu má být nabídnuta květina, ke které nikdo nevoněl.</p>
<p>Nemusíte číst knihy ani cvičit. Je to začátek a konec současně. Získáte to okamžitě.</p>
<p><strong>Ve vaší přítomnosti, v tomto okamžiku. Já to cítím.</strong></p>
<p>Toto já je ego. Ego se ničí ve svých vlastních kořenech. Když se obrátí zpět a spatří svou matku, rozplyne se studem. Ego se totiž stále vychloubalo: ,Já jsem vytvořilo celý vesmír. Já udělám toto. Já vykonám ono. To patří mně."</p>
<p>Vičára je metoda plného důkazu. Žádná jiná cesta vás k osvícení nedovede, všechny jsou zmatené. Toto je svrchá cesta.</p>
<p>Druhá cesta, stejně dobrá - i pták potřebuje k létání dvě křídla odevzdanost. Já vycházím z oddanosti...</p>
<p><strong>Skutečně? To je zvláštní. Právě jsem hovořil s jedním sv, který také říká, že jde cestou oddanosti. Otevřel se lásce Rámakršny, Ježíše a Buddhy a touto láskou se očistil.</strong></p>
<p>V oddanosti není nic takového zapotřebí.</p>
<p><strong>Jak tedy oddanost funguje?</strong></p>
<p>V oddanosti věnujete sám sebe Svrchovanému. Vy sám neděláte nic, ale podrobíte se Svrchovanému, který se o všechno postará, on to ostatně dělá i teď.</p>
<p><strong>To, jak mluvíte o Bohu, vyvolává velkou radost.</strong></p>
<p>Ano. (Začíná plakat.) Ať mluvíte o čemkoli, je tu mysl. Mluvíte o růži a mysl jde za ní. Takto. (Pláče.) To je důvod, proč při satsangu jen zřídka užívám slova oddanost.</p>
<p><strong>Proč ne?</strong></p>
<p>Kdybych slyšel o oddanosti, bylo by po satsangu. To slovo vás tam unáší, jak jste řekl.</p>
<p>Nejprve tu musí být sebeodevzdání a pak To o vás pečuje. "Buď vůle Tvá, já vůli nemám", to bude váš způsob mluvy.</p>
<p><strong>Nemohu se ustálit. Můžete mi pomoci? Zůstat v oné přítoti je mé největší přání.</strong></p>
<p>Když se odevzdáte, žádné přání neexistuje, je to jako když můra spatří plamen. Můra plamen miluje, je jím přitahována a chce jej zlíbat. Tato touha ji do plamene strhne. To je vše a není návratu. Podobně když se podrobíte, převezme o všechno péči samotný Bůh. Ve skutečnosti to tak již je, ale my to neuznáváme. Jsme tak nadutí, že říkáme: "To jsem udělal já."</p>
<p>Nemáte žádnou záruku ani pro příští minutu. Všichni se vychloubají, že "toto jsem udělal" nebo "udělám to zítra". Kdo kdy viděl zítřek? Odevzdejte se Bohu a nechte všechno na něm. To je okamžitá svoboda.</p>
<p>Když jste svou mysl prodal někomu jinému, nemáte, co byste Bohu nabídl. Když nabídnete Bohu své srdce, je vám Boží království otevřeno, ať chcete nebo ne.</p>
<p><strong>Kterou z cest jste si vybral vy?</strong></p>
<p>I podrobení se nakonec vede k dotazování. Nejprve to vypadá, jako by tu byl oddaný, oddanost a Bůh.</p>
<p>V podrobenosti se oddaný noří do samotného Božství a pak už neexistuje ani oddanost. Vrací se do stejného zdroje, ze kterého vyšel.</p>
<p>Existují i vnější projevy oddanostizy a chvějící se hlas. Když jste Božstvím přijat, dostaví se tyto symptomy. Jste přijat. To je krásné.</p>
<p>Šílel jsem po Božství. Lidé to nazvali bláznovstvím. Tolik božské extáze. Kdo o tom může mluvit? Proto nemohu o tomto satsangu hovořit. Dusím se a nemohu mluvit.</p>
<p><strong>Cítíte se v této lásce svobodným?</strong></p>
<p>Podrobenost je svobodou. Nezůstává ŽÁDNÁ MYSL. Ntává žádná oddělenost. Láska k Bohu je svobodou. Stačí jen jméno Boží. Mezi Božím jménem a Bohem není rozdílu. Vědomí, prázdnota, osvícení, Bůh vše je totéž.</p>
<p>V očích džívanmukti není minulosti. Neexistuje minulost, přítomnost ani budoucnost. Jen věci tak jak jsou. Není čas, slunce, neexistuje měsíc ani hvězdy. Jen nezměrný mír.</p>
<p>Bude to tak, jak si pomyslíte. To je krása vědomí.</p>
<p>Je to vědomí. Nepotřebuje si odnikud půjčovat materiál. "Nechť existuje projev" - a projev je tu. Ať pomyslíte na cokoli, je to okamžitě zde, uvnitř vědomí. Vědomí toužící po čemkoli je uvnitř vědomí.</p>
<p>Nikdy se nic nestalo. Nic se ani nestane. To je svrchovaná pravda. Všechno ostatní je bída mysli.</p>
<p>Když vznikne mysl, vzniká nepokoj. Musíte mysl zastavit v okamžiku, kdy vzniká. Zůstaňte tam, kde vzniká. Mysl je myšlenka. Vzniká já a všechno ostatní. Lidé říkají, že před vznikem já neviděli nic, a to je mír, krása, láska.</p>
<p>Když dovolíte, aby poté, co jste spatřil svůj vlastní zdroj, vlastní mír, vznikla jediná myšlenka, vznikne okamžitě i most, budoucnost a přítomnost. Když sníte, uvidíte v okku hory nebo slona, protože vše je vědomí. I když nevíte, jste si vědom nevědění. Řeknete-li: ,Já trpím", jste si vědom utrpení.</p>
<p>Jediný způsob, jak se utrpení zbavit, je dotazování. Toto dotazování, neboli vičára, je vor k přeplutí oceánu sansáry a k dosažení nirvány. Tento vor jste kdekoli... ať jíte, spíte nebo chodíte velmi bezpečný. Nic se vás nemůže dotknout. Dotazování vás vyvede ven z mysli. Zůstaňte jen tichý a vězte, že se vás od tohoto okamžiku žádná myšlenka nedotýká.</p>
<p><strong>Jak mám vstoupit dovnitř?</strong></p>
<p>Musíte nechat všechno za sebou. Abyste vstoupil dovnitř, musíte za sebou zanechat mysl, ego, tělo, smysly i projev. V onom okamžiku vcházení dovnitř nic z toho neexistuje. Neexistuje ani já.</p>
<p><strong>To je správné.</strong></p>
<p>Já znamená mysl. Mysl znamená ego, ego znamená smysly a smysly znamenají projev. Dotazování tedy probíhá u kořene ega a vy říkáte, že jste to provedl.</p>
<p><strong>Ano, ale jen na okamžik.</strong></p>
<p>Správně! Učiňte tedy krok z této přítomnosti a položte někam nohu. Kam ji položíte?</p>
<p><strong>Musím se snažit, abych na to nemyslel.</strong></p>
<p>Můžete myslet, dělejte cokoli. Přistál jste v oceánu. Děle co chcete, myslete, mluvte, plavte.</p>
<p><strong>Ale jak mám jít dovnitř?</strong></p>
<p>Říkal jste, že jste to udělal!</p>
<p><strong>Na nezměřitelně krátký okamžik.</strong></p>
<p>Správně! Nyní chcete přejít od této bezčasovosti do času.</p>
<p><strong>Ne, nechci. Chci abych, mohl jít.</strong></p>
<p>Čas je mysl a čas je minulost.</p>
<p><strong>Já vím. </strong></p>
<p>Řekl jste, že jste v tomto bezčasovém okamžiku chtěl vyjít ven z času. Nyní chci, abyste vyšel z bezčasovosti!</p>
<p><strong>Ach!</strong></p>
<p>Teď nemáte nic na práci. Ano, to je ono, našel jste to. Nemyslete na to, ani nevyvíjejte žádné úsilí, a vždy tu jste. Budete vždy zde a vždy jste zde byl, ale byl jste zaměstnán jinde. (Směje se.) Minulost je hřbitov. Všechny vaše slzy a utrpení musí pocházet z minulosti. Když budete bez přestání zkoumat, kdo jste, nebude mít minulost prostor, aby vstoupila do vašeho vědomí. Jste již zaměstnán. Místo pro minulost tu není.</p>
<p>Nejprve zmizte, pak se ponoříte do oceánu ambrózie. Ať pak budete mluvit o čemkoli, bude to poezie. Potom už nemluví nikdo.</p>
<p><strong>Když chci jít dovnitř, cítím, že mé srdce bije silněji.</strong></p>
<p>Nevšímejte si toho! Vaše skutečné srdce není uvnitř ani venku. Soustřeďte se na To. Kde se budete soustřeďovat?</p>
<p>Vaším opravdovým srdcem je skutečnost. Je to podklad světa. Nedotčená Skutečnost. Když máte mír, máte s tímto srdcem přímé spojení. Když jste ve spojení s tímto srdcem, které není uvnitř ani vně, nebo když se na ně soustředujete, jste v míru. To není stav bdění, snění ani spánku. Je to stav vašeho vlastního Bytí. Je to transcendentální stav. Když tohoto stavu dosáhnete, stane se vám vlastní a povede vás ke svobodě. A budete mít mír.</p>
<p>Když realizujete svůj vlastní stav, je právě zde. Všechen tento projev je kosmickým parketem a vy tanečníkem. Zde není přijímání ani odmítání. To je svoboda, osvícení. Je již tady, ale vy jste zaměstnán jinak.</p>
<p>Nadhodil jste problém činnostiuot;dělám toto", "udělám ono" základě nečinnosti. Existuje něco, co je nečinné, co vůbec nepracuje. Z toho vzniká představa činnosti a vy se v ní angažujete. Jakmile pak dosáhnete jistých věcí, jste ztracen.</p>
<p>Když víte, z čeho činnost pramení, když víte, že vzniká z ne-činnosti, z toho, co je nečinné, realizujete svobodu. Činnost potom ve vaší paměti neutkví, a proto nebude existovat karma. Bez karmy jsou všechny představy o svět cyklu pryč.</p>
<p>Když se soustřeďujete a přitom nevyvíjíte úsilí, ukáže se to samo. Ruší vás vaše myšlenky. Vaší podstatou je mír. Jen zůstaňte tichý a uvidíte, že žádná myšlenka nevzniká. A když nevzniká žádná myšlenka, je to mír. Myšlenka jde vždy do minulosti nebo přítomnosti, což se nazývá světovým cyklem a utrpením. Nedělejte nic a dívejte se, jak k vám přichází mír.</p>
<p>Myšlenka jen ruší klid oceánu.</p>
<p>Po pravdě je všechno zahrnuto v lásce. Nic není na vás myšlení. V odevzdanosti není myšlení. Nemůžete vyžat nebo poroučet. Řeka se v oceánu ztrácí beze stop. Toto je podobné. Musíme svou lásku věnovat Bohu a nikomu jinému. Musíme milovat věčného přítele a nikoli věci, které přicházejí a odcházejí.</p>
<p><strong>Co jste získal setkáním s Ramanou Maháršim, když už jste byl naplněn láskou k Bohu?</strong></p>
<p>Vičáru (sebedotazování). To jsem nikdy neznal. Nyní o ní mluvím proto, že jsem realizoval. Můj mistr o tom mluvíval a díky jeho milosti jsem získal zkušenost. Tuto zkušenost mi předal můj mistr.</p>
<p>Byl jsem podroben, ale něco chybělo. Ještě stále existovala nesnesitelná oddělenost. Tančíval jsem s Kršnou, ale ne čtyřiadvacet hodin denně. Občas tu byla oddělenost a to moc bolelo. Chtěl jsem, aby byl můj stav stabilizován po celých čtyřiadvacet hodin denně. Do té doby jsem učitele neměl.</p>
<p>Když jsem hledal gurua, prošel jsem celou Indii. Ptával, jsem se: "Viděl jste Boha? A jestliže ano, umožníte to i mně? Jaké jsou vaše požadavky? Budu vám sloužit celý zbytek tohoto života." Každý odpověděl: "Musíte cvičit."</p>
<p>Já jsem to však odmítl. Řekl jsem, že když půjdu na trh, uvidím, co chci, a zaplatím za to. Tak by to mělo být. Jsem ochoten platit, ale dáte vy mně to, co chci? Proč bych měl cvičit?</p>
<p>Říkali, že jsem blázen. Žáci těchto guruů vstávali a říkali: "Jsme tu už čtyřicet let. Narostly nám šedé brady, a přece jsme ještě nenašli cestu. Tak tu zůstaň a cvič."</p>
<p>Ale proto já nepřišel. Když guru spatřil Boha, proč by mi ho nemohl ukázat? Všude jsem chodil a hledal bez úspěchu. Tak jsem se zklamaný vrátil domů. Můj otec byl celý pryč z toho, že jsem nepracoval. Jednoho dne, když jsem seděl v domě, přišel ke mně jeden sádhu pro almužnu.</p>
<p>Řekl jsem: "Svámídží, můžete se se mnou naobědvat. Cestoval jste po celé Indii, můžete mi říci o někom, kdo viděl Boha?"</p>
<p>"Ó ano," odpověděl, "znám takového člověka." A dal mi adresu Ramany Maháršiho, který žil v Tiruvannamalai, jižně od Madrásu. Vydal jsem se za ním. Neměl jsem peníze a otec mi žádné nedal, protože se už staral o mou rodinu, manželku a děti. Půjčovat si peníze jsem se moc styděl. Pomáhal jsem lidem, ale od nikoho jsem si peníze nevzal.</p>
<p>Měl jsem přítele, který obchodoval s cukrovím. V dětství jsme spolu pěstovali gymnastiku. Ten mne pozval, abych si přišel pro mléko. Na jeho stole ležely staré noviny a já se zadíval na inzertní sloupek.</p>
<p>Uviděl jsem inzerát, který hledal pro práci v Madrásu důstojníka na odpočinku. Hned jsem odpověděl, dostal peníze i jízdenku a měsíc času na to, abych se dostavil.</p>
<p>Odjel jsem z Paňdžábu do Madrásu a pak do Ramanášr Slezl jsem z volského potahu, byl jsem přivítán a bylo mi řečeno, že světec je v hale. Šel jsem tam a uviděl, že to je týž sádhu, který mi dal adresu.</p>
<p>Moc jsem se rozzlobil a ani jsem nevešel do haly. Myslel jsem, že je to ten člověk, který sám sebe vychvaloval. Chtěl jsem jít zpět na stanici.</p>
<p>Venku za mnou přišel člověk, který v ášramu žil a zeptal se: "Nejste ze severu? Proč tu nějaký čas nezůstanete, když jste absolvoval takovou cestu?"</p>
<p>Odpověděl jsem: "Ne. Ten člověk je podvodník. Dal mi svou vlastní adresu, a proto ho nechci ani vidět, ani zde zůstat."</p>
<p>Ten muž mi řekl: "Ne, to se mýlíte. Nehnul se odsud padesát let. Přišel sem jako chlapec. Musel se vám zjevil pomocí svých zvláštních sil."</p>
<p>Ačkoliv jsem nesouhlasil, trval na svém, vzal má zavazadla a přidělil mi pokoj. Vtom zazněl zvon svolávající k obědu. Mahárši obědval v jídelně a já jasně viděl, že to je táž osoba, se kterou jsem se setkal v Paňdžábu. Rozhodl jsem se, že s ním promluvím.</p>
<p>Po obědě všichni odešli a on se vrátil zpět do haly. Nevěděl jsem, že k němu po obědě nikdo nechodí. Šel jsem za ním, ale služba mne zastavila, protože to byl čas, kdy Mahárši odpočíval. Mahárši mne však uviděl a pokynul mi, abych přišel.</p>
<p>Zeptal jsem se ho, zda to nebyl on, kdo mne před patnácti dny v Paňdžábu navštívil, Mahárši však zůstal tichý.</p>
<p>Řekl jsem: "Nerozumím tichu, mluvte, prosím." Nepromluvil, ale ani pak jsem s ním nebyl šťasten. Nebyl jsem šťasten v tomto tichu, které jsem nikdy dřív neslyšel.</p>
<p>Pomyslel jsem si však, že to je pěkné místo. Velmi přitažlivé, velmi svaté. Když už jsem zde, půjdu se podívat na druhou stranu hory. Plahočil jsem se čtyři míle od ášramu a hledal svého Kršnu.</p>
<p>, Pak přišel čas, abych se vrátil do Madrásu a věnoval se své práci. Šel jsem se rozloučit s Maháršim. Řekl mi: "Vy jste nepřišel, abyste mne navštívil."</p>
<p>"Ne," odpověděl jsem, "byl jsem na druhé straně hory a teď odcházím do Madrásu."</p>
<p>"Co jste dělal?" zeptal se. </p>
<p>Odpověděl jsem pyšně: "Hrál jsem si se svým Kršnou."</p>
<p>"Velmi dobře," řekl, "a viděl jste Kršnu?" </p>
<p>"Ano," řekl jsem nadutě. </p>
<p>"Vidíte jej nyní"</p>
<p>"Ne, teď ne. Viděl jsem ho, když jsem měl vizi. Nyní ne." </p>
<p>Mahárši pokračoval: "Tak Kršna se objevoval a mizel? To, co se objevilo, zmizelo. Vidoucí je stále tady. To, co se objevuje a mizí, nemůže být Bůh. Zjistěte, kdo je vidoucí." </p>
<p>Poprvé jsem uslyšel: "Zjistěte, kdo je vidoucí."</p>
<p>Díky mistrovi jsem získal zkušenost. Zkušenost, která tu již byla. Když milujeme Boha, považujeme ho za objekt. On je však subjektem. Musíte se tedy odevzdat subjektu. Obje je ego.</p>
<p>Vnořte se do subjektu tak, že žádný objekt nezbude. Bůh bude mluvit, Bůh bude chodit, Bůh bude hledět. Spatřil jsem vidoucího. Realizoval jsem vidoucího díky svému mistrovi a padl jsem před ním do prachu.</p>
<p>Vrátil jsem se do Madrásu, abych se ujal svých povinností. O všech svátcích, sobotách a nedělích jsem se vracel do Tiruvannamalai, abych byl s ním. Bylo to tak blízko, jen čtyři hodiny. Všechno bylo skvělé - v ášramu stejně jako v úřadě. Poznání a oddanost pak pracovaly společně. Když budete vědět, budete Boha milovat. Jestliže boha milujete, jenom tehdy budete vědět. Vičára a bhakti jsou tedy jedno a totéž.</p>
<p>Nemluvím o bhakti proto, že na to lidé nejsou připraveni. V egu je srdce prodáno někomu jinému. Co se tedy má odevzdat? Co dát? Čím máte milovat, když je srdce prodáno někomu jinému?</p>
<p><strong>Svámí mi vypravoval o různých stavech samádhi a já nevěděl, co jste měl na mysli. Říkal, že nejvyšší je stav sahadža samádhi.</strong></p>
<p>Nejvyšším stavem je nv.</p>
<p><strong>Je to to, v čem prodléváte?</strong></p>
<p>(Púndža se směje a kulí oči.) Co se na to dá říct? Nejvyšším stavem je nv. Kdo dal tomuto nejvyššímu stavu jméno? Aby dal někdo někomu jméno, musí být vyšší než nejvyšší stav. Dětem dávají jména rodiče, protože se narodili dříve než ony. Aby bylo možno dát jméno nejvyššímu stavu, musel by tu být někdo vyšší než tento stav a já nevím, kdo by to mohl být.</p>
<p>Je to všechno výtvor mysli. Když neexistuje mysl, neexie žádný stav. Odstraňte všechny představy, a to bude váš vlastní stav, ať chodíte, mluvíte, jíte nebo spíte.</p>
<p>Odmítá nebo přijímá něco vítr, když vane rybím trhem, hřbitovem nebo zahradou? Tento stav beze stavu je něco podobného.</p>
<p>Na straně spoutanosti mohou stavy existovat. Vinou vazby není mysl otevřena vašemu vlastnímu Já. Mysl není plně podrobena Svrchované Síle. Potom mohou existovat stavy a stupně nevědomosti nebo spoutanosti, nikoli moudrost.</p>
<p><strong>Když zemře někdo, koho milujete, pocitujete smutek? Máte v tomto nvu emoce?</strong></p>
<p>Ano, když někdo pláče pro odešlou duši, pláčete s ním. Když lidé tančí na svatbě, tančíte s nimi. Odsud můžete dělat cokoli, protože znáte skutečnost. Jste na jevišti a dostal jste tuto roli. Jednou jste králem a jindy otrokem. Když víte, že jste zdrojem, můžete hrát roli a nebýt do ní vtažen.</p>
<p><strong>Když si tedy právě vzpomenete, kdo jste. ..</strong></p>
<p>Ne, žádné vzpomínání. Vzpomínání závisí na paměti. To není ono. Lidská bytost si nemusí pamatovat, že je lidskou bytostí. Neplete si sebe samu s oslem. Velmi dobře ví, že je lidskou bytostí, aniž by si to pamatovala. Přiveďte sám sebe k sobě samému a pamatování nebude zapotřebí.</p>
<p>Nemůžete-li to udělat sám, jděte se vší pokorou k někomu jinému, služte mu a ptejte se ho, jak se osvobodit od utrpení.</p>
<p><strong>Proč je tolik lidí v klamu?</strong></p>
<p>Protože neotevřou své oči slunci. To není vina slunce.</p>
<p><strong>Může to udělat každý?</strong></p>
<p>Všichni mohou otevřít oči. Když nyní oči zavřete, nic neuvidíte. Máte možnost je otevřít, nebo ne? Většina lidí oči neotevře, a tak nevidí. To, zda nyní otevřete oči, je vaše svobodná vůle.</p>
<p><strong>Protože jsem součástí všeho, předpokládám, že tu neexistuje žádné individuální já, že neexistuje individuální svoboda. Jen se to děje. Jsem tedy natolik svobodný, abych mohl otevřít oči?</strong></p>
<p>Jste svobodný. Svoboda vás v ničem neomezuje. Ale me vědět, že "nyní otevírám oči". Všichni si myslí, že jejich oči jsou slepé. Slepý není nikdo, jen nešťastný.</p>
<p><strong>Každý je tedy svobodný?</strong></p>
<p>Ano, ale lidé svobodu nepocitují, protože vidí zeď. Ta zeď, to jsou touhy, které všechny patří minulostí. Nemáte-li však touhy, jsou vaše oči otevřeny. Teď to zkuste a řekněte mi, co vidíte. Nedovolte ani na vteřinu, aby mezi vámi a svob stála touha a povězte mi, co vidíte.</p>
<p><strong>Není tu nic, jen prázdnota.</strong></p>
<p>To je ono. Kdo tedy nyní otevřel oči? Touha je mrakem, každá touha.</p>
<p>Nejrychlejší a nejpřímější metodou, která je určena jen pro pár velmi bystrých lidí, je dotazování. Můžete být osvícen v okamžiku. Nakonec vás k osvícení dovedou i všechny metody ostatní.</p>
<p>V případě oddanosti existuje dualitalující a božství. Nakonec se musí uctívající Bohu docela podrobit. Když to udělá, nemá už nic na práci. Už se o něj stará božství.</p>
<p>Nikdo to však neudělá. Bhakti je láska. Je to romance. Bhakti neznamená jen jít na hodinku do chrámu. Je to romance, na kterou nemůžete zapomenout ani na okamžik. Je to skutečná romance s vaším vlastním Já. Když se podre božství, je celá práce skončena. Buď se podrobte, nebo se dotazujte. Je i mnoho jiných cest, jako například jóga a tantra, ale já nevidím, že by jejich výsledkem byla svoboda.</p>
<p><strong>Když si kladu otázku "kdo jsem já?“, vypadá to jako nějaký proces nebo cvičení.</strong></p>
<p>Dobře poslouchejte. To není ono. Když si kladete tuto otázku, nevede vás nic nikam jinam. Kdybych vám říkal, abyste někam postoupil o dva kroky, mohl by to být postup. Když vám však říkám, abyste zůstal tady, kde jste, musíte zůstat zde. Je to postup?</p>
<p>Jen se dívejte, kde tato otázka vzniká. Nemyslete na to, nedělejte ani krok ven ani nikam nechoďte, ani nevyvíjejte žádnou snahu. Buďte jen vědomý. Což nejste vědomý, když si tuto otázku kladete?</p>
<p><strong>Ano.</strong></p>
<p>Nejste si předtím, než tato otázka vznikne, vědom toho, že v mysli žádná otázka neexistuje?</p>
<p><strong>Ano, ale co si je vědomo?</strong></p>
<p>Vy jste to neudělal správně. Nejste si snad vědom nějaké otázky nebo činnosti? Nejste si vědom všeho, co děláte? Když jíte, jste si vědom toho, že jíte. Když tančíte, uvědomujete si to. A když nejíte ani netančíte, nejste si snad toho vědom rovněž?</p>
<p>Toto uvědomění je vaše Já. Ať cokoli děláte nebo neděl je toto uvědomění vaší podstatou.</p>
<p><strong>Ano, to vím.</strong></p>
<p>Vy to nemáte vědět! Vědění je něco jiného. Já vás jen žádám, abyste tam byl.</p>
<p>Tomu se říká vědomí. Každá činnost nebo nečinnost, každá sádhana nebo cvičení pramení z vědomí. A jste-li si vědom vědomí, neexistuje žádný problém, ať děláte cokoli. Lidé to nevědí, a proto trpí.</p>
<p><strong>Jak je možné probudit se bez metody? Tolik lidí cvičí. . .</strong></p>
<p>Lidé, kteří nejsou připraveni pro sebedotazování, nejsou připraveni pro poslední útok. Přitahuje je jóga a ostatní cesty, které nakonec k tomuto dotazování vedou. Bez dotání svoboda neexistuje. Všechno ostatní je tedy odklád svobody.</p>
<p>Podívejte se, v každém cvičení je zahrnuta mysl. Kdykoli cvičíte, musíte sebrat mysl, aby cvičila a potřebujete k tomu nejen mysl, ale i tělo. Dotazování zasahuje samý kořen mysli.</p>
<p>Při cvičení pracujete s myslí. Říkáte si: ,Já medituji." Je to mysl, ego, které začíná meditovat. Proč a pro koho?</p>
<p>Při dotazování se mění samotný kořen mysli. Když budete říkat "já medituji", neobjeví se meditující nikdy. Vy si stanete budoucí cíl, který má být dosažen meditací. Tento budoucí cíl musí být založen na nějaké ideji z minulosti. Noříte se tedy do minulosti, a nikoli do přítomnosti. Můžete toho cíle dosáhnout, ale protože tu před cvičením není, má vám vaše cvičení poskytnout něco, co tu ještě není. Něco chybí, vy po tom prahnete a tím popíráte přítomnost, která tu již je.</p>
<p>Ať získáte cokoli, zase to ztratíte, protože to ve své podstatě není věčné. Neprahněte proto po věcech, které nejsou nyní zde. Můžete se hned zeptat: "Kdo je ten, který se chystá meditovat a co je účelem jeho meditace?" Než cokoli učiníte, musíte rozřešit problém sebe sama. Než začnete jakkoli cvičit, sedněte si v klidu a odhalte, kdo je ten, který medituje. Začínat cvičení a nevědět, kdo cvičí, vám pravdu a svobodu jako výsledek nepřinese.</p>
<p>Dotazování je pro dosažení svobody nejlepší. Při jiných cvičeních potřebujete úsilí, subjekt a objekt. Meditující se stává subjektem a svoboda je objektivizována jakožto ot. Svoboda není objekt, ale subjekt a u subjektu musíte začít. Subjekt je vždy svobodný. Proč tedy nezačít se subje, který hledá svobodu a neptat se: "Jak jsem spoután?"</p>
<p>Kde je tu jaké pouto? Možná, že je pouto představou. Vy cítíte, že jste spoután, a tedy spoután jste. A tak nastolte jinou představu. Představa "jsem svobodný" zničí předešlou představu "jsem spoután". Když jste se vypořádal s minulou představou, odpadne tato rovněž.</p>
<p>Co zbude? PRÁZDNOTA. Svoboda neznamená, že máte něco získat. Když se vyhnete všem představám a plánům, nemusíte dělat nic, protože svoboda není představou. Je rodným právem každé lidské bytosti. Toužíte-li po svobodě, je poslední inkarnace požehnaná.</p>
<p>Jinak čeká další kolo. Proč další kolo? Protože je to všechno představa a představy nikdy nekončí. Když dítě uvidí v pokoji ducha, je to pro ně opravdu duch. Dítě se hrozně bojí, ale duch ve skutečnosti neexistuje.</p>
<p><strong>Řekl jste, že každý, koho potkáváte, má smetí, a tak jsem ztratil naději.</strong></p>
<p>Já jsem vám však řekl, abyste je odhodil. Udělal jste to?</p>
<p><strong>Ne</strong></p>
<p>Pak máte pravdu, že není naděje. Samotná naděje je smetí. Očekávání, že se stanete někdy později něčím jiným, je celá hromada smetí ve vaší hlavě. Jestliže je nechcete odhodit, máte-li je rád, pak si je ponechte. Někoho, kdo tuto práci udělá, potřebujeme také. Lidi, kteří odstraňují smetí, potře každé město. Když jste smetí neodhodil, přestože jsem vám řekl, abyste to udělal, musíte asi mít tu profesi rád.</p>
<p><strong>Nemám ji rád.</strong></p>
<p>Ale řekl jste, že neexistuje naděje, nějak se smetí zbavit. Co to znamená? Máte-li rád smetí, jste smetím. Jste tím, zač se považujete. Považujete-li se za smetí, stanete se smetím. Čím jste přesně v tom okamžiku, kdy se za smetí považujete? Čím byste měl být? Když teď pomyslíte na smetí, co kolem cítíte?</p>
<p><strong>Smetí.</strong></p>
<p>Smetí, ano. Navyknete si na smetí tak, že sám budete žít na smetišti. Nebudete z něj chtít odejít. Tento projev je smetí.</p>
<p>Když dovolíte, aby vznikla myšlenka, vítáte tím smetí a musíte trpět. Tato myšlenka je smetí. Když jí dovolíte vzniknout, stane se všechno smetí projeveným utrpením a zjeví se smrt. Nedovolte, aby vznikla myšlenka a povězte mi, kde jste. Ani neposlouchejte. To se musí zažít. Zabraňte ve vzniku myšlence "jsem to a to". Nedovolte, aby vznikla myšlenka já a povězte mi, kde jste. Nemyslete, udělejte to a odpovězte mi. Kde jste teď?</p>
<p><strong>Nikde.</strong></p>
<p>Cítíte v tom "nikde" smetí?</p>
<p><strong>Ne.</strong></p>
<p>Tak zůstaňte v tom "nikde". Jaký je tu problém?</p>
<p><strong>Problém je, že nemohu objevit žádný problém. </strong></p>
<p>Jděte hlouběji a znovu mi odpovězte. Dívejte se dospod. Je to nezměřitelné. Jděte hlouběji a odpovězte mi. Nemyslete. Myšlení je smetí. Jděte hlouběji. Řekl jste, že problémem je neexistence problému. Jděte hlouběji dospod a dívejte se. </p>
<p><strong>Jsem volný. </strong></p>
<p>Jste osvobozen od problémů i od nblémů. Co jste tedy udělal, abyste byl volný? Díval jste se do sebe a co jste spatřil? Nedívejte se sem ani tam, vůbec nikam. Pak je tento pohled nledem. Takový pohled je samotným vědomím. To, kde je n a n a nikde, je samotné vědomí, z nějž všechno pramení a kde vše končí. </p>
<p>Všechno vzniká a všechno končí. A vy jste nedotčen. Tato projevení, jejich ničení a rozpouštění se vás nijak nedotýkají, nejste ani v nejmenším ovlivněn. Toto projevení je malování na prázdnotu. Můžete namalovat obraz v prostoru? Toto je obraz (nazývaný projevení) namalovaný do prázdného prou.</p>
<p>Nyní, když hledíte dovnitř, je zřejmé, že tento obraz nebyl nikdy namalován. Nikdo nikdy nemůže namalovat obraz v prázdném prostoru. Potřebujete nějakou stěnu, na kterou byste maloval, plátno nebo jinou podložku. Staňte se plá a hleďte na malbu projevení. Ve skutečnosti nikdy nic neexistovalo. Pozitivně vyjádřeno existuje jen živé prázdno. To je svrchovaná pravda a je realizována jen ztrátou "já".</p>
<p>V čem je potíž? Nesmíte nikam chodit. Prostě zůstaňte tichý a ptejte se: "Kdo jsem já? Kde jsem já? Co chci?" Odpověď dostanete okamžitě.</p>
<p>Jakmile jednou víte, nemůžete z toho uniknout. Pohybe se všude. Pohybujete se ve vědomí. Předtím byly různé úrovně, od nevědomí k vědomí. Bloudil jste.</p>
<p>Jedině vědomí je a nikdy neexistovalo nic mimo vědomí. Jakmile jste to poznal, sjednotil jste se s ním. Tam není subjekt ani objekt. Není tam zkušenost ani zakoušející. Říká se tomu osvobození od všeho. To je ten okamžik, o kterém mluvíme. Věřím, že v tomto okamžiku jste. Máte-li nějaký problém, ptejte se.</p>
<p>Chce to vstoupit přímo do zkušenosti, a ne chápat intelelně. Intelekt nabývá tvaru toho, nač myslíte a můžete jím tedy být oklamán. Každá myšlenka, kterou myslíte, se projeví.</p>
<p>Kdysi dávno jste na to myslel a nyní je to zde! Myšlenka skončí ihned, v okamžiku, kdy se rozhodnete "už ne, dost". Vejít do toho okamžiku je velké štěstí. Obrovské štěstí! Zcela vědomé je Já. Toto vše je Já. Všechna tato Já jsou uvnitř Já, jež je Já úplným, ve kterém se projevuje minulost, přítomnost a budoucnost.</p>
<p>Zbavte se všech představ, záměrů a tužeb. Dotazujte se mezi tím a oním, mezi minulostí a budoucností, tak splníte svůj slib, že se stanete lidskou bytostí a dosáhnete osvícení. Inkarnace ve tvaru lidské bytosti je požehnáním. Jediný důvod tohoto života byl splněn a vy jste volný. Jinak toto bídné utrpení neskončí. Tento oděv - lidský tvar určen pouze k získání svobody. </p>
<p>Všechno ostatní jste prožil v jiných tvarech. Prošel jste osmi miliony čtyřmi sty tisíci formami, abyste mohl usednout proti mně. Svoboda je ve vašem nitru. Láska je uvnitř vás a vy ji hledáte na trhu. Tato sansára je supermarket, kde se obchoduje se zbožím. Obraťte se k němu zády, a budete volný. Vraťte se domů. Slunce je tak veliké, mnohem větší než Země, a přece se může schovat za jediný mrak. Mraky, to jsou myšlenky. Podobně myšlenka já zakrývá Já. Myšlenka já zakrývá mír, krásu a lásku. Jak je možno odstranit mrak? Dotazujte se, a mrak zmizí, protože je neskutečný. </p>
<p><strong>Púndžadží, můžete mi pomoci? </strong></p>
<p>Dobrá, uvidíme. Byl jste patnáct let v Púně. Dostal jste to, co jste chtěl?</p>
<p><strong>Nu, získal jsem hodně. </strong></p>
<p>Řekněme, že jste se šel do restaurace pořádně najíst. Když vyjdete ven, pozve vás přítel do další restaurace. Půjdete?</p>
<p><strong>Ne, už jsem sytý.</strong></p>
<p>Tak se vás ptám: „Jste sytý? Dostal jste v Púně, co jste chtěl?"</p>
<p><strong>Ne.</strong></p>
<p>Co tedy chcete?</p>
<p><strong>Čisté vědomí.</strong></p>
<p>Velmi dobře. Jak jste se tam tedy dostal? Co uděláte, když jste v kanceláři a telefonují vám, že hoří váš dům?</p>
<p><strong>Okamžitě pojedu domů.</strong></p>
<p>Dobře. Cestou vám přítel navrhne, abyste šli spolu do restaurace. Co uděláte?</p>
<p><strong>Půjdu domů.</strong></p>
<p>Půjdete domů. Ano, dobře. A proč? Protože váš dům hoří. Musíte se o něj postarat, že? Ani byste třeba ten den nejedl, že? Mohl byste zapomenout na oběd. Zapomenete cestou i na přátele. Podobně přicházíte ke mně, abyste spatřil vědomí, je to tak?</p>
<p>Dobře. Nemyslete na budoucnost ani na minulost. Mint je hřbitov. Je to kancelář a vy spěcháte k domovu. Nemyslíte-li na minulost, nemůžete myslet ani na budout. Abyste mohl na budoucnost myslet, musíte být v mosti. Takže minulost ani budoucnost ve vaší mysli nejsou. Mysl je jen minulost a budoucnost, tak nyní nemyslete, ano?</p>
<p>Jen na pár vteřin. Chci jen pár vteřin vašeho života. Žádná myšlenka, žádná minulost ani budoucnost. Nyní mi řekněte, kdo jste. V tomto nlení jste tváří v tvář vědomí a vědomí je před vámi. Tedy mi řekněte, kdo jste.</p>
<p><strong>Jsem vědomí.</strong></p>
<p>Ano, velmi dobře. Nyní se podívejte kolem, co vidíte?</p>
<p><strong>Vidím všude prázdnotu.</strong></p>
<p>Ano, všude je prázdnota. Nyní nechte v prázdnotě vznit myšlence. Jakékoli. Odkud přichází?</p>
<p><strong>Přichází z prázdnoty.</strong></p>
<p>Velmi dobře. A co to je? </p>
<p><strong>Je to prázdné!</strong></p>
<p>Nyní nechte myšlenku klesnout zpět do prázdnoty. Co se stane?</p>
<p><strong>Je to jako bublina, která se začíná tvořit a klesá zpět. </strong></p>
<p>Ano, a co vidíte? </p>
<p><strong>Všude prázdnotu. Bez myšlenek a lidí, svět je prázdný. </strong></p>
<p>Velmi dobře. A ta realizace? </p>
<p><strong>Také prázdná</strong></p>
  <div id="book-navigation-37" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/past-kterou-kladou-smysly" class="page-previous" title="Přejít na předchozí stranu">‹ Past, kterou kladou smysly</a>
                    <a href="." class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/volba-totalni-smrti" class="page-next" title="Přejít na další stranu">Volba totální smrti ›</a>
          </div>
    
  </div>
    <%= partial '/knihy/procitni-chechtej-se/content' %>
