---
title: Meditace
date: 2010-01-23 21:38
layout: book
comments: false

---

      <p>Žádné cvičení, nic, co zabírá čas, vás nemůže vyprostit z pout. Nic, co je konáno s představou času, vás nepovede ke svobodě, jež je mimo čas. Musíte z času vyskočit. Co je čas, kromě představy "já jsem tělo"? Můžete bez této představy čas vnímat? Myslet si "já jsem to či ono", to je nadutost.</p>
<p>Abyste se zbavil svého zvyku, vycházíte prostřednictvím smyslů ven. Pro kontrolu mysli je bezpodmínečně nutná meditace. V meditaci lze zadržet mysl, která má ve zvyku stáčet se ven. Musí to být meditace bez úsilí, nejógová.</p>
<p>Jógová meditace vám může dát větší vědomí těla. Já mluvím o meditaci zaměřené na svobodu, o meditaci, kdy je pozorována mysl ve svém zdroji. Jógovou meditací lze dosáhnout klidu, ale když meditace skončí, zvyky mysli přetrvávají. Děje se tak proto, že je zaměřena na tělo, a ne na svobodu.</p>
<p>Meditací vedoucí ke svobodě je dotazování se na Já. Taková meditace uvězní všechny vnější tendence mysli. Jen pozorujte zdroj Já. Pozorujte, kde vznikají myšlenky. Bděle! Ostražitě! Bez úsilí! Najděte to. Když vzniká Já, vzniká i tělo a projevení. Toto projevení je vaší projekcí založenou na pocitu Já jsem.</p>
<p><strong>Nevím, co si mám myslet o cvičeních, o nichž jsem četl v knihách.</strong></p>
<p>Můžeme se setkat s mnoha metodami předepisovanými pro různé povahy. Každá vás učí něco určitého dělat, ať už je to fyzická, slovní nebo mentální činnost. Základem všech těchto cvičení je mentální gymnastika. Nezajímají se o zvání klidu. Tuto prostou pravdu nikdo neučí.</p>
<p>Zůstanete-li tichý, všechna náboženství selžou. Selže falešné učení. To je způsob, jak najít mír a lásku mezi lidmi. Zůstaňte tichý. Celá struktura náboženství se pak zhroutí. Náboženství vám přináší strach. Strach z pekla. Když nebe dělat to a to, přijdete do pekla. Všechna náboženství učí tomuto strachu, všechna jsou založena na strachu z pe Žádné náboženství neučí, jak zůstat tichý.</p>
<p>Zůstanete-li tichý aspoň na pár minut v průběhu celého života, možná se vám podaří dosáhnout míru. To je způsob, jak dosáhnout skutečnosti, osvobození, nirvány. Zůstaňte tichý.</p>
<p>Je to na vás. Podle svého temperamentu si lidé volí různé cesty, po kterých jdou. Jen velmi málo z nich ztichne aspoň na pět minut. Místo toho chodí do Himálaje, do chrámů, na poutě. Jen málokdo stráví doma v tichosti aspoň pět minut.</p>
<p>Učitel tedy není zapotřebí. Když učitel říká: „Jen zůstaňte tichý", jeho obchod nevzkvétá.</p>
<p>Když vám učitel řekne, že nemáte vůbec nic dělat, že máte jen zůstat tichým, k čemu pak je? Jeho obchod nepokvete, a tak vám musí říci, abyste něco dělal. Žádné náboženství nebude potvrzeno, žádné knihy nebudou vydávány. Nepte žádné učení. Jen zůstat tichý. Bez ticha není NIKDE spočinutí.</p>
<p><strong>Vzpomínám si, že jsem měl v minulosti zážitky blaha a potěšení a když teď sedím, vždycky čekám, že to bude zase takové. Nechci jen ticho. Očekávám něco víc.</strong></p>
<p>Říkám vám: neočekávejte nic! Vaše mysl způsobila projí, které po projekci běží dál. To vám nedá mír. Proto zjistěte, kde toto očekávání vzniká. Toto očekávání jste nesplnil žádným jiným způsobem. Nyní můžete strávit pár minut zkoumáním, z čeho tato naděje vzniká.</p>
<p>Místo aby vybíhala za svými smysly, je mysl uvězněna a připoutána ke svému zdroji. To, co chcete, je mír mysli, správně?</p>
<p><strong>Ano.</strong></p>
<p>Tak teď si můžete posloužit. Proč jste chodil za tolika guruy a do tolika ášramů? Měl jste z toho nějaký užitek?</p>
<p><strong>Dovedu provádět cvičení, která mi někdy dělají dobře.</strong></p>
<p>Cvičení nejsou problém. Můžete pořád sedět. Jóga tělu jistě prospívá, ale o to nejde. Je-li vaše tělo nemocné,. můžete dělat určité věci, abyste tělo zachoval: provádět určitá fyzická cvičení, můžete jíst dobrou sattvickou potravu nebo praktikovat jednoduchá jógová cvičení.</p>
<p>Jestliže však provádíte cvičení za účelem nějakého zisku, je to něco jiného. Hledání jakýchkoli sil provádí ego s mykou "já konám".</p>
<p>Jednou jsem v Himálaji potkal člověka, který ovládal mnoho sil. Dovedl levitovat (sedět ve vzduchu). Měl síly manifestace. Jeho guru mu však v okamžiku své smrti řekl: "Ukázal jsem ti všechno, co znám, ale nenašel jsem kone pravdu. Hledej tedy toho, kdo ti nejzazší pravdu může dát."</p>
<p>Netoužíte-li po ničem, dostanete vše, co existuje, aniž jste o to žádal. Musí snad král říkat, že chce nějaký dům anebo jinou věc? Patří mu celé království. To dostanete i vy. Nežte nikde nic jiného.</p>
<p>Na světě se provádí nespočet praktik, cvičení a sádhan. Různé jógy, mantry, uctívání atd. Otázkou je, co je cílem, co chcete. Různé praktiky mají různé cíle. Můžete třeba mluvit o brahma, protože věříte, že "já" znamená individuální vědomí. Brahma je však to, co je bez jakýchkoli atributů. Souhrn poznání o sobě samém, jež je bez druhého. Vůbec žádná dualita. Tomu se říká brahma.</p>
<p>Cílem je brahma bez atributů, které je mimo dosah mysli a intelektu. Odhaluje Samo sebe Sebou samým, protože je mimo mysl, intelekt a smysly i mimo dosah jakéhokoli cví. Odhaluje se samo. K tomu, abyste ve tmě něco našel, musíte mít světlo. Abyste viděl světlo, světlo nepotřebujete. Je to světlo samo. Samo sebe odhalující, samozářící. Je jedno bez druhého, protože je bez atributů.</p>
<p>Radím vám, abyste realizoval to, co je bez atributů, neprněné, věčné brahma. Cvičení mohou očišťovat nebo vám mohou poskytnout nějakou dočasnou úlevu. Jaký druh cvičení je vašemu cí1i nejblíž?</p>
<p>Těch málo lidí, kteří chtějí realizovat absolutní brahma, medituje jen o brahma bez atributů. Při meditaci o brahma bez atributů neexistuje žádný předmět meditace. Žádné soustředění na předmět z minulosti, přítomnosti nebo bcnosti. Meditujte o neposkvrněném brahma, jež není nic jiného než váš vlastní átman, váš základ, vaše vlastní pota.</p>
<p>Nejste-li bezprostředně schopen sledovat, co se tu děje, můžete ve cvičení chvíli pokračovat. Pomalu uvidíte, že ten, kdo medituje a to, o čem medituje, mizí.</p>
<p>Když už si chcete něco myslet, proč si myslíte "já jsem tělo", nebo něco, co není trvalé? Když už chcete mít myšle když bez ní nedovedete být, proč nemyslíte "já jsem brahma"? Když už chcete cvičit, pak je myšlenka "já jsem brahma" nejvhodnějším cvičením. Je to cvičení, které je nejblíž vašemu cíli. Každý ášram, každé centrum vám pone nějaké léčení nebo vám uloží nějaké cvičení, abyste byl zaměstnán. Proč? Protože tu nikdo nerealizoval pravdu, aby vám řekl: ,Jen zůstaňte tichý."</p>
<p>Kdyby vám říkali, abyste byl tichý, k čemu by tu ášramy a centra byly? Komerčně by zkrachovaly. Co může být lepším učitelem nebo lepším učením, než "buďte tichý"? To je učení mého mistra.</p>
<p>Kdo jiný mohl v tomto století dát toto poučení ? Je jediným učitelem tohoto století, který mohl říci "zůstaňte tichý". Zůstat tichý je jediný způsob, jak uniknout z koloběhu utrpení. Cvičení, rituály, mantry nebo provádění jógy jsou velmi dobré, protože něco v tomto směru je lepší než být ztracen ve světě. Někteří z vás již Pravdu přímo zakusili, jiní chtějí další objasnění a někteří nechápou, co se tu děje. Dovolte, abych to vysvětlil. Každé cvičení, které provádíte, je zaměřeno na určité centrum. Tělesné cvičení působí na tělo. Dechovými cvičeními jsou pránájáma, kundaliní, krija a tak dále. Rádžajóga a intelektuální cvičení jsou zaměřena na centrum mentální.</p>
<p>Protože vaší podstatou je vždy vědomí, neexistuje nikdy doba, kdy by nebylo vědomí přítomno. Když jste v bdělém stavu a jste zapojen do světských nebo duchovních činností, jste si vždy velmi dobře vědom toho, co děláte. I ve snovém stavu si uvědomujete snícího a sen. Někdy se probudíte k dalšímu bdění a uvědomujete si, o čem jste snil. Jste si vědom i radosti, kterou jste prožíval v bezesném spánku.</p>
<p>Když odmítnete ostatní stavyění, snění a spánektane mysl v pokoji, v míru. V tomto míru jste velmi vědomý!</p>
<p>Toto vědomí je přítomno ve všech stavech. Vědomí je základem, pramenem, zdrojem. Žádné slovo nedokáže vřit, co to je. Nemůžete ani popřít, že vědomí existuje vždy. Vědomí je existence sama! Samotné blaho! To nelze popřít.</p>
<p>Vidíme-li zralost lidí, kteří jsou nyní zde na satsangu, můžeme o těch věcech mluvit a oni je mohou dosáhnout. Někteří z vás to zažili a o své zkušenosti hovořili. To mi přináší velikou radost.</p>
<p><strong>Já takto svět nezažívám. Zdá se, že existují období, kdy si nejsem jist, že jsem vědorný.</strong></p>
<p>Popíráte tedy vědomí, ano? </p>
<p><strong>Správně.</strong></p>
<p>Nejste si toho popírání vědom? Vypadá to tak. (Smích)</p>
<p><strong>Při své buddhistické meditační praxi jsem dvacet let zko sebe sama.</strong></p>
<p>To je zkoumání, které právě provádíme. Zkoumejte. Jděte do nitra!</p>
<p>Co jste těch dvacet let dělal?</p>
<p><strong>Hleděl jsem dovnitř a viděl jsem. prázdnotu "já" a jevů. Mám pocit, že jsem mnoho získal. Ne "já“; ale mám pocit, jako by došlo k pochopení.</strong></p>
<p>To pochopení bylo vypůjčené. Slovo prázdnota, které používáte, je plné egoismu, není skutečnou prázdnotou. Je to jen vypůjčený pojem. Prázdnota, o které mluvíme my, není prázdnotou. Prázdnota s tím nemá nic společného. Nechte slovo prázdnota být. Kde jste se mu naučil? Někde jste je slyšel. Patří minulosti a nemá nic společného s tím, o čem mluvíme.</p>
<p>Slovo prázdnota poukazuje na něco jiného, tak jako prst ukazující k měsíci. Abyste viděl měsíc, musíte odmítnout prst. Odmítněte slovo prázdnota, chcete-li se dostat za ni. Je to prst, ukazující na něco, čemu nedávám žádné jméno.</p>
<p><strong>To jsem tedy těch dvacet let ztratil, že?</strong></p>
<p>Těch dvacet let vás přivedlo sem. Nejen dvacet let, ale třicet pět milionů let.</p>
<p>Ve skutečnosti však čas neexistuje, nikdy neexistoval. To je zkušenost. To je nejzazší zkušenost. Čas je podvod mysli. Dotknete se slova "já" a čas vznikne: minulost, přítomnost a budoucnost. Tato Pravda je nevyslovitelná.</p>
<p><strong>Když medituji, cítím potřebu kontaktu s lidmi. Co bych měl dělat?</strong></p>
<p>Když meditujete, tak meditujte. Když jste mezi lidmi, tak buďte s nimi.</p>
<p><strong>Ne. Když medituji, nejde mi to, protože se bojím, že budu sám.</strong></p>
<p>Tato osamělost je začátkem meditace. Před osamělostí meditace neexistuje, protože se držíte něčeho jiného. Vaše meditace začne, až když nebude nic jiného existovat.</p>
<p>Abyste měl strach, musí tu být idea něčeho jiného. Strach přichází až tehdy, kdy se objeví něco druhého, nikoli pře. Můžete mít strach, než začnete s meditací. Strach z toho, že opouštíte všechno ostatní nebo strach z nepoznaného, které je před vámi. Ještě nikdy jste tímto způsobem do meditace nevstoupil.</p>
<p>Meditace je láska k vašemu vlastnímu Já. K nikomu ju.</p>
<p><strong>Co je to meditace?</strong></p>
<p>Meditace je soustředění na samotné vědomí, které tu vždy bylo. Nejste snad vědomý, když meditujete? Když jste ve své duši, musíte být vědomý. Být si vědom tohoto vědomí je meditace. Toto uvědomění vám odhalí pravdu. Buďte stále vědomý a Vědomí samo vám odhalí pravdu. Tomu se říká meditace. Čeho byste se bál? Uvědomování je meditací o Pravdě. Meditací je uvědomělé meditování o Sobě samém, a ne o nějakém předmětu.</p>
<p><strong>Když medituji, přicházejí myšlenky, aby mne rušily. Co mám dělat ?</strong></p>
<p>Dejme tomu, že teď meditujete. Sdělte mi svou myšlenku. </p>
<p><strong>Byl to obraz.</strong></p>
<p>Obraz je myšlenka. O čem jste přemýšlel? </p>
<p><strong>Myslel jsem na svého mistra.</strong></p>
<p>Myslete na svého mistra dál. Nyní tuto myšlenku nahraďte jinou. Podívejte se, co je za myšlenku, která přišla.</p>
<p><strong>Myslel jsem na své rodiče.</strong></p>
<p>Dobře. A co jste udělal s myšlenkou na svého mistra? </p>
<p><strong>Je stále ještě někde v mé mysli.</strong></p>
<p>Ne někde. Mysl je myšlenka. Není v tom rozdíl. Když zmizela myšlenka na mistra, objevila se myšlenka na rodiče. Podržte myšlenku na své rodiče. Držte ji pevně. Hledejte další, důležitější myšlenku, dominantní myšlenku. Mistr od. Dobře. Nyní odstraňte rodiče. Co tam je?</p>
<p><strong>Má sestra.</strong></p>
<p>Dobře. Ulpěte pevně na myšlence na svou sestru a řekněte mi další myšlenku.</p>
<p><strong>Dítě mé sestry.</strong></p>
<p>O.K., podívejte se. Mistra jste odmítl. Ať jde do pekla, o nic nejde. Pak rodiče... odmítnuti. Stále udržujete v mysli to nejlepší, to, co nejvíc milujete. Rodiče nahradili mistra. Jsou vám dražší než on.</p>
<p>Když uzavřete sňatek, zapomenete na své rodiče. Zapete všechno pro lásku ke svému partnerovi. </p>
<p>V mysli může být vždy jen jedna myšlenka. Naše myšlenky se vždy týkají toho, co nejvíc milujem&gt; </p>
<p>Jak jste ztratil myšlenku na svého mistra? Mistr musí být někdo, kdo vám dá mír mysli, osvobození od pout, kdo vám poskytne úlevu ve vašem trápení. Když jste se vzdal myšlenky na rodiče, pak na sestru a potom na dítě, je to rozrušování mysli. Než se stanete lidskou bytostí, musíte nejprve projít miliony druhů. Máme možnost volby, kterou snad ostatní druhy nemají. Je to volba mezi dovršením a odmítnutím. To je volba, kterou jste učinil, když jste šel ke svému mistrovi. Šel jste si k němu pro svobodu. Jak jste toto mohl odmítnout kvůli svým rodičům a sestře?</p>
<p><strong>Nešel jsem si k mistrovi pro svobodu.</strong></p>
<p>Pro co tedy, pro hudbu? Jestliže jste si nepřišel pro svobodu, zamítl jste svého mistra právě z toho důvodu.</p>
<p>Co míníte slovem mistr a jaké je tedy vaše přání ?</p>
<p><strong>Chci osvícení. Chci být blíže Bohu.</strong></p>
<p>Když budete blíž Bohu, bude to oproštění se od utrpení, osvobození od běhu světa. Přišel jste k mistrovi, aby vás naučil být blíže Bohu, že ano ?</p>
<p><strong>Ano</strong></p>
<p>Nu, to je velmi dobrá myšlenka. S touto myšlenkou oněte všechny ostatní myšlenky a vztahy. Přicházíte k učiteli, aby vám řekl, jak se dostat blíže k Bohu. Nyní jste našel učitele, který vás Bohu představí. Místo, abyste se držel této myšlenky, nahradil jste myšlenku na mistra, ktery vám umožní dostat se blíže k Bohu, myšlenkou naenou.</p>
<p><strong>Nadřazenou?</strong></p>
<p>Ovšem. Jen tak může být předchozí myšlenka nahrazena. Vybral jste si myslet na nadřazenou, pro vás přitažlivější věc.</p>
<p><strong>Žádná nadřazená myšlenka neexistuje.</strong></p>
<p>Pak se tedy držte této myšlenky. Nyní, když ji držíte, hledejte jinou, kterou byste ji nahradil. Buďte opatrný. Je to velmi důležitá myšlenka. To je důvod, proč jste sem přišel. Když ji nahradíte jinou, odcházíte od Boha. Žádná další možnost tu není. Volte tedy.</p>
<p><strong>Nemohu myslet jinou myšlenku.</strong></p>
<p>Velmi dobře. Nemůžete. Jestliže existuje něco, co je této myšlence nadřazeno, nechte ji odejít. Když tuto příležitost promeškáte, promeškáte tu nejdůležitější myšlenku tohoto lidského života. Požehnaný člověk, který dal této myšlence vzniknout. Jiné myšlenky se vás nemohou dotknout.</p>
<p>(Dlouhé ticho) O.K. Uplynulo deset minut. Našel jste nějakou jinou, důležitější myšlenku, kterou byste mohl tuto myšlenku nahradit?</p>
<p><strong>Ne.</strong></p>
<p>Dokud se této myšlenky nevzdáte, nemůže jiná přijít. Nic se nemůže dotknout pravdivé myšlenky "chci být volný". Jinak začnete myslet na rodiče... i krávy mají rodiče, sestry a děti.</p>
<p>Jak tedy dosáhnout úspěchu? Jdete snad do karbanického brlohu, když chcete studovat medicínu? Můžete se takovýmto způsobem stát doktorem? Pečlivě zjistěte, co chcete a zňte u toho.</p>
<p>Já jsem odmítl své rodiče. Odmítl jsem svou rodinu. Šel jsem k svému mistrovi. Nic nemohlo překonat myšlenku "chci být volný". Nic mne nemohlo odtrhnout od mého mistra. Myšlenku na Boha jsem měl v hlavě čtyřiadvacet hodin denně.</p>
<p>Abyste našel trvalou radost, musíte hledat správným sm. Nenajdete ji v žádném vnějším objektu. Každý předmět vzniká, trvá a pomíjí. Trvalou, věčnou radost musíte hledat někde jinde. Nepřisuzujte radost něčemu jinému, ať je to člověk, slunce, měsíc nebo hvězdy.</p>
<p>Zastavte svou tendenci vybíhat za vnějšími objekty, ať jsou jakékoli. Zabraňte své mysli stáčet se směrem ven. Potom se musíte vrátit ke své vnitřní kráse. To je vaše skutečná podstata: věčné blaho, jaké jste dosud nepocítil.</p>
<p>Můžete mít potěšení, můžete se dívat ven; ale nemyslete si, že přilnutím k vnější kráse nebo vnějšímu štěstí byl někdy někdo uspokojen.</p>
<p>Nemařte tedy svůj život vnějšími věcmi. Zastavte svou mysl a zabraňte jí v její tendenci stáčet se ven, která trvala miliony let.</p>
<p>A nyní je čas. Jste zde. Musíte zastavit všechny minulé tendence mysli vyplouvat ven. Pak ji nasměrujte na své Já. Musí existovat Já, které slunci, hvězdám a celému světu přisuzuje krásu. Zjistěte, kdo je toto Já, které je nekonečným rezervoárem krásy, lásky a štěstí, jejž jste tak dlouho pádal.</p>
<p>Mysl vždy běží za okamžitými potěšeními a bez konce přeskakuje stále za dalšími. Chcete-li to vůbec jednou ukončit, pak ji zastavte a nasměrujte do jejího zdroje. Pak poznáte krásu této nádrže. Pak se do ní vaše mysl ponoří a rozpustí se jednou provždy.</p>
<p>Mysl je tak zrádná a vy jste jí nechal příliš dlouhý provaz. Není to tedy její vina. Jednoho dne se budete muset rozhot, a ten čas nyní nastal. Jste tu kvůli satsangu. Musíte najít věčný mír. K tomu není třeba usilovného cvičení. Musí to být to, co tu na vás v tomto okamžiku již čeká. Tento okamžik stačí.</p>
<p><strong>Byl jsem tu tří týdny a vy jste mne osvobodil od bídy mé nadutosti. Pak jsem šel do Púnu a pět neděl prováděl tantry. Nyní jsem zmatený. Velmi často jsem se hněval, ubližoval, žárlil, zuřil a byl připoután k nadějím týkajícím se mé příteě. Tyto naděje se však ani zdaleka nesplnily. Nyní se cítím být otřesen.</strong></p>
<p>Takže? Co chcete?</p>
<p><strong>Co mám dělat s emocemi, když přijdou? Něco ve mně chce bojovat. Jak to mám zastavit ? Jen dotazovánírn "kdo jsem já?"</strong></p>
<p>Jak to máte zastavit? Přišel jste sem proto, abyste to zastavil. Tady neexistuje žádné léčení. Každý, kdo říká "dělejte to nebo ono", je řezník, ne vůdce. Žádný skutečný učitel vám neřekne "dělejte to nebo ono". Chápete?</p>
<p>Osoba, která vám říká "dost, už jste toho udělal dost, nyní buďte tichý", to je osoba, která s vámi zůstává jen chvilku. Ostatně do léčby je zahrnut každý, a to je vaše karma.</p>
<p>Proč nejste tichý? Léčba se provádí myslí, že ano? Tělo, pocity a mysl. Můžete provádět nějakou léčbu bez mysli a bez těla?</p>
<p>Tady nepotřebujete ani jedno. Aspoň jedinou minutu nepoužívejte svou mysl nebo tělo a zažijete věčný mír. Zůstaňte na okamžik tichý a uvidíte, co nastane.</p>
<p><strong>Zdá se mi, že jsem Bytí zažíval víc se zavřenýma očima. Jsem zvědavý na doporučované meditační techniky.</strong></p>
<p>Mluvíte o Bytí a mluvíte o technikách. Jeden plave v řece a druhý je ve vašem pokoji s knihou, která poučuje o plav Ležet v posteli a číst si o tom, jak se máte potápět v řece, to je technika Bytí.</p>
<p><strong>Ano, ale existují různé způsoby, jak do řeky vstoupit: po hlavě, po nohou, nebo do ní skočit.</strong></p>
<p>Skočit do ní, to je to, o čem mluvím. Skočit do ní, to znamená přímo se obrátit k sobě. Knížku zahoďte! V řece nepotřebujete číst žádnou knížku. Máte-li se naučit plavat, vstupte do řeky. Neležte v posteli. Tam řeku nenajdete. Dokud k ní nepřijdete, technika vás plavat nenaučí. Vstupte do řeky. Vstupte do samotného Bytí a vzdejte se všech technik.</p>
<p><strong>Zdá se však, že záleží na tom, zda mám oči otevřené, nebo zavřené.</strong></p>
<p>Záleží slunci na tom, zda je použito stínidlo? Slepci mají oči zavřené neustále. A dívají se dovnitř? Oči s tím nemají nic společného. Oči jsou určeny k vidění, a ne k Bytí. Nepotřete žádné oči, uši, jazyk, nos ani dotek. Vy už jste TO.</p>
<p>Mysl vás těmito okny vytáhla ven. Ale vy jste samotné TO, a tak se tedy nemusíte starat o to, zda jsou okna otevřená nebo zavřená. Odstraňte ze svých očí prach, a jestli pak budou otevřené nebo zavřené, je úplně jedno. Nejdřív však odstraňte prach. Co je to, ten prach v očích, přes který není Bytí vidět? Tím prachem je myšlenka. Zabraňte, aby vznikla. Když vznikne, je na očích, uších, v nose... a vy neslyšíte hudbu, necítíte vůni. Nevidíte své vlastní vnitřní světlo.</p>
<p>A když své vlastní světlo nevidíte, spatříte jiné věci: odrazy. Neslyšíte-li svou vlastní hudbu, jste přitahován k vnějším zvukům. Proč nečicháte svou vlastní vůni? Cítil jste vůni svého vlastního lotosu? Když přestanete cítit balast myšlenek, budete přitahován svým vlastním tisíciplátkovým lotosem. Je v nitru všech.</p>
<p>Když vidíte své vlastní Bytí, spatřujete krásu, lásku a nkvrněnou věčnost. Neopustíte ji. Neopustíte Bytí. Myšlenky vás nutí stávat se: Jsem to či ono. Když se všeho toho prachu zbavíte, budou vaše oči velmi jasné. Vaše uši uslyší hudbu.</p>
<p>Vaše mysl bude krásná jako nejdůvěrnější přítel. Vezme vás tam, odkud sama přichází a uvede vás do té slávy. Musíte své mysli využít co nejlépe. Čistá mysl však není zaprášená. Prachem mysli jsou touhy. Když udržíte touhy vně mysli, nebude rozdíl mezi ní, átmanem, Já nebo věd. Taková mysl je nl.</p>
<p>Mysl poskvrňuje jen touha. Zbavte se tužeb a aspoň pár okamžiků se dívejte, co to je. Svlékněte ze sebe všechny touhy a ponořte se do věčné Gangy. Vykoupejte se v čistotě, zcela zbaven oděvu tužeb a potom vyjděte, oblékněte se a svobodně choďte v tomto projevení. Dělejte, co je vám libo. Žádné násilí. Musíte se rozhodnout, co chcete: štěstí, nebo utrpení. Volte. Věčnost, nebo zničení. Nenávist, nebo lásku. Volte. O.K.?</p>
<p><strong>Je osvobození od myšlenek skutečně osvobozením od ega?</strong></p>
<p>Ano! Ego neexistuje. Je to jen představa, kterou jste přejal od někoho jiného. Když se narodí dítě, žádné ego nemá. Je velmi šťastné a na každého se směje. Ego je představa minulosti.</p>
<p><strong>Je v nlence ego latentní? V okamžiku, když nastane nlení, přichází blaho a pak ego znovu vzniká. Ego je tedy latentní.</strong></p>
<p>V tom zvláštním případě, když vstupujete do stavu bez myšlenek (z ega do stavu bez ega), vyvíjíte úsilí. Abyste dosáhl stavu bez ega, přivázal jste se svým úsilím k provazu, k egu. Tento provaz, ego, vás potáhne zpět.</p>
<p>Nevažte se tedy. Žádné úsilí a žádný provaz. Pak vstupte do této bezúsilnosti. Je už tady! Není vstupování ani vychí! Vcházení a vycházení je minulost a budoucnost. Proto vám říkám, abyste zlomili toto pouto mezi minulostí a bcností. A jak vyjdete ven? Všechno je Pravda. Kdo vás zavolá zpět?</p>
<p>Žádné ego neexistuje. Ego na vás uvalil někdo jiný. Vaši rodiče, společnost, církev. To je vše. Žádné ego neexistuje. Volnost od ega, svoboda je vaším rodným právem. Je to vaše dědictví. Proto je hledáte. Vše, co děláte, děláte kvůli svému štěstí, klidu mysli a lásce.</p>
<p>A předevšíme jste tuto představu vůbec vzal? Jednou jste ochutnal štěstí a chcete je znovu. Hledáte je však tam, kde není: v předmětech, ve smyslových potěšeních.</p>
<p><strong>Provádím jógu a kontrolu dechu spolu s meditací, abych dosáhl prázdnoty, ale vždy se vracím.</strong></p>
<p>Když člověk vstupuje do meditace, vždycky nejdřív uváže provaz "budu hodinu sedět a meditovat a pak půjdu do kanceláře". Takový člověk hledí na čas. Meditace je dhjána a dhjána nastává tehdy, neexistuje-li mysl. To je meditace. Když meditujete, neměl by existovat meditující ani nic, o čem by meditoval. To je meditace.</p>
<p><strong>Potom však neexistuje vědomí těla.</strong></p>
<p>Potom neexistuje ego. Stav bez ega je vaše podstata. Je tam všechno, je tam vesmír a vy jste dokonalý. Nic nepotřete. Je to bez hranic. Nemůžete přejít žádnou hranici do cizí země. Kamkoli jdete, je před vámi, za vámi i po stranách prázdnota. To je moudrost.</p>
<p><strong>Jestliže ego uváže provaz a já připustím "ano, provaz je uvázán `; není k jeho odvázání třeba nějakého úsilí?</strong></p>
<p>I sedět znamená vyvíjet úsilí. Stát představuje také úsilí.</p>
<p><strong>Nějaké úsilí je tu tedy vždy.</strong></p>
<p>Nějaké úsilí je tu vždy. Když se ovšem s těmito takzvanými úsilími nespojíte, neulpíte na nich, dospějete k něčemu, co je odhaleno bezúsilností. Úsilí, to jsou jen představy a vjemy.</p>
<p><strong>Může mít ze sádhany prospěch každý?</strong></p>
<p>Sádhana nevede ke svobodě, ale odstraňuje vaše staré zvyky. Když provádíte svou sádhanu, stojí svoboda před vámi a směje se vám. Staré tendence, které jste nasbíral, jsou imaginární zdí. Tou zdí je myšlenka "jsem spoutaný a trpím".</p>
<p><strong>Každý, koho znám, se zabývá nějakým druhem duchoh cvičení, ať už je to vipašjarza nebo zen nebo psychoterapie, aby se přiblížil probuzení. Má to nějakou cenu?</strong></p>
<p>Žádnou. Ti lidé maří čas, protože nemají nic jiného na práci. Nechali se vtáhnout do sebeklamu.</p>
<p><strong>Ale tolik náboženství, tolik učení a cvičení, tak mnoho cest. . .</strong></p>
<p>To vše je destruktivní. Jaký je výsledek? Co je prvním výsledkem náboženství ? Destrukce na základě náboženství. Taková destrukce, že se počet zabitých lidí rovná světové populaci, a ono stále trvá. A koho osvítilo nějaké cvičení ? To bych rád věděl!</p>
<p><strong>No, je to vzácné...</strong></p>
<p>Jmenujte mi kohokoli. Když jste tu otázku položil, tedy mi řekněte: existuje někdo, kdo byl cvičením osvobozen?</p>
<p><strong>Znám pár lidí, kteří prostřednictvím cvičení dosáhli určité úrovně probuzení.</strong></p>
<p>Jmenujte kohokoli od počátku této planety.</p>
<p><strong>Buddha.</strong></p>
<p>Ano. Chodil od učitele k učiteli a nikde nebyl uspokojen.</p>
<p>Poté, co se setkal s mnoha sektami a učiteli, řekl: "To není ono, a proto to provedu sám."</p>
<p>Pak se posadil sám. Seděl sám v meditaci pod stromem Bódhi. Něco se stalo.</p>
<p>Nikdo neví, co to bylo. Ánanda byl první člověk, který přišel do jeho blízkosti. "Co se stalo, mistře? Co jste zažil, co cítíte?"</p>
<p>Kdyby byl něco dostal, mohlo se stát, že by všechno opustil, aby dosáhl svobody. Svoboda nemůže být výsle nějakého úsilí, protože by pak závisela na něčem jiném, a to není pravda. Pravda září sama o Sobě. Nepotřebuje nic jiného k tomu, aby byla poznána. Diamant nepotřebuje k tomu, aby byl diamantem, nikoho jiného. Něco se stane pouze tehdy, když se zbavíte tohoto úsilí.</p>
<p><strong>Azzo, ale diamant je hrubý a aby byl krásný, musí být opracován. O duchovní praxi se dá říci, že hrubou lidskou bytost zjemňuje do té míry, že jí projde zářící světlo. Buddha meditoval a také lidé sedí a meditují, aby byli osvíceni.</strong></p>
<p>On realizoval své Já. Svobodou je realizace, a ta je již zde. Kdyby prováděl nějaká cvičení, bylo by to zamítání představy úsilí, představy, že pro osvobození je úsilí zapotřebí.</p>
<p><strong>Osho řekl, že cvičil a cvičil a pak toho nechal. Nebylo tam žádné úsilí.</strong></p>
<p>Cvičením je odstraňování zvyku cvičit a potom lze realat, že svoboda už tu je. To, co tu právě teď je, nevyžaduje cvičení. Jen se podívejte, co je tu za překážky. Co je to, ta zeď ? Je to vaše představa, že nejste svobodný. Když vyvinete snahu, abyste se osvobodil, uznáváte tím, že svobodný nejste a odtud začínáte. Co se stane, když se představy "nejsem svobodný" zbavíte? Tato představa je vaším vlastním výtvorem.</p>
<p>Kde se bere samotný záměr "chci být svobodný"? Nedělejte nic, jen se dívejte, kde tento záměr vzniká. Přichází odtud, kde se vás snaží zmocnit? Kde vzniká představa "jsem spoutaný"?</p>
<p><strong>Z vědomí.</strong></p>
<p>Ano, velmi dobře. Z vědomí. Nyní vzniká myšlenka "chci být volný" a někdo navrhne nějaké cvičení. Kam vás dove když bylo úspěšné? Čím toto cvičení konči ?</p>
<p><strong>Svobodou. </strong></p>
<p>Jaký je tedy rozdíl mezi vědomím, které existovalo před vyvinutím úsilí a svobodou po cvičení? </p>
<p><strong>Je to totéž.</strong></p>
<p>Takže jde o vzdálenost mezi dvěma stejnými věcmi. Jak daleko musíte cestovat?</p>
<p><strong>Je to cvičení, které vede k návratu na totéž místo.</strong></p>
<p>Takže, kdybyste to věděl dřív?</p>
  <div id="book-navigation-37" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/povaha-ja" class="page-previous" title="Přejít na předchozí stranu">‹ Povaha Já</a>
                    <a href="." class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/postata-mysli-vasan" class="page-next" title="Přejít na další stranu">Postata mysli a vásan ›</a>
          </div>

  </div>

<%= partial '/knihy/procitni-chechtej-se/content' %>
