---
title: Past, kterou kladou smysly
date: 2010-01-23 21:51
layout: book
comments: false

---

      <p>Každý chce být svobodný. Co je jedinou překážkou mezi vámi a svobodou? Toužení. Touha nebo očekávání něčeho, co je pomíjivé.</p>
<p>Vy máte toto toužení rád. Máte tedy rád tento projev a jeho konstrukce. Avšak toužení po tom, co není trvalé, vede k utrpení, stáří a smrti.</p>
<p>Na toužení po smyslových potěšeních se podílí každý, nikomu nedají pokoj. Nikdo, ať je to král, příslušník střední vrstvy nebo chudák, není šťasten. Všichni se štvou za tím, co se objevuje a zase mizí.</p>
<p>Toužení po neskutečném vás odvádí od věčné skutečnosti. Bohové mají vše, a přece nejsou šťastní.</p>
<p>Vždy jste měl své vnitřní světlo, ale neobrátil jste se k němu. Místo toho jste hleděl na světla zářící na vnějších objektech. Když jste hledal světlo, honil jste se za těmito objekty. Ve skutečnosti ale spatřujete jen reflexe vnitřního světla. Hledáte uspokojení u předmětů, jež zachytily odlesk vašeho vnitřního světla.</p>
<p>Lovíte venku. Tomu se říká toužení.</p>
<p>Když učiníte rozhodnutí: "Dost! Musím být volný", pak přestanou tendence mysli stáčet se ven a upínat se při hledání štěstí na předměty. Stane se nlí. Mysl je myslí jen když plní svá přání. Když po něčem toužíte, když po něčem prahnete, když cosi očekáváte, pak existuje mysl a plní svoji funkci.</p>
<p>Zastavte to, a je klid a ticho. V této tichosti ji nemůžete nazvat myslí. Tak jako když přehradíte plynoucí řeku. Energie pak nebude zmařena. Jakmile postavíte hráz, tok se zastaví. Mysl je pak tichá. V tomto tichu nebude řeka řekou. Už ji nemůžete nazývat řekou, je to nádrž.</p>
<p>Tato nezčeřená nádrž je totožná s vaším vlastním světlem. To světlo je uvnitř vaší mysli.</p>
<p>Mysl teď není myslí. Žádná mysl, žádné prahnutí, žádné očekávání, touhy, dojmy ani ideje.</p>
<p>Je dobré ji zastavit. Pak uvidíte, že jste našel drahokam, který jste hledal. Budete tím plně uspokojen. Nic víc nebe očekávat, protože to je čitdharma, naplnění všech tužeb. Čitdharma znamená, že sotvaže na něco pomyslíte, stane se to. Čitdharma je drahokam, který září svým vlastním třpytem.</p>
<p><strong>Jak jej uchovat?</strong></p>
<p>Je to drahokam. Když jej máte, máte vše. Jak byste jej mohl ztratit? Ztratíte jej jen tehdy, když se budete bát, že jej ztratíte a budete ho chtít podržet.</p>
<p>Vy jste ho však neztratil. Jak byste mohl ztratit tento drahokam, který jeřícíryt ve vás?</p>
<p>Září svým vlastním třpytem. Protože je vaše pozornost upoutána jinde, odráží se na předmětech a tento odraz na předmětech vás přitahuje. Toto přitahování není moudrostí.</p>
<p>Zjistěte místo toho, odkud tato krása, tento třpyt, tento odraz přichází. Proč tam nejít? Odvrátíte svou tvář od přeu, který odraz zachytil a ukázal. Půjdete na druhý břeh, z nějž tento třpyt vychází. Tam uvidíte, že tato záře tu vždy byla a že je vaše. Jste to vy sám. Jak byste to mohl ztratit?</p>
<p>Vnořte se do světla, a jste světlem. Jste drahokamem. Jak byste mohl ztratit své vlastní Já?</p>
<p>Všechnoálovství, světy, příbuzenství - lze ztratit a také to bude ztraceno. Jednoho dne ztratíte i své tělo. Na co se můžete spolehnout, když to nemůže být vaše tělo ani mysl?</p>
<p>Proto si trpělivě a moudře dopřejte čas a uvažujte o tom. "Daly mi věci, které dosud vlastním, všechen můj majetek a všechny vztahy mír mysli?" Myslím, že nikdo nemůže říci, že ano.</p>
<p>Všichni ztrácejí každý okamžik. Stále umírají miliony lidí a miliony přijímají zrod. To pokračuje každou minutu. Dnes jsem tu, ale zítra tu být nemusím. Náš dech nás může každým okamžikem opustit.</p>
<p>Opravdovou moudrostí je proto touha najít drahokam a prohlásit: "Najdu jej dnes a bez prodlení!" Pak uvidíte, že jej ani hledat nemusíte. Má svůj vlastní třpyt a vy si na to nemusíte brát lampu. Září svým vlastním světlem. Musíte k němu jen obrátit tvář, pozornost.</p>
<p>Jas tu je, ale vaše oči nejsou čisté. Nemůžete ho zde, ve vodě řečiště vidět. Nemůžete ho vidět, protože máte v očích prach. Tím prachem je touha.</p>
<p>Odstraňte prach, touhu, prahnutí, odstraňte toto očekáv Co spatříte, když prach touhy a očekávání odstraníte?</p>
<p><strong>Prázdnotu.</strong></p>
<p>Prázdnotu! (Směje se.) Tam, kde je prach, je projev, nekončící zármutek a utrpení. Okamžitě odstraňte ten prach a pět minut se dívejte.</p>
<p>Učiňte toto rozhodnutí: "V průběhu tohoto celého cyklu života věnuji pět minut na to, abych ze svých očí odstranil prach." A pak se dívejte! Spatříte před sebou svou vlastní tvář! Svarúpa. To se jmenuje daršana. Vaše vlastní svarúpa.</p>
<p>Nikdo nevidí. Všichni spatřují jiné tváře, ne své vlastní! S prachem v očích uvidíte jen odlišnost. Žádný prach, žádná odlišnost. Jen vaše vlastní Já, váš vlastní odraz. Nikdo jiný. Žádný cizinec.</p>
<p>Tomu se říká odstranění prachu. Za prvé: "Já jsem toto a on je tamto." To je prach. Když je prach odstraněn, neexistuje žádné vy, ani já, ani ona. Zbavte se prahnutí, očekávání a touhy. Nic neztratíte. Jděte hned a spatřete své Já. Spatřete svobodu, vědomí. Později se uvidí, co jsme udělali. Jděte hned teď a pohleďte na své Já. </p>
<p>Jestli potom budete potřebovat nějaké cvičení, provádějte je. Jestliže jste předtím, než jste uviděl, upadl do pasti nějakého cvičení, potom Já neuvidíte. Místo toho zůstanete zde a budete tak přitahován k tomu, co děláte, že řeknete: "To je všechno", a zapomenete dál hledat své vlastní Já. </p>
<p>Zapomeňte na všechno! Zapomeňte na všechny souvislosti. Zapomeňte na svobodu i na pouta. Mezi vámi a vědomím není žádná zeď. Je to jen vaše hra, protože vy nechcete pokročit dál. </p>
<p>Přišel jste si sem pro svobodu a pro nic jiného. Mějte svobodu stále na mysli.</p>
<p><strong>Neměl bych se vzdát žen a být volný? </strong></p>
<p>Byla to žena, kdo vám dal zrod. Vaše vlastní matka. Rodinný život nemá se svobodou nic společného. Je to úplně jiná záležitost. Pokud jsem zjistil, neprospěl nikomu ani odchod do kláštera.</p>
<p><strong>Já se však miluji s jinými ženami, ne s manželkou.</strong></p>
<p>Pak jste její problém. Jestliže vyhledáváte jinou ženu a pro vaši manželku to problém není a jestliže ona dělá totéž a není to problém pro vás... když jste tak dohodnuti, není to problém.</p>
<p><strong>Dobře, ale ona s tím nesouhlasí.</strong></p>
<p>To je to, co říkám. Vy jste její problém. Říkáte, že jste svámí. Co to znamená? Svámí je ten, kdo se vzdal všech tužeb zde i jinde to velmi důstojné jméno. Jestliže jste svámí, měl byste se náležitě chovat. </p>
<p>Štěstím není splňování touhy po nějaké věci, jako je například sex. Štěstí existuje jen tehdy, když tato touha pomine. Oproštění se od tužeb vám dá štěstí. Kdykoli vznikne touha, podívejte se dovnitř, odkud pramení. Když touha zmizí, zažijete bezmezné štěstí.</p>
<p>Jakmile však jednou předmět své touhy získáte, objeví se touha jiná. Jedna je splněna a jiná čeká. Ani králové nejsou šťastni. Absolutním blahem je "žádná touha". A jste-li blažený, máte mír. Tam, kde je mír, je i ticho mysli. Kde je ticho mysli, tam je svoboda. Uspokojování tužeb nikdy nekončí. Těla pominou. Odešly miliony těl, a přece není žízeň po potěšení ukojena. Proto přecházíme z inkarnace do inkarnace. Čiňte tedy, jak myslíte. </p>
<p>Kdybyste nešťastnou náhodou hořel a chtěl skočit do řeky, co byste udělal, kdyby šel kolem vás přítel a zval vás do restaurace na zmrzlinu? Taková musí být touha po svobodě. Nesmíte se na cestě zastavit, abyste nabral další touhu. </p>
<p>Zvuk, pohled, pach, chuť a dotyk: těmito pěti smysly jste obklopen tam, kudy vstupuje oheň. A co je to oheň? Touha. Hoří a vy spíte. Probuďte se! Tady a teď!</p>
<p>Jste obklopen těmito pěti okny, kterými do vašeho domu vstupuje oheň. A vy spíte. Co je ten oheň a co jsou tato okna? Jsou to vaše touhy.</p>
<p>Lidské zrození je svrchovaný nástroj pro získání svobody. To, čím se lišíte od jiných živočichů je, že máte šanci dosáhnout svobody. Tak se tedy dívejte, kudy přichází oheň! Zvukem, pohledem, pachem, chutí a dotykem je pět ohňů. Musíte se svých přání zbavit.</p>
<p>Všechny ostatní živočichy stráví jediný oheň. Pohled můry je přitahován světlem svíce. Touha po potěšení ze světla je její svrchovanou touhou, která ji přivede do plamenů, v nichž zanikne.</p>
<p>Jen jediné pochutnání, a ryba je chycena na háčku. Jeleni jsou přitahování zvukem a pak polapeni.</p>
<p>Způsob, jak chytat slony, je vykopat hlubokou jámu. Na ni se rozprostře klestí a napodobí se hlas slonice, jako by z vycházel z tohoto klestí. Slon přijde a upadne do zajetí.</p>
<p>Včela usedá na květinu, pro její vůni. Některé květiny však loví včely jako potravu.</p>
<p>Všichni tito živočichové zanikají jen jediným ohněm, a vám jich hrozí pět. Musíte být velmi opatrný. Zbavte se svých tužeb a budete bezpečně upevněn v Já prostřednim Já. Toho lze dosáhnout v tomto okamžiku.</p>
<p>Je třeba jen velmi pevného rozhodnutí: "Chci svobodu." To stačí. Všechny ostatní touhy... ani bohové se jich nedou zbavit, co potom my lidé.</p>
<p>Žil jednou jeden rši. Jeho manželka byla nekrásnější ženou na světě a velmi ho milovala. Žili spolu v lese. Zprávy o její kráse se však rozšířily i ve světě bohů.</p>
<p>Tři bohové, Brahma, Višnu a Mahéš zatoužili její krásu spatřit, a tak se rozhodli vzít na sebe podobu sanjásinů. Když totiž sanjásin stane u dveří, musí být vpuštěn před všemi ostatními jako první. Hostitel se vždy musí přijít zeptat, co si přeje.</p>
<p>V oné chvíli byla žena v lázni. Bohové si tento okamžik zvolili proto, že chvíle, kdy je v koupelně a musí ihned vyjít, je tím nejlepším okamžikem, kdy mohou její krásu spatřit. Jejich záměrem bylo nedopřát jí ani dost času, aby se oblékla.</p>
<p>Když se žena koupala, uslyšela venku hlasy. Musela spěchat, aby tři sanjásiny uvítala. Brahma, Višnu a Mahéš toužili spatřit nahou ženu. Stvořitel, Uchovávatel a Ničitel v přestrojení za sanjásiny.</p>
<p>Silou svého tapasu proměnila žena tři přítomné bohy v šestiměsíční děti. Zanesla je do domu, položila do kolébky a začala je kolébat.</p>
<p>Bohové svým manželkám neřekli, za jakým účelem ozejí. I když byly jejich ženy krásné, zatoužili sestoupit na zem.</p>
<p>Kamila, Uma a Rámanidž hledaly své manžely všude. Odebraly se k slavnému siddhovi, který pomocí své jógové sí1y bohy spatřil a sdělil jejich manželkám, kde jsou.</p>
<p>Ženy odešly za ršiovou ženou a řekly: "Slyšely jsme, že naši manželé jsou ve vašem ášramu."</p>
<p>"Ano, pojďte se na ně podívat."</p>
<p>Manželky přišly ke svým mužům, proměněným v děcka, která si cucala palečky. Všechny bohyně padly před touto ženou do prachu. Bohové pak přijali svou původní dospělou podobu a políbili její nohy. Taková je sí1a tapas.</p>
<p>Tuto sí1u máte vy všichni, když zavřete okna před vstupím ohněm. Oheň vstoupí, jen když toužíte. Ohněm je tato touha. Zbavte se tužeb. Miliony let jste hledali naplnění tužeb, inkarnaci za inkarnací.</p>
<p>Když jste nasyceni, zahoříte touhou přestat a hledat něco nepoznaného. Abyste byli volní, získali osvícení a osvobí, musíte učinit velmi pevné rozhodnutí.</p>
<p>Učiňte je s Já, prostřednictvím Já a uvnitř Já, teď v tomto okamžiku. Já není daleko. Odklad je jen další touhou. Zřekněte se všech přání a budete nejšťastnější osobou na této planetě a pomůžete možná i bytostem na jiných planetách. Nejprve však pomozte sobě. Nejdřív sám poznejte, kdo jste, a pak už nebudou žádné ohně. Nebudou žádná přání. </p>
<p>Jediná touha, která stojí za splnění, je touha po svobodě. Všechny ostatní jsou k ničemu. Nedají vám žádné štěstí ani mír. Všechno je to zlo. Všechno hoří. Hoří všechny tři světy. Hoří nebesa i bohové. I ti sestoupili na zem, aby spatřili krásnou ženu. A zatím byla její skutečná krása vnitřní čistotou Já.</p>
<p>Všechno závisí na vás. Jestli svou možnost chcete odložit, odložte ji na více nebo méně let či inkarnací, ale není to cesta moudrého člověka. Moudrý člověk příležitost nepropase. Nedá se oklamat nevědomostí. Svoboda je nyní a zde, právě v tomto okamžiku. Jediné, co máte udělat, je přestat svou mysl spojovat s uplynulým nebo budoucím okamžikem. Žádné spojení s minulostí, žádné spojení s budoucností. Mluvím o okamžicích, tedy o nejmenší míře času. Nedovolte, aby vznikala minulost nebo budoucnost.</p>
<p>Dívejte se právě na tento okamžik. Minulost i budoucnost jsou jen myslí, která vás klamala. Mysl je duch, je to jen jméno. Existuje-li mysl, objeví se s jedinou myšlenkou celý tento projev. Když jste usídlen v tomto nmžiku, když neexistuje minulost, nazývá se to nlí.</p>
<p>Včera se někdo ptal, jak by mohl pokračovat ve svém každodenním životě, kdyby netoužil. Zde je znovu odpověď. Tento okamžik je nlí, která má stejné kvality jako prázdnota. Nl je samotné Vědomí, samotné Já. Tato nl je velmi sattvická. Aby se stala nlí, musela překročit minulost, přítomnost i budoucnost. Nsl je vědomí. Nyní tu už žádná mysl není. Čistá mysl je vědomí.</p>
<p>Co znamená očištění mysli? Nepřítomnost myšlenek. Mysl bez myšlenek, sattvická mysl, nl může být nazvána samotným Vědomím. Samotným já. Usaďte se pevně v této podstatě. Nežádáte už ani svobodu, protože tato touha je jen v mysli unavené utrpením a spoutaností.</p>
<p>Proto vás má sama mysl k tomu, abyste šli na satsang. Nejste-li spojeni s minulostí a budoucností, mysl vůbec nstuje a vy jste doma. Podívejte se do Já pomocí Já.</p>
<p>Všechno ostatní se týká těla a mysli a pramení to z mení nebo fyzické úrovně. Ptejte se sám své mysli: "Kdo jsi?" Touto otázkou mysl vymizí a bude svým rozpuštěním velmi šťastná. Bude velmi vděčna za to, že má mír. Mysl poskaka z větve na větev jako opice. Ani ona, ani vy jste nebyli v klidu. Svoboda je tady a teď.</p>
<p>Vaší podstatou je čistá svoboda. Jste svobodni od samého počátku. Jak vstoupila do vaší mysli představa, že jste spoutáni? Kde jsou ty řetězy? Jak jste je uviděli?</p>
<p>Prostě se sami sebe ptejte: "Kdo jsem já?" To je prám, na kterém přeplujete oceán sansáry. Je to bezpečný prám, kterého se smrt nedotkne. Všechno ostatní je mysl. "Udělám toto", "chci toto", "co bych měl dělat?", "mám toto", "chtěl bych mít toto". Zastavte na chvilku všechny tyto pocity a záměry. Není potřeba mnoho času.</p>
<p>Dosud jste tomu nevěnovali pozornost. Když se ve vaší mysli objeví myšlenka, zastavte ji. Buďte bdělí! Zachovejte bdělost při vznikání myšlenky.</p>
<p>Jakou cestu potřebujete, když zůstáváte doma? Důvodem, proč se objevuje cesta, která vás má vést pryč z domova, je touha. Touha nebo cokoli, co není trvalé, je zloděj, jenž vás okrádá o mír a štěstí. Musíte-li nějakou touhu mít, pak si přejte poznat, kdo jste.</p>
<p>Sanjása znamená nepřipoutanost, nepřítomnost touhy po čemkoli, co není trvalé. Sanjása může nastat, když jste uspokojen, když vám žádné touhy a zažívání smyslh objektů nepřinesou žádný prospěch, žádný mír ani lásku.</p>
<p>Sanjása je odmítnutí všech přání. Nejde o převlékání ku. Nejde o změnu prostředí. Tím se mysl stále ještě nezmění. Přejít z místa na místo, z jedné země do druhé, není sanjása. Sanjása je odstranění všech tužeb. To zastaví koloběh životů a smrtí, to vám dá mír.</p>
<p>Když se přestane pohybovat píst, kola se zastaví. Co je píst? Mysl. Jak zastavit mysl? Dotazováním "kdo jsem já?". Když řeknete "co je tohle?" nebo "kdo jste?", dostanete nějakou odpověď a mysl ulpí na daném smyslovém přeu.</p>
<p>Klaďte si otázku "kdo jsem já?". Lidé se místo toho ptají: „Jak mám plnit své každodenní povinnosti a činnosti?"</p>
<p>Jste spoután i tím, že hledáte venku. Hleďte tedy dovnitř. Toto dotazování nemá nic společného s žádnou myšlenkou na minulost ani budoucnost. Nedovolit, aby vznikla nějaká myšlenka, je sanjása. Když si obarvím oblek nebo půjdu do Púny, půjde mysl se mnou. Mysl musí přijmout sanjásu tím, že se vzdá všech tužeb po smyslových objektech a obrátí se do nitra ke svému zdroji.</p>
<p>Můžete pobláznit lidi barvou svého oděvu nebo růžovým věncem kolem krku, ale mysl zůstane nezměněna. Nechte mysl, aby přijala sanjásu. Tažte se jí: "Kdo jsi? Kdo mne to trápil po celé miliony let?"</p>
<p>Abyste byli štastni, v míru, v lásce a kráse, nepotřebujete nikoho jiného. Aby to bylo jinak, potřebujete nějakou myšlenku, představu nebo osobu, která by vám způsobila neštěstí. Zdrojem neštěstí musí být něco konkrétního -nějaká osoba, nějaká představa nebo nějaká věc. </p>
<p>Štěstí od vás nic nežádá. Abyste však trpěli, musíte vynit nějaké úsilí nebo vytvořit nějaké vztahy. Pak se stanete nešťastnými proto, že něco potřebujete. Být šťastnými je vaše základní podstata. Není k tomu nic potřeba. Abyste byli šťastni, nepotřebujete žádnou pomoc. K utrpení je zapotřebí vztahů. A kde jsou na světě jaké vztahy, aby vám nepřinášely utrpení?</p>
<p><strong>Já nevím.</strong></p>
<p>Třeba jste tedy o tom slyšel od některého ze svých rodičů? (Smích)</p>
<p><strong>Se vším jsem přestal a nyní cítím, jako bych byl ztratil svou vitalitu.</strong></p>
<p>Zastavení tužeb je vaší přirozeností. Nemít touhy je vaše podstata. To není ztráta. Po čem jste toužil první hodinu po svém zrození?</p>
<p><strong>Toužil jsem dýchat.</strong></p>
<p>Dobře, dýchat. To dýchání teď máte. Nezískal jste ho na základě své snahy. Řekněte mi, kolik dechů absolvujete za jeden den nebo za jednu minutu?</p>
<p><strong>Nevím.</strong></p>
<p>Nevíte to, protože se o to nesnažíte. Jde to samo. Vzduch zvnějšku vstupuje dovnitř. Dostává se do našeho nosu a my jej nazýváme pránou, jako by nám patřil. Týž vzduch, ať jej vdechujeme nebo vydechujeme. Tato životní síla jste vy! Zjistěte, zda tu životní sílu ovládáte? Nebo ovládá životní síla vás?</p>
<p><strong>Životní síla ovládá mne.</strong></p>
<p>Ano, životní síla ovládá vás. Dýcháte. Umění dýchat nevyžaduje úsilí. Snažte se nedýchat a pozorujte výsledek. Ve stavu smrti si ani bohatý člověk nemůže koupit jediný dech navíc. Žádný lékař vám nedá navíc ani jeden dech. Kdo to uvnitř vás dýchá? Kdo nasává vzduch zvenku dovnitř?</p>
<p>Jakmile tělo jednou nadechne, mysl, mozek a smysly pracují. Pracují, zprostředkovávají záležitosti mezi subjektem a objektem a mají potěšení. Zjistěte, kdo je za to odpovědný a najdete odpověď na svou otázku.</p>
<p>Kdo je ten, kdo je neznám a skryt v jeskyni vašeho srdce? Je to vaše skutečná tvář, váš nejintimnější přítel a je věčný. Nikdo se na něj nedívá.</p>
<p>"Dělám toto", "udělal jsem tamto" a "udělám toto". Tomu se říká život a nikdo není šťasten a spokojen s tím, co udělal. Každý chce udělat něco navíc. Chce dosáhnout dílčího štěstí, a když je má, chce něco jiného. Je to nekonečný proces. Tak jej zastavte, povídám. Není vaší přirozeností.</p>
<p>Problém nějak vytvořila mysl... tak se ptejte mysli. Zkusil jste všechno na světě, a přece nejste spokojený. Ptejte se své mysli, a dostanete odpověď. Vaše mysl je vaše a je to velmi obtížný zloděj. Viděl jste jej. Všude vás kousal a působil potíže.</p>
<p>Začněte tedy nyní dialog mezi sebou a svou myslí. Co chcete? Mysl se stane vaším přítelem. Ukáže vám cestu. Chceme, aby byly splněny naše touhy a když nejsou, viníme z toho mysl. Kde je mysl? Kdo ji viděl? Je to duch a tímto duchem je touha. Zastavte ji tedy na chvilku. Prostě ji zastavte a hleďte na sebe.</p>
<p>Nežádám, abyste cokoli potlačoval. Nechci, abyste opustil svůj každodenní život. Dejme tomu, že přistoupíte na dvě stě procent svých každodenních činností.</p>
<p>Když budete statečný, nebudu vás žádat ani o okamžik, ani o vteřinu, jen o čtyřicet pět tisícin vteřiny. Můžete mi tolik času věnovat? Pohleďte na svou tvář... vše bude napo. Váš poklad je ukryt uvnitř a vy od něj utíkáte ven. Slunce, které označuje váš denní čas, východ slunce i jeho západ, vychází z bezčasovosti. To vše vzniká ve vás.</p>
<p>Byl jednou jeden král. Jmenoval se Vadžravalkhja. Jednoho dne k sobě povolal obě své manželky, z nichž jedna byla velmi stará a druhá byla teprve mladým, asi dvacetiletým děvčetem.</p>
<p>Řekl jim, že chce mezi ně rovným dílem rozdělit své království. "Jste dobré královny," pravil, "a tak bude všechno rozděleno na polovinu. Klenoty, sloni, palácechno se rozdělí napůl, protože já vás opouštím."</p>
<p>Mladá královna řekla: "Ty jsi říkal, že jsem světlem tvého života, že? Neříkal jsi, že jsem nejkrásnější žena království a že jsem tě učinila šťastným? Dobře vím, že jsi moudrý muž. Jestliže se všeho vzdáváš, musí to být pro něco, co je lepší než toto. Tak tedy můžeš dát moji polovinu své druhé královně. Já půjdu s tebou tam, kam půjdeš ty."</p>
<p>Vadžravalkhja ji varoval, že to bude těžké, že si s sebou bere jen jediný oděv. Královna sňala své klenoty, odevzdala je druhé manželce a řekla svému muži: "Jedno sárí stačí. Chtěla bych jít s tebou a sloužit ti."</p>
<p>Odešli tedy spolu do lesa, aby prováděli sebekázeň a vali se satsangu. Byli velmi šťastni a dosáhli svobody.</p>
<p><strong>Otče, když král opouští svou královnu, opouští své tužby. Může se fyzicky vrátit ke své královně, když je opustí davdy?</strong></p>
<p>Ano, oni tak žili.</p>
<p><strong>A je to správné?</strong></p>
<p>Ano, oni to tak udělali. Ale bláhové smyslové touhy to nejsou. Je to láska. Vracíte se z pravého míru. Bude tu vše, manželka, manžel, budou tu i přátelé, ale vaše představa teď bude jiná. Bude tu jen láska a žádný strach z oddělení, protože pak budete ve spojení s Já, se svým vlastním Já. Já je vždy vaše vlastní Já. Koho byste mohl nenávidět?</p>
<p><strong>Všude krása.</strong></p>
<p>Ano, všude. Ať jste kdekoli, vidíte v každém Já svou vlastní tvář. Kam půjdete? Co je tu, abyste se toho odřekl a co byste mohl opustit? To je zde, ať jste kdekoli.</p>
<p>Najděte svůj vlastní mírjprve v sobě, potom ve mně a pak všude. Dívejte se dovnitř. Já není daleko. Já je tady a teď! Jak daleko od vás je Já umístěno?</p>
<p><strong>Je se mnou totožné.</strong></p>
<p>Totožné! Nic není třeba hledat. Jen nehledejte jiné věci. Co budete, když se vzdáte hledání všeho ostatního? Vzdejte se sám sebe. Odhalení nastane samo, uvnitř vašeho Já!</p>
<p>Jediná námaha, kterou musíte vyvinout, je zbavit se snah, které jste na sebe naložil. K tomu může být námahy zapbí. Nevyvíjejte však úsilí směrem k svému vlastnímu Já. Pak nastane toto odhalení. Máte hromadu věcí, které jste s námahou nashromáždil. Vyviňte tedy opačnou snahu, abyste svou námahu odstranil. Nesnažte se však být tím, čím jste.</p>
<p>Je to opětné poznání. Odhalí se vám Samo, pomocí Sebe Sama, a to i tehdy, když to nechcete.</p>
<p>Odhoďte spoutané věci, které vás věznily. Odhoďte svá pouta. Skončete se všemi svými pouty. Neusilujte. To je odhalení samo. Je zde, že? Jen se dívejte do svého nitra, jen nastolte ve své mysli pevné přesvědčení.</p>
<p><strong>Osho řekl, že v životě litoval jen jedné věci: že nepotkal Ramanu Maháršiho, než opustil své tělo.</strong></p>
<p>Nemyslím, že to promeškal. To je velice dobrá touha. I po smrti bude touha, aby Já potkalo Já, splněna. To není jako jiná přání typu "chci toto a chci ono". Taková přání vás přivedou do potíží a vytoužené předměty se projeví ve vaší příští inkarnaci. Jakákoli touha, která se týká Já, je splněna. Tělo nemá s touhou nic společného. Tělo buď zůstane, nebo nezůstane. Tato touha je věčná.</p>
<p>Vidéhamukti, džívanmukti existuje i tehdy, když tu tělo je. Osvobození může být dosaženo před koncem těla a také přetrvá jeho konec.</p>
<p>Můžete nosit tento fyzický oděv nebo jej odhodit nehraje roli - ale touha po osvobození musí trvat celý život i po jeho skončení, protože to je touha po samotné Pravdě. Ta se musí odhalit Sama prostřednictvím Sebe Samé a pro Sebe Samu.</p>
<p>Pravda nemůže být odhalena tělu, protože tělo není trvalé. Nemůže obstát při daršanu božství. Odvrhněte tedy představu těla a budete přímo vnímat své vlastní Já.</p>
<p>Pochopení nevyžaduje slova. Nechte tedy má slova klet do toho, co je konečné. Když jdete spát, dáváte svým přátelům, těm, kteří s vámi žijí po celý bdělý čas, dobrou noc. Dáváte dobrou noc všemu. Do spánku si s sebou nemůžete nic vzít. Musíte všechno opustit.</p>
<p>Víte, kdo další spí s vámi, když sám spíte? Všechno necháte odejít. Proč dobrou noc? Proč jej nebo ji nevezmete s sebou do následujícího stavu? Žádné jméno a žádný tvar, žádné příbuzenství... a jste šťasten.</p>
<p>Řeknu vám jednoduchý trik. Kdykoli se něčeho zbavíte, jste šťasten. Nevlastněte nic. Dejme tomu, že váš soused má poslední model mercedesu a vaše žena nebo manžel na vás naléhají. Pomyslíte si, že ten poslední model musíte koupit.</p>
<p>Vypůjčíte si nějak peníze z banky nebo si je vyzvednete a vůz stojí před domem. Jste šťasten, že?</p>
<p>Musíte být šťasten. Je šťastna vaše žena, vaše děti i přátelé. Je šťasten i ten, kdo se auta zbavil. (Smích)</p>
<p>A vy jste šťasten, že je máte. Kde je tedy štěstí? Trápila vás touha "chci mít vůz". Tím, že jste vůz získal, vás touha opustila. Když auto máte, netoužíte po něm, a tak jste dosáhl štěstí. Tak jako při všech touhách, jste šťasten, když zmizí touha, a ne tehdy, když jste získal nějakou věc.</p>
<p>Auto je vyrobeno z oceli a gumy a je poháněno benz. Žádná z těchto věcí vás šťastným nečiní.</p>
<p>Sedíte v prázdné místnosti a díky stěnám, které jsou k vás, si myslíte, že jste jejím vlastníkem. Jste stále v prázě. Všude tam, kde je prázdnota, jste šťasten. To je jednoduchý trik.</p>
<p>Zapomínáte na své tělo a když jste oproštěn od těla, zbaven vztahů a přátel, vklouznete do spánku a jste šťasten. To, co běžně zakoušíte, je takzvaný bdělý stav, ale je také nevědomý. Tento stav nevědomého bdění je rovněž stavem spánku.</p>
<p>Spíte, proto se obíráte touhami. Zůstaňte tichý a uvidíte, že dosud spíte.</p>
<p>Když se probudíte, nevědomost spánku zmizí. Nevědt je způsobena iluzí. Zbavte se iluze poznáním. Když poznání přeludu zničí jeho kouzlo, ptejte se "kdo jsem já?". Pak se pomalu vrátíte domů.</p>
<p>Konečně! Zbavte se navždy všech těchto iluzí!</p>
<p><strong>Každá touha poskytuje určité potěšení bez ohledu na to, jak je malé nebo pomíjivé. Je tedy těžké se tužeb vzdát. Proto je to těžké.</strong></p>
<p>Můj drahý chlapče; pro vás svoboda není. Počkejte třeba na další cyklus. Vyžaduje to inkarnaci snad v 8,4 milionech druhů, než vynikne touha po svobodě. Časová rozmezí jsou různá. Některé inkarnace trvají dny, jiné minuty, některé hodiny a jiné zase mnoho let. Než nastane nový cyklus, nový koloběh.</p>
<p>Není to žádný problém. Svoboda pro vás není. Jste na špatném místě. Toto není rybí trh, milý hochu. Dám vám radu: jděte na rybí trh a nakupte ryby. To je místo, které je pro vás opravdu vhodné.</p>
<p>Tady jde o velmi vážné věci. Musíte být opravdový. Jeo dne budete připraven, ať v tomto nebo jiném kolob Není v tom problém. Až budete velmi opravdově hořet pro svobodu, pak ke mně přijďte. Přijďte ke mně, až budete chtít svobodu. Žízníte-li po něčem jiném, nemohu vám pomoci.</p>
<p>Běhání za smyslovými potěšeními bývá obvykle označováno za bdělý stav. Stejně tak se bdělým stavem nazývá jednání mezi objektem a subjektem. Když si je člověk představuje, nazývá se to stavem snovým. Tam, kde je prázdnota, kde není nic, ani dotazování, je údajně stav tupého ega, stav nevědomého spánku.</p>
<p>Když říkáte "chci být svobodný", není to bdění ani spánek. Je to přechodný stav, který přichází odnikud.</p>
<p>Máte-li nesplněné touhy, budete znovuzrozen v novém lůně. Tento ranec nesplněných přání bude vaší tváří. Budou tu pro ni vhodní rodiče i podmínky.</p>
<p>Splňte proto všechna svá přání v jediném okamžiku. Jedině touha po osvícení je plamenem. Jakmile jste jednou osvícen, změní se vaše touhy v prach - a již nikdy se nevre do žádného lůna. Jinak budete stále těkat od místa k místu.</p>
<p>Tam, kde jsou cesty, tam musí být ovce. Cesty jsou pro ovce. Vídáte snad po cestách chodit lvy? A tam, kde jsou ovce, jsou i pastýři. Když jdete k pastýři, stanete se ovcí a budou vás hnát v houfu, kam budou chtít.</p>
<p>Když přišlo světlo, nešel jste ke svíci, ale ven, za předm, na nějž světlo svítilo. Ten plamen je váš učitel. Uctívejte jej. Hledejte jej. Nemyslete na minulost, přítomnost ani budoucnost. Tento okamžik počkejte! Zastavte se! Nikam se nedívejte! A možná, že všechno bude odhaleno. Když hle metodu nebo techniku, odkládáte to. Jestliže to odkle, pak jste byl oklamán svým blízkým přítelemslí.</p>
  <div id="book-navigation-37" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/postata-mysli-vasan" class="page-previous" title="Přejít na předchozí stranu">‹ Postata mysli a vásan</a>
                    <a href="." class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/dotazovani-oddanost" class="page-next" title="Přejít na další stranu">Dotazování a oddanost ›</a>
          </div>
    
  </div>
    