---
title: Postata mysli a vásan
date: 2010-01-23 21:45
layout: book
comments: false

---

      <p>Existuje jenom vědomí. Když se toto chápání snaží samo sebe pochopit, stává se myslí. Mezi chápáním a myslí není rozdíl. Mysl znamená činnost. Jaká je vaše mysl, taková je vaše činnost. Jaké je vaše chápání, taková je vaše mysl. Jaká je vaše mysl, taková je vaše činnost.</p>
<p>Tato činnost vytváří pět smyslů. Jsou tvořeny předměty a ty se nazývají vesmírem. Vesmír je výsledkem chápání, které kdysi vzniklo, aby pochopilo vědomí. Vědomí, které nemůže být objektivizováno, se stává objektem. Mysl se stává subjektem, který objekty vnímá.</p>
<p>Cokoli vidíme, cokoli chápeme, je jenom nevědomost. Protože toto chápání vzniká, vytváří mysl a mysl se stává Já jsem. Já jsem musí něco chápat a konat. Činnost pramenící z Já jsem je nepochopením, protože vědomí nemůže být pochopeno, vnímáno nebo vymyšleno. Nemá nikoho dalšího jako pozorovatele. Je samozářící, vždy přítomné, vševcí. Kdo by mohl být jeho pozorovatelem?</p>
<p>Chápání je objektivizovalo a ono se samo stalo subjektem. Každý subjekt vyžaduje tvorbu. Taková tvorba je výsledkem nevědomosti. Cokoli v této nevědomosti pochopíte, víte nebo vnímáte, je nevědomost.</p>
<p>Tvorba zmizí okamžitěejně jako vznikla. "Já" je mysl a předměty jsou vesmír. Vyslovte "já", a je tu vesmírnt, přítomnost a budoucnost - a jejich nekonečné opakí. To je sansára.</p>
<p>Zaměňujete provaz za hada. Když jste poznal provaz, had zmizel. Proč? Protože jste ho pokládal za hada omylem. Rozpoznání provazu způsobilo, že had okamžitě zmizel.</p>
<p>Vznik "já" je od počátku první nevědomostí. Odvraťte se od sansáry, odvraťte se od předmětů, činnosti, mysli a smy Vraťte se k "já", k první činnosti chápání.</p>
<p>Samotné vědomí chtělo pochopit a vzniklo jako vlna na oceánu. Tato vlna, tato sansára zanikne, když proces tohoto chápání zastavíme. Současně s tímto rozhodnutím skončit opusťte i první pochopení toho, odkud vzniká "já jsem", jež je myslí, egem, předměty a sansárou.</p>
<p>Už nic nechápejte. Jak? Zůstaňte tichý. Zůstat tichý znamená zůstat bez činnosti. To je vaše přirozenost. Tato cesta není žádnou cestou! Činnost je způsobena neklidem mysli. Není-li mysl rozrušena, není oceán zčeřen. Není na něm ani vlnka. Vědomí je jen vědomí. Je absolutní, dokonalou bezmezností. Nemůžete to pochopit ani popsat. Je to vědomí, Existence, Blaho. Je již zde. Co je vidět, je vidět díky tomuto světlu, této kráse. Slunce svítí díky tomuto světlu. Když se od jediné svíce zapálí sto dalších, pak svíce sice mohou být různé, ale světlo zůstává totéž. Jak se liší plamen první svíčky od plamene té poslední? Většina z vás však naneštěstí nehledí na plamen, místo toho počítáme svíčky. Vidíte tolik jednotlivých věcí a nevidíte plamen.</p>
<p>Vědomí je prvotním plamenem. Prostřednictvím vědomí vidíte všechno jako v zrcadle. I malé zrcadlo může odrážet hory, lesy a oblohu. Hledíte-li do zrcadla, které je ve vás, můžete vidět cokoli.</p>
<p>Všechno, co vidíte, je vaše snová projekce. Kdykoli něco spatřujete, sníte! Bdíte tehdy, když nevidíte nic.</p>
<p>Mnohost je sen. Můžete se probudit okamžitě. Jak? Nečeřte svou mysl. Nedovolte, aby vznikla vlna "já jsem". Tak jak vznikla, může i zmizet.</p>
<p>Nyní jste v zajetí tohoto dlouhého snu, který je příčinou utrpení a napětí. Sem tam se někdo rozhodne: "Dost!" A zde začíná touha: "Chci být volný". Tato touha se neliší od samotného vědomí nebo svobody. "Já jsem" se znovu roští do svobody, ze které vzešlo.</p>
<p>Vytržení mysli začíná tehdy, když nevzniká myšlenka. P tato myšlenka vzniká. Proto musí nastat nevznikání. Čím byla vlna, dokud byla skryta v oceánu?</p>
<p>Hleďte proto na vlnu, která nevznikla. Na prostor bez vln. Dívejte se na ni, než vznikne, a uštípněte samotné její poupě. Chci na vás, abyste vlně nedovolil vzniknout. Než vlna vznikne, je to myšlenka, která nevznikla. Myšlenka musí vznikat... potom vzniká... a pak přijde trápení, je to tak? Zmizí a po ní přijde jiná. To je proces života. Když toto realizujete, zastavíte vzruchy mysli.</p>
<p>Nyní prostě přivítejte myšlenku, která nevznikla. Znamená to koukat se na peleš, ze které vycházejí loupežníci, aby se vloupali do vašeho domu a kradli v něm. Vyvolejte novou myšlenku, pozvěte myšlenku, která nevznikla.</p>
<p>(Ticho)</p>
<p>Nyní pozvěte myšlenku. Nechte ji přijít. To je zastavení vlaku mysli. To je bdění. To je pozornost. Musí se to stát vaším zvykem. Tento zvyk je přirozený. Je to také přirozené blaho. Nic vás to nestojí.</p>
<p>Jakmile dovolíte, aby vznikla myšlenka, máte problémy. Potom je tento koloběh problémů nekonečný. Nejste-li bd myšlenka vznikne a tento vznik se nazývá sansárou. Chápete?</p>
<p>A když myšlenku hledáte? Nirvána. Je to prosté. Hledejte ji - a kde je sansára? (Smích) Kde je sansára, když tohle víte? Nevíte-li to, je tu nekonečná sansára.</p>
<p>Když se jí chcete zbavit, chcete svobodu. Udělejte to. Je v tom určité tajemství. Když to uděláte, poznáte je. A až je poznáte, pak budeme jeden druhého učit. Sdělím-li vám je dřív, než je odhalíte sám, nebudete možná souhlasit.</p>
<p>Nejprve to udělejte a sdělte mi tajemství. Zůstávejte pon v myšlenkách, které nevznikly a pozorujte, co se děje.</p>
<p><strong>Jsem lupičském doupěti. Je to samé světlo a činnost.</strong></p>
<p>Ano, dobře. Jděte tedy dál. Jděte dál dovnitř Je to skutečně překrásný tanec. Je to báseň. Mluvím o blahu. Vše je propojenotí, poznání, blaho, vědomínčí pospolu. Prostě to udělejte a dívejte se kolem.</p>
<p><strong>Doupě se stalo vlnou.</strong></p>
<p>Velmi dobře. Velmi dobře. Jděte dál. Ještě dál.</p>
<p><strong>Tam nic není !</strong></p>
<p>To je ono. Nyní jste to našel. Zůstaňte tu.</p>
<p><strong>Cítím se tak nehodný jako lhář, protože jsem měl tolik zkušeností a moje mysl se stále vrací.</strong></p>
<p>Viděl jste mysl, skutečně? Je to duch. Ve skutečnosti neexistuje. Jakmile po něčem zatoužíte, začne vás tento duch mysli sužovat. Kde je mysl, když se zbavíte touhy?</p>
<p>Kde je touha, tam je i trápení. Bez mysli můžete žít docela dobře. Bez mysli jste moudrý, s myslí hloupý. Nemějte touhu po ničem a stanete se vládcem tohoto království. Vy jste mír, krása a láska. Odmítněte na chvíli mysl a dívejte se.</p>
<p>Když vyjdete večer na silnici a spatříte hada, dostanete strach. Vezmete klacek a uhodíte ho. Nehýbá se a vy vidíte, že je to provaz. Strach je pryč a klacek zahodíte.</p>
<p>Položíte-li mysli otázku "kdo jsi?", zmizí. Hleďte na hada mysli a zjistěte, zda je živý. Myšlenky vám překážejí, abyste viděl svou vlastní tvář. Nedovolte vzniknout žádné myšlence a odhalte, kdo jste.</p>
<p><strong>Několik posledních dnů se mi stále vracel sen o pádu. Padám z velké výšky, padám do moře a s hrůzou se probo. Souvisí to s tím, co se tu odehrává?</strong></p>
<p>To jsou snové vásany, touhy a tendence podvědomé mysli. Meditace, pochopení nebo sebedotazování je rozvíří. Na dně jezera je kal, a přece vypadá jako čisté. Co se stane, když kal zvíříte? Má jej zvířit toto sebedotazování. Když je kal rozvířen, objeví se a potom zmizí. Aby mohl zmizet, musí se nejprve objevit.</p>
<p>Zjistíte tedy, že tu je něco, o čem jste nevěděl. Když meditujete, víří se snová nečistota, která ležela ve vašem podvědomí. Nikdy dřív jste si jí nebyl vědom. Ležela tam a čekala, aby se později, pomalu a až nastane čas, stala vaším novým vtělením.</p>
<p>Nyní je rozrušena meditací, tichem mysli a objevuje se. To, co se objevuje, musí také zmizet. Nyní můžete nečistotu spatřit. Zbavte se jí.</p>
<p>Jinak se chováte tak jako všichni ostatní. Nikdo se o to nestará. Jmenuje se to cyklus zrodů a smrtí. Když nebudete tyto snové tendence (vásany) vířit, dovolíte jim, aby se usadily na dně. Pak budete dál a dál hromadit nové tužby. Tento cyklus pak bude nekonečný.</p>
<p>V příštím životě se nejprve objeví touhy uložené na dně. U dna se pak budou ukládat touhy nové. To je koloběh životů a smrtí.</p>
<p>Musíte se tázat "kdo jsem?" a toto dotazování stráví a spálí vše, co mu leží v cestě.</p>
<p>Díky čistotě mysli budoucnost nepřijde, neboť zde není zakalené dno. Vše bylo rozvířeno a spáleno. Potrvá přítot. Pokud víte, kdo jste, nejste v přítomnosti konatelem. Proto nezanechá působení činnosti žádné stopy. Co spatříte mezi minulostí a budoucností bez vazeb s nimi?</p>
<p><strong>Nyní.</strong></p>
<p>Ano. Mysl vás vždy vede k minulosti, minulým potěšením a zvyklostem, a tak přežvykujete staré zvyky. Najít svou tvář nyní je to jediné, co je nové. Je to odvaha. Zůstanete-li zde, překročil jste oceán. Vaše práce je skončena.</p>
<p><strong>Minulý týden byl velmi těžký. Byl jsem zkoušen a nebylo to snadné.</strong></p>
<p>Ano, velmi dobře. Miliony let jste spal a byl jste olupován. Nestěžoval jste si, že je to zlé, tak jako si nestěžuje opilec ležící v příkopu. Když však jste obklopen čistotou, všimnete si každé skvrny a nelíbí se vám to. Opilec leží kdekoli a je spokojen.</p>
<p>Objevují se všechny sny, pohřbené v mysli. Objevují se všechny tendence, aby vás opustily. Jinak jen přidáváte prach k prachu. Donekonečna sbíráte tužby.</p>
<p>Nyní jste s touhami skoncoval. Když to dovolí okolnosti, musí se objevit naplněné skladiště. Tendence se objevují, aby zmizely, protože jim nedáváte možnost hrát nějakou roli. Už jste zadán někde jinde. To je ta "obtížná doba", o které mluvíte.</p>
<p>Když nebudete toužit po svobodě, žádné těžké časy nepřijdou. Budete žít tak, jak žije skoro šest miliard lidí. Jeden člověk si však vybral těžký život. Byl to princ a žil před 2 000 lety. Co mu doopravdy prospělo, těžký život nebo život snadný? On snadný život opustil. Obrátil se zády k rodině i ke svému království a odešel vstříc těžkému živ Vzal do ruky žebráckou hůl, svlékl své královské roucho a zvolil si těžký život. Jeden z miliard je stále v lidské paměti... a vy si stěžujete po jediném týdnu.</p>
<p>Hleďte k Já, k átmanu, a jste v bezpečí. Dívejte se zpěte po vás. Kdo vás může zlomit, hledíte-li k Já? Čiňte to bez přestání čtyřiadvacet hodin denně. Jestliže milujete, musí to trvat čtyřiadvacet hodin denně. Neřeknete přece: "Třicet hodin denně tě budu milovat a na jednu hodinu půjdu do vykřičené čtvrti."</p>
<p>Když mluvíte o těžké době, musel jste se obrátit zády a jít někam jinam. To je váš domov. Jak se můžete mít doma zle? Kdo by nebyl doma šťastný?</p>
<p>Mluvili jsme o extázi, míru, lásce a štěstí. Nenajdete je nikde na celé tváři země. Můžete konat poutě, chodit do chrámů, navštěvovat údolí nebo vystupovat na hory. Mír nemají ani bohové. Hledají jej na špatném místě. Hledají v betonových cihlách! Ať půjdete jakýmkoli směrem, nikde nespatříte mír, štěstí ani lásku. Přestaňte s tím! Nemařte čas! Zůstaňte, kde jste! To je dharma, která vám pomůže. Všechno ostatní je adharma, smysly a těla. Zůstaňte, kde jste a vypátrejte, kde je mír! Je ze všeho nejblíže. Blíž než vaše vlastní oko. Pětatřicet milionů let vás mysl klamala, mé drahé děti. Byli jste šizeni. Teď to skončete! Dívejte se a poznejte, kdo jste. Okamžitě naleznete svobodu a toto utrpeníopýtání od lůna k lůnuamžitě ustane. Jedinou cestou je hledět dovnitř. Prožitky jste prožili a mír vám nedaly. Nikde, kde není ten, kdo prožívá, nejsou prožitky. Proto zmizte! Prožívané, prožitek, prožívající... nechte je, ať zmizí teď hned. Došli jste k tomu, co nelze poznat smysly. Nyní musíte oklamat samotnou mysl, která tolik let klamala vás. Nyní přišel váš čas.</p>
<p>Ptejte se mysli: "Kdo jsi ? Ty jsi mne klamala. Nyní jsem rozeznal toho zloděje očima, ušima, nosem, jazykem a hm. Nyní jsem poznal, kdo je ten, který způsobuje utrpení. Nyní tě už nebudu poslouchat. Udělám to sám."</p>
<p>Zrušte vztahy s myslí a potom zůstanete sám. Vaše mysl vás obtěžovala. Obtěžovali vás vaši kněží. Znepokojovala vás vaše církev a společnost. Řekněte si: dost! Nyní zůstaňte sám a hledejte. Dívejte se kolem. Po nějakou dobu se nedotýkejte nikoho a ničeho, co jste znal, viděl, slyšel nebo čeho jste se dotýkal.</p>
<p>Klamala vás většina náboženství. Většina náboženství ubohé lidi klame. "Dělej toto, a já tě pošlu do nebe." Neposlouchejte nikoho z těchto lidí. Zjistěte, kde je nebe. Nebe přijde k vám dolů.</p>
<p>Zůstaňte sám. Nedovolte, aby se vás kdokoli dotkl. Budete-li mysl ignorovat, opustí vás. Odejdou vaše žádosti, opustí vás vaše pocity, vaše touhy, vaše představy. Všechno odejde.</p>
<p>A co se stane? Je-li odmítnuto vše, co je známo, je před vámi neznámé. Jestliže se vzdáte žádostí a tužeb po zn, bude to, co zbude, neznámé. Stal jste se neznámým a noříte se do neznáma, protože oba jste totéž.</p>
<p>Doposud vás trápilo vaše ztotožnění se se známým. "Toto jsem já a toto je mé." Možná, že z neznámého vstoupíte do prázdnoty a z prázdnoty uvidíte, že celá tato projekce je vaším hřištěm.</p>
<p>K nikomu nebudete cítit zášť. Je to království lásky. Ať se podíváte na cokoli, spatříte lásku. Dřív jste lidi znal, nyní je budete milovat. Budete milovat jejich Já a oni budou milovat vás. To je zvláštnost života. Budete se z tohoto života radovat. Tato planeta se stane nebem. Všechno, co uvidíte, bude krása. Uslyšíte hudbu svého vlastního Já. Ať uslyšíte cokoli, bude to hudba vašeho vlastního Já, vašeho vnitřního světla. Ať budete hovořit o čemkoli, budete vyslovovat sútry, moudrost. To se musí stát právě v tomto okamžiku. Vůbec o tom nepochybujte. Pochybnost by vám nepomohla.</p>
<p>Je to báseň vašeho vlastního Já. Není tu nikdo, kdo by vás klamal nebo na kom byste závisel. Miloval jste tedy pomíjivé věci. Každý je pomíjivý a každý čelí smrti. Jak můžete milovat tělo? Jak můžete milovat něco, co není věčné, trvalé, co není láskou, přebýváním, trvalostí, samotnou větí?</p>
<p>Zjistěte, kdo je váš přítel. Co je vám blíž než věčnost? Je to vaše vlastní podstata. Je to vaše vlastní matka. Když na ni zapomínáte, jdete společně s ostatními. Jdete si někam pro kopanec.</p>
<p>Proto s tím na jediný okamžik přestaňte a všechno vám bude dáno. Když se vrátíte do své země, je vaší povinností všem pomáhat. Jakmile jste jednou něco dostal, víte, že máte lásku: viděl jste pravdu tváří v tvář. Buďte zobrazením pra ne reprezentantem člověka pro člověka. Lidem poslouží jen pravda. Jděte od dveří ke dveřím a dávejte lidem lásku. Řekněte jim, že jste šťasten, plný míru a lásky. Jsou to všechno vaši příbuzní, vaše vlastní Já.</p>
<p>A nejenom lidské bytosti. Ve zvířatech a stromech i ve skalách spatříte tentýž život. Můžete ke skalám i mluvit. Kamkoli pohlédnete, hleďte s láskou a skály, stromy, zvířata i lidské bytosti vám odpoví.</p>
<p>Nejdříve se rozplyňte ve skutečnosti, v pravdě. Stanete se pak přitažlivým a každý k vám bude váben. Budete tak krásný, protože nebudete nic žádat. Krása po ničem netouží. Vnitřní světlo se rozzáří a vykoná svou práci. Nejste to vy, kdo koná a není to ani nikdo jiný.</p>
<p>Vede vás vnitřní světlo, vnitřní moudrost. Vy toto světlo nevidíte, a tak mu nevěříte. Stane-li se něco velkého nebo něco dobrého, řeknete: "To jsem udělal já!" A když jdou věci špatně, viníte Boha. To je pýcha.</p>
<p>Je to velmi jednoduchá záležitost. Neodkládejte ji. Můžete to udělat teď a tady.</p>
<p><strong>Něčemu nerozumím. Obvykle mám v životě spoustu energie k tomu, abych tvořil a konal věci. Nyní už je to podruhé, co jsem sem přišel. Je to, jako bych vzal drogu to hezké, ale celý den jsem unaven. Je všechna moje energie a tvořivost jen myslí?</strong></p>
<p>Ano! (Bouřlivý smích)</p>
<p><strong>Ale já nemohu celý den ležet v posteli !</strong></p>
<p>Přivedla vás sem vaše energie a když jste se sem dostal, je tatáž energie v klidu.</p>
<p><strong>Ale jak mám něco dělat?</strong></p>
<p>Budete konat obdivuhodně, aniž byste něco dělal! Prostě zůstaňte tichý. Péči o vás převezme něco jiného. Jenom pozorujte, co se děje a zůstaňte tichý.</p>
<p>Vy nejste v klidu, a proto máte potíže. A tak jenom zňte v klidu a dovolte, aby z vašeho nitra něco vzešloový mír jste nikdy předtím nezažil. Zůstaňte nějaký čas tichý, a ono se to samo objeví. To je má rada.</p>
<p><strong>Kršna v Bhagavadgítě říká, že k tomu, aby se člověk pl, je třeba určitého úsilí - i k tomu, aby jedl.</strong></p>
<p>To, co měl Kršna na mysli, je obecně špatně chápáno. K jedení je třeba úsilí a k pozorování také. Ale to říká Kršna. Veškeré úsilí je vynakládáno skrze Kršnu. Jíte, pohybujete rukama, pohybuje se jazyk, žvýkáte, probíhá trávení. Co to je za sílu, která pohybuje rukou, čelistmi a tak dále?</p>
<p><strong>Chápu. Takže to všechno dělá Kršna. Mám tedy rozvázat provaz a nechat konat Kršnu ...</strong></p>
<p>I Kršna je provazem! (Smích)</p>
<p>Provazem je každé jméno a tvar. Co je to, co provazem není. Musí to být vaše vlastní vědomí. Vy tyto provazy nepotřebujete a Kršna to velmi dobře věděl.</p>
<p>Kršna měl na mysli nedotčenost. Každý je nedotčený. Dejme tomu, že se vám zdá sen, ve kterém se zamilujete do dívky. Slavíte svatbu, sezvete přátele a pak se probudíte. Sen se vás nedotkl. Nemáte s těmi oslavami nic společného. Všechno to byl jen sen. Tak se tedy probuďte, probuďte se! Váš dům hoří ze všech stran! Nespěte! Vzbuďte se!</p>
<p>Co to je to probuzení ? Je to upevnění se v Já prostřednim Já s Já pro Já. Já je nedotčeno. Absolutně nedotčeno. Tento projev je vaše líla - tento Brahma, Višnu, Mahéš (Šiva), to jsou vaše líla.</p>
<p>Dokud se neprobudíte, stále s sebou ponesete nesplněná přání. Dokud se neprobudíte, ponesete tato břemena, náklad nesplněných přání, a abyste je splnil, zvolíte znovu lůno.</p>
<p>Co tedy dělat s nesplněnými přáními? Někteří učitelé je doporučují splnit. Vezměte tedy jedno přání, splňte je a díky příbuzenství s ním se vynoří sta dalších. Ta budou taky čekat na svá splnění!</p>
<p>Jste-li na nějaké přání a jeho objekt vázán, vznikají ve vás nová a nová přání, která by měla být splněna. Nemůžete vzít jedno přání a splnit je. Znásobilo by se v milion jiných tužeb, které by rovněž čekaly na své naplnění. Nikdo se nikdy nevzdal žádných přání tím, že by je splnil.</p>
<p><strong>Tedy odříkání?</strong></p>
<p>Co vlastníte, že se toho chcete odřeknout? Co vám náleží, abyste se toho mohl zříci?</p>
<p><strong>Všechna ta přání.</strong></p>
<p>Jistě. Ta přání ovšem nejsou vaší podstatou. Ta vám nepatří.</p>
<p><strong>Ale jsou tady.</strong></p>
<p>Jestliže tu jsou, tak je splňte jedno po druhém, nebo se jich zbavte. Zjistěte, co z toho vám víc prospěje.</p>
<p>Viděl jste někoho mezi šesti miliardami lidí, kdo by měl všechna svá přání splněna? Potkal jste někdy člověka, který by řekl, že je spokojený, že už nemá žádná přání, ať to byl král nebo sedlák ?</p>
<p><strong>Co tedy dělat ?</strong></p>
<p>Moudrý muž si uvědomuje, že splněním tužeb je jejich zničení. Když jste zvolil touhu a splnil ji, trvalé štěstí vám to nepřineslo. Zvolte tedy jinou touhu, a opět vám nedá štěstí.</p>
<p>Abyste si splnil přání, potřebujete k tomu štěstí. Lásku a štěstí. Odmítněteo tuto chvíliedstavu, že vás splnění tužeb učiní šťastným. Nechte je čekat. Odmítněte všechna přání a kam se v příštím okamžiku dostanete ? Je to utrpení nebo štěstí ?</p>
<p>(Mlčení)</p>
<p>Mluvíte o odříkání. Odříkáte se v současné době, právě v tomto okamžiku. Své zavazadlo můžete zvednout později, to nehraje roli. Věnujte v tomto okamžiku čas sobě. Když vám to nebude vhod, jděte zase zpět! Jen na chvíli nemějte nic společného se všemi těmi zástupy tužeb.</p>
<p>Je-li řada tužeb přerušena, je přerušena i budoucnost, protože budoucnost je samotnou minulostí. Dokud se nepujete v minulosti, nemůžete myslet na budoucnost. Nte tedy s minulostí nic společného. Alespoň na okamžik. Právě v tomto momentu! Jedinou vteřinu z vašeho čtyřicetého života! Spotřebujte jen jedinou vteřinu a podívejte se, jaký to má výsledek. Dívejte se sám.</p>
<p><strong>V tomto okamžiku tu nic není.</strong></p>
<p>Dobře, tedy jste to udělal. Jsem velmi šťastný. Teď, když jste to udělal, mohu k vám hovořit.</p>
<p>Tento moment nemá vztah k předchozím okamžikům. Říkáte, že tu v tomto okamžiku nic není. Jestliže tu nic není, kde je pak utrpení ? Trápení existuje tehdy, když jste s někým jiným, když tu je někdo druhý. Jen tehdy tady může být, protože jen tehdy je tu také strach z odloučení. Když potkáte člověka, když jste dva, je tu strach a utrpení. Z čeho? Z očení.</p>
<p>Když říkáte: "Nyní zde nic není", setrvejte v tomto okamž Podívejte se kolem a řekněte mi to okamžik míru, lásky a krásy, nebo není ?</p>
<p><strong>Všechno je tiché. Ale já stále cítím v pozadí strach, že se staré touhy vrátí.</strong></p>
<p>To znamená, že budete mít něco lepšího než tento okk, co vám může dát mír.</p>
<p><strong>Lepšího?</strong></p>
<p>Přijde něco jiného a vy vyskočíte z tohoto míru a skočíte zpět do něčeho jiného, co se již tlačí do mysli a co jste předtím odmítl, protože vám to mír nedalo. Budete snad tak bláhový, abyste se vzdal této lásky, tohoto míru pro něco jiného? Dokonce i králové odmítli pro mír své královny, své poklady a svá království, můj drahý. Odešli do lesa. Proč?</p>
<p>Jak můžete říci, že v této chvíli zažíváte mír a ticho, a pak chtít odejít zpět na smetiště ?</p>
<p><strong>Já nevím.</strong></p>
<p>Jestli nevíte, nedotkl jste se Toho. Nedotkl jste se onoho okamžiku, o kterém jsem hovořil. Nemějte žádné spojení s minulostí ani s budoucností a hleďte na sebe mezi nimi.</p>
<p>Vy jste to pochopil intelektuálně. To není k pochopení, je třeba se do toho ponořit.</p>
<p>Kvůli svým přáním potřebujete své tělo a potřebujete i ostatní těla. Sedíte na hořícím stromě. Když strom hoří, žádný pták na něm nesetrvá a odlétne. Proč stále sedíte, když všude kolem vás hoří? Vy spíte. Probuďte se!</p>
<p>Chtíč, hněv a lačnost jsou ohněm. Unikl někdo ohni?</p>
<p><strong>Mám rád prázdnotu, do které nás při tomto satsangu vedete, ale to nemůže být konec. Buddha a Osho říkali, že toho je víc.</strong></p>
<p>Existuje-li možnost dojít dál, pak to není konečné. To nejzazší je zde. Neexistuje cesta, místo ani určení. Toto je konečná pravda.</p>
<p>Nemusíte cestovat, nemusíte nikam chodit. Nic se nikdy nestalo. Nic se nestane, ani se nic neděje. To je svrchovaná pravda.</p>
<p>Kdyby tu byla nějaká cesta, musela by existovat i předst Místo a určení jsou představy. Buddha je představa. Abyste je vytvořil, musíte nejprve vytvořit své tělo. Pak stvoříte všechny ty osobnosti, o kterých mluvíte. Nejprve tu je vytvoření vašeho těla a potom všech těl ostatních.</p>
<p>Kde je tedy mysl? Touto otázkou se všechno hroutí. Žádné bytosti, žádné utrpení, žádné vazby, žádné osvícení ani cvičení, kterým se ho má dosáhnout.</p>
<p>Mluví-li někdo o vazbách a cestách vedoucích k osvícení, já o tom nic nevím. Po pravdě tu nesmí být žádná představa těla ani jakékoli bytosti.</p>
<p>Všechno vzniká, když vznikne mysl. Vzniká Buddha, vyrůstá strom Bódhi i osvícení. Zjistěte, kdo Buddha je.</p>
<p><strong>Jaké faktory směřují do svrchovaného příbytku Bytí, vědomí a Blaha?</strong></p>
<p>Těmito faktory jsou mysl, dech a intelekt. To je vše, co máte. Každý moudrý člověk ví, že mu tyto faktory poskytují mír, nebo utrpení.</p>
<p>Jsou-li nasměrovány k něčemu neskutečnémuedměty jsou pomíjivé, neskutečné, netrvaléijde utrpení. Ať jsou však namířeny jakýmkoli směrem, nacházejí nakonec jen Bytí, Vědomí a Blaho.</p>
<p>Jste-li přitahován k nějakému vnějšímu objektu, také hle blaho nebo mír. Nenajdete je však, protože je tento objekt stvořením, odrazem vaší vlastní mysli. Ve skutečnosti neexistuje.</p>
<p>Představte si, že vidíte svůj vlastní stín a zamilujete se do něho. To vám nepomůže. Musíte najít skutečnou Bytost a nasměrovat ji k jejímu vlastnímu zdroji. Pak nastane mír.</p>
<p>Tak jako vám sluce nakreslené na zdi nedá světlo, tak vám nedají mír ani odrazy vaší vlastní mysli. Světlo musíte hledat u jeho zdroje, a ne u namalovaného obrazu slunce nebo svíčky.</p>
<p>Mysl, dech a intelekt musí být nasměrovány ke svému zdroji. Jen tam je mír a spočinutí.</p>
<p>Bytí, vědomí a Blaho pak na sebe vezmou podobu gurua, učitele, mistra, který vás může naučit znát Já. Nemůže existovat učitel odlišný od Bytí, vědomí a Blaha.</p>
<p>Pokud toto nasměrování ztratíte, hromadíte objekty. Jejich prostřednictvím nezískáte ani mír, ani lásku, ani svobodu. Jak to udělat? Musíte se obrátit směrem ke zdroji: tam, kde je blaho, svoboda a bytí. Musíte se odvrátit od svých odrých obrazů.</p>
<p>Jak to provést? Zůstat tichý. Očištěný intelekt. Ryzí intt. Očištěná mysl bude schopna se vrátit do svého zdroje. Jste-li zaměstnán předměty "chci toto a toto ", vede vás to od zdroje pryč.</p>
<p>To, co ve skutečnosti chcete, je mír a láska. Vrátíte se tam, odkud jste přišel a kde nyní jste. Trápí vás jen vaše bláhová mysl, nečistý intelekt a vásany. Musíte zůstat tichý a setrvat v satsangu svého vlastního Já. Utište mysl a udržujte ostrý intelekt. Poskvrněný intelekt nikdy nemůže pochopit.</p>
<p>Nemyslete - a váš vlastní átman, paramátman, bude působit jako váš guru, vy od něj nejste odlišný. Vy si to jen myslíte vinou miliony let starého klamu, letitého zvyku hrát roli. Nyní je konec! Vraťme se domů.</p>
<p><strong>Když slyším, jak říkáte: "Opusťte všechna jména a tvary“ zmocňuje se mne panika.</strong></p>
<p>Proč panika?</p>
<p><strong>Protože se snažím je podržet. Myslím, že bych měl.</strong></p>
<p>Ne, ne. Panika je dvojího druhu. Za prvé máte bolest, protože ztrácíte jméno a tvar, ačkoli byste chtěl obojí pod. Zmocňuje se vás panika z toho, že byste nezachoval jméno a tvar.</p>
<p>Jiný druh paniky může vzniknout, když slyšíte, že nejste ani jménem, ani tvarem. O co jde? Bojíte se toho, že jste beztvarý?</p>
<p><strong>Jo. Myslím, že se bojím, že umřu v tomto ...</strong></p>
<p>Dobře. Už je to jasné. Bojíte se, že když nebudete mít jméno a tvar, zemřete. To tedy je panika.</p>
<p>Když jdete večer spát, máte strach z toho, že opouštíte jméno a tvar? Řekněme, že jdete spát v 11 hodin večer. Jste ještě v 10 hodin 59 minut a 59 vteřin v pořádku? Nemáte strach?</p>
<p>Můžete být ve společnosti příjemných a drahých přátel, v prostředí nádherné přírody, vodopádů a lesů. Můžete být ve stejné posteli, ale nyní se oddělíte. Ne od přátel a těla, ale ode všech jmen a tvarů.</p>
<p>Proč chodíte spát? Protože vám to poskytuje odpočinek, dává to klid vaší mysli. Kdybyste několik nocí po sobě neodpočíval, byl byste někde jinde, ale ne na satsangu. Kdybyste nespal, kdybyste několik dní nevyužíval tohoto stavu bez tvaru, byla by vaše mysl velmi pobouřena. Proto musíte spát. To znamená, že musíte zapomenout jméno a tvar. Ráno můžete říci: "Dobře jsem spal. Nezdál se mi ani jeden sen. Na nic se nepamatuji." Kdo si to byl vědom nepřítomnosti jména a tvaru a je přesto šťasten? Kdo se to radoval ze stavu bez jména a tvaru? Říkáte, že jste nebyl během spánku vědomý. Kdo si byl vědom spánku? Zjistěte to nyní.</p>
<p>Dovolte mi, abych vám řekl, co postrádáte. Nechal jste se vždycky slepě okrádat. Kdybyste ustavičně myslel, zbláznil byste se. Víte to? Šílení lidé, paranoici, schizofrenici, myslí neustále.</p>
<p>I mezi dvěma myšlenkami je mezera, která vám skýtá odpočinek. Co to je ten odpočinek mezi dvěma myšlenkami nebo dvěma dechy? Příroda vás stále vede zpět k odpoči doporučuje vám, abyste odpočíval, ale vy o tom nevíte. Neslyšíte radu Svrchované Matky. Odpočinek je velmi přirý a vy na to neberete zřetel.</p>
<p>Uvedu vám tři body: spánek a stav mezi spánkem a prením, vzdálenost mezi myšlenkou a myšlenkou a vzdost mezi dechem a dechem. Nuže, vdechujte, ustaňte a dívejte se. Vdechování ustalo. V tomto okamžiku mi řee, kdo jste. Kdo je ona osoba, jež si je tohoto bodu vědoma?</p>
<p>V tomto okamžiku odmítáte vše, abyste poznal své Já. Od svého zrození až do smrti žijete pro druhé. Dokonce už před vaším zrozením vás vaši rodiče očekávali. Jakmile jste se narodil, již jste jim patřil.</p>
<p>Mohl byste nyní vyšetřit alespoň pár okamžiků výhradně pro sebe? Nechte být všechny definice. Ihned po narození jste byl vlastněn. Potom přišel nějaký kněz, aby vás zasvětil do své církve nebo sekly. A pak jste patřil onomu náboženství.</p>
<p>Ve skutečnosti jste nejen Božím synem, ale samotným Bohem. Kdo však zná toto náboženství? Vy opravdu nemáte o náboženství představu. Jste čisté, neposkvrněné, vědomé Já. Jste svoboda sama.</p>
<p>Kdosi na vás uvalil náboženství a vy jste to docela dobře přijal. Říkáte: "Jsem takový a takový a patřím k této církvi." Svou podstatou jste věčně svobodný. Nemáte vůbec žá církev ani sektu.</p>
<p>Pak se ale stanete studentem, manželem, otcem dětí. Přichází podvečer života. Když onemocníte, lékař řekne: "Vy jste můj pacient."</p>
<p>Smrt. A potom i postoj truchlících: "To je můj zemřelý." Není to legrační ?</p>
<p>Potom je tu hrob. V žádné z těchto epizod vám nebyl ponechán jediný okamžik času jen pro vás. Jak můžete být šťasten? Je tu tedy sansára a bude trvat. Tak skutečná jako nic jiného! Protožeědomte si to to vaše vlastní projekce. Je to vaše vlastní strašidlo. Strašidlo je velmi skutečné pro dítě, ale ne pro moudrého člověka. Strašidlo sansáry je pro vás skutečné. Utrpení rovněž.</p>
<p>Nakonec musíte učinit rozhodnutí. Toto lidské zrození je velmi šťastná doba. Kolík existuje mravenců? A kolik ryb nebo moskytů? Celých šest miliard lidských bytostí. Jen málo z těchto šesti miliard touží po svobodě. Ostatní jsou ztraceni.</p>
<p>Těch pár, kteří touží po svobodě, přichází na satsang. Pak se někteří z nich rozhodnou: "Proč si cestou nezatančit?" Tak znovu ztratí sílu své mysli. Ztratí tuto hru, protože jejich rozhodnutí nebylo správné. Jejich volba nebyla dobrou volbou. Nebyla dost silná. Musí to být velmi silné rozhodn "Tady a teď dosáhnu svobody."</p>
<p>Neukládám vám žádnou těžkou práci. Neukládám vám sádhanu ani cvičení. Nedávám vám k naučení žádné knihy. Jenom zůstaňte tiší. To je vše. A jestli nedosáhnete svobody, pak si stěžujte. Přijďte ke mně a řekněte: "Byl jsem tichý a k ničemu to nevedlo", ano?</p>
<p>Kdykoli začínáte něco dělat, musí být ve vaší mysli skryta nějaká touha.</p>
<p><strong>Vidím, jak v prádelnách perou prádlo. Jak mohu očistit svou mysl ?</strong></p>
<p>Chcete pro svou mysl nějakou pračku?</p>
<p><strong>Ano.</strong></p>
<p>Touto pračkou je satsang. Smyslem satsangu je spálit všechny zbytky vaší karmy, které vás donekonečna vtahují zpět do koloběhu zrození a smrtí.</p>
<p><strong>Když je toto provedeno, stále ještě existuje cosi, co pozoruje. Nějaké strašidlo, které je třeba odstranit. </strong></p>
<p>Z nitra vědomí přichází představa „jsem podmíněný". Podmíněná a nepodmíněná bezmeznost. I v hlubinách musíte sestoupit hlouběji. Být oproštěn od fantomů znamená, že se musíte nořit stále dál. Když odstraníte vše, shledáte, že tu je jakýsi původní bod. </p>
<p>Kdysi, před dávnými časy,byla mysl nepodmíněným vědomím. Podmíněné vědomí je stále ještě vědomí. Mysl a vědomí mají tutéž barvu. Jak tedy odstranit podmíněnost? Ať jste kdekoli, bude tam nějaká podmíněnost. Ať dosáhnete jakékoli hloubky, stále zde ještě bude nějaká podmíněnost. Jaká podmíněnost? Musíte pokračovat dále. Projdete mnoha jemnými stádii. Fyzickým, vitálním, jemným, atd... </p>
<p><strong>Jak najdu intuici? </strong></p>
<p>Pro intuici se ponořte do svého nitra. Ponořte se nyní dovnitř. Pak dovolte, aby intuice pracovala místo mysli. Mysl potřebuje výuku a učitele. Proto když směrujete svou mysl k jejímu zdroji a nemyslíte, objeví se intuice, pradžňa, a bude pracovat daleko lépe než myšlení. Převezme činnost vaší mysli, intelektu, smyslů, předmětů i každodenní rutiny. </p>
<p>Nejdřív se musíte vrátit. Nasměrujte svou mysl k jejímu zdroji a nemyslete. To je předpis na moudrost, na intuici. </p>
<p>"Chci udělat to nebo ono", "rozhodl jsem takto" - to je mentální gymnastika, která vede k utrpení. Vyzkoušejte si obě cesty. Nejprve zkuste "budu konat". Potom nechte Svrchovanou Sílu, která je odpovědná za veškerý projev a která poskytuje světlo slunci a sílu zemi plodit potravu, nechte tuto sílu, ať se o vás postará. Myšlenka "mohu toto udělat" je opovážlivostí a pýchou. Nevrátíte-li se zpět ke Svrchované Matce, která vás sem z nějakého důvodu poslala, ztratil jste směr. Nevadí, ještě je čas. Ještě to můžete udělat.</p>
<p>Vaše svrchovaná touha vrátit se domů, je jediným požkem, který musí být splněn. To se odhalí samo, okamžitě, tehdy a tam. Děti si staví na pláži hrady z písku. Jsou zabrány do své hry a nechtějí slyšet o návratu domů. Ale jejich rodiče řeknou: "Je večer. Pojďme domů."</p>
<p>Rodiče děti napomenou a ony své domy z písku rozboří. Radují se stejně, když je boří, jako když je stavěly. Odcházejí domů bez jakéhokoli pocitu ztráty nebo utrpení.</p>
<p>Přichází noc. Nemůžete setrvat ve svém domě z písku. Nemůžete tam zůstat, protože v noci bude silný příliv, který smete všechny vaše plány i domy.</p>
<p>Je tedy lepší se před přílivem vrátit na bezpečné místo.</p>
  <div id="book-navigation-37" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/meditace" class="page-previous" title="Přejít na předchozí stranu">‹ Meditace</a>
                    <a href="." class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/past-kterou-kladou-smysly" class="page-next" title="Přejít na další stranu">Past, kterou kladou smysly ›</a>
          </div>

  </div>

<%= partial '/knihy/procitni-chechtej-se/content' %>
