---
title: Povaha Já
date: 2010-01-22 23:42
layout: book
comments: false

---

      <p>Obraz slunce se může odrážet v tisíci zrcadlech. Je však jen jediné slunce, které září ve všech. Odrazy mohou být rozličné. Slunce je stejné. Slunce je jedno a září ve všem, v každém atomu. Stejné. Vědomí je stejné. Může se jevit jako pták, zvíře nebo strom, skála nebo člověk. Když si uvědomíte TO, nebudete trpět. Budete se radovat. Když jste vším, nic nepotřebujete. TO je absolutní, úplné, dokonalé. Všechno je prázdnota. Všechno je vědomí. Nedovolte, aby vzniklo "já" a hned uvidíte, kdo jste. Budete žít velice dobře. Jaká je nyní vaše zkušenost?</p>
<p><strong>Prázdnota.</strong></p>
<p>A co vzniká z prázdnoty a zase se do ní vrací.</p>
<p><strong>Prázdnota!</strong></p>
<p>Ano. Velmi dobře. Takže, když užíváte slova "já", odpovídá to naprosté prázdnotě. Nebude tedy existovat ztotožňování se zánikem nebo vznikem. Budete velmi dobře vědět: Je to v mém nitru. Celý vesmír vzniká a zaniká v mém nitru. Kde je nyní zármutek nebo utrpení, když celý vesmír vzniká a zaniká ve vás?</p>
<p>Někdo se vás ptá: "Kdo jste?" Odpovíte-li: „Jsem Nicholson, jsem Thompson, jsem Wolfgang atd.", pak skutečně na tuto otázku odpověď neznáte. Ptejte se prostě sám sebe: "Kdo jsem já?". Obvykle když sám sebe identifikujete, obracíte se ke svému tělu. Jak jste se stal tím, co se mění?</p>
<p>Dětství přichází a najednou je pryč. Změna. Říkáte: "Když jsem byl dítě... hrál jsem si... chodil jsem do školy."</p>
<p>Pak přišlo mládí. Už ne dětství. Někdo se stal mladým člověkem. Řeknete: "Stal jsem se mladým mužem s novými povinnostmi..."</p>
<p>Nyní však odešlo i mládí. Nastává stáří. Prožil jste zkušenosti dětství a mládí, ale stáří vám nedá zkušenost, na kterou byste mohl hledět zpět. Nemůžete říci: "Když jsem byl starý." Věk stáří vás odnese.</p>
<p>Co se mění ? Mění se tělo. Od dětství k mládí. Od mládí ke stáří. Stáří se mění v nemoci a ty ve smrt. Tím je tento kruh uzavřen.</p>
<p>Vy však zůstáváte stejný. "Když jsem byl malý. . . když jsem byl mladým mužem... když jsem starcem...“. Já zůstává neměnné. A Já je jedno a totéž ve všech! Každý říká "já".</p>
<p>Těla jsou různá. Já je stejné. Ve všech bytostech existuje jen jedna absolutní skutečnost, která se nemění.</p>
<p>Ztotožněte se tedy s tím, co se nemění. Ne s tím, co se rodí a umírá. Jak jste se vy, který jste neměnný, ztotožnil s tím, co se mění. Neztotožňujte se s tím, co se mění, s tělem, ale s Já.</p>
<p>Po všechna ta léta, generaci za generací jste toto Já ztotožňoval s tělem, myslí, s egem, se smysly a s projevem. Nikdo vám neřekl, abyste poznal, kdo je toto Já.</p>
<p>Je to tak prosté. To, co se nemění, je nesmrtelná pravda, věčné štěstí, je to blaho, vědomí a existence, pro něž změna neexistuje. Jak je tedy možné, že místo, abyste se ztotožnil s věčným štěstím, ztotožňujete se s tím, co se mění, trpí a znovu a znovu umírá?</p>
<p>Sešli jsme se, abychom zjistili, jak se zbavit ztotožňování se s tím, co se mění a jak se ztotožnit s neměnným a zůstat beze změny. Jaká v tom může být potíž? Prostě to trpělivě zkoumejte, kdykoli, nyní, v tomto životě nebo v životě příštím. Dokud tuto otázku nerozřešíte, nebudete šťasten. Možná, že jste se s touto otázkou nikdy nesetkal. Vždy jste kladl otázky druhým. A druzí se ptali vás. Tato otázka se však nikdy neobjevila. A možná, že bude i samotnou odpovědí!</p>
<p>Musíte však být opravdový. Jestli tuto otázku nedokážete vyřešit, chybí vám upřímnost.</p>
<p>Můj učitel opustil svůj domov, když mu bylo sedmnáct let. Žádný výcvik, žádné studium. Když jsem ho po létech potkal, řekl: "Vy jste Bůh sám. Jste Bůh."</p>
<p>Neměl jsem o tom nejmenší pochybnost. Mezi dokonalým učitelem a žákem, který je skutečně kvalifikovaný, zasloužilý a poslušný, je to záležitost minut. Žádné cvičení nepotřebujete. Jak daleko od vás může vaše Já být ? Jak daleko je Já od vás, že tu musíte dostat nějaké cvičení. Kdyby tu nebylo, pak byste ovšem nějaký prostředek potřeboval k tomu, abyste se k němu vzduchem, po silnici nebo po vodě dostal. Ono však je uvnitř. Uvnitř nitra. Blíž než váš dech. Je tam, kde dech vzniká.</p>
<p>Co potřebujete dělat? Pouze se vzdejte svého úsilí. Na to, abyste se něčeho zmocnil, potřebujete úsilí. Musíte vyvinout úsilí, abyste si něco představil. Ale kvůli tomuto si nemusíte nic představovat, protože to je zřídlo, ze kterého tryská samotná představivost. Je to místo, kde vzniká samotná myšlenka, tak co si o tom můžete myslet? A nemáte provádět ani žádná cvičení, ani cestovat ani určovat svůj osud.</p>
<p>Především odstraňte všechny tyto představy. Nechť je vaším záměrem něco jiného než cvičit nebo odkládat. Pak zažeňte vše, co vám přichází na mysl, včetně myšlenek o svobodě nebo osvícení, i myšlenek o jejich hledání a dosahování. Ve vaší mysli nesmí vzniknout ani pojem hledání.</p>
<p>MLUVÍM O OSVOBOZENÍ OD VAŠICH PŘEDSTAV O VÁS SAMOTNÝCH.</p>
<p>Nikdo vám nemůže nic dát. Toto je vaše vlastní věc. A vy ji musíte vykonat. I když ji odložíte, kdybyste ji odložil o miliony let - na jejich konci ji musíte vykonat.</p>
<p>Když víte, uvědomíte si, že vůbec neexistoval spánek, nevědomost ani temnota.</p>
<p>Kde je tma, když přišlo světlo? Kde je nevědomost, když přišlo poznání? Kde je potom provaz a kde had? Kde je přelud, když zmizelo nepochopení?</p>
<p>Všechno to jsou výtvory mysli. A vy jste je všechny stvořil svou představou.</p>
<p>Co to je představivost? "Nejsem toto. Nejsem absolutní svoboda. Nejsem absolutní existence." Ztotožňujete se s něčím, co netrvá, co není neměnné, co není věčné. To je odklad.</p>
<p>Takový odklad je jako mlýn, mele dnem i nocí. Mlýn pracuje a drtí všechny bytosti jako zrna. Mlýn pracuje, kameny se pohybují a bytosti jsou drceny.</p>
<p>Tu a tam se někdo vyskytne - jeden nebo dva - kdo je v bezpečné blízkosti mlýnské osy, kde jej rozdrtit nic nemůže. Vše, co je od centra, od Já, od Absolutní existence vzdáleno, musí být rozdrceno.</p>
<p>Toto vědomí bez subjektu nebo objektu musíte odhalit. Je to vaše vlastní vědomí a nazývá se svoboda ode všeho.</p>
<p>"Já" vzniká a chová se, jako by bylo vědomím. Vzniká ego a svět. Ego se oddělí od Já a samo sebe prohlásí za soběstačné. Z toho vznikají všechny potíže. Toto ego vzniká z vědomí a chová se přitom, jako by bylo od vědomí odděleno (Směje se.).</p>
<p>Vezme na svá ramena odpovědnost a nedá vám klid, neposkytne štěstí ani radost. Místo toho hledáte štěstí v předmětech. Všechny tyto představy vznikají ze špatné představy o "já".</p>
<p>Když toto "já" hledáte, zmizí a zůstane čisté vědomí. Nikoli "Já jsem vědomý", ani uvědomování si nějakého objektu. Žádný subjekt. Žádný objekt. Žádný den ani noc. Žádná dualita. Žádné opaky. To je nejzazší poznání. Přebývat v něm znamená pomáhat všem.</p>
<p>To musíte realizovat předtím, než budete komukoli jinému pomáhat. Toto poznání je soucit. Nic jiného než toto. Nelze ho realizovat nijak jinak. Ani čtením či cvičením čehokoliv. Je vším. Toto poznání je svrchovaným poznáním.</p>
<p>Není dosažitelné žádnou činností. Jestliže něco děláte, je to získávání nebo dosahování prostřednictvím nějakého procesu. Každé cvičení je buď mentální nebo fyzické. Toto ale nezávisí ani na mysli ani na těle. Vše, co z toho pochází, je TO.</p>
<p>Toto poznání se odhaluje samo ze Sebe. Je vždy zde -všudypřítomné, vševědoucí, je to věčný mír - je to podstata Já všech. Je zde a vy se věnujete něčemu jinému. Proto říkám: "Buďte tiší." Dovolte, aby se Samo odhalilo sobě Samotnému. Nepotřebuje žádnou pomoc. Je samozářící. Září svým vlastním světlem. Nepotřebuje ničí svíci.</p>
<p><strong>Říkáte, abychom se dotazovali "Kdo jsem já ?" Říkáte ale také, že toto poznání nemůže být dosaženo slovy ani myslí. Můžete to vysvětlit ?</strong></p>
<p>Ano. I papoušci se mohou naučit říkat: "Kdo jsem já? Kdo jsem já? Kdo jsem já?" Dotazování, o kterém já mluvím, provádí Já a dotazuje se na Já.</p>
<p>Je to způsobeno nepochopením toho, že Já, které myslí, není Já. V mysli vzniká určitá pochybnost, že ,Já nejsem vědomí".</p>
<p>Tato pochybnost je jako vlna na oceánu vědomí. Čeho je třeba k tomu, aby se tato myšlenka vrátila zpět do oceánu, když už oceánem je?</p>
<p><strong>Někdy se objevuje "já " a myšlenky.</strong></p>
<p>Když "já" klesne do oceánu, je to to, nač jsme čekali. Žádné "já" tu už není. Vraťte se do oceánu jakožto oceán a pak žádné "já" nebude existovat.</p>
<p>Oceán tančí. Dívání se je tanec. To je celkové Já. Jednotlivé "já" je klamné "já", egoistické "já". Je tu i jiné Já. Úplné Já je oceán.</p>
<p>Já znamená úplné Já. Oceán jakožto vlny. Já jsem vlna. Já vznikám a zanikám. Z hlediska oceánu oceán vzniká a zaniká.</p>
<p>Vzdejte se svého ztotožňování se s individuálním "já", které jste dříve používal. Když tu je "já", jsou tu i ostatní: já, vy, on.</p>
<p>Toto "já" je úplným Já, když zmizí rozdíl mezi vlnami, čeřením, bublinami a příbojem. Vše je jediný oceán. Já nemá vzhledem k oceánu žádnou představu, žádnou oddělenost ani individualitu. Může to být velmi krásný tanec, jestliže mu člověk rozumí. To je úplné vědomí.</p>
<p><strong>Jak mám přestat usilovat ?</strong></p>
<p>Především zjistěte, kdo usiluje. Otázka: "Kdo usiluje?" vás povede k Já. Hned teď ! Najděte osobu, která usiluje.</p>
<p><strong>Já usiluji.</strong></p>
<p>O.K. "Já se snažím." Vraťte se zpět. ,Já se snažím" vás vede zpět k se a se k "já". Nyní jste u "já". Nyní mi řekněte, kdo se snaží?</p>
<p>Podívejte se za "já". Podívejte se pod "já". Hledejte zdroj "já". Nyní mi řekněte, z čeho "já" vzniká, kdo se snaží ? "Snažím se já" vás vrací zpět, tam, odkud jste přišel. Podívejte se hlouběji. Podívejte se na samotný zdroj, ze kterého "já" pramení. Podívejte se dolů. Řekl jste: "Jak se mám přestat snažit?" Podívejte se na zdroj "já", které se snaží.</p>
<p><strong>Jsem zmatený.</strong></p>
<p>Podívejte se na zdroj "já" a jaký zmatek tam je? </p>
<p><strong>Žádný.</strong></p>
<p>O.K. Teď jste tedy u zdroje "já". Řekněte mi: je tam nějaký zmatek?</p>
<p><strong>Ne.</strong></p>
<p>Co jiného tam tedy je? Řekněte mi nyní, kdo se snaží? Zůstaňte tam chvíli a dívejte se kolem, kde žádné "já" není a číhejte na myšlenku "já se snažím". Dívejte se kolem.</p>
<p><strong>Dívám se kolem a nevidím nic.</strong></p>
<p>Podívejte se na zdroj "já". Kde vzniká?</p>
<p><strong>Tady.</strong></p>
<p>O.K., tady. Buďte v samotném tady a podívejte se, co se dá dělat. Dívejte se kolem a pozorujte, kdo tu je, kdo je přítomen ve zde!</p>
<p><strong>Nikdo.</strong></p>
<p>Kdo se tedy potom snaží?</p>
<p><strong>Nikdo.</strong></p>
<p>Nikdo se nesnaží. Jestliže jste nikým, pak se nikdo nesnaží. Jaký tedy máte problém? (Smích)</p>
<p>Ať se nikdo nesnaží a ať nikdo neumírá, co vám na tom záleží? Co na tom záleží? Ať se nikdo nesnaží a ať nikdo neumírá. Vy nemáte žádný problém. Jaké je tu nyní podnebí? Je vám vhod? (Smích)</p>
<p><strong>Nikdo tu není.</strong></p>
<p>Jestliže tu nikdo není, je to mír. Když se sem vloudí nějaké tělo, je mír porušen. Když tu není žádná věc a když tu není žádné tělo, jste-li docela sám - není přítomna ani myšlenka - jak tento stav nazvete, neklid nebo mír?</p>
<p><strong>Mír.</strong></p>
<p>Co jste udělal, abyste byl až do okamžiku vyrušení v míru?</p>
<p><strong>Díval jsem se.</strong></p>
<p>Ano. Předtím jste se nedíval, a proto jste byl neklidný. Po milionech let neklidu se díváte, a nalezl jste mír. Dívejte se dále. Pojďte. Dívejte se znovu. Znovu se dívejte. Pojďte chvíli se mnou.</p>
<p>Nyní mohu vidět tvář. Ta tvář teď není neklidná. Výborně. Výborně. Tak dlouho na vás čekala. Kde jste se toulal? Nejlepší způsob, jak spatřit osvíceného člověka, je stát se sám osvíceným. Nesmíte se ptát na nic jiného, ale máte plné právo tázat se "kdo jsem já?".</p>
<p><strong>A co soucit s druhými ? Nemusí být na to dva ?</strong></p>
<p>Děkuje váš žaludek vašim rukám za to, že kladou do úst potravu? Když říkáte "já", máte na mysli každý jednotlivý vlas na svém těle? Když máte dvě ruce a dvě nohy, znamená to, že je vaše tělo rozděleno na části, nebo je to tělo jediné?</p>
<p>Aby žaludek děkoval rukám, musí tu být rozrůzněnost. Mít pocit soucítění také znamená rozrůzněnost. Ruce nesoucítí se žaludkem. Když "víte", že něco je soucitem, žádný soucit to není. To je potom učení misionářů o tom, jak soucitně konat, jaké by měly být ruce. To je omyl, ktery hlásají náboženství. Hlásají strach a trest před smrtí a nebe po smrti.</p>
<p>Nemůžete to pochopit myslí. Jenom zůstaňte tichý. Nechte, ať to přijde samo. Zůstaňte tichý. Hleďte, aby se vás v této chvíli nedotkla žádná myšlenka. A jste tu... vždy zde.</p>
<p><strong>Co když tu je myšlenka: Kdo jsem já?</strong></p>
<p>To je totéž.</p>
<p><strong>Totéž. (S pochybností) Jak...?</strong></p>
<p>Důraz je na Já. Když se vrátíte k Já, vše se rozřeší. Kdo a co se noří do samotného Já.</p>
<p><strong>Kdo a co možná, ale proč?</strong></p>
<p>Co, kdo a proč se rodí ze samotného Já. Já je jejich matkou. Najděte matku, samotné Já.</p>
<p>Dívejte se, kde se matka rodí. Vy jste zrozen z matky, co a proč se rodí z téže matky. Hleďte tam, kde se zrodila matka: dívejte se k babičce. Kde se narodila tato matka? Abyste našel matku, musíte jít k babičce.</p>
<p>Jak najít babičku, jak najít zdroj? Jenom se vzdejte úsilí. Vzdejte se úsilí jakéhokoli druhu, mentálního, tělesného, jakéhokoli.</p>
<p><strong>Tak se obrátím ke zdroji?</strong></p>
<p>Ne. Zdroj je už tady. Jenom se ptejte: Co je "já"? Když budete "já" zkoumat, zmizí. Když zmizí, vejde do svého zdroje, a když se ponoří do zdroje, stane se toto "já" ne-já.</p>
<p>Otázka zní, co je toto ne-já, v němž vše vzniká? Je tu všechno. Jsou tu i představy. V čirém, hladkém oceánu jsou vlny. Vlny, které tu nyní nejsou, mohou vzniknout. A to jste vy. Ztotožněte se a ponořte se do vody a vln. Voda se musí vnořit do vln a vlny do vody, protože jsou jedno a totéž. Mezi vodou a vlnami není rozdílu. Není rozdíl mezi oceánem a vlnami. Ani vy a vědomí nejste odlišní. Musíte si být vědom svého Já.</p>
<p>Když jste si vědom hory, stromu, trávy, osla, není to všechno ve vašem vědomí? To vše je vědomí. Jak se odlišujete od někoho jiného? Kdo jsou ostatní? Kde jsou ostatní? Ve vědomí?</p>
<p><strong>Není zde rozdílu.</strong></p>
<p>Ano, rozdíl je jenom představou mysli. Ve skutečnosti rozdíly neexistují.</p>
<p>Takže vaší nejlepší otázkou opravdu je: "Kdo jsem já?" To proto, že je to otázka subjektivní. Všechny ostatní otázky jsou objektivní.</p>
<p>Je to subjektivní otázka, kterou nikdo neklade. Každý se ptá: "Kdo jste vy? Kdo je on?" Nikdo nemá čas, aby se zeptal: "Kdo jsem já?" Nikdo.</p>
<p>Ten, kdo se ptá, je osvobozen od tohoto projevení, provždy osvobozen od koloběhu zrození a smrtí. A přitom existuje tak málo lidí, kteří zkoumají své vlastní Já. Ostatní to nedělají, proto budou trpět.</p>
<p>Málokdo tu a tam učinil krok ke zkoumání, našel odvahu se dotazovat. Není to vědění, dostávání, ani dosahování čehokoli. Je to realizace. Odhalujte. Musíte to odhalit, to je vše. Blaho už je tady a vy žebráte.</p>
<p>Když existuje klam, je podstata skryta za jménem a tvarem. Říkáte, že se jmenujete Susan. Myslíte si: "Vypadám tak a tak. Mám takovouto podobu. Můj věk je takový a takový. Patřím do této země. Náležím k tomuto pohlaví."</p>
<p>Toto tělo je podoba a Susan je jméno této podoby. Tím je zakryta skutečnost. Všude tam, kde je jméno a tvar, je klam. Jméno a tvar nejsou trvalé.</p>
<p>Do spánku vás jméno a podoba nenásledují. Položte si tedy otázku: "Kdo jsem bez jména a podoby?" Nejste tímto oděvem, tímto výdělkem ani těmito vlasy. Nejste tělo! Nejste mysl!</p>
<p>Co zbývá? Už je to tu. Nebytí je vykořeněno a zůstává Bytí, krása, věčnost. A to je to, čím jste vy.</p>
<p>Všichni spí. Když spatřujete cokoli mimo sebe, když vidíte dualitu, nazývá se to sněním. Předměty vidíte jen ve snu. Je-li tu něco druhého, je to sen a aby se sen dostavil, musíte spát. Spánek je nevědomost. Když se z tohoto stavu probudíte, probudíte se k vědomí.</p>
<p><strong>Od té doby, co jsem ve vaší blízkosti, nejsem si už docela jist, zda ještě bdím.</strong></p>
<p>Nevědět je dobré. Abyste věděl, musí tu být někdo jiný, aby věděl o vás nebo abyste vy věděl o něm. Zde jste sám. To je nejzazší pravda. Nikdy se nic neobjevilo a nikdy nic nezmizí. Jste sám. Toť vše. A toto osamění je někde jinde, než kde může slunce zářit nebo něco osvětlovat.</p>
<p>V každém jazyku kromě sanskrtu znamená "já" ego nebo nějakou zosobněnou individualitu. V sanskrtu Já znamená brahma, které nemá jiný význam než brahma. Jen brahma je samotné TO. Neptejte se po vysvětlení. Nelze to uchopit smysly ani myslí. Je to nedotčené a nevyslovitelné. Je to samotné TO. Nechte to tedy být.</p>
<p>Brahma je vše. Nemůže být definováno. Vše. Věčné. Je tím, v čem přebývá vesmír, v čem přebývámemy všichni. Je to ono brahma, jež dlí ve všech srdcích. V srdcích všech bytostí: lidí, zvířat, ptáků, mořských živočichů i skal. Brahma přebývá v každém srdci. A vše přebývá v brahma.</p>
<p>Z nějakého důvodu si představujeme, že jsme od brahma odděleni, tak jako si vlna představuje, že je oddělena od oceánu. "Jak? Proč?" Nechte to být. Nemluvme o tom.</p>
<p>Když sedíte. pod stromem a odpočíváte a spadne vám ze stromu na záda had, budete koukat na strom, ze kterého spadl? Nebo snad budete zkoumat, o jaký druh hada se jedná? Pokud to uděláte, bude na takovou analýzu příliš pozdě. Lepší je hada odhodit, jakmile dopadne.</p>
<p>Jsme od svého Já nějak odděleni. A velmi málo z nás, ze všech těch miliard lidí - pomiňme ostatní nespočetné druhy - velmi málo je těch, kteří chovají jediné přání - vrátit se domů.</p>
<p>Nuže, jaká je nejrychlejší možná cesta, abychom se dostali domů a nemařili čas? Mnozí z vás mi řekli, že strávili deset, dvacet, třicet let s mnohými učiteli. Hledali jste mír, svobodu, osvícení. A nic se nestalo. Říkáte: "Stále ještě nejsem svobodný. Četl jsem knihy, vyzkoušel všechny možné druhy mede a jógy. Nic se nestalo. A tak jsem to stále nedokončil."</p>
<p>Zde se nevyučuje žádná metoda, cesta ani terapie. Nejsou tu knihy, kterými byste se mohl zabývat. Skutečný cíl nemá se studiem knih nic společného. Knihám chybí zkušenost. Studiem žádné knihy zkušenost nezískáte. Jste zde, abyste zažíval přímo.</p>
<p>Můžete po mnoho let číst jídelní lístek... sedět v restauraci od rána do večera a číst si v něm. Povídat si s recepčním nebo se přátelit s číšníky, není to však ten pravý způsob. Správný postup je objednat si jídlo a sníst je. Když to uděláte, nemusíte už chodit do žádné jiné restaurace, protože jste to udělal. Měl jste přímou zkušenost.</p>
<p>Když jíte, konejšíte svůj hlad, který vás do restaurace přivedl. Přijdete-li do restaurace a budete-li jen číst jídelní lístek, váš hlad ukojen nebude. Když restaurace nabízí hliněné atrapy jídel, nemůžete je sníst. Jestliže to však uděláte, nebudete uspokojen.</p>
<p>Jste tu, mí drazí přátelé. Jsem velmi spokojen i s výsledky. Dostalo se mi velkého povzbuzení. Někteří lidé mi poskytli absolutní radost. Žádám však každého z vás, kdo je tu přítomen - a je vás tu dost z celého světa - abyste dávali světlo každému. I jediná zápalka dokáže spálit celý les nevědomosti. Zkuste tedy jednu zápalku, zápalku "jsem svobodný" a nevědomost bude okamžitě spálena.</p>
  <div id="book-navigation-37" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/vztah-k-uciteli" class="page-previous" title="Přejít na předchozí stranu">‹ Vztah k učiteli</a>
                    <a href="." class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/meditace" class="page-next" title="Přejít na další stranu">Meditace ›</a>
          </div>
    
  </div>
    