---
title: Požadavky pro satsang
date: 2010-01-22 23:34
layout: book
comments: false

---

      <p>Dřív než jde člověk učitele požádat o svobodu, musí mít určitou kvalifikaci.</p>
<p>Prvním požadavkem je rozlišování, což znamená rozlišovat skutečné a neskutečné. Toto rozlišování je podstatné. Musíte toužit po tom, co je skutečné a odmítat neskutečné. Skutečná může být jen pravda. Vaše vlastní Já. Mimo ně není nic. Vše ostatní je klam.</p>
<p>Druhým požadavkem je zbavit se touhy po smyslových potěšeních.</p>
<p>Třetí podmínkou je vzdát se tělesné a mentální karmy. </p>
<p>Čtvrtou podmínkou je intenzivní touha po volnosti. </p>
<p>Pohleďte na těch několik málo probuzených a uvidíte, že tyto požadavky a podmínky splňují. Máte-li tyto schopnosti, jste připraven sedět s učitelem. Dokonalý učitel je ten, který sám sebe realizoval. Jen přebývání s dokonalým učitelem má hodnotu.</p>
<p>Tak jako penězoměnec zkoumá své zlato, tak i vy máte právo zkoumat svého učitele. nenechte se oklamat. Když jdete do supermarketu, vybíráte si, co koupíte. Proč byste neměl být ještě pečlivější při volbě učitele?</p>
<p>Toto je věk kalijugy, věk temnoty. Klam může existovat všude. Většina učitelů jsou učitelé falešní a většina hledajících jsou falešní hledající.</p>
<p>Mnozí říkají: "Toužím po svobodě", ale kvalifikaci je nutno získat dřív, než člověk dostane satsang.</p>
<p>Protože jste zde, předpokládám, že máte schopnost rozlišování. Pokud jde o druhou podmínku, odmítnutí tužeb, ani vás nežádám, abyste potěšení opustili. Někteří lidé jsou nakloněni všem druhům smyslových potěšení, a já si nemyslím, že budou úspěšní. Můžete mi jmenovat jediného člověka ponořeného do smyslových potěšení, který by se stal osvíceným?</p>
<p>Pokud jde o karmu, dovolte mi o ní a o životě ve světě vyprávět příběh. Byla jednou mladičká princezna, která toužila po svobodě. Rozhodla se navštívit světce, ktery žil v doškové chaloupce na okraji města. Nikdo nevěděl, co princezna podniká. V noci, když všichni spali, vstala a vyklouzla ven, aby strávila hodinku se světcem.</p>
<p>Jeden z přátel řekl jejímu bratrovi: "Vídám v noci vaši sestru. Kam chodí ?"</p>
<p>Bratr odpověděl: "Nechodí nikam, spí tady."</p>
<p>Zůstal však vzhůru a hlídal. O půlnoci viděl, jak sestra vstala, vyšla z domu a míří ven z města. Šel za ní s puškou. Cítil, že kdyby se dívka s někým setkala, zastřelil by je oba jedinou ranou.</p>
<p>Když vstoupila do domku, mudrc rozsvítil a řekl: "Pojď dál a sedni si přede mne. Dnes je poslední den. Dnes ti dám svobodu." Mezitím viděl bratr zvenčí svou sestru s cizím mužem. Bratr nebyl hledajícím. Přišel za jiným účelem. Zamířil, aby oba dostal jednou ranou.</p>
<p>Mudrc vyslovil jediné slovo, které učitel předává žákovi v nejpřísnější důvěrnosti. Když tajemství vstoupí do žákových žil, je po všem. Guru vyslovil slovo a venku začal někdo tančit! Světec dívku pokáral, že s sebou někoho přivedla. Bránila se a tvrdila, že nepřivedla nikoho.</p>
<p>"Jdi tedy a podívej se, kdo to tam v extázi tančí." Dívka vyšla ven a nalezla tam svého bratra. Objali se a on jí padl k nohám, aby jí poděkoval.</p>
<p>Zázrak se stal prostě proto, že byl v dobré společnosti a uslyšel slovo. Ten muž nebyl v tradičním smyslu slova kvalifikován. Když mířil, neměl jiné přání, než aby oba zastřelil. Zamířil jednobodově na osvícení a výsledkem byla extáze a vděčnost.</p>
<p>Vaše společnost musí odrážet vnější čistotu. To je absolutně důležité. Vnitřní čistotou je intenzivní touha po svobodě.</p>
<p>Podstatná je úcta. Máte-li diamant, nechovejte jej v plastickém sáčku. Musíte mít obal, jaký odpovídá jeho vzácnosti. To je úcta. Musíte ctít všechny bytosti. Nečiníte-li to, jste nadutý.</p>
<p>Každý je nejprve nadutý. Nikdo není pokorný. Ego je arogancí a had arogance uštkl všechny bytosti světa. I bohy. Cítíte-li, že jste nadutý, je satsang to správné místo k odstranění nadutosti. Je to velmi prosté.</p>
<p>Základem nadutosti je myšlenka "já jsem tělo", "toto je mé, chci toto", "patřím tomuto", "toto patří mně". Všechny tyto myšlenky jsou projevem arogance. Většina lidských bytostí je do arogance ponořena. To je důvod, proč jim je satsang k ničemu. Jste-li nadutý, popíráte svou vlastní podstatu Já, podstatu krásy, blaha a svobody. Jste-li nadutý, nemůžete mít mír.</p>
<p>Jste-li skutečně připraven zbavit se arogance, jděte na satsang, přistupte velmi pokorně k učiteli a zeptejte se: "Pane, jak mám odstranit nadutost?"</p>
<p><strong>Pokora znamená i jen říci "jsem arogantní" ?</strong></p>
<p>Kdo říká "jsem nadutý" jako první ? Slyšel jste někdy někoho říci o sobě, že je arogantní ? Každý říká "vy jste arogantní". Jste-li arogantní, jsou mír a blaho skryty. Když realizujete mír a blaho, skryje se arogance. Zamilujte se tedy do míru.</p>
<p>Zjistěte, kdo skutečně jste a nadutost bude odstraněna. Zde a nyní poznáte samotnou svou božskou podstatu. Nepohněte myšlenkou! Nevyvíjejte žádné úsilí a žádná nadutost nebude existovat. Popřejete-li místo myšlence "udělal jsem toto, toto patří mně, zítra musím...", pak jsou všechny tyto myšlenky pýchou! Vy nemůžete udělat nic. Nic nespočívá ve vašich rukou. Vytrvale se dotazujte: "Kdo jsem já?" Přidržujte svou mysl u této otázky.</p>
<p>Nyní jste tím, co myslíte. Jaké jsou vaše myšlenky, takové je vaše bytí. Je-li vaše mysl prázdná, není důvodu pro další zrod.</p>
<p>Nikdy nekončící věčný satsang již probíhá od doby před vznikem tohoto vesmíru a potrvá i po zničení světa. V satsangu odhaluje krása sama sebe.</p>
<p>Ten, kdo je nadutý, však nespatří ani záblesk. Nikdo, kdo je arogantní, ji nemůže spatřit, protože tato krása je tak neposkvrněná, cudná, tak panenská, že i pouhá myšlenka ji spatřit je překážkou v její realizaci.</p>
<p>Musíte se tedy stát takovým, jako je To. Tak nahým, tak neposkvrněným, tak panenským, jako je To. Pak můžete přijít. Jednota, krása, láska a láskyplné setkání jednoty, krásy a lásky.</p>
<p>Neexistuje nikdo, koho by bylo možno spatřit, pocítit nebo k němu mluvit. To je satsang.</p>
<p>Máte-li bystrou mysl, stačí jediné slovo během satsangu. Satsang není pro hloupé a zkažené lidi. Je pro lidi velmi bystré, velmi upřímné, velmi čisté, velmi svaté.</p>
<p>Pravda svatého člověka povznáší. To je pravda. Žádný kompromis. Je to pravda, která se vás zmocní. Je to pravda, která vás obejme. Musíte se stát tak krásným, že vás políbí.</p>
<p>Jediná vina a nebudete hoden být obejmut a políben. To je neposkvrněnost. Pravda bude vaším milencem. Neschovávejte se. Neschovávejte nic.</p>
<p>Jak vás může váš milenec uchvátit, jste-li zavázán někde jinde? Jste-li v oblasti červeného světla, nemůžete tento neposkvrněný vztah se svým vlastním Já mít.</p>
<p>Na mnoha místech tohoto světa vás ukamenují, jestliže řeknete, že jste svobodný. Za výrok "jsem svobodný" byl k smrti ukamenován súfí Mansoul.</p>
<p>Jste šťasten, že žijete ve své zemi. Musel jste mít velké zásluhy, že jste se narodil ve svobodné zemi, kde můžete dělat, co chcete. Můžete žít, jak se vám líbí. Vystoupíte-li z církve, nikdo se vás na nic neptá. Jsou země, kde církev nemůžete opustit. Jsou celé země, kde se nikdo neodváží říci: "Chci být svobodný."</p>
<p>Máte šťastné dědictví, šfastné rodiče, štastnou zemi, štastný původ, a vy sám jste šťastný. Co víc potřebujete? Jen se na chvíli zadívejte do nitra a zjistěte, co tam je.</p>
  <div id="book-navigation-37" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/co-je-osviceni" class="page-previous" title="Přejít na předchozí stranu">‹ Co je osvícení</a>
                    <a href="." class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/vztah-k-uciteli" class="page-next" title="Přejít na další stranu">Vztah k učiteli ›</a>
          </div>
    
  </div>
    <%= partial '/knihy/procitni-chechtej-se/content' %>
