---
title: Romance Lásky skryté tajemnství
date: 2010-01-23 22:10
layout: book
comments: false

---

      <p>Nazývají to mírem. Nazývají to štěstím, láskou a krásou. A přece To je nedotčeno. Je to úplně mimo toto vše. Každý, kdo sem přišel, se do Toho ponořil. Žádná komunikace. Žádná mysl, intelekt ani smysly. A to je štěstí. Tvář štěstí uzříte, jen když tyto věci skončí.</p>
<p><strong>Osho mi říkal, že láska je Bůh. Jsem však překvapen, protože láska tu je jen tehdy, když se objeví Já.</strong></p>
<p>Ano! Tak to je! To je skutečně ono. (Smích)</p>
<p>Když zmizíte, je láska tu. Jinak místo Boha lásky panuje Bůh vásan, Bůh tužeb a chtíče.</p>
<p>Když zmizí mysl a intelekt, existuje věčná láska. Není tu milovaný ani milující. Je to mír, Šánti, Bytí, Vědomí. Říká se tomu láska, krása, blaho.</p>
<p>Není větší radosti než radost Sebe Sama. Není, kdo by se radoval a není nic, z čeho by se radoval. Je to radost bez jakékoli příčiny.</p>
<p>Zmizte na jedinou vteřinu a dívejte se, co se stane. Jen na jedinou vteřinu zmizte a podívejte se, co to je.</p>
<p>Pak se poprvé za třicet pět milionů let zamilujete do svého vlastního Já.</p>
<p><strong>Když jsem v přírodě nebo s podobně smýšlejícími lidmi, je mi dobře. Bojím se však, že až odsud odejdu, vrátím se ke starým zvykům mysli.</strong></p>
<p>Musíte stále soustřeďovat svou pozornost na střed svého srdce. Pak nebude mít každodenní činnost s vaším vnitřním dotazováním nic společného. Tak jako nemocný tubeózou, který jde s přítelem na oběd nebo do biografu, přitom nikdy nezapomíná, že má tuberkulózu. Zaměstnte svou mysl stále svobodou. To musí být náplň celého vašeho života. Nestačí sedět hodinu v meditaci.</p>
<p>Co ostatních třiadvacet hodin?</p>
<p>Musí to být čtyřiadvacet hodin uvědomění. Při jídle, spánku či chůzi. To je romance s vaším vlastním Já.</p>
<p><strong>Já ji cítím.</strong></p>
<p>Nikdy svého milovaného nezraďte, nebo to nebude opraá láska.</p>
<p>Byl jednou jeden princ, který všude viděl svého milovo. Líbal stromy nebo psa a miloval ptáky a lidi, až nakonec na milovaného zapomněl a sám se stal milovaným. To je láska.</p>
<p>V pravé lásce neexistuje milující ani milovaný, jen láska. Žádný subjekt ani objekt. Jen a jen láska.</p>
<p>To je milování.</p>
<p><strong>Rozhodl jsem se ponořit do moře vědomí.</strong></p>
<p>Je to jako když ryba v moři řekne: "Mám žízeň." Jakmile to jednou ochutnáte, jakmile to jedinkrát zahlédnete, již jste v Tom. Tak se toto vědomí stává hřištěm. Vše projevené a neprojevené. Vaším hřištěm budou miliony planet. Touha ponořit se do moře vědomí je tancem od planety k planetě. Ať tato touha trvá. Mně to nevadí, vidíte, že je to tanec. Nikdy neztratíte krok.</p>
<p>Mluvíme-li o vědomí, jste v něm okamžitě. Není tu oddosti. Potom je ta touha věčným tancem. A tento hlad po dalším zkoumání nezbadatelného vědomí není touhou. Je to něco jiného. Čím víc po něm toužíte, tím víc tu je, protože je nekonečné.</p>
<p>Tento hlad nespadá do kategorie tužeb po předmětech. Je to touha velmi, velmi důvěrná jako mezi blízkými přáteli. Jako mezi milujícím a milovaným. Nikdo nemůže zakusit nebo si představit, co se děje mezi vědomím a jeho mile. Je to kosmický tanec.</p>
<p>Mějte dál tuto touhu a nebudou žádné problémy. Je to mezi vámi a Ním. Nikdy nekončící touha. Ve všech jiných sférách touha skončí a vy se upnete k něčemu jinému. V tomto případě ne. Toto může být touha přicházející z druhé strany a vy můžete být přitahován v odezvě na ni.</p>
<p><strong>Cítím takové silné horko. Silný, plápolající oheň. Co to je?</strong></p>
<p>Přiložil jste k zásobám, které jste s velkou péčí a starostltí nahromadil, zápalku a zapálil je.</p>
<p>Tento oheň spálí všechnu karmu, takže se už v tomto utrpení nemusíte objevit. Viděl jste svou vlastní kremaci. Veškerá karma skončila. Tento požár je ohněm Poznání. Ego, mysl, smysly a potěšení jsou spáleny a pryč. Všechno je pryč. Tomu se říká oheň.</p>
<p>Ten, kdo zaživa spatří svou vlastní kremaci, je šťastný člověk. A sám přidává do ohně palivo, dokud není mrtvola docela spálena. A pak bude tančit. Říká se tomu Šivův tanec. Zvítězil a vše je skončeno. Už ani stopa po myšlence nebo touze. Vše skončilo v ohni. A teď přijde štěstí a vy budete tančit věčný tanec.</p>
<p>Lásce nemůžete uniknout. Jakmile jste se jí dotkli, jste ztraceni. Nikdy nebylo nic, co by jí uniklo. O vše se stará To a všechno se Tím stává. Když se řeka vlije do oceánu, není pro ni návratu.</p>
<p>Řeka, jež vstoupila do moře, se ptá: "Budu vždy taková?" Jak je to směšné.</p>
<p>Vlna se bojí. Chce navždy zůstat vlnou. Bojí se, že bude ztracena. Kam půjde? I když bude ztracena, kam by mohla jít a čím se stát?</p>
<p>Když je ztracena vlna tvaru, vrací se do svého zdroje. Byla, je a bude oceánem. Není tu představa času. Čas je jen v mysli nevědomého člověka. Ve světle a v moudrosti nstuje představa "jsem oddělený".</p>
<p>Vše je jednota, láska a krása. Nevědomost zmizela. Odtud není úniku.</p>
<p>Je to věčný život, je to nektar.</p>
<p>I když se stanete Tím, pracuje ještě jakýsi spodní proud, který se snaží pohybovat blíž a blíž k lásce. To nemohu popsat někomu, kdo tuto zkušenost nemá a kdo se mnou nebude souhlasit v tom, že to nemá konce. Je-li to nezmě je nezměrný i tento proces lásky. Nikdy neskončí. Stále poroste, tak jako spodní proud, jako řeka vtékající do oceánu.</p>
<p>Někdo řekne: "Je po všem. Nic víc nemusíte dělat." A žádná další zkušenost nenastane.</p>
<p>Já však cítím, že tu ještě je pohyb, protože to je nezměrné, nezměrné.</p>
<p>Ten, kdo někdy vešel do království, ten se nevrátil, ani aby odeslal fax. Žádný návrat, žádná informace ani popis. Rozpustíte se, vstoupíte do království a bude jen věčná láska, Bytí, vědomí, Blaho. Kdo o tom může něco říci?</p>
<p>Bytí znamená, že rozpustíte každý pojem nebo představu, kterou o království máte. Ať máte jakoukoli představu, bude rozpuštěna. To je vaše království, odkud není návratu.</p>
<p>Žádné slunce tam nikdy nesvítilo, ani měsíc, hvězdy nebo oheň... takové je to království. Takové je to místo. To místo je cílem pro každého. A to místo je zde a nyní.</p>
<p>Samotný vznik vaší touhy po svobodě je pro vaši zemi i rodinu požehnáním. Vy máte být požehnán svým vlastním Já, a to lze provést okamžitě. Nepoddávejte se žádnému strachu. Jen tiše seďte a tichý zůstaňte. Tato tichost je vaší podstatou a přivede vás domů. Jen prostě zůstaňte tichý. Jak je to těžké zůstat tichý? Nesmíte dovolit, aby vznikla jakákoli touha po čemkoli.</p>
<p>Učitel vám předá jen takovou nauku, kterou můžete přijmout, a pak vás pošle pryč a bude se dívat, co se stane. Opusťte tělo, mysl, ego, smysly a intelekt a mějte pevné přesvědčení: "Jsem Bytí, vědomí, Blaho." Nevypočítávejte to. O to jste se snažil už dřív a víte, že to nemělo úspěch.</p>
<p>Musíte se ponořit do existence a sjednotit se s ní. A pak se ponoříte do blaha.</p>
<p>Až sem vás může přivést učitel. Každý, kdo se sem dostane, je spokojen. Je toho ale víc. Existuje další část učení, jež je tak posvátná, tak tajemná, tak posvátně tajná. Kdo má klíč k tomuto tajemství? Nikdo neví.</p>
<p>Mohu vám však nakonec říci, že tu je ještě jedno tajemství. Nikdo se na ně neptal. Nikdy jsem neslyšel o nikom, kdo by se Tam dostal a ptal se.</p>
<p>Zde ta záležitost končí. Ve skutečnosti tu žádný konec není. Je to nezměrné a nikdo nikdy nezměřil hloubku. Byla změřena hloubka oceánů, oblohy, planet, hranice sluneční soustavy. Toto však dosud změřeno nebylo.</p>
<p>Čím dál jdete, tím raději to poznáváte.</p>
<p>Lidé říkají, že tuto transcendentální zkušenost nelze popsat. To však je to, co chci slyšet. Hovor z druhého břehu, popis nepopsatelného. Chci slyšet z ticha nějaké slovo, které ještě nebylo vyřčeno.</p>
<p>Lidé říkají, že to je mimo dosah slov. Já však popis miluji. Až dosud se mi nepodařil, ale vy jste mladí, můžete mi pomoci.</p>
  <div id="book-navigation-37" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/volba-totalni-smrti" class="page-previous" title="Přejít na předchozí stranu">‹ Volba totální smrti</a>
                    <a href="." class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                </div>

  </div>

