---
title: Vztah k učiteli
date: 2010-01-22 23:38
layout: book
comments: false

---

      <p>Podle tradice jde student za učitelem do lesa a řekne: "Prosím mistře, spaste mne. Trpím. Řekněte mi, kdo jsem?"</p>
<p>Učitel láskyplně odpoví: "Můj drahý synu, pojď, posaď se zde a já ti to povím."</p>
<p>Potom začíná zkoumání. Student se ptá: "Kdo jsem já?" a učitel mu řekne pravdu: "Ty jsi TO!"</p>
<p>Mluví pravdu a student chápe: „Já jsem TO!" </p>
<p>A vše je skončeno.</p>
<p><strong>Kdo je učitel ?</strong></p>
<p>Učitel je prám, ktery vás převeze na druhou stranu oceánu. Opravdový učitel vás přenese přes oceán sansáry. Vaše touhy jsou útočícími aligátory a krokodýly oceánu. Existuje nějaké přání, které vás nepohltí? Celý svět je pohlcen těmito aligátory připoutanosti a tužeb.</p>
<p>Osvobodíte svou mysl od vší připoutanosti, a budete samotným Bohem. Osvobozen od tužeb jste Absolutnem. O tom není pochyb. Jen na jedinou vteřinu se osvoboďte od touhy a uvidíte, jaký budete mít pocit.</p>
<p>V tomto okamžiku se zamilováváte do svého Já. Mír nemůžete najít v žádném předmětu. Přestaňte se honit za předměty a uvidíte. Celý svět se pachtí za předměty, aby nalezl mír. Mír však v žádných předmětech nalézt nelze. Přestaňte závodit a dívejte se.</p>
<p><strong>Jak je možné, že tento nejvzácnější ze všech skvělých klenotů dáváte každému, kdo vstoupí do dveří? </strong></p>
<p>Před třiceti lety se má matka ptala na totéž. Říkávala: "Podívej, házíš perly sviním. Jakou to má cenu?"</p>
<p>A dále ještě říkala: "Musíš člověka ohodnotit. Podívej se na všechny ty svámí. Lidé tráví celé své životy v jejich službách v ášramech a oni jim nic nedají, protože nic nemají. A ty, jakmile ti lidé přijdou, jim rozdáváš perly. Kdo zná jejich cenu?"</p>
<p>"Dávej si pozor," říkala. "Urči cenu člověka a pak mu dej, co potřebuje. Diamant není třeba věšet na hrdlo osla. Musíš hodnotit. Jen pak budeš vědět."</p>
<p>Co však dělám? Věřím, že lidské zrození stačí. Existuje šest miliard lidí. Spočítejte moskyty nebo ryby, červy nebo bakterie. Lidské zrození je vzácné a natolik šťastné, aby rozeznalo opravdový klenot.</p>
<p><strong>Občas jsem si vědom ...</strong></p>
<p>Občas! Co myslíte tím občas? To není správný výraz! Kde jste se to naučil? Do jaké školy jste to chodil, abyste se to naučil? Kdo byli vaši učitelé? Toto je jiná třída! Toto je třída, ve které není učitel: učitel nemá jazyk a studenti nemají hlavy na ramenou. Taková je to třída.</p>
<p>Kdybyste měl hlavu, musel byste jít někam jinam. Jděte třeba někam do řeznictví, kde hlavy utínají.</p>
<p>Víte, hlava je ego. Ego je zrození, jež míří k řezníkovi. Ten se o vás dobře postará. Já hlavy nechci. Já chci srdce. Existuje mnoho institucí, které potřebují jen hlavy. Já nepotřebuji, aby sem chodily nějaké hlavy. Odložte svou hlavu venku a pak mluvte. Promluví vaše srdce. Budete mluvit řečí lásky. Dovolte svému srdci, ať promluví. Nerušte je. Nechte je mluvit.</p>
<p>Vy mluvíte z hlavy. Zbavte se jí!</p>
<p>Vzpomněl jsem si na krásný příběh o Svatém Kabirovi. Měl sedmiletou dcerku, která se ho jednou zeptala: "Otče, denně k tobě přichází na satsang pět nebo šest lidí. Proč? Co je jejich cílem?"</p>
<p>Kabir odpověděl: "Přicházejí pro satsang. Hledat pravdu. Najít svobodu. Získat moudrost, osvobození."</p>
<p>Děvčátko řeklo: "Nevěřím, že to je tak, drahý tatínku. Nevěřím, že přicházejí pro osvícení."</p>
<p>Kabir neodpověděl.</p>
<p>Druhého dne stála dívenka venku. Každému, kdo chtěl vstoupit, řekla: "Dnes vás bude tatínek zkoušet. Dovnitř vás zavolá až po vyzkoušení. A právě kvůli tomu tady jsem já. Mám velmi ostrou sekeru. Položte hlavu na tuto kládu a já vám ji useknu. Ukážu ji tatínkovi a teprve po této zkoušce, budeli spokojen, budete pozván dovnitř." Nikdo z účastníků satsangu se nepřihlásil.</p>
<p>Nakonec první z nich řekl: "Ne, ne, jsme tu jen abychom dohodli sňatek naší dcery. Měli jsme chvilku času, a tak jsme přišli, abychom získali guruovo požehnání. Zdravíme tedy a zase jdeme."</p>
<p>Přišla jiná skupina. Ti měli pro změnu jen jakousi právní při a chtěli guruovu radu. Další chtěl poradit, jak by měl zacházet s manželským partnerem. Další chtěli jen vědět, co si guru myslí o tom, jak řešit jejich osobní nebo obchodní záležitosti. Vymlouvali se tak či onak, nikdo však nebyl ochoten položit svou hlavu na špalek a dát ji učiteli.</p>
<p>Míjel čas a Svatý Kabir stále marně čekal. Nakonec vyšel ven a zeptal se své dcery, proč nikdo nepřichází na satsang. "Řekla jsem jim, že je chceš napřed vyzkoušet," odpověděla. "Měla jsem jim nejprve useknout hlavu a přinést ji k prozkoumání. Nikdo ale tuto zkoušku nechtěl podstoupit! Nikdo se neodvážil! Nikdo se nevzdal své hlavy! Nikdo mi nedovolil, abych ji odsekla. Jakou cenu tedy má tvůj satsang, tatínku ? </p>
<p>Každý musí zemřít. Ode dne zrození těla již číhá v pozadí smrt. Kdyby byli položili své hlavy, byli by realizovali pravdu toho, kdo umírá. Byli by poznali, co je život! Nikdo to ale nechtěl! Ta malá sedmiletá holčička věděla, jak navštěvovat satsang.</p>
<p>Všechna tato já a ty a moje a jeho či její nejsou na satsangu přípustná. Věnujte se tomu, abyste spatřil pravdu tváří v tvář. To je význam satsangu. Jste postaven tváří v tvář pravdě, svobodě, svému vlastnímu Já. </p>
<p>Kdo vás může zabít? Svého vlastního Já se bojíte a přitom závisíte na jiných já. Závisíte na tom, co není trvalé. Já a ty váš život nespasí. Milionkrát jste ze zrodil a milionkrát jste byl mrtev. </p>
<p>Chuť smrti znáte moc dobře. Nyní aspoň začněte poznávat, jak žít. Svůj život zachránit nemůžete. Vaše tělo zrodilo, aby zemřelo. Vy máte umírání rád. Milionkrát jste smrt okusil, takže ji máte rád. Vy nemáte rád život !</p>
<p>Je tak prosté žít. Je tak prosté být šťasten, je tak jednoduché být vždy v blahu. A vy prostě chcete smrt, to je vše. Měníte tuto láskyplnou zahradu milosti a krásy v řeznictví. </p>
<p>Dovolte sám sobě na nějakou chvíli, jen na okamžik vidět, kdo jste. Dejte svému Já čas. Svou hlavu jste užíval miliony let. Nyní konečně dejte čas svému skutečnému srdci. </p>
<p>Zůstaňte tichý. Prostě zůstaňte tichý a uvidíte, co se stane. Nyní, právě v tomto okamžiku zůstaňte tichý. Vaše vlastní Já přijde, obejme vás a políbí.</p>
<p>Dovolte to. Věnujte tento okamžik svému vlastnímu Já.</p>
<p>Neposlouchejte toto poučování ušima. Když to uděláte, půjde rovnou do hřbitovního odkladiště. Není snad paměť hřbitovem? Čím jiným by byla? Nejsou snad mrtví uchováváni v paměti?</p>
<p>To, co je nové, nelze v paměti najít. V paměti nenajdete nic kromě smetí. Odešli tam všichni mrtví. Tedy na ni zapomeňte. Nic nedělejte a nic nemyslete. Neposlouchejte, nedívejte se, nečichejte, nedotýkejte se a nic neochutnávejte. Co vám pak zbude?</p>
<p>Otevřete svá srdce, to je vše.</p>
<p>Po celé Indii konají lidé pouti. Jednou se jakýsi muž ze severu spřátelil s poutníkem z jihu a pobyli při svých cestách ve svých domech.</p>
<p>"Jsem bohatý muž," řekl přítel z jihu. "Žijeme velmi dobře. Kdyby mí dva chlapci, kteří jsou na škole, věděli, jak mnoho bohatství máme, nikdy by školu nedokončili. Uložil jsem tedy poklad pod mlýnský kámen své ženy. Až moji synové školu dokončí, rozdělím své bohatství mezi ně a svou manželku."</p>
<p>Minulo sedm let a muž ze severu znovu navštívil svého přítele na jihu. Byl velmi překvapen, jak ošumělý je jeho dům. Viděl jeho nešťastnou ženu, která mlela potravu svým sousedům.</p>
<p>Přítel se zeptal: "Co se to tu stalo?"</p>
<p>Paní odpověděla, "Před šesti léty šel můj muž do lesa, kde ho uštkl had a on zemřel. Od té doby máme velmi těžký život. Chlapci právě končí školu a skládají závěrečné zkoušky. Až studium ukončí, snad najdou nějaké zaměstnání, aby mi pomohli. Od smrti svého manžela peru sousedům prádlo, uklízím jejich domy a melu jejich zrní. A přece nemáme dost co jíst."</p>
<p>"Váš manžel vám před smrtí nic neřekl?"</p>
<p>"Ne," odpověděla, "jeho smrt byla náhlá a neměli jsme možnost mluvit." Přítel jí rozčileně sdělil: "Váš manžel schoval pod váš mlýnský kámen poklad zlatých mincí."</p>
<p>Jakmile žena uslyšela ze spolehlivých úst tuto zprávu, přestala mlít. Prostě přestala dělat to, co dosud, a byla velmi šťastná.</p>
<p>Poklad nebyl dokonce ještě ani vykopán. Po pouhém vyslechnutí zprávy ze spolehlivého pramene byla přesvědčena. Stala se velmi šťastnou.</p>
<p>Já vám nyní říkám, abyste odstranil utrpení. Kopejte šest stop hluboko pod utrpení, a poklad je tu. Ta rodina trpěla prostě proto, že neměla tu správnou informaci.</p>
<p>Tato informace přichází od někoho velmi blízkého, ktery říká: "Tady je poklad, poklad ve vás!"</p>
<p>Jděte dovnitř a najděte ho. Není to vlastně ani hledání. Byl tu vždy, ale byl zakryt nevědomostí. Nyní může být odkryt jen na základě informace od toho, kdo ví. Říká vám, abyste odstranil utrpení a podíval se pod ně. Je tam poklad. Každý okamžitě odhalí bohatství.</p>
<p>Poklad je tu, ale chybí správná informace. Vy prostě nevíte. Jděte tedy a perte sousedovi jeho prádlo. Toto prádlo je paměť. Když budete vědět, že na vás čeká poklad, okamžitě přestanete sousedovi prát. Jinak bude všechno, co děláte, praním špinavého prádla.</p>
<p>Je to po tisíciletí stále totéž. Tu a tam najdete pár opravdových učitelů, kteří lidem prospívají. Co se děje zde, je v této tradici a tohoto druhu. Bylo to tak vždycky.</p>
<p>Tam, kde je dav, veliký zástup, můžete si být jist, že je také nějaký podvod. Shluk lidí nebo dopravní zácpa znamená vždy nějakou nehodu. Docela stačí pár lidí - dva, tři nebo čtyři.</p>
<p>Kdyby se na ulici tančilo, kolik lidí by tu sedělo na satsangu? Buďte poctiví. Hudba a tanec - tak přitažlivé pro smysly - a jste pryč. Smysly směřují ven. Dotýkání se, ochutnávání, dívání se a poslouchání. Stačí velká atrakce někde venku, a vy jdete. Kdo by tu zůstával na satsangu? Nechte na pokoji toho, kdo přichází ke svému átmanu, ke svému vlastnímu Já.</p>
<p><strong>Když sedím ve vaší přítomnosti, všechno se rozplývá.</strong></p>
<p>Přítomnost je tu vždy. Bytí s Bytím postačí. Předtím jste se zajímal o stávání se. Bytí je přítomnost a poznat to je moudrost a svoboda.</p>
<p><strong>Je tu něco, co se ve vaší přítomnosti děje. Nazval byste to milostí ?</strong></p>
<p>Milost a přítomnost, je to totéž.</p>
<p><strong>Potřebuje člověk gurua?</strong></p>
<p>Vaším guruem je vaše Já, ale vy jste ho ve svém nitru neviděl. Nerozumíte řeči svého vnitřního gurua. Když budete velmi opravdový, když budete toužit a mít planoucí touhu ho vidět, tak vás to přivede k někomu, kdo mluví stejnou řečí jako vy. Vnitřní Já na sebe vezme podobu vnějšího gurua, aby k vám promluvilo vaší řečí. Říká vám: "Já jsem ve vašem nitru."</p>
<p>Když rozpoznáte tohoto vnějšího gurua jakožto své Já, porozumíte.</p>
<p>Ego je oddělením a toho se musíte vzdát. V tomto oddělení je ego subjektem a Bůh objektem.</p>
<p>Vlna považuje sama sebe za nezávislou na moři. Má jiné jméno, jiný tvar a pohyb a nevidí oceán, z něhož se zrodila. To je ego. Pak vám někdo řekne: "Patříte k oceánu. Vždy jste byl oceánem." Oceán je subjektem.</p>
<p><strong>Je to ale víc než pouhé říkání. Mám takovou zkušenost, že to nejste vy, kdo mi něco říká, ale vaše bytí, které se přenáší tak, že je přímo zakouší. Pak vím, že nejsme odděleni.</strong></p>
<p>To je milost. To je přítomnost. To je božská mluva. Vše, co vidíte, je totéž. Oči budou učiněny tak božskými, že uvidí jen božské.</p>
<p><strong>Když hovoříte, hledím do vašich očí a jak slova přicházejí, přímo zažívám, že Já hovořím ke svému Já.</strong></p>
<p>Ano. Totéž Já. Absolutno svatého člověka povznáší. Vidíte-li stejnou osobu, své vlastní Já, je to svatost. Není rozdílu mezi tím, kdo mluví a kdo naslouchá. Když se odevzdáte božskému, je to božství, jež hledí z vašich očí. Božství se dívá.</p>
<p><strong>Kdo je požehnán milostí?</strong></p>
<p>Každý.</p>
<p><strong>Každý ji má? </strong></p>
<p>Ano, každý ji má.</p>
<p><strong>Proč jí naslouchá tak málo lidí?</strong></p>
<p>Těch málo ví, že ji mají. Ostatní to nevědí.</p>
<p><strong>Proč jsou vybráni?</strong></p>
<p>Vybírá si vás milost v nitru, tak laskavé k vám je Já, vnitřní To, zdroj této milosti. Potřebuje s vámi hovořit vaším vlastním jazykem. Přivádí vás k člověku, který ve vás tuto skutečnost rozpozná. Bude k vám mluvit vaší vlastní řečí a poví vám jen to, že jste již svobodný. Nikdo, kdo vám říká, že byste měl dělat to nebo ono, by neměl být nazýván opravdovým učitelem. Měl by se jmenovat řezník.</p>
<p><strong>Řezník?</strong></p>
<p>Ano, jak jinak? Učitel vás osvobodí od veškeré činnosti všech představ a břemen.</p>
<p>Pětatřicet milionů let jste konal. Když jste konečně našel pravého učitele, nebude vás žádat, abyste něco dělal. Řekne: "Můj drahý synu, pojď a tiše seď. To je vše. Nedělej nic."</p>
<p>Vnitřní guru je vaše vlastní vnitřní Já. Vy je však neznáte, vy je nepoznáváte. Nerozumíte jeho řeči ticha, takže vás musí přivést k někomu, kdo něco říká a požádá vás, abyste zachovával ticho. To je vaše vlastní milost. Přichází z vašeho vlastního nitra. Kdo jiný by vám to mohl dát?</p>
<p><strong>Ale to není moje, já to nevlastním.</strong></p>
<p>Ano, není to vaše. Říkáte-li, že to není vaše, znamená to, že to nenáleží tělu. Není to uvnitř ani vně.</p>
<p><strong>Poté, co jsem tu pobyl, cítím vás ve svém srdci. Poznávám vás jako svého učitele, jako mistra. Chtěl bych pokorně požádat, abyste mne přijal za svého žáka.</strong></p>
<p>Koho žádáte?</p>
<p><strong>Toho, kdo je přede mnou a v mém nitru.</strong></p>
<p>Vejděte teď hned do svého srdce. Není mnoho času. Srdce je velmi blízko. Jak daleko je od vás srdce?</p>
<p><strong>Bez vzdálenosti.</strong></p>
<p>Vstupte tam teď hned. Jakou dostanete odpověď? Dávejte pozor, tady neexistuje dualita.</p>
<p><strong>(Ticho) </strong></p>
<p>To je odpověď. Když se vrátíte do svého srdce, neexistuje dualita. Toto srdce je jiné jméno pro pravdu, skutečnost, svobodu. Hleďte dovnitř a přibližujte se ke svému srdci s láskou.</p>
<p><strong>Je tu jen ticho a klid.</strong></p>
<p>To je učitel a to je učení. Zůstaňte svým srdcem. To je vše. (Směje se.) Zůstávejte svým srdcem.</p>
  <div id="book-navigation-37" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/knihy/procitni-chechtej-se/pozadavky-pro-satsang" class="page-previous" title="Přejít na předchozí stranu">‹ Požadavky pro satsang</a>
                    <a href="." class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/procitni-chechtej-se/povaha-ja" class="page-next" title="Přejít na další stranu">Povaha Já ›</a>
          </div>
    
  </div>
    <%= partial '/knihy/procitni-chechtej-se/content' %>
