---
title: Jak se u komentáře ptát na jméno
date: 2009-06-06 17:51
layout: article
comments: false
tags: [it, drupal]
geshifilter: false
---
<p>Snad nározně a jednoduše popíši, kterak zapnout zobrazení formulářového pole vyžadující komentátorovo jméno. Jelikož jde jen o malou klikačku v administrativním rozhraní drupalu, bude to glosa sice krátká, ale za to s obrázky.</p>
<p>V administračním menu stačí najít <em>Typy obsahu</em>, které jsou v sekci <em>Správa obsahu</em>.</p>
<p><img src="/sites/default/files/pictures/drupal/1-sprava-obsahu-drupal.png" alt="Obrázek nabídky Typy obsahu" title="Typy obsahu v Drupal verze 6"></p>
<p>Po vybrání typu obsahu, v jehož příspěvcích chci vyžadovat jméno po anonymních komentátorech, kliknu na <em>Upravit</em> na příslušném řádku. Volba <em>Anonymní uživatelé musí zadat kontaktní informace</em> je v zavřeném foldu fieldsetu <em>Nastavení komentářů</em> někde dole.</p>
<p><img src="/sites/default/files/pictures/drupal/2-upravit-komentare-drupal.png" alt="Fieldset Nastavení komentářů s příslušnou volbou" title="Nastavení komentářů určitého typu obsahu v Drupal verze 6"></p>

