---
title: Ztrátové a bezztrátové formáty zvuku na PC
date: 2009-09-19 13:15
layout: article
comments: false
tags: [it, ostatni]
geshifilter: false
---
<p>Můj nový pevný disk mi teď nabízí spoustu volného místa a chystám se ho zaplnit především hudbou. Když už budu ukládat velké množství muziky, přemýšlím, že by stálo zato, aby byla co nejkvalitnější. Dosud mám všechno ve formátu mp3, který díky ztrátové kompresi a různým, většinou nízkým, <em>sampling-rate</em> nenabízí příliš velkou kvalitu pro poslech. Jaké jsou tedy dostupné formáty po ukládání hudby?</p>
SPLIT
<p>
Základním formátem, jenž vznikne jako první při převodu hudby z cd, je WAV. Jedná se o nekomprimovaný(=nezmenšený ani nezmršený) formát pro ukládání zvuku, který je tímto způsobem uložen v nejlepší možné kvalitě. <strong>WAV má však jednu velkou nevýhodu a to, že 1 minuta zabírá 10MB paměti.</strong></p>
<p>
Proto máme další zvukové formáty, které v paměti zabírají méně místa. Dále je rozdělujeme podle způsobu komprese(=zmenšení nebo zmršení) na ztrátové a bezeztrátové.</p>
<h2>Formáty ztrátové komprese</h2>
<p>
Obecně ztrátová komprese znamená zmenšení objemu dat díky odstranění méně potřebných informací. Po kompresi již nikdy nemůžeme získat zpět původní data.<br>
Zvuk se komprimuje tak, že se originální zvuková stopa rozdělí na vzorky vlnových signálů určitých frekvenčních pásem a odstraní se všechny vzorky z pásem, jejichž frekvence je pro člověka neslyšitelná. Člověk totiž slyší jen zvuky v pásmu kmitočtů od 16Hz do 20 000Hz, což je akceptovaný psychoakustický model. Ale různá individua stejně mohou tyto hranice posouvat a to na obě strany. </p>
<p>
Kvalita zvuku a velikost výsledného zvuku se dá kontrolovat zvolením počtu vzorků vlnových signálů za sekundu. Anglicky se to nazývá <em>sampling rate</em> a je to čísílko, kterého si můžete všimnout i ve winampu. Čím menší <em>sampling rate</em>, tím menší velikost souboru a menší kvalita zvuku.</p>
<p>
Zde je hlavní problém ztrátové komprese. Kvalita zvuku se snižuje rychleji než velikost souboru, takže hudba už nezní jako z CD, ale spíš jako z rádia. I to je ale pro většinu lidí dostatečná kvalita, přestože věrnost zvuku je ta tam. Plusem je, že velikost souboru činí asi 10% původního.</p>
<p>
Ztrátových kompresních formátů je více než těch bezztrátových. Zde uvedu jen některé z nich.</p>
<p></p>
<h3>MP3(zkratka pro MPEG-1 Level 3)</h3>
<p> Je nejrozšířenější digitální audio formát dneška. Jedná se o univerzální formát, který je podporován snad každým digitálním přehrávačem hudby i všemi programy na PC. Nabízí akceptovatelný kompromis mezi velikostí souboru a kvalitou zvuku.</p>
<h3>Advanced Audio Coding (AAC či MPEG-4 AAC)</h3>
<p> Formát pro poslech hudby používán na iTunes a v iPodu. Zvuk je kvalitnější než u MP3 a formát poskytuje ochranu proti neautorizovanému užití. Přehrají ho však jen přehrávače od Apple. Jedná se o uzavřený formát.</p>
<h3>OGG Vorbis (OGG)</h3>
<p> Otevřený formát (narozdíl od AAC) s proměnnou <em>sampling rate</em>, což zajišťuje kvalitnější zvuk v místech, kde by byl poznat rozdíl.</p>
<h3>RealAudio Media (RA,RM,RMA)</h3>
<p> Uzavřený formát pro real-time proudy zvuku(např. internetová rádia). Vyvíjeno firmou Real Networks.</p>
<h3>Windows Media Audio (WMA)</h3>
<p> Alternativa k MP3 nabízená firmou Microsoft s podobnou kvalitou zvuku jako MP3 při poloviční velikosti souboru.
</p>
<h2>Formáty bezztrátové komprese</h2>
<p>
Pokud je pro někoho důležitější věrnost poslouchané hudby, formáty ztrátové komprese jej nebudou zajímat a raději se poohlédne po formátech komprese bezztrátové.</p>
<p>
Beztrátová komprese sice není tak účinná, avšak komprimovaný soubor lze vrátit zpět do původního stavu opačným postupem - dekompresí.</p>
<p>
Princip bezztrátové komprese hudby je více méně jako u známých archivů ZIP nebo RAR. Přebytečné bity jsou odstraněny, ale je zaznamenáno, kde chybí. Při přehrávání se soubor postupně dekomprimuje, takže se přehrává originální neporušená zvuková stopa, jen je zmenšena její velikost v paměti. Úspora místa je typicky 50%, obyvkle ale bývá o něco menší. Tím se hudební soubory stávají méně vhodné pro přenositelné přehrávače, kde je málo paměťového místa. Nicméně pokud někdo ukládá sbírku CDček na pevný disk počítače, není velikost souborů až takový problém, zvláště když uvážíme nízkou cenu pevných disků. Použitím téměř jakéhokoliv bezztrátového formátu lze uložit 1000 CDček na přibližně 300GBpaměti.</p>
<p>
Některé dnes používané formáty bezztrátové komprese hudby jsou zde uvedeny.</p>
<h3>Free Lossless Codec (FLAC)</h3>
<p> Známý otevřený bezztrátový formát, který je použitelný na všech hlavních operačních systémech. Jeho komprese není nijak ohromující a činní asi 60% původního souboru, ale zato je rychlejší a rozšířenější než ostatní formáty.</p>
<h3>Apple Lossless Audio Codec (ALAC,M4A)</h3>
<p> Uzavřený formát od firmy Apple používaný na iTunes a v iPod.</p>
<h3>Windows Media Audio Lossless (WMA) </h3>
<p> Bezztrátový formát dostupný v přehrávačích Windows Media Player verze 9 a 10. Používá stejnou příponu souborů jako normální Windows Media Audio soubory.</p>
<h3>Monkey's Audio (APE)</h3>
<p> Audio kodek s nejlepším kompresním poměrem, ovšem dost pomalý.
</p>
<h2>A jaký formát tedy zvolit?</h2>
<p>Moje volba je MP3 a FLAC, hlavně kvůli jejich rozšířenosti a přenositelnosti mezi různými operačními systémy. U formátu MP3 doporučuji vyhledávat soubory s vyšším <em>sampling rate</em>, nejlépe 320KBPS. Kvalita zvuku už je poté jen těžce rozlišitelná od kvality hudby ve formátu FLAC. Profesionální hudebnící nebo sběratelé muziky zase ocení rychlost, s jakou FLAC přehrává zvuk s nejvyšší možnou kvalitou.</p>

