---
title: To byl zase víkend
date: 2008-09-28 21:02
layout: blog
comments: false
---

      <p>Docela krut víkend. V hodoníně na cvičáku se konala tripple oslava narozenin. Slavnostní pokalení (ale chlebíčků moc nebylo) tak doplnilo pestrou paletu akcí konaných v Hodoníně toho večera. V jednom městě kromě nás měli scuka skupiny punkáčů, skinů, romů a policajtů. Nejvetší účast zcela jistě zaznamenali práve policajti. Kluci rejdili hlavně na Národní třídě a možná to byl i důvod proč tam nešli potkat takřka žádní náckové. Abych jim ale nekřivdil, tak musím dodat, že nešli potkat zrovna, když jsem procházel městem. Podle televize jich stejně nebylo víc jak dvacet. Punkáčů bylo trochu víc, ale benga je stejně trumfli. Ještě ve tři ráno přešlapovali na křižovatce a teplo jim tehdy rozhodně nebylo. Nám na cvičáku taky ne, ale aspoň jsme se mohli schovat do vytopené místnosti a roztáhnout cévy slivovicú nebo jiným šnapsem. Trojlístek oslavenců ve složení fila, špek a mrkva byl zapit se vší parádou za dunění 130bmp a k náladě přispívaly také dvě č.h. bečky, které vystačily právě na ten jeden večer. Já osobně nemaje na pivo chuť jsem k jejich zdolání nepomohl, ale blbě mně další den bylo fest. Zas mám doufám na nějakou dobu od alkoholu pokoj.</p>
    