---
title: Komparz Slečny Julie
date: 2008-11-19 06:27
layout: blog
comments: false
---

      <p>Čtyřicátýsedmý týden sotva začal, už přinesl hodně zajímavých událostí hodných zápisu do mého blogu.<br>
Jako tomu bývá například v Británii, tento týden počala neděle. Zrovna jsem se rochnil na svém žlutém gauči pod červenou zdí, když v tom zavolal z jamy(u) šplhající režisér Ján Mikuš. Byl jsem překvapen, byť jsem to čekal. Ján tak doplnil tak můj sváteční program pondělka 17. listopadu.<br>
Na svůj svátek studenta mělo OS V karanténě domluvenu celodenní zkoušku připravované hry Ciao, cornuto! Naštěstí se na ní odhalilo dost nedostatků a celá zkouška vyšuměla k odložení Střílecké premiéry. Vrátil jsem se domů tak akorát unaven, abych hned spěchal do Kabinetu múz na generálku Mikušovi hry Slečna Julie (autor August Strindberg), kde jsem společně se spolubydlícím filou a dalšími lidmi z jamy dělal komparz. Šlo o jednoduchou věc - hrát slepého mrzáka a živě tak interpretovat obraz Piera Bruegela. Ze zákulisí hodnotím generálku jako povedenou, avšak co já mohu hodnotit: prý by se to do premiéry mohlo zlepšit.<br>
V úterý jsem přišel do bývalého divadla Vsedumapůl v sedum a v půl se hrálo. Zda-li byla premiéra lepší raději soudit nebudu, snad ale přinesly střepy během představení rozbité láhve režisérovi i hercům štěstí. V pátek na derniéře se zeptám, jak to vlastně dopadlo.<br>
Co víc se však stalo v tomto týdnu? Ohodnotily se mi mé písemky z diskrétní matematiky a assemblerů. Z matiky mám 14 z patnácti možných bodů, a z assembleru 16 ale z dvaceti. Zápočty nutné k připuštění k závěrečné zkoušce jsem tedy získal. Zárověn byl dnešek vyjímečný další půlsemestrální písemkou. Psala se půsemka z programování a předběžně se zdá, že mám všechno dobře, ovšem konečné výsledky ještě neznám.<br>
Tento týden mě ve světě fakulty informačních technologií čeká ještě obhajoba 2. projektu v programování a půlsemka z teorie obvodů. Doufám, že vše úspěšně zvládnu. Zcela určitě o tom dám vědět zde v blogu, ale dneska už to nestihnu. Dneska už nic nestihnu. Úterý končí.</p>
    