---
title: Za dva měsíce jednadvacet
date: 2008-09-19 14:12
layout: blog
comments: false
---

      <p>Člověk s rýmou, jako teď já, ztrácí zájem o komunikaci na všeho druhu. Nejenže se mu nechce mluvit, ale nechce se mu ani psát ani jinak vyjadřovat. Jakoby hleny nezacpaly jen nosní dutiny ale i dutiny vyjadřovací. Bojujíc proti bacilu píšu tento příspěvek.<br>
V úterý mně začíná škola. Zvědavost vrcholí, takže jsem dneska psal sekretářce, jestli se tam nemůžu stavit (pro průkazku a hodit ji tam potvrzení). Zdá se mně, že vysokoškolské sekretářky asi hned tak nepřečůrám. Zkušeně po třech hodinách mi bylo odpovězeno, že mají otevřeno i o víkendu. To už tam bude asi jiná pani sekretářka. Ale zajdu tam, protože o víkendu se otvírají koleje a možná tam potkám spolužáky.<br>
Na fitku to chodí tak, že jsme v ročníku rozděleni na dvě poloviny a ty jsou pak rozděleny na skupiny. Moje skupina #32 nemusí v pondělí do školy, takže se nakonec koná překvapení a budu mít jeden volný den hned po víkendu.<br>
Je ale pátek a víkend teprve začíná. Navečer se svezu do Kyjova a udělám trochu párty. Škoda, že v sobotu musím dohánět registraci stránek do katalogů odkazů. Mám zaregistrováno tak 25 katalogů s PageRank 4 a 5 a teď zbývají katalogy s menším PageRank plus ty, co se ještě někdě najdou. Snad to bude stát za to:)</p>
    