---
title: Imatrikulace? Nemám ji rád
date: 2008-10-18 12:44
layout: blog
comments: false
---

      <p>Imatrikulace, tedy uvedení na akademickou půdu, se mi zdá jako hloupý nápad. Přinejmenším proto, že se tam musí jít formálně, rozuměj v obleku. Asi jsem trochu padlý na hlavu, ale radši bych tam seděl od sedmi do čtyř na přednášce, než se navlékat do kostýmu a pak dvě hodiny běhat kvůli jednomu "slibuju". Nebaví mě to ale co nadělám.<br>
O to víc příjemnější bude odpoledne. V půl třetí vyjíždíme s divadlem do Slavičína, abychom tam zahráli náš anticirkusový kousek. Netěším se však ani tak na představení jako spíš na svou milou Barbaru. I díky Olívovi může jet s námi, za což jsem vděčný, neboť bych ji tento víkend snad ani neviděl. Jak to dopadne se nechme překvapit.<br>
Teď už na sebe musím jít natáhnout imatrikulační kostým....</p>
    