---
title: Moc fajn víkend to byl
date: 2008-10-13 10:38
layout: blog
comments: false
---

      <p>Snad si už ani nevzpomínám, co jsem dělal celý týden po imatrikulaci. Pravděpodobně jsem chodil na přednášky a nic zajímavého se nestalo. Na víkend se však upomínám zcela přesně. V pátek jsem si ve stánku kousek od fakulty koupil litr drahého burčáku. Stál 60Kč a kdyby ho neprodávala hezká slečna a já netelefonoval, hned bych jim to spočítal zpět. Burčok "za 6 pětek" nemůže být podle godhajové teorie cen dobrý (čím levnější, tím lepší - a nejen godhaj;), ale slečna mě nechala ochutnat a zas tak špatný nebyl. Ztrpkl až když večer fila donesl dva litry dobrého burčáku, který dostal v práci. Svůj litr jsem si vypil sám hned večer a dvojku jsme stahli v sobotu dopoledne. Kdo ví, kdy zas budu pít burčok.<br>
Až bylo po burčáku, dojelo za mnou na plánovanou návštěvu koťátko Bajkii. Moc jsem se na ni těšil a bylo to moc moc fajn. Jen filovi se to asi nelíbilo, když nemohl spát doma. Příště mu to musím vynahradit, takže doufám, že žádné příště nebude:)<br>
Posledním dnem všech víkendů je nědele(kdyby náhodou někdo nevěděl). Bajkii odjela před obědem a mně začalo opět být smutno. Vynahradit mně to mělo divadelní představení Evžena Oněgina v Redutě. Sic se mně s postupujícím večerem přestávalo chtít prožívat tyto jistě výjimečné kulturní zážitky, šel jsem nevěda blížícího se překvapení. Totiž stejně jako ostatní jsem do poslední chvíle nebyl informován o tom, že Evžen do Reduty nepřišel a tak se jeho představení nehrálo. Ne že by mě to v tu chvíli vadilo. Kavárna Trojka mně to vynahradila.<br>
Další víkend za mnou. Uvidíme co přinese čtvrtý týden zimního semestru. Dám vědět.</p>
    