---
title: Desatero herecké hygieny podle profesora Martince
date: 2008-11-06 19:31
layout: blog
comments: false
---

      <p>Protože teď s karanténou zkoušíme novou hru, klade nám k srdci režisér souboru Petr Jan Kryštof různá chytrá cvičení a pravidla, jako například herecké desatero prof. Martince.</p>
<ol>
<li>Každý den v týdnu, kromě nedělí, věnuji jistý čas osobní přípravě. Pravidelně cvičím stupnice hereckého výrazu a rozvíjím podněty z minulé zkoušky.
</li>
<li>Divadelní umění uskutečňuje herec svým oduševnělým tělem v čase a prostoru.<br>
Do zkoušky přicházím s takovým časovým předstihem, abych se s kolegy v klidu pozdravil a naladil své tělo i duši pro tvořivou práci, která začíná v dohodnutém čase.
</li>
<li>Veškeré překážky v přípravě na zkoušku, časove i zdravotní komplikace, které narušují a brzdí práci skupiny jako celku, včas osobně oznámím.
</li>
<li>Cvičení herecké průpravy praktikovaná jen mechanicky, bez hluboké koncentrace, postrádají smysl a mají jen částečnou účinnost.
</li>
<li>Při všech cvičeních zaručuji partnerovi naprostou bezpečnost.
</li>
<li>Odbourávání při hře je projevem diletantismu. Smát se mohou diváci a ti, kteří práci kolegů sledují.
</li>
<li>Když vstupuji v citové či zdravotní indispozici, vydám o tom věcný a srozumitelný signál.
</li>
<li>Všechna cvičení a úkoly (i ty, které mé povaze nevyhovují) realizuji naplno, bez rezerv a skepse. Problémy na rozhovor se řeší až po zkoušce.
</li>
<li>Napětí vůči partnerovi či zadanému úkolu ale při zkoušce nepotlačuji. Svůj osobitý pocit vložím bezprostředně do hereckého jednání, a tak se emoce, která by mohla být objektivně rušivá a osobně brzdící, stává organickou součástí hereckého projevu a obohacuje ho.
</li>
<li>Vše důvěrné a křehké, co se při obnažujících hereckých výpovědích dozvídám o svých partnerech, žádným způsobem nezneužiji. Zůstane to mezi námi jako ten nejcennější materiál pro hereckou tvorbu.
</li>
<li>Jidášovo přikázání: Střety z divadelní práce nepřenášejme do osobních vztahů. Časoprostor zkoušení a osobní život jsou dvě jasně vymezené dimenze existence.
</li>
</ol>
    