---
title: O škole a divadle
date: 2008-11-05 22:05
layout: blog
comments: false
---

      <p>Docela mi ten čas utíká. Až dnes jsem si uvědomil, že už je listopad. Počasí na to teda vůbec nevypadá. Venku je hezky, tyrkysová obloha. Asi za to může dnešní první písemka, co jsem na vysoké psal. Půlsemestrální test vědomostí jazyka symbolických instrukcí. Assembler jsem se postupně učil při čtení učebnice na záchodě a včera jen zopakoval, co jsem si už přesně nepamatoval. Doufám, že to dopadne dobře a získám hodně bodů, nejlépe všech dvacet. Tento týden v pondělí jsem měl z předmětu assemblery také první cvičení. Jako cvičícího jsem si po přečtení diskuze na fitušce vybral ing. Smrčku. Názory na něj jsou mezi studenty rozporuplné, ale má stigma kantora, který naučí. Smrčka je učitel svérázný a přirozeně autoritativní, proto chci-li maximum bodů, budu se muset na cvičení dost připravovat. Myslím ale, že jsou na tom někteří podstatně hůř. Na prvním cviku se jich pár vůbec nechytalo.<br>
Pondělky a úterky mi teď navíc vyplňují zkoušky divadla. Divadlo V karanténě zkouší novou hru a premiéra je už na konci listopadu. Proto zkoušíme dvakrát týdně. Jedna zkouška je individuální a na druhé se sejde celý spolek. Jedná se o hru z cirkusového prostředí, která vznikla z vystoupení původně hraného pro děti na Den dětí. Protože se ale děj mění téměř na každé zkoušce, výsledek bude do poslední chvíle překvapení.<br>
Za zmínku stojí zajímavá věc, která se mi stala včera. Napsala mi kamarádka Sofka, že by jeden mládenec chtěl můj email. Na potkání svůj email nedávám a už vůbec ne mládencům, ale nakonec z ni vypadlo, že tento mládenec je můj dobrý přítel z AGčka Marťa Knap. Po několika letech jsem se přes elektronickou poštu kontaktovali a domluvili se, že se sejdeme, ale určitě to bude přinejmenším zvláštní. Oba jsem se určite hodně změnili, oba jsme teho dost zažili, ale stejně se bojím, že si nebudem mět co říct. Snad to nakonec dobře dopadne.<br>
Snad to nakonec všechno dobře dopadne:)</p>
    