---
title: Začalo mě studium
date: 2008-09-25 16:40
layout: blog
comments: false
---

      <p>Začal jsem chodit na Vysoké učení technické na fakultu informačních technologií (FIT). Do školy budu chodit každé útery, středu a pátek, takže dnes už mám za sebou několik cvik a dvě přednášky, asemblery a softwarové inženýrství. Jsem přednášková skupina B, kde je nás skoro 400 a v této skupině náležím do kroužku 32. Kroužky po dvaceti jsou určeny pro počítačové laboratoře a cvičení, protože ty bývají v menších místnostech. Škola má také propracovaný informační systém wis, kde mám přehled o všech předmětech, termínech nebo úkolech. Je zde i diskuzní forum pro studenty. Všechno je prostě propracované a vychytané.<br>
Baví mě to tam. Už jsem si vypracoval první školní projekt do Základů programování a těším se na další. Škoda jen, že je tu nemůžu hned zveřejňovat. Objeví se zde až po vyhodnocení.<br>
Jinak o víkendu bude velké mecheche v Hodoníně. Nejenže tam tři přátelé slaví narozeniny, ale koná se tam náckovský pochod a punkový koncert. Bude to tam pěkně vřít, tož snad nedostanu přes držku. Jsem tak trochu provokatér:)</p>
    