---
title: Jak jsem se stal sběratelem grafik
date: 2008-12-08 07:58
layout: blog
comments: false
---

      <p>Od narozenin uběhlo hodně času. Měl jsem dost napilno ve škole a dělo se dost zajímavých věci, ale jen matně si budu všechny vybavovat. Zkusím aspoň několik.<br><br>
Začnu školou, protože právě jí věnuju dost času. Nějakou dobu(vlastně průběžně až doteď) jsem musel pracovat na projektech do programování. Během času jsem odevdával projekt druhý a třetí (ten má deadline dnes). Za druhý projekt jsem dostal 9/10 bodů, přičemž mi opravující strhl dvakrát půl bodu za ne úplně správné výsledky. Mírné zklamání pravděpodobně způsobila Eva-studentský server FITu, kde je OS Unix a jiný kompilátor. Možná ale Evě křivdím. Třetí projekt se teprve bude hodnotit takže hodnocení nevím, ale připadal mi lehčí než ten druhý a lépe se také testoval. Od projektů mám ode dneška víceméně klid, něboť už i čtvrtý projektový program na řazení češtiny mám skoro hotový. Jeho řešení popíšu jindy a jinde. Dále už mám odevzdané také projekty do Softwarového inženýrství, dokumentaci k již zmíněnému 2. projektu do programování a návrh informačního systému pro Transfůzní stanici. Projekty jsou za mnou a pomalu začíná zkouškové. Doc. Kunovský nám nabídl předtermín zkoušky do Teorie obvodů, čehož samozřejmě využiju a zbytek zkoušek udělám v lednu. <br><br>
Při studiju si přivydělávám tvorbou webových stránek. Spustil jsem další dva nové weby a to Internetový obchod s tabáky do vodních dýmek a s vodními dýmkami <a href="http://arabacek.cz" title=" Internetový obchod s tabáky do vodních dýmek a s vodními dýmkami">arabacek.cz</a> a informativní stránku o tabácích al fakher na adrese <a href="http://al-fakher.cz" title="informativní stránka o tabácích do vodní dýmky al fakher">al-fakher.cz</a> (s pomlčkou!). Aniž jsem je ještě registroval do katalogů, už je google indexuje na docela dobrých pozicích, takže jsem je snad i dobře optimalizoval pro SEO. Každopádně jsou to pro mě také další reference a budu se snažit tyto stránky dále vychytávat.<br>
<br><br>
Teď trochu z jíného, nepracovního soudku :)<br><br>
Minulou sobotu jsem slivovicí vypálil trochu víc červů než jsem chtěl a celou následující neděli jsem byl offline. Znovu jsem se tak utvrdil, že alkohol není dobrá droga a že ho nechcu užívat ve větším než malém množství. Raději budu utrácet peníze za jiné věci. Teď už se konečně blížím k tématu v titulku, ale i když jsem to nakousl, chronologie věcí mě nutí zmínit svůj doufám dobrý kauf, který se mi tento týden podařil. Koupil jsem si konečně nový digitální foťák a to casio exilim S880. Je to velmi malý kompakt v červené barvě, má 8mpix, 3x optický zoom a podobné fíčurky, které teprve budu objevovat. Už dlouho si takový foťák slibuju hlavně kvůli tomuto blogu. Fotografie blog oživí a už to nebude jenom obyčejný dlouh text.<br>
Den poté co jsem koupil foťák, jsem náhodně na aukru našel několik uměleckých grafik z osmdesátých let, které se mi líbily. Samoržejmě jsem si jich pár koupil. Přesněji, koupil jsem jich 13. Nevím jestli 13 grafik dělá sbírku, ale chtěl bych se tomu i nadále trochu věnovat, protože se mi to líbí. Navíc jsem už od dětství sběratel vršků od piva a sodovek a mám jich pěknou řádku nestejných. Cítím však, že vršky nejsou přesně ten druh vznešeného sběratelsví a již nějakou dobu jsem zvažoval nové podměty ke sběratelství. Vyhrály grafiky.<br>
<br><br>
A zde je jedna z grafik, která mě vlastně zaujala jako první a kvůli níž jsem koupil dalších 12 grafik.<br><br>
<img style="text-align:center;" src="/sites/default/files/pictures/grafiky/GR14Vladivoj-Jindrich.jpeg" alt="Grafika od Jindřicha Vladivoje"></p>

