---
title: Můj vstup do nauk hermetických
date: 2009-12-24 19:44
layout: blog
comments: false
---

      <p>Miluji moudrost. Jsem snad filosof? Jestli ano, jsem jím už od dob začátku puberty, kdy jsem konstruoval svou první osobní filosofii jako spojení křesťanství a své náctileté moudrosti. V té době ke mně přišel i Sókrates, ale tehdy jsem ještě "poznej sám sebe" pořádně nechápal. Když jsem pochopil, byl jsem ovlivněn i pragmatismem a empírií života, avšak až nyní jsem zažil pravé souznění se studovanou filosofií předloženou jako celkem.</p>
<p>Hermetismus. Je to vůbec filosofie? Původně jsem jej tak bral, ale málo stačilo, abych začal tvrdit, že hermetismus je Pravda. Pravda, která je hledána i opomíjena a ignorována, ale kterou člověk pozná, jen pokud naladí své uši na správné vibrace. Tak také zní první slova Kybalionu.</p>
<p><strong>Ústa moudrosti jsou uzavřena s výjimkou uší porozumění. <em>-Kybalion</em></strong></p>
<p>Jsou-li uši nalazeny, Pravda se dostaví, například skrz Kybalion jako v mém případě. Nebo je snad náhoda, že jsem v posledním měsíci narážel na hermetismus podezřele často? Není a ani nemůže být, protože náhody neexistují. Kybalion a Pravda si mě našly a já je přijal. Tedy abych byl přesný, znovuobjevil jsem v Kybalionu Pravdu, jež jsem znal celou dobu. Musel jsem při čtení Kybalionu odkývat všechna jeho slova, protože neříkal nic neznámého. Všechno jakoby bych měl pod kůží dávno zažité, přesto jsem byl lačný po každém dalším řádku, čtěje i to, co bylo neviditelným písmem. A pokaždé, když jsem se začetl (a i teď když na Kybalion myslím), rozzářilo se moje třetí oko a skenovalo knihu, aby mi poskytlo výklad na úrovních vyšších než běžné. Velké je souznění s mým učitelem hermetismu. </p>
<p>A nyní, když vím Pravdu o VŠEM, pozoruji okolní svět a rozpoznávám v něm Zákon. Zákon, který mohu užívat k prospěchu všech a VŠEHO. Používám jej a pozoruju, jak měním kontury Vesmíru. Ale ještě se mám hodně učit. Hodně vzpomínat na to, jak jednoduché je tvořit podle Zákona.</p>
<p>Chvála Hermu i jeho žákům. Děkuji za požehnání a splněné přání v jednom.</p>
    