---
title: Po 3 letech update několika fotek na Picasa
date: 2009-09-15 08:37
layout: blog
comments: false
---

      <p>Před nedávnem jsem si koupil novou digitální zrcadlovku. Je to vyjma mobilu už třetí digitální fotoaparát v řadě, který jsem si pořídil a jsem nadmíru spokojen. Protože mám na disku několik giga fotek, vznikla potřeba je zálohovat. Na internetu je služeb pro uskladnění fotografií hned několik.</p>
<p>Ještě se ale vrátím ke své digitální zrcadlovce <strong>Canon EOS 350D</strong>. Dostal jsem se k ní jako slepý k houslím. Původně si tento 8MPixový foťák vybral kamarád, jenže na něj neměl peníze a tak jsem si ho koupil já. Balení obsahovalo battery pack, dvě náhradní baterie a všechnu potřebnou kabeláž. K tomu jsem dokoupil objektiv Tamron s pohyblivou ohniskovou vzdáleností v rozmezí 28-80mm a 8GB Compact Flash kartu, taktéž od přátel. Další parametry foťáku nebudu rozpitvávat, neboť stačí zagooglit výše napsaný typ a máte je jako na dlani. Snad ani netřeba říkat, že fotí skoro sám a že je to velká změna po předchozí ruské zrcadlovce <strong>Zenit E</strong>.</p>
<p>Vznikla tedy potřeba ukládat si fotografie i jinam než na jeden občas zálohovaný pevný disk. Vzpomněl jsem si, jak jsem kdysi dával pár fotografií na <a href="http://picasaweb.google.com/fandisek" title="Moje fotografie na Picase">Google Picasa</a> a našel <a href="http://f-spot.org/Main_Page" title="Program pro organizaci fotografií v Linuxu">F-spot</a>, prográmek pro organizaci fotografií v Linuxu. V nabídce má volbu Export do Picasa, což jsem potřeboval, abych nemusel fotky uploadovat po jedné. Během krátké chvíle jsem zabral skoro 50% dostupného volného místa, takže další fotky budu asi muset zmenšovat a to je škoda. Udělám si proto druhé zálohovací místo na Flickru a postupně budu dávat fotky i tam. Výhoda Flickru spočívá v tom, že pokud nepřekročím měsíční upload limit, mám takřka neomezený diskový prostor pro své fotografie a to je víc než 1GB na Picase. </p>
<p>Sledujte tedy kromě tohoto blogu i moje galerie. Nové fotky tam budou přibývat poměrně často, protože fotit mě baví a s novou zrcadlovkou snad ještě víc než předtím.</p>
    