---
title: Druhý semestr
date: 2009-02-09 22:38
layout: blog
comments: false
---

      <p>Tak mi zase začala škola a získal jsem důvod napsat do blogu.</p>
<p>Po delší pauze následuje jen malé zhodnocení. Stalo se toho totiž opravdu hodně. Jednak mělo divadlo V karanténě premiéru hry Ciao Cornuto, ve které hraju panáčka a dělám osvětlovače. Baví mě to. I škola mě baví a možná proto zkouškové dopadlo, jak dopadlo. Dobře. Všechny zkoušky jsem zvládl v prvním termínu, což je fajn. Výsledky jsou taky fajn, ale dvakrát 89 bodů je smůla. O ten jeden bodík jsem už neškemral a stipentium mně uteklo o 0.06 v průměru známek. Nevadí. Vždyť přece nejde o peníze, ale o vědomosti. Díky tomu, že jsem měl zkoušky relativně rychle za sebou, mohl jsem se věnovat projektům. O novém projektu xchan.cz (Channel X) udělám větší recenzi, protože ho spolu s arabáčkem a dalšími budu vkládat do katalogu vyhledávačů. Xchan.cz je český 4chan používající perlovský skript wakaba a doufám, že si jej česká veřejnost oblíbí. Mě tyto stránky nesmírně baví a to je vlastně důvod proč jsem se do toho pustil. Čeká mě však ještě hodně práce. Další věcí, kterou jsem stihl je naladění na Reiki. Reiki je zvláštní léčebná enegie, kterou může používat každý, kdo projde zasvěcovacím rituálem. Mé zatím malé zkušenosti mi nedovolí napsat o Reiki více. </p>
<p>Jelikož jsem chtěl napsat jen krátké zhodnocení, nechám si větší myšlenky do příštích zápisů. Opravdu jsem poslední dobu dost přemýšlel a o výsledky se zde podělím.</p>
    