---
title: Deníky z Barcelony a Čečny
date: 2009-04-29 20:23
layout: blog
comments: false
---

      <p>S divadlem V karanténě jsem tento měsíc vystupoval v divadelním kabaretu Triptych pořádaného studenty brněnské Jamu. Jednalo se o čtení dramaturgicky upravených deníků našich kamarádů, které byly vytvořeny loni v létě.</p>
<p>Jeden z deníků psal Kosťa na výpravě do kavkazských hor v Gruzii, kde těsně po jeho příjezdu ruská vojska vyvolala válečný konflikt (a to dokonce v době olympijských her) a je kladen do opozice s druhým deníkem, který vznikal při bezstarostné jízdě po pobřeží Středozemního moře ve Francii a Španělsku, kde si účastníci(včetně mě) vydělávali peníze hraním pouličního divadla pro turisty. Rozpor obou cest je spojen scénickými poznámkami popisující postavu Diskobola s granátem jako narážku na olympijádu. Při prvním hraním v šuplíčku ve Skleněné louce se Diskobolos jenom četl, avšak druhé představení v klubwoši již Diskobola mělo v plné parádě.<br>
Osobně jsem se o angažmá dověděl jen pár hodin před samotným výstupem a původně jsem četl deník z Barcelony, zatímco autor ztvárnění Petr Jan Kryštof četl Košťův deník z Gruzie. Při představení v klubwoši se role obrátily.<br>
Jsem zvědav jestli se Deníky z Barcelony a Čečny budou ještě někdy reprízovat. Snad se v budoucnu najde vhodná příležitost.</p>
    