---
title: Mimo kontext
date: 2009-03-20 20:50
layout: blog
comments: false
---

      <p>Perský básník Rúmí vypovídá následovně:</p>
<p>Toto lidské bytí je dům pro hosty.<br>
Každé ráno přijde někdo nový.</p>
<p>Radost, tíseň, sprostota,<br>
záblesk povědomí o čemsi,<br>
to vše přichází jako nečekaný host.</p>
<p>Uvítej je všechny a bav je,<br>
i kdyby byli jen davem zármutků,<br>
který ti z domu drze vymetá<br>
veškeré zařízení.</p>
<p>S každým hostem zacházej s úctou.<br>
Třeba tě něčeho zbavil,<br>
třeba připravil prostor pro nové potěšení.</p>
<p>Černá myšlenka, stud, potměšilost.<br>
Vyjdi jim ke dveřím vstříc s úsměvem<br>
a pozvi je dál</p>
<p>Buď vděčný za každého hosta,<br>
ať už je to kdokoli,<br>
protože každý ti byl seslán jakožto průvodce<br>
z druhé strany".</p>
    