---
title: Zasáhlo mě (II)
date: 2009-11-12 21:31
layout: blog
comments: false
---

      <p>Písnička od Adriana Belewa (King Crimson) Futurevision mě sice zasáhla už před dávnem, ale teď je asi vhodná doba ji dát sem na blog :) Nabízím písničku ke stažení a její text k přečtení (anglicky).</p>
<h2>Futurevision</h2>
<p>Color futurevision</p>
<p>Red...for the angry young skinhead<br>
With a gun stuck down his pants<br>
And his hands wrapped around a gasoline can<br>
Blue...for the cruel nude tattoo<br>
With a dagger slashing a heart in two<br>
And the words "i'm cool, so screw you", yeah</p>
<p>I hope we can see there's more than one side<br>
I know there's no such thing as race, just a human race<br>
I hope we can see the world is not black and white</p>
<p>Color futurevision</p>
<p>Green...for the hatred of the mean people<br>
And the victims they mistreat who could just as easily<br>
Be you or me<br>
Violet...for the violence of a riot<br>
And the gunfire police siren<br>
Cars burning and people dying</p>
<p>I hope we can see there's more than one side<br>
I know there's no such thing as race, just a human race<br>
I hope we can see the world is not black and white</p>
<p>Color futurevision</p>
<p>Black...for a black man on a black rock<br>
On a black night when america forgot<br>
To say "it's alright to be who you are"<br>
White...for the white robe of jesus christ<br>
Whose message was each one of us<br>
Is equal in the eyes of god</p>
<p>Color futurevision</p>
<div style="display:block;border-top:1px #777 solid;"></div>
<p>A empétrojka se skrývá pod <a rel="nofollow" href="/sites/default/files/futurevision.mp3">tímto odkazem</a> :)</p>
    