---
title: Nový projekt 
date: 2009-02-22 09:13
layout: blog
comments: false
---

      <p>Není to zase tak dávno, co jsem na internetu objevil poměrně starou stránku 4chan. Jedná se o obrázkové nástěnky původně pocházející z japonského nápadu imageboardu, kde obsah anonymně posílají sami návštěvníci. Nástěnek jsou desítky a každá má jiné téma či zaměření. Moc mě tato stránka baví, protože je velmi živelná a neustále se mění. Dlouho jsem tak chodil jen tak a pasivně obdivoval jednoduchost a sílu, než jsem si uvědomil, že v českém internetu není žádný podobný projekt, žádný český 4chan. A tak jsem ho vytvořil.</p>
<p>Vznikl tak soubor obrázkových nástěnek na adrese <a href="http://www.xchan.cz" title="Obrázkové nástěnky (imageboard) Channel X">www.xchan.cz</a> a věřím, že si najde své místo na českém internetu. Původní nápad imageboardu zůstal zachován, ale byl počeštěn. Projekt xchan.cz je hotov až na grafické zpracování, ovšem i na grafice se pracuje, a proto můžeme v blízké době očekávat změny designu stránek. Technicky xchan.cz využívá jednoduché cgi skriptování v jazyce Perl, SSI a grafickou knihovnu Imagemagick. Právě s Imagemagick měl problém můj dosavadní hosting, který nenabízí ani dostatek pamětového prostoru. Právě proto jsem speciálně pro účely Xchanu hledal virtuální server, kde si vše můžu nastavit podle vlastní potřeby. Nyní k plné funkční i cenové spokojenosti používám server od nové firmy <a href="http://www.rightway.cz/hosting/" title="Prohlédněte si nabídku služeb od Rightway">RightWay</a>. Mohu jejich hostingové služby jen a jen doporučit, což také na svých stránkách dělám. Více se však můžete dozvědět v samostatném článku, kde své zkušenosti zhodnotím pořádně.<br>
Do imageboardu <a href="http://www.xchan.cz" title="Obrázkové nástěnky (imageboard) Channel X">www.xchan.cz</a> můžete přispívat i Vy. Je to anonymní a VELMI zábavné, avšak posuďte sami. Čím více lidí bude xchan.cz navštěvovat, tím zábavnější to bude. Zcela jistě se kolem Xchanu vytvoří komunita lidí a nyní je zde možnost být mezi prvními, kteří tuto komunitu budou tvořit. Apeluji na Vás, abyste této šance využili. Také pokud budete mít zájem se zapojit i jinak než přispíváním na nástěnku, <a href="/kontakt">kontaktujte mě</a>. Možností je více než dost.</p>
<p>Na úplný závěr několik odkazů,které se k tomuto tématu vážou:<br>
<a href="http://4chan.org" title="Skvělý imageboard, ale anglicky">4chan.org</a><br>
<a href="http://www.xchan.cz" title="Ještě lepší imageboard a navíc česky">Xchan.cz</a><br>
<a href="http://en.wikipedia.org/wiki/Imageboard" title="Informace o imageboardech na wiki">Imageboard na Wikipedii (anglicky)</a><br>
<a href="http://www.rightway.cz/hosting/" title="Výborný hosting, který doporučuji">RightWay.cz</a></p>
    