---
title: Komentáře k myšlenkám ó-sensei aikido Morihei Ueshibi
date: 2009-10-23 06:30
layout: blog
comments: false
---

      <p>O filosofii aikido se zajímám již něco přes rok a půl, ale teprve nyní jsem aikido začal aktivně trénovat. Mezi čtením historie aikido jsem narazil na myšlenky nebo spíš paměti zakladatele aikido Morihei Ueshibi. Podobnost jeho nahlížení na svět s mým světonázorem mě zarazila, a proto jsem se rozhodl některé jeho výroky komentovat a rozvést. Přestože jsem ztotožněn s naprostou většinou jeho myšlenek, není pro mně lehké Ueshibovy úvahy rozebírat a pro Tebe, čtenáři, nemusí být lehké je pochopit.</p>
<h2>Úvod k filosofii aikido</h2>
<p>
<strong><em>Protože není rozdílu mezi ai (soulad) a ai (láska), rozhodl jsem se pojmenovat mé jedinečné budó aikidó. Ačkoliv slovo "aiki" je již starého data, význam slova užívaného v minulosti bojovníky se od mého zásadně liší. </em></strong><br>
<br>
<strong><em>Aiki není způsob jak bojovat nebo porazit nepřítele. Je to způsob, jak uvést svět v soulad a vytvořit ze všech lidských bytosti jednu rodinu.</em></strong>
</p>
<p>
V dnešní době přechodu Země v lepší svět nemohu uvěřit, jak moc nadčasová je myšlenka aikido. Současný nesoulad světa je neudržitelný a lidé by si měli uvědomit, že konkurovat si nebo mezi sebou bojovat nemá naprosto žádný užitek. Mnohem více dobrého vzejde ze vzájemné pomoci. Jeden z prostředků k dosažení harmonie jednotlivce i společnosti je aikido.
</p>
<p></p>
<h2>Tajemství aikido</h2>
<p>
<strong><em>Tajemství aikidó spočívá v souladu s pohyby vesmíru a v našem sjednocení se s vesmírem samým. Ten, kdo již poznal tajemství aikidó má vesmír v sobě a může říct "Já jsem vesmír". Nikdy nebudu poražen, ať je útok jakkoli rychlý. Není to proto, že má technika je rychlejší než protivníkova. Není to otázka rychlosti. Boj skončil dřív než začal. </em></strong><br>
<br>
<strong><em>Když se se mnou, s vesmírem samým, protivník snaží bojovat, poruší vesmírnou harmonii. Už ve chvíli, kdy se rozhodne bojovat, je poražený. Není žádný čas, který se dá změřit. Rychlost nehraje roli. </em></strong><br>
<br>
<strong><em>Aikidó ničemu neodporuje. Proto jej nelze porazit. </em></strong><br>
<br>
<strong><em>Ti, kdož mají pokřivené myšlení. Ti, v jejichž mysli je spor, jsou již od počátku poraženi.</em></strong>
</p>
<p>
Zde je vyjádřena největší myšlenka, největší tajemství života. <strong><em>"Já jsem vesmír."</em></strong>. Já často říkám jen "Já jsem", neboť je to jméno Boha. Boha, jenž tvoří vesmír a který je Láska s velkým L. Každý člověk je nedílnou součástí Lásky, ale málokdo si to uvědomuje. Křesťanská církev již téměř dva tisíce let mystifikuje lidi, že by se měli bát Boha a měli by mít v úctě jeho království zde na Zemi, čímž myslí hlavně církev jako instituci. Ale co je svaté na náboženské instituci, na něčem, co vyvolává války a bojuje proti bezvěrcům? Je to projev Lásky? Svatý je člověk, lidská bytost. Místo církve uctívejme sebe a všechny ostatní. Potom každý, kdo se bude stavět na odpor, pozná, že proti Lásce (Tobě, mně) nejde bojovat.
</p>
<p>
<strong><em>Jak lze napravit pokřivenou mysl? Očistěte své srdce a buďte v souladu s bytím všech věcí v přírodě. Nejdříve přijměte za své srdce boží, nekonečnou lásku, přítomnou v každém čase na každém místě vesmíru. </em></strong></p>
<p><strong><em>V lásce nejsou konflikty. V lásce nejsou ani nepřátelé. Mysl plná konfliktů a existence nepřátel není v souladu s vůlí Boží. </em></strong></p>
<p><strong><em>Ti, kteří s tímto nesouhlasí, nemohou být v harmonii s vesmírem. Jejich budó slouží ničení. Není to budó tvořivé.</em></strong>
</p>
<p>
Mám-li nepřátele, vytvářím zle sobě i druhým. Je to má osobní zkušenost a jistě se najde mnoho dalších lidí, kteří mají stejnou. Budou-li se všichni lidé navzájem v lásce uctívat, kdo bude tvořit zlé? Nikdo. Ano, zní to možná na první pohled naivně, ale pokud si hned na začátku každý řekne, že to nemá cenu a nezmění svůj přístup, nemůže se svět pohnout dále. Jeden vagabund a jen náhodou známý fotograf Miroslav Tichý prý řekl, že blázni jsou ti, kterých je míň. Jak se změní "normalita", změníme-li postupně (jednotlivě) své nepřátele na přátele?
</p>
<p>
<strong><em>Pro Uešibu a aikidó nejsou nepřátelé. Mýlíš se, jestliže si myslíš, že opravdové budó znamená bojovat s protivníky a nepřáteli, být silný a porazit je. Pro opravdové budó nejsou ani protivníci ani nepřátelé. Skutečné budó znamená být jedno s vesmírem; což znamená sjednotit se s jeho středem.</em></strong>
</p>
<p></p>
<h2>Život v přítomném okamžiku</h2>
<p><strong><em>Když se někdo zeptá, jestli jsou moje principy aiki budó převzaty z náboženství, odpovídám "ne". Principy mého skutečného budó vedou náboženství k pochopení a k celistvosti. </em></strong><br>
<br>
<strong><em>Zůstávám klidný, jakkoliv a kdykoliv jsem napaden. Neoddávám se životu ani smrti. Nechávám všechno, jak je, Bohu. Straňte se upjatosti k životu nebo smrti a udržujte mysl, která přenechá všechno jemu, nejenom, když jste napadení, ale i ve vašem v každodenním životě.</em></strong>
</p>
<p>
Prožívat přítomný okamžik je jedna velká radost. Minulost už není a budoucnost zatím neexistuje. Všechno co je, je <em>teď</em>. Pokud žiju v Lásce a mám pozitivní myšlení, nemůže se mi stát nic zlého. A pokud se tak stane, stačí jen chvíli počkat, abych zjistil, že to byl naopak velmi prospěšný moment. <br>
Ale jen málo lidí skutečně žije přítomným okamžikem, protože ze začátku se může zdát jako nesnadné, zbavit se břemene minulosti a přestat uvažovat o daleké budoucnosti. Naopak znám hodně lidí, kteří nemají šťastný život, neboť jsou příliš zaměřeni na vzpomínky nebo se až moc zaobírají (nejen) svou budoucností. Žijeme <em>teď</em> a příští okamžik může náš život neplánovaně změnit. Jsme-li na to připraveni, vyhneme se žalu ze zhroucených plánů.
</p>
<p></p>
<h2>Poslání aikido</h2>
<p>
<strong><em>V aikidó ovládáme protivníkovu mysl dřív, než mu budeme čelit. To je způsob, jak ho stáhneme do nás samotných. Kráčíme vpřed životem s touto přitažlivostí a pokoušíme se ovládat celistvý pohled na svět. Neustále se modlíme za to, aby nedocházelo k žádným bojům. Z tohoto důvodu přísně bráníme zápasům v aikidó. Duch aikidó má milující útok a mírové usmíření. V tomto úsilí přivedeme protivníka a sjednotíme ho s vůlí a silou lásky. Prostřednictvím lásky jsme schopni očistit ostatní. </em></strong><br>
<br>
<strong><em>Pochopte aikidó nejdřív jako budó a potom jako službu k vytváření celosvětové rodiny. Aikidó není pro jedinou zemi nebo pro někoho konkrétně. Jediný účel je provést Boží dílo.</em></strong><br>
<br>
<strong><em>Můžeme říct, že aikidó je způsob jak odstranit zlo upřímností našeho dechu místo mečem. Je to způsob, jak změnit svět zlých myšlenek ve svět ducha. To je poslání aikidó.</em></strong>
</p>
<p>
Svět se nezmění sám od sebe. Je to člověk, který ho mění. To, co nyní prožíváme, je výsledek chování lidí. Je jen na nás lidech, jaký svět si utvoříme. Chtěl by jsi, člověče, radostný život? Proč tedy myslíš na zlé věci a nekonáš dobro? Miluj ostatní, jako miluješ sebe, a tím změň své okolí a následně celý svět k lepšímu.<br>
<br>
Zde aikido, v největší možné míře, přesahuje rámec bojového umění. I pokud necvičíš aikido nebo máš jiný pohled na svět, je pochopení této myšlenky ztěžejní pro Tvůj život i život ostatních tvorů na planetě. Poslání aikido je všeobecné poslání všech svatých bytostí a jak už bylo řečeno výše, člověk je svatá bytost.
</p>
<p>
<strong><em>Chci, aby ohleduplní lidé naslouchali hlasu aikidó. Není to proto, abyste opravovali ostatní. Je to proto, abyste napravili vaši vlastní mysl. To je aikidó. To je poslání aikidó a mělo by být i vašim posláním.</em></strong>
</p>
<p></p>
<p style="font-size:smaller">Slova Morihei Ueshibi bez laskavého svolení přebrána z <a href="http://www.cfai.cz/materialy/texty/mistr.htm">www.cfai.cz</a></p>
    