---
title: Fit Garden Párty a ostatní
date: 2009-05-07 22:22
layout: blog
comments: false
---

      <p>Dnes skončil můj první letní semestr a na fakultě začíná zkouškové. Studentská unie fakulty Informačních technologií VUT, jejímž jsem zastupitelem, pořádala k této příležitosti večírek pro studenty a jejich přátele. Den zavřených dveří, jak se večírek jmenoval, naservíroval všem studentům v době děkanského volna řadu soutěží a aktivit (dezorientační běh, prohlídka podzemí fakulty,...) a poté také večení veselení s živou hudbou. Takovou párty zažila fakulta vůbec poprvé a myslím, že až na pár drobností se povedla. Za drobnosti považuju počasí typu "zataženo až deštivo", které určitě pár studentů odradilo od příchodu, přestože vlastně nepršelo a dále předčasné ukončení koncertů na žádost krpolské městské policie, z důvodu hluku po desáté hodině :)<br>
Všechno se ale obešlo bez problémů, akce měla mezi studenty dobrý ohlas a všichni už se těší na příští 1. ročník.<br>
Vstříc zkouškovému jsem tedy vykročil s menší kocovinou, ale také již s jednou zkouškou hotovou v předtermínu. Jedná se o předmět docenta Kunovského. Musím dát za pravdu jednomu spolužákovi, který řekl, že pan Kunovský přišel kromě TKSL také na tu nejlepší metodu výuky a to, že student má pocit, že se vůbec nic neučí a potom zjistí, že vlastně všechno umí. Kéž by to tak bylo i dalších předmětech. Příští týden mě čekají 4 zkoušky ve 4 dnech, ale tak nějak podvědomě cítím, že zvládnu všechny zkoušky dobře a docela se i těším. Trochu divné to jistě je, ale představa posledních 2 týdnů učení před čtyřmi měsíci volna mi dodává dost energie.<br>
V týdnu jsem se přes internet seznámil s Polákem Sebastianem. Chodí na mé stránky xchan.cz a oslovil mě s nápadem nového imageboardu. Je to fajn člověk, se kterým se dobře povídá. Řekl mně, jak to chodí v Polsku, například že tam mají cenzurované ICQ (nebo jiný protokol, ale se stejným smyslem). Nebyl jsem vlastně ani překvapen, protože vím, jaké prudy dokážou Poláci být. Ten imageboard s ním udělám, ale nejdřív ho musím naprogramovat.<br>
Nyní se však musím soustředit na zkoušky, abych na to programování měl potom víc času. Děje se hodně věcí, napříště zase napíšu ty pěkné z nich.</p>
    