---
title: Inspirace prvního září
date: 2009-09-21 09:03
layout: blog
comments: false
---

      <p>Tak po prázdninovém oddychu zase trochu blogování. První zářijový den byl dost inspirativní. Jednak je to první den, kdy bydlím ve svém novém privátu s novými lidmi, kteří jsou moc milí a jednak to byl celkově zajímavý den. Ale o tom psát nebudu, i když...</p>
<p>Všechno je to o postoji, který zaujmeme. To jsem řekl dneska mému moc moc dobrému kamarádu, jenž dnes udělal talentovky na střední umělecko-průmyslovou školu. Je o málo starší než já a protože má nedokončené vzdělání, šel na střední. Nejdřív se dostal na gymnázium, ale chtěl jít na uměleckou školu. Dnes mi volal, že se šel zeptat za ředitelem úprůmky na přestup a ten, že prý mu řekl, ať jde rovnou dělat talentovky, tak šel. Teda šel nejdřív na pivo a rum, ale talentovky potom udělal jako nic. Kdovíkdo by se musel snažit a měl by trému a stejně by se nedostal, ale on to zmákl levou zadní. Moc dobře vím, že si byl jistý, že se dostane a jinak to ani nedopadlo.<br>
Všechno je o postoji, který zaujmeme. Můj kamarád si řekl, že to zvládne a s tím pocitem tam i přišel. Nezáleží jestli něco uměl, prostě si řekl, že umí. Již mnohokrát se mi potvrdilo, že to tak doopravdy funguje, proto vždy musím soucítit s lidmy, kteří si nevěří. Mají úspěch na dosah ruky a stejně si radši budou namlouvat svou neschopnost.<br>
Někdy ten úspěch nemusí přijít hned, ale dostaví se až postupem času. O tom mě zas přesvědčil <a href="http://www.podnikanivusa.com/2009/09/01/inspirace-od-jinych-lidi/" v>John</a>. Napsal pěkný článek o tom, že i pro úspěch nesmí chybět trpělivost. Ale není to jen o trpělivosti. Důležitou roli hraje i silná vůle a chtíč. Chtít něco dokázat je velká moc. Díky oběma, že mi to dnes připomněli.</p>
    