---
title: Aikido
date: 2009-09-28 16:25
layout: blog
comments: false
---

      <p>Od zítřka nastupuju výcvik v aikido. O filosofii tohoto mírumilovného umění se zajímám již docela dlouhou dobu a cvičím se ve využívání KI. Od samotného tréningu obraných technik si mnoho neslibuju, ale třeba budu příjemně překvapen. Na internetu se povalovalo hezké pdf o aikido, které do češtiny přeložil Mirek Čapek, ale kde nebyl uveden autor. Nicméně ani Mirka ani pana Anonyma jsem se nezeptal, zda mohu text zveřejnit. Dělám to v dobré víře, takže to snad nebude vadit.</p>
<p>Nejhlubším významem AIKIDO je umění způsobu života, osobního růstu a Cesty, na které získáme zážitky jednoty s Universem.<br>
Jednoduše řečeno je AIKIDO japonské umění sebeobrany, odlišující se od jiných druhů svým důsledným mírumilovným charakterem.<br>
AIKIDO přináší jednotlivci lepší sebepoznání i lepší poznání svých bližních. Podstatou výuky je snaha o získání vyváženosti mezi tělem a duchem používáním a souladem s KI -universální životní silou.<br>
AIKIDO vytvořil počátkem 20tého století pan Moherei Uyeshiba, který na základě svých zkušeností a zážitků ucítil potřebu rozšířit tuto Cestu Harmonie a Lásky do celého světa. Chtěl kultivovat osobní využívání této KI - životní síly.
</p>
<pre>
<strong>AI</strong> -Tělo a duch v souznění,harmonii a jednotě se vzájemným
       působením Universa
<strong>KI</strong> -Životní energie, z které je vše zrozeno, která je 
      vždy a všude přítomna v plné síle,proudí neustále a může být kdykoliv použita
<strong>DO</strong> -Denní používání, úcta ke všemu živému jako princip 
      každodenního života, zodpovědný způsob života.
</pre>
<p>
Ve výuce AIKIDO podle Koiši Tohei-e, žáka Uyeshiby, se dává velký důraz na procvičování KI. Jsou vysvětlovány principy KI v Universu a učíme se jak nechat proudit KI tělem i po těle. Je propracováno poznávání rozdílu mezi tím, kdy KI působí a kdy nepůsobí, při tělesném pohybu i při zátěži. Při výuce je každý účastník semináře zároveň i zkušebním partnerem pro každého jiného účastníka. Průběžně se zkouší stabilita každého každým. Tím se naučíme rychle poznávat proudění KI.
</p>
<h2>1) Motto</h2>
<p>Získejme universálního ducha, který miluje a ochraňuje všechna stvoření a všem věcem pomáhá v růstu a ve vývoji.<br>
Základní podstatou našeho studia je sjednocení ducha a těla a jednota s Universem.</p>
<ul>
<strong>Čtyři základní principy pro sjednocení ducha a těla jsou:</strong>
<li>Udržovat jeden bod</li>
<li>Dokonale se uvolnit</li>
<li>Držet váhu dole</li>
<li>Nechat proudit KI</li>
</ul>
<p><em>Pozn.: Podle Koiši Tohei-e je každý princip závislý na dalších třech. Tedy v okamžiku, kdy splníme jeden princip, jsou splněny i další tři. (fanda)</em></p>
<h2>2) Účel naší jsoucnosti</h2>
<p>Naše žití pochází z KI Universa. Poděkujme, že jsme nepřišli na svět jako rostliny či zvířata, ale jako Božská stvoření. Dovolme naplnit naše poslání, kterým pomáháme řídit vývoj a tvorbu Universa.</p>
<h2>3) Cesta k jednotě s KI</h2>
<p>Absolutní Universum je jedno a to nazýváme KI. Náš život i tělo se zrodily z KI Universa. Učíme se svědomitě principům Universa a praktikujeme je! Jsem jedno s Universem! Není žádného důvodu váhat či se strachovat. Cesta,kterou jdeme, je Cestou Universa, která nemůže být ztěžována potížemi nebo útrapami.<br>
                                                                    3<br>
Mějme odvahu říkati s Konfuciem:</p>
<pre>
                "M á m - l i j a s n é v ě d o m í
                  a k l i d n é h o D u c h a -
                  o d v á ž í m s e s t ř e t u s
                  d e s e t i t i s í c i n e p ř á t e l i"
</pre>
<h2>4) Sjednocení ducha a těla</h2>
<p>Duch a tělo jsou odedávna jedno!<br>
Nemysli si, že síla, kterou máš, je pouze tou silou, kterou obvykle vynakládáš a potom naříkáš, že jí máš málo. Síla, kterou obvykle využíváš, je pouze malou, viditelnou špičkou ledovce! Sjednotíme-li ducha a tělo, sjednotíme se i s Universem! A můžeme používat tu největší sílu, kterou máme od přírody!</p>
<h2>5) Jeden bod v podbřišku</h2>
<p>Universum je nekonečný kruh s nekonečným poloměrem. Zmenší-li se, stane se jedním bodem v podbřišku, který se stává centrem Universa. Soustřeďme našeho ducha na tento jeden bod a trvale vysílejme KI do Universa.</p>
<h2>6) Uvolnění</h2>
<p>Jsme-li nervózní, máme obvykle zbytečné problémy. Nervozita stahuje cévy a tím ztěžuje odchodu škodlivých látek z těla. To přináší náchylnost k mnoha chorobám. Uvolnění je elixírem života! Rozprostřeme novou metodu uvolnění, což nám umožní denně pozdravovat jemný vánek jara. Praktikujeme-li toto denně, nebudeme již v každodenním životě pociťovat nervozitu a rozčílení.</p>
<h2>7) Žití v klidu</h2>
<p>Váha objektů se nachází samozřejmě vždy vespodu. Získáme-li u každého kousku našeho těla stálý pocit tíže na jeho spodní části, je to fyzikálním výrazem prožívaného klidu. Tak jak odráží klidná vodní hladina Měsíc a letící ptáky, je pravý prožívaný klid kondicí našeho ducha, která vše jasně odráží. Toto je stav přirozeného prvotního lidského bytí! Porozumíme-li těmto principům, můžeme dosáhnout pravého prožívání klidu.</p>
<h2>8) Pozitivně žít</h2>
<p>Absolutní Universum je jedno!<br>
Když posléze povstaly dvě protichůdné síly,zrodil se relativní svět. V Orientu se tento dualismus nazývá Jin a Jang a v západním světě negativ a pozitiv. Světlé šťastné žití se vykresluje jako pozitivní a tmavé a trudomyslné jako negativní. Odstraňme všechny negativní myšlenky a od teď se snažme již navždy žít pozitivním způsobem.</p>
<h2>9) Podvědomí</h2>
<p>Duch hlubokého podvědomí je takovým skladem veškerého vědění a minulých zkušeností. Vše se skladuje v hlubokém podvědomí a formuje vědomého ducha. Od této chvíle si musíme dávat pozor, abychom neskladovali do našeho hlubokého podvědomí žádný negativní materiál.<br>
Vyzařujme stále KI a udržujme naše žití v pozitivu!</p>
<h2>10) Princip neútočení</h2>
<p>V absolutním Universu neexistuje žádný konflikt - konflikty existují jen v relativním světě. Sjednotíme-li našeho ducha a tělo,stojíme-li v jednotě s Universem a aplikujeme-li principy, budou nás ostatní lidé šťastně následovat. Neříkej, že žijeme ve světě ve kterém musíme denně bojovat. Cesta pravdy k úspěchu, k Cíli, je právě ta samá,jako<br>
princip neútočení - a to je cesta míru.</p>
<h2>11) Podstata - jsoucno KI</h2>
<p>Při počítání všech věcí začínáme vždy s "jedna". Není možné zmenšit "jedna" na nulu. Zrovna tak jako "něco" se nemůže skládat z "nic", nemůže "jedna" povstat z "nula". KI je jako číslo jedna, které se skládá z nekonečně malých částeček menších než atom. Zmenšené universální KI je dále individuelní osobou zmenšeno do jednoho bodu v podbřišku, ale i kdyby se ještě dále zmenšilo, nebude nikdy nulou a proto je stále v jednotě s Universem.<br>
To pochopíme, jdeme-li cestou KI!</p>
<h2>12) Cvičení k vývoji KI</h2>
<p>Sedíme či stojíme-li v klidu, je snadnější sjednotit ducha a tělo, nežli pohybujeme-li se. Pohybujeme-li se, znamená pravé sjednocení či usebrání, také vždy udržení si spolupráci ducha a těla. Cvičení k vývoji KI nás činí způsobilými přenášet jednotu mezi duchem a tělem do každodenního života. Zařadíme-li toto cvičení do našeho každodenního života, dokážeme vkládat své schopnosti do všeho lépe, jak kdykoliv předtím.</p>
<h2>13) Jednota klidu a činnosti</h2>
<p>Tak jako získává stabilitu rychle se otáčející kruh, ústí také rychlý pohyb do klidu. Tak jako "oko tajfunu" (střed větrné smršti) je vždy klidné, vytváří vnitřní klid obrovskou schopnost činnosti. Čas pro sebe-i když jsme ve vysoké činnosti -nacházíme pouze dodržujeme-li jeden bod a sjednocujeme-li ducha a tělo. Schopnost získávat ze své činnosti to nejlepší i při nehodách, nebo stojíme-li před důležitými úkoly, získáme podržíme-li si stav klidného ducha.</p>
<h2>14) FUDOŠIN</h2>
<p>Pravý Fudošin není ztuhlý nepohyblivý duchovní stav, ale podmínka stability, která je důsledkem rušného pohybu. Jinými slovy: Tak, jako stabilita pohybujícího se kruhu, povstává stav úplné duševní a tělesné stability z pohybu, který je nekonečný a nekonečně rychlý, takže není vnímatelný. Tento pohyb se zhušťuje v jednom bodu v podbřišku. Soustřeďujeme-li vše do tohoto jednoho bodu, můžeme zažít Fudošin aniž bychom ztráceli svou stabilitu -lhostejno co se děje.</p>
<h2>15) Dechová cvičení s KI</h2>
<p>Vydechuj tak, jako by se tvůj dech dával na nekonečnou cestu až ke konci Universa. Nadechuj tak, aby tvůj dech dosáhl až do tvého jednoho bodu a tam se zdržoval nekonečně dlouho. Dechová cvičení KI jsou důležitou metodou sjednocení ducha a těla. Večer, kdy se vše okolo tebe nachází v klidu a tichu, procvičuj tyto techniky a pocítíš, že TY jsi Universem, a že Universum "JÁ" je to, co tě povede k prožitku nejvyšší extáze jednoty s Universem. V tomto okamžiku se plně aktivuje životní síla, která ti náleží.</p>
<h2>16) KIATSUHO - přenášení KI</h2>
<p>Naučili jsme se vyladit navzájem ducha a tělo a také KI-dýchání. Tím jsme schopni získávat kdykoliv KI do našeho těla. Je-li vyschlá vodní pumpa -nečerpá vodu ze studny. Aby dávala pumpa opět vodu, musíme jí nejprve zalít trochou vody. Stejné je to i s člověkem,kterému neproudí správně KI, protože trpí kvůli prodělané nemoci, nebo zažitému neštěstí. Nechme působit Kiatsuho, abychom takovému člověku mohli předat KI, aby začal opět proudit tok jeho vlastního KI. Tak mu umožníme nový start ke štěstí.</p>
<h2>17) RAJZAJŠIN</h2>
<p>Člověčenství se vyznačuje duchem sjednoceným s duchem Universa. Tento duch se nazývá Rajzajšin. Je-li voda klidná, zrcadlí se v ní Měsíc.To samé se děje, máme-li našeho ducha a tělo v jednotě a klidu -tehdy se dokonale vyjeví Rajzajšin. Stane-li se to,odpadnou všechna trápení a běžné touhy a probudí se v nás universální duch Lásky<br>
a ochrany všeho.</p>
<h2>18) Duch hledání pravdy</h2>
<p>Máme-li ducha, který nám vyjasňuje cestu Universa a praktikujeme-li to -pak je duchem, který hledá pravdu. Pes či opice mohou být velmi chytří, ale nedokážou rozeznat ducha Universa. Pouze lidé k tomu získali privilegium i kapacitu. Máš-li ducha, který hledá pravdu, buď šťastný, protože to znamená, že jsi skutečným člověkem.</p>
<h2>19) Síla vůle</h2>
<p>Orientální moudrost praví:"Soustředíme-li sílu vůle na kámen, neprochází kamenem!" Soustředíme-li naši sílu vůle a jsme přitom v harmonii s Universem, dokáže tato energie ovládnout vítr, déšť i bouřku. Ale odkud naše síla vůle přichází? Každý, kdo rozumí a dokáže zodpovědět tuto otázku, je člověkem, který dokončil důležitý úkol. Koordinujeme-li ducha a tělo, když jsme uklidnili vlny našeho ducha z nepoznatelného, nekonečně klesajícího pohybu, dokážeme vysílat obrovskou sílu vůle, která pohybuje Universem.</p>
<h2>20) INTOKU - neokázalé konání dobra</h2>
<p>Tak jako se "jedna" nikdy nemůže redukovat až na nulu, tak nemohou nikdy úplně vymizet i naše akce či řeči, konáme či mluvíme-li. Jedno orientální moudro praví: "Seješ-li dobro, bude sklizeň dobrá. Seješ-li obvyklé, sklízíš obvyklé". Musíme si uvědomit, že vše co děláme se k nám vrátí. Proto je třeba, abychom předtím, než si přejeme dobro a štěstí pro nás i naše děti, konali dobro - v tajnosti. Konání dobra v tajnosti znamená konat je neokázale, nebo bez očekávání pochvaly nebo odměny. To je INTOKU! Mezi rozličnými cestami, kterými můžeme provádět Intoku, je nejlepší jít cestou Universa, kte-<br>
rou budeme doprovázet i jiné lidi.</p>
<h2>21) SETSUGO - vyučovat Cestu Universa</h2>
<p>Lidé, kteří hledají sami sebe, v minulosti nikdy neporozuměli a nekráčeli Cestou Universa. Poznáme-li principy a Cestu Universa, klade na nás Universum zodpovědnost šířit naše poznatky dále do světa. Nemysli si, že nemůžeš pomáhat ostatním lidem. Co se dnes naučíš, zítra můžeš předávat dál. Svět je plný lidí, kteří ztratili Cestu Universa a trpí duševními chorobami. Snažme se jim vysvětlovat správné principy Universa jak<br>
nejlépe umíme.</p>
    