---
title: Zasáhlo mě (I)
date: 2009-05-22 14:29
layout: blog
comments: false
---

      <h2>Cesta do hlubin malé duše</h2>
<p>Byla jednou jedna Malinká Duše, která řekla Bohu: "Já vím, kdo jsem!"<br>
A Bůh řekl: "To je skvělé! Kdo tedy jsi?"<br>
A Malinká Duše vykřikla: "Jsem Světlo!"<br>
Bůh se zeširoka usmál. "To je pravda'" zvolal "<strong>Ty jsi Světlo</strong>."<br>
Malinká Duše byla velmi šťastná, protože zjistila to, co měly zjistit všechny duše v Království.<br>
"Oh." řekla Malinká duše, "to je vážně paráda!"<br>
Ale brzy jí to nestačilo, najednou zatoužila procítit si být tím, čím je. A tak šla zpět k Bohu.<br>
"Ahoj, Bože! Ted když vím, kdo jsem. můžu tím také být?"<br>
A Bůh řekl: "Chceš říct, že toužíš být tím, kým už jsi?"<br>
"No", řekla Malinká Duše, jedna věc je vědět, kým jsem a úplně jiná věc je tím skutečně být.<br>
Chci cítit, jaké to je být Světlem!"<br>
"Ale ty už jsi Světlo", zopakoval Bůh a znovu se usmál<br>
"Ano, já ale chci zjistit jaký je to pocit!" křičela Malinká Duše.<br>
"Dobrá", řekl Bůh a usmál se tiše pro sebe, "ty jsi byla vždycky dobrodružná." Pak se jeho výraz ve tváři změnil. "Je tu ale jedna věc..."<br>
"Co?" zeptala se Malinká Duše.<br>
"No, neexistuje nic než Světlo. Víš, nestvořil jsem nic jiného než to, čím jsi - takže není žádný<br>
jednoduchý způsob, jak bys mohla zažít sama sebe, protože není nic, čím nejsi. "<br>
"Hm.. ", řekla Malinká Duše, která teď byla trošku zmatená.<br>
"Podívej se na to takhle", řekl Bůh. "Jsi jako svíčka ve Sluncí. Ano, jsi opravdu tam Spolu s miliony, triliony dalších svíček, které tvoří Slunce. A Slunce by bez Tebe nebylo Sluncem. Ale nebylo by jím ani bez jakékoliv jiné svíčky, protože by tak jasně nesvítilo. Jak poznat sám sebe jako Světlo, když jsi uprostřed něj - to je otázka... "<br>
"No", napřímila se Malinká Duše, "ty jsi Bůh. tak něco vymysli'"<br>
Bůh se znovu usmál. "Už jsem to vymyslel", řekl. "Protože nevidíš sama sebe jako Světlo, když jsi ve Světle, obklopím tě temnotou. "<br>
"Co je to temnota", zeptala se Malinká Duše.<br>
Bůh odpověděl: "To je to, čím nejsi."<br>
"Nebudu se temnoty bát?" zvolala Malinká Duše.<br>
"Jenom pokud se rozhodneš", řekl Bůh. "Ve skutečnosti není nic, čeho by ses měla bát, pokud se nerozhodneš, že je čeho se bát. "<br>
"Aha", řekla Malinká duše a už se cítila o něco líp.<br>
<strong>Potom Bůh vysvětlil, že jediný způsob, jak něco prožít, je zakusit opak: "Bez zimy byste nepoznali teplo, bez rychlého pomalé, bez levého pravé, bez tam by nebylo tady a bez teď by nebylo potom takže, když jsi obklopena temnotou, neproklínej temnotu. Raději buď Světlem v temnotě.</strong> Potom budeš vědět, kým skutečně jsi a budou to vědět i ostatní. Nechej své Světlo zářit tak, aby všichni věděli, jak jedinečná jsi!"<br>
"Chceš říct, že je v pořádku. aby ostatní věděli, jak jsem jedinečná?" zeptala se Malinká Duše. "Ovšem!", zvolal Bůh. "Je to naprosto v pořádku! Ale pamatuj si, že jedinečná neznamená lepší. Každý je jedinečný svým způsobem! Mnozí to možná zapomněli, ale když uvidí u tebe, že být jedinečný je v pořádku, rozvzpomenou se na svoji jedinečnost. "<br>
"Oh", zajásala Malinká Duše a roztančila se velkou radostí. "Můžu být tak jedinečná, jak jen chci" "Ano, a můžeš začít hned teď'", řekl Bůh. který tancoval, skákal a -smál se splolu s Malinkou Duší. "Kterou částí jedinečného chceš být?"</p>
<h2>Benegesseritská litanie proti strachu</h2>
<p>Nesmím se bát.<br>
Strach zabíjí myšlení.<br>
Strach je malá smrt přinášející naprosté vyhlazení.<br>
Budu svému strachu čelit.<br>
Dovolím mu, aby prošel kolem mne a skrze mne.<br>
A až projde a zmizí, otočím se a podívám se, kudy šel.<br>
Tam, kam odešel, nezůstane nic.<br>
Zůstanu jen já.</p>
    