---
title: Starý vzhled, lepší provedení
date: 2009-05-26 12:49
layout: blog
comments: false
---

      <p>Doba "po zkouškovém" je osvěžující vánek profukující zaprděný gauč, na kterém jsem byl dosud zvyklý pracovat. Tělo pročišťuju slivovicí a nikotinem, mysl úvahami o blízké budoucnosti a webové stránky staronovým rychlým kódem.</p>
<p>Naposled zmíněný sektor pročišťování prošel před chvílí důležitým záchytným bodem. Po delší době, než jsem původně očekával, se mi podařilo přenést nově udělanou verzi těchto stránek na rychlejší server. Změn je na první pohled málo, ale o to jsou důležitější. Například jsem přesunul články o matematice na vlastní poddoménu, kde jim bude líp a budou mít více prostoru. Také jsem sjednotil vzhled primárních odkazů a log. Některé služby ještě stále čekají na své spuštění, ale to hlavní je pro ně již připraveno. Protože teď mohu k motoru přidávat subdomény jako na běžícím pásu, bojím se sám sebe, co si ještě vymyslím a přidám...</p>
<p>Mám chuť na kávu. Horší ale je, že mám taky chuť dát to vědět ostatním přes twitter. Od pátku taky tweetuju a musím říct, že je to fakt fajn. Nejvíc se mně líbí ta naprosto jednoduchá otázka, která celý twitter uvozuje: What are you doing? Takže až teď dopíšu tento blog, odpovím Twitteru, že jsem právě dopsal blog a že jdu na kávu. Všichni to budou vědět a budou šťastní. No a já budu taky šťastný, neboť si dám, na co mám chuť.</p>
    