---
title: Moc přítomného okamžiku
date: 2009-12-29 22:48
layout: blog
comments: false
---

      <p>Říkám tomu <em>Nový život</em> a znamená to, že už nikdy nic nebude jako dřív. To vše z jednoho prostého důvodu - nechci, aby někdy něco bylo jako dřív, přestože si myslím, že to všechno stálo za to a bylo to jedním slovem "úžasné".</p>
<p>Nevím, jestli mám popisovat nepopsatelné a nevím, jestli k tomu mám vůbec důvod. Ještě jsem nenalezl klid, ale ten už je nadohled. Stále myslím víc než jsem, což neznamená nic jiného než, že mi stále vládne ego. Ale jeho dny jsou sečteny a až uvidím výsledný součet, skončí období, které nyní začlo a <em>Nový život</em> se mým prostřednictvím projeví v plné kráse. To období, o němž mluvím, je ohraničeno <em>Rozhodnutím</em> na straně jedné a <em>Rozplynutím iluze</em> na straně opačné. </p>
<p>Je předchozí odstavec matoucí pro všechny, kdo nejsou Já? To není řečnická otázka. </p>
<p><span style="font-size:smaller">Dokončení příště</span></p>
    