---
title: Mám novou doménu resident-evil.cz
date: 2009-04-18 23:17
layout: blog
comments: false
---

      <p>Sice jsem se nedávno zařekl, že už si žádnou novou doménu nekoupím, protože jich mám už tak dost a protože si uvědomuju, jak málo využívám poddomén, ale nikdy neříkej nikdy.</p>
<p>Všechno je to zdánlivá náhoda, ale já na náhody věřím. Před časem mně napsal kamarád Peťa, dosud zarputilý vyznavač flashových webů a udělátek, že by se chtěl naučit pracovat s html a kaskádovými styly a vytvořit stránku a hře a filmech Resident Evil. Důvod měl naprosto jednoduchý a přitom ten úplně nejlepší. Prostě ho to baví. Souhlasil jsem, že mu poradím, jak má web udělat i s tím, že mu budu pomáhat. Po zmapování webového terénu googlem jsem zjistil velkou informační díru v tomto sektoru. Vskutku moc stránek s touto tématikou není a přitom je to populární hra. Sám hraji první díl na Nintendu DS. Povzbuzen jsem mapoval terén dál a narazil na nefunkční doménu resident-evil.cz, která právě expirovala a byla v ochranné lhůtě. Hned mě napadlo, že doménu musím získat. Zeptal jsem se svého registrátora domén, jak to udělat, abych si doménu zaregistroval jako první hned po její úplné expiraci, ale bylo mi řečeno, že jediné, co opravdu potřebuji, je štěstí zaregistrovat doménu jako první. Jenže se štěstím to není jenom tak lehké, že ho člověk má nebo nemá. Kdo štěstí potřebuje, musí se o něho zasloužit. Našel jsem si kontakt na stávajícího majitele domény a s úžasem zjistil, že vlastní krámek s konzolovými hrami kousek od mé školy. Paráda. Hned další den jsem za ním osobně zašel a ten fajn chlapík mě doménu přislíbil s podmínkou, že se postarám o převod. Hezky jsem si to štěstí zařídil.<br>
Vím, že převod domény lze provést i bez notářského potvrzení, ale moc registrátorů tuto službu neposkytuje. I můj registrátor mě odkázal na notáře, proto jsem znovu trošku zagooglil a našel postup změny majitele domény bez nutnosti notářského osvědčení. Jedná se o využití služeb registrátora domén Active24.cz a postup byl následující:</p>
<ol>
<li>nechal jsem si poslat tzv. auth-id od stávajícího registrátora</li>
<li>sebe(kupce) i majitele jsem zaregistroval do systému na Active24.cz</li>
<li>v účtu majitele jsem najel na Domény -&gt; Transfer a zadal název domény a auth-id</li>
<li>majitel domény potvrdil příchozí email a tím doména změnila registrátora na Active24</li>
<li>jelikož jsem již měl nějaké domény zaregistrované, zjistil jsem si u jedné z nich svoje Kontaktní ID. Kdybych ale toto ID neměl, dá se vytvořit nové na stránkách nic.cz.</li>
<li>v účtu majitele jse najel na Administraci domény -&gt; Změna a zadal doménu. </li>
<li>na další stránce jsem změnil Kontaktní ID z původního majitele na svoje a potvrdil</li>
<li>oba dva jsme museli potvrdit emaily, které v ten okamžik přišly</li>
<li>po potvrzení emailů bylo vše hotovo</li>
</ol>
<p>O té chvíle jsem šťastným vlastníkem domény resident-evil.cz a s kamarádem už plánujeme skvělou stránku o této hře i o filmech. I Vy se těšte!</p>

