---
title: Planetu Zemi minul asteroid
date: 2009-04-22 21:31
layout: blog
comments: false
---

      <p>Malý 15 metrů široký asteroid minul naši planetu ve vzdálenosti 79 000 kilometrů. Nejblíže byl dne 18. března 2009 v 13:17.<br>
Jak to asi vypadalo se můžete podívat na obrázku.</p>
<p><img width="90%" height="90%" src="/a/pix/blog/2009fh.gif" alt="Trajektorie asteroidu 2009 FH"></p>

