---
title: Setkání se špatným pedagogem
date: 2009-09-25 12:53
layout: blog
comments: false
---

      <p>Stejně jako politika nemůže nabrat správný směr, když ji tvoří nedobří lidé, nebude ani vzdělávací systém kvalitní, když studenty a žáky budou vzdělávat diletanti. Jednoho jsem teď potkal na gymnáziu. Hned na první poslech mi bylo jasné, že se mu učit prostě nechce. Žáky ani sebe samého. Místo zájmu o téma jsem slyšel jenom o čekání na návštěvy nebo na zásilkovou službu. Jedná se o bývalého správce počítačové učebny, který ovšem nezná(nebo nechce znát?) ani heslo k přihlášení na učitelský účet. Škoda slov. Hezký den jsem si pokazit nenechal, ale mrzí mě to. </p>
<p>Po sedmi letech na gymnázium vím, jak moc záleží na osobnosti pedagoga. Dvakrát se mi stalo, že z předmětu, ke kterému jsem původně neměl žádný vztah, se vyklubal předmět oblíbený, ba dokonce předmět mého zájmu a koníček. Poprvé na mě zapůsobil Mgr. Vladimír Koutný v literatuře a podruhé, snad ještě víc než poprvé, RNDr. Drahomíra Bašátková v matematice, jejíž studium je pro mě snad ještě zábavnější než studium filosofie.</p>
<p>Jenže čím mě má zaujmout člověk, který toho o probírané látce ví méně než průměrný student s trochou zájmu? Reformy školství jsou zbytečné, pokud je zavádí špatní pedagogové. A může být ještě hůř, když špatný pedagog začne ty samé reformy vymýšlet, což je asi případ státních maturit. Školství přece nemůžeme posuzovat jen podle žáků a pomyslné kvality jejich vzdělání. Zohledněna musí být i práce učitelů, jinak nemůže být řeč o objektivním náhledu na školský systém. Učitel je přece osoba, skrze níž nám bylo <em>vzdělání</em> dáno.</p>
    