---
title: Můj e-mail pro garanta předmětu INM
date: 2009-10-17 18:49
layout: blog
comments: false
---

      <p>Včera se mi na matematickém cvičení vedeném RNDr. Michalem Novákem, Ph.D., podařilo získat 5 bodů za prezentaci domácí úlohy, abych je záhy ztratil, protože jsem si četl knihu při prezentacích dalších kolegů. Způsob odebrání bodů mi přišel absurdní jako hry Samuela Becketta. Zdůrazňuji, že k zamyšlení mě vedl důvod a způsob odebrání bodů, ne body samotné. E-mail se dá adresovat všem lidem, a proto ho zde uvěřejňuji.</p>
<p>Dobrý večer,<br>
jsa student, který byl dnes potrestán za čtení korespondence psané Janem<br>
Werichem, rozhodl jsem se Vám napsat uctivý werichovský dopis, jimž bych<br>
rád vyzdvihl téma etiky dneška ke společné diskuzi. Dopis prosím<br>
nezahazujte skrčen do pomyslného binárního koše a vězte, že jej píšu jen<br>
ze zájmu a mimo celý spor, který mezi námi vznikl. Pro mě vlastně<br>
zmíněný spor ani neexistuje, neboť uznávám svou vinu a přijímám udělený<br>
trest. Jde mi o filosofickou otázku etiky a doufám, že se mi podaří celé<br>
psaní vést tímto směrem.</p>
<p>Jsem huba nevymáchaná a do všeho se pletu. Kromě informačních<br>
technologií rád uplétám otázky filosofické, které si sám kladu a sám si<br>
na ně odpovídám. Naskytne-li se příležitost, nadšeně se vrhám do diskuze<br>
a to proto, že jako pragmatik vím, kolik různých podob má jedna pravda.<br>
Ta moje je jen jedna z nich a já nevím, zda jiná se mi nebude líbit víc.</p>
<p>Nyní byla nastolena otázka etiky. Protože jsem ponejvíce zasažen učením<br>
Sókrata, jsou moje mravy uvolněné a svědomí je můj jediný kodex.<br>
Nikterak se to nevylučuje s mou křesťanskou vírou. Mám svědomí tak<br>
vycvičené, že se bojím i vyrušovat při výuce. Naopak se snažím<br>
preventivně čelit vyrušování a hledám si tichou činnost, u které<br>
nenápadně pozoruji okolní dění. Moje svědomí mi nedovolí nemít zájem na<br>
výuce, ale zároveň mi nedovolí ztrácet nejcennější a nejneuchopitelnější<br>
věc - čas. Sedět s rukama v kapsách nebo spát je pro mě daleko větší<br>
přečin, než dělat něco napůl(v tomto případě číst knihu a vnímat nulové<br>
dění v jednom okamžiku).</p>
<p>Se vší úctou. Později ve svém komentáři jste použil přirovnání, že kdyby<br>
to tak dělali všichni, budeme se zde za chvíli střílet a mě zamrazilo.<br>
Znám to přirovnání, ale nevidím v této situaci prostor pro jeho použití.<br>
Přece kdyby se každý snažil využít všechny okamžiky času ke svému<br>
vzdělání, bylo by zde tolik vzdělanců, že by třeba i zbraně ztratily<br>
smysl. Ale uvědomuji si nereálnost tohoto mého sdělení i to, že podobné<br>
slovíčkaření nemá cenu. Jen to tak nějak utkvělo v mé mysli.</p>
<p>Stejně jako otázka, jež mě trápí již od gymnázia.</p>
<p>Oč je kniha horší než nepřítomný pohled nebo spánek znuděného<br>
posluchače? Ano, je zde ten argument, že to není příjemné pro řečníka za<br>
pultíkem, ale tomu to může být upřímně jedno. Osobně jsem již několikrát<br>
prezentoval a také jako herci amatérského divadla mi to vždy bylo a bude<br>
šum a fuk. Pokud řečník nemá, čím by zaujal, jak si může nárokovat plnou<br>
pozornost? Může snad publikum za to, že ho v tu chvíli prezentující<br>
nedokáže zaujmout? Kde je vina a čí je etický prohřešek? Heslem "podle<br>
sebe, soudím tebe" a vlivem svého svědomí tvrdím, že nelze hledat<br>
jednotlivé viníky v řadách nepozorných posluchačů.</p>
<p>Navíc dle mého skromného názoru, ne všichni mají v sociálním kodexu naší<br>
kultury zafixováno, že je špatné vykonávat určitou podružnou činnost v<br>
době, kdy po nich není požadováno nic závažnějšího než dávat pozor na<br>
rutinní děj. Viz třeba podle mého svědomí to bylo naprosto v pořádku a<br>
doteď za to necítím stud. Jiná věc by byla, kdyby to bylo předem<br>
zakázáno, jenže, pokud si dobře vzpomínám, nebylo. Naopak v loňském roce<br>
byla podobná "faux pas" docela tolerována a Vy jistě znáte přísloví, že<br>
zvyk je železná košile.</p>
<p>Prosím, budete-li mít malý moment volného času, napište mi svůj názor na<br>
věc. Zajímá mě jiná podobná pravda. Na druhou stranu se nezlobte za mou<br>
odvahu začít diskuzi i mimo akademické prostředí a mimo obor, který nás<br>
oba přitahuje. Těším se na Váš ohlas a protože už je brzo ráno, loučím<br>
se s Láskou</p>
<p>a přáním hezkého dne.</p>
<p>Pavel Novotný<br>
***<br>
FIT VUT, 2BIB, skupina 21, zastupitel SU</p>
    