---
title: Brněnské (ne Boloňské!) špagety
date: 2009-02-15 14:20
layout: blog
comments: false
---

      <p>Klasický studentský, jednoduchý recept na špagety, který je navíc vhodný i pro vegetariány.</p>
<h3>Potřebujeme: </h3>
<p>balení špaget, sója (kostky nebo nudličky), 1 cibule, nasolená zelenina od maminky(celer a mrkev) (možno zaměnit za <strong>čerstvou</strong> nebo mraženou zeleninu, rajčata, papriku), rajský protlak nebo kečup, zavařené kozí rohy nebo feferonky, sýr eidam ( používám nakrájený plátkový, protože nemáme struhadlo), koření: sůl, bazalka, kmín, pepř (všechno přiměřeně ;)</p>
<h3> </h3>
<h3>Postup:</h3>
<p>Nejdřív dáme vařit sóju. Celé balení se jednoduše nasype do vřící vody, osolí se a přidá se jakýkoliv bujón. Také dáme vařit špagety. Vařit těstoviny není nic težkého, ale každý výrobce doporučuje jinou dobu varu, a proto je třeba se podívat na balení a zjistit, jak dlouho se těstoviny vaří. Když sója změkne, slijeme vodu a dáme sóju na talířek. Do hrnce nalijeme trochu oleje a zlehka osmažíme nadrobno nakrájenou cibulku spolu se zeleninou od maminky. Až se zelenina bude tvářit dost podušeně, přihodíme sóju z talířku a dobře promícháme. Pak už se vše jen dochutí, což je ale největší umění a je třeba dát pozor na to, aby to nebylo přeplácané chutěmi. Méně je někdy více a s kořením to platí dvojnásob, ovšem fantazii a chuti se meze nekladou. Ještě než ztlumíme vařič, podlejeme zelenino-sójovou směj trochou vody a počkáme než začne voda bublat. Pokud jsme nepřidávali přímo nasolenou zeleninu od maminky, tak je dobré dusit zeleninu se zavřenou poklicí, dokud nezměkne. Nakonec se přidává protlak/kečup, ale jen trochu a hlavně podle chuti. Touto dobou by už měly být uvařené i těstoviny, které slijeme. Nyní máme dva hrnce s jídlem a musíme je smíchat dohromady. Je lepší vybrat ten vetší hrnec a smíchat to v něm, ale pokud se náhodou spleteme a obsah většího hrnce dáme do toho menšího, není nic ztraceno. Prostě obsah předěláme a je to. K finálnímu míchání těstovin se sójovou směsí přizveme také nakrájený či lépe nastrouhaný sýr a podáváme ještě za tepla.</p>
<p>Dobrou chuť :)</p>
<p> </p>
    