---
title: O zdravé výživě
date: 2009-06-22 08:53
layout: blog
comments: false
---

      <p><img style="float:left;" src="/a/pix/blog/Ryze.jpeg" alt="Rýže naturál"><span style="width:77%;float:right;">Přestal jsem jíst maso. Teda když není nazbyt, sním cokoliv, protože jídlo beru jako dar a vím, že bez něj moc dlouho nepřežiju, ale snažím se masu vyhýbat. Co mě ovlivnilo a jaké to pro mě má důsledky?</span></p>
<div style="clear:both;"></div>
<p>Pár let jsem chodil s dívkou, která nejedla maso. Já jsem sice maso jedl, ale vegetariánská kuchyně mně chutná. Bylo to poprvé, co jsem mohl přičichnout nečemu jinému než pravým českým jídlům od mé maminky a mělo to na mé další gastronomické návyky velký vliv. Ačkoliv si maminka dlouho zvykala, že jsem některé druhy masa omezoval a některé preferoval, nakonec byla ráda, že jím aspoň kuřecí a dál vesele vařila masová jídla, občas tofu. </p>
<p>Přístup vybírat jen určitá masa se změnil na přístup nejíst maso, když jsem šel na baňkování zad k jedné hodné paní do Hodonína. Vysvětlila mi, které potraviny jsou pro mě vhodnější a které bych měl přestat jíst. Nevím kolik lidí opravdu začne jíst, co jim poradí, ale mě nemusela vůbec nijak přesvědčovat. Cítím, že to tak má být a vím, že má pravdu. Od té doby je mou hlavní potravinou rýže naturál, která opravdu chutná mnohem líp a přestože se vaří o trochu déle než normální, ještě se mi ji nepovedlo rozvařit, což se s "normální" rýží stávalo běžně. Dále luštěniny v jakékoliv podobě, a to já rád. Ryby, kterých jsem dříve moc nejedl, ale které se dají dobře obměňovat a také kombinovat s dalšími zdravými pokrmy. A hlavně listová a kořenová zelenina ze zahrádky, tedy ta co roste v našem podnebném pásu. Všech těchto mňamek si už 14 dní užívám. Vařím si podle chuti nebo podle receptů z internetu, což mi taky dělá radost, protože mám vaření rád.</p>
<p>Jen někteří lidé se s tím nějak nemohou smířit. Myslím tím svou maminku, která si myslí, že mi to nemůže chutnat a to jenom proto, že to nechutná ji. Ano, na jednu stranu ji obdivuji, jíst 50 let bůčky, klobásky, vajíčka a další a být přitom zdravý jako ona, je kumšt. Na druhou stranu, proč mi brání být zdravější? Proč mi nenechá, co mi chutná?</p>
<p>Není to ale jen její předsudek, že zdravé jídlo nechutná dobře. Tatínek vida kuskus, hned si ho spojí s rýží, kterou nemá rád. Vetšina mých přátel je také v rozpacích, když řeknu, že jím tofu. Jediné, co dělám je, že toleruji jejich názor a stejně by se měli chovat i oni, kterým zdravá výživa nešmakuje. </p>
<p>Přestože to vypadá, že už se stravuji jen zdravě, vím, že mám ještě co zlepšovat. Nejen ve výběru potravin, ale také v umu vaření. Ani další osvěty lidí není dost. Nyní by zde měly častěji vycházet recepty na zdravá jídla z výše uvedených potravin. Jídlo se totiž stalo mou zálibou.</p>

