---
title: Galerie na Starém pivovaru
date: 2009-08-03 19:40
layout: blog
comments: false
---

      <p>Často, když chodím z menzy na naší fakultě informatiky, chodím kolem galerie, která je v přízemí. Rozhodně ale není přízemní. Většinou tam sice bývá zavřeno a i když je tomu zrovna naopak, buď jsem v časové tísni, nebo se mi tam nechce. Dnes jsem ovšem překonal všechna úskalí všemožných výmluv a rázným krokem vstoupil do výstavního prostoru. Byla tam velmi příjemná mladá slečna, jež četla knihu či se učila. Optal jsem se čí, že je výstava, kterou hlídá, ale nedokázala mi odpovědět. Snad mi to ani nevadilo, neboť nejde přece o název ale o pocit z díla. Nejsilnější dojem ve mně zanechaly obrazy umělkyně Moony, nasvíceny fialovým světlem zvýrazňujícím reflexívní barvy. Dvouvrstvé pseudotrojrozměrné obrazy mě hned rozesmály, ač na nich nebylo nic k smíchu. Nešlo o to, že byly tvořeny pomalovanými samolepkami a nebylo to ani tím, že oblečky znározněných žen připomínaly moje kresby z dětství. Smích prostě z obrazů vyzařoval a ty přitom nebyly směšné. Zvláštní. Čtyři zvláštní ženy z nichž o dvou bych řekl, že jsou jen přeludy, že jsou to představy v průhledném nekližé. Působivé a pravdivé, v den mých narozenin obrazem zhmotněné představy, které mívám tak rád.</p>
<p><img src="/a/pix/blog/Foto-047.jpg" alt="obraz žen I"><br>
<img src="/a/pix/blog/Foto-048.jpg" alt="obraz žen II">
</p>
