---
title: Mobilshoping aneb teleshoping po telefonu 
date: 2009-02-25 17:05
layout: blog
comments: false
---

      <p>Tak už na mě přišla řada. Zavolali mi jeden podvečer, ze společnosti Europe calling, že by mi rádi nabídli služby telefonního operátora t-mobile. Trochu mě to zarazilo. Od paegasu jsem před pár lety přešel i s číslem k oskaru, protože  služby, ceny, operátoři i charisma zřízeného t-mobilu bylo hrozné a teď mně volá chlápek, jestli bych ho nechtěl zase používat.</p>
<p>Slušně jsem odmítl, ale pak mě trklo, kde vlastně vzal moje číslo telefonu? Zavolal jsem tak naivně zpět, ale hovor zvedl automat. Jediné co jsem se dověděl bylo jméno společnosti Europe calling a to se mi zrovna dvakrát nelíbilo. Kde taková divná firma vzala moje číslo? Kdyby volal t-mobile tak bych pochopil, že prostě mají moje číslo v databázi, ač už jejich služby nepoužívám, ale Europe calling? Vygoogloval jsem si jejich stránky. Firma se zaměřuje na nabízení jistých produktů lidem po telefonu. Zmocnilo se mě zhnusení. Fuj, obtěžovat aktivně lidi, něčím takovým. Navíc svoje číslo jsem žádné takové firmě nedával, a když už na internetu musím zadat své telefonní číslo, dávám si pozor, aby se dotyčný příjemce čísla zavazoval o neposkytování osobních údajů třetím stranám. I rozhodl jsem se firmě Europe calling napsat slušný email z kontaktního formuláře na jejich stránkách. Korespondenci s nimi zde zveřejním.</p>
<div>Já:<br>
Dobrý večer,<br>
právě mně volal nějaký pán z Vaší společnosti. Bohužel jsem se ho zapomněl zeptat, kde vzal moje číslo. Dodatečně se tedy ptám zde. Kde firma Europe Calling vzala moje číslo na mobilní telefon?</div>
<div>Oni:<br>
Vážený pane,<br>
naše společnost oslovuje zákazníky na základě databází získaných z několika různých zdrojů. Abychom mohli prověřit, z jakého zdroje je právě Vaše číslo, sdělte nám prosím o jaké číslo se jedná, kdy jsme Vás kontaktovali a v jaké věci.<br>
Zároveň Vás žádám o Vaše čestné prohlášení, že se skutečně jedná o Vaše číslo. Rádi bychom se tak vyhnuli situaci podávat informace o telefonních číslech tazateli, který není majitelem předmětného čísla.<br>
Děkujeme za pochopení.<br>
Daniela Šolcová<br>
EUROPE CALLING<br>
Reklamační oddělení </div>
<div>Já:<br>
Dobrý den,<br>
jedná se o číslo 6** 1** 8**, na které mi volal váš zaměstnanec v čase<br>
mezi 18:00 a 18:41, 2. prosince 2008, kvůli nabídce služeb mobilního<br>
operátora T-mobile.<br>
Čestně prohlašuji, že uvedené číslo 6** 1** 8** patří mně, P...N....<br>
Prosím tedy o uvedení vlastníka databáze, od něhož jste mé číslo<br>
získali.<br>
děkuji</div>
<div>Oni:<br>
Vážený pane,<br>
dle mého zjištění bylo telefonní číslo Vašeho mobilního operátora náhodně vygenerováno.<br>
Daniela Šolcová<br>
EUROPE CALLING<br>
Reklamační oddělení</div>
<p>Na poslední email nebylo co říct. Nechám to plavat a jen doufám, že moje číslo už nikdy nebude "vygenerováno", protože jiná obrana proti telefonické reklamě asi není. Sice chápu, že kšeft je kšeft, ale podobné hovory mě otravují. Nevermore takovým firmám.</p>
    