---
title: Spam, který dostal i mě
date: 2010-01-18 23:00
layout: blog
comments: false
---

      <p>Dnes mi konečně přišel e-mailový spam s dobrým nápadem. Tedy aspoň jiným nápadem než "nakoupení viagry" nebo "získání nigerijského dědictví". Vlastně to vůbec nebyl spam, ale hezká ukázka chytlavého virálního e-mailu typu "pošli 10 lidem, jinak tě bleskurychle dožene špatná karma". V tomto případě však strašák nebyla karma, ale pocit blbce.</p>
<p>E-mail s předmětem <em>Chcete do googlu?</em> nyní koluje po republice. Jeho znění je následovné.</p>
<p><em>Ahoj! Do ruk se mi dostal tento malý matematický kvíz. Říká se, že<br>
pouze lidi s IQ vyšší 120 mohou tento kvíz vyřešit. :)</em></p>
<p><em>Tak tady je:</em></p>
<p><em>Víte že platí:<br>
2 + 3 = 10<br>
7 + 2 = 63<br>
6 + 5 = 66<br>
8 + 4 = 96</em></p>
<p><em>Tak kolik bude:<br>
9 + 7 = ????</em></p>
<p><em>Jestli zjistíte odpověď, otevřte přiložený .xlf soubor který který je<br>
chráněn heslem, které<br>
je zároveň výsledek kvízu. Zapište své jméno, a pokud máte chuť pošlete<br>
e-mail přátelům a potrapte jim hlavu.</em></p>
<p><em>*PS:* Pokud vás zaujal tento příklad a chtěli by jste si rozlousknout<br>
další oříšek, mám připravenou menší hádanku, kterou pracovníci Googlu<br>
dávali na přijímacích pohovorech.<br>
Tato hádanka vůbec nesouvisí s předchozí matematickou úlohou a ani<br>
přiloženým dokumentem. V případě zájmu se mnou můžete konzultovat<br>
správnou odpověď přes e-mail.</em></p>
<p><em>*Máme 8 naprosto stejných kuliček a jediná z nich má o trochu větší<br>
hmotnost než ostatní. Dále máme k dispozici rovnoramenné váhy. Můžeme<br>
provést maximálně 2 měření. Jak zjistíme, která z těchto kuliček je<br>
nejtěžší ?*</em></p>
<p>K e-mailu je přiložený tabulkový soubor se jmény úspěšných řešitelů. Po vyřešení kvízu, který podle mě není vůbec těžký a který vyřešila i má maminka (měla ohromnou radost), se podepíšete a pošlete dál. Samozřejmě každý se chce podepsat a poslat dál, protože tak dáte najevo, že máte IQ vyšší než 120. E-mail tedy funguje na (ehm jak se tomu říká) přirozené touze člověka zamachrovat. Když heslo k souboru rozluštíte, zjistíte, že lidí, kteří e-mail podepsali před Vámi, je asi 300 (ale pravděpodobně koluje více souborů) a že se nejedná o český nápad, což mě osobně moc nepřekvapuje. První jméno v seznamu řešitelů je <em>Shahzaib Khan</em> z <em>United Bank Limited</em>. </p>
<p>Ale zpět k principu e-mailu. Samozřejmě i já jsem nemohl odolat rozeslání e-mailu na všechny strany, zvlášť když řešení nebylo vůbec těžké. Přestože se asi nejedná o původní formu e-mailu, kterou Shahzaib Khan nebo někdo před ním vyslal do světa poprvé, byl napsán hezkým a neodolatelným způsobem. Kromě malé prosby o potrápení hlav mých přátel, zde není žádná výzva k rozesílání dál, což na mě zapůsobilo. Navíc se jedná o hezký logický problém, který dokáže zpestřit nudné odpoledne. </p>
<p>A že se mu to tedy povedlo. Jednak mě překvapilo, že se zapojila i má maminka a dokonce problém vyřešila ve velmi krátké době a jednak jsem mohl být v očekávání odpovědí. A jedna velmi zábavná se dostavila. Napsal mi kamarád, který si nejdřív přečetl jen náhled e-mailu a pak vinou odentrování celý den řešil trochu jiný problém:</p>
<p><em>Víte že platí:<br>
2 + 3 = 107 + 2 = 636 + 5 = 668 + 4 = 96<br>
Tak kolik bude:<br>
9 + 7 = ????</em></p>
<p>Obtížnost je nyní na trochu jiné úrovni, nemyslíte? :)</p>
    