---
title: Optimální dieta má svoje webovky
date: 2010-09-03 12:30
layout: blog
comments: false
---

      <p>Je to něco přes měsíc, co jsem náhodou narazil na pojem Optimální dieta a jméno Jan Kwaśniewski, ale od té doby nevycházím ze vzrušení, které ve mně vyvolaly. Jedná se o způsob celoživotního stravování a to převážně tučnými potravinami, ale ve stanoveném poměru k bílkovinám a cukrům. Nyní jsem o optimální dietě udělal <a href="http://optimalnidieta.cz">webovou stránku, kde si můžete přečíst alespoň základní informace</a>.</p>
<p>Z technického pohledu se jedná o první stránku, kde jsem nasadil redakční systém Refinery cms, který mě nadchl stejně jako Optimální dieta. Velmi se mi líbí administrační rozhraní, které railovská aplikace Refinery cms poskytuje a jistě u něj zůstanu delší dobu. Zdá se mi, že jsem se ještě nesetkal s žádným redakčním systémem tak uživatelsky přívětivým jako Refinery cms a sice to ještě nemám vyzkoušené, ale myslím, že si ho zamilují i všichni ti, kterým dělám webové stránky.</p>
    