---
title: Brněnské restaurace
date: 2010-08-26 15:09
layout: blog
comments: false
---

      <p>Během uplynulých 7 dnů jsem v Brně navštívil dvě restaurace a dal si tam smažený sýr bez přílohy a pivo. Protože mě zarazil rozdíl mezi oběma restauracemi, učiním jejich srovnání. Možná budete překvapeni tak jako já.</p>
<p>Jistě bych měl zmínit názvy obou restaurací. Nejdříve jsem byl v pivnici hotelu Pegas, což je **** hotel v centru Brna, který má v suterénu vlastní pivovar s výtečným pivem Pegas. Nyní jsem navštívil restauraci U supa v Soběšicích, tedy obyčejnou hospodu v aglomeraci města. A výsledek?</p>
<h2>Pivnice hotelu Pegas</h2>
<p>Informacemi o hospodě nebudu nikoho zdržovat. Kdo zná, zná a kdo nezná, ať se podívá aspoň na <a href="http://www.hotelpegas.cz/" target="_blank">www.hotelpegas.cz</a>.<br>
Od začátku do konce zde byla výborná, možná až nezapomenutelná obsluha; opravdu na jedničku s hvezdičkou.<br>
K pivu, které jsem samozřejmě dostal ještě před jídlem, také nemám co dodat. Nepasterizovaný kvasnicový ležák je jedno z nejlepších piv, co jsem kdy pil a nachází srovnání jedině s pivem Švihák, které je, podobně jako Pegas, vařeno v domácích podmínkách; další jednička s hvezdičkou.<br>
Samotný smažený sýr byl také výborný, s bohatou oblohou, kterou nebylo potřeba nijak přiobjednávat. Ta obloha byla opravdu skvělá; čerstvé zelí i salát, okurky, rajče, kousek citronu a něco navíc. Tatarku jsem dostal pravděpodobně domácí, nebo každopádně výbornou jako asi všechno v této restauraci.<br>
Co víc si přát? Třeba moučník? Hned po obědě mi číšník přinesl kousek buchty - zadarmo! Škoda, že je nejím, jistě by byla delikátní.</p>
<p><strong>Cena: 145Kč (plus mínus 5Kč, protože jsi nepamatuju jednotky, ale vím, že to bylo 140 a něco)</strong></p>
<p>Sem se budu vždy rád vracet.</p>
<h2>Restaurace U supa</h2>
<p>Obyčejná hospoda, řekl bych tak 2. cenové kategorie. Chodím sem občas na pivo a méně často i na jídlo, přestože zde není úplně dokonalá obsluha (ale kdo je dokonalý, že?). Více informací na <a href="http://www.restaurace-u-supa.cz/" target="_blank">www.restaurace-u-supa.cz</a>.<br>
Obsluha na zahrádce, kde jsem se posadil, byla tentokrát zcela normální; průměrná, dobrá.<br>
Pivo také zcela běžné Starobrno 11°; není nejhorší, ale že by bylo aspoň chvalitebné, to ne.<br>
Ke smaženému sýru jsem si musel přiobjednat oblohu, protože jinak bych prý dostal jen pár koleček okurky. Tedy na to, že v jídelníčku stojí smažák 71Kč, je to zajímavé. Sýr měl trochu tmavší barvu a ani jsem ho nesnědl celý. Ta přiobjednaná obloha byla ovšem nuzná; lístek salátu, kolečka okurky a zelené papriky a pár čtvrtek rajčat, která ale nejím. Tatarka byla asi nejlepší z celého jídla a připadla mi taky jako domácí, čímž si však nejsem jistý.<br>
Jako dezert jsem nedostal ani úsměv.</p>
<p><strong>Cena: 133Kč (tentokrát přesně)</strong></p>
<p>Sem už nikdy na oběd nepůjdu.</p>
<h2>Závěr</h2>
<p>Kdo si přečte, co jsem v každé hospodě dostal a kolik jsem za to zaplatil, bude možná udiven, možná ne. Možná jsem Vás nalákal do Pegasu nebo odradil od návštěvy U supa a možná to i bylo mým cílem. Nedělám si iluze, že by si to přečetli majitelé zmíněných hospod, ale spoléhám na sílu trhu, který by měl se špatnými hospodami zatočit. Jestli s nimi trh zatočí, záleží jen a jen na nás zákaznících.</p>
    