---
title: Co je a není k jídlu
date: 2010-05-28 20:13
layout: blog
comments: false
---

      <p>Mám rád sušené ovoce a často si ho kupuju. Nejvíc kupuju dalte. Mám je rád, protože jsou tak akorát sladké a prostě mně chutnají. Dneska jsem si chtěl dát změnu, tak jsem *v Maně* koupil místo datlí rozinky, prý Jumbo. </p>
<p>Před chvílí jsem se rozhodl jimi nakrmit sebe i své hlodavce, tak jsem je rozdělal a ochutnal. Fujtajbl. Jakoby byly něčím posypané. A asi fakt byly. V udaném složení: oxid siřičitý, ale doví jestli byl ten posyp jenom S02. </p>
<p>Na obalu doporučovali opláchnout rozinky horkou vodou, tak jsem je tak minutu oplachoval vřící vodou, dal do misky a začal jest. A snědl jsem jich ani ne půlku, protože jím rychle, ale nevím jestli to byl dobrý nápad. Chutnaly divně a tu pachuť mám v hubě ještě teď (nejde jenom tak zapít). </p>
<p>Trochu jsem googlil o oxidu siřičitém a je to prý starý známý konzervant na sušené ovoce a podobné potraviny. Co na tom, že je to taky základní surovina pro výrobu kyseliny sírové :)<br>
Může způsobit krátkodobé astma, což jsem na vlastní kůži zakusil, když jsem snědl pár rozinek. Málem jsem se udusil a teď se jenom modlím, aby si to už nějak prdel přebrala.</p>
<p>Prý taky ničí vitamín B1. Ten bych si měl doplnit, neboť podle toho, co v poslední době jím a piju ho beztak mám nedostatek.</p>
<p>No jinak hnusný zážitek. Rozinky jsem vyhodil a příště si dám na podobná svinstva pozor.</p>
    