---
title: Úsměv je malý velký zázrak
date: 2010-10-06 14:56
layout: blog
comments: false
---

      <p>Jsem rád, že nejsem jediný, kdo se stále snaží usmívat jako měsíček na hnoji, přestože si v ulicích Brna jediný připadám. Právě jsem zjistil, že se smějí i jiní, jen se smějí jinde. Úsměv přitom jako asi jediný vyzařuje tak rozličné energie, že nejen dokáže rozesmát i lidi kolem, ale dokonce mě donutí napsat po velmi dlouhé době pořádný blog.</p>
<p>Snažím se usmívat na lidi, jak jen to jde, protože to pomáhá mně i jim, a jak vidno, nejsem jediný, kdo na to přišel. To se ostatně taky dalo čekat a naopak by bylo velmi smutné, kdybych jediný byl. Shlédl jsem dnešní vydání Britských listů a našel tam <a href="http://blisty.cz/2010/10/6/art54830.html" title="Úsměv, prosím!">tento fejeton</a>. Ó jak mě potěšilo, že jeho autorka také používá kouzlo úsměvu a dokonce jím okouzluje i staré lidi! Hned jsem začal přemýšlet, jak článek propagovat dál a nejlepší se mi zdálo napsat o tom blog. To jen na vysvětlenou mé motivace.<br>
Hned v první větě blogu jsem použil přirovnání "jako měsíček na hnoji" a napadlo mě ho <a href="http://www.google.cz/search?rls=cs&amp;q=m%C4%9Bs%C3%AD%C4%8Dek+na+hnoji">vygooglit</a>. Výsledky hledání mne potěšili snad ještě víc než původně inspirující fejeton, neboť jsem našel další blogy o lidech, kteří se na svět smějí místo toho, aby se na něj mračili, jak je dneska zvykem. Děkuji jim, je to záslužná práce a věřím, že brzo sklidí ovoce svých mimických činů.<br>
Když jsem říkal, že se ostatní smějící se lidé smějí jinde, nebyla to úplně pravda. Musím za úsměv poděkovat některým svým kolegům, například Danovi z úterního kurzu psychologie nebo Lence ze středeční pedagogiky. Jak ti se úžasně smějí a jak jsem rád, že se můžeme smát spolu.<br>
I s některými staršími spoluobčany, které náhodně potkávám na ulici, v autobuse nebo v obchodě, se dá usmívat a bavit se. Mám rád ty chvíle, kdy se s někým dám do řeči a krátce podiskutujeme o věcech, jejichž důležitost je velká přesně jako žádná ale spíš trochu menší, a ač mají takovou důležitost, přece v nás ty výměny úsměvů a slov něco krásného zanechají. Ve mně tedy určitě.<br>
Není to náhoda a já ani na náhody nevěřím. Smích je totiž vyjádřením královny lidských emocí - radosti. Všichni filosofové, na které svou filosofií navazuji, považují smích a radost za nejdůležitější element lidských životů. Takový Sókrates se prý smál hned po porodu a smích, veselí a radost ho nepřešly ani při pití poháru z bolehlavu. Podle Květoslava Minaříka je prvním krokem na cestě k božské realizaci naučení se trvalé radostivosti. Břetislav Kafka zase vybízí k udržování a pěstování veselé mysli za každých okolností. Smích je prostě základním kamenem všech šťastných životů a kdo nevěří, ať tam běží.<br>
No ne? :)</p>
    