---
title: Máte na to žaludek?
date: 2010-09-28 06:19
layout: blog
comments: false
---

      <p>Zamysleli jste se někdy nad tím, co jíte? Co skutečně obsahují různé potraviny, kterých jsou plné různé "SuperHyper" nákupní centra? A taky nad významem slov potravinářského "NewSpeaku", který má za účel obarvit skutečnost na růžovo? <em>Česko se v posledních letech stalo popelnicí či odpadkovým košem Evropy.</em><br>
<strong>Čtěte pozorně!</strong></p>
<p>Nechci Vám brát iluze, ale ...... Pokud se však podívám na kvalitu potravin, někdy si říkám, že bych chtěl dát ochutnat svým dětem to, co se tu před těmi dvaceti léty jedlo.<br>
Nabídka potravin, které jsou teď v obchodech,je skutečně rozmanitá. Na straně druhé se za touto "rozmanitostí" skrývají jen různé barevné obaly a krabičky, které obsahují prakticky  totéž. Mnoho potravin, které bychom si dovedli sami vyrobit, se vozí přes půl  Evropy a zátěž exhalacemi a znečisťováním životního prostředí je větší, než jejich samotná užitná hodnota a vliv na zdraví. </p>
<p>Do roku 1994 platily v  Československu ještě z dob minulého režimu zákonné normy, které nedovolovaly, aby klobásy obsahovaly mouku, aby jogurty obsahovaly škrob atd. Tyto normy byly zrušeny a v Česku začala doslova džungle. Potraviny jsou dnes samá náhražka.</p>
<p>Například následující :</p>
<p><strong>Kravský tuk</strong> je nahrazován tukem rostlinným (sójovým).</p>
<p><strong>Mléko</strong>, které je nápadně podobné emulzi na chlazení obráběcích nožů, se nesrazí, nejde z něj udělat domácí jogurt. Ale stojí 8,90 Kč. Nekupte to!</p>
<p><strong>Jogurty</strong> nejsou jogurty, je to jogurtová hatlapatla, do které je narván škrob nebo želatina, aby toho bylo víc. Jsou v tom usmrceny mikroorganismy.Ale stojí to 4,90 Kč. Nekupte to!</p>
<p><strong>Sýry</strong> nejsou sýry, ale náhražky, v nichž je mléčná bílkovina nahrazena bílkovinou rostlinnou (sója) anebo škroby.</p>
<p><strong>Zmrzliny či šlehačka</strong>, ty se též nepotkaly s mlékem, dělá se to všechno z umělých náhražek.I v dražších zmrzlinách, které jsou deklarovány, jako mléčné či dokonce smetanové, je pouze odstředěné mléko a zmrzlina je "zkvalitněna" tukem rostlinným.</p>
<p>Ani kvalita některých tůků zvaných <strong>máslo</strong> není nic oslnivého,  je to nastavováno vodou!</p>
<p>Většina <strong>čokolády</strong>, prodávaných v našich obchodech, nejsou čokolády, ale čokoládové imitace plné levných náhražek. Mezi tyto náhražky patří karabový prášek, který se vyrábí ze svatojánského chleba, jímž se ve Středozemí krmí ovce a velbloudi.</p>
<p>České <strong>párky</strong> jsou dnes z většiny plněny sójou, moukou nebo separátem.</p>
<p>Co je to drůbeží separát?<br>
Z kuřete se vyjmou prsa a stehna, která se prodají zvlášť. Zbytek - tedy kůže, kostra, hlavy i se zobáky, krky, pařáty a vnitřnostmi se rozmixují, přecedí, obarví na červeno a přidávají se do párků a klobás, v případě párků do 40,- Kč za 1kg tvoří se sójou, chemikáliemi, céčky atd.jejich hlavní složku. Kdo kupujete dražší párky a nemáte je přímo z nějaké malé porážky, nejásejte. Tyto molitanové masokostní moučky se dnes přidávají i do dražších párků. Jak jsme však byli ubezpečeni Informačním centrem bezpečnosti potravin, z tvrdého strojního oddělování při výrobě separátu (SOM - strojově oddělené maso) se získá velmi jemná masová pasta složená z částic menších než 1 mm, takže nehrozí žádná újma na zdraví. Akorát, že to žereme!</p>
<p>Pro zajímavost - separáty se vyráběly i dříve, sušily se a používaly se jako krmivo pro dobytek. Toto se vyrábí i dnes.Aby tento světle bledý šurvajs získal pěknou červenou barvu, narve se tam chemie. Pro potlačení nežádoucích pachů ze separátu samozřejmě existují různé chemické sajrajty.</p>
<p>Náhražkové prefabrikáty dnes pronikají i do takových výrobků, které vypadají navenek jako <strong>salámy či šunka</strong>.</p>
<p>Ani milovníci <strong>ryby</strong> nemusí být ušetřeni podvodu. Máte rádi kraba? Může se vám stát, že to maso deklarované jako krabí, je z tresek.</p>
<p>Do <strong>chleba</strong> se dnes přidávají pomleté zbytky starého chleba a pečiva, které se předtím neprodalo. Stroje tyto zbytky, (které se dříve dávaly prasatům nebo se prodávaly za nižší cenu jako krmný chleba pro domácí užitkové zvířectvo), semelou a směs je dále upravována. Přidají se speciální směsi s enzymy, pak se míchá těsto atd. atd. a na druhém konci vyjede upečený chleba. Nevadí, že obsahuje sezam nebo mák a nebo lněné semínko. Takové krásné ohnisko civilizačních chorob a alergií.Navíc se neustále snižuje podíl žitné mouky z dřívějších 45% na 20%. Rohlík neustále snižuje hmotnost, ale i obsah tuku, (který zajišťoval křupavost), až na polovinu. Z rohlíků se stává gumová hmota, která druhý den ztvrdne a chleba je bez chuti.</p>
<p>Různé <strong>bůčky a slanina</strong> je dnes vyráběna zejména z přerostlých polských prasat, která mají jinou strukturu masa, než prasata česká, která jsou více masitá a jejich bůčky obsahují více masa. Na polských bůčcích, které se k nám jako přebytky dováží je samé sádlo, ale nekupte to. Je to bílý a bílé maso je přece dietní!<br>
<strong>Hovězí maso</strong>, které obchodníci kupují od jatek jako maso z krav za pár korun, je prodáváno jako kvalitní maso z mladých býčků.</p>
<p><strong>Kečupy a hořčice</strong> nejsou hořčice, je to voda s moukou nebo se škrobem, ve které je s bídou 10% skutečného kečupu nebo skutečné hořčice. Dnes už se na některých "kečupech" vyskytuje na druhé straně malý název "kečupová " či "rajčatová omáčka." Tyto blivajzy se v regálech tváří jako kečupy, ale viděly rajčata leda tak z rychlíku.</p>
<p><strong>Maso</strong>, zejména dovezené, je "nastavováno" vodou, která je do něho injekčně vpravována. Do některých masných výrobků je pro změnu zase injekčně vpravována levná sójová bílkovina. Konzervy obsahují blíže nespecifikovanou hmotu, která nemá s kousky dobrého masa, které jsme nacházeli v socialistických konzervách, nic společného. Landšmít, který se dřív vyráběl z masa a dal se nakrájený opéct nad ohněm, je dnes nedefinovatelný prejt z kůží a šlach slepený obarveným škrobem, který se vám buď po napíchnutí na klacek rozpadne nebo nad ohněm rozteče.Lečo s klobásou již dávno není ta dobrá zelenina s klobásou, ale to lečo vypadá, jako by už jednou prošlo žaludkem a ta "klobása" je sójová.</p>
<p><strong>Hovězí a vepřové maso</strong> ve vlastní šťávě nezřídka obsahuje i polovinu rozmixovaných kuřecích kostí a kůží, které se dříve mlely v kafilérkách na masokostní moučky pro zvířata. Ty "kvalitnější" konzervy obsahují kůže, takže když tato pochoutka na talíři zchladne, lze ji úspěšně použít jako lepidlo.</p>
<p><strong>Prošlé maso</strong> ze supermarketů je očišťováno octovou vodou, nakládáno do marinád a podáváno jako specialita k letnímu grilování.</p>
<p><strong>Paštiky a pomazánky</strong> jsou nastavovány škrobem, moukou a drůbežími separáty.</p>
<p>Různé <strong>saláty</strong> jsou zakonzervovány tak, aby vydržely, ale skutečnou majonézu viděly leda tak z rychlíku.</p>
<p><strong>Dorty a dezerty</strong> jsou vyráběny z náhražek, stejně jako různé oplatky a tyčinky.<br>
Sirupy nejsou vyráběny z ovoce, ale jedná se o vodu z cukrem, ve které je ovocná příchuť.</p>
<p>A české <strong>pivo</strong> se povětšinou změnilo europatoky univerzální chuti vyrobené v systému CKT/HGB, který "přeskakuje" klasické zrání a dokvašování v ležáckém sudu. Univerzální bývají i následky požití těchto chemikálií - rektální zvracení čili sračka. Skalní pivaři dnes přecházejí na 11°° pivo, které má aspoň trochu úroveň dřívější desítky.</p>
<p>Některá <strong>šumivá vína</strong> se nedělají tradičním zráním, ale vyrábí se jako sifón. Víno, které má úroveň vín krabicových, se nasytí CO2 a prodává se v regále jako "šampáňo." Vzadu na vinětě se lidé s dobrým zrakem mohou dočíst, že se jedná o perlivé víno."</p>
<p>O nelegálním pančování tvrdého alkoholu raději už nemluvě...</p>
<p>A dalo by se pokračovat...</p>
<p>Pokud si někdo myslí, že když si koupí dražší výrobek, či dokonce výrobek značkový, že je zaručena vyšší kvalita, je na omylu. I značkové výrobky, prodávané v rámci celé Evropy, jsou v Česku vyráběné z náhražkových surovin.</p>
<p>Zmrzlina Magnum, která stojí stejně v Česku i Španělsku, se v EU vyrábí z mléka, v Česku z levnějších rostlinných tuků.Takových a různých dalších šmejdů žereme stále více a více, ale nezoufejme, bude hůř. Podíl výrobků se stále vyšším obsahem náhražek bude růst.</p>
<p>Takové chuťovky, jako např. "dietní" drůbeží hamburgry, které se skládají z poloviny z drůbežího separátu a z druhé poloviny z vepřových kůží, jsou jen začátkem dalších inovací. Složení výrobků, které se uvádí na jejich obalech, bude psáno stále menšími a menšími písmeny, aby si ho už nemohli přečíst ani ti, co mají zrak v pořádku. Čekají nás doby, kdy budeme doslova "žrát" takové potraviny, jaké známe z francouzského filmu Křidýlko nebo stehýnko, přičemž autoři se budou inspirovat českým filmem „Návštěvníci,, kteří jedli Amarouny.</p>
<p>Zatím jíme potraviny, které vypadají jako tradiční, ovšem jejich náplň je "božská" (jen Bůh ví, co v tom je!).</p>
<p>Samozřejmě, že se dají koupit i dobré potraviny.<br>
Párky, které obsahují maso, jogurty bez želatin a škrobů, křupavé rohlíky, co vydrží do příštího dne, kečupy z rajčat apod. Je to však luxus!</p>
<p>Ano, to co bylo za socialismu standardem a normou je dnes luxusem. Stát bohužel dělá v dnešní době na lidech určitou formu podvodu, týkající se jejich spotřebního koše, potažmo životní úrovně. U potravin se sice vychází z jejich hmotnosti, nikoliv však kvality. V Německu si takový bordel výrobci dělat nedovolí. I levné výrobky tam mají svoji úroveň, např. nejlevnější špekáček za 1,45 euro obsahuje 70% masa, v Česku za stejnou cenu koupíte "špekáček," který obsahuje pouze 27% masa.</p>
<p><strong>Česko se v posledních letech stalo popelnicí či odpadkovým košem Evropy.</strong></p>
<p>Autor: JUDr. Jaroslav Janeček  (převzato z <a href="http://www.jitrnizeme.cz">Jitřní země</a>)</p>
    