---
title: Nové vystavuj.cz nyní v produkčním režimu
date: 2010-07-26 09:41
layout: blog
comments: false
---

      <p>Přestože dnů, kterých jsem na své první Ruby on Rails aplikaci strávil programováním a kódováním, bylo dohromady asi 30, od začátku až do konce vývoje uběhlo 5 měsíců. Myslím, že si <a href="http://vystavuj.cz" title="http://vystavuj.cz">http://vystavuj.cz</a> polepšilo. A to se jedná jen o základní verzi, která se bude dále vyvíjet.</p>
<p>Dlouho jsem se neměl sto systém dokončit, ale když jsem se nakonec odhodlal, splnil jsem, co jsem předsevzal a nové vystavuj.cz umí všechno, co uměla stará verze, plus něco navíc. Je taky o dost jednodušší. Pro lepší uživatelskou interakci je použita řada javascriptových vychytávek jako drag&amp;drop nebo overlay. Grafické rozhraní aplikace často pracuje se záložkami (taby), takže se často najednou načte i více různých obsahů, které jsou ovšem stále na jedné stránce.</p>
<p>Design stránek navrhl <a href="http://weckr.net" title="http://weckr.net">http://weckr.net</a>, za což mu moc děkuju, protože jinak by to byla stále jenom nějaká šablona. Budík taky nakreslil symbolické postavičky k jednotlivým <em>perkům</em>, ale ty zatím nejsou moc vidět, jsou jen naznačeny na registrační stránce. Vůbec všechno co se týká <em>perků</em> je zatím trochu přistrčené do pozadí, avšak ve vhodnou chvíli budou <em>perky</em> vysvětleny. Zatím snad jen, že se jedná o již funkční systém oprávnění uživatelů inspirovaný postapokalyptickým falloutem :)</p>
<p>Aplikace má jistě ještě pár bugů, ale věřím, že už může sloužit. Vystavovatelé také získávají jedinečnou možnost přizpůsobit si stránky svým představám. Stačí když se ozvou.</p>
    