---
title: V Brně a okolí se bude cvičit Zumba
date: 2010-08-04 16:06
layout: blog
comments: false
---

      <p>Vytvořil jsem pro kamarádku webové stránky <a href="http://cvicenikvalitne.cz" title="http://cvicenikvalitne.cz">http://cvicenikvalitne.cz</a> propagující její osobu jakožto instruktorku nových cvičení - Zumby, Movidy a Power jógy. I pokud nejste z Brna nebo z Kuřimi, kde se cvičí, podívejte se, jaká nová cvičení vznikají.</p>
<p>Tak a teď vážněji :) Stránky jsem udělal za pomocí stařičké webmasterské techniky SSI (Server Side Includes), protože ještě nemám pořádně otestovaný nový redakční systém pro své stránky a potřeboval jsem je narychlo a efektivně zbastlit. Tedy efektivní to bylo jen do určité míry a jistě bych si dokázal představit efektivnější řešení, ale vzhledem k počtu stránek a jejich poměrné neměnnosti je to dobré řešení. Jedinou nevýhodu SSI, kterou nyní reálně zažívám, je nemožnost úprav stránek zákazníkem, což by měl vyřešit nový redakční systém, který chci nasadit.</p>
<p>Při této příležitosti mě však napadlo, že by stašil nějaký online, pravděpodobně javascriptový, editor html souborů uložených na serveru. Hledal jsem takový, ale našel jsem jen shareware a to ani nevím, jestli dělal opravdu to, co chci. V kombinaci s SSI bych snad ani nic víc nechtěl :)</p>
    