---
title: Dilema zkoušek
date: 2010-01-09 23:08
layout: blog
comments: false
---

      <p>Čemu se mám věnovat? Co mám dělat? Jasně, že o zkouškovém dělám nejvíc do školy, ale cítím, že to není ono. Něco jde proti mému učení, které mě posledních pár let tak bavilo. Proč? Co se má stát v roce 2010? Je tento odstavec matoucí pro všechny, kdo nejsou Já? To není řečnická otázka. To je má zkouška. Všechny zkoušky v sobě mají volbu, dilema. Je v nich "chci nebo nechci".</p>
<p>Je potřeba ten proud myšlenek trochu usměrnit. Tím narážím na svůj minulý blog, protože ten zas naráží na Eckharta Tolleho. Několik dní jsem zkoušel přestat myslet. Zkoušel jsem utišit svůj vnitřní hlas, své ego. Je to težké cvičení a já si v něm musím dát pauzu, protože teď své ego potřebuju takové, jak jsem zvyklý. Jak bych mohl být ctižádostivým studentem, kdybych zapudil své ego? Kvůli egu na věcech záleží, bez něj ne. </p>
<p>Ego je příčinou mé zkoušky. A nejen mé. Každá duše na Zemi bude postavena před tuto zkoušku a to možná dřív než jsou si vědomi. Vlastně na to každá, věda nevěda, čeká. </p>
<p>Čekání charakterizuje to, co teď prožívám. S nejistým výsledkem očekávám katarzi, která má přijít před následujícím zatměním Slunce. A pak snad budu mít čas přestat myslet a pokročit tak o krok dál. Jenže je zde stále to <em>možná</em>. Možná vyvstanou jiné a naléhavější zkoušky. Možná katarze nepřijde. </p>
<p>To tedy ne. Katarze přijde. Shůry nebo ze mě. Já i tento svět ji potřebujeme. Vždyť je to přece padlé na hlavu, co se teď děje. Nic nefunguje a nikdo se to nesnaží opravit, ba naopak (uff, jak lehce se mi dýchá, když vím, že někdo se přece jenom snaží). Katarze je nevyhnutelná. A tu volbu ať udělá každý sám. Já už jsem ji udělal, jenže čekat, než ji budu moci realizovat, je těžké a žádná <em>možná</em> to vůbec neulehčují.</p>
    