---
title: Vesmír
date: 2015-01-12 10:53
layout: blog
comments: false
---

Rozštípal mě tento obrázek, kde každá žlutá tečka představuje galaxii a fialové čáry temnou hmotu. Tento obrázek prezentuje 0,000001% známého vesmíru.

%img.imar{src: "/obrazky/space.jpg"}

%p Připomíná mi mozek - síť vzájemně propojených neuronů (nervových buněk) a vycházím-li z jednoho ze základních předpokladů hermetické filosofie, totiž že Vesmír (Všechno) je mentální, potom mi i obrázek dává smysl. Člověk si celý obrovský vesmír ani nedokáže představit, protože na to nemá mozkovou kapacitu. To nekonečně "velké" nekonečno je mnohem hůře představitelné a zkoumatelné než nekonečně "malé" nekonečno. V mikrosvětě už máme prozkoumané atomy, kvarky, bosony a jakžtakž známe i jejich funkce. V makrosvětě se ovšem hranice objevují mnohem složitěji a jen možná pár lidí na světě má aspoň mlhavou představu o tom, jak by Vesmír mohl být doopravdy velký. Jaký opravdový účel a funkci mají hvězdy můžeme jen polemizovat.

%p Může to být i tak, že my jsme mikrosvětem(jako pro nás atomy) v mozku nečeho, co nás dalece přesahuje a co má následně svůj vlastní makrosvět, který si my nedokážeme představit, stejně jako si aminokyselina tvořící mozkovou buňku nedokáže představit "náš" denně vnímaný svět (ona na to ani není stvořena, tak jako my nejsme stvořeni pro vnímání makrosvěta našeho makrosvěta).

:markdown
  Jedna z mých polemizací o Vesmíru je, že by to mohl být obrovský kvantový počítač, který počítá velmi složitý celulární automat, viz např. ([hra života](http://cs.wikipedia.org/wiki/Hra_života)). Celulární automat má čas a prostor vyplněný individuálními entitami, které mohou nabývat různých stavů, a má sadu pravidel, podle kterých se v tomto časoprostoru něco děje. Je to ale velmi zjednodušený model.

%p Skutečnost bude jiná. I kdybychom vzali v potaz jako měřítko pouze velikost objektů v prostoru, uvidíme několik naprosto nesouměřitelných úrovní existence. Atomy, buňky, živočichové, planety atd. Na úvodním obrázku je zachycena největší nám známá struktura ve Vesmíru, respektive nějaká představa, kterou o ní máme. Dozvíme se někdy, jak doopravdy vypadá a co je případně za ní? A potřebujeme to vlastně vědět? Potřebuje aminokyselina v neuronu ke své funcki vědět, co se odehrává za hranicí šedé kůry mozkové?
