---
title: Knihy v html
pageable: true
---
%h2 Z tohoto místa můžete přistupovat ke čtení zajímavých knih a básnických sbírek.

%p
  K přečtení jsou zde:
  %br
  %ul
    %li=link_to "Hagakure - Moudrost samurajů", '/knihy/procitni-chechtej-se//hagakure-moudrost-samuraju'
    %li=link_to "Merv Fasil (povídka)", 'merv-fasil'
    %li=link_to "Procitni a chechtej se", 'procitni-chechtej-se'
    %li=link_to "Hermes Trismegistos a jeho zasvěcení", 'hermes-trismegistos-jeho-zasveceni'
    %li=link_to "Svítání na západě - Otokar Březina (sbírka)", 'otokar-brezina/svitani-na-zapade'
    %li=link_to "Zpěvy nevinnosti - William Blake", "william-blake/zpevy-nevinnosti"

