---
title: Knihy v html
pageable: true
---
%h1 Zajímavé knihy a básnické sbírky

Z tohoto místa můžete přistupovat ke čtení básní a knih či aspoň jejich částí.

%p
  K přečtení jsou zde:
  %br
  %ul
    %li=link_to "Hagakure ~ Moudrost samurajů", '/knihy/hagakure-moudrost-samuraju.html'
    %li=link_to "Merv Fasil (povídka) - Ferdinand Vajgara", '/knihy/merv-fasil'
    %li=link_to "Hermes Trismegistos a jeho zasvěcení - Pierre de Lasenic", '/knihy/hermes-trismegistos-jeho-zasveceni'
    %li=link_to "Procitni a chechtej se - Hari Wanš Lál Púndža", '/knihy/procitni-chechtej-se'
    %li=link_to "Svítání na západě - Otokar Březina (sbírka)", '/knihy/otokar-brezina/svitani-na-zapade'
    %li=link_to "Zpěvy nevinnosti - William Blake", "/knihy/william-blake/zpevy-nevinnosti"
    %li=link_to "O džňánajóze - Květoslav Minařík", "/knihy/kvetoslav-minarik/o-dznanajoze"
