---
title: DocScanner - scanujte dokumenty přes iPhone
date: 2009-11-15 15:44
layout: article
comments: false
tags: [it, iphone]
geshifilter: false
---
<div class="field field-type-filefield field-field-intropic">
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/sites/default/files/DocScanner.png" class="imagecache imagecache-intro imagecache-imagelink imagecache-intro_imagelink"><img src="http://ifanda.cz/sites/default/files/imagecache/intro/DocScanner.png" alt="Úvodní obrázek k článku na Fanda internetu" title="DocScanner 2.0" width="80" height="120" class="imagecache imagecache-intro"></a>        </div>
        </div>
</div>
<p>Určitě se vám již stalo, že jste si potřebovali oscanovat nějaký důležitý dokument, ale neměli jste přístup ke scanneru, takže jste sáhli po tom, co bylo zrovna po ruce. Po Mobilu. Bohužel většina mobilů nemá foťák dost kvalitní na to, aby byly dokumenty jimi vyfocené dobře čitelné. Naštěstí pro iPhone existuje aplikace s názvem DocScanner, která vám pomůže tyto problémy vyřešit.</p>
<p>Vše je maximálně jednoduché. Zapnete aplikaci a vyfotíte dokument, který chcete zdigitalizovat. Fotky můžete vybrat buď z galerie fotoaparátu nebo přímo přes aplikaci fotku pořídit. Zadáte pouze velikost papíru, na kterém je dokument a aplikace poté sama ořízne a zvětší fotku dokumentu. Po nahrání zkontrolujete, zda DocScanner správně udělal rámeček pro oříznutí fotky a velikost dokumentu, případně je možné fotku přiblížit a rámeček upravit. Po tapnutí na další aplikace provede oříznutí fotky a upraví jas a kontrast k co nejlepšímu výsledku. Jas i kontrast je také možné upravit, ale osobně mám zkušenosti s tím, že aplikace správně vyznačí rámeček i kontrast. </p>
<p>Pro co nejlepší výsledky doporučuji fotit z trochu větší vzdálenosti, aby okolo dokumentu bylo na fotce trochu místa a zároveň fotit kolmo, nikoli šikmo k dokumentu. Po dokončení je možné uložit dokument do aplikace, do fotoalba v iPhonu, odeslat email s obrázkem ve formě PDF nebo JPG. Obrázek můžete také odeslat na WebDAV server nebo do aplikace Evernote.</p>
<p>Cena aplikace je podle mého trochu vyšší, než by si zasloužila, ale pokud pro ní najdete využití, nebudete koupě litovat.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-extlink">
      <div class="field-label">Externí: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://itunes.apple.com/cz/app/docscanner/id312391317?mt=8">DocScanner - 6,99euro</a>        </div>
        </div>
</div>
</fieldset>

