---
title: iStudiez Pro - pomocník pro každého studenta
date: 2009-11-17 20:59
layout: article
comments: false
tags: [it, iphone]
geshifilter: false
---
<p>Dlouho jsem na iPhonu hledal nástroj, který by se dokonale hodil pro správu úkolů a obecně všeho, co se nějak týká školy. Chvíli jsem to dělal tak, že úkoly jsem plnil pomocí metody GTD a zapisoval je do aplikace Things a testy zapisoval normálně do iCalu. Tento systém ovšem nebyl ideální z toho důvodu, že informace byli na odlišných místech, i když s nimi bylo potřeba pracovat najednou. Poté mi byla doporučena aplikace s názvem iStudiez Pro a po pár minutách zkoumání jsem zjistil, že je to právě to co jsem hledal.</p>
<p>iStudiez Pro je aplikace vytvořena, jak už z názvu vyplývá, pro organizaci celého školního roku. Po zadání dat (při kterém nastavíte jaké máte předměty, v které dny, které profesory, v jakých učebnách apod.), které vám zabere zhruba hodinu, už můžete aplikaci naplno využít k organizaci svých školních povinností. Nyní se podíváme na prostředí aplikace podrobněji. V aplikaci jsou celkem čtyři panely, které se nacházejí ve spodní části obrazovky.</p>
<h3>Today/Dnes</h3>
<p>Zde se zobrazuje aktuální školní den. Hodiny jsou seřazeny podle toho jak následují za sebou, přičemž nahoře jsou nejbližší hodiny. U hodin se zobrazují všechny zadané informace jako vyučující, místnost a také čas. Pokud je aplikace zapnutá v průběhu hodiny, ukazuje se také koláčový graf a ukazatel, který sděluje čas, který zbývá do konce hodiny.</p>
<h3>Calendar/Kalendář</h3>
<p>V tomto kalendářovém módu je možné přehledně vidět celý měsíc a podle teček pod dny poznat, kdy jsou vyučovací hodiny. Když je u dne sponka, znamená to, že je na tento den nastaven nějaký úkol. Je možné přepínat mezi zobrazením hodin a zobrazením úkolů. iPhone je také možno natočit na stranu pro lepší přehlednost.</p>
<h3>Assignments/Úkoly</h3>
<p>Zde je místo pro zadávání a kontrolování úkolů. Úkol přidáte jednoduše tapnutím na malé plus. Poté nastavíte pro jaký předmět je tento úkol, datum do kdy musí být splněn, prioritu, partnera z kontaktů, se kterým na úkolu pracujete, a také připomenutí. To je vyřešeno přes <em>push</em> notifikace. Dále je zde možné seřadit již zadané úkoly podle data splnění, předmětu, na který je daný úkol, a priority.<br>
Osobně si sem zapisuji také testy, abych měl vše na jedno místě. V Zobrazení kalendáře jsou pak testy přehledně označeny sponkou.</p>
<h3>Planner/Plánovač</h3>
<p>Na posledním panelu je možné upravit vyučovací hodiny, nastavit ve které dny je volno či prázdniny a také editovat informace o učitelích a přidat k nim třeba email či telefon.</p>
<p>Na současné verzi iStudiez Pro také velmi oceňuji možnost zálohování dat. Ty vám aplikace pošle na email a pokud si aplikaci omylem smažete, či iPhone ztratíte, jednoduše data obnovíte z emailu.</p>
<p>iStudiez Pro je velmi dobrý pomocník studenta nejen na zapisování úkolů, ale také pro případ když pár minut před zvoněním hledáte, kde máte zrovna hodinu.</p>

