---
title: Money Book - Mějte své finance pod kontrolou
date: 2010-07-04 16:45
layout: article
comments: false
tags: [it, iphone]
geshifilter: false
---
<p>Money Book je aplikace pro správu osobních financí. Pokud tedy chcete mít ve svém rozpočtu dokonalý přehled, čtěte dál.</p>
SPLIT
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-extlink">
      <div class="field-label">Externí: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://itunes.apple.com/us/app/moneybook-finance-with-flair/id337954399?mt=8">Money Book - 2,99$</a>        </div>
        </div>
</div>
<div class="field field-type-link field-field-related">
      <div class="field-label">Podobné: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/clanky/iphone/orbit-ovladnete-svuj-iphone">Orbit - ovládněte svůj iPhone</a>        </div>
              <div class="field-item even">
                    <a href="http://ifanda.cz/clanky/iphone/2do-vyborny-ukolnicek-pro-iphone">2Do - Výborný úkolníček pro iPhone</a>        </div>
        </div>
</div>
</fieldset>

