---
title: Echofon Pro - Twitter na iPhone
date: 2010-01-31 10:44
layout: article
comments: false
tags: [it, iphone]
geshifilter: false
---
<p>Dnes bych vám rád představil pro mě osobně jeden z nejlepší klientů pro Twitter, který je na iPhone OS dostupný. Jedná se o program s názvem Echofon Pro.</p>
<p>Při prvním zapnutí zadáte svoje twitter jméno a heslo. Poté aplikace načte nové tweety od účtů, které odebíráte a ocitnete se na záložce Friends. V časové ose tweetů je nalevo ikonka uživatele, napravo jeho jméno a tweet. Jednotlivé tweety jsou odděleny jednoduchou tenkou čarou, takže prostředí působí jednoduše a nerušivě.</p>
<p><a href="http://ifanda.cz/sites/default/files/pictures/Echofon/konverzace.png" class="tooltip thickbox" title="Klikni pro větší obrázek"><img src="http://ifanda.cz/sites/default/files/pictures/Echofon/konverzace.png" alt="konverzace" style="margin-right:10px;margin-bottom:10px;" align="left" width="45%" height="45%"></a>Přímo z timeliny můžete otevírat veškeré odkazy jedním dotykem. Při delším podržení prstu na odkazu se vám ukáže nabídka, ze které můžete odkaz poslat emailem, zkopírovat, nebo přidat do služby Instapaper. Pokud to jsou odkazy @username na jiné twitter účty, otevřou se sami přímo v aplikaci, při delším podržení se vám opět objeví nabídka z možnostmi odeslání odpovědi, odeslání soukromé zprávy a vyhledáním zmínek o uživateli.<br>
Pokud vás nějaký uživatel označí ve svém tweetu, nebo reaguje na tweet váš, zobrazí se vám v časové ose zeleně. Po dotyku na tweet, který na někoho reaguje se vám otevře nové okno, ve kterém je samotný tweet a dole, kromě informace z jakého klienta byl tweet napsán i možnost zobrazit, celou stromovou konverzaci.</p>
<p>Z této záložky se píší i tweety. Klasicky se zobrazuje počet znaků, které při překročení hranice 140 zčervená. V tweetu můžete připojit svojí polohu jako odkaz na Google Maps, nebo poslat obrázek na službu TwitPic či Flickr. Hodí se také seznam přátel.</p>
<p><a href="http://ifanda.cz/sites/default/files/pictures/Echofon/profil.png" class="tooltip thickbox" title="Klikni pro větší obrázek"><img src="http://ifanda.cz/sites/default/files/pictures/Echofon/profil.png" alt="profil" style="margin-right:10px;" align="left" width="45%" height="45%"></a>Další záložka má název Mentions a v ní se objevují veškeré tweety lidí, i od těch které nemáte v přátelích, kteří reagovali na váš tweet, nebo vás označili v tweetu svém.<br>
Záložka Messages slouží pro zobrazení soukromých zpráv. Zde to vypadá velmi podobně jako v esemeskách. Po kliknutí na uživatele se vám zobrazí veškeré zprávy v chatové konverzaci.<br>
V záložce Favourites si můžete prohlédnout tweety, které jste označili jako své oblíbené.<br>
Poslední záložka mí název Search. Slouží nejen pro hledání v tweetech, ale také pro zobrazení tweetů v dané vzdálenosti od vás a zobrazení Trending Topics, neboli nejdiskutovanějších témat celosvětově.</p>
<p>Echofon Pro podporuje samozřejmě několik Twitter účtů. Výhodou je také možnost upozornění pomocí Push notifikací. Libovolně se dá nastavit upozorňování je odpovědi, nebo soukromé zprávy. Možné je také automaticky vypínat upozorňování, což se hodí například v nočních hodinách. V nastavení máte na výběr také ze čtyř barevných témat.</p>
<p><a href="http://ifanda.cz/sites/default/files/pictures/Echofon/timeline.png" class="tooltip thickbox" title="Klikni pro větší obrázek"><img src="http://ifanda.cz/sites/default/files/pictures/Echofon/timeline.png" alt="timeline" style="margin-right:10px" width="45%" height="45%"></a><a href="http://ifanda.cz/sites/default/files/pictures/Echofon/Trending.png" class="tooltip thickbox" title="Klikni pro větší obrázek"><img src="http://ifanda.cz/sites/default/files/pictures/Echofon/Trending.png" alt="Trending" style="margin-left:10px" width="45%" height="45%"></a></p>
<p>Pro mě největší výhodou, která mě u Echofonu stále drží je synchronizace přečtených tweetů s desktopovými verzemi Echofona. Konkrétně s pluginem do Firefoxu a s klientem pro Mac.</p>
<p>V AppStore najdete také free verzi Echofona s reklamami. bez push notifikací, synchronizace přečtených a možností více účtů. Dále také Echofon jako klient pro Facebook.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-extlink">
      <div class="field-label">Externí: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://itunes.apple.com/cz/app/echofon-pro-for-twitter/id315577859?mt=8">Echofon Pro (3,99 eur)</a>        </div>
              <div class="field-item even">
                    <a href="http://itunes.apple.com/cz/app/echofon-for-twitter/id286756410?mt=8">Echofon (free)</a>        </div>
        </div>
</div>
<div class="field field-type-link field-field-related">
      <div class="field-label">Podobné: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/clanky/iphone/2do-vyborny-ukolnicek-pro-iphone">2Do - Výborný úkolníček pro iPhone</a>        </div>
        </div>
</div>
</fieldset>

