---
title: Orbit - ovládněte svůj iPhone
date: 2010-02-13 11:15
layout: article
comments: false
tags: [it, iphone]
geshifilter: false
---
<div class="field field-type-filefield field-field-intropic">
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/sites/default/files/IMG_0896.PNG" class="imagecache imagecache-intro imagecache-imagelink imagecache-intro_imagelink"><img src="http://ifanda.cz/sites/default/files/imagecache/intro/IMG_0896.PNG" alt="Úvodní obrázek k článku na Fanda internetu" title="Orbit" width="67" height="100" class="imagecache imagecache-intro"></a>        </div>
        </div>
</div>
<p>Orbit je jednoduchá, ale zato velmi užitečná aplikace, která se bude hodit především těm, kteří mají na iPhonu hodně aplikací a mají mezi jednotlivými stránkami na Springboardu zmatek. Jelikož se jedná o systémové rozšíření, aplikaci nenajdete v AppStore, ale v Cydii a tudíž je dostupná, pouze pro ty, kteří na svém iPhonu provedli jailbreak. A teď už k samotné aplikaci.</p>
<p>Od doplňků podobného typu se Orbit liší hned dvěma věcmi. Zaprvé není potřeba mít nainstalovaný Winterboard, protože aplikace pracuje přes MobileSubstrate, což je pro mě osobně plus, protože Winterboard velmi zpomaluje celý systém a za druhé doplněk má vlastní ikonku na Springboardu a vypadá tak jako normální aplikace.</p>
<p>Po spuštění Orbitu, které může napoprvé chvíli trvat se vám již zobrazí přehledné zobrazení všech stránek vašeho springboardu. Poté stačí kliknout na jakoukoliv stránku a ihned se na ní bleskově přenesete. Orbit je opravdu velmi rychlý i na nejstarší generaci iPhone a nijak systém nezatěžuje, protože neběží na pozadí. Aplikaci vidím jako dobré řešení, pokud hledáte aplikaci a víte na které stránce je. Pokud hledáte aplikaci a víte pouze její jméno, ale nemůžete ji najít, použijte rychlé vyhledávání Spotlight.</p>
<p>Orbit najdete v Cydii, kde stojí necelé dva dolary.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-extlink">
      <div class="field-label">Externí: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/clanky/iphone/echofon-pro-twitter-na-iphone">Echofon Pro - Twitter na iPhone</a>        </div>
              <div class="field-item even">
                    <a href="http://ifanda.cz/clanky/iphone/istudiez-pro-pomocnik-pro-kazdeho-studenta">iStudiez Pro - pomocník pro každého studenta</a>        </div>
        </div>
</div>
</fieldset>

