---
title: Reeder - Král RSS čteček pro iPhone
date: 2010-02-13 11:14
layout: article
comments: false
tags: [it, iphone]
geshifilter: false
---
<p>Pro iPhone existuje mnoho dobrých RSS čteček. Dnes bych vám rád představil jednu s názvem Reeder.</p>
<p>Reeder je postaven pouze na sychronizaci s Google Readerem. Z toho plyne mnoho výhod, jako například ta, že články, které přečtete v aplikaci se vám automaticky označí jako přečtené na webové verzi Google Readeru a dále také ve všech programech, které s ním synchronizují. Synchronizované budete mít také ohvězdičkované, sdílené články a komentáře k nim.</p>
<p><a href="http://ifanda.cz/sites/default/files/pictures/iphone/reeder1.png" class="tooltip thickbox" title="Klikni pro větší obrázek"><img style="margin-right:10px;margin-bottom:10px;" align="left" src="http://ifanda.cz/sites/default/files/pictures/iphone/reeder1.png" alt="Reeder na iPhone" width="45%" height="45%"></a>Co ovšem Reeder činí jednou z opravdu nejlepších RSS čteček v AppStore je jeho vzhled. Ten je velmi minimalistický a činí ovládání intuitivním. Při prvním spuštění po zadání vašeho jména a hesla ke Google Readeru se dostanete do samotné aplikace. V horní liště uvidíte krásně animované informace o synchronizaci, kterou poté nahradí původní status bar s hodinami, baterkou atd. Na spodní liště naleznete pouze tři jednoduché ikonky. Zleva to jsou ohvězdičkované články, nepřečtené články a seznam všech odebíraných RSS. Ve všech položkách jsou články seřazeny do složek podle zdroje, což udržuje pořádek a přehled. Při výběru zdroje je možné také přepínat na liště mezi články, stejně jako při spuštění jen s tou změnou, že teď se zobrazují jenom například články označené hvězdičkou z daného zdroje.<br>
Hezkou ukázkou co vše je možné naprogramovat je označování a hvězdičkování článku přejetím prstem. Na pozadí všech článků, které nepožadují prohlížení přímo na webu (prohlížeč integrován), je krásné, nerušivé lehce nažloutlé pozadí připomínající recyklovaný papír.</p>
<p>Reeder kromě samozřejmých funkcí jako například odeslání odkazu, nebo celého článku na email nabízí mnoho dalších možností jak článek sdílet. Z těch známějších je to například Twitter, Read It Later, Instapaper a Delicious. Facebook chybí.</p>
<p>Pokud tedy hledáte schopnou RSS čtečku pro váš iPhone či iPod, která zvládá také spoustu dalších pokročilých funkcí, Reeder je tou správnou volbou.</p>
<p><a href="http://ifanda.cz/sites/default/files/pictures/iphone/reeder2.png" class="tooltip thickbox" title="Klikni pro větší obrázek"><img src="http://ifanda.cz/sites/default/files/pictures/iphone/reeder2.png" alt="Reeder na iPhone" width="45%" height="45%" style="margin-right:10px"></a><a href="http://ifanda.cz/sites/default/files/pictures/iphone/reeder3.png" class="tooltip thickbox" title="Klikni pro větší obrázek"><img src="http://ifanda.cz/sites/default/files/pictures/iphone/reeder3.png" alt="Reeder na iPhone" width="45%" height="45%" style="margin-left:10px"></a></p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-extlink">
      <div class="field-label">Externí: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://itunes.apple.com/us/app/reeder/id325502379?mt=8">Reeder - 2,99$</a>        </div>
        </div>
</div>
<div class="field field-type-link field-field-related">
      <div class="field-label">Podobné: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/clanky/iphone/orbit-ovladnete-svuj-iphone">Orbit - ovládněte svůj iPhone</a>        </div>
              <div class="field-item even">
                    <a href="http://ifanda.cz/clanky/iphone/echofon-pro-twitter-na-iphone">Echofon Pro - Twitter na iPhone</a>        </div>
        </div>
</div>
</fieldset>

