---
title: 2Do - Výborný úkolníček pro iPhone
date: 2010-01-31 10:31
layout: article
comments: false
tags: [it, iphone]
geshifilter: false
---
<p>2Do je úkolníček pro iPhone OS, který je momentálně vůbec nejprodávanější aplikací v kategorii Produktivita v americkém AppStore. A myslím si že právem. Co tedy 2Do všechno umí?</p>
<p>Zapisování úkolů, ale zvládá ho na výbornou. Oproti ostatním aplikacím podobného druhu jsou to maličkosti, které 2Do činí jednou z nejlepších. Při přidávání úkolu si můžete zvolit například aby aplikace provedla vyhledání nějakého výrazu na Googlu, můžete si přidat adresu, kterou chcete navštívit, telefonní číslo na které chcete poslat SMS, či zavolat, nebo navštívit zadanou URL. Nic extra říkáte si, ale po zadání úkolu lze všechno provést jedním klikem, protože nejsou údaje zapsány v poznámkách k danému úkolu, ale přímo jako akce. Samozřejmostí jsou věci jako čas úkolu a datum úkolu a upozornění  tagy, poznámky, obrázky a opakování úkolu.<br>
<a href="http://ifanda.cz/sites/default/files/pictures/2Do/IMG_5009.png" class="tooltip thickbox" title="Klikni pro větší obrázek"><img src="http://ifanda.cz/sites/default/files/pictures/2Do/IMG_5009.png" alt="2Do na iPhone" width="45%" height="45%" style="margin-right:10px"></a><a href="http://ifanda.cz/sites/default/files/pictures/2Do/IMG_5011.png" class="tooltip thickbox" title="Klikni pro větší obrázek"><img src="http://ifanda.cz/sites/default/files/pictures/2Do/IMG_5011.png" alt="2Do na iPhone" width="45%" height="45%"></a><br>
V 2Do nenajdete klasický GTD systém se schránkami inbox, next apod. Projekty ovšem ano a dále také tzv. checklist, který se výborně hodí jako nákupní seznam. Pro někoho, kdo dlouhodobě s metodou GTD pracuje to může být problém, pro normální uživatele to ovšem žádná překážka není. Úkoly si ukládáte a přesouváte do kalendářů, které můžete vytvořit i přímo v aplikaci. Kalendáře vlastně nejsou nic jiného než místo pro úkoly, které si rozdělíte například na “Domov” či “Škola”. Kalendáře jsou to kvůli synchronizaci s Outlookem, nebo iCalem, které aplikace zvládá přes free utilitu pro Windows i Mac. V kalendářích poté můžete vytvářet projekty, které budou združovat úkoly potřebné pro splnění projektu. Tuto funkci mnoho uživatelé postrádalo, ale v poslední verzi 1.2 jí vývojáři přidali. Za velmi užitečnou funkce považuji systém chytrého řazení, kde máte na výběr od seřazení podle názvu přes seřazení podle url až po datum kdy musí být úkol hotov.<br>
<a href="http://ifanda.cz/sites/default/files/pictures/2Do/IMG_5012.png" class="tooltip thickbox" title="Klikni pro větší obrázek"><img src="http://ifanda.cz/sites/default/files/pictures/2Do/IMG_5012.png" alt="2Do na iPhone" width="45%" height="45%" style="margin-right:10px"></a><a href="http://ifanda.cz/sites/default/files/pictures/2Do/IMG_5013.png" class="tooltip thickbox" title="Klikni pro větší obrázek"><img src="http://ifanda.cz/sites/default/files/pictures/2Do/IMG_5013.png" alt="2Do na iPhone" width="45%" height="45%"></a><br>
Aplikace umí synchronizovat s Outlook 2000 / 2003 / 2007 / 2010 a s iCalem. Synchronizace se provádí pouze přes Wifi pomocí utility, kterou lze zdarma stáhnout ze stránek aplikace. Mohu potvrdit že synchornizace s iCalem probíhá naprosto v pořádku.<br>
Kromě synchronizce nabízí aplikace také možnost upozornění v daný čas. Buď pomocí Push notifikací, nebo mailem. Druhou možnost ocení především majitelé prvních generací iPhonu, kde Push notifikace hodně vybíjejí baterii.</p>
<p>Uživatelské prostředí je jedno z nejhezčích, jaké jsem kdy na iPhonu potkal. Zároveň se v něm také výborně pracuje. Dokonce je možné si vybrat ze šesti motivů. Nastavit se z hlediska vzhledu dá opravdu mnoho věcí jako například velikost a typ fontu, nebo vypnutí animací.</p>
<p>Pokud hledáte výborný úkolníček a po vyzkoušení lite verze je vám aplikace sympatická, nemohu jí nedoporučit.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-extlink">
      <div class="field-label">Externí: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://itunes.apple.com/cz/app/2do-a-stunning-to-do-list-push-sync/id303656546?mt=8">2Do - 5,49 eur</a>        </div>
              <div class="field-item even">
                    <a href="http://itunes.apple.com/cz/app/2do-lite-a-stunning-to-do-list/id339634641?mt=8">2Do lite - zdarma</a>        </div>
        </div>
</div>
<div class="field field-type-link field-field-related">
      <div class="field-label">Podobné: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/clanky/iphone/echofon-pro-twitter-na-iphone">Echofon Pro - Twitter na iPhone</a>        </div>
        </div>
</div>
</fieldset>

