---
title: Jednostranné limity funkce v bodě
date: 2009-07-08 10:58
layout: article
comments: false
tags: [matematika]
geshifilter: false
---
<p>Krátká glosa k jednostranným limitám funkce v bodě.</p>
SPLIT
<h2>Definice</h2>
<p> Funkce <em>f(x)</em> má v bodě x<sub>0</sub> limitu L z leva, jestliže ke každému <img src="/sites/default/files/matsymbol/epsilon.png" alt="epsilon" title="epsilon"> okolí bodu L existuje <i>levé</i> <img src="/sites/default/files/matsymbol/delta.png" alt="delta" title="delta">-okolí bodu x<sub>0</sub> tak, že pro <img src="/sites/default/files/matsymbol/kazde.png" alt="každé" title="všecha"> x ≠ x<sub>0</sub> z levého okolí bodu x<sub>0</sub> patří funkční hodnoty <em>f(x)</em> do <img src="/sites/default/files/matsymbol/epsilon.png" alt="epsilon" title="epsilon"> okolí bodu L.</p>
<h3>Poznámka</h3>
<p> Funkce<em> f(x)</em> má v bodě x<sub>0</sub> limitu L z leva:<br>
<img src="/sites/default/files/matsymbol/limita-fx-z-leva.png" alt="limita f(x) z leva"><br>
<strong>čteme:</strong> "Limita funkce f(x) pro x blížící se k x<sub>0</sub> z leva je rovno L"</p>
<h2>Definice</h2>
<p> Funkce <em>f(x)</em> má v bodě x<sub>0</sub> limitu L z prava, jestliže ke každému <img src="/sites/default/files/matsymbol/epsilon.png" alt="epsilon" title="epsilon"> okolí bodu L existuje <i>pravé</i> <img src="/sites/default/files/matsymbol/delta.png" alt="delta" title="delta">-okolí bodu x<sub>0</sub> tak, že pro <img src="/sites/default/files/matsymbol/kazde.png" alt="každé" title="všecha"> x ≠ x<sub>0</sub> z pravého okolí bodu x<sub>0</sub> patří funkční hodnoty <em>f(x)</em> do <img src="/sites/default/files/matsymbol/epsilon.png" alt="epsilon" title="epsilon"> okolí bodu L.</p>
<h3>Poznámka</h3>
<p> Funkce <em>f(x)</em> má v bodě x<sub>0</sub> limitu L z prava:<br>
<img src="/sites/default/files/matsymbol/limita-fx-z-prava.png" alt="limita f(x) z prava"><br>
<strong>čteme</strong>: "Limita funkce f(x) pro x blížící se k x<sub>0</sub> z prava je rovno L"</p>

