---
title: Relace a zobrazení
date: 2009-07-08 10:45
layout: article
comments: false
tags: [matematika]
geshifilter: false
---
<p>Teorie k relacím a zobrazení, tedy opět diskrétní matematika.</p>
SPLIT
<h2>Relace</h2>
<p>je vztah prvků jedné množiny k prvkům množiny druhé.<br>
<strong>DEF.:</strong> Binární relace je uspořádána trojice [A, B, R], kde A a B jsou libovolné množiny a R je podmnožina kartézského součinu . Množině A se říká definiční obor, množině B obor hodnot a množinu R nazýváme graf relace.</p>
<ol>
<strong>Značíme: </strong>
<li>Jako uspořádanou dvojici [x,y]</li>
<li>Jako (x R y) ; kde x<img src="/sites/default/files/matsymbol/je_prvkem.png" alt="je prvkem">A, y<img src="/sites/default/files/matsymbol/je_prvkem.png" alt="je prvkem">B</li>
</ol>
<ul>
<strong>Druhy: </strong>
<li>Symetrická - pokud (x R y), pak i (y R x). I prázdná relace je symetrická</li>
<li>Tranzitivní - platí-li (x R y) a zároveň (y R z), potom platí i (x R z)</li>
<li>Reflexivní - "je stejný", platí (x R x), kde x<img src="/sites/default/files/matsymbol/je_prvkem.png" alt="je prvkem">A, x<img src="/sites/default/files/matsymbol/je_prvkem.png" alt="je prvkem">B</li>
<li>Antisymetrická - pokud (x R y) potom <img src="/sites/default/files/matsymbol/negace.png" alt="negace">(y R x)</li>
</ul>
<p>Relaci, která je <strong>reflexivní, symetrická, a tranzitivní</strong> nazýváme <strong>relace ekvivalence</strong>.<br>
 Relaci, která je <strong>reflexivní, antisymetrická a tranzitivní</strong> nazýváme <strong>částečné uspořádání</strong>.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-related">
      <div class="field-label">Podobné: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://ifanda.cz/clanky/matematika/relace-zobrazeni-priklady">Relace a zobrazení - příklady</a>        </div>
              <div class="field-item even">
                    <a href="http://ifanda.cz/clanky/matematika/priklady-na-relace-ekvivalence">Příklady na relace a ekvivalence</a>        </div>
        </div>
</div>
</fieldset>

