---
title: Krása skrytá v symbolech
date: 2010-10-09 06:43
layout: article
comments: false
tags: [matematika]
geshifilter: false
---
<p>Velká část matematiky by nemohla existovat bez algebraických symbolů. Skutečně se zde jedná o hluboký problém, který je spojen s rozpoznávacími schopnostmi člověka. Vymezení obsahu abstraktních pojmů a vývoj vhodného jazyka k jejich popisu jsou dvěma stranami téže mince. Užití symbolu - písmene, slova nebo obrázku - k označení abstraktního pojmu jde ruku v ruce s vymezením pojmu jako takového. Užití číslice 7 k označení čísla 7 vyžaduje, aby pojem „čísla 7″ byl definován. Symbol nám tak umožňuje o pojmech přemýšlet a dávat je do vzájemných vztahů.</p>
SPLIT
<p>Anglický matematik G.Hardy o struktuře matematiky napsal:</p>
<blockquote><p>Matematický výtvor, stejně jako obraz nebo báseň, musí být krásný, jeho myšlenky, podobně jako barvy nebo slova, musí tvořit harmonický celek. Krása je prvotním hlediskem: pro ošklivou matematiku není ve světě místo. Definovat matematickou krásu může být nesnadné, to ovšem platí pro krásu každého druhu. Pro nejednoho člověka je asi těžké vyjádřit, co rozumí pod pojmem krásná báseň, to mu ale nebrání, aby takovou báseň při čtení rozpoznal.</p></blockquote>
<p>Krása, na niž se Hardy odvolával, je v mnoha případech vysoce abstraktní – vnitřní krása, krása abstraktní formy a logické struktury - krása, jež může být viděna a prožívána pouze lidmi s hlubokou znalostí daného oboru. Slovy slavného anglického matematika B.Russela:</p>
<blockquote><p>Matematika se popravdě řečeno nepyšní pouze pravdivostí, ale také svrchovanou krásou – krásou chladnou a strohou, jakou nalézáme u soch, krásou, jež se neodvolává k žádné slabé stránce naší přirozenosti, krásou bez zbytečného pozlátka, které je běžné v hudbě či malířství – a přesto vznešeně čistou a stroze dokonalou, takovou, jíž se pyšní jen největší umělecká díla.</p></blockquote>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-extlink">
      <div class="field-label">Externí: </div>
    <div class="field-items">
            <div class="field-item odd">
                    <a href="http://jlswbs.wordpress.com/2010/10/02/krasa-skryta-v-symbolech/">Johny Long Step</a>        </div>
        </div>
</div>
</fieldset>

