---
title: Evangelium sv. Tomáše
date: 2010-08-16 11:26
layout: extranea
comments: false
tags: [seberozvoj, kristus]
---

      <p>1. Kdo najde výklad těchto výroků, neokusí smrti.<br>
2. Člověk který hledá, ať nepřestává hledat. Když najde, bude otřesen, bude se divit a stane se pánem veškerenstva.<br>
3. Když vám ti, kteří vás vedou, říkají: "Hle, království je v nebi", pak vás předejdou ptáci. Kdyby vám říkali: "Je v moři", předejdou vás tam ryby. Ale království je ve vás a mimo vás. Když poznáte sebe, budete poznáni a uvědomíte si, že jste dětmi živého Boha. Když však sami sebe nepoznáte, ocitnete se v chudobě a sami budete ochuzeni.<br>
4. Starý muž se bez váhání zeptá docela malého dítěte sedmidenního, kde je místo života, a bude žít. Neboť mnozí první budou poslední a stanou se jedním jediným (...budou mít věčný život...).<br>
5. Poznej, co je před tvou tváří a zjeví se ti to, co je ti skryto. Není totiž nic skryto, co nebude zjeveno.<br>
6. Jeho učedníci se ho ptali a řekli mu: "Chceš, abychom se postili a jakým způsobem se máme modlit? Budeme dávat almužny a jaké jídlo budeme dodržovat? Ježíš řekl: "Nelžete a nedělejte to, co nenávidíte, neboť všechny věci jsou zjevné před tváří nebe. Nic totiž není utajeno, co by se neukázalo a co je skryto, nezůstane nezjeveno.<br>
7. Blahoslavený je lev, kterého sní člověk, takže ten lev se stane člověkem; zavržený však je člověk, kterého sní lev a člověk se stane lvem.<br>
8. Člověk je podobný moudrému rybáři. Ten hodil svou síť a vytáhl ji z moře plnou malých ryb. Mezi nimi našel ten moudrý rybář velkou dobrou rybu. Vyhodil všechny malé ryby do moře a vybral bez váhání tu velkou rybu. Kdo má uši ke slyšení, ať slyší.<br>
9. Hle, vyšel rozsévač, nabral do dlaně a rozhazoval. Některá semena padla na cestu. Ptáci přišli a sezobali je. Jiná padla na skálu a nezapustila kořeny dolů do země a nevyhnala klas. A jiná padla do trní, které semeno udusilo a červ je sežral. A jiná padla na dobrou zemi a vydala dobrý plod. Přinesla šedesátinásobek a stodvacetinásobek.<br>
10. Hodil jsem na svět oheň a udržuji jej, dokud neshoří.<br>
11. Toto nebe pomine a pomine i to, které je nad ním. Mrtví neožijí a živí nebudou umírat. V den, kdy jste snědli to, co je mrtvé, udělali jste z toho živé. Co budete dělat, když byste byli v světle? V den, kdy jste byli jedním, stali jste se dvěma. Když se stanete dvěma, co budete dělat?<br>
12. Učedníci: "Víme, že od nás odejdeš. Kdo bude naším vůdcem?" Ježíš řekl: "Kam přijdete, půjdete k Jakubu Spravedlivému, kvůli němuž vzniklo nebe i země."<br>
13. Srovnejte mne s někým a řekněte mi, komu jsem podoben. Šimon Petr: "Jsi povoben spravedlivému andělu." Matouš: "Jsi podoben filozofu, moudrému člověku." Tomáš: "Mistře, má ústa nedovedou vyjádřit, komu jsi podoben." Ježíš řekl: "Nejsem tvůj mistr, protože jsi pil z tryskajícího pramene a opil ses. A vzal ho, poodešel a řekl mu tři slova. Když Tomáš přišel k druhům, ptali se ho: "Co ti to řekl Ježíš?" Tomáš odpověděl: "Když vám řeknu jedno ze slov, které mi řekl, vezmete kameny a budete je na mě házet a z těch kamenů vyjde oheň a spálí vás."<br>
14. Když se postíte, zhřešíte a když se budete modlit, budete odsouzeni a když budete dávat almužny, způsobíte škodu svým duchům. Když půjdete do nějaké země a budete procházet tamějšími kraji a přijmou vás tam, jezte co vám předloží a uzdravujte jejich nemocné. Neboť to, co vchází do vašich úst, vás neposkvrní, ale to, co vychází ven z vašich úst, vás poskvrňuje.<br>
15. Když uvidíte toho, jenž není zrozen z ženy, pokloňte se až k zemi a tak mu vzdejte poctu. To je váš otec.<br>
16. Lidé si myslí, že jsem přišel, abych na svět přinesl pokoj a nevědí,že jsem přišel přinést rozdělení, meč a boj. Bude třeba pět v jednom domě. Tři budou proti dvěma a dva proti třem. Otec proti synovi a syn proti otci. A předstoupí jako jediní (samojediní).<br>
17. Dám vám to, co žádné oko nevidělo, žádné ucho neslyšelo, čeho se žádná ruka nedotkla a co nevstoupilo na lidskou mysl.<br>
18. Učedníci: "Pověz nám, jaký bude náš konec." Ježíš: "Odkryli jste počátek a už hledáte konec? Tam, kde je počátek, tam bude i konec. Blahoslavený, kdo bude stát na počátku, ten uvidí i konec a neokusí smrti."<br>
19. Blahoslavený je ten, kdo byl dříve, než vznikl. Až se stanete mými učedníky a uslyšíte má slova, tyto kameny vám budou sloužit. V ráji totiž máte pět stromů, které se v létě ani v zimě nechvějí a jejichž listí neopadává. Kdo je pozná, neokusí smrt.<br>
20. Učedníci: "Čemu se podobá království nebes?" Ježíš: "Je podobno semeni hořčice, menšímu než ostatní semena. Když však padne na zem, která je obdělávána,vydá velký výhonek a stane se ochranou pro nebeské ptactvo."<br>
21. Marie Ježíšovi: "Komu jsou podobni tvoji učedníci?" "Jsou podobni malým dětem, které se usadily na poli, které jim nepatří. Když přijdou majitelé, řeknou: "Dejte nám zpět naše pole." Ty děti se před nimi svléknou, aby jim je vrátily, aby jim daly jejich pole. Proto vám říkám: "Když se pán dozví, že přijde zloděj, bude bdít, dokud nepřijde, a nenechá jej vniknout do svého domu, do svého království, aby mu nevzal jeho věci. Opásejte svá bedra velikou mocí, aby zloději nenašli cestu a nemohli k nám přijíti, protože ta věc, které jdete vstříc, se stane. Kéž se mezi vámi objeví poučený muž. Když dozrál plod, přišel rychle se srpem v ruce a požal jej. Kdo máš uši k slyšení, slyš.<br>
22. Ježíš uviděl malé děti, které ještě pijí mléko. Řekl svým učedníkům: "Tyto děti, co pijí mléko, jsou podobné těm, kteří vcházejí do království." Řekli mu: "Když jsme dětmi, tak vejdeme do království?" Ježíš jim řekl: "Když uděláte dva jedním a když uděláte vnitřek jako vnějšek a vnějšek jako vnitřek a to, co je nahoře, jako to, co je dole, a když uděláte to, co je mužské, a to, co je ženské, jedním jediným, aby nebylo mužské mužským a ženské ženským; když uděláte oči namísto oka a ruku namísto ruky a nohu namísto nohy, obraz místo obrazu - tehdy vejdete do království."<br>
23. Vyvolím vás jednoho z tisíce a dva z deseti tisíc a budou stát jako jeden jediný.<br>
24. Učedníci: "Pouč nás o místě, kde jsi,protože je pro nás nutné , abychom je hledali." Řekl jim: "Kdo má uši k slyšení ať slyší; Uvnitř člověka je světlo a on svítí celému světu. Když nesvítí, je tmou."<br>
25. Miluj svého bratra jako svou duši, střež ho jako zřítelnici svého oka.<br>
26. Třísku v oku svého bratra vidíš, ale trám ve svém oku nevidíš. Až odstraníš trám ze svého oka, tehdy prohlédneš, abys odstranil třísku z oka svého bratra.<br>
27. Když se nebudete postit světu, nenajdete království. Když neuděláte sobotu sobotou, neuvidíte Otce.<br>
28. Stál jsem uprostřed světa a zjevil jsem se jim z těla a našel jsem je všechny opilé. Nenašel jsem mezi nimi jediného žíznivého a má duše pocítila bolest nad lidskými syny, že jsou slepí ve svém srdci a nevidí, že přišli na svět prázdní a hledají zase, jak by prázdní vyšli ze světa. Ale teď jsou opilí. Až setřesou své víno, budou činit pokání.<br>
29. Když tělo vzniklo kvůli duchu, je to zázrak. Jestliže však duch vznikl kvůli tělu, je to zázrak nad zázraky. Ale já se divím, jak toto veliké bohatsví se usídlilo v takové chudobě.<br>
30. Kde jsou tři bohové, jsou to bohové. Kde jsou dva nebo jeden, jsem s ním já.<br>
31. Žádný prorok není přijímán ve své vesnici, žádný lékař neléčí ty, kteří ho znají.<br>
32. Město postavené na vysoké hoře a opevněné, nemůže padnout, ani nemůže být ukryto.<br>
33. Co slyším jedním uchem - i jiným uchem - vyhlašujte to z vašich střech. Nikdo totiž nerozsvěcuje lampu a neklade ji pod nádobu, ani ji neklade na skryté místo, ale klade ji na svícen, aby všichni, kdo vcházejí dovnitř a všichni, kdo vycházejí ven, viděli její světlo.<br>
34. Když slepý povede slepého, spadnou oba do jámy.<br>
35. Není možné, aby někdo vešel do domu silného a vzal jej násilím, ledaže by mu svázal ruce. Tehdy jeho dům zpřevrací.<br>
36. Nestarejte se od večera do rána a od rána do večera o to, co si vezmete na sebe.<br>
37. Učedníci: "Kdy se nám ukážeš a kdy tě uvidíme?" Ježíš: "Až se svléknete beze studu a vezmete své šaty a položíte si je pod nohy jako docela malé děti a pošlapete je, tehdy uvidíte Syna Živého a nebudete mít strach."<br>
38. Často jste toužili slyšet tato slova, která vám říkám a není nikdo jiný, od koho byste je slyšeli. Přijdou dny, v nichž mne budete hledat- a nenajdete mne.<br>
39. Farizeové a zákoníci přijali klíče poznání, skryli je, nevešli dovnitř a ty, kteří chtějí dovnitř, vejít nenechali. Vy buďte obezřetní jako hadi a bezelstní jako holubice.<br>
40. Jeden vinný keř byl zasazen mimo Otce a protože byl zasazen mimo Otce a protože nebyl upevněn, bude vyvrácen a zhyne.<br>
41. Tomu, kdo má něco ve své ruce, bude dáno a kdo nemá, i to málo, co má, mu bude odňato.<br>
42. Buďte kolemjdoucími.<br>
43. Učedníci: "Kdo jsi ty, že nám tohle říkáš?" Ježíš: "Z toho, co říkám, nerozumíte, kdo jsem; ale jste jako židé, protože oni milují strom - nenávidí jeho plod a milují plod a nenávidí strom."<br>
44. Kdo se rouhá Otci, bude mu odpuštěno a kdo se rouhá Synu, bude mu odpuštěno, kdo se rouhá Duchu Svatému, nebude mu odpuštěno na zemi ani na nebi.<br>
45. Nesbírají se hrozny z fíkovníku, ani se nesklízí fíky z bodláku. Nedávají totiž plod. Dobrý člověk přináší dobré ze svého pokladu, který je v jeho srdci, špatný přináší špatné ze svého pokladu, který je v jeho srdci a tak říká špatné věci, protože z plnosti srdce vynáší špatné věci.<br>
46. Od Adama až po Jana Křtitele není mezi těmi, kdo se zrodili z ženy nikdo větší než Jan Křtitel, takže jeho oči nezajdou. Ale řekl jsem: Kdo z vás se stane malým, ten pozná království a vyvýší se nad Jana.<br>
47. Není možné, aby člověk sedl na dva koně a napínal dva luky. A není možné, aby čeledín sloužil dvěma pánům, jinak bude jednoho ctít a druhého urážet. Člověk, který pije staré víno, netouží v tu chvíli po mladém. A mladé víno se nedává do starých měchů, aby nepraskly;a nedává se staré víno do nového měchu, aby jej nezničilo. Nepřišívá se stará záplata na nové šaty, protože tak vznikne díra.<br>
48. Když dva spolu uzavřou mír v tomto jediném světě, řeknou hoře: "Přenes se jinam",a přenese se.<br>
49. Blahoslavení, kdo jsou samojediní a vyvolení, protože najdete království, z něhož jste a opět tam vejdete.<br>
50. Ježíš řekl: "Když vám řeknou: "Odkud jste?", odpovězte jim: "Vyšli jsme ze světla, z místa, kde světlo vzniklo ze sebe sama. Vyvstalo a zjevilo se v obraze." Když vám řeknou: "Kdo jste?", odpovězte jim: "Jsme jeho synové, jsme vyvolení živého Otce." Když se vás zeptali: "Co je ve vás znamením vašeho otce?", odpovězte jim, že je to pohyb a klid."<br>
51. Učedníci: "Kdy nastane odpočinutí mrtvých a kdy přijde nový svět?" Řekl jim: "To, co očekáváte, již přišlo, ale vy to nepoznáváte."<br>
52. Učedníci: "Prospívá obřízka, nebo ne?" Ježíš: "Kdyby to prospívalo, jejich otec by je z jejich matek rodil obřezané. Ale pravá obřízka z Ducha přinesla plný užitek."<br>
53. Učedníci: "Dvacet čtyři proroci mluvili v Izraeli a všichni mluvili o tobě." Ježíš: "Pominuli jste živého a mluvili jste o mrtvých."<br>
54. Blahoslavení chudí, neboť jejich je království nebeské.<br>
55. Kdo nemá v nenávisti svého otce a svou matku, nemůže se stát mým učedníkem a kdo by neměl v nenávisti své bratry a sestry a nevzal by svůj kříž na sebe jako já, nebude mne hoden.<br>
56. Ten, kdo poznal svět, našel mrtvolu a kdo našel mrtvolu, toho svět není hoden.<br>
57. Království Otce je podobné člověku, který měl dobrou setbu. Jeho nepřítel přišel v noci a do dobré setby nasel plevel. Ten člověk nedovolil, aby se vytrhal plevel. Řekl: "Obávám se, že půjdete vytrhat plevel a vytrháte spolu s ním pšenici. Plevel se totiž ukáže v den žně, bude vytrhán a spálen.<br>
58. Blahoslavený člověk, který trpěl. Našel život.<br>
59. Dávejte pozor na Živého, abyste nezemřeli; a chtěli byste ho najít a vidět a nemohli byste.<br>
60. (Viděli) Samařana, který nesl jehně a šel do Judska. Řekl svým učedníkům: "Ten s jehnětem?" Řekli mu: "Aby je zabil a snědl." Řekl jim: "Dokud žije, on je nesní, ale až je zabije a až z něho bude mrtvola." Řekli: "Jinak to nemůže dělat." Řekl jim: "Vy sami hledejte místo odpočinutí, abyste se nestali mrtvolami a nesnědli vás."<br>
61. Dva budou odpočívat v jednom lehátku, jeden umře, jeden bude žít. Salome řekla: "Kdo jsi, člověče, jakto, že jsi z Jediného? Vystoupil jsi na mé lehátko a jedl jsi z mého stolu." Ježíš jí řekl: "Já jsem ten, který vyšel z toho, jenž je rovný. Dostal jsem, co patří mému otci." "Já jsem tvá učednice." "Proto ti říkám, když je nerozdělený, naplní se světlem, když by však byl rozdělen, naplní se tmou."<br>
62. Říkám svá tajemstní těm, kteří jsou mých tajemství hodni. Co bude dělat tvá pravice, ať neví tvá levice.<br>
63. Byl bohatý člověk, který měl mnoho majetku. Řekl: "Budu užívat svůj majetek, abych sel, žal, pěstoval a naplnil své sýpky plody, abych neměl v ničem nedostatek." To je to, co si myslel ve svém srdci. Oné noci zemřel. Kdo má uši, ať slyší.<br>
64. Jeden muž měl a když připravil, poslal svého služebníka, aby pozval hosty. Ten šel k prvnímu a řekl mu: "Můj pán tě zve." On řekl: "Mám u obchodníků peníze. Večer přijdou ke mně a já musím jít a dát jim příkazy. Omlouvám se na hostině." Šel k jinému a řekl mu: "Můj pán tě pozval." Řekl mu: "Koupil jsem dům, je mne tam na den zapotřebí. Nebudu volný." Šel k třetímu a řekl mu: "Pán tě zve." Řekl mu: "Můj přítel se bude ženit. já jsem to, kdo bude pořádat hostinu. Nebudu moci přijít." Šel k jinému a řekl: "Můj pán tě zve." Řekl mu: "Koupil jsem vesnici a jdu, abych vybral poplatky. Nebudu moci přijít, omlouvám se." Služebník šel ke svému pánu a řekl mu: "Ti, které jsi pozval na hostinu, se omluvili." Pán řekl svému služebníku: "Jdi ven do ulice a které tam najdeš, přiveď, aby se účastnili hostiny. Kupci a obchodníci nevejdou do místa mého Otce."<br>
65. Ukažte mi kámen, který stavitelé zavrhli. To je kámen úhelný.<br>
66. Kdo pozná veškerenstvo a má nedostatek v sobě, má nedostatek ve všem.<br>
67. Jste blahoslavení, když by vás nenáviděli a pronásledovali; a nenajdou místo tam, kde vás pronásledovali.<br>
68. Jeden dobrý muž měl vinici a dal ji sedlákům, aby ji obdělávali a on, aby od nich bral úrodu. Poslal svého služebníka, aby mu sedláci dali úrodu z vinice. Ti chytili jeho služebníka, zbili ho a málem zabili. Služebník šel a řekl to svému pánu. Jeho pán řekl: " Snad jej nepoznali. Poslal jiného služebníka. Sedláci zbili i jeho. Tehdy pán poslal svého syna. Řekl: "Snad budou mít úctu." Sedláci, protože věděli,že je to dědic vinice, ho chytili a zabili. Kdo má uši k slyšení, slyš.<br>
69. Blahoslavení jsou ti, kteří se pronásledují ve svém srdci. To jsou ti, kteří opravdu poznali Otce. Blahoslavení hladoví, neboť jejich břicho bude nasyceno tím, co chtějí.<br>
70. To, co máte v sobě, vás zachrání, když to zplodíte sami ze sebe. Když to v sobě nemáte,to co v sobě nemáte , vás zahubí.<br>
71. Zbořím tento dům a nikdo jej nebude moci postavit.<br>
72. Řekl mu jeden muž: "Řekni mým bratřím, aby si se mnou rozdělili věci mého otce." Ježíš řekl: "Kdo mne stanovil za dělitele?" a řekl jim: "Copak jsem dělitelem?"<br>
73. Žeň je veliká, ale dělníků je málo. Proste pána, aby vyslal dělníky ke žni.<br>
74. Jsou mnozí okolo pramene, ale žádný není v prameni.<br>
75. Jsou mnozí, kteří stojí před dveřmi, ale jen jednotliví vejdou do svatební místnosti.<br>
76. Království Otce je podobno obchodníku, který má zboží a který našel perlu. Ten obchodník je moudrý. Prodal zboží a koupil si tu jedinou perlu. Vy sami hledejte poklad, který nepomíjí, kde moli nejsou a kde červotoč neničí.<br>
77. Já jsem to světlo, které je nade všemi. Já jsem veškerenstvo. Veškerenstvo ze mě vyšlo a veškerenstvo přišlo ke mně. Rozštípněte dřevo a já jsem tam, zvedněte kámen a najdete mne tam.<br>
78. Proč jste vyšli na pole? Abyste viděli rákos, který se chvěje ve větru? Abyste viděli člověka, který má na sobě měkké šaty? Hle, vaši velmoži a králové mají na sobě měkké šaty a nebudou moci poznat pravdu.<br>
79. Jedna žena ze zástupu mu řekla: "Blaze břichu, které tě nosilo a prsům, které tě živily." Řekl jí: "Blaze těm, kteří slyšeli slovo Otce a v pravdě je zachovali. Budou dny, kdy řeknete: "Blaze břichu, které nepočalo a prsům, které nedávaly pít."<br>
80. Kdo poznal svět, našel tělo a kdo našel tělo, toho svět není hoden.<br>
81. Kdo se stal bohatý, ať je králem a kdo má moc, ať se jí zřekne.<br>
82. Kdo je mi blízko, je blízko ohni a kdo je mi vzdálen, je vzdálen od království.<br>
83. Obrazy se člověku ukazují a světlo, které je v nich, je ukryto v obraze světla Otce. On se zjeví a jeho obraz je skryt v jeho světle.<br>
84. Když uvidíte toho, kdo je vám podoben, radujte se. Když však uvidíte své obrazy, které vznikly před vámi - ani neumírají, ani se nezjevují - kolik snesete?<br>
85. Adam vznikl z veliké moci a z velikého bohatství. A nebyl vás hoden; kdyby vás byl hoden, neokusil by smrt.<br>
86. Lišky mají své nory a ptáci svá hnízda a Syn člověka nemá místa, kam by hlavu složil a odpočinul.<br>
87. Nešťastné je tělo, které závisí na tělu. A nešťastná je duše, která závisí na těch obou.<br>
88. Andělé přijdou i s proroky a dají vám to, co je vaše a vy jim sami dáte to, co je ve vaší ruce a řeknete si: Kdy přijdou, aby si vzali, co je jejich?<br>
89. Proč myjete vnější stranu poháru? Nechápete, že ten, který udělal vnitřek, je ten, který také udělal vnější stranu?<br>
90. Pojďte ke mně, neboť mé jho je dobré a mé panství mírné a najdete odpočinutí.<br>
91. Řekli mu: "Pověz nám, kdo jsi, abychom v tebe věřili." Řekl jim: "Zkoumáte tvářnost nebe a země a toho, který je před vámi, jste nepoznali. Ani tuto chvíli neumíte prozkoumat."<br>
92. Hledejte a naleznete. Ale to, na co jste se mne dříve ptali a tehdy jsem vám to neřekl, chci nyní povědět, ale neptáte se na to.<br>
93. Nedávejte psům, aby se to neocitlo na hnojišti. Neházejte perly sviním, aby je nepošlapaly.<br>
94. Kdo hledá, najde, kdo klepe, bude mu otevřeno.<br>
95. Když máte peníze, nedávejte je na úroky, ale dávejte je tomu, kdo vám je nedá.<br>
96. Království Otce je podobné ženě, která nese džbán plný mouky. Když šla dlouhou cestu, ucho džbánu se utrhlo a mouka se vysypala na cestu. Nevěděla to. Nepoznala ztrátu. Když došla do domu, postavila džbán na zem a našla jej prázdný.<br>
97. Království Otce je podobé ženě, která vzala trochu kvasu, skryla ho v těstu a udělala z něho velké chleby. Kdo má uši, ať slyší.<br>
98. Království Otce je podobné muži, který chtěl zabít mocného muže. Vytáhl ve svém domě meč a vrazil do stěny, aby poznal, zda je jeho ruka dost silná. Potom zabil mocného.<br>
99. Učedníci: "Tvoji bratři a tvoje matka stojí venku." Ježíš: "Ti zde, co činí vůli Otce, ti jsou moji bratři a má matka. Oni jsou to, kteří vejdou do království Otce."<br>
100. Ukázali Ježíšovi zlatou minci: "Císařovi lidé od nás vymáhají daně." Řekl jim: "Dejte císařovi císařovo, dejte Bohu, co je Boží a co je mé, dejte mně."<br>
101. Ten, kdo neměl v nenávisti svého otce a svou matku, tak jako já, nemůže být mým učedníkem. A kdo nemiluje svého otce a svou matku, tak jako já, nemůže být mým učedníkem. Neboť má matka /mi dala tělo/, ale moje opravdová matka mi dala život.<br>
102. Běda jim, farizeům. Jsou podobni psům, kteří leží ve žlabu pro dobytek. Ani nejí, ani nenechají jíst dobytek.<br>
103. Blahoslavený je člověk, který ví, v kterou chvíli vejdou lupiči, aby pak vstal, sebral svoje zbraně a opásal svá bedra dříve než vejdou.<br>
104. Řekli mu: "Pojď pomodleme se dnes a držme půst." Ježíš: "Jakého jsem se dopustil hříchu a v čem jsem podlehl? Ale až ženich vyjde ven z místnosti, tehdy ať se oni postí a modlí."<br>
105. Kdo pozná otce a matku, bude nazván syn nevěstky.<br>
106. Když uděláte dva jedním, stanete se Syny člověka, a když řeknete: Horo, přenes se, přenese se.<br>
107. Království je podobno pastýři, který má sto ovcí. Jedna z nich, ta největší, zabloudila. Nechal těch devadesát devět a hledal tu jednu, dokud ji nenašel. A jak byl unaven, řekl té ovci: Mám tě rád víc než těch devadesát devět.<br>
108. Kdo se napil z mých úst, bude jako já. Já se stanu jím a skryté se zjeví.<br>
109. Království je podobné člověku, který má na svém poli skrytý poklad a neví o něm. A když zemřel, zanechal ho svému synovi, syn o tom nevěděl. Vzal pole, prodal jej, a ten, kdo je koupil, přišel, a když oral, našel poklad. Začal půjčovat peníze na úrok těm, kterým chtěl.<br>
110. Kdo našel svět a zbohatl, ať se světa zřekne.<br>
111. Nebesa budou svinuta a země bude přitom. A živý z Živého neuzří smrt ani strach, protože Ježíš praví: Kdo našel sebe sama, svět ho není hoden.<br>
112. Běda tělesnosti, která závisí na duši, a běda duši, která závisí na tělesnosti.<br>
113. Království přijde kdy? Nepřijde podle očekávání. Neřeknou: Hle, tady je to! nebo Hle, tam! Ale království Otce je rozšířeno na celé zemi a lidé je nevidí.<br>
114. Šimon Petr: Kéž by Miriham od nás odešla, neboť ženy nejsou hodny života. Ježíš řekl: "Hle, já ji povedu, aby se i ona stala živým duchem, rovným vám mužům. Každá žena, která se učiní mužem, vejde do království nebes.</p>
<fieldset class="fieldgroup group-links">
<legend>Odkazy</legend>
<div class="field field-type-link field-field-link">
    <div class="field-items">
            <div class="field-item odd">
                      <div class="field-label-inline-first">
              Zdroje: </div>
                    <a href="http://forum.jitrnizeme.cz/viewtopic.php?f=30&amp;t=723" target="_blank">Forum Jitřní země</a>        </div>
        </div>
</div>
</fieldset>

