---
title: AŽ SEDNEŠ ZA MŮJ STŮL …
date: 2010-01-26 09:55
layout: book
comments: false
---

      <p>V těch krajích duše mé, kde neplá světlo denní,<br>
zas dávným šelestem se blíží doba žní;<br>
mé zrní ztracené tam zavál vítr snění<br>
a v klasech mlékem zrá mu záře měsíční.</p>
<p>Vod věčných oddechem zas večer tíží prossát,<br>
dech země závratný mi stoupá osením;<br>
v šum větrů zámořských, v klekání mrtvých osad<br>
pád rosy hřbitovní mi zvoní umdlením.</p>
<p>Jdu, teskný, duší svou, kde setba noci zraje,<br>
bezdětný hospodář po zkvetlých mezích, sám,<br>
a v hudbě tušení, jež siným světlem hraje,<br>
na noci budoucí své lásky vzpomínám.</p>
<p>Až sedneš za můj stůl, čekaná, Nepozvaná,<br>
se zraky tajemství, se slovy němými,<br>
s bohatstvím neznámým, milostná, obávaná,<br>
s dotknutím ledovým, s polibky věčnými,</p>
<p>v náš nápoj šumivý var času bude vříti,<br>
vír hlasů, barev tíž, sen plný snů a dní,<br>
a chléb až rozlomíš z mé hořké setby žití,<br>
žeň poznáš klasů mých, chuť záře měsíční.</p>
  <div class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/podobna-noci" class="page-previous" title="Přejít na předchozí stranu">‹ PODOBNÁ NOCI …</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/vitezna-pisen" class="page-next" title="Přejít na další stranu">VÍTĚZNÁ PÍSEŇ ›</a>
          </div>

  </div>

