---
title: Otokar Březina - Svítání na západě
date: 2010-01-26 09:23
layout: book
comments: false
---

      <p>PLES VĚČNÝCH SVÍTÁNÍ do soumraků mých zpíval,<br>
v nach růží západních se třásl rosou jitřní.<br>
Den času nového mé slunce rudě stmíval,<br>
však šerem duše mé lil tajnou záři vnitřní.</p>
<p>Most bledých paprsků má píseň zdvihla v pýše<br>
nad hlubin zrcadla, kam obraz hvězd jsi protkal;<br>
mé touhy, kající, šly po něm v rodné výše<br>
a mrtvých předků sen mé snění na něm potkal.</p>
<p>Včel rojem před bouří když myšlenka má vřela<br>
a ticha věčný hlas v ní těžkým echem zmíral,<br>
když radost života mi dveře uzavřela<br>
a pokyn bolesti je dálkám otevíral,</p>
<p>své stíny žhavý den na cestu noci metal<br>
a z květů jabloní mi leden dýchal v sněhu:<br>
ze zrní vteřin mých sad jiných vůní zkvétal<br>
a šelest rákosí mi pěl o druhém břehu.</p>
<p>V hod věčných vzkříšení tvůj kvas jsem toužil píti,<br>
však žhavých účinků jsem neznal zrání tvého;<br>
teď mdlý a opojen v své krvi slyším hřmíti<br>
let vichrů z vinic tvých, žár léta tajemného.</p>
<p>U zdrojů nafty tvé, jež zapáleny chvějí<br>
se dechem staletí a svítí věčným zořím,<br>
jsem lampu doléval; však plnou číši její<br>
jsem převrh’ na sebe a v plamenech teď hořím.</p>

<% content_for :sidebar do %>
  <div class="book-navigation">
    <ul class="side-nav">
<li class="leaf first"><a href="svitani-na-zapade/ranni-modlitba">RANNÍ MODLITBA</a></li>
<li class="leaf"><a href="svitani-na-zapade/tys-nesla">TYS NEŠLA</a></li>
<li class="leaf"><a href="svitani-na-zapade/vteriny">VTEŘINY</a></li>
<li class="leaf"><a href="svitani-na-zapade/proc-odvracis-se-o-slaba">PROČ ODVRACÍŠ SE, Ó SLABÁ?</a></li>
<li class="leaf"><a href="svitani-na-zapade/legenda-tajemne-viny">LEGENDA TAJEMNÉ VINY</a></li>
<li class="leaf"><a href="svitani-na-zapade/slysim-v-dusi">SLYŠÍM V DUŠI:</a></li>
<li class="leaf"><a href="svitani-na-zapade/zalm-ke-cti-nejvyssiho-jmena">ŽALM KE CTI NEJVYŠŠÍHO JMÉNA</a></li>
<li class="leaf"><a href="svitani-na-zapade/tajemstvi-bolesti">TAJEMSTVÍ BOLESTI</a></li>
<li class="leaf"><a href="svitani-na-zapade/vladari-snu">VLADAŘI SNŮ</a></li>
<li class="leaf"><a href="svitani-na-zapade/predtuchy">PŘEDTUCHY</a></li>
<li class="leaf"><a href="svitani-na-zapade/neme-setkani">NĚMÉ SETKÁNÍ</a></li>
<li class="leaf"><a href="svitani-na-zapade/o-minula-kdyz-smrti-vecny-pasat">Ó MINULÁ, KDYŽ SMRTI VĚČNÝ PASÁT …</a></li>
<li class="leaf"><a href="svitani-na-zapade/mytus-duse">MYTUS DUŠE</a></li>
<li class="leaf"><a href="svitani-na-zapade/nalada">NÁLADA</a></li>
<li class="leaf"><a href="svitani-na-zapade/podobna-noci">PODOBNÁ NOCI …</a></li>
<li class="leaf"><a href="svitani-na-zapade/az-sednes-za-muj-stul">AŽ SEDNEŠ ZA MŮJ STŮL …</a></li>
<li class="leaf"><a href="svitani-na-zapade/vitezna-pisen">VÍTĚZNÁ PÍSEŇ</a></li>
<li class="leaf"><a href="svitani-na-zapade/me-dedictvi-polozil-s">MÉ DĚDICTVÍ POLOŽIL’S …</a></li>
<li class="leaf"><a href="svitani-na-zapade/svitani-na-zapade">SVÍTÁNÍ NA ZÁPADĚ</a></li>
<li class="leaf last"><a href="svitani-na-zapade/vino-silnych">VÍNO SILNÝCH</a></li>
</ul>
        <div class="page-links clear-block">
                          <a href="svitani-na-zapade/ranni-modlitba" class="page-next" title="Přejít na další stranu">RANNÍ MODLITBA ›</a>
          </div>

  </div>
<% end %>
