---
title: LEGENDA TAJEMNÉ VINY
date: 2010-01-26 09:43
layout: book
comments: false

---

      <p>Jas hodin mých budoucích ozářil chvíli tu v snech<br>
a všemi svícemi lustrů rozkvetl v dní mých slavnostní sály;<br>
tam prýštěla hudba mých budoucích jar a ztajených něh,<br>
rtů, které mne opojí, jiskřil tam smích a mámil tam dech,<br>
a zraky, v nichž čeká mne mlčení rozkoše, s touhou tam plály.</p>
<p>Však marně jsem kráčel, kde v závratných rytmech se třás’<br>
zpěv Žití. Stín Někoho, jenž za mnou šel, přede mnou splýval;<br>
šel ze sálu do sálu, kam vkročil, žeh světelný has’,<br>
zrcadla temněla, touha se zachvěla a hudby vítězný hlas<br>
jak sražen v nejnižší oktávy úzkosti němé se slíval.</p>
<p>Ó duše má, odkud On přišel? A kolik staletí snad<br>
mých předků dušemi procházel, než došel až ke mně?<br>
Na kolik svatebních stolů jak ubrus koberec rekvií klad’?<br>
Na kolik růžových úsměvů dechl svůj podzemní chlad?<br>
A v kolika lampách plamenem soli a líhu zesínal temně?</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/proc-odvracis-se-o-slaba" class="page-previous" title="Přejít na předchozí stranu">‹ PROČ ODVRACÍŠ SE, Ó SLABÁ?</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/slysim-v-dusi" class="page-next" title="Přejít na další stranu">SLYŠÍM V DUŠI: ›</a>
          </div>

  </div>

