---
title: MÉ DĚDICTVÍ POLOŽIL’S …
date: 2010-01-26 09:57
layout: book
comments: false

---

      <p>Má slova nejlahodnější mi zemřela v bolestném mlčení,<br>
mé pohledy nejvýmluvnější uhasly bez odpovědí:<br>
když mrtvá slova mne probudí výčitkou ze snění,<br>
mrtvé pohledy z bezesných nocí mi do duše hledí.</p>
<p>Úsměvy, jež v tvářích mi zkvetly, v cizích duších mi uvadly,<br>
a které v cizích tvářích mi zvadly, v duši mne rozkvetlé bolí.<br>
Krůpěje, jež z naříznutých větví rozkoše na rty mi nepadly,<br>
v snění na rtech mi roztály, jak zestydlé v krystaly solí.</p>
<p>Na cestách mých kroků ležely stíny z oblaků staletí,<br>
na cestách mých zraků obrazy vzdušné, odražené z nekonečna;<br>
na cestách mé touhy tmělo se mystických blankytů rozpětí,<br>
na cestách mé duše teskno a dvojsmyslné mlčení věčna.</p>
<p>Mé dědictví položil’s v krajinu snění a tušení,<br>
mé růže jsi vytrhal a přesadil do jejich zázračných sadů;<br>
jejich vůně mne omdlívá v extasích modlitby a umění<br>
a nádhera jejich barev hoří mi ze Západů.</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/vitezna-pisen" class="page-previous" title="Přejít na předchozí stranu">‹ VÍTĚZNÁ PÍSEŇ</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/svitani-na-zapade" class="page-next" title="Přejít na další stranu">SVÍTÁNÍ NA ZÁPADĚ ›</a>
          </div>

  </div>

