---
title: MYTUS DUŠE
date: 2010-01-26 09:52
layout: book
comments: false

---

      <p>Krajinami, jež po staletí kvetly ve zracích mých předků,<br>
šla duše má vlnami nezrozeného snu, s očima zavřenýma a němá.<br>
Za každým jejím krokem valila se černá povodeň noci,<br>
jež vypíjela slunce, smývala barvy, zatápěla bohatství duší,<br>
drtila poslední slova mých otců němým nárazem vln<br>
a zalévala kořeny nynějších bolestí vláhou uhaslých světel.</p>
<p>Konečně jitro mi vzplálo ohnivým prosvítáním nalité krve<br>
v oblacích mlh, jež kouřily se nad hřbitovy staletými.<br>
Uhaslé barvy osleplých zraků okřály přede mnou vzkříšené dnem,<br>
dávné požáry sluncí, tolikrát pohřbené v hrobech, mi vzplály,<br>
dálky tolikrát svinuté smrtí rozložily přede mnou jiskřící obzor,<br>
jásající ilusemi tvarů a staletími naskládaných vůní.</p>
<p>Otevřel jsem knihu obrazů mrtvého snění,<br>
jež vypadla kovově těžká z vychladlých rukou na prsa mých předků<br>
(dědictví nejstarších věků, dobyté vítězstvím prohýřené krve,<br>
palimpsesty, kde vesmírem dneška prosvítá vesmír prvního slunce).<br>
Oddech času jsem cítil, když jsem obracel její zavřené listy,<br>
staleté kraje přede mnou táhly, pokryté zhaslými pohledy mrtvých,<br>
jež svítily mi z nich tajemstvím nálad:<br>
odkvetlé touhy v záhonech růží, dávné lásky ve stínech lesů,<br>
extase barbarských modliteb zpívaných na ohnivá themata bouří.<br>
Oněmlá slova vzkřikla mi na rtech, pohřbené bolesti v těle,<br>
žízně tolikrát napojené smrtí v mé žízni<br>
i žádost objetí, jež rudě doutná mi v krvi, vznícená z jisker prvního procitnutí.</p>
<p>Hřmělo nade mnou z blesků, které šlehly ve vzduchu před staletími,<br>
a hořké soli smutků, jimiž od věků tekl můj pramen, v mé studni se rozpustily.<br>
Z písčitých půd rostla má rýže, z řečiště staletých vod,<br>
jež vypařené mlží mi den a teskní mi přívětivé žehnání slunce.<br>
Na stožáry lodí mých snů sedala píseň, pták mystický umdlený letem,<br>
jenž z krajů opadávajícího listí táhne pod blankyty věčného zrání.</p>
<p>Ale únava věků nalila tíži v můj pohyb, a v rytmech zesláblých kroků<br>
slyšel jsem dunění noci, jež věčná padala za mnou.<br>
Zhořkly mi vůně rozkvetlých dálek, jež dávaly mým otcům zapomenouti.<br>
Zraků jsem nenašel zavlhlých láskou, z nichž svítil by mi příbuzný život<br>
a žárem ze setkání pohledů zanítil v hymnický požár mou duši<br>
v zapomenutých stepích, kde marně ztlívají výdechy odvěké vášně. —</p>
<p>Unaven zvykl jsem konečně zpívání noci a miluji západ.</p>
<p>Miluji západ, když zdvihá se na návrších strážnými signály ohňů<br>
a za vířících hudeb slavného ticha ohlašuje vítězné vtrhnutí Nepoznaného,<br>
jež sněním poráží silné, ve mdlobách milenců tajemstvím života zpívá,<br>
jako soucitný dotek klade se na čela teskných<br>
a nemocným počítá údery tepen.</p>
<p>Ať rostou černé vegetace stínů z kořenů stromů, zalitých krví!<br>
Ať plazí se narudlou zemí, tenata černá mých kroků!<br>
Ať opínavým žíznivým býlím vyssávají poslední mízu mých květů,<br>
jichž barvy jsou osleplým odleskem cizích nádher!</p>
<p>Ať rozklenou se nade mnou setmělé výše, kde dýchají tajemství smrti<br>
jak spící netopýři zavěšení na zářivých skobách hvězd!<br>
(Jsou unaveni lovem minulým i budoucím a oslepnou přítokem Rána.)</p>
<p>A zastaví-li se duše má na dlouhé pouti mých otců staletími,<br>
až v černém zrcadle zmaru uvidím tvář svou změněnou formami nového žití,<br>
pozdravem zulíbám stíny a píseň zazpívám živým<br>
i poutníkům budoucím, kteří odváží se trhati kvítí v údolí smrti<br>
a utrpením čísti v mystické Myšlence, jež zraje pro nás rozkvětem tvarů<br>
a od věků dumá o plemenu silném, jehož krev bude sršeti jiskry,<br>
dmýchaná nejvyšší vůlí,<br>
o vinařích, již zapálí síru v sudech, kde se zkazila staletá vína, sílící slabé,<br>
a naházejí před sebou ohně do nahustlých plynů, otrávených potem,<br>
aby vyčistily dálky a vzkřísily vůně ve vzduchu,<br>
jejž budou dýchati zástupy příští.</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/o-minula-kdyz-smrti-vecny-pasat" class="page-previous" title="Přejít na předchozí stranu">‹ Ó MINULÁ, KDYŽ SMRTI VĚČNÝ PASÁT …</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/nalada" class="page-next" title="Přejít na další stranu">NÁLADA ›</a>
          </div>

  </div>

