---
title: NÁLADA
date: 2010-01-26 10:21
layout: book
comments: false

---

      <p>Šum žárem umdlený na větve tíhou naleh’<br>
a visel bez hnutí, co v teskných intervalech<br>
les dýchal přitisklý a potu hořký příval<br>
z rozprysklých zelení mu hrubou vůní splýval.<br>
Šla bledá únava pod stromy nehybnými,<br>
po bok mi usedla, v tvář dechla tušeními,<br>
stesk věčné otázky mi v zraky ponořila<br>
a řečí mrtvých slov s mou duší hovořila.<br>
Květ slunce přezrálý do bílých žárů zvadal,<br>
v šer haluzí se třás’ a modrým listím padal<br>
v tich apatických němé vysílení, v mechu<br>
se rozdoutnal a lázní tajemného dechu<br>
mne mdlobou kolébal, jak pod vlnami<br>
krev z otevřených žil by tiše řinula mi.</p>
  <div id="book-navigation-50" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/otokar-brezina/svitani-na-zapade/mytus-duse" class="page-previous" title="Přejít na předchozí stranu">‹ MYTUS DUŠE</a>
                    <a href="/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/otokar-brezina/svitani-na-zapade/podobna-noci" class="page-next" title="Přejít na další stranu">PODOBNÁ NOCI … ›</a>
          </div>
    
  </div>
    