---
title: NĚMÉ SETKÁNÍ
date: 2010-01-26 09:48
layout: book
comments: false

---

      <p>Jedenkrát oddech cizího žití zarděl mne blízkostí spřízněné touhy:<br>
hlas vonný očekáváním, jak modlitba zvonů, večer, před velkými svátky.</p>
<p>Chladivé poprchávání tónů, jimiž okřívá píseň omdlelá tichem,<br>
a naděje zesláblá nekonečnou chůzí v krajinách zářící mlhy.</p>
<p>Šumění nesmělých kroků, když láska jde dušemi v snění<br>
a vzbouzí uvítání krve ilusí úsměvu žádostivého.</p>
<p>Jedenkrát oddech cizího žití zarděl mne blízkostí spřízněné touhy:<br>
záclony lože se zachvěly, odhrnuty diskretní rukou, a klesly.</p>
<p>Teskno. Zapadla minulá slunce, slzami zvětšují se hvězdy,<br>
smuteční cypřiše čekají u cest. Nepoznány se míjejí duše,</p>
<p>každá svou rozžatou svítilnu při potkání cloní, nedůvěřivá,<br>
jen dlouhé stíny vzpomínek táhnou se za nimi přes celý obzor.</p>
<p>Kam padnou, tam rostou mystické květy, vyzařující uhaslá světla,<br>
a z jejich listů, rozemnutých, voní mi lítost němého setkání v smrti.</p>
  <div id="book-navigation-50" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/otokar-brezina/svitani-na-zapade/predtuchy" class="page-previous" title="Přejít na předchozí stranu">‹ PŘEDTUCHY</a>
                    <a href="/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/otokar-brezina/svitani-na-zapade/o-minula-kdyz-smrti-vecny-pasat" class="page-next" title="Přejít na další stranu">Ó MINULÁ, KDYŽ SMRTI VĚČNÝ PASÁT … ›</a>
          </div>
    
  </div>
    