---
title: Ó MINULÁ, KDYŽ SMRTI VĚČNÝ PASÁT …
date: 2010-01-26 09:49
layout: book
comments: false

---

      <p>Vzduch světlem hořel, v těžkou vůni stlíval,<br>
kov její písně v sladké stříbro tál,<br>
a smutek dní, jenž v duší zrcadla se díval,<br>
před jejím prahem okouzlený stál.</p>
<p>Ó Minulá! Když smrti věčný pasát<br>
ze zátok stínů v modrá města táh’,<br>
v tvůj pokoj písněmi a dívčí vůní nassát<br>
do oken leh’ a kvílel v mrákotách,</p>
<p>v plyn uhelný se v řasy záclon tiskl<br>
a dechem padal duším do snění:<br>
tvé písně žhavý proud jak výkřik světla vtryskl<br>
v orchestr tajemného mlčení.</p>
<p>Zas hořel vzduch a v těžkou vůni stlíval,<br>
kov zvonů v tvrdých intonacích tál,<br>
a smutek dní, když v duší zrcadla se díval,<br>
u tvého prahu zádumčivý stál.</p>
  <div id="book-navigation-50" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/otokar-brezina/svitani-na-zapade/neme-setkani" class="page-previous" title="Přejít na předchozí stranu">‹ NĚMÉ SETKÁNÍ</a>
                    <a href="/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/otokar-brezina/svitani-na-zapade/mytus-duse" class="page-next" title="Přejít na další stranu">MYTUS DUŠE ›</a>
          </div>
    
  </div>
    