---
title: PODOBNÁ NOCI …
date: 2010-01-26 09:54
layout: book
comments: false

---

      <p>Zas dávná bolest v záření zraků mých mrazivou mlhou se vssála<br>
a řeřavé vydychování barev mi srážela v bělavé kotouče chmur.<br>
Touha má, dušená, v třesení chorobném dotknout se bála<br>
myšlenek rozžhavených klaviatur.</p>
<p>Šat soumraku duši mou oblékal, z doutnavých, palčivých paprsků snován,<br>
a ticho do nejhlubších, hrobových poloh sjíždělo klesáním škál.<br>
Den odcházel, zarmoucen, útrpným pokynem hodin pozdravován,<br>
jak od lože mrtvého ode mne v zádumčivou svou dál.</p>
<p>Jen bolest mi dýchala hlubokým dechem, jenž Vzkříšení zpívá,<br>
nepodrobená času, vítězná nepřítelkyně snu,<br>
podobná noci, jež jediným pohledem do všech oken se dívá<br>
a všem pohledům otvírá jediné okno k věčnému dnu.</p>
<p>Jen bolest mi dýchala hlubokým dechem, v němž utajen leží<br>
výkřik mé matky, jak v první mou hodinu chudou síní se táh’,<br>
i poslední výkřik, příšerně jásavý, jenž v hlubinách duše mé střeží<br>
tohoto snění slzami vlhnoucí práh.</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/nalada" class="page-previous" title="Přejít na předchozí stranu">‹ NÁLADA</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/az-sednes-za-muj-stul" class="page-next" title="Přejít na další stranu">AŽ SEDNEŠ ZA MŮJ STŮL … ›</a>
          </div>

  </div>

