---
title: PŘEDTUCHY
date: 2010-01-26 09:47
layout: book
comments: false

---

      <p>Dým předtuch se plazil mou duší ze sražených požárů svát.<br>
Odpověď němou na neznámá slova na rtech cítil jsem tát.<br>
Sinavým deštěm hasil má světla budoucích soumraků pád<br>
a s úzkostným pohledem se ke mně tulily barvy.</p>
<p>Zdlouhavý rytmus věčného choru v duši mi výstražně sáh’.<br>
A slitá echa tisíců kroků, jež zapadly v staletých tmách,<br>
jak odražená z klenutých chodeb mých budoucích drah<br>
vyšla mi naproti poselstvím tajemné jednoty snění.</p>
<p>Šílená jasnost mi letěla smysly, druhého zraku sršící proud,<br>
jenž probíhá časem, krvavá zaříznutí mystických pout,<br>
nárazy vesel zakletých loďstev, jež z dálek slyšel jsem plout<br>
k přístavům zavřeným dosud pod blankyty nerozpjatými.</p>
<p>I tušil jsem bolestnou souvislost věcí, staletých paprsků slet,<br>
jenž vyzařuje se z duší a v duše se odráží zpět<br>
snem příšerným otevřených očí, snem žízně, krve a let,<br>
jejž určil jsi sníti do splnění odvěké kletby.</p>
<p>I modlila se má úzkost a v její slova zněl signál Anděla žní,<br>
jenž v ložnici duší výkřikem agonie do snění zní<br>
zvoleným žencům, již odejít mají, a těm, kteří opodál sní,<br>
zpívá o těžké, nepřetržité práci na věčných nivách.</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/vladari-snu" class="page-previous" title="Přejít na předchozí stranu">‹ VLADAŘI SNŮ</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/neme-setkani" class="page-next" title="Přejít na další stranu">NĚMÉ SETKÁNÍ ›</a>
          </div>

  </div>

