---
title: PROČ ODVRACÍŠ SE, Ó SLABÁ?
date: 2010-01-26 09:43
layout: book
comments: false

---

      <p>Znám chvíle úzkosti, když hladiny duše, zahoustlé zatížením,<br>
dech větrů z pohoří Dálek mi svraští nervosním chvěním,<br>
květ slunce v nich roztříští v salvy bolestných jisker a žehů<br>
a roztřese obrazy zahrad, jež do hlubin vyrostly z břehů.</p>
<p>Když z kráterů Západů zdvihne se popel a v řeřavém plání<br>
noc uhaslých hvězd a neznámých jiter mi do tváře vhání,<br>
a v příšerném rytmu, jejž skanduje předení umírajících rukou,<br>
mých myšlenek ztrhané lety jak křídla krvavá tlukou</p>
<p>a v závrať mne rozhoupávají nad vlny tvůrčího zmaru,<br>
kam padají světy nenávisti a smutku a světel a tvarů,<br>
dějiny vykrvácených rodů, mlčení zakřiknutých duší,<br>
sny, které dřímou, sny, které září, a sny, které tuší,</p>
<p>a všechny, které se nerozsvítily! Hodiny věčné a teskné,<br>
jež neudeřily! Dni, jichž ponuré svítání leskne<br>
se v nocích nestvořených sluncí, až vlající, jednou,<br>
jak svinuté prapory v rukou Nejvyššího se zvednou.</p>
<p>Proč odvracíš se, ó Slabá, když blížíš se k rodnému prahu?<br>
Když z výparů dědičných lánů cítíš tajemnou vláhu,<br>
jež pozdvihla z prachu tvé snění? A zrak tvůj, bázliv a schýlen,<br>
proč svírá se v slzách před zardělým reflexem otcovských dílen?</p>
<p>Slyš hučení odvěkých moří pod blankytů ohnivou šíří!<br>
Protéká splavem tisíců duší a vře a jiskří a víří<br>
a šlehá! K pochodu tvému píseň! Od břehů věčna se slívá<br>
a z jejího refrénu pozvání Nejvyššího ti zpívá!</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/vteriny" class="page-previous" title="Přejít na předchozí stranu">‹ VTEŘINY</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/legenda-tajemne-viny" class="page-next" title="Přejít na další stranu">LEGENDA TAJEMNÉ VINY ›</a>
          </div>

  </div>

