---
title: RANNÍ MODLITBA
date: 2010-01-26 10:20
layout: book
comments: false

---

      <p>Stan černý smrti, jejž rozpíná duše na cestě své, aby odpočinula,<br>
jsem svinul dle rozkazu tvého a obrácen k východu světla<br>
řekl jsem myšlenkám, klečícím na růžových kobercích jitra: Modlete se!</p>
<p>Ó Nejvyšší!</p>
<p>Tvůj úsměv mystický zatřásl zemí šlehnutím úrodné mdloby,<br>
nedočkavé hlasy všech vůní zmateně vyvalily se z nížin,<br>
žíznivé klasy prohnuly se s bolestnou rozkoší pod sesutím světla<br>
a zdravé vtáhnutí dechu radostně rozesmálo žijící formy. —<br>
Ale zraky milenců snu se zatměly bázní, vyhýbavé a kleslé<br>
pod jiskřivým pohledem dne, v němž svítí divoká žádost nezrozeného.<br>
Jako hněvivý zrak dozorce davů a sil přelétl krajiny země,<br>
zachvěl se před ním život, zabouřily dílny všech krví.<br>
Oblaky s drápy ohnivými vyhnal z vod (schoulené v moří zářící hnízda),<br>
vpadl do stáda opilých vůní a hlas jejich zakřikl hněvem bílého žáru,<br>
ve varu světel rozkypěl barvy, žhavé je nastříkal v duše<br>
a palčivým popelem okamžiků posypal hlavy litujících.</p>
<p>Hodinami zazvonil všem duším počátek žně, ó Majiteli rolí a stád!<br>
Všichni viditelní i neviditelní služebníci vyšli na souvratě tvé,<br>
ale rachot tvých vozů, naplněných úrodou, zahřmí jen do snění básníků.<br>
Tvá bude úroda na polích lásky a v zahradách, kde jaro omdlelo vůní,<br>
úroda chudých, zmořená suchem v den setí a deštěm v den metání klasů,<br>
úroda těch, kteří pohledy síly určují hranice majetku svého,<br>
úroda bolesti, s květy, jež hoří všemi barvami duší<br>
a jako příliš vytažené lampy, jež kouří dusnými vůněmi smrti.<br>
Úroda setby, jež čeká pod sněhem času na dobu staletých tání,<br>
a královská úroda zrní nezasetého.</p>
<p>I já, jeden z nejchudších, vycházím poslušen na hlas tvého zvonu<br>
na zděděnou líchu mých mrtvých, kde klekání ztichlá mi hlaholí z hučení větrů,<br>
a oněmlé hlasy z šepotu stvolů mne sílí povzdechem dávna.</p>
<p>Ó Věčnýl Až žárem se rozpuká země, dej, ať sednouti mohu do tvých stínů!<br>
Až umdlím, přej, aby mé naděje se napily vína šumného budoucí září!<br>
Až prací zrudnou mi tváře, nech je zlíbati pohledy mrtvých,<br>
a pot mého čela ať ovívají éterné ruce těch, kteří mne milovali!<br>
Dej požehnání mým zrakům, když utkví na bujném obilí šťastných,<br>
a pevnost pohledu mému, když uzří mystické znamení smrti na květech zahrad a duší!<br>
Hlasu mému dej hudbu lahodnou žencům jak zvonění o polednách<br>
a písni mé stříbrné kadence potoků uprostřed polí v čas žízně!<br>
Dej, aby mé kroky vzbudily z umdlení radostné čekání bratří,<br>
a na můj pozdrav aby vlídně odpověděli pospíchající!<br>
Dej, ať v hněvivých pohledech nepřátel dovedu uctíti záření tajemství tvého<br>
a chvílím, které proti mně vyšlou, ať řeknu s úsměvem: Dělníci moji!<br>
A nezasloužím-li, aby má křídla se vznášela silou mého zraku,<br>
ať lítost má vznáší se silou, po níž teskní má slabost!<br>
Dej duši mé odvahu mlčení, když jsi promluvil znameními,<br>
a zahradám mým dosti růží, když nastane doba navíti věnců!<br>
Učiň, ať pravda má podobna jest knize modlitební,<br>
aby každý v ní našel modlitbu svou, i zavržený a umírající!<br>
A odrazí-li se věčné slunce v mém slově, ať v radostnou extasi zardívá bratry<br>
a květy jejich touhy ať obrací k věčnému ohnisku zrání!<br>
Dej, ať v paprscích úsměvu mého pel z polí mých padá na sousední líchy,<br>
a dech bolesti mé ať sráží se v krystaly léků těm, kteří hledáním onemocněli!<br>
Ticho mé samoty naplň šuměním křídel sbratřených duší,<br>
a okamžiky radosti mé ať vonným deštěm se nad loži beze snů třesou<br>
jako zpívání harfy k útěše zarmouceného.<br>
Dej, aby mé myšlenky byly jak větry jarní, jež přinášejí rytmus budoucím písním,<br>
a jako vichřice, které nutí k návratu chodce před cestami smrti!</p>
<p>A umírajíce ať podobny jsou těm květům (symbolům setby z jiného světa),<br>
které, když vadnou úpalem denním, ještě jahodami voní.<br>
Unaven prací a láskou a bolestí zlomen ať usednu v kvetoucí meze<br>
a zbytek dne ať ztrávím pohroužen, němý, ve věčnou hudbu tvých světel.</p>
<p>Až večer se nakloní k zemi a zakřiknuté vůně se vrátí,<br>
i já půjdu, pracovník osamělý, k příbytkům kouře stoupajícího.<br>
Pod tvým stromem usednu, jenž všemi prostory korunu košatou zdvihá<br>
a v jehož černém, ledovém listí zvoní tichem hvězdy jak včely všech úlů;<br>
má hrdost, zamlklá za dne, k mojí písni se vrátí,<br>
políbením, jež nekonečnými činí paprsky zraků, na oči mne zlíbá,<br>
a těm, kteří poslechnou, s hlavou pyšně vzad skloněnou zpívati budu.<br>
Zpívati budu tvé dějiny, jež v duších mrtvých národů jásaly zářením dneška<br>
a v duších živých neznámým jazykem budoucna mluví.<br>
V epickém toku všech barev, v tisících tónů, bizarních rozkvětech hmoty,<br>
v prostoru smrtelných tiších, v nichž buší kladiva skrytých tvých dílen,<br>
kde formuješ budoucí slunce pod klenbami načernalými,<br>
až jiskrami z kovadlin tvých do závratných výší tříští se světy!<br>
V lyrismech tušení, v šílenstvích hrůzy, v sinavém třesení září,<br>
škálami vášní, v notách dle klíčů a předznamenání smrti.<br>
I rozpustí se má slova jak sůl v žíravém dešti tvé vláhy<br>
a krystalovati budou v sršení jisker a v praskotu neznámé síly.<br>
Barvami neviditelného vidma mé obrazy se vzejmou, hýřící slávou,<br>
stíny jejich budou položeny oslňujícím zářením pozemských světel,<br>
však jejich světla tvým stínem; a do tvých úběžných bodů<br>
paprsky jejich perspektiv se v ohniska sletí.<br>
I pozdvihne se sen můj s křídly zachycujícími reflexy věčného jitra<br>
a jako gigantský fantom orla zem ponese v žhavých svých spárech,<br>
na dvě strany rozhrne černé oblaky nocí a lehne k tvým nohám<br>
a zrak své pýchy nastaví pokorně proklání pohledu tvého<br>
v syčícím výtrysku krve osleplý září.</p>
  <div id="book-navigation-50" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/otokar-brezina/svitani-na-zapade" class="page-previous" title="Přejít na předchozí stranu">‹ Otokar Březina - Svítání na západě</a>
                    <a href="/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/otokar-brezina/svitani-na-zapade/tys-nesla" class="page-next" title="Přejít na další stranu">TYS NEŠLA ›</a>
          </div>
    
  </div>
    