---
title: SLYŠÍM V DUŠI
date: 2010-01-26 09:44
layout: book
comments: false
---
<p>Když slunce zpívalo, tys na svůj nástroj nesáh’,<br>
jen pod mým bodnutím krev tryskla tónů tvých;<br>
tvá ruka v křečích jen zahřměla na klávesách<br>
jak v noci úzkosti na dveře umdlených.</p>
<p>Klam vonný polibků ti z jarních růží nevál,<br>
jen ptáků jižní tah a ironický let;<br>
když oblak úrodný nad krajinou se sléval,<br>
svou dlaň jsem nastavil a tvůj jsem přikryl květ.</p>
<p>Před zrakem duše tvé jsem utkal závoj žití,<br>
svit záře tajemné jak rosa prýští v něm,<br>
když žízní prahl jsi, tvým snům jen dal jsem píti,<br>
však jejich žádostí tvé rety spálil jsem.</p>
<p>Když slunce zpívalo, tys na svůj nástroj nesáh’,<br>
mé barvy rozložil’s jen prismem slzí svých;<br>
tvá ruka v křečích jen zahřměla na klávesách<br>
jak v noci úzkosti na dveře umdlených.</p>
<p>A zpupný roj tvých včel, jenž z mého ulét’ úle,<br>
ze stromu dutého jsem kouřem vyhnal zpět;<br>
tvé dni jsem uvěznil a sugescí své vůle<br>
tvých písní zahořkl jsem mízu, dech a květ.</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/legenda-tajemne-viny" class="page-previous" title="Přejít na předchozí stranu">‹ LEGENDA TAJEMNÉ VINY</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/zalm-ke-cti-nejvyssiho-jmena" class="page-next" title="Přejít na další stranu">ŽALM KE CTI NEJVYŠŠÍHO JMÉNA ›</a>
          </div>

  </div>

