---
title: SVÍTÁNÍ NA ZÁPADĚ
date: 2010-01-26 09:57
layout: book
comments: false

---

      <p>Je květen stínů. Polední parna dávno už za sebou máme.<br>
Sen opilý krví umdlel a čistšími tóny hraje.<br>
Hořící trámoví vězení našeho s praskotem ohně se láme,<br>
a u cesty nezralé ovoce naše reflexem západu zraje.</p>
<p>Nežel, má duše, že dojdem až v noci k tvému rodnému městu<br>
a zahrad jeho že neuzříme pak v soumracích po klekání:<br>
naše vlastní uhaslé dni nám paprsky postelou cestu<br>
a jásotem po léta vyslaných nadějí budeme uvítáni.</p>
<p>Den září zatmívá dálky — noc temnem zapaluje výše.<br>
Průlomem zřícených krovů se nad námi otvírá nebe. —<br>
A v symfonii bratrských hlasů, jež vonným přívalem dýše<br>
od světa k světu, jak písně lodí plujících vedle sebe,</p>
<p>v rozkoši puštěného světla, v dotycích neznámých slovu,<br>
pod stíny, jež na pozemskou myšlenku vrhl jsi tajemstvími,<br>
jak v úzkosti dechnutý signál, rdoušený stěnami kovu,<br>
sen zemský k tvé slavnosti se rozleje vlnami jásavými.</p>
<p>Ó Věčný! Ať tušení naše jsou sladká těm, kteří v bolestech tonou.<br>
Pějeme hymnu ze slov, jež značí smrt ve všech jazycích země.<br>
Neboť nám, kteří věříme, je den tvůj dobou zrání, zahořkle vonnou,<br>
praskající v bolestných klasech a večerem chlazenou jemně.</p>
  <div id="book-navigation-50" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/otokar-brezina/svitani-na-zapade/me-dedictvi-polozil-s" class="page-previous" title="Přejít na předchozí stranu">‹ MÉ DĚDICTVÍ POLOŽIL’S …</a>
                    <a href="/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/otokar-brezina/svitani-na-zapade/vino-silnych" class="page-next" title="Přejít na další stranu">VÍNO SILNÝCH ›</a>
          </div>
    
  </div>
    