---
title: TAJEMSTVÍ BOLESTI
date: 2010-01-26 09:46
layout: book
comments: false

---

      <p>Tvůj vichr, z žhavých hor jenž prvních jiter táh’,<br>
mým rodem od věků hnal prachu zdvihlý sloup.<br>
V dech dávných spálenišť mne halil v myšlenkách<br>
a mrtvých mlčení mi složil v duše hloub.<br>
On určil dráhu mou, mých tužeb let a směr<br>
a chvěním černých vln mi světlo nítil tmou.<br>
V střed žhavých pavučin, jichž každý poloměr<br>
je k hvězdám napjatý, uvěznil vůli mou.</p>
<p>Tajemství bolesti! Výkřiky soumraků!<br>
Škubnutí Blížení po vláknech éterných!<br>
Potkání ohnivá mystických oblaků,<br>
jež svítí pohledům do dálek nádherných!<br>
Stem blesků slyšel jsem váš reflex v duši hrát,<br>
na křídlech úzkosti let smrti chvěl se v něm,<br>
zpěv žití budoucích, zor příštích vonný pád,<br>
šum lesů tajemství, jenž šeptá vesmírem.</p>
<p>V tvých zářích zsinalých mi v tanci vůní vstal<br>
svět žhavý radosti na březích ztracených,<br>
kde lože růžová sen lásce uchystal<br>
s požárem svatebním ve zracích vznícených.<br>
A preludiemi tvých varhan slyšel jsem<br>
klam písně rozkoše, jak z hlubin žití vřel:<br>
Sen svůj jsem maloval na černém plátně tvém<br>
a na tvých kamenech jsem jeho barvy třel.</p>
<p>Tak kráčím cestou let, tvých větrů jásá smích,<br>
hořkostí ukrytou jím dýchá každý květ.<br>
Do dálek zanáší mi výkřik přátel mých<br>
a z mlhy odváté mi zdvihá druhý svět.<br>
Den před mým zrakem tlí a taví věcí tvar<br>
a roste, příšerný, v dým nezrozených dob;<br>
a v horkém dechu tvém mé krve kypí var,<br>
smrtelně zadýchán do černé páry mdlob.</p>
<p>Mé chvíle třesou se jak prachu smolný kmit<br>
kol struny vířící, jež tvojí písní lká.<br>
Na stavě neznámém mých zhaslých září svit<br>
tvá ruka v příští šat mé duše, černý, tká.<br>
Přes ohně západů, jak uhlí plamenné,<br>
jež v zracích odráží žár svatých šílenství,<br>
pochmurných myšlenek mých stádo zmatené<br>
tvým bičem žene Pán na pastvy tajemství.</p>
  <div id="book-navigation-50" class="book-navigation">
    
        <div class="page-links clear-block">
              <a href="/otokar-brezina/svitani-na-zapade/zalm-ke-cti-nejvyssiho-jmena" class="page-previous" title="Přejít na předchozí stranu">‹ ŽALM KE CTI NEJVYŠŠÍHO JMÉNA</a>
                    <a href="/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/otokar-brezina/svitani-na-zapade/vladari-snu" class="page-next" title="Přejít na další stranu">VLADAŘI SNŮ ›</a>
          </div>
    
  </div>
    