---
title: TYS NEŠLA
date: 2010-01-26 09:41
layout: book
comments: false

---

      <p>Příliš brzy jsem rozsvítil lampy a do váz natrhal kvítí<br>
a vůněmi, jež v plamenech šlehají krví, své síně jsem nadech’:<br>
koberce prostřel jsem, naléval vína, v nichž slunce minulá svítí,<br>
jež před lety usínala v chudých mých vinohradech.</p>
<p>Tys nešla. Hodiny z dálky se smály, má jara v nich jasmíny kvetla<br>
a dýchala na tvůj neznámý obraz ověnčený liliemi;<br>
čas vadl, růže mé chřadly, vína má hořkla, rudla má světla,<br>
a sny, jež jsem ti naproti vyslal, se vrátily teskny a němy.</p>
<p>Tys nešla. Zaklínal jsem tě magií Vůle, jež prostorem sálá<br>
proudy tajemných spojení a přenáší nejhlubší chvění.<br>
Větrům jsem házel setbu své touhy, aby v duši ti vzplála<br>
v ohnivé keře a sugescí vůně vedla tvé snění.</p>
<p>S dušemi básníků jsem hovořil o tvé váhavé chůzi;<br>
naděje má s umdleným úsměvem seděla na prahu dveří;<br>
oněmly cesty, bázní se schoulily stromy a v soumraku hrůzy<br>
šlépěje přátelských kroků jak černým sněhem se zaváty šeří.</p>
<p>Tys nešla. Kdo tě potkal a svedl z mých zahrad? Či leká<br>
tě oblak, jenž zhaslými slunci se pozdvih’ a nad mým domem se prostřel?<br>
Či smrt, která zabíjí na křižovatkách mé hosty a čeká,<br>
až sám se přiblížím k oknu, blízko na osudný dostřel?</p>
<p>Je pozdě již. Záclony zdvihám, okna svá bez bázně otvírám výším<br>
a od hvězd zvoní mi píseň započatá před staletími;<br>
neznámý hlas tvůj chladivým nárazem éteru slyším<br>
z té písně věčné se třásti tóny přitlumenými.</p>
<p>V noci všech světů padá, kde polibků jásavá bouře se sráží,<br>
jež rozžehá v křížení blesků nesčetné životy příští.<br>
Věř, my se to líbáme tisíci retů, objetím tisíců paží<br>
ve věčnosti bolestné něhy, jež od věků do věků prýští!</p>
<p>Ve vášnivém tepotu věčného Srdce, jež tisíci údery buší,<br>
v tušení, jež prochází hroby a svítí z budoucích zoří,<br>
v tajemství Zrání, jež v jedné duši slívá tisíce duší<br>
a pohledem letícím věky na tváři spřízněné hoří.</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/ranni-modlitba" class="page-previous" title="Přejít na předchozí stranu">‹ RANNÍ MODLITBA</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/vteriny" class="page-next" title="Přejít na další stranu">VTEŘINY ›</a>
          </div>

  </div>

