---
title: VÍNO SILNÝCH
date: 2010-01-26 09:59
layout: book
comments: false

---

      <p>Bratří, z ruky do ruky podávejme víno silných v své číši;<br>
věky ho chránily na vinicích před mrazem jak dýmy ohňů v čas noční.<br>
Vinaři jeho byli Smutek a Samota.</p>
<p>Než se nadáme, uslyšíme, jak vedle nás rytmicky dýchá mystická píseň,<br>
a na rtech ucítíme číš svoji teplou od jejích éterných retů.<br>
Tajemný proud zavře se kruhem kol našeho stolu,<br>
vymkne nás ze zákonů země, a život a smrt bude našemu snění odpovídati.<br>
Uslyšíme šumění neviditelných řek, jež protékají staletími,<br>
uvidíme oblak Věčného, skloněný k vodám, svítiti z hlubin jako slunce.<br>
Opojení učiní duši naši světlou jak duši budoucích lidí,<br>
a otráveni snem zemřeme před svou smrtí a po smrti budeme žíti.</p>
<p>Poslušni budeme čísti v tvé knize, ó Věčný, a k obrazům jejím určíme slova.<br>
V čarovném kruhu, velkém jak obzor, se zavřeme úzkostem noci.<br>
Příval tvůj uhasí stavení naše, hořící se čtyř stran plameny bolesti,<br>
a kvasem tvým pokyne nám těsto nového chleba.<br>
Lampy naše budou prameny oleje, jenž bude svítiti, nehnut, uprostřed větrů.<br>
Zahradami budou nám hroby, a smrt svou budeme se zpěvem kolébati.<br>
Hovořiti budeme mlčením, a políbením bude neviditelné potkání touhy.<br>
Odpovědí naší bude zazáření zraků při objetí myšlenek v dálce.<br>
V paprscích upřeného pohledu našeho stane se průhledným neprůhledné.<br>
Nepůjdeme mlhami slzí z krajiny snů do země žití, neb obé splyne,<br>
a slzy, jak rosa na osení věků, vypitá sluncem, zdvihnou se nad námi v purpurech ranních.</p>
<p>Okna naše ukáží nám barvy umyté nebeskou bouří<br>
a jed ve šťávách květů shoří za uzdravujících vůní.<br>
Stíny složí se nám jak péra v křídlech, posetá hvězdami, smějící se dálkám.<br>
Sny, jež tisíciletí spaly, neznámy duším, vzbudíme pod přikrytím barev a tvarů,<br>
i vstanou z ledovců točen, z pralesů moří, z tajemných dílen hmoty<br>
a spustí se z neviditelných konstelací.<br>
Hleděti budeme řadou dní budoucích jak řadou skleněných dveří za sebou ležících síní,<br>
jimiž nám naproti přichází slunce, věnčené zelení zahrad.<br>
Jako nebesa vonného lože milenců zatmí se nad námi noci.<br>
Minulost ztratí se v dálce jak kouř továren města, z něhož jsme vyjeli dávno.<br>
Myšlenky naše budou míti šíři prostorů, naplněných éterem, jímž dýchají světy. —</p>
<p>Unaveni světlem ruku podáme Přítelkyni, aby nás odvedla odsud,<br>
a smrt naše bude jak smrt očištěných lidí. Podobná chůzi<br>
z pokojů přesycených vůněmi do chrámu na neděli květnou.<br>
Podobná vstoupení na loď za vlání praporů a v orchestrech hudeb.<br>
Podobná odchodu vojska do dobytých zemí, jemuž házejí kytice z oken.<br>
Podobná radostné odpovědi choru po slovech kněze, zamlžených tajemstvím.<br>
Podobná políbení, které potrvá déle než systémy světů,<br>
podobná výkřiku všech písní, skrytých ve všech minulých i budoucích duších a světech,<br>
a smíšení všech minulých i budoucích dní a nocí v jediný den, v němž nebude noci.</p>
<p>Bratří, z ruky do ruky podávejme víno silných v své číši:<br>
hvězdy, které naň pršely v květu, ať nahází do našich zraků.<br>
Trest slabých bude, že zapomenou své jméno při procitnutí,<br>
a odměna silných, že v zářící tmě vzpomenou na ostrovy zajetí svého.</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/svitani-na-zapade" class="page-previous" title="Přejít na předchozí stranu">‹ SVÍTÁNÍ NA ZÁPADĚ</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                </div>

  </div>

