---
title: VÍTĚZNÁ PÍSEŇ
date: 2010-01-26 09:56
layout: book
comments: false

---

      <p>Vysvětli, duše má, extatickou slávu té písně němých, nejvyšších oktáv,<br>
když bolest železným klíčem napjala struny tvé v poslední, nejhlubší závit<br>
dle základního tónu tajemného ladění, v němž vesmírem zvoní<br>
hymna Nepoznaného! — —</p>
<p>Opojení nás vedlo v nejnižší rozlohy snění se svahů denního světla<br>
a mlhy nám stoupaly vstříc ze zdrojů, jimiž omamovaly se věky<br>
a karavany nesčíslných duší. Černé slunce smrti tam plálo<br>
a házelo paprsky podmíněné jinými zákony chvění.</p>
<p>Na květy naší lásky a touhy se přissálo zsinalou žízní,<br>
pilo z nich růžové dechnutí jiter, zardělých svatebním procitnutím;<br>
ledovým ohněm je strávilo, až barvy z nich kouřily špinavým dýmem<br>
a v slzách tekla z nich vyhnaná vůně a rozkoš pozemských zraků.</p>
<p>Dráhy našeho letu, jenž vířil královstvími sluncí, v uzly zaklesla tíže,<br>
síť mystická, jak motýly chytající světy a lovící k Středu.<br>
Uhaslé rytmy staletých pochodů táhly po výkřicích, oněmlých věky!<br>
Mrtvé vichřice vyvrácených uhelných lesů slova nám trhaly u rtů!</p>
<p>Bohatství nesčetných pozemských zraků padala spálená v hlubiny dálek,<br>
jež v žití dělily duše a naplnily nám okamžiky příští tisíciletími.<br>
Cítili jsme blízkost bratrského množství, objetí nesčíslných dechů,<br>
polibky beze rtů, které jsme vraceli silnými polibky omdlívání.</p>
<p>Avšak hustá krev země nám polarisovala v zracích záření smrti<br>
a radostná odpověď naše sípěla, němá, výkřikem hrůzy,<br>
onou hlubokou řečí, jíž život odpovídá Neznámému<br>
(než přijde chvíle přijmouti nový pořádek věcí). — —<br>
Má duše!</p>
<p>Je teskná tvá vítězná píseň, transponovaná do oktáv pozemských tónů!<br>
Šťasten, kdo jí neslyší zníti dříve, než zemdlením nabude síly!<br>
Však kdo ji uslyší jednou, zvoní mu příšerně ze sladkého přiznání lásky,<br>
zvoní mu z tlukotu srdce k srdci přižehnutého.</p>
<p>Z šepotu rozestýlaného lože, z tepotu křídel zpívajícího jara,<br>
ze chvění obracených listů v knize básníka milovaného<br>
i z lepkavého šelestu malířského štětce na plátně, kde září kouřící do tmy<br>
umění maluje prchavé symboly Snění tahy fosforovými.</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/az-sednes-za-muj-stul" class="page-previous" title="Přejít na předchozí stranu">‹ AŽ SEDNEŠ ZA MŮJ STŮL …</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/me-dedictvi-polozil-s" class="page-next" title="Přejít na další stranu">MÉ DĚDICTVÍ POLOŽIL’S … ›</a>
          </div>

  </div>

