---
title: VLADAŘI SNŮ
date: 2010-01-26 09:47
layout: book
comments: false

---

      <p>Bratři, jichž duše klekají vedle duše mé v svatyních Nepoznaného,<br>
jichž ruce dotýkají se mých, když sypeme zrní na uhlí společné kadidelnice,<br>
sblížení opojením společné modlitby, již přijali jsme dědictvím věků,<br>
zesláblí zádumčivým vlněním hudby, jíž chvěje se rytmicky vesmír!</p>
<p>Vy, kteří se vracíte unaveni hrubými výdechy pozemských barev,<br>
přemožení vladaři snů, inspirovaných hvězdami neznámých konstelací,<br>
vy, jimž krev vyhrnula se z pórů ve výších ztrnulých odvěkým mrazem<br>
a dýchání křečovitě se trhalo v ovzduší, jímž proletují světy!</p>
<p>Vy, kteří jste zsinali omámeni tajemstvím hlubin, kde hasne pozemské světlo<br>
v kouři plynů stoupajících z utajených plamenů věčného tlení,<br>
a zavěsili žití na pavučinná vlákna myšlenky, v pýše snovaná v lano!<br>
Poutníci, kteří jste navštívili svatá místa, zpustošená šílenstvím davu!</p>
<p>Milenci pološera, jichž zraky uvykly rozeznávati formy v zatmění noci!<br>
Vy, jimž zhořkl výpar krve, jenž sládne otřásanými vlnami vášní,<br>
nemocní touhou po objetí duší, jemném jak slití paprsků sbratřených barev!<br>
Hymnus jste zapěli čistému Políbení!</p>
<p>Hymnus koupaný v reminiscencích kantát k oslavě Nanebevzetí,<br>
ozářený oblak pršících tónů, jež rozplývají se jak sladkost na rtech milujících,<br>
sníh hvězdných krystalů vůní, padající v rozžhavené záření bílých linií těla,<br>
jež vítězné od věků pálí dědičným sněním i vaši zachmuřenou žádost.</p>
<p>Duše vaše v lítostech pohlcovaly narážení neviditelných barev prodlouženého vidma,<br>
trpěly ovíváním neznámého chvění a smutkem neslyšeného pláče;<br>
(iluse věcí — řekli o vás — hořela chorobným klamem ve vaší duši,<br>
když smutek nekonečna dýchal ve vašich odmítnutých a zapřených rytmech).</p>
<p>Životem prošli jste od plamenů extasí, tepajících jak nedočkavé třesení křídel,<br>
až k omdlévání duše, když pruty bolesti, žhavé, v páteři provlékají se míchou;<br>
úzkostné tajemství, tušení Porozumění, zpracovalo vaše rysy<br>
jak idea mistra přehnětenou formu. Leč vašich očí slzy nejpalčivější</p>
<p>uschly ve vaší duši, by nikdo jich neviděl chvíti se v řasách, ó Hrdí!<br>
Trpěli jste šílenstvím groteskních vidin, mozek raněný úpalem krásy,<br>
trpěli jste bolestí slova, zesláblého a znechuceného nánosem let,<br>
osleplého jak zrcadla kovu ve vzduchu, do něhož dýchalo množství.</p>
<p>Ó Vítězi, jichž kořist je posměchem nepřátel a lítostí přátel!<br>
Hynete samotou v ostrovech, o nichž vám zpívaly hvězdy a oceány!<br>
Ponížení vracíte se v domov, k vápenným břehům, jež houbovité se drolí<br>
nárazem věků, a kde nikdo nevěří vašim zvěstem, syceným vůněmi jihu.</p>
<p>Bledost vašeho procitnutí jak znamení tajného hříchu vás zradí.<br>
Úsměvy druhů zhasnou před vašimi zraky, v nichž třese se záření dálek!<br>
(Neboť milovaná je tvář, v níž krev prosvítá růžemi usmívání,<br>
ale hrozná, zjeví-li se z druhého žití nocím milenky v halucinacích.)</p>
<p>Truchlí půjdete zahradami žertujícími s jarem, květy, jichž vůně vám cizí,<br>
vaše setba tropických nádher vyrůstá bílá a mroucí v severních sluncích,<br>
studené je dotknutí ženy, lhostejné potkání duší, únava mlhami padá,<br>
a vaše pýcha, jež povrhla nasycením země, zvrhne se výsměšně v touhu<br>
ssáti vyschlou šťávu těch hroznů,<br>
které jste rozmačkali, bezděčně, ve svém královském snění.</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/tajemstvi-bolesti" class="page-previous" title="Přejít na předchozí stranu">‹ TAJEMSTVÍ BOLESTI</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/predtuchy" class="page-next" title="Přejít na další stranu">PŘEDTUCHY ›</a>
          </div>

  </div>

