---
title: VTEŘINY
date: 2010-01-26 09:42
layout: book
comments: false

---

      <p>Dýcháním věčna rosíš mé květy, když nivy mé prahnou,<br>
jím lípy mé před okny chví se a větvemi zvoní mi sklem;<br>
z moří poslední noci mé noci jak oblaky táhnou<br>
tížené třesením zarudlých hvězd a odvěkým snem.</p>
<p>Mé vteřiny tekou jak prosakující krůpěje teskného mžení<br>
dnem mým do zahrad mé smrti, kde zraje soumraků mystický plod;<br>
šelestí v duši mé jak raněných listů krvavé chvění,<br>
bodají zraky mé reflexem západu v hladinách neznámých vod.</p>
<p>Pozdravy s druhého břehu, jež ke mně vichry tajemství svály!<br>
Sesutí budoucích cest, jež křísí v hlubinách zalkání ech!<br>
Údery tichem jak znamení v noci, když přítel umírá v dáli<br>
a jeho přízrak se plíží v sírově ozářených snech!</p>
<p>Škytnutí nárazu, z nějž prýští zvonění hudebních strojů<br>
nesené rytmy staletých hodin, duše minulých let,<br>
šuměním dávného smíchu, hořkostí ulehlých bojů,<br>
touhou, jež k zapadlým blankytům lásku mou obrací zpět!</p>
<p>Kapky těkavých olejů, z nichž neznámá vůně se vzdýmá!<br>
Otravná dechnutí plynů, stlačených v jiskřící sníh!<br>
Mžiknutí blesku, v němž duše smutek zajetí vnímá<br>
a nervosně chví se před skanutím vlhkosti z klenutí žalářů svých!</p>
<p>Jiskry vychladlé dřív, než mohly v mém krbu se vznítit<br>
a růžové teplo s lichotným výkřikem dechnouti v samotu mou,<br>
vteřiny příští, jež v šero mých nocí budete dráždivě svítit,<br>
v snění mém bolestně doutnat a za dne mi hasnouti tmou!</p>
<p>A nejbodavější ze všech, vteřiny, kterých jsem neměl a čekal,<br>
a nejsladší ze všech, vteřiny, které mít budu a nebudu znát:<br>
vteřiny rozkoše, jichž jsem se v umdlené snivosti lekal,<br>
vteřiny hrůzy, jichž jsem se bolestí odvykl bát.</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/tys-nesla" class="page-previous" title="Přejít na předchozí stranu">‹ TYS NEŠLA</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/proc-odvracis-se-o-slaba" class="page-next" title="Přejít na další stranu">PROČ ODVRACÍŠ SE, Ó SLABÁ? ›</a>
          </div>

  </div>

