---
title: ŽALM KE CTI NEJVYŠŠÍHO JMÉNA
date: 2010-01-26 09:45
layout: book
comments: false

---

      <p>Tvé jméno jsem vzkřikl, když sen obrazy těžkými v duši mi leh’<br>
jak teskná legenda chrámových oken v uhaslých modliteb dýmy.<br>
Výkřik můj zachvěl se z podsvětí duše, kde otců mých vlní se dech,<br>
a světla tisíce neznámých oltářů proletla soumraky mými.</p>
<p>Zpívám: Ó Bezejmenný všech mrtvých i budoucích jmen,<br>
jenž carstvími duší staletí šel jsi, zamyšlený a němý,<br>
vzpřímen na hladinách moří, ve zracích nerozsvícený den<br>
a v pohybu ruky určení uzrávajících sluncí a zemí!</p>
<p>Z království smrti, jimiž jsi prošel, tvůj obraz kráčí mi blíž,<br>
tmou zavřených očí mi svítí, svou nocí v duši mne pálí,<br>
mé mrazení slávou ti hoří. V snění mé naděje sníš<br>
a v srdci mém nesčíslnými echy tvé kroky odrážejí se z dálí.</p>
<p>Zřím tě, jak s úsměvem, jenž v zástupech bytostí omdlením slasti se chví,<br>
svou pochodeň zdviháš, z níž kape bolest v krůpějích hořící smůly<br>
do křečí tuhnoucích těl! Ty, jehož stínem je tajemství<br>
a jehož síla má jedinou bázeň: svou vlastní mystickou vůli!</p>
<p>Prameny zpívajících hlubin se prýští pod tíží tvých stop<br>
a jako studnice nafty se nítí šlehnutím pohledu tvého!<br>
Žíravá myšlenka tvá rozpouští světy! Jak vápenný hrob<br>
stravuje mrtvé všech bojišť. V ní dříme nádhera nepoznaného.</p>
<p>Tvé jméno je probuzením všech hudeb, všech větrů, moří a tich,<br>
všech písní, hlasů a smíchů, umdlení, bouří a štkání,<br>
všech narození jediný výkřik, všech agonií jediný vzdych,<br>
vířivé hučení míz, přelití rozkoše v nervech a vzplání,</p>
<p>šum všech polibků, náraz všech krví do tisíců žil,<br>
třesení všech hrůz a napjatých křídel všech smějící se tepot,<br>
pochody davů, orchestr času s tóny zpívajících chvil<br>
a jeho odraz, jenž od hranic světů se vrací jak stlumený šepot,</p>
<p>jímž mrtvé hovoří po staletích! Heslo mystických vět,<br>
jež uspává duše v jediný sen a vzbouzí do nesčetných jiter,<br>
z nocí, světel, vůní a jedů v nich křísí zázračný květ,<br>
jenž dýchá vlněním slov a uvadá setměním niter!</p>
<p>Má duše se třese v páře tvého dechu, můj hlas<br>
je přehlušen tvým mlčením, můj úsměv je zrakem tvým spálen,<br>
a na cestách smrti kráčím ti vstříc, kde zářící jas,<br>
jenž prýští z tvých kroků, nocí mou svítí, teskliv a vzdálen.</p>
  <div id="book-navigation-50" class="book-navigation">

        <div class="page-links clear-block">
              <a href="/knihy/otokar-brezina/svitani-na-zapade/slysim-v-dusi" class="page-previous" title="Přejít na předchozí stranu">‹ SLYŠÍM V DUŠI:</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade" class="page-up" title="Přejít na nadřazenou stránku">o úroveň výš</a>
                    <a href="/knihy/otokar-brezina/svitani-na-zapade/tajemstvi-bolesti" class="page-next" title="Přejít na další stranu">TAJEMSTVÍ BOLESTI ›</a>
          </div>

  </div>

